---
title: Pivotal Cloud Foundry Ops Manager v1.8 Release Notes
owner: Ops Manager
---

## <a id='how-to-upgrade'></a> How to Upgrade ##

The procedure for upgrading to Pivotal Cloud Foundry Ops Manager v1.8 is documented in the [Upgrading Pivotal Cloud Foundry](../../customizing/upgrading-pcf.html) topic.

## <a id='major-features'></a> New Features in Ops Manager v1.8.0

### <a id='bosh'></a> BOSH Updates

Ops Manager now generates BOSH 2.0 manifests and has enabled BOSH link support. For more information on using BOSH links see the [BOSH documentation](https://bosh.io/docs/links.html). 

### <a id='service-networks'></a> Support for Service Networks

Ops Manager allows Operators to create a Service Network. Service Networks are used to dynamically provision VMs for on-demand services. For an example of how to enable a Service Network in Ops Manager, see [Configuring Ops Manager Director on AWS](../../customizing/cloudform-om-config.html#network).

### <a id='pivnet_token'></a> Pivotal Network Token

Operators can choose to enter their Pivotal Network token into Ops Manager and download product tile updates from within the Ops Manager UI. See the [Using Pivotal Network API to Upgrade Products](../../customizing/add-delete.html#pivnet-api) for more information.

### <a id='new_endpoints'></a> New Ops Manager API Endpoints and Redesigned API Documentation

This release also introduces many new API endpoints, including:

   * Configuring product tiles
   * Configuring Ops Manager authentication
   * Downloading product updates from PivNet
   * Viewing logs and credentials
   * Errands 
   * Resources Assigned to a Job

For more information on API endpoints, see the Ops Manager API documentation, which has been updated to appear in a new format. 

Visit http<span>s</span>://YOUR-OPSMAN/docs to view the Ops Manager API documentation included with your Ops Manager installation.

### <a id='settings'></a> Ops Manager Settings Page

Ops Manager has a consolidated Settings page which includes the following fields:

   * Decryption Passphrase 
   * Authentication Method 
   * External API Access
   * Proxy Settings
   * Export Installation Settings
   * Advanced

See the [Understanding the Ops Manager Interface](../../customizing/pcf-interface.html) topic for more information.

### <a id='resource_config'></a> Custom Instance Counts in Ops Manager Director Resource Config

Operators can now enter custom values in the Instances column of the Resource Config page in Ops Manager Director. For example, see [Configuring Ops Manager Director on AWS](../../customizing/cloudform-om-config.html#resource-config).

### <a id='vsphere'></a> vSphere Admin Default Password Requirement

Customers using vSphere are now required to enter a default admin password in their OVA or TAR template. Failure to do so will result in the VM to not boot up. Additional information can be found at [Installing Pivotal Cloud Foundry on vSphere](../../customizing/vsphere.html).

### <a id='dualhomebosh'></a> Dual-Home BOSH Director

Customers can now dual-home their BOSH Director starting with new deployments of v1.8.0. This release includes a new Bosh Networking release with the correct RPFilter necessary for dual-homing scenarios.

Additionally, customers using the dual-homed feature in OpsManager v1.6 can now import their installations into v1.8.0 and continue to use the dual-homed BOSH Director. 

For more information on how to use the dual-homing feature, please refer to the [How to use a dual-homed Director with Ops Manager](https://discuss.zendesk.com/hc/en-us/articles/222027247) KB article.

### <a id='hostnameforboshdirector'></a> Hostname for BOSH Director

Operators can now specify a custom hostname for the BOSH Director in the Director Config page. For example, see [Configuring Ops Manager Director on AWS](../../customizing/cloudform-om-config.html#director-config).

### <a id='loadblancer'></a>Load Balancer for Ops Manager Job

Introduced a new feature that lets operators add a Load Balancer to the Ops Manager Director Job

For more information on how to set up a load balancer in front of the Director, please refer to the [How to set up a load balancer in front of Ops Manager Director](https://discuss.pivotal.io/hc/en-us/articles/225420588) KB article.

### <a id='boshcompilerflag'></a> BOSH Manifest Flag to Remove Compilers

This release adds a flag to the BOSH manifest that removes compilers.

### <a id='boshretries'></a> BOSH Director Retries Disabled by Default

In this release BOSH Director retries are turned off by default. You can enable BOSH Director retries in the Director Config page of Ops Manager Director. For example, see [Configuring Ops Manager Director on AWS](../../customizing/cloudform-om-config.html#director-config).

### <a id='postdeployscripts'></a> Support for Post Deployment Scripts

Ops Manager now supports configuring the appropriate settings in the Director to run post deploy scripts. This setting can be toggled on the Director Config form. For example, see [Configuring Ops Manager Director on AWS](../../customizing/cloudform-om-config.html#director-config).


## <a id='bug-fixes'></a> Bug Fixes

* Fixed an issue with rollbacks in case of database import failures during upgrades
* Fixed an issue where Metrics IP address was not getting propagated into the Bosh manifest
* Fixed an issue where errands were failing to run on a deploy
* Fixed an issue where Static IP assignments were not being cleared correctly
* Fixed an issue where re-saving the Networks and AZs form on product tiles was throwing a misleading error
* Fixed API endpoint to log out all active sessions
* Fixed an issue that allowed for multiple AZs to have the same name 

