---
title: Pivotal Cloud Foundry&reg; Ops Manager v1.7 Release Notes
owner: Ops Manager
---

## <a id='how-to-upgrade'></a> How to Upgrade ##
Upgrading Pivotal Cloud Foundry is documented [here](http://docs.pivotal.io/pivotalcf/customizing/upgrading-pcf.html).

### 1.7.2 Patch

Fixes a bug that caused initial UAA [User Authorization and Authentication] setup to stall in upgrade cases
Upgraded stemcell version to 3232.3

### 1.7.1 Patch

Patches USN-2959-1, USN-2957-1, USN-2949-1, USN-2943-1, and USN-2935-2.
Additional info can be found at https://pivotal.io/security.



## <a id='major-features'></a> Version 1.7.0 New Features

### <a id='security'></a> Security

All Ops Manager assets are now being protected by UAA [User Authorization and Authentication](http://docs.pivotal.io/pivotalcf/concepts/architecture/uaa.html). Customers upgrading from 1.6 will have their Admin user migrated into PCF UAA while retaining their existing password as the [passphrase](http://docs.pivotal.io/pivotalcf/customizing/upgrading-pcf.html#keep). Ops Manager 1.7 has support for multiple user accounts when using internal as well as remote [SAML](http://docs.pivotal.io/pivotalcf/opsguide/auth-sso.html) identity management. In order to avoid consistency issues, OpsManager restricts the number of concurrent users in the system by allowing only one user to log in at a time.

Users now have the capability to add custom certificates to all the VMs managed in a BOSH deployment. Please see below for more information about custom certificates:

* [Amazon Web Services](http://docs.pivotal.io/pivotalcf/customizing/cloudform-om-config.html#security)
* [OpenStack](http://docs.pivotal.io/pivotalcf/customizing/openstack-om-config.html#security)
* [vSphere](http://docs.pivotal.io/pivotalcf/customizing/vsphere-config.html#security-config)
* [vCloud](http://docs.pivotal.io/pivotalcf/customizing/vchs-vcloud-config.html#security-config)

Operators can now see a detailed change log that describes all actions performed by all authenticated users.

Several improvements to stemcell management have been added to Ops Manager 1.7.0. Operators can only upgrade stemcells (i.e. stemcells cannot be downgraded). For AWS installations, only the Light HVM versions can be used. Additionally, tiles installed in Ops Manager will not need to be manually upgraded for security patches to a minor version of the stemcell.

### <a id='network-az'></a> Networks and Availability

For Ops Manager 1.7.0, networks are now a logical collection of subnets. Users can create more than one network, and add one or many subnets to those networks. For Availability Zones (AZs), users can add more than one AZ per subnet. They can also assign products to both networks and AZs. Jobs in a deployment will be balanced across subnets and Availability Zones. Please see the following topics for more information on configuring subnets and AZs.

* [Amazon Web Services](http://docs.pivotal.io/pivotalcf/customizing/cloudform-om-config.html#az)
* [OpenStack](http://docs.pivotal.io/pivotalcf/customizing/openstack-om-config.html#az-config)
* [vSphere](http://docs.pivotal.io/pivotalcf/customizing/vsphere-config.html#create-az)
* [vCloud](http://docs.pivotal.io/pivotalcf//customizing/vchs-vcloud-config.html)

### <a id='resource-config'></a> Resource Configuration

There is a new workflow for configuring resources in Ops Manager. This workflow includes a standard way of configuring instance sizes across all infrastructures. Operators also have the ability to opt in or opt out of default sizes set by Pivotal [product tiles](http://docs.pivotal.io/partners/product-template-reference.html). For more information, please see:

* [Amazon Web Services](http://docs.pivotal.io/pivotalcf/customizing/cloudform-om-config.html#resource-config).
* [OpenStack](http://docs.pivotal.io/pivotalcf/customizing/openstack-om-config.html#resource-config)
* [vSphere](http://docs.pivotal.io/pivotalcf/customizing/vsphere-config.html#resource-config)

### <a id='api-endpoints'></a> API Endpoints

As of Ops Manager 1.7, all API endpoints are protected by PCF UAA [User Authentication and Authorization](http://docs.pivotal.io/pivotalcf/concepts/architecture/uaa.html).

Ops Manager has these new endpoints:

* List installed products
* List VM credentials by product
* Unlock Ops Manager with passphrase
* CRUD disk types and vm types
* List static IPs
* Manifest for staged products
* Manifest for deployed products
* Token expiration time can be configured
* Diagnostic information to attach to support tickets
* Get a BOSH manifest for bosh-init deployment

### <a id='aws'></a> AWS
For AWS installations, EBS (Elastic Blob Store) is not supported on all instances. For more information on EBS encryption, please see [Configuring Amazon EBS Encryption](http://docs.pivotal.io/pivotalcf/customizing/cloudform-om-ebs-config.html). Amazon Machine Images (AMIs) can now be built in Frankfurt and Seoul. Additionally, AWS S3 version 4 is now supported.

Several changes have been made for CloudFormation on AWS. The script now considers RDS (Relational Database Service) as optional and supports an HA NAT instance and multiple AZs. For more information, please see the
[Deploying the CloudFormation Template for PCF on AWS](http://docs.pivotal.io/pivotalcf/customizing/cloudform-template.html) topic.

Security groups that are assigned to EC2 instances are now referenced by ID. Please see below for more information:

* [Amazon Web Services](http://docs.pivotal.io/pivotalcf/customizing/cloudform-om-config.html#aws-config)
* [OpenStack](http://docs.pivotal.io/pivotalcf/customizing/openstack-om-config.html#openstack-config)

### <a id='vsphere'></a> vSphere

* Datastores can be split by Ephemeral and Persistent disk types
* Unlike other IaaS providers, subnets on vSphere can span availability zones
* vCenter IP field now supports IP or host

### <a id='openstack'></a> OpenStack
For OpenStack Deployments, [Ops Manager 1.7.0](http://docs.pivotal.io/pivotalcf/customizing/openstack.html) now supports connection options and Keystone version 3.

### <a id='tile-authors'></a> Tile Authors

Multiple improvements have been included in Ops Manager 1.7.0 for [Tile Authors](http://docs.pivotal.io/pivotalcf/partners/index.html). PCF product tiles now must be upgraded using ECMA (JavaScript) [migration](http://docs.pivotal.io/pivotalcf/partners/migrations.html) syntax. Imports into 1.7 are limited to ECMA script migrations only.

For forms, invalid user input can be rejected using regular expressions and form fields support placeholder text. Markdown can be used above a form.

Several changes to how products and jobs are configured are included in Ops Manager 1.7.0. A job's instance count can be toggled to 0 based on a selector value. The [product template](http://docs.pivotal.io/pivotalcf/partners/product-template-reference.html) must include <code>minimum\_version\_for\_upgrade</code>. Additionally, products with pre 1.7 metadata are limited to a single subnet. Users must specify whether their product gets persistent disk or not: the field is required. `First-network-deprecated` has been removed as a key / value pair. Tile authors can limit a product’s jobs to a single AZ. Additionally, Accessor information is available for trusted certificates.

## <a id='improvements'></a> Operational Improvements

In addition to the major features, there are a number of smaller improvements that will enhance the operator's experience with installing and maintaining Pivotal Cloud Foundry.

* Operators can select and deselect errands before applying changes
* Support for compiled releases
* Users can disable ICMP checks (default off on AWS)
* Checkbox exists to run `bosh deploy --recreate` (recreates all VMs)
* Support for monitoring and Pager Duty &trade; BOSH plugins
* UAAC gem added to Ops Manager VM
* Automatic cleanup of `/tmp` directory for 24-hour-old files

## <a id='bug-fixes'></a> Bug Fixes

* Some products could not be uploaded via API
* Wrong tile version shown in error messages
* Passwords aggressively scrubbed from logs resulting in non-secret obfuscation
* Job logs cleaned up by file cleaner
* Hints in selectors fixed
* Users had to specify resource pools on vSphere
* Installations were slower by writing logs to database
* When DNS is unreachable 500 error
* Importing installation errors with resource pools result in 500 error
* Partial selection of errands results in all errands checked
* Powering off VM can result in empty installation.yml under certain conditions
* Many API docs errata fixes
* Broken EULA links
* Selector checkboxes were not persisting
* Exports with empty releases causes 500 error
