---
title: BOSH Backup and Restore Release Notes
owner: Release Engineering
---

This topic includes release notes for the versions of BOSH Backup and Restore (BBR) used with Pivotal Cloud Foundry (PCF) versions 1.12.x.

For more information about using BBR with PCF, see the [Backing Up Pivotal Cloud Foundry with BBR](../customizing/backup-restore/backup-pcf-bbr.html) and [Restoring Pivotal Cloud Foundry from Backup with BBR](../customizing/backup-restore/restore-pcf-bbr.html) topics.

## <a id='releases'></a> Releases

### <a id='1.0-beta4'></a> 1.0

**Release Date**: August 7, 2017

#### Compatibility

Compatible with PCF v1.12

#### Features

* BBR v1.0 enables backup and restore of BOSH Deployments and BOSH Directors. 
BBR uses backup and restore functionality that is packaged in the BOSH Deployment or Director. 
This functionality is present in PCF1.11+. The steps for backing up PCF1.12 are 
[here](https://docs.pivotal.io/pivotalcf/1-12/customizing/backup-restore/backup-pcf-bbr.html), 
and steps for restoring are [here](https://docs.pivotal.io/pivotalcf/1-12/customizing/backup-restore/restore-pcf-bbr.html).

#### Bug Fixes

None

#### Known Issues

None
