---
title: BOSH Backup and Restore Release Notes
owner: Release Engineering
---

This topic includes release notes for the versions of BOSH Backup and Restore (BBR) used with Pivotal Cloud Foundry (PCF) versions 2.0.x.

<!----
For more information about using BBR with PCF, see the [Backing Up Pivotal Cloud Foundry with BBR](https://docs.pivotal.io/pivotalcf/2-0/customizing/backup-restore/backup-pcf-bbr.html) and [Restoring Pivotal Cloud Foundry from Backup with BBR](https://docs.pivotal.io/pivotalcf/2-0/customizing/backup-restore/restore-pcf-bbr.html) topics.---->

## <a id='releases'></a> Releases

