---
title: BOSH Backup and Restore Release Notes
owner: Release Engineering
---

This topic includes release notes for the versions of BOSH Backup and Restore (BBR) used with Pivotal Cloud Foundry (PCF) v1.12.x.

For more information about using BBR with PCF, see [Backing Up Pivotal Cloud Foundry with BBR](../customizing/backup-restore/backup-pcf-bbr.html)
and [Restoring Pivotal Cloud Foundry from Backup with BBR](../customizing/backup-restore/restore-pcf-bbr.html).

## <a id='releases'></a> Releases

### <a id='1.1.2'></a> v1.1.2

**Release Date**: October 12, 2017

#### Features
* Upgrade to golang 1.9

#### Bug Fixes

None

#### Known Issues

None

### <a id='1.1.1'></a> v1.1.1

**Release Date**: October 2, 2017

#### Features
* Adds improved logging

#### Bug Fixes

None

#### Known Issues

None

### <a id='1.1.0'></a> v1.1.0

**Release Date**: September 26, 2017

#### Features
* Adds "restore-cleanup", which can be run after a failed restore to remove artifacts from, and unlock, the deployments being restored.
* Adds support for BOSH Deployments and Directors to lock deployments during the restore process, and to declare the order that locking is done.

#### Bug Fixes

None

#### Known Issues

None

### <a id='1.0'></a> v1.0

**Release Date**: August 7, 2017

#### Compatibility

Compatible with PCF v1.12

In PCF v1.12, Ops Manager export/import no longer includes releases.
Customers must back up and restore their BOSH Director using BBR to ensure releases are backed up and restored.
Manual backup and restore steps are deprecated in PCF v1.12

#### Features

BBR v1.0 enables backup and restore of BOSH Deployments and BOSH Directors.
BBR uses backup and restore functionality that is packaged in the BOSH Deployment or Director.
This functionality is present in PCF v1.11 and later. 

#### Bug Fixes

None

#### Known Issues

None

