---
title: BOSH Backup and Restore Release Notes
owner: Release Engineering
---

<%= vars.bbr_rn_intro %>

## <a id='releases'></a> Releases

### <a id='1.0-beta4'></a> 1.0 Beta 4

**Release Date**: June 13, 2017

<%= vars.bbr_rn_compatibility %>

#### Features

* Support for killing backups via CTRL-C and for a new backup-cleanup to clean up after a killed backup

#### Bug Fixes

None

#### Known Issues

None
