---
title: PCF v2.8 Breaking Changes
owner: Release Engineering
---

This topic describes the breaking changes you need to be aware of when upgrading to Pivotal Cloud Foundry (PCF) v2.8. For more information about important preparation steps you must follow before beginning an upgrade, see [Upgrading Pivotal Cloud Foundry](https://docs.pivotal.io/pivotalcf/2-8/customizing/upgrading-pcf.html).


## <a id='opsman'></a> PCF Ops Manager

See the following PCF Ops Manager breaking changes:

### <a id='credhub-generated-field'></a> Reset Manually Set Certificates in CredHub Before Upgrade

Before you upgrade to Ops Manager v2.8, you must reset any manually set certificates in CredHub. This prevents the rotation of manually set certificates during a bulk certificate rotation in Ops Manager v2.8. 

CredHub v2.5 adds a field that tracks whether a certificate has been manually set or generated. However, existing certificates are not migrated to use this `generated` field. After upgrade to Ops Manager v2.7, existing CredHub certificates are assigned a `null` value for the `generated` field.

When instructed to rotate certificates, Ops Manager v2.8 does a bulk rotation of all certificates where `generated` is either `true` or `null`. 

To prevent the bulk rotation of a manually set certificate in CredHub, you must manually reset the certificate. This updates the `generated` field to `false`, rather than `null`. 

To reset a certificate in CredHub, see [Reviewing and Resetting Manually Set Certificates in CredHub](https://docs.pivotal.io/platform/2-8/security/pcf-infrastructure/manual-credhub-certificate.html).

## <a id='pas'></a> Pivotal Application Service (PAS)

See the following PAS breaking changes:



## <a id='ist'></a> PCF Isolation Segment

See the following PCF Isolation Segment breaking changes:



## <a id='pasw'></a> PAS for Windows

See the following PAS for Windows breaking changes:
