---
title: PCF v2.0 Breaking Changes
owner: Release Engineering
---

<!----
This topic describes the breaking changes you need to be aware of when upgrading to Pivotal Cloud Foundry (PCF) v2.0. For more information about important preparation steps you must follow before beginning an upgrade, see [Upgrading Pivotal Cloud Foundry](../customizing/upgrading-pcf.html).---->

## <a id='pas'></a> Pivotal Application Service

### <a id='internal-creds'></a> Internal Pivotal Application Service Credentials

Several internal credentials that PAS uses for inter-component communication are now generated and stored in BOSH CredHub instead of Ops Manager. 
For a list of the credentials migrated to BOSH CredHub, see the _Migration of Internal Credentials to BOSH CredHub_ section of the [Pivotal Application Service v2.0 Release Notes](runtime-rn.html#credhub) topic.

If you want to access these credentials, you must use the CredHub CLI or the Ops Manager API instead of accessing the **Credentials** tab of the Elastic Runtime tile.

## <a id='ops-man'></a> Ops Manager

### <a id='bosh-cli'></a>BOSH CLI Renamed

Similar to previous Ops Manager versions, the Ops Manager VM includes both versions of the BOSH CLI.
In Ops Manager v2.0.0, both versions of the BOSH CLI have been renamed.

If you used BOSH CLI v2 in earlier versions of Ops Manager, you ran commands using `bosh2`.
In Ops Manager v2.0.0, run the same commands using `bosh`.
For example, see the following table to compare the changes to the `bosh vms` command:

| **BOSH CLI Version** | **PCF v1.12** | **PCF v2.0** |
|------------------|---------------|--------------|
| **BOSH CLI v1** | `bosh vms` | `bosh-old vms` |
| **BOSH CLI v2** | `bosh2 -e MY-ENV vms` | `bosh -e MY-ENV vms`

Many BOSH CLI v1 commands are incompatible with the BOSH Director.
Pivotal recommends using BOSH CLI v2 commands for compatibility with future versions of PCF.