---
title: PCF v2.1 Breaking Changes
owner: Release Engineering
---

This topic describes the breaking changes you need to be aware of when upgrading to Pivotal Cloud Foundry (PCF) v2.1. For more information about important preparation steps you must follow before beginning an upgrade, see [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/2-1/customizing/upgrading-pcf.html).

## <a id='pas'></a> Pivotal Application Service (PAS)

### <a id='automated-backup'></a> Removal of Automated Backup Configuration for Internal MySQL

Starting in PCF 2.1, the PAS tile no longer includes the **Automated Backups Configuration** field. This option has been removed because it is not possible to restore the internal MySQL database from a full backup without degrading the Galera MySQL cluster. 

To back up and restore the internal MySQL database, you must use BOSH Backup and Restore (BBR). See [Backing Up and Restoring Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/2-0/customizing/backup-restore/index.html) for information on using BBR. 

BBR provides the following advantages over the **Automated Backup Configuration**: 

* BBR locks the necessary APIs as part of the backup procedure. This release-level backup ensures correctness. See [PAS Component Behavior During Backup](https://docs.pivotal.io/pivotalcf/2-1/customizing/backup-restore/component-backups.html). 
* BBR backs up the MySQL cluster and the blobstore together so that they are consistent.  
* BBR eliminates the need to manually remove the silk database table after restore. 

## <a id='opsman'></a> Ops Manager

There are no known breaking changes in Ops Manager v2.1 at this time.


## <a id='ist'></a> PCF Isolation Segment

There are no known breaking changes in PCF Isolation Segment v2.1 at this time.