---
title: PCF v2.3 Breaking Changes
owner: Release Engineering
---

This topic describes the breaking changes you need to be aware of when upgrading to Pivotal Cloud Foundry (PCF) v2.3. For more information about important preparation steps you must follow before beginning an upgrade, see [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/2-3/customizing/upgrading-pcf.html).


## <a id='pas'></a> Pivotal Application Service (PAS)

### <a id="readonly-volume-mounts"></a> Read-Only Volume Mounts

A fix from NFS v1.3.1 has been backported to NFS v1.2.1 to resolve an incompatibility between the NFS volume release and Diego's container runtime, Garden. Because the fix is in the NFS Service Broker, and service bindings created by old versions of this broker are not migrated during an upgrade, existing NFS service bindings that specify read-only mounts still exhibit the incompatibility. As a result, apps with NFS services bound as read-only crash after upgrading from NFS v1.2.0 or earlier.

To fix this condition, you should unbind the service, rebind it, and restage the app.

Alternately, to avoid app downtime, you can temporarily rebind your apps as read/write before upgrading and switch to read-only afterward.

### <a id='mutual-tls-id'></a> Mutual TLS App Identity Verification Disables CF SSH and TCP Routing

When you enable the **Router and applications use mutual TLS to verify each other's identity** option in PAS v2.3, app containers accept incoming communication only from the Gorouter. This disables `cf ssh` and TCP routing.

### <a id="backup-restore-name-change"></a> backup-prepare Instance Group Has Been Renamed to backup_restore

The name of the `backup-prepare` instance group has been changed to `backup_restore`. This may break some external tools that were setting the properties for this instance group through the Ops Manager API. See the article [PAS backup-prepare job renamed to backup-restore may cause automation failures](https://pivotal.lightning.force.com/lightning/r/KnowledgeArticle__kav/ka00e0000009loEAAQ/view) in the Pivotal Knowledge Base for details.


## <a id='opsman'></a> PCF Operations Manager (Ops Manager)

###<a id='xenial'></a> Updates for Xenial Stemcell Support

Starting in PCF v2.3, Ops Manager uses a Xenial stemcell. Before you upgrade to PCF v2.3, you must do the following:

1. If you are using any of the BOSH add-ons for PCF, you must update the add-on and its configuration to include the Ubuntu Xenial 16.04 stemcell. The following add-on versions support the Xenial stemcell:
  + ClamAV Add-on for PCF v1.2.22 and later. For information on how to update this add-on, see [Updating ClamAV Add-on for PCF to Run with Xenial Stemcells](https://docs.pivotal.io/addon-antivirus/updating-for-xenial.html).
  + File Integrity Monitoring (FIM) Add-on for PCF v1.4.28 and later. For information on how to update this add-on, see [Updating FIM Add-on for PCF to Run with Xenial Stemcells](https://docs.pivotal.io/addon-fim/updating-for-xenial.html).
  + IPSec Add-on for PCF v1.9.9 and later. For information on how to update this add-on, see [Updating IPsec Add-on for PCF to Run with Xenial Stemcells](https://docs.pivotal.io/addon-ipsec/updating-for-xenial.html).<br/><br/>
You must apply these updates before you deploy any tiles that use the Xenial stemcell and before you upgrade to PCF v2.3.

1. Verify that any tiles that you have installed in your current foundation, either from Pivotal or a partner, are compatible with PCF v2.3. For more information on checking PCF and stemcell compatibility, see [Tile Compatibility](https://docs.pivotal.io/pivotalcf/2-3/upgrading/checklist.html#compatibility) in the Upgrade Checklist.<br/><br/>
  In some cases, you may need to download and import a new Xenial stemcell into Ops Manager v2.2 to upgrade your tiles. To download a Xenial stemcell from Pivotal Network, visit [Stemcells for PCF (Ubuntu Xenial)](https://network.pivotal.io/products/stemcells-ubuntu-xenial).

For information on which PCF tile releases now use Xenial, see [Tiles Using Xenial Stemcells in PCF](https://docs.pivotal.io/pivotalcf/2-3/stemcells/xenial-tiles.html).

### <a id='bosh-dns'></a> BOSH DNS Must be Enabled

In PCF v2.3, you cannot opt out of BOSH DNS. Upgrades to PCF v2.3 will fail if BOSH DNS is disabled in PCF v2.2.

<%= image_tag("bosh-dns-error.png") %>

### <a id="om-api-secrets"></a> Ops Manager API Does Not Return Secret Properties

For security, Ops Manager API responses from the `/api/v0/staged/director/properties` endpoint no longer include the following properties:

* GCS blobstore service key `service_account_key` (on Google Cloud Services)
* Health Monitor emailer SMTP password `smtp_password`
* Health Monitor PagerDuty service key `service_key`

This change may break any code that relies on retrieving these properties from a `GET /api/v0/staged/director/properties` call.

For more information, see the [Ops Manager API v2.3 documentation](https://docs.pivotal.io/pivotalcf/2-3/opsman-api/#fetching-director-iaas-and-security-properties-experimental).

## <a id='pasw'></a> Pivotal Application Service for Windows (PASW)

### <a id="clamav"></a> ClamAV Does Not Protect Windows VMs

If you are using the ClamAV Add-on for PCF, you must update your runtime config before upgrading to Pivotal Application Service for Windows (PASW) v2.3.

If you upgrade to PASW v2.3 without first updating the runtime config, then your Windows VMs will not be protected by ClamAV.

For more information about how to update your runtime config, see [Updating ClamAV Add-on for PCF to Run with PAS for Windows v2.3
](https://docs.pivotal.io/addon-antivirus/1-4/updating-for-pasw.html) in the ClamAV documentation.

## <a id='ist'></a> PCF Isolation Segment

There are no breaking changes for PCF Isolation Segment at this time.
