---
title: PCF v2.3 Breaking Changes
owner: Release Engineering
---

This topic describes the breaking changes you need to be aware of when upgrading to Pivotal Cloud Foundry (PCF) v2.3. For more information about important preparation steps you must follow before beginning an upgrade, see [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/2-3/customizing/upgrading-pcf.html).


## <a id='pas'></a> Pivotal Application Service (PAS)

### <a id="readonly-volume-mounts"></a> Read-only Volume Mounts

We back-ported a fix from NFS 1.3.1 to NFS 1.2.1 for an incompatibility between our NFS Volume release and Diego's container runtime, garden. But, because the fix was in the NFS Service Broker, and service bindings created by old versions of this broker won't get migrated during upgrade, existing NFS service bindings that specify read-only mounts will still exhibit the incompatibility.

As a result, customers upgrading from versions containing nfs-volume-release < 1.2.1 that have NFS services bound read-only to their applications will see that their applications crash after upgrade.

To fix this condition, customers should unbind the service, rebind it, and then restage the application.

Alternately, customers wishing to avoid application down time can temporarily re-bind their applications as read/write before upgrading, and then swtich to read-only afterwards.

### <a id='strict-route-integrity'></a> SSH and TCP Do Not Work with Strict Route Integrity Enabled

When you enable the **Strict route integrity** checkbox in PAS v2.3, Envoy only recognizes communications from the Gorouter. Therefore, SSH and TCP no longer work.


## <a id='opsman'></a> PCF Operations Manager (Ops Manager)

###<a id='bosh-dns'></a> BOSH DNS Must be Enabled

In PCF v2.3, you cannot opt out of BOSH DNS. Upgrades to PCF v2.3 will fail if BOSH DNS is disabled in PCF v2.2.

<%= image_tag("bosh-dns-error.png") %>


## <a id='ist'></a> PCF Isolation Segment

TODO
