---
title: PCF v2.2 Breaking Changes
owner: Release Engineering
---

This topic describes the breaking changes you need to be aware of when upgrading to Pivotal Cloud Foundry (PCF) v2.2. For more information about important preparation steps you must follow before beginning an upgrade, see [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/2-1/customizing/upgrading-pcf.html).

## <a id='pas'></a> Pivotal Application Service (PAS)

### <a id="timestamp"></a> Metrics Logs May Parse Timestamps Incorrectly

Diego timestamps in logs are now in RFC 3339 format. Because of this change, metrics logs may not anticipate the timestamp format change, resulting in unexpected behavior.

If you experience issues, disable the format change in your tile configuration. For more information about this PCF v2.2 feature, see [New Format for Diego Timestamps](#runtime-rn.html#timestamp) in _Pivotal Application Service v2.2 Release Notes_.

## <a id='opsman'></a> Ops Manager

There are no known breaking changes in Ops Manager v2.2 at this time.

## <a id='ist'></a> PCF Isolation Segment

### <a id="ist-timestamp"></a> Metrics Logs May Parse Timestamps Incorrectly

See breaking changes for [Pivotal Application Service (PAS)](#timestamp) for more information.
