---
title: Pivotal Platform v2.10 Breaking Changes
owner: Release Engineering
---

This topic describes the breaking changes you need to be aware of when upgrading to Pivotal Platform v2.10. For more information about important preparation steps you must follow before beginning an upgrade, see [Upgrading Pivotal Platform](https://docs.pivotal.io/pivotalcf/2-10/customizing/upgrading-pcf.html).


## <a id='opsman'></a> Pivotal Operations Manager

See the following Ops Manager breaking changes:



## <a id='pas'></a> Pivotal Application Service (PAS)

See the following PAS breaking changes:



## <a id='ist'></a> Pivotal Isolation Segment

See the following Pivotal Isolation Segment breaking changes:



## <a id='pasw'></a> PAS for Windows

See the following PAS for Windows breaking changes:
