---
title: PCF v2.5 Breaking Changes
owner: Release Engineering
---

This topic describes the breaking changes you need to be aware of when upgrading to
Pivotal Cloud Foundry (PCF) v2.5. For more information about important preparation steps
you must follow before beginning an upgrade, see [Upgrading Pivotal Cloud
Foundry](http://docs.pivotal.io/2-5/customizing/upgrading-pcf.html).




## <a id='pas'></a> Pivotal Application Service (PAS)

See the following PAS breaking changes:

### <a id='log-cache'></a> Removed Log Cache Property

PAS v2.4 removed the **Enable log-cache** checkbox from the **Advanced Features** section of the PAS tile. 

PAS v2.5 removes the underlying property, `enable_log_cache`. If you have any scripts that reference this property, they may fail now that it is removed. 

### <a id='deployment-name'></a> Removed Option to Override Deployment Name to CF 

PAS v2.4 introduced the use of `cf-GUID` as the value for the `deployment` in metrics. For more information, see [Uniquely Identify Metrics by Tile](https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes.html#metrics-prefix).

PAS v2.4 also included the option to override this value back to `cf`, which was used in previous versions. However, PAS v2.5 removes this override option. 

To upgrade successfully, the **Use "cf" as deployment name in emitted metrics instead of unique name** option in the **Advanced Features** pane of the PAS tile must be deselected.  

If you have scripts that rely on metrics with `cf` as the value for `deployment`, your scripts may break when upgrading to PAS v2.5. 

Additionally, if you have PCF Healthwatch installed and you changed the value of **Use “cf” as deployment name in emitted metrics instead of unique name** in PAS, you must run the **Push Monitoring Components** errand for Healthwatch to detect the change. 

### <a id="apps-man"></a> Removed Unused Apps Manager UAA Client and Property

PAS v2.5 removes an unused Apps Manager UAA client identified as `portal` and an unused refresh token property `uaa.apps_manager_refresh_token_lifetime`. 

If you have platform automation scripts, you may need to update them if they reference these properties. 

### <a id="ssl-apps-manager"></a> Apps Manager Verifies SSL

Starting in PAS v2.4.3, Apps Manager verifies SSL certificates for endpoints to which it proxies. For environments using self-signed certificates or certificates that are signed by a certificate authority that is not trusted by the BOSH Director, this may cause Apps Manager to show no content. 

If you are upgrading to PAS v2.5 from PAS v2.4.2 or earlier, do the following to prevent this issue: Add the certificate authority using the **Trusted Certificates** field in the **Security** pane of the BOSH Director tile.

## <a id='opsman'></a> PCF Ops Manager

See the following PCF Ops Manager breaking changes:

### <a id="rename"> Ops Manager Release Artifacts Renamed on Pivotal Network

Starting in Ops Manager v2.5.0, the filenames for Ops Manager release artifacts on Pivotal Network have been renamed. 

For example:

<table class="nice">
	<th>Release artifact naming patterns</th>
	<th>Details</th>
	<tr>
		<td>ops-manager-aws-2.5.0-build.123.pdf</td>
		<td>In <strong>v2.5.0</strong>, the filename includes a patch version designator after the major and minor versions and lists the IaaS type after the product name.</td>
	</tr>
	<tr>
		<td>OpsManager2.4-build.122onAWS.pdf</td>
		<td>In <strong>v2.4.x</strong>, the filepath does not include a patch version designator, and the lists the IaaS type after the build number.</td>
	</tr>
</table>

If you use automation scripts or other tools to consume release artifacts, you may need to update them to match the new filename scheme.

For more information, see [Ops Manager 2.5 changing the file naming scheme might break the pipeline jobs](https://community.pivotal.io/s/article/ops-manager-2-5-changing-the-file-naming-scheme-might-break-the-pipeline-jobs) in the Pivotal Knowledge Base.

## <a id='ist'></a> PCF Isolation Segment

See the following PCF Isolation Segment breaking changes:

None currently.
