---
title: PCF v2.1 Breaking Changes
owner: Release Engineering
---

This topic describes the breaking changes you need to be aware of when upgrading to Pivotal Cloud Foundry (PCF) v2.1. For more information about important preparation steps you must follow before beginning an upgrade, see [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/2-1/customizing/upgrading-pcf.html).

## <a id='pas'></a> Pivotal Application Service (PAS)

### <a id='automated-backup'></a> Removal of Automated Backup Configuration for Internal MySQL

Starting in PCF 2.1, the PAS tile no longer includes the **Automated Backups Configuration** field. This option has been removed because it is not possible to restore the internal MySQL database from a full backup without degrading the Galera MySQL cluster. 

To back up and restore the internal MySQL database, you must use BOSH Backup and Restore (BBR). See [Backing Up and Restoring Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/2-1/customizing/backup-restore/index.html) for information on using BBR. 

BBR provides the following advantages over the **Automated Backup Configuration**: 

* BBR locks the necessary APIs as part of the backup procedure. This release-level backup ensures correctness. See [PAS Component Behavior During Backup](https://docs.pivotal.io/pivotalcf/2-1/customizing/backup-restore/component-backups.html). 
* BBR backs up the MySQL cluster and the blobstore together so that they are consistent.  
* BBR eliminates the need to manually remove the silk database table after restore. 

###<a id='nsx'></a> Deploy Fails when NSX-T CNI Plugin Option Selected

Deploys of PAS 2.1.0 fail when configured to use the NSX-T CNI plugin. The output of the error is as follows:

```
Task 47 | 14:12:38 | Preparing deployment: Preparing deployment (00:00:01)
                   L Error: Colocated job 'cni' is already added to the instance group 'diego_cell'.
Task 47 | 14:12:39 | Error: Colocated job 'cni' is already added to the instance group 'diego_cell'.
```

Until a fix is available in a patch release of PAS 2.1, Pivotal recommends that you use PAS 2.0 if NSX-T CNI integration is a requirement.

### <a id='pasw-injector'></a> PAS for Windows Requires Injector Step

Unlike other tiles, the PAS for Windows tile requires an additional step between downloading the product file from [Pivotal Network](https://network.pivotal.io/products/pas-windows) and uploading it to Ops Manager.

After you download the product file, you need to download and run the **PAS for Windows File System Injector** tool on the file locally, to add the Windows Server container base image. See [Installing and Configuring PAS for Windows](https://docs.pivotal.io/pivotalcf/2-1/windows/installing.html#install) for details. You can download the injector tool from the PAS for Windows page on Pivotal Network.

If you try to upload the PAS for Windows product file without having run the injector tool, Ops Manager may show the following error:
`is invalid: has an invalid release 'windows2016fs' specified for job type 'Windows Diego Cell'`


### <a id='re-create-vms'></a> Some Upgrades Require VM Re-Creation

Due to an update to <code>garden-runc-release</code>, Pivotal recommends that you re-create all VMs when you upgrade from the following older versions to current versions of PAS and PCF Isolation Segment (IST) and you do not also update your stemcell:

* PAS, Small Footprint Runtime, and Elastic Runtime:
  - v2.0.0 - v2.0.6
  - v1.12.0 - v1.12.15
  - v1.11.0 - v1.11.27
  - v1.10.x, 1.9.x, 1.8.x

* PCF Isolation Segment:
  - v2.0.0 - v2.0.5
  - v1.12.0 - v1.12.14
  - v1.11.0 - v1.11.25
  - v1.10.x

VMs re-create automatically when you update your stemcell. Otherwise, you can re-create all VMs for both PAS and IST by enabling the <strong>Recreate All VMs</strong> checkbox on the PAS tile > <strong>Director Config</strong> pane.</p>

## <a id='opsman'></a> Ops Manager

### <a id="inventory-service"></a> Additional vSphere Permission Validation

As a bug fix, Ops Manager now validates vSphere vCenter permissions from the inventory service object. The following permission validations were previously missing and are now included:

- `InventoryService.Tagging.CreateTag`
- `InventoryService.Tagging.DeleteTag`
- `InventoryService.Tagging.EditTag`

When you click **Apply Changes** with a vSphere deployment and you do not have these permissions configured, you may receive the following error:

```
Could not log in: Required Datacenter privileges not available: 
["Host.Inventory.EditCluster", "InventoryService.Tagging.CreateTag", 
"InventoryService.Tagging.DeleteTag", "InventoryService.Tagging.EditTag"]
```

Include the required datacenter privileges to continue. For more information about vSphere vCenter privileges, see [vSphere Service Account Requirements](http://docs.pivotal.io/customizing/vsphere-service-account.html).

## <a id='ist'></a> PCF Isolation Segment

There are no known breaking changes in PCF Isolation Segment v2.1 at this time. 
