---
title: PCF v2.7 Breaking Changes
owner: Release Engineering
---

This topic describes the breaking changes you need to be aware of when upgrading to
Pivotal Cloud Foundry (PCF) v2.7. For more information about important preparation steps
you must follow before beginning an upgrade, see [Upgrading Pivotal Cloud
Foundry](http://docs.pivotal.io/2-7/customizing/upgrading-pcf.html).




## <a id='pas'></a> Pivotal Application Service (PAS)

See the following PAS breaking changes:

## <a id='opsman'></a> PCF Ops Manager

See the following PCF Ops Manager breaking changes:

## <a id='ist'></a> PCF Isolation Segment

See the following PCF Isolation Segment breaking changes:

None currently.
