---
title: PCF v1.8 Breaking Changes
owner: Release Engineering
---

<%= partial '/shared/deprecation-notice' %>

For Pivotal Cloud Foundry (PCF) v1.8 breaking changes, see the release notes.

## PCF Release Notes

* <a href="./runtime-rn.html" class="subnav">Pivotal Elastic Runtime Release Notes</a>

* <a href="./opsmanager-rn.html" class="subnav">Pivotal Operations Manager Release Notes</a>

<hr>

## PCF Services Release Notes

* <a href="http://docs.pivotal.io/app-dist/release-notes.html">App Distribution for PCF</a>

* <a href="http://docs.pivotal.io/gemfire-cf/relnotes.html">GemFire for PCF</a>

* <a href="http://docs.pivotal.io/p-mysql/release-notes.html">MySQL for PCF</a>

* <a href="http://docs.pivotal.io/pcf-appdog/rn-ki.html">Application Watchdog for PCF (Beta)</a>

* <a href="http://docs.pivotal.io/jmx-bridge/rn-ki.html">PCF JMX Bridge</a>

* <a href="http://docs.pivotal.io/logsearch/release.html">PCF Log Search</a>

* <a href="http://docs.pivotal.io/pcf-metrics/rn-ki.html">PCF Metrics</a>

* <a href="http://docs.pivotal.io/aws-services/release-notes.html">PCF Service Broker for AWS</a>

* <a href="http://docs.pivotal.io/push/release-notes.html">Push Notification Service for PCF</a>

* <a href="http://docs.pivotal.io/rabbitmq-cf/releases.html">Rabbit MQ for PCF</a>

* <a href="http://docs.pivotal.io/redis/release.html">Redis for PCF</a>

* <a href="http://docs.pivotal.io/ssc-gemfire/relnotes.html">Session State Caching Powered by GemFire</a>

* <a href="http://docs.pivotal.io/p-identity/release-notes.html">Single Sign-On for PCF</a>

* <a href="http://docs.pivotal.io/spring-cloud-services/release-notes.html">Spring Cloud Services on PCF</a>

* <a href="http://docs.pivotal.io/pcf-scheduler/release-notes.html">Scheduler for PCF (Beta)</a>
