---
title: PCF v2.4 Breaking Changes
owner: Release Engineering
---

This topic describes the breaking changes you need to be aware of when upgrading to Pivotal Cloud Foundry (PCF) v2.4. For more information about important preparation steps you must follow before beginning an upgrade, see [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/2-4/customizing/upgrading-pcf.html).


## <a id='pas'></a> Pivotal Application Service (PAS)


## <a id='opsman'></a> PCF Operations Manager (Ops Manager)


## <a id='ist'></a> PCF Isolation Segment

