---
title: PCF v2.4 Breaking Changes
owner: Release Engineering
---

This topic describes the breaking changes you need to be aware of when upgrading to
Pivotal Cloud Foundry (PCF) v2.4. For more information about important preparation steps
you must follow before beginning an upgrade, see [Upgrading Pivotal Cloud
Foundry](http://docs.pivotal.io/2-4/customizing/upgrading-pcf.html).




## <a id='pas'></a> Pivotal Application Service (PAS)

See the following PAS breaking changes:

### <a id='log-cache'></a> Removed Log Cache Property

PAS v2.4 removed the **Enable log-cache** checkbox from the **Advanced Features** section of the PAS tile. 

PAS v2.5 removes the underlying property, `enable_log_cache`. If you have any scripts that reference this property, they may fail now that it is removed. 

## <a id='opsman'></a> PCF Ops Manager

See the following PCF Ops Manager breaking changes:

## <a id='ist'></a> PCF Isolation Segment

See the following PCF Isolation Segment breaking changes:

None currently.
