---
title: PCF v2.6 Breaking Changes
owner: Release Engineering
---

This topic describes the breaking changes you need to be aware of when upgrading to Pivotal Cloud Foundry (PCF) v2.6. For more information about important preparation steps you must follow before beginning an upgrade, see [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/2-6/customizing/upgrading-pcf.html).


## <a id='opsman'></a> PCF Ops Manager

See the following PCF Ops Manager breaking changes:

### <a id='ssh-private-key'></a> Passwords Not Supported for Ops Manager VM on vSphere

You can only SSH onto the Ops Manager VM in a vSphere deployment with a private SSH key. You cannot SSH onto the Ops Manager VM with a password.

To avoid errors when authenticating, add a public key to the OVF template for the Ops Manager VM. Then, use the private key to SSH onto the Ops Manager VM. 

For more information about adding a public key to the OVF template, see [Deploy Ops Manager](https://docs.pivotal.io/pivotalcf/2-6/om/vsphere/deploy.html#deploy) in _Deploying Ops Manager on vSphere_. 

### <a id='diagnostic-report-stemcell'></a> Stemcell Property for Diagnostic Report API Endpoint is Removed

The `stemcell` property for the `/api/v0/diagnostic_report` endpoint is removed. Update any automation that uses the stemcell information in the `/api/v0/diagnostic_report` endpoint to avoid errors.

Information about all stemcells for both staged and deployed products is listed under a new `added_products` property for the `/api/v0/diagnostic_report` endpoint. Stemcell information under the `added_products` property includes the stemcell filename, OS, and version.  

For more information about the `/api/v0/diagnostic_report` endpoint, see [Diagnostic Report](http://docs.pivotal.io/pivotalcf/2-6/opsman-api/#diagnostic-report) in the Ops Manager API documentation. 

### <a id='stemcell-version-key'></a> Stemcell Version Key for Pending Changes is Moved and Renamed

For the `/api/v0/staged/pending_changes` endpoint, the `stemcell_version` key from previous versions of the Ops Manager API is now the `version` sub-key under the `stemcells` key.  

Update any automation that uses the stemcell information in the `/api/v0/pending_changes` endpoint to avoid errors.

For more information about the `/api/v0/staged/pending_changes` endpoint, see [View a list of pending changes](http://docs.pivotal.io/pivotalcf/2-6/opsman-api/#view-a-list-of-pending-changes) in the Ops Manager API documentation.

### <a id='5th-gen-instances'></a> AWS Deployments Use 5th Generation Instances

Ops Manager v2.6 uses the latest generation of instances for AWS deployments. When you upgrade to Ops Manager v2.6, your VM types convert to the corresponding 5th generation instance types, such as `t2` to `t3` and `c4` to `c5`.

If you are using a custom instance type catalog, your VM types that are used and available do not change.

These instance types are supported by Xenial stemcells and Trusty stemcell 3586 and later. Stemcells earlier than Trusty stemcell 3586 fail to boot Ops Manager. To avoid this, ensure that you are using Trusty stemcell 3586 or later.

For more information about AWS instance types, see [Amazon EC2 Instance Types](https://aws.amazon.com/ec2/instance-types/) in the AWS documentation.

### <a id='renamed-stemcell-endpoint'></a> Stemcell Assignments Endpoint Deprecated

The `stemcells_assignments` endpoint in the Ops Manager API has been deprecated. The deprecated endpoint only returns a single stemcell for a product.

Instead, operators should use the `stemcell_associations` endpoint, which returns information about all stemcells associated with a product.

For more information, see [Stemcell Associations for Products](http://docs.pivotal.io/pivotalcf/2-6/opsman-api/#stemcell-associations-for-products) in the Ops Manager API documentation.

## <a id='pas'></a> Pivotal Application Service (PAS)

See the following PAS breaking changes:

### <a id='http-healtcheck'></a> HTTP Healthcheck Server Disabled for SSH Proxy

If your SSH load balancer is configured with an HTTP healthcheck, remove the healthcheck before upgrading. This is the load balancer specified in the **Diego Brain** row of the **Resource Config** pane. 

<p class="note"><strong>Note:</strong> Neither the Terraform templates for installing PAS nor the PAS installation instructions specify a HTTP healthcheck for the SSH Load balancer.</p> 

The `ssh_proxy` job running on the Diego Brain VM no longer starts a HTTP healthcheck server. This feature was previously added to allow GCP load balancers to healthcheck the service. However, GCP load balancers no longer require an HTTP endpoint for healthchecks. 

Additionally, making this healthcheck server inaccessible improves the security of the platform. 

### <a id='router-cpus'></a> Default VM Type Change for Router VMs

PAS v2.6 increases the default and minimum CPU core count from one to two for Router VMs.

Verify that you have sufficient infrastructure resources allocated to the deployment before upgrading to PAS v2.6.

## <a id='pas-windows'></a> PAS for Windows

See the following PAS for Windows breaking changes:  

* Option to override deployment name to CF is removed.
* 2019.2 Stemcell Version doesn't work with OpsMgr 2.6. Ensure you upgrade to 2019.3 or greater stemcell version before you upgrade to OpsMgr 2.6
