---
title: PCF v2.6 Breaking Changes
owner: Release Engineering
---

This topic describes the breaking changes you need to be aware of when upgrading to
Pivotal Cloud Foundry (PCF) v2.6. For more information about important preparation steps
you must follow before beginning an upgrade, see [Upgrading Pivotal Cloud
Foundry](http://docs.pivotal.io/2-6/customizing/upgrading-pcf.html).




## <a id='pas'></a> Pivotal Application Service (PAS)

See the following PAS breaking changes:

## <a id='opsman'></a> PCF Ops Manager

See the following PCF Ops Manager breaking changes:

### <a id='ssh-private-key'></a> Passwords Not Supported for Ops Manager VM on vSphere

You can only SSH onto the Ops Manager VM in a vSphere deployment with a private SSH key. You cannot SSH onto the Ops Manager VM with a password.

To avoid errors when authenticating, add a public key to the OVF template for the Ops Manager VM. Then, use the private key to SSH onto the Ops Manager VM. 

For more information about adding a public key to the OVF template, see [Deploy Ops Manager](https://docs.pivotal.io/pivotalcf/2-6/om/vsphere/deploy.html#deploy) in _Deploying Ops Manager on vSphere_. 

### <a id='diagnostic_report_stemcell'></a>  Stemcell Property for Diagnostic Report API Endpoint is Removed

The `stemcell` property for the `/api/v0/diagnostic_report` endpoint is removed. Update any automation that uses the stemcell information in the `/api/v0/diagnostic_report` endpoint to avoid errors.

Information about all stemcells for both staged and deployed products is listed under a new `added_products` property for the `/api/v0/diagnostic_report` endpoint. Stemcell information under the `added_products` property includes the stemcell filename, OS, and version.  

For more information about the `/api/v0/diagnostic_report` endpoint, see [Diagnostic Report](https://docs.pivotal.io/pivotalcf/2-2/opsman-api/#getting-information-about-certificates-from-products) in the Ops Manager API documentation. 


## <a id='ist'></a> PCF Isolation Segment

See the following PCF Isolation Segment breaking changes:

None currently.
