---
title: PCF v2.2 Breaking Changes
owner: Release Engineering
---

This topic describes the breaking changes you need to be aware of when upgrading to Pivotal Cloud Foundry (PCF) v2.2. For more information about important preparation steps you must follow before beginning an upgrade, see [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/2-1/customizing/upgrading-pcf.html).

## <a id='pas'></a> Pivotal Application Service (PAS)

### <a id="timestamp"></a> Log Aggregation Systems May Parse Timestamps Incorrectly

For new installations of PAS v2.2,
Diego timestamps in logs are now in RFC 3339 format.
The Unix epoch format is set by default for upgrades to PAS v2.2.

You can enable RFC 3339 format in your PAS tile configuration. Before enabling RFC 3339 format for Diego logs, ensure that your log aggregation system anticipates the timestamp format change.

If you experience issues, you can disable RFC 3339 format in the PAS tile.
For more information about this PCF v2.2 feature, see [New Format for Diego Timestamps](runtime-rn.html#timestamp) in _Pivotal Application Service v2.2 Release Notes_.

### <a id="ssh-client"></a> SSH Proxy May Restrict Client Access

The SSH proxy now accepts a narrower range of ciphers, MACs, and key exchanges. This feature may have complications if you use a SSH client other than <code>cf ssh</code> to connect. For more information, see <a href="https://docs.pivotal.io/pivotalcf/devguide/deploy-apps/ssh-apps.html#other-ssh-access">Application SSH Access without cf CLI</a>.

## <a id='opsman'></a> Ops Manager

### <a id="om-syslog"></a> Ops Manager Logs Have Changed Locations

Ops Manager centralized its logs so that you can now configure a syslog server in the Ops Manager **Settings**. Because of this feature change for Ops Manager v2.2, you cannot run scripts to fetch Ops Manager logs at their previous locations. Instead, Pivotal now recommends you configure syslog.

For more information about the syslog feature, see [Configure an Ops Manager Syslog Server](opsmanager-rn.html#om-syslog) in the _PCF Ops Manager Release v2.2 Release Notes_.

## <a id='ist'></a> PCF Isolation Segment

### <a id="ist-timestamp"></a> Log Aggregation Systems May Parse Timestamps Incorrectly

See [New Format for Diego Timestamps](segment-rn.html#timestamp) in _PCF Isolation Segment v2.2 Release Notes_ and breaking changes for [Pivotal Application Service (PAS)](#timestamp) for more information.
