---
title: PCF v2.5 Breaking Changes
owner: Release Engineering
---

This topic describes the breaking changes you need to be aware of when upgrading to
Pivotal Cloud Foundry (PCF) v2.5. For more information about important preparation steps
you must follow before beginning an upgrade, see [Upgrading Pivotal Cloud
Foundry](http://docs.pivotal.io/2-5/customizing/upgrading-pcf.html).


## <a id='pas'></a> Pivotal Application Service (PAS)

See the following PAS breaking changes:

### <a id='log-system'></a> Removed Logging System Property

PAS v2.5 removes the **Syslog Drain Buffer Size** checkbox from the **Logging System** pane of the PAS tile. This field corresponds to a deprecated property that does not have any affect on the logging system when configured. 

It also removes the underlying property, `doppler.message_drain_buffer_size`. If you have any scripts that reference this property, they may fail. 

### <a id='log-cache'></a> Removed Log Cache Property

PAS v2.4 removed the **Enable log-cache** checkbox from the **Advanced Features** section of the PAS tile. 

PAS v2.5 removes the underlying property, `enable_log_cache`. If you have any scripts that reference this property, they may fail. 

### <a id='deployment-name'></a> Removed Option to Override Deployment Name to CF 

PAS v2.4 introduced the use of `cf-GUID` as the value for the `deployment` in metrics. For more information, see [Uniquely Identify Metrics by Tile](https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes.html#metrics-prefix).

PAS v2.4 also included the option to override this value back to `cf`, which was used in previous versions. However, PAS v2.5 removes this override option. 

To upgrade successfully, the **Use "cf" as deployment name in emitted metrics instead of unique name** option in the **Advanced Features** pane of the PAS tile must be deselected.  

If you have scripts that rely on metrics with `cf` as the value for `deployment`, your scripts may break when upgrading to PAS v2.5. 

Additionally, if you have PCF Healthwatch installed and you changed the value of **Use “cf” as deployment name in emitted metrics instead of unique name** in PAS, you must run the **Push Monitoring Components** errand for Healthwatch to detect the change. 

### <a id="apps-man"></a> Removed Unused Apps Manager UAA Client and Property

PAS v2.5 removes an unused Apps Manager UAA client identified as `portal` and an unused refresh token property `uaa.apps_manager_refresh_token_lifetime`. 

If you have platform automation scripts, you may need to update them if they reference these properties. 

### <a id="ssl-apps-manager"></a> Apps Manager Verifies SSL

Starting in PAS v2.4.3, Apps Manager verifies SSL certificates for endpoints to which it proxies. For environments using self-signed certificates or certificates that are signed by a certificate authority that is not trusted by the BOSH Director, this may cause Apps Manager to show no content. 

If you are upgrading to PAS v2.5 from PAS v2.4.2 or earlier, do the following to prevent this issue: Add the certificate authority using the **Trusted Certificates** field in the **Security** pane of the BOSH Director tile.

### <a id='metrics-endpoint'></a> Removed Traffic Controller Container Metrics Endpoint

PAS v2.5 removes the Traffic Controller `containermetrics/app-guid` endpoint. Any scripts that reference the `containermetrics/app-guid` endpoint may fail.

The `containermetrics/app-guid` endpoint provided access to container metrics from Traffic Controller for a specific app. In PAS v2.5, you can access container metrics through Log Cache. Log Cache includes API endpoints and a CLI plugin to query and filter logs and metrics. 

To download the Log Cache Cloud Foundry Command Line Interface (cf CLI) plugin, see [cf CLI Plugins](https://plugins.cloudfoundry.org/#log-cache). For information about using the Log Cache API, see [Log Cache](https://github.com/cloudfoundry/log-cache#restful-api-via-gateway) on GitHub.

## <a id='opsman'></a> PCF Ops Manager

See the following PCF Ops Manager breaking changes:

### <a id="rename"></a> Ops Manager Release Artifacts Renamed on Pivotal Network

Starting in Ops Manager v2.5, the filenames for Ops Manager release artifacts on Pivotal Network are restructured. 

For example:

<table class="nice">
	<th>Ops Manager version</th>
	<th>Release artifact name structure</th>
	<th>Example release artifact name</th>
	<th>Details</th>
	<tr>
		<td>v2.5</td>
		<td>ops-manager-IAAS-VERSION-build.BUILD-NUMBER.pdf</td>
		<td>ops-manager-aws-2.5.0-build.123.pdf</td>
		<td>The filename lists the IaaS type after the product name and includes a patch version designator after the major and minor versions.</td>
	</tr>
	<tr>
		<td>v2.4 and earlier</td>
		<td>ops-managerVERSION-build.BUILD-NUMBER-on-IAAS.pdf</td>
		<td>OpsManager2.4-build.122onAWS.pdf</td>
		<td>The filename does not include a patch version designator and lists the IaaS type after the build number.</td>
	</tr>
</table>

If you use automation scripts or other tools to access release artifacts, you may need to update them to match the new filename scheme. If your automation tools use precisely typed filenames or structures from previous versions of Ops Manager, you must update the tools to reflect the new filename structures or the tools will break.

For more information, see [Ops Manager 2.5 changing the file naming scheme might break the pipeline jobs](https://community.pivotal.io/s/article/ops-manager-2-5-changing-the-file-naming-scheme-might-break-the-pipeline-jobs) in the Pivotal Knowledge Base.

## <a id='ist'></a> PCF Isolation Segment

See the following PCF Isolation Segment breaking changes:

None currently.
