---
breadcrumb: Pivotal Cloud Foundry&reg; Documentation
title: Pivotal Cloud Foundry&reg; Release Notes and Known Issues
---

## Release Notes ##

* <a href ="./p1-v1.7/runtime_rn_1_7.html" class="subnav">Pivotal Elastic Runtime</a>

* <a href="./p1-v1.7/opsmanager_rn_1_7.html" class="subnav">Pivotal Operations Manager</a>

* <a href="./p1-v1.7/jmxbridge_rn_1_7.html" class="subnav">Pivotal JMX Bridge</a>

* <a href="./p1-v1.6/pcfmetrics_rn_1_6.html" class="subnav">Pivotal Metrics</a>

## Known Issues ##

* <a href="./p1-v1.7/runtime_ki_1_7.html" class="subnav">Pivotal Elastic Runtime</a>

* <a href="./p1-v1.7/opsmanager_ki_1_7.html" class="subnav">Pivotal Operations Manager</a>

* <a href="./p1-v1.7/jmxbridge_ki_1_7.html" class="subnav">Pivotal JMX Bridge</a>

* <a href="./p1-v1.6/pcfmetrics_ki_1_7.html" class="subnav">Pivotal Metrics</a>