---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Pivotal Cloud Foundry Release Notes and Known Issues
---

This topic provides links to the release notes and known issues for Pivotal Cloud Foundry (PCF) and PCF services.

## PCF Release Notes and Known Issues

### Release Notes ###

* <a href="./p1-v1.8/runtime_rn_1_8.html" class="subnav">Pivotal Elastic Runtime Release Notes</a>

* <a href="./p1-v1.8/opsmanager_rn_1_8.html" class="subnav">Pivotal Operations Manager Release Notes</a>

### Known Issues ###

* <a href="./p1-v1.8/runtime_ki_1_8.html" class="subnav">Pivotal Elastic Runtime Known Issues</a>

* <a href="./p1-v1.8/opsmanager_ki_1_8.html" class="subnav">Pivotal Operations Manager Known Issues</a>

<hr>

## PCF Services Release Notes and Known Issues

* <a href="http://docs.pivotal.io/app-dist/release-notes.html">App Distribution for PCF</a>

* <a href="http://docs.pivotal.io/cassandra/releases.html">DataStax Enterprise for PCF</a>

* <a href="http://docs.pivotal.io/gemfire-cf/relnotes.html">GemFire for PCF</a>

* <a href="http://docs.pivotal.io/p-mysql/1-7/release-notes.html">MySQL for PCF</a>

* <a href="http://docs.pivotal.io/pcf-appdog/rn-ki.html">PCF Application Watchdog</a>

* <a href="http://docs.pivotal.io/jmx-bridge/rn-ki.html">PCF JMX Bridge</a>

* <a href="http://docs.pivotal.io/logsearch/release.html">PCF Log Search</a>

* <a href="http://docs.pivotal.io/pcf-metrics/1-1/rn-ki.html">PCF Metrics</a>

* <a href="http://docs.pivotal.io/aws-services/release-notes.html">PCF Service Broker for AWS</a>

* <a href="http://docs.pivotal.io/tracker-pcf/index.html">Pivotal Tracker for PCF</a>

* <a href="http://docs.pivotal.io/push/release-notes.html">Push Notification Service for PCF</a>

* <a href="http://docs.pivotal.io/rabbitmq-cf/1-6-5/releases.html">Rabbit MQ for PCF</a>

* <a href="http://docs.pivotal.io/redis/1-5/release.html">Redis for PCF</a>

* <a href="http://docs.pivotal.io/p-riakcs/release-notes.html">Riak CS for PCF</a>

* <a href="http://docs.pivotal.io/ssc-gemfire/relnotes.html">Session State Caching Powered by GemFire</a>

* <a href="http://docs.pivotal.io/p-identity/release-notes.html">Single Sign-On for PCF</a>

* <a href="http://docs.pivotal.io/spring-cloud-services/release-notes.html">Spring Cloud Services on PCF</a>

* <a href="http://docs.pivotal.io/spring-xd/index.html">Spring XD for PCF</a>


