---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Pivotal Cloud Foundry Release Notes and Known Issues
---

## Release Notes ##

* <a href="./p1-v1.7/runtime_rn_1_7.html" class="subnav">Pivotal Elastic Runtime Release Notes</a>

* <a href="./p1-v1.7/opsmanager_rn_1_7.html" class="subnav">Pivotal Operations Manager Release Notes</a>

## Known Issues ##

* <a href="./p1-v1.7/runtime_ki_1_7.html" class="subnav">Pivotal Elastic Runtime Known Issues</a>

* <a href="./p1-v1.7/opsmanager_ki_1_7.html" class="subnav">Pivotal Operations Manager Known Issues</a>