---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Pivotal Cloud Foundry Release Notes and Known Issues
---

## Release Notes ##

* <a href="./runtime-rn.html" class="subnav">Pivotal Elastic Runtime Release Notes</a>

* <a href="./opsmanager-rn.html" class="subnav">Pivotal Operations Manager Release Notes</a>

## Known Issues ##

* <a href="./runtime-ki.html" class="subnav">Pivotal Elastic Runtime Known Issues</a>

* <a href="./opsmanager-ki.html" class="subnav">Pivotal Operations Manager Known Issues</a>