---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Pivotal Cloud Foundry Release Notes
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for 2017.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

This topic provides links to the release notes for Pivotal Cloud Foundry (PCF) and PCF services. Release notes include new features, bug fixes, and known issues. 

## PCF Release Notes

* <a href="./runtime-rn.html" class="subnav">Pivotal Elastic Runtime Release Notes</a>

* <a href="./opsmanager-rn.html" class="subnav">Pivotal Operations Manager Release Notes</a>

* <a href="./windows-rn.html" class="subnav">PCF Runtime for Windows Release Notes</a>

* <a href="./segment-rn.html" class="subnav">PCF Isolation Segment Release Notes</a>

* <a href="./stemcell-rn.html" class="subnav">Stemcell Release Notes</a>

* <a href="./windows-stemcell-rn.html" class="subnav">Windows Stemcell Release Notes</a>

* <a href="./bbr-rn.html" class="subnav">BOSH Backup and Restore Release Notes</a>

<hr>

## PCF Services Release Notes

* <a href="https://docs.pivotal.io/app-dist/release-notes.html">App Distribution for PCF</a>

* <a href="https://docs.pivotal.io/gemfire-cf/relnotes.html">GemFire for PCF</a>

* <a href="https://docs.pivotal.io/p-mysql/release-notes.html">MySQL for PCF</a>

* <a href="https://docs.pivotal.io/pcf-appdog/rn-ki.html">Application Watchdog for PCF (Beta)</a>

* <a href="https://docs.pivotal.io/jmx-bridge/rn-ki.html">PCF JMX Bridge</a>

* <a href="https://docs.pivotal.io/logsearch/release.html">PCF Log Search</a>

* <a href="https://docs.pivotal.io/pcf-metrics/rn-ki.html">PCF Metrics</a>

* <a href="https://docs.pivotal.io/aws-services/release-notes.html">PCF Service Broker for AWS</a>

* <a href="https://docs.pivotal.io/push/release-notes.html">Push Notification Service for PCF</a>

* <a href="https://docs.pivotal.io/rabbitmq-cf/releases.html">Rabbit MQ for PCF</a>

* <a href="https://docs.pivotal.io/redis/release.html">Redis for PCF</a>

* <a href="https://docs.pivotal.io/ssc-gemfire/relnotes.html">Session State Caching Powered by GemFire</a>

* <a href="https://docs.pivotal.io/p-identity/release-notes.html">Single Sign-On for PCF</a>

* <a href="https://docs.pivotal.io/spring-cloud-services/release-notes.html">Spring Cloud Services on PCF</a>

* <a href="https://docs.pivotal.io/pcf-scheduler/release-notes.html">Scheduler for PCF (Beta)</a>