---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Pivotal Cloud Foundry Release Notes and Known Issues
---

## Release Notes ##

* <a href="./p1-v1.6/runtime_rn_1_6.html" class="subnav">Pivotal Elastic Runtime Release Notes</a>

* <a href="./p1-v1.6/opsmanager_rn_1_6.html" class="subnav">Pivotal Operations Manager Release Notes</a>

* <a href="./p1-v1.6/opsmetrics_rn_1_6.html" class="subnav">Pivotal Cloud Foundry Ops Metrics Release Notes</a>

* <a href="./p1-v1.6/pcfmetrics_rn_1_6.html" class="subnav">Pivotal Cloud Foundry Metrics Release Notes</a>

## Known Issues ##

* <a href="./p1-v1.6/runtime_ki_1_6.html" class="subnav">Pivotal Elastic Runtime Known Issues</a>

* <a href="./p1-v1.6/opsmanager_ki_1_6.html" class="subnav">Pivotal Operations Manager Known Issues</a>

* <a href="./p1-v1.6/opsmetrics_ki_1_6.html" class="subnav">Pivotal Cloud Foundry Ops Metrics Known Issues</a>

* <a href="./p1-v1.6/pcfmetrics_ki_1_6.html" class="subnav">Pivotal Cloud Foundry Metrics Known Issues</a>


