---
breadcrumb: Pivotal Cloud FoundryFoundry Documentation
title: Pivotal Cloud FoundryFoundry Release Notes and Known Issues
---

## Release Notes ##

* <a href="./p1-v1.8/runtime_rn_1_8.html" class="subnav">Pivotal Elastic Runtime Release Notes</a>

* <a href="./p1-v1.8/opsmanager_rn_1_8.html" class="subnav">Pivotal Operations Manager Release Notes</a>

* <a href="./p1-v1.8/jmxbridge_rn_1_8.html" class="subnav">Pivotal JMX Bridge Release Notes</a>

## Known Issues ##

* <a href="./p1-v1.8/runtime_ki_1_8.html" class="subnav">Pivotal Elastic Runtime Known Issues</a>

* <a href="./p1-v1.8/opsmanager_ki_1_8.html" class="subnav">Pivotal Operations Manager Known Issues</a>

* <a href="./p1-v1.8/jmxbridge_ki_1_8.html" class="subnav">Pivotal JMX Bridge Known Issues</a>

