---
breadcrumb: Pivotal Cloud Foundry&reg; Documentation
title: Pivotal Cloud Foundry&reg; Release Notes and Known Issues
---

## Release Notes ##

* <a href="./p1-v1.6/runtime_rn_1_6.html" class="subnav">Pivotal Elastic Runtime</a>

* <a href="./p1-v1.6/opsmanager_rn_1_6.html" class="subnav">Pivotal Operations Manager</a>

* <a href="./p1-v1.6/opsmetrics_rn_1_6.html" class="subnav">Pivotal Ops Metrics</a>

## Known Issues ##

* <a href="./p1-v1.6/runtime_ki_1_6.html" class="subnav">Pivotal Elastic Runtime</a>

* <a href="./p1-v1.6/opsmanager_ki_1_6.html" class="subnav">Pivotal Operations Manager</a>

* <a href="./p1-v1.6/opsmetrics_ki_1_6.html" class="subnav">Pivotal Ops Metrics</a>
