---
breadcrumb: Pivotal Cloud Foundry&reg; Documentation
title: Pivotal Cloud Foundry&reg; Release Notes and Known Issues
---

## Release Notes ##

* <a class="subnav" href="./p1-v1.6/runtime_rn_1_6.html">Pivotal Elastic Runtime</a>

* <a class="subnav" href="./p1-v1.6/opsmanager_rn_1_6.html">Pivotal Operations Manager</a>

* <a class="subnav" href="./p1-v1.7/jmxbridge_rn_1_7.html">Pivotal JMX Bridge</a>

* <a class="subnav" href="./p1-v1.6/pcfmetrics_rn_1_6.html">Pivotal Metrics</a>

## Known Issues ##

* <a class="subnav" href="./p1-v1.6/runtime_ki_1_6.html">Pivotal Elastic Runtime</a>

* <a class="subnav" href="./p1-v1.6/opsmanager_ki_1_6.html">Pivotal Operations Manager</a>

* <a class="subnav" href="./p1-v1.7/jmxbridge_ki_1_7.html">Pivotal JMX Bridge</a>

* <a class="subnav" href="./p1-v1.6/pcfmetrics_ki_1_6.html">Pivotal Metrics</a>
