---
title: Pivotal Cloud Foundry Ops Manager v2.0 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for 2017.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a>How to Upgrade ##

<!----
The [Upgrading Pivotal Cloud Foundry](../customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v2.0.---->

### 2.0 (Alpha 6)

Ops Manager v2.0 uses the following component versions:

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468</td>
  </tr><tr>
    <td>BOSH Director</td><td>263.3</td>
  </tr><tr>
    <td>CredHub</td><td>1.3.4</td>
  </tr><tr>
    <td>UAA</td><td>52</td>
  </tr><tr>
    <td>AWS CPI</td><td>66</td>
  </tr><tr>
    <td>Azure CPI</td><td>29</td>
  </tr><tr>
    <td>GCP CPI</td><td>25.10.0</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>34</td>
  </tr><tr>
    <td>vSphere CPI</td><td>44</td>
  </tr><tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

<hr>

## <a id='major-features'></a>New Features in Ops Manager v2.0

### <a id='rbac'></a>Role-Based Access Control

Ops Manager 2.0 introduces support for role-based access control (RBAC).
You can assign the **Write Minus Credentials**, **Write Plus Credentials**, or **Ops Manager Administrator** roles to determine which operators in your organization make deployment changes, view credentials, and manage user roles in Ops Manager.

See [Configuring Role-Based Access Control (RBAC) in Ops Manager](../opsguide/config-rbac.html) for more information.

### <a id='azure-stack'></a>Azure Stack Support

Operators can deploy Ops Manager 2.0 to Microsoft Azure in their own local datacenter using Azure Stack.

See [Launching an Ops Manager Director Instance on Azure without an ARM Template](../customizing/azure-om-deploy.html) for more information.

### <a id='runtime-config'></a>Configure Tiles with Runtime Configs

Tile authors can include `runtime_configs` as a top-level key in tile metadata to define global deployment configurations. Named runtime config settings apply to all VMs in a deployment.

Version 2.0 Alpha of Ops Manager supports defining any number of `runtime_configs` in an existing tile. Tile authors can also create a tile that includes a runtime config only and does not define any job types or errands. 

For more information, see the [Managing Runtime Configs](https://docs.pivotal.io/tiledev/runtime-config.html) topic in the PCF Tile Developers Guide.
