---
title: PCF Ops Manager v2.4 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a> How to Upgrade

The [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivoAztalcf/2-4/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v2.4.

## <a id="releases"></a> Releases

### <a id="rc-2"></a> 2.4 Release Candidate 2

* **[Security Fix]**: Bumps active-job to 5.0.4 to resolve [CVE-2018-16476](https://nvd.nist.gov/vuln/detail/CVE-2018-16476).
* **[New Feature]**: Ops Manager operators with sufficient permissions to see credentials can now send a GET to `director/properties`, `director/iaas_configurations/guid`, `director/iaas_configurations`, or `products/guid/properties` with the `redact=false` parameter to see an API response that includes credentials.
* **[Feature Improvement]**: When only deploying the BOSH Director, Ops Manager now uploads the CPI, runtime, and cloud configs.
* **[Feature Improvement]**: When a user who has not logged into Ops Manager is prompted to log in to view a page, logging in returns them to the page they tried to access, rather than the Installation Dashboard.
* **[Bug Fix]**: The API docs now show `instance_groups` in some locations where they previously referenced jobs.
* **[Bug Fix]**: The API docs now show `ldap_rbac_admin_group_name` in `PUT /api/v0/settings/rbac` where they previously showed `ldap_rbac_admin_group`. 

Ops Manager v2.4 RC 2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.122*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>170.9 (Xenial)</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.2</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.8</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.5</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>51.0.2</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="rc-1"></a> 2.4 Release Candidate 1

* **[New Feature]**: A Pivotal-specific GUID now appears in the global CPI options for Azure deployments. View this key/value pair in the CPI configururation of the BOSH Director manifest.
* **[New Feature]**: `GET /api/v0/pivotal_network/stemcell_updates` now works on both Windows and Xenial stemcells.
* **[Bug Fix]**: The SAML certificate now regenerates when authentication method changes from SAML to internal, rather than when SAML is enabled. This facilitates a greater number of authentication method workflows, including those which change Ops Manager metadata.
* **[Bug Fix]**: Ops Manager now captures changes to the database, including reversions to old passwords, more completely.
* **[Bug Fix]**: The link to Pivotal Network from the API docs is now correct.
* **[Feature Improvement]**: There are now API docs for the GET and PUT `ssh_banner_contents` endpoints.

Ops Manager v2.4 RC 1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.117*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>170.9 (Xenial)*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.2</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.8</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.5</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>51.0.2</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="beta-2"></a> 2.4 Beta 2

* **[New Feature]**: You can now download the product manifest for your last successful deployment.
* **[Bug Fix]**: Runtime-only configs no longer show as pending after **Apply Changes** has completed. 

Ops Manager v2.4 Beta 2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.105*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>170.5 (Xenial)</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.2</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.8</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.5</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>51.0.2</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="beta-1"></a> 2.4 Beta 1

* **[Security Fix]**: Upgrades Loofah to 2.2.3 to address a CVE.
* **[Security Fix]**: Upgrades Rack to 2.0.6 to address a CVE.
* **[New Feature]**: You can access the staged CPI Config via the API.
* **[New Feature]**: You can access the deployed CPI Config via the API.
* **[New Feature]**: You can access the staged Runtime Config for the BOSH Director via the API.
* **[New Feature]**: You can access the deployed Runtime Config for the BOSH Director via the API.
* **[New Feature]**: You can access the staged Runtime Config for a product via the API.
* **[New Feature]**: You can access the deployed Runtime Config for a product via the API.
* **[Bug Fix]**: Application Load Balancers (ALBs) also apply to the BOSH Director VM for AWS deployments.
* **[Bug Fix]**: Temporary nginx uploads are deleted from `/var/tempest/tmp` after stemcell upload completes.
* **[Bug Fix]**: You are no longer required to enter the `opsmanager_root_ca_trusted_certs` in the staged director properties API.

Ops Manager v2.4 Beta 1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.101*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>170.5 (Xenial)*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.2</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.8*</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.5*</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>51.0.2*</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="alpha-3"></a> 2.4 Alpha 3

* **[Security Fix]**: Bumps Nokogiri to 1.8.5 to address a CVE.
* **[New Feature]**: Ops Manager images are available on Pivotal Network for AWS China users. For more information, see [Pivotal Images Publish to AWS China](#aws-china) below.
* **[New Feature]**: A banner notification appears in the UI when certain certificates are nearing their expiration date.
* **[New Feature]**: You can now download the BOSH Director manifest for your last successful deployment.
* **[New Feature]**: You can now download the Cloud Config for your last successful deployment.
* **[New Feature]**: You can now see the Cloud Config for a staged deployment via the API.
* **[New Feature]**: You can now stage a new job to be added to the BOSH Director via the API.
* **[New Feature]**: You can now view jobs staged to be added to the BOSH Director via the API.
* **[New Feature]**: You can now remove a staged job before it is added to the BOSH Director via the API.
* **[Bug Fix]**: You can now redeploy a tile with only a runtime config by clicking **Apply Changes**.
* **[Deprecation]**: Ops Manager no longer supports RELP.

Ops Manager v2.4 Alpha 3 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.85*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>97.28 (Xenial)*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.2*</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.2</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.4</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>50</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="alpha-2"></a> 2.4 Alpha 2

* **[New Feature]**: The redesigned Syslog form appears in Ops Manager. For more information, see [Syslog Form Template Available for Tile Authors](#syslog) below.
* **[New Feature]**: You can now download the product manifest for your last successful deployment.
* **[New Feature]**: You can save, export, and import CPI Configs during an upgrade. CPI Configs are accessible via an API endpoint.
* **[New Feature]**: You can save, export, and import Runtime Configs during an upgrade. Runtime Configs are accessible via an API endpoint.
* **[New Feature]**: You can now add networks to an instance group via the API.
* **[New Feature]**: You can now configure the size of the swap partition on a VM on a per-job basis. For more information, see [Swap Partition Size Is Configurable Via the API](#swap-size) below.
* **[New Feature]**: The SAML service provider certificate's expiration date appears in the response from the `/certificates` API endpoint. For more information, see [SAML Certificate Expiration Information Is Available Via the API](#expiring-certificates) below.
* **[New Feature]**: Tile Developers can now use the CLI to get a rendered BOSH manifest.
* **[New Feature]**: You can now configure global CPI proprerties via the API. For more information, see [IaaS-Specific Global CPI Properties Are Configurable Via the API](#additional-cpi-settings) below. 
* **[New Feature]**: You can now configure custom DNS handlers via the API.
**[New Feature]**: You can now include the Ops Manager root CA certificate in the trusted certificates field via the Ops Manager UI and the API.
* **[Bug Fix]**: The Cloud Config API endpoint now returns JSON, not YAML.
* **[Bug Fix]**: Stemcell patch versions no longer roll back to earlier versions during upgrade.
* **[Bug Fix]**: **Advanced Databse Connection Options** is now configurable.
* **[Bug Fix]**: The NATS CA certificate does not rotate after a change to the BOSH Director's hostname.

Ops Manager v2.4 Alpha 2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.64*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>97.18 (Xenial)</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.1</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.2</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.4</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>50</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="alpha-1"></a> 2.4 Alpha 1

* **[New Feature]**: You can now include the Syslog form as a template in tiles. For more information, see [Syslog Form Template Available for Tile Authors](#syslog) below.
* **[New Feature]**: You can now configure queue size for Syslog forwarding.
* **[New Feature]**: You can now enable TLS for Syslog forwarding.
* **[New Feature]**: You can save, export, and import Cloud Configs during an upgrade. Cloud Configs are accessible via an API endpoint.

Ops Manager v2.4 Alpha 1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.36</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>97.18 (Xenial)</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.1</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.2</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.4</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>50</td>
  </tr>
  </tbody>
</table>


## <a id='major-features'></a> New Features in Ops Manager v2.4

Ops Manager v2.4 includes the following major features:

### <a id="multiple-admins"></a> Ops Manager Allows Multiple Simultaneous Administrators

Multiple Ops Manager administrators can use Ops Manager at the same time, to reconfigure and manage a PCF deployment. For more information, see [Managing Simultaneous Ops Manager Administrators](https://docs.pivotal.io/pivotalcf/2-4/opsguide/config-rbac.html#multiple-write-users).

### <a id='credhub-2.0'></a> Ops Manager Uses CredHub v2.0

BOSH CredHub, the instance that manages credentials on the Ops Manager VM, now
uses CredHub v2.0. For more information about where your credentials are
stored, see [BOSH CredHub](http://docs.pivotal.io/pivotalcf/credhub/index.html#bosh).

CredHub v2.0 includes bug fixes, improved security, and new options for
managing credential permissions. These updates are not directly visible to PCF
operators, but CredHub v2.0 introduces breaking changes for tile and service
authors. For more information, see the [PCF v2.4 Partners Release Notice](https://docs.pivotal.io/tiledev/release-notes.html)
in the PCF Tile Developer Guide.

### <a id='certs-expiration'></a> Operators Can Search for Certificates by Expiration Date in CredHub

The `find` command in the CredHub CLI supports filtering searches for certificates by their expiration date. This command returns any certificate values visible to the requester, including certificates that have already expired.

To search for certificates by their expiration date, run the `find` command with the following parameter:

```
credhub find expires_within_days=NUMBER-OF-DAYS
```

Where `NUMBER-OF-DAYS` is an integer representing the upper limit of days you are searching within for expiring certificates.

For example:

<pre class="terminal">$ credhub find expires_within_days=5</pre>


### <a id="aws-china"></a> Pivotal Images Publish to AWS China

Users on AWS China accounts can now access downloads from Pivotal Network on their AWS China console. Find specific Ops Manager images in your AWS China console by searching for the AMI IDs for those images.

### <a id="select-all-products"></a> Operators Can Select or Deselect All Products For Deployment

The Ops Manager **Review Pending Changes** page has a **Select All Products** checkbox.
Enabling the checkbox selects all available products to deploy with the next **Apply Changes**. Disabling the checkbox deselects all products from deploying.

For more information, see [Review Pending Changes Page](https://docs.pivotal.io/pivotalcf/2-4/customizing/review-pending-changes.html#review-pending-changes).

### <a id="consistent-syslog"></a> Consistent Syslog Panes in Ops Manager and BOSH Director

The **Syslog** pane in Ops Manager's **Settings** menu and in the BOSH Director tile are now identical. The **Syslog** pane in the **Settings** menu allows syslog configuration for a PCF deployment, and the **Syslog** pane in the BOSH Director tile allows configuration for the BOSH Director exclusively. For more information, see [Settings Page](https://docs.pivotal.io/pivotalcf/2-4/customizing/pcf-interface.html#settings).

Both of these panes use the new Syslog form template available to all tile authors. For more information about the template, see [Syslog Form Template Available for Tile Authors](#syslog).

### <a id="historical-diffs"></a> Files Used During Previous Deployments Are Available From the API

You can now view the details from previous deployments for manifests and cloud, runtime, and CPI configs, from new API endpoints. This can be useful for troubleshooting or duplicating historical configurations for a deployment.

For more information, see [Getting BOSH manifests from historical installations](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#getting-bosh-manifests-from-historical-installations) in the Ops Manager API documentation.

### <a id="upgrade-config"></a> Staged and Current Config Details Are Available During Upgrade From the API

You can now use the API to access various aspects of your deployment during an upgrade, when the rest of your deployment is unavailable. The CPI configs, runtime configs, cloud config, and manifest are all available during upgrade from the Ops Manager API.

For more information, see [Staged BOSH Director](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#staged-bosh-director) and [Staged Products](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#staged-products) in the Ops Manager API documentation.

### <a id="syslog"></a> Syslog Form Template Available for Tile Authors

Tile authors can insert a templatized Syslog form into their tiles by editing `metadata.yml`. The pane that the form creates is identical to the Syslog pane in Ops Manager and the BOSH Director tile. The form template is an opportunity to make tile users' experience more consistent and secure. 

For more information about modifying `metadata.yml`, see [Property Template References](https://docs.pivotal.io/tiledev/2-4/property-template-references.html).

### <a id="multiple-bosh-releases"></a> Associate Multiple BOSH Releases with the BOSH Director Simultaneously

You can now add multiple BOSH releases to a BOSH Director by associating them with a deployment's `metadata.yml`. Multiple simultaneous BOSH releases can enhance antivirus capabilities, add security features, or support monitoring features. Custom and standard BOSH releases are supported, but all additional releases must be available at an HTTP address. You cannot upload a second BOSH release directly to Ops Manager.

To learn more about adding BOSH releases to a BOSH Director, see [Deploying Software with BOSH](https://docs.pivotal.io/pivotalcf/2-4/customizing/deploy-bosh-om.html#bosh).

<p class="note"><strong>Note</strong>: If a hosted BOSH release is no longer available but not removed from Ops Manager, it may cause the BOSH Director not to boot or <strong>Apply Changes</strong> to fail.</p>

### <a id="dns-form"></a> BOSH DNS Config Page in the BOSH Director Tile

The BOSH Director tile has a new page for configuring BOSH DNS. The **BOSH DNS Config** page lets you specify recursor addresses the DNS server should not use, enforce a recursor timeout, and add custom DNS handlers.

For more information, see [BOSH DNS Config Page](https://docs.pivotal.io/pivotalcf/2-4/om/gcp/config-manual.html#bosh-dns) in the GCP documentation, or find an entry for that page in the documentation for any IaaS.

<p class="note"><strong>Note</strong>: BOSH DNS replaces Consul DNS, which had caused stability issues in some deployments. PCF v2.0 through v2.3 progressively phased out Consul DNS, and v2.4 completes its removal. For more information, see the <a href="https://docs.pivotal.io/pivotalcf/2-3/pcf-release-notes/runtime-rn.html#remove-consul-agent">Pivotal Application Service v2.3 Release Notes</a>.</p>

### <a id="multiple-networks"></a> Associate an Instance Group with Multiple Networks or Diego Cells Simultaneously

You can use the `resource_config` API endpoint to associate multiple networks to Diego cells or instance groups. Define the networks as usual with the Ops Manager UI or API, and then set the networks for a job with the `additional_networks` key in the API. This workflow supports complex container networking integrations, including precise management of per-instance group network settings for sets of VMs.

For more information, see [Retrieving resources for a job](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#retrieving-resource-configuration-for-a-product).

### <a id="swap-size"></a> Swap Partition Size Is Configurable From the API

You can customize the size of the swap partition of a VM's memory as a percent of total memory size per instance group. This allows more refined control of memory allocation across a deployment.

For more information, see [Retrieving resources for a job](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#retrieving-resource-configuration-for-a-product) in the Ops Manager API documentation.

### <a id="expiring-certificates"></a> SAML Certificate Expiration Information Is Available From the API

You can view the expiration date for your SAML service provider certificate with the `/api/v0/deployed/certificates` endpoint, as well as rotate the certificates. 

For more information, see [Getting Information About Certificates from Products](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#getting-information-about-certificates-from-products).

### <a id='om-root-ca'></a> BOSH Director Can Require All Deployments To Trust Ops Manager Root Certificate Authority

You can enable BOSH Director to include the Ops Manager root certificate authority certificate in the trust store of every VM it deploys. This forces each VM to trust the Ops Manager root CA certificate by default.

For more information, see the **Security** section of the [BOSH Director configuration topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-4/customizing/deploy-bosh-om.html#contents).

### <a id='certificate-banner'></a> Notification Banner Appears When A Certificate Nears Expiration

Now a notification banner appears in the Ops Manager UI when a certificate needs to be rotated or replaced.  

### <a id="additional-cpi-settings"></a> IaaS-Specific Global CPI Properties Are Configurable From the API

You can provide additional global CPI properties via the `additional_cloud_properties` endpoint in the Ops Manager API. This allows you to set properties that would otherwise be unavailable in Ops Manager. The specific CPI properties you can set varies depending on your IaaS. 

After adding new global CPI properties, you can view the global CPI properties in use by sending a GET to `/api/v0/staged/director/iaas_configurations`.

For more information, see [Updating Director and IaaS Properties](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#updating-director-and-iaas-properties-experimental).

## <a id='known-issues'></a> Known Issues

### <a id="custom-banner"></a> Custom Banner Does Not Display On All Ops Manager Pages

You can set a custom banner to display on Ops Manager. Due to a visualization issue in Ops Manager, the custom banner does not display on the Stemcell library, Review Pending Changes, Change Log, and Previous Installation History pages.

