---
title: Pivotal Cloud Foundry Ops Manager v1.12 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for 2017.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a>How to Upgrade ##

The [Upgrading Pivotal Cloud Foundry](../customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v1.12.

### 1.12.0

Version 1.12.0 of Ops Manager consists of the following component versions:

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: </td>
</tr>
<tr>
  <td><code>bosh-init</code>: </td>
</tr>
<tr>
  <td>Stemcell: </td>
</tr>
<tr>
  <td>AWS CPI: </td>
</tr>
<tr>
  <td>Azure CPI: </td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: </td>
</tr>
<tr>
  <td>OpenStack CPI: </td>
</tr>
<tr>
  <td>vSphere CPI: </td>
</tr>
<tr>
  <td>UAA: </td>
</tr>
</tbody>
</table>

<hr>

## <a id='major-features'></a>New Features in Ops Manager v1.12.0

## <a id='fixes'></a> Bug Fixes

## <a id='knownissues'></a> Known Issues
