---
title: Pivotal Cloud Foundry Ops Manager v1.10 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for 2017.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a>How to Upgrade ##

The procedure for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v1.10 is documented in the [Upgrading Pivotal Cloud Foundry](../customizing/upgrading-pcf.html) topic.

### 1.10.7

* Patches CVE-2017-4992. Additional information can be found at https://pivotal.io/security.

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 261.4</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.101</td>
</tr>
<tr>
  <td>Stemcell: 3363.20</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 30.3</td>
</tr>
</tbody>
</table>


### 1.10.6

* Bumped stemcell to 3363.20

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 261.4</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.101</td>
</tr>
<tr>
  <td>Stemcell: 3363.20</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 30.1</td>
</tr>
</tbody>
</table>


### 1.10.5

* Bumped UAA to v30.1

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 261.4</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.101</td>
</tr>
<tr>
  <td>Stemcell: 3363.15</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 30.1</td>
</tr>
</tbody>
</table>

### 1.10.4

* Patches CVE-2017-4972 and CVE-2017-4973. Additional information can be found at https://pivotal.io/security.
* Fixed a bug where public IPs were incorrectly being assigned to service networks on GCP
* Operators can now use the OpsManager interface to configure the number of Director Worker threads. 
* Fixed a bug where OpsManager would display a 500 Internal Server Error when trying to export an installation.

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 261.4</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.101</td>
</tr>
<tr>
  <td>Stemcell: 3363.15</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 30</td>
</tr>
</tbody>
</table>

### 1.10.3

* Bumped Azure CPI to v23 inorder to support light stemcells on Windows. 

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 261.4</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.101</td>
</tr>
<tr>
  <td>Stemcell: 3363.14</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 27</td>
</tr>
</tbody>
</table>

### 1.10.2

* Patches USN-3249-2. Additional information can be found at https://pivotal.io/security.

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 261.4</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.101</td>
</tr>
<tr>
  <td>Stemcell: 3363.14</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 22</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 27</td>
</tr>
</tbody>
</table>

### 1.10.1

* Ops Manager can now be deployed in the Azure German Cloud. For detailed step-by-step instructions on how to deploy in the Azure German Cloud, please refer to the documentation [here](https://docs.pivotal.io/pivotalcf/1-10/customizing/azure-german-cloud.html)
* Fixed a bug where importing the installation.zip into 1.10.0 was failing with a Nil Class error. 

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 261.4</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.101</td>
</tr>
<tr>
  <td>Stemcell: 3363.10</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 22</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 27</td>
</tr>
</tbody>
</table>

### 1.10.0

Version 1.10.0 of Ops Manager consists of the following component versions:

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: v261.4</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v0.0.100</td>
</tr>
<tr>
  <td>Stemcell: 3363.x</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 22</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 27</td>
</tr>
</tbody>
</table>

## <a id='major-features'></a>New Features in Ops Manager v1.10.0

### <a id='api'></a>Ops Manager API

Operators can now use the API to automate more tasks, such as configuring tiles, uploading tiles, and fetching upgrades from Pivotal Network. 
To view the Ops Manager API documentation, browse to `https://YOUR-OPS-MANAGER-FQDN/docs`.

#### <a id='new-endpoints'></a>New Endpoints

The Ops Manager API adds the following endpoints:

* `PUT /api/v0/staged/director/network_and_az`: Operators can assign a network and singleton availability zone for the Ops Manager Director tile.
* `GET /api/v0/staged/cloud_config`: Operators can fetch a BOSH cloud config based on the staged state of Ops Manager.
* `GET /api/v0/deployed/cloud_config`: Operators can fetch a BOSH cloud config based on the deployed state of Ops Manager.
* `GET /api/v0/certificate_authorities`: Operators can list all root certificate authorities for Ops Manager.
* `POST /api/v0/certificate_authorities`: Operators can create a root certificate authority.
* `POST /api/v0/certificate_authorities/active/regenerate`: Operators can rotate non-configurable certificates by deleting all non-configuration certificates and then regenerating them.
	<p class="note"><strong>Note</strong>: For more information about using the Ops Manager API for certificate rotation, see the <a href="#certs">Certificate Rotation</a> section below.</p>
* `POST /api/v0/certificate_authorities/generate`: Operators can generate an additional root certificate authority.
* `POST /api/v0/certificate_authorities/:certificate_authority_guid/activate`: Operators can activate a root certificate authority, and make all others inactive.
* `DELETE /api/v0/certificate_authorities/:certificate_authority_guid`: Operators can delete a specific inactive certificate authority from Ops Manager.
* `POST /api/v0/staged/installations/commit`: Operators can save the installation state as if the deployment was triggered by clicking **Apply Changes**, preparing the installation manifest. Operators can then fetch the manifest using the `/api/v0/deployed/product/[product_id]/manifest` endpoint.

#### <a id='certs'></a>Certificate Rotation

Ops Manager ships with a Certificate Authority (CA). This CA generates certificates that are used for communication across various PCF components. These certificates are non-configurable. 

Ops Manager now allows you to regenerate non-configurable TLS/SSL certs using the API. See the [Rotating Non-Configurable TLS/SSL Certificates](../../security/pcf-infrastructure/api-cert-rotation.html) topic for more information.

Ops Manager also allows operators to use an API endpoint to add their own custom CA authority. If added, this custom CA will be used to sign all non-configurable certificates and deployed across all relevant PCF components.

### <a id='sha2'></a>SHA-2

Previous versions of PCF used SHA-1 hashes, while PCF v1.10 uses SHA-2 by default. Both Operations Manager installations and certificates provided by PCF use SHA-2 hashes.

You cannot obtain SHA-2 by upgrading existing environments to PCF v1.10. However, you can convert existing SHA-1 hashes into SHA-2 hashes by rotating your Ops Manager certificates by following the procedure in [Regenerating and Rotating Non-Configurable TLS/SSL Certificates](../security/pcf-infrastructure/api-cert-rotation.html). 

### <a id='azure-gov'></a>Azure Government Cloud

Operators can now deploy Ops Manager in an Azure Government Cloud environment. For more information, see the [Deploying PCF on Azure Government Cloud](../customizing/azure-gov-cloud.html) topic.

### <a id='errands'></a>Smart Errands

Errands are scripts that Ops Manager runs to automate tasks. In PCF 1.10, Ops Manager provides three configurations for errands:

* **On**: The errand always runs.
* **Off**: The errand never runs.
* **When Changed**: The errand runs only if the associated product manifest has changed since the last successful errand run.

If a tile developer does not specify a default configuration for an errand, then Ops Manager applies the **When Changed** configuration.

Operators should set errand configurations to **On** for any tile that pushes apps. For example, if your deployment includes the [Single Sign-On](http://docs.pivotal.io/p-identity/1-9/index.html), [Push Notification Service](https://docs.pivotal.io/push/1-8/index.html), or [PCF Metrics](https://docs.pivotal.io/pcf-metrics/1-3/index.html) tiles, the errands for these tiles must run automatically to keep up with buildpack patches.

See the [Managing Errands in Ops Manager](../customizing/managing_errands.html) topic for more information.

### <a id='bosh'></a> BOSH Updates

The following list sections updates in the new BOSH version that are not exposed by Ops Manager, but may be helpful for operators and tile developers for improving their workflows. 

#### BOSH Director

Ops Manager v1.10.0 uses BOSH v261, which includes the following changes to the BOSH Director:

* **Context IDs for Tasks**: The [Tasks](https://bosh.io/docs/director-api-v1.html#tasks) endpoint for the BOSH Director API includes a `context_id` property. This feature is particularly useful in tracking multiple BOSH tasks that are related. For example, PCF On-Demand Services uses it to track the multiple BOSH tasks involved in the `cf create-service` process.
* **HM Alerts as BOSH Events**: You can now view BOSH Health Monitor alerts, such as process restarts and monit alerts, with the `bosh events` command. The `bosh events` command provides a historic view of your system, including events such as the creation of VMs. For more information, see the [BOSH Events documentation](https://bosh.io/docs/events). 
* **Event filtering query parameters**: If you use v2 of the BOSH CLI, you can now use filtering flags for detailed BOSH event recording and querying. For more information, see the [BOSH Events documentation](https://bosh.io/docs/events). 

For a full list of updates and fixes in the new BOSH version that Ops Manager uses, see the [BOSH release notes](https://bosh.io/releases/github.com/cloudfoundry/bosh?all=1), beginning with [v261](https://bosh.io/releases/github.com/cloudfoundry/bosh?version=261).

#### Stemcell

Ops Manager v1.10.0 uses Stemcell 3363.10. Here are some of the major changes in Stemcell 3363: 

* Additional auditd rules
* A new group, `bosh_sshers`, assigned to the `vcap` user. Users must belong to this group to use SSH. 
* Log Agent API access events are sent in CEF format to syslog via the `vcap.agent` topic.

For a full list of updates and fixes in the new stemcell that Ops Manager uses, see the [stemcell 3363 release notes](./stemcell-rn.html).
