---
title: Pivotal Cloud Foundry Ops Manager v1.8 Release Notes
owner: Ops Manager
---

<%= partial '/shared/deprecation-notice' %>

## <a id='how-to-upgrade'></a> How to Upgrade ##

The procedure for upgrading to Pivotal Cloud Foundry Ops Manager v1.8 is documented in the [Upgrading Pivotal Cloud Foundry](https://docs.pivotal.io/pivotalcf/1-8/customizing/upgrading-pcf.html) topic.

Before you upgrade to Ops Manager v1.8, ensure that existing product tiles such as Elastic Runtime and RabbitMQ have been upgraded to a version that supports the upgrade. For specific version numbers and instructions, see [Review Product Compatibility Prerequisites](https://docs.pivotal.io/pivotalcf/1-8/customizing/upgrading-pcf.html#review-lockstep).

After you upgrade to Ops Manager v1.8, you must immediately upgrade to Elastic Runtime v1.8, as well as other specific product versions if you are using them. For required version numbers and instructions, see [Upgrade Elastic Runtime and Product Tiles](https://docs.pivotal.io/pivotalcf/1-8/customizing/upgrading-pcf.html#upgrade_products).

### <a name='update'></a>About Updating to Ops Manager v1.8.2 or Later

If you are currently on Ops Manager v1.8.0 or v1.8.1, you should update your Ops Manager.
Later versions include a major stemcell upgrade to 3263.x.
This stemcell uses the Linux kernel v4.4 instead of the v3.19.
Ubuntu no longer provides CVE patches for Linux kernel v3.19.

### 1.8.29 Patch

* This release patches Ubuntu Security Notice USN-3420-2. Additional information can be found at https://pivotal.io/security.
* Bumps stemcell to 3363.37.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Versions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell: 3363.37</td>
  </tr>
  <tr>
    <td>BOSH Director: 257.24</td>
  </tr>
  <tr>
    <td><code>bosh-init</code>: v0.0.103</td>
  </tr>
  <tr>
    <td>AWS CPI: 57</td>
  </tr>
  <tr>
    <td>Azure CPI: 20</td>
  </tr>
  <tr>
    <td>Google CPI: 25.9.0</td>
  </tr>
  <tr>
    <td>OpenStack CPI: 26</td>
  </tr>
  <tr>
    <td>vSphere CPI: 37</td>
  </tr>
  <tr>
    <td>UAA: 13.17</td>
  </tr>
  </tbody>
  </table>

### 1.8.28 Patch

* Bumps stemcell to 3363.31.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Versions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell: 3363.31</td>
  </tr>
  <tr>
    <td>BOSH Director: 257.24</td>
  </tr>
  <tr>
    <td><code>bosh-init</code>: v0.0.103</td>
  </tr>
  <tr>
    <td>AWS CPI: 57</td>
  </tr>
  <tr>
    <td>Azure CPI: 20</td>
  </tr>
  <tr>
    <td>Google CPI: 25.9.0</td>
  </tr>
  <tr>
    <td>OpenStack CPI: 26</td>
  </tr>
  <tr>
    <td>vSphere CPI: 37</td>
  </tr>
  <tr>
    <td>UAA: 13.17</td>
  </tr>
  </tbody>
  </table>

### 1.8.27 Patch

* Bumps stemcell to 3363.30.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Versions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell: 3363.30</td>
  </tr>
  <tr>
    <td>BOSH Director: 257.24</td>
  </tr>
  <tr>
    <td><code>bosh-init</code>: v0.0.103</td>
  </tr>
  <tr>
    <td>AWS CPI: 57</td>
  </tr>
  <tr>
    <td>Azure CPI: 20</td>
  </tr>
  <tr>
    <td>Google CPI: 25.9.0</td>
  </tr>
  <tr>
    <td>OpenStack CPI: 26</td>
  </tr>
  <tr>
    <td>vSphere CPI: 37</td>
  </tr>
  <tr>
    <td>UAA: 13.17</td>
  </tr>
  </tbody>
  </table>

### 1.8.26 Patch

* Bumps stemcell to 3363.29.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Versions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell: 3363.29</td>
  </tr>
  <tr>
    <td>BOSH Director: 257.24</td>
  </tr>
  <tr>
    <td><code>bosh-init</code>: v0.0.103</td>
  </tr>
  <tr>
    <td>AWS CPI: 57</td>
  </tr>
  <tr>
    <td>Azure CPI: 20</td>
  </tr>
  <tr>
    <td>Google CPI: 25.9.0</td>
  </tr>
  <tr>
    <td>OpenStack CPI: 26</td>
  </tr>
  <tr>
    <td>vSphere CPI: 37</td>
  </tr>
  <tr>
    <td>UAA: 13.17</td>
  </tr>
  </tbody>
  </table>

### 1.8.25 Patch

* Fixes a bug where cleaning up unused products could remove a currently-configured stemcell.
* Fixes a bug where configuring a thin-provisioned ephemeral disk in Ops Manager created a thick-provisioned disk in vSphere. In the **vSphere Config** section of the Director tile, if you set the **Virtual Disk Type** to **Thin** for any ephemeral disks, Ops Manager redeploys the disks after applying this patch.
* Updates the `cache-control` header value in Ops Manager HTTP responses to include `no-store`.
* Bumps UAA to 13.17.

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3363.26</td>
	</tr>
	<tr>
	  <td>BOSH Director: 257.24</td>
	</tr>
	<tr>
	  <td><code>bosh-init</code>: v0.0.103</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Azure CPI: 20</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.9.0</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 37</td>
	</tr>
	<tr>
	  <td>UAA: 13.17</td>
	</tr>
	</tbody>
	</table>


### 1.8.24 Patch

* Patches Ubuntu Security Notice USN-3334-1. Additional information can be found at https://pivotal.io/security.
* Bumps stemcell to 3363.26.

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3363.26</td>
	</tr>
	<tr>
	  <td>BOSH Director: 257.24</td>
	</tr>
	<tr>
	  <td><code>bosh-init</code>: v0.0.103</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Azure CPI: 20</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.9.0</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 37</td>
	</tr>
	<tr>
	  <td>UAA: 13.16</td>
	</tr>
	</tbody>
	</table>


### 1.8.23 Patch

* Patches Ubuntu Security Notice USN-3304-1. Additional information can be found at https://pivotal.io/security.
* Bumps stemcell to 3363.25.

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3363.25</td>
	</tr>
	<tr>
	  <td>BOSH Director: 257.24</td>
	</tr>
	<tr>
	  <td><code>bosh-init</code>: v0.0.103</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Azure CPI: 20</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.9.0</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 37</td>
	</tr>
	<tr>
	  <td>UAA: 13.16</td>
	</tr>
	</tbody>
	</table>


### 1.8.22 Patch

* Fixed a bug where Ops Manager was incorrectly setting the signature algorithm when configured with SAML. The signature algorithm is now defaulted to SHA256.
* Fixed a bug where Ops Manager was incorrectly setting the redirect uri for the BOSH UAA.
* Bumped stemcell to 3363.24.

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3363.24</td>
	</tr>
	<tr>
	  <td>BOSH Director: 257.24</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Azure CPI: 20</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.6.2</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 37</td>
	</tr>
	<tr>
	  <td>UAA: 13.15</td>
	</tr>
	</tbody>
	</table>


### 1.8.21 Patch

* Patches CVE-2017-4992. Additional information can be found at https://pivotal.io/security.

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3263.24</td>
	</tr>
	<tr>
	  <td>BOSH Director: 257.24</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Azure CPI: 20</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.6.2</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 37</td>
	</tr>
	<tr>
	  <td>UAA: 13.15</td>
	</tr>
	</tbody>
	</table>


### 1.8.20 Patch

* Bumps stemcell to 3263.24

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3263.24</td>
	</tr>
	<tr>
	  <td>BOSH Director: 257.24</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Azure CPI: 20</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.6.2</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 37</td>
	</tr>
	<tr>
	  <td>UAA: 13.13</td>
	</tr>
	</tbody>
	</table>


### 1.8.19 Patch

* Bumps UAA to v13.13

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3263.23</td>
	</tr>
	<tr>
	  <td>BOSH Director: 257.24</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Azure CPI: 20</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.6.2</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 37</td>
	</tr>
	<tr>
	  <td>UAA: 13.13</td>
	</tr>
	</tbody>
	</table>

### 1.8.18 Patch

* Patches CVE-2017-4972 and CVE-2017-4973. Additional information can be found at https://pivotal.io/security.
* Fixed a bug where public IPs were incorrectly being assigned to service networks on GCP
* Operators can now use the Ops Manager interface to configure the number of Director Worker threads. 

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3263.23</td>
	</tr>
	<tr>
	  <td>BOSH Director: 257.24</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Azure CPI: 20</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.6.2</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 37</td>
	</tr>
	<tr>
	  <td>UAA: 13.12</td>
	</tr>
	</tbody>
	</table>

### 1.8.17 Patch

* Patches USN-3249-2. Additional information can be found at https://pivotal.io/security.
* Fixed a bug where Ops Manager was not setting the correct SAML Service Provider certificate in the BOSH Director UAA.

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3263.22</td>
	</tr>
	<tr>
	  <td>BOSH Director: 257.24</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Azure CPI: 20</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.6.2</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 37</td>
	</tr>
	<tr>
	  <td>UAA: 13.9</td>
	</tr>
	</tbody>
	</table>

### 1.8.16 Patch

* Patches USN-3220-2. Additional information can be found at https://pivotal.io/security.

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3263.21</td>
	</tr>
	<tr>
	  <td>BOSH Director: 257.24</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Azure CPI: 20</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.6.2</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 37</td>
	</tr>
	<tr>
	  <td>UAA: 13.9</td>
	</tr>
	</tbody>
	</table>


### 1.8.15 Patch

* Patches USN-3208-2. Additional information can be found at https://pivotal.io/security.
* Introduced an API endpoint that customers can use to rotate all Ops Manager generated non-configurable certificates

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3263.20</td>
	</tr>
	<tr>
	  <td>BOSH Director: 257.23</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Azure CPI: 20</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.6.2</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 37</td>
	</tr>
	<tr>
	  <td>UAA: 13.9</td>
	</tr>
	</tbody>
	</table>

### 1.8.14 Patch

* Patches USN-3161-2
* Patches USN-3169-2
* Patches USN-3172-1
* Bumped the default memory of vSphere and Openstack appliances to 8GB
* Finished experimental API endpoint to assign a network and az to the director tile
* Added an API endpoint that can generate certificates signed by Certificate Authority 
* Increased Azure storage account disk limit to 150 disks per storage account 

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3263.17</td>
	</tr>
	<tr>
	  <td>BOSH Director: 257.23</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Azure CPI: 20</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.6.2</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 37</td>
	</tr>
	<tr>
	  <td>UAA: 13.9</td>
	</tr>
	</tbody>
	</table>


### 1.8.13 Patch

* Bump stemcell to patch rsyslog memory leak.
* Bump vSphere CPI to leverage more retry logic.
* Fixed issue (introduced in 1.8.11) where sometimes multiple UAA processes would start and operators would be stuck at the "Waiting for authentication to start".
* When deploying the vSphere OVA, fixed an issue (introduced in 1.8.11) where multiple DNS servers can again have spaces between them.
* Operators no longer have to unlock the appliance directly after import.
* Fixed issue where the BOSH health monitor could not send emails if authentication was required for SMTP.
* Fixed bug where AWS persistent disks were not being encrypted when desired by the Operator.
* Add encryption for AWS ephemeral disks as well, when the operator has enabled EBS encryption.
* Increased AWS ephemeral disk sizes, allowing some VMs (like BOSH director) to use a smaller machine type by default.
* Finished experimental API endpoints to get/set IaaS-related properties for configuring the director tile.
* Finished experimental API endpoint to create/update/delete the collection of networks inside the director tile.

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3263.15</td>
	</tr>
	<tr>
	  <td>BOSH Director: 257.23</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Azure CPI: 18</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.5.0</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 36</td>
	</tr>
	<tr>
	  <td>UAA: 13.9</td>
	</tr>
	</tbody>
	</table>


### 1.8.12 Patch

* Patches USN-3156-1.
* Fixes an upgrade issue where jobs in pre-1.7 products could be accidentally treated as non-singleton. In a very specific circumstance, this could have caused data loss.
* Fixes an Azure image issue where sometimes Ops Manager would be marked as Failing by Azure even though the VM appeared to be working.
* Reverted the requirement to provide a password for running "sudo" on vSphere, as some customers are running sudo commands on the Ops Manager VM via SSH in their scripts.

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3263.14</td>
	</tr>
	<tr>
	  <td>BOSH Director: 257.23</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Azure CPI: 18</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.5.0</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 26</td>
	</tr>
	<tr>
	  <td>UAA: 13.9</td>
	</tr>
	</tbody>
	</table>

### 1.8.11 Patch

* Patches USN-3151-2. Additional information can be found at https://pivotal.io/security.
* vSphere customers can now specify a custom hostname in the OVA template for the Ops Manager VM
* Ops Manager now exposes a Director flag called keep\_unreachable\_vms that prevents the Director from deleting VMs that are unreachable
* Ops Manager now uses stronger cipher suites for SSL termination, which requires TLS1.2 when communicating with it or the UAA attached to it.
* Customers running Ops Manager on Azure can now enter a resource group name in the network definition. The allows customers to separate networks by resource group

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3263.12</td>
	</tr>
	<tr>
	  <td>BOSH Director: 257.23</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 26</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.5.0</td>
	</tr>
	<tr>
	  <td>Azure CPI: 18</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	</tbody>
	</table>

### 1.8.10 Patch

* Patches CVE-2016-6657. Additional information can be found at https://pivotal.io/security.
* Fixed a bug that was preventing UAA clients from using the Ops Manager API.

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3263.8</td>
	</tr>
	<tr>
	  <td>BOSH Director: 257.15</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 26</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.5.0</td>
	</tr>
	<tr>
	  <td>Azure CPI: 18</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	</tbody>
	</table>

### 1.8.9 Patch

* Ops Manager can now be deployed on Microsoft's Azure Cloud Platform. Please refer to docs.pivotal.io for detailed step-by-step instructions.

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3263.8</td>
	</tr>
	<tr>
	  <td>BOSH Director: 257.15</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 26</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.5.0</td>
	</tr>
	<tr>
	  <td>Azure CPI: 18</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	</tbody>
	</table>


### 1.8.8 Patch

* Patches USN-3106-2. Additional information can be found at https://pivotal.io/security.

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3263.8</td>
	</tr>
	<tr>
	  <td>BOSH Director: 257.15</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 26</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.4.1</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	</tbody>
	</table>

### 1.8.7 Patch

* Patches USN-3099-2. Additional information can be found at https://pivotal.io/security.
* Ops Manager can now be deployed on AWS M4 machine types.
* Added a flag to the Director manifest that flushes [ARP entries](https://github.com/cloudfoundry/bosh-notes/blob/master/finished/forceful-arp.md).

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3263.7</td>
	</tr>
	<tr>
	  <td>BOSH Director: 257.15</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 26</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.4.1</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	</tbody>
	</table>

### 1.8.6 Patch

* Patches CVE 2016-6655. Additional information can be found at https://pivotal.io/security.

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3263.4</td>
	</tr>
	<tr>
	  <td>BOSH Director: 257.15</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 26</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.4.1</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	</tbody>
	</table>

### 1.8.5 Patch

* Ops Manager can now be deployed on Google Cloud Platform. Please refer to docs.pivotal.io for detailed step-by-step instructions.

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3263.4</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 26</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>Google CPI: 25.4.1</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	</tbody>
	</table>


### 1.8.4 Patch

* Fixed a bug that prevented users from having special characters and spaces while defining AZ names in Ops Manager.

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3263.4</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 26</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	</tbody>
	</table>


### 1.8.3 Patch

* Patches USN-3087-2. Additional information can be found at https://pivotal.io/security.

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3263.3</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 26</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	</tbody>
	</table>

### 1.8.2 Patch

* Bumped Linux kernel to v4.4

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3263.2</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 26</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	</tbody>
	</table>

### 1.8.1 Patch

* Patches CVE-2016-6651. Additional information can be found at https://pivotal.io/security.

	<table border="1" class="nice">
	<thead>
	<tr>
	  <th>Versions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td>Stemcell: 3262.12</td>
	</tr>
	<tr>
	  <td>vSphere CPI: 26</td>
	</tr>
	<tr>
	  <td>AWS CPI: 57</td>
	</tr>
	<tr>
	  <td>OpenStack CPI: 26</td>
	</tr>
	</tbody>
	</table>

### 1.8.0
## <a id='major-features'></a> New Features in Ops Manager v1.8.0

### <a id='bosh'></a> BOSH Updates

Ops Manager now generates BOSH 2.0 manifests and has enabled BOSH link support. For more information on using BOSH links see the [BOSH documentation](https://bosh.io/docs/links.html).

### <a id='service-networks'></a> Support for Service Networks

Ops Manager allows Operators to create a Service Network. Service Networks are used to dynamically provision VMs for on-demand services. For an example of how to enable a Service Network in Ops Manager, see [Configuring Ops Manager Director on AWS](https://docs.pivotal.io/pivotalcf/1-8/customizing/cloudform-om-config.html#network).

### <a id='pivnet_token'></a> Pivotal Network Integration

Operators can choose to enter their Pivotal Network token into Ops Manager and download product tile updates from within the Ops Manager UI. See the [Using Pivotal Network API to Upgrade Products](https://docs.pivotal.io/pivotalcf/1-8/customizing/add-delete.html#pivnet-api) for more information.

### <a id='new_endpoints'></a> New Ops Manager API Endpoints and Redesigned API Documentation

This release also introduces many new API endpoints, including:

   * Configuring product tiles
   * Configuring Ops Manager authentication
   * Downloading product updates from PivNet
   * Viewing logs and credentials
   * Errands
   * Resources Assigned to a Job

For more information on API endpoints, see the Ops Manager API documentation, which has been updated to appear in a new format.

Visit http<span>s</span>://YOUR-OPSMAN/docs to view the Ops Manager API documentation included with your Ops Manager installation.

### <a id='settings'></a> Ops Manager Settings Page

Ops Manager has a consolidated Settings page which includes the following fields:

   * Decryption Passphrase
   * Authentication Method
   * External API Access
   * Proxy Settings
   * Export Installation Settings
   * Advanced

See the [Understanding the Ops Manager Interface](https://docs.pivotal.io/pivotalcf/1-8/customizing/pcf-interface.html) topic for more information.

### <a id='resource_config'></a> Custom Instance Counts in Ops Manager Director Resource Config

Operators can now enter custom values in the Instances column of the Resource Config page in Ops Manager Director. For example, see [Configuring Ops Manager Director on AWS](https://docs.pivotal.io/pivotalcf/1-8/customizing/cloudform-om-config.html#resource-config).

### <a id='vsphere'></a> vSphere Admin Default Password Requirement

Customers using vSphere are now required to enter a default admin password in their OVA or TAR template. Failure to do so will result in the VM to not boot up. Additional information can be found at [Installing Pivotal Cloud Foundry on vSphere](https://docs.pivotal.io/pivotalcf/1-8/customizing/vsphere.html).

### <a id='dualhomebosh'></a> Dual-Home Ops Manager Director (BOSH Director)

Customers can now dual-home their Ops Manager Director (BOSH Director) starting with new deployments of v1.8.0. This release includes a new BOSH networking release with the RPFilter necessary for dual-homing scenarios.

Additionally, customers using the dual-homed feature in Ops Manager v1.6 can now import their installations into v1.8.0 and continue to use the dual-homed Ops Manager Director.

<p class="note"><strong>Note</strong>: When using the dual-home feature, the Ops Manager Director and all compilation VMs run on the infrastructure network.
Verify that you have sufficient IP space on the infrastructure network before deploying a dual-home Director configuration.</p>

For more information on how to use the dual-homing feature, see the corresponding [Knowledge Base](https://discuss.zendesk.com/hc/en-us/articles/222027247) article.

### <a id='hostnameforboshdirector'></a> Hostname for Ops Manager Director

Operators can now specify a custom hostname for the Ops Manager Director in the Director Config page. For example, see [Configuring Ops Manager Director on AWS](https://docs.pivotal.io/pivotalcf/1-8/customizing/cloudform-om-config.html#director-config). This hostname can be set to a load balancer as described in [How to set up a load balancer in front of Ops Manager Director](https://discuss.pivotal.io/hc/en-us/articles/225420588).

### <a id='boshcompilerflag'></a> BOSH Manifest Flag to Remove Compilers

This release adds a flag to the BOSH manifest that removes compilers.

### <a id='boshretries'></a> BOSH Director Retries Disabled by Default

In this release BOSH Director retries are turned off by default. You can enable BOSH Director retries in the Director Config page of Ops Manager Director. For example, see [Configuring Ops Manager Director on AWS](https://docs.pivotal.io/pivotalcf/1-8/customizing/cloudform-om-config.html#director-config).

### <a id='postdeployscripts'></a> Support for Post Deployment Scripts

Ops Manager now supports configuring the appropriate settings in the Director to run post deploy scripts. This setting can be toggled on the Director Config form. For example, see [Configuring Ops Manager Director on AWS](https://docs.pivotal.io/pivotalcf/1-8/customizing/cloudform-om-config.html#director-config).

## <a id='tileauthorchanges'></a> Changes in Ops Manager v1.8.0 for Tile Authors

* Tile authors can mark their tiles as a service broker by setting `service_broker: true`.
* `instance_definition` and `resource_definition` no longer require that you specify the type as integer.
* Tile authors no longer need to manage compilation jobs. Ops Manager now deploys the BOSH Director with a master compilation job. Older tiles that specify compilation jobs will not be affected.
* Individual property blueprints can now be frozen after a deploy by using `freeze_on_deploy`.
* Ops Manager supports BOSH links and has introduced `provides` and `consumes` keys.
* Tile Authors can now issue a lite version of their tiles that do not contain packaged releases. Tile authors can specify a `base_releases_url`, which will prompt BOSH to download the releases from the specified URL.
* Tile authors can now specify a `dropdown_select` under `collections`.
* New property blueprints:
   * `vm_type_dropdown`
   * `disk_type_dropdown`
   * `service_network_az_single_select`
   * `service_network_az_multi_select`
* New accessors:

   * `(( $self.uaa_client_name ))`
   * `(( $self.uaa_client_secret ))`
   * `(( $ops_manager.http_proxy ))`
   * `(( $ops_manager.https_proxy ))`
   * `(( $ops_manager.no_proxy ))`
   * `(( $director.hostname ))`
   * `(( .deployment_name ))` or `(( ..cf.deployment_name ))`
   * `(( $director.ca_public_key ))`
   * `(( $self.stemcell_version ))`
   * `(( $self.service_network ))` <br/><br/>  For more information on how to use accessors, refer to [About PCF Tiles](http://docs.pivotal.io/partners/tiles.html) in the _Pivotal Cloud Foundry Partner Guide_.

* Deprecated accessors:
   * `(( availability_zone ))`
   * `(( bosh_job_partition_stats ))`

## <a id='known-issues'></a> Known Issues

This section lists known issues with Ops Manager.

###<a id='services-network'></a>On-Demand Services Require Dedicated Service Networks

If you use any service tile that offers both on-demand and not on-demand modes of operation, clicking **Apply Changes** in Ops Manager fails if you did not
define a dedicated service network for the tile.

To work around this issue, use one of the following methods:

* Create a services network on your IaaS for each affected service tile
* Create a dummy network in Ops Manager, reserve a block of IP ranges, and disable smoke tests for the on-demand service

For more information, see the corresponding [Knowledge Base](https://discuss.pivotal.io/hc/en-us/articles/115010154387) article.

###<a id='aws-regions'></a>Ops Manager Fails to Connect to Newly Supported AWS Regions

Ops Manager v1.8.24 publishes AMIs to the following newly supported AWS regions:

* ap-south-1
* ca-central-1
* eu-west-2
* us-east-2

If you deploy Ops Manager using one of the new regions above and select **Use AWS Instance Profile** in the **AWS Config** tab, Ops Manager displays a network connectivity issue.

To work around this issue, go to the **AWS Config** tab and select the **Use AWS Keys** option.

For more information, see the corresponding [Knowledge Base](https://discuss.pivotal.io/hc/en-us/articles/115009684148) article.

### <a id='pers-disk'></a> Persistent Disk Provisioning Error on Azure

On PCF on Azure deployments, BOSH sometimes returns an error when provisioning persistent disks. The error resembles the following:

```
Persistent disk with volume id 'SOME-ID' could not be found.
```
This error can occur when deploying the BOSH director itself or another product in Ops Manager. To workaround this issue, retry the deployment.

### <a id='service_networks'></a> Firewall Rules and Service Networks in GCP

On PCF for GCP deployments, Ops Manager service network VMs are not assigned the correct firewall rules. As a result, these VMs cannot communicate with the BOSH Director and service tiles that use the [On-Demand Service Broker (ODB)](https://docs.pivotal.io/on-demand-service-broker/) fail to create service instances.

As a workaround, if you are deploying a service network in GCP, modify your firewall to use subnet CIDR-based rules.

## <a id='bug-fixes'></a> Bug Fixes

* Fixed an issue with rollbacks in case of database import failures during upgrades
* Fixed an issue where Metrics IP address was not getting propagated into the BOSH manifest
* Fixed an issue where errands were failing to run on a deploy
* Fixed an issue where Static IP assignments were not being cleared correctly
* Fixed an issue where re-saving the Networks and AZs form on product tiles was throwing a misleading error
* Fixed API endpoint to log out all active sessions
* Fixed an issue that allowed for multiple AZs to have the same name

