---
title: PCF Ops Manager v2.3 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a> How to Upgrade

The [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivoAztalcf/2-3/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v2.3.

### 2.3 Alpha

<!-- Ops Manager v2.3.0 uses the following component versions:

 <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3586.24</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.6</td>
  </tr><tr>
    <td>BOSH Director</td><td>266.5</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.6</td>
  </tr><tr>
    <td>CredHub</td><td>1.9.3</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>57.3</td>
  </tr><tr>
    <td>AWS CPI</td><td>70</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.2</td>
  </tr><tr>
    <td>GCP CPI</td><td>27</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>38</td>
  </tr><tr>
    <td>vSphere CPI</td><td>50</td>
  </tr><tr>
  </tbody>
  </table> -->


<hr>


## <a id='major-features'></a> New Features in Ops Manager v2.3

Ops Manager v2.3 includes the following major features:

None at this time.