---
title: Pivotal Cloud Foundry Ops Manager v1.11 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for 2017.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a>How to Upgrade ##

The procedure for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v1.11 is documented in the [Upgrading Pivotal Cloud Foundry](../customizing/upgrading-pcf.html) topic.

### 1.11.0

Version 1.11.0 of Ops Manager consists of the following component versions:

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: v262</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v0.0.100</td>
</tr>
<tr>
  <td>Stemcell: 3421.3</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 22</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 27</td>
</tr>
</tbody>
</table>

## <a id='major-features'></a>New Features in Ops Manager v1.11.0

### <a id='ops-man-api'></a>Ops Manager API

Operators can now use the API to trigger an installation process only for Ops Manager Director, skipping the deployment of all other products that have pending changes in Ops Manager. For more information about using this Ops Manager API feature, see the[Applying Changes to Ops Manager Director](../customizing/deploy-ops-man-director.html)topic.

### <a id='logging'></a>Improved Logging for the Ops Manager VM

Ops Manager v1.11.0 logs all activity of commands on the Ops Manager VM using Audit D. 

### <a id='vm-hardening'></a>Ops Manager VM Hardening

The Ops Manager VM is now built on the stemcell. For enhanced security to maintain consistency with industry standards, Ops Manager VMs should now pass security scans with the same success rates as other BOSH-deployed VMs.

### <a id='nsx-integration'></a>NSX Integration

Operators can use Ops Manager 1.11 to configure their Bosh Director to talk to NSX. Ops Manager 1.11 supports NSX-V 6.2+.

Ops Manager has API endpoints to configure NSX security groups and load balancers on vSphere appliances. For more information on this feature, see the [Configuring Ops Manager Director for VMware vSphere](../customizing/vsphere-config.html#vcenter-config) topic.

### <a id='azure-managed'></a>Azure Managed Disk
Ops Manager now allows operators to deploy using Azure's new fully managed storage service. With this new service, users no longer have to manually manage their storage capacity. For more information on how to use the managed disk feature, see the [Configuring Ops Manager Director on Azure](../customizing/azure-om-config.html) topic.


### <a id='errands'></a>BOSH CLI v2 Support

Ops Manager v1.11.0 supports both the BOSH CLI v1 and the BOSH CLI v2. You can use either version of the CLI to manage your deployment. For more information about the BOSH CLI v2, see the [BOSH documentation](https://bosh.io/docs/cli-v2.html) topic.

### <a id='bosh'></a> BOSH Updates
The following list sections updates in the new BOSH version that are not exposed by Ops Manager, but may be helpful for operators and tile developers for improving their workflows.

#### BOSH Director

Ops Manager v1.11.0 uses BOSH v262, which includes the following changes to the BOSH Director:

+ Integration with upcoming `bbr` binary for backups/restore
  + Added `bin/bbr/backup` and `bin/bbr/restore` scripts to director and blobstore jobs
+ Integration with CredHub for secure configuration management
  + Added `variables` CLI command to list which variables are in use by a deployment
+ Added `bosh.releases.upload` and `bosh.stemcells.upload` UAA scopes to allow release and stemcell uploads

For a full list of updates and fixes in the new BOSH version that Ops Manager uses, see the [BOSH release notes](https://bosh.io/releases/github.com/cloudfoundry/bosh?all=1), beginning with [v262](https://bosh.io/releases/github.com/cloudfoundry/bosh?version=262).


#### Stemcell
Ops Manager v1.11.0 uses Stemcell 3421.3. Below is the major change in Stemcell 3421.3:

+ Bump Ubuntu stemcells for USN-3304-1: Sudo vulnerability

### <a id='CredHub'></a> Introducing CredHub

CredHub is a centralized credential management component for your PCF deployment. CredHub secures credential generation, storage, lifecycle management, and access.

Learn more about CredHub in the [CredHub documentation](../credhub/index.html).

### <a id='bosh'></a> All Director Logs Go to SysLog

The BOSH Director now sends all logs to SysLog, an external storage tool intended to preserve logs in case of catastrophic deployment loss. 

Learn more about SysLog in the [SysLog documentation](http://docs.pcf.io/tiledev/nozzle.html#syslog-format-pcf).

Learn how to set up SysLog in the _Configuring Ops Manager Director_ topic specific to your IaaS. 

<table>
 <tr>
  <th>Your IaaS provider</th>
  <th>Configuration topic</th>
 </tr>
 <tr>
  <td>AWS</td>
  <td><a href="../customizing/cloudform-om-config.html">Configuring Ops Manager Director on AWS</a></td>
 </tr>
 <tr>
  <td>Azure</td>
  <td><a href="../customizing/azure-om-config.html">Configuring Ops Manager Director on Azure</a></td>
 </tr>
 <tr>
  <td>GCP</td>
  <td><a href="../customizing/gcp-om-config.html">Configuring Ops Manager Director on GCP</a></td>
 </tr>
 <tr>
  <td>OpenStack</td>
  <td><a href="../customizing/openstack-om-config.html">Configuring Ops Manager Director on OpenStack</a></td>
 </tr>
 <tr>
  <td>vSphere</td>
  <td><a href="../customizing/vsphere-config.html">Configuring Ops Manager Director on vSphere</a></td>
 </tr>
</table>

### <a id='fixes'></a> Bug Fixes
+ Ops Manager 1.11.0 fixes a bug where Ops Manager was incorrectly setting the signature algorithm when configured with SAML. 
+ The signature algorithm is now defaulted to SHA256.
+ Ops Manager 1.11.0 fixes a bug where Ops Manager was incorrectly setting the redirect URI for the BOSH UAA.
+ Ops Manager no longer reserves 2 IPs for every requested Static IP.

## <a id='knownissues'></a> Known Issues

This section lists known issues for Ops Manager v1.11.

###<a id='log'></a>Changelog Does Not Display
When your deployment includes more than one tile, viewing the logs for your deploy by clicking **Changelog** on the Ops Manager Installation Dashboard fails.

To view the logs, add `.txt` to the URL for the log to download it as a raw text file.  

For more information, see the corresponding [Knowledge Base](https://discuss.pivotal.io/hc/en-us/articles/115008775808) article.

###<a id='incorrect-help'></a>Incorrect Help Text

For operators using vSphere, the **vCenter Config** section in Ops Manager v1.11.0 provides incorrect help text under **NSX Networking**. Enter your username and password for the NSX manager, not vCenter.