---
title: PCF Ops Manager Release v2.2 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a> How to Upgrade

The [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/2-2/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v2.2.

### 2.2 Beta 4

* **[Security Fix]** Bumps stemcell to 3586.16
* Fixes Azure Registry and unicode issue

 <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3586.16*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.6</td>
  </tr><tr>
    <td>BOSH Director</td><td>265.2</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.5.0</td>
  </tr><tr>
    <td>CredHub</td><td>1.9.1</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>57*</td>
  </tr><tr>
    <td>AWS CPI</td><td>70</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.2</td>
  </tr><tr>
    <td>GCP CPI</td><td>27</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>38</td>
  </tr><tr>
    <td>vSphere CPI</td><td>49</td>
  </tr><tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### 2.2 Beta 3

* Bumps CredHub to v1.9.1
* Bumps UAA to v57
* Bumps vSphere CPI to v49

 <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3586.7</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.6</td>
  </tr><tr>
    <td>BOSH Director</td><td>265.2</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.5.0</td>
  </tr><tr>
    <td>CredHub</td><td>1.9.1*</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>57*</td>
  </tr><tr>
    <td>AWS CPI</td><td>70</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.2</td>
  </tr><tr>
    <td>GCP CPI</td><td>27</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>38</td>
  </tr><tr>
    <td>vSphere CPI</td><td>49*</td>
  </tr><tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### 2.2 Beta 1

* **[Security Fix]** Bumps stemcell to v3586.7
* Bumps AWS to v70
* Bumps OpenStack to v38
* Bumps vSphere to v48
* Bumps BBR SDK to v1.6
* Bumps Syslog to v11.3

 <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3586.7*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.6*</td>
  </tr><tr>
    <td>BOSH Director</td><td>265.2</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.5.0</td>
  </tr><tr>
    <td>CredHub</td><td>1.7.1</td>
  </tr><tr>
    <td>Syslog</td><td>11.3*</td>
  </tr><tr>
    <td>UAA</td><td>55</td>
  </tr><tr>
    <td>AWS CPI</td><td>70*</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.2</td>
  </tr><tr>
    <td>GCP CPI</td><td>27</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>38*</td>
  </tr><tr>
    <td>vSphere CPI</td><td>48*</td>
  </tr><tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>


### 2.2 Alpha 2

* Bumps Stemcell to 3541.12
* Bumps BOSH Director to v265.2
* Bumps Azure to v35.2
* Enables BOSH DNS

 <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3541.12*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.4.4</td>
  </tr><tr>
    <td>BOSH Director</td><td>265.2*</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.5.0*</td>
  </tr><tr>
    <td>CredHub</td><td>1.7.1</td>
  </tr><tr>
    <td>UAA</td><td>55</td>
  </tr><tr>
    <td>AWS CPI</td><td>69</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.2*</td>
  </tr><tr>
    <td>GCP CPI</td><td>27</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>37</td>
  </tr><tr>
    <td>vSphere CPI</td><td>45.1.0</td>
  </tr><tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### 2.2 Alpha 1

Ops Manager v2.2 uses the following component versions:

 <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3541.8</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.4.4</td>
  </tr><tr>
    <td>BOSH Director</td><td>265.1</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.3.0</td>
  </tr><tr>
    <td>CredHub</td><td>1.7.1</td>
  </tr><tr>
    <td>UAA</td><td>55</td>
  </tr><tr>
    <td>AWS CPI</td><td>69</td>
  </tr><tr>
    <td>Azure CPI</td><td>35</td>
  </tr><tr>
    <td>GCP CPI</td><td>27</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>37</td>
  </tr><tr>
    <td>vSphere CPI</td><td>45.1.0</td>
  </tr><tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

<hr>


## <a id='major-features'></a> New Features in Ops Manager v2.2

### <a id='multi-dc'></a> Multiple Data Centers on vSphere

Ops Manager now allows you to configure multiple vSphere vCenters to a single BOSH Director.

You can add additional data centers in the **vSphere Config** pane of your vSphere BOSH Director tile. For more information about how to add, edit, and delete vCenters, see [Managing Multiple vSphere vCenters](http://docs.pivotal.io/pivotalcf/2-2/customizing/multiple-datacenters.html).

<p class="note"><strong>Note: </strong>If you use the Ops Manager API and multiple vSphere configs exist, the GET HTTP request for Director properties omits the <code>iaas_configuration</code> key.</p>

### <a id="selective-deploy"></a> (Beta) Selectively Deploy Ops Manager Tiles

You can now choose to deploy a selection of tiles rather than all tiles in Ops Manager. If you choose to selectively deploy your environment, you can drastically reduce the time to **Apply Changes**. This feature is ideal for operators who have tracked their changes to specific tiles and want to avoid unnecessary tile deployments.

<p class="note"><strong>Note</strong>: Do not use selective deploy immediately after upgrading to 2.2. Instead, redeploy all components once using **Apply Changes** on the Ops Manager dashboard, and use selective deploy for subsequent changes. For more information, see <a href="https://docs.pivotal.io/pivotalcf/2-2/pcf-release-notes/breaking-changes.html#bosh-dns">Redeploy All Products After Upgrading to 2.2</a>.</p>

This feature is currently in beta. To access this feature, click **Review Pending Changes** underneath the **Apply Changes** button in the Ops Manager Installation Dashboard. For more information, see [Reviewing Pending Changes with Ops Manager](https://docs.pivotal.io/pivotalcf/2-2/customizing/selective-deploy.html).

<p class="note"><strong>Note</strong>: Ops Manager is soliciting feedback for this feature. Submit feedback through your product architect or directly by emailing <a href="mailto:opsmanager-feedback+selective_deploys@pivotal.io">opsmanager-feedback+selective_deploys@pivotal.io</a>.</p>


### <a id="azure-china"></a> Ops Manager Supports Azure China

Ops Manager now supports a special region in Azure called Azure China. Azure China is a physically separated instance of cloud services that is located in China and independently operated. For more information about Azure China, see [What is Azure China 21Vianet?](https://docs.microsoft.com/en-us/azure/china/china-welcome) in the Azure China documentation.

To tell the BOSH Director that you are using an Azure China environment, go to the BOSH Director tile and select `Azure China Cloud` from the **Azure Environment** field. For more information, see [Azure Config Page](https://docs.pivotal.io/pivotalcf/2-0/customizing/azure-om-config.html#azure-config) in the _Configuring Ops Manager on Azure_ manual installation topic.

### <a id="om-credhub"></a> Ops Manager Credentials Stored in CredHub

On each **Apply Changes**, Ops Manager sends your user-specified credentials to BOSH CredHub. This feature offers greater security for your credentials. For more information about where Ops Manager stores your credentials, see [BOSH CredHub](https://docs.pivotal.io/pivotalcf/credhub/index.html#bosh).

For information about how this feature affects tile authors, see [PCF v2.2 Partners Release Notice](https://docs.pivotal.io/tiledev/2-2/release-notes-2-2.html#om-credhub) in the _PCF Tile Developer Guide_.

### <a id='secret-text-field'></a> Multi-Line Credentials

Ops Manager v2.2 now supports text areas for any type of multi-line credential. If you want a `secret` property to use a text area instead of the default single-line text field, you must set `display_type` to `text_area` in the `property_inputs` section of your property blueprint, as in the example below.

```
property_inputs:
  - reference: secret_meaning
    label: 'Secret Meaning'
    description: 'If you play it backwards...'
    display_type: 'text_area'
```

For more information, see the [Custom Forms and Properties](http://docs.pivotal.io/pivotalcf/2-2/tile-generator.html#custom-forms) section of the _Tile Generator_ topic.

### <a id="custom-ssl"></a> Specify a Custom Trusted SSL Certificate

Operators can specify a custom trusted SSL certificate and key for the Ops Manager server so that traffic isn't exposed to man-in-the-middle attacks when using Ops Manager.

By default, Ops Manager uses an auto-generated self-signed certificate. To change this configuration to your own SSL certificate, navigate to **Settings** from the Ops Manager Installation Dashboard and select the **SSL Certificate** pane to enter your **Certificate** and **Private Key**.

For more information about navigating the Ops Manager Settings page, see [Settings Page](http://docs.pivotal.io/customizing/pcf-interface.html#settings) in the _Understanding the Ops Manager Interface_ topic.

<p class="note"><strong>Note:</strong> Custom SSL certificate and key is persisted between upgrades. Custom SSL only needs a one-time configuration.</p>

### <a id="om-syslog"></a> Configure an Ops Manager Syslog Server

You can configure a syslog server for Ops Manager logs. Logs include rails production logs, audit logs, UAA logs, nginx logs, and upstart logs for Ops Manager processes as well as additional log types. Previous to this change, Ops Manager logs were not centralized in one accessible location. You also have the option to TLS-encrypt your logs.

To configure syslog for Ops Manager, go to **Syslog** from Ops Manager **Settings**, select **Yes** to enable syslog and fill the required fields.

For more information about configuring syslog for Ops Manager, see [Settings Page](http://docs.pivotal.io/customizing/pcf-interface.html#settings) in the _Understanding the Ops Manager Interface_ topic.

<p class="note"><strong>Note:</strong> When you configure syslog, Ops Manager does not validate your credentials. Test your syslog server to ensure that it is receiving Ops Manager logs.</p>

<p class="note breaking"><strong>Breaking Change:</strong> If you were running scripts to get Ops Manager logs, those scripts break on upgrade to Ops Manager v2.2 and later.</p>

### <a id="tls-blobstore"></a> TLS for Internal Blobstore Supported

Ops Manager now supports TLS communications if you choose to use an internal blobstore.

To enable internal blobstore TLS communication, all of your tiles must have stemcells v3468 or later. If your tiles meet this requirement, disable the **Allow Legacy Agents** checkbox in the **Director Config** pane of your BOSH Director tile.

### <a id='tls-external-db'></a> Custom TLS Certificate for External MySQL Database Supported

Ops Manager now allows you to configure a custom TLS certificate for an external MySQL database.

To configure a custome TLS certificate, navigate to **Director Config > Database Location** and select **External MySQL Database** to see the **Enable TLS** checkbox and the **TLS CA**, **TLS Certificate**, **TLS Private Key**, and **Advanced DB Connection Options** fields.

<p class='note'><strong>Note:</strong> You can only configure the TLS-related field if you check the <strong>Enable TLS for Director Database</strong> checkbox. Otherwise, all the other fields will remain greyed out.</p>

For more information, see the **Director Config Page** section of any IaaS-specific Ops Manager configuration topic, such as [Configuring BOSH Director on GCP](https://docs.pivotal.io/pivotalcf/2-2/customizing/gcp-om-config.html#director-config).

### <a id="excluded-recursors"></a> Specify Excluded Recursors

In the **Director Config** pane, you can now enter **Excluded Recursors** as a comma-separated list. This list specifies which IPs and ports you want to exclude from the DNS server. For more information, see [Director Config Page](http://docs.pivotal.io/pivotalcf/2-2/customizing/gcp-om-config.html#director-config).

### <a id="ui-changes"></a> UI Improvements to Ops Manager Installation Dashboard

The following lists UI changes to the Ops Manager Installation Dashboard:

- **Stemcell Library** is persistently in the page header. You can now access Stemcell Library from anywhere in Ops Manager, including from within tiles.
- **Changelog** is persistently in the page header. You can now access the changelog from anywhere in Ops Manager.
- **Review Pending Changes BETA** button is below **Apply Changes**. For more information about this feature, see [Selectively Deploy Ops Manager Tiles](#selective-deploy).

For more information about the Ops Manager UI, see [Installation Dashboard Page](https://docs.pivotal.io/pivotalcf/2-2/customizing/pcf-interface.html#installation-dashboard) in the _Understanding the Ops Manager Interface_ topic.


## <a id="known-issues"></a> Known Issues

No known issues at this time.
