---
title: PCF Ops Manager v1.12 Release Notes
owner: Ops Manager
---

<%= partial '/shared/deprecation-notice' %>

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a> How to Upgrade

The [Upgrading Pivotal Cloud Foundry](https://docs.pivotal.io/pivotalcf/1-12/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v1.12.

## <a id="releases"></a> Releases

### <a id="1-12-25"></a> 1.12.25

* **[Security Fix]** Bumps stemcell to 3445.64
* Bumps BOSH Director to v263.12

Ops Manager v1.12.25 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.64*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.12*</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.11</td>
    </tr><tr>
      <td>AWS CPI</td><td>69</td>
    </tr><tr>
      <td>Azure CPI</td><td>34</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>45.1</td>
    </tr><tr>
  </tbody>
    <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-24"></a> 1.12.24

Ops Manager v1.12.24 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.55*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.11</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.11</td>
    </tr><tr>
      <td>AWS CPI</td><td>69</td>
    </tr><tr>
      <td>Azure CPI</td><td>34</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>45.1.0</td>
    </tr><tr>
  </tbody>
    <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-23"></a> 1.12.23

* **[Bug Fix]**: Ops Manager now verfies certificates successfully when connecting to S3 blobstores with TLS. For more information, see [Operations Manager Validation returns TLS error when configuring Bosh Director S3 blobstore](https://pvtl.force.com/s/article/Operations-Manager-Validation-returns-TLS-error-when-configuring-Bosh-Director-S3-blobstore).
* **[Bug Fix]**: You can now delete an unused AZ in an installation after clicking **Apply Changes**.
* **[Security Fix]**: Bumps Nogokiri to 1.8.4 to remediate [CVE-2017-15412](https://cve.mitre.org/
cgi-bin/cvename.cgi?name=CVE-2017-15412). 

Ops Manager v1.12.23 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.53*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.11</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.11*</td>
    </tr><tr>
      <td>AWS CPI</td><td>69</td>
    </tr><tr>
      <td>Azure CPI</td><td>34</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>45.1.0</td>
    </tr><tr>
  </tbody>
    <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-22"></a> 1.12.22

* **[Bug Fix]**: You can now delete the only AZ in an installation.
* **[Bug Fix]**: You can now delete the first AZ in an installation, provided that it is not associated with a deployed product. 
* **[Bug Fix]**: You can now delete the only network in an installation.
* **[Security Fix]**: On vSphere, the `ubuntu` user must enter their password when using `sudo`. 
* **[Security Fix]**: Bumps Sprockets to v3.72 or later for CVE. See [[CVE-2018-3760] Path Traversal in Sprockets](https://groups.google.com/forum/#!topic/ruby-security-ann/2S9Pwz2i16k) for more information.

Ops Manager v1.12.22 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.51*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.11*</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.8</td>
    </tr><tr>
      <td>AWS CPI</td><td>69</td>
    </tr><tr>
      <td>Azure CPI</td><td>34</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>45.1.0</td>
    </tr><tr>
  </tbody>
    <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-21"></a> 1.12.21

* **[Security Fix]** Bumps stemcell to 3445.48.
* **[Bug Fix]** Helps alleviate Ruby's susceptibility to high memory usage. May prevent the Ops Manager VM from running out of memory during a long VM lifecycle.
* **[Bug Fix]** Ops Manager UI shows product job log download link only once per instance group rather than for all instances.
* **[Bug Fix]** The Ops Manager API endpoint `/api/v0/deployed/certificates` now lists all RSA certificates.


Ops Manager v1.12.21 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.48*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.10</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.8*</td>
    </tr><tr>
      <td>AWS CPI</td><td>69</td>
    </tr><tr>
      <td>Azure CPI</td><td>34</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>45.1.0</td>
    </tr><tr>
  </tbody>
</table>

### <a id="1-12-20"></a> 1.12.20

* **[Feature]** Makes Azure network and resource group matchers case-insensitive.
* **[Bug Fix]** Backports `GET /api/v0/staged/director/networks` to older releases.

Ops Manager v1.12.20 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.45*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.10</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.8*</td>
    </tr><tr>
      <td>AWS CPI</td><td>69</td>
    </tr><tr>
      <td>Azure CPI</td><td>34</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>45.1.0</td>
    </tr><tr>
  </tbody>
</table>

### <a id="1-12-19"></a> 1.12.19

* **[Security Fix]** Bumps stemcell to 3445.45
* **[Bug Fix]** The credentials API endpoints for deployed products do not include secrets. For more information about these API endpoints, see [Viewing available credentials](https://opsman-dev-api-docs.cfapps.io/#viewing-available-credentials) and [Fetching credentials](https://opsman-dev-api-docs.cfapps.io/#fetching-credentials) in the Ops Manager API documentation.

Ops Manager v1.12.19 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.45*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.10</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.8*</td>
    </tr><tr>
      <td>AWS CPI</td><td>69</td>
    </tr><tr>
      <td>Azure CPI</td><td>34</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>45.1.0</td>
    </tr><tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-18"></a> 1.12.18

* **[Security Fix]** Bumps stemcell to 3445.42
* **[Bug Fix]** Adds support to nested credentials when you `GET` from the product credentials `/api/v0/deployed/products/:product_guid/credentials` endpoint in the Ops Manager API. In addition, when you `GET` from the credential reference `/api/v0/deployed/products/:product_guid/credentials/:credential_reference` endpoint and specify a nested credential in the `:credential_reference`, the output returns a value. For more information about the API endpoints resolved in this bug, see [Viewing available credentials](https://opsman-dev-api-docs.cfapps.io/#viewing-available-credentials) and [Fetching Credentials](https://opsman-dev-api-docs.cfapps.io/#fetching-credentials) from the Ops Manager API documentation.
* Bumps UAA to 45.8
* Bumps BOSH Director to 263.10

Ops Manager v1.12.18 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.42*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.10*</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.8*</td>
    </tr><tr>
      <td>AWS CPI</td><td>69</td>
    </tr><tr>
      <td>Azure CPI</td><td>34</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>45.1.0</td>
    </tr><tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-17"></a> 1.12.17

* **[Security Fix]** Bumps Stemcell to 3445.32.
* **[Feature]** You are now able to fetch availability zones (AZs) from the Ops Manager API. For more information, see [Fetching availability zones](https://opsman-dev-api-docs.cfapps.io/#fetching-availability-zones) in the Ops Manager API documentation.

Ops Manager v1.12.17 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.32*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.9.0</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.7</td>
    </tr><tr>
      <td>AWS CPI</td><td>69</td>
    </tr><tr>
      <td>Azure CPI</td><td>34</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>45.1.0</td>
    </tr><tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-16"></a> 1.12.16

* **[Security Fix]** Bumps Stemcell to 3445.30.
* **[Feature]** The BOSH CLI is now upgraded to v3 in Ops Manager. You can now split cloud config and other configurations into multiple files. This change allows you to manage and evolve configurations separately. For more information on configuration management in BOSH, see [Configs](http://bosh.io/docs/configs.html) in the BOSH documentation.
* **[Bug Fix]** Ops Manager sets a consistent entity ID in both SAML and non-SAML cases.

Ops Manager v1.12.16 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.30*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.9.0</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.7</td>
    </tr><tr>
      <td>AWS CPI</td><td>69</td>
    </tr><tr>
      <td>Azure CPI</td><td>34</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>45.1.0</td>
    </tr><tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-15"></a> 1.12.15

* Bumps BOSH Director to 263.9.0.
* More disk storage options for **Persistent Disk Type** in the **Resource Config** pane.
* **[Bug Fix]** `cloud_config` now does not change during a director-only deploy.
* **[Bug Fix]** Default value for `max_connections` is increased from 100 to 200. This change avoids errors related to the database running out of connection slots.
* **[Bug Fix]** Ops Manager API endpoint `/api/v0/deployed/products/{guid}/status` no longer returns a 500 error when a VM is being rebooted. Instead, the API returns a 200 error with more information.

Ops Manager v1.12.15 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.28</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.9.0*</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.7</td>
    </tr><tr>
      <td>AWS CPI</td><td>69</td>
    </tr><tr>
      <td>Azure CPI</td><td>34</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>45.1.0</td>
    </tr><tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-13"></a> 1.12.13

* **[Security Fix]** Bumps stemcell to 3445.28.
* Bumps BOSH Director to 263.7.0.

Ops Manager v1.12.13 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.28*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.7.0*</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.7</td>
    </tr><tr>
      <td>AWS CPI</td><td>69</td>
    </tr><tr>
      <td>Azure CPI</td><td>34</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>45.1.0</td>
    </tr><tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-12"></a> 1.12.12

* **[Security Fix]** Bumps stemcell to 3445.24.
* Increases connection timeout to accommodate large installation exports.

Ops Manager v1.12.12 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.24*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.6.0</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.7</td>
    </tr><tr>
      <td>AWS CPI</td><td>69</td>
    </tr><tr>
      <td>Azure CPI</td><td>34</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>45.1.0</td>
    </tr><tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-11"></a> 1.12.11

* **[Security Fix]** Bumps stemcell to 3445.23.

Ops Manager v1.12.11 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.23*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.6.0</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.7</td>
    </tr><tr>
      <td>AWS CPI</td><td>69</td>
    </tr><tr>
      <td>Azure CPI</td><td>34</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>45.1.0</td>
    </tr><tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-10"></a> 1.12.10

* **[Security Fix]** Bumps stemcell to 3445.22.
* Bumps UAA to v45.7.

Ops Manager v1.12.10 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.22*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.6.0</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.7*</td>
    </tr><tr>
      <td>AWS CPI</td><td>69*</td>
    </tr><tr>
      <td>Azure CPI</td><td>34</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>45.1.0</td>
    </tr><tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-9"></a> 1.12.9

* Bumps AWS CPI to v69.
* Bumps OpenStack CPI to v35.
* Bumps vSphere CPI to v45.1.0.

Ops Manager v1.12.9 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.19</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.5</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.5</td>
    </tr><tr>
      <td>AWS CPI</td><td>69*</td>
    </tr><tr>
      <td>Azure CPI</td><td>34</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35*</td>
    </tr><tr>
      <td>vSphere CPI</td><td>45.1.0*</td>
    </tr><tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-8"></a> 1.12.8

* **[Feature Improvement]** Allows s3 blobstore credentials to be uploaded for deployed director.
* Internet connected checkbox for Azure is off by default.
* Bumps Azure CPI to 34.

Ops Manager v1.12.8 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.19</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.5</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.5</td>
    </tr><tr>
      <td>AWS CPI</td><td>66</td>
    </tr><tr>
      <td>Azure CPI</td><td>34*</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>44</td>
    </tr><tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-7"></a> 1.12.7

* **[Security Fix]** Bumps stemcell to 3445.19.

Ops Manager v1.12.7 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.19*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.5</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.5</td>
    </tr><tr>
      <td>AWS CPI</td><td>66</td>
    </tr><tr>
      <td>Azure CPI</td><td>29</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>44</td>
    </tr><tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-6"></a> 1.12.6

* **[Bug Fix]** Allows the network to ping the Ops Manager VM when installing a tile.
* **[Security Fix]** Bumps stemcell to 3445.17.
* Bumps BOSH Director to 263.5.
* Bumps CredHub to 1.3.5.
* Bumps OpenStack CPI to 35.

Ops Manager v1.12.6 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.17*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.5*</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5*</td>
    </tr><tr>
      <td>UAA</td><td>45.5</td>
    </tr><tr>
      <td>AWS CPI</td><td>66</td>
    </tr><tr>
      <td>Azure CPI</td><td>29</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35*</td>
    </tr><tr>
      <td>vSphere CPI</td><td>44</td>
    </tr><tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-5"></a> 1.12.5

* **[Bug Fix]** Updates the fog client to address an OpenStack installation bug.
* **[Feature Improvement]** Adds performance improvements to decrease Ops Manager dashboard load time.
* Bumps UAA to 45.5.

Ops Manager v1.12.5 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.16</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.4</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.4</td>
    </tr><tr>
      <td>UAA</td><td>45.5*</td>
    </tr><tr>
      <td>AWS CPI</td><td>66</td>
    </tr><tr>
      <td>Azure CPI</td><td>29</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>32</td>
    </tr><tr>
      <td>vSphere CPI</td><td>44</td>
    </tr><tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-4"></a> 1.12.4

* **[Security Fix]** Bumps stemcell to 3445.16.
* Bumps BOSH Director to 263.4.
* Bumps UAA to 45.4.

Ops Manager v1.12.4 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.16*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.4*</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.4</td>
    </tr><tr>
      <td>UAA</td><td>45.4*</td>
    </tr><tr>
      <td>AWS CPI</td><td>66</td>
    </tr><tr>
      <td>Azure CPI</td><td>29</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>32</td>
    </tr><tr>
      <td>vSphere CPI</td><td>44</td>
    </tr><tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-3"></a> 1.12.3

* Bumps Azure CPI to 29.
* Bumps CredHub to 1.3.4.

Ops Manager v1.12.3 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.11</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.2</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.4*</td>
    </tr><tr>
      <td>UAA</td><td>45</td>
    </tr><tr>
      <td>AWS CPI</td><td>66</td>
    </tr><tr>
      <td>Azure CPI</td><td>29*</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>32</td>
    </tr><tr>
      <td>vSphere CPI</td><td>44</td>
    </tr><tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-2"></a> 1.12.2

* **[Feature]** Ops Manager supports uploading Windows 2016 stemcells.
* **[Feature]** Tile authors can set the default instance count for an errand to zero.

Ops Manager v1.12.2 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.11</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.2</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.2</td>
    </tr><tr>
      <td>UAA</td><td>45</td>
    </tr><tr>
      <td>AWS CPI</td><td>66</td>
    </tr><tr>
      <td>Azure CPI</td><td>27</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>32</td>
    </tr><tr>
      <td>vSphere CPI</td><td>44</td>
    </tr><tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-1"></a> 1.12.1

* **[Security Fix]** Bumps stemcell to 3445.11 to address [USN-3420-2](https://usn.ubuntu.com/usn/usn-3420-2).
* Bumps CredHub to 1.3.2.

Ops Manager v1.12.1 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.11*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.2</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.2*</td>
    </tr><tr>
      <td>UAA</td><td>45</td>
    </tr><tr>
      <td>AWS CPI</td><td>66</td>
    </tr><tr>
      <td>Azure CPI</td><td>27</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>32</td>
    </tr><tr>
      <td>vSphere CPI</td><td>44</td>
    </tr><tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

### <a id="1-12-0"></a> 1.12.0

Version 1.12.0 of Ops Manager consists of the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stemcell</td><td>3445.7</td>
    </tr>
    <tr>
      <td>BOSH Director</td><td>263.2</td>
    </tr>
    <tr>
      <td>CredHub</td><td>1.3.0</td>
    </tr>
    <tr>
      <td>UAA</td><td>45</td>
    </tr>
    <tr>
      <td>AWS CPI</td><td>66</td>
    </tr>
    <tr>
      <td>Azure CPI</td><td>27</td>
    </tr>
    <tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr>
    <tr>
      <td>OpenStack CPI</td><td>32</td>
    </tr>
    <tr>
      <td>vSphere CPI</td><td>44</td>
    </tr>
    <tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
    </tr>
  </tfoot>
</table>

<hr>


## <a id='major-features'></a> New Features in Ops Manager v1.12.0

### <a id='upgrade-opsman'></a> Faster Upgrade and Installation Export

Ops Manager decreases the time required to upgrade by reducing the size of the file produced by **Export Installation Settings** by several orders of magnitude. 

For upgrade instructions, see [Upgrading Pivotal Cloud Foundry](https://docs.pivotal.io/pivotalcf/1-12/customizing/upgrading-pcf.html).

The exported installation file is smaller because Ops Manager no longer retains releases between upgrades if it has already uploaded them to BOSH. When backing up PCF, you must take this into account by backing up the BOSH blobstore that contains the uploaded releases. BOSH Backup and Restore (BBR) backs up the BOSH blobstore. For more information, see [Backing Up Pivotal Cloud Foundry with BBR](https://docs.pivotal.io/pivotalcf/1-12/customizing/backup-restore/backup-pcf-bbr.html).

<p class="note warning"><strong>WARNING:</strong> CFOps assumed that the Ops Manager installation settings artifact contained all necessary releases, which is no longer the case in PCF v1.12. CFOps should not be used to back up and restore PCF v1.12.</p>

### <a id='google-xpn'></a> Google Shared Virtual Private Cloud

Google Shared Virtual Private Cloud (VPC), formerly known as Google Cross-Project Networking (XPN), enables you to assign GCP resources to individual projects within an organization but allows communication and shared services between projects. For more information about this feature, see the [Configuring a Shared VPC on GCP](https://docs.pivotal.io/pivotalcf/1-12/customizing/gcp-shared-vpc.html) topic.

### <a id='aws-gov'></a> AWS GovCloud (US)

Operators can deploy Ops Manager v1.12 to [AWS GovCloud (US)](https://aws.amazon.com/govcloud-us). For more information about deploying AWS GovCloud (US), see the following AWS installation topics:

* [Deploying the CloudFormation Template for Pivotal Cloud Foundry on AWS](https://docs.pivotal.io/pivotalcf/1-12/customizing/cloudform-template.html)
* [Configuring AWS for PCF](https://docs.pivotal.io/pivotalcf/1-12/customizing/pcf-aws-manual-config.html)

### <a id='credhub-migration'></a> Migrate Non-Configurable Secrets to CredHub

Tile Authors can write a JavaScript migration to move their existing non-configurable secrets into CredHub. Ops Manager v1.12 supports migrating `secret`, `simple_credential`, `rsa_pkey_credential`, and `salted_credential` types.

For more information about this feature, see the [Migrating Existing Credentials to CredHub](https://docs.pivotal.io/tiledev/migrating-credhub-credentials.html) topic in the PCF Tile Developers Guide.

### <a id='commit'></a> Commit GET and DELETE Endpoints

Ops Manager v1.12.0 adds two API endpoints for operators who deploy PCF manually. If you use Ops Manager to generate manifests that you deploy on your own with BOSH, the `/commit` endpoint fails when a tile upgrade contains CredHub credential variables.

Before upgrading a tile, use the `GET` endpoint to retrieve a file that contains the credentials. Migrate the credentials to CredHub using the [CredHub CLI](https://github.com/cloudfoundry-incubator/credhub-cli/releases), then use the `DELETE` endpoint to delete the credentials staged in installation.yml.

For more information, see the corresponding [Knowledge Base](https://discuss.pivotal.io/hc/en-us/articles/115011257327) article.

### <a id='bosh2'></a> BOSH CLI v2

Ops Manager v1.12 uses the new version of the [BOSH CLI](https://bosh.io/docs/cli-v2.html).

<p class="note breaking"><strong>Breaking Change:</strong> BOSH CLI output formatting has changed. If your deployment uses scripts that rely on BOSH output, you must refactor them to interpret BOSH CLI v2 command output.</p>

The Ops Manager VM includes both versions of the BOSH CLI. You can run BOSH CLI v1 commands using `bosh` and BOSH CLI v2 commands using `bosh2`, but many BOSH CLI v1 commands are incompatible with the BOSH Director. See the corresponding [Knowledge Base](https://discuss.pivotal.io/hc/en-us/articles/115012374148-Permissions-error-when-running-BOSH-commands-on-the-Director) article for more information.

In the **Credentials** tab in Ops Manager, click the link to **Bosh2 Commandline Credentials** for a command that you can copy and paste to log in to the `bosh2` CLI.

For more information about the differences between the old and new versions of the BOSH CLI, see the [BOSH documentation](https://bosh.io/docs/cli-v2-diff.html).

### <a id='openstack-networks'></a> OpenStack Network Changes

Ops Manager v1.12.0 uses OpenStack CPI v32. In this version, you must select either **Nova** or **Neutron** as the **Network Type** on the **OpenStack Config** page of the Director tile. Pivotal recommends that you use **Neutron** for compatibility with future versions of the OpenStack CPI.

For more information about the two network types, see the [OpenStack documentation](https://docs.openstack.org/ocata/networking-guide/migration-nova-network-to-neutron.html).

### <a id='double-parens'></a> Support for Empty Arrays in Double Parentheses

Ops Manager now supports empty arrays in double parentheses. For more information, see the [Double-Parentheses Expressions](http://docs.pivotal.io/tiledev/1-12/property-reference.html#expressions) section of the Property Reference topic.

### <a id='fixes'></a> Bug Fixes

* Ops Manager v1.12.0 fixes a bug where configuring a thin-provisioned ephemeral disk in Ops Manager created a thick-provisioned disk in vSphere.
* Ops Manager v1.12.0 fixes a bug where the entity ID was not unique if UAA was configured with SAML.
* Ops Manager v1.12.0 fixes a bug where `POST /api/v0/setup` did not expose the `http`, `https`, and `no_proxy` fields.


## <a id='known-issues'></a> Known Issues

### <a id='credhub-certs'></a> CredHub Requires Director Certificate Rotation

If your original Elastic Runtime deploy was PCF v1.6 or earlier, you must regenerate the non-configurable Director certificates to deploy CredHub. CredHub attempts to verify the connection to UAA on the BOSH Director with the Ops Manager certificate Subject Alternative Name (SAN) during a deploy. Ops Manager 1.6 and earlier generated non-configurable certificate SANs in a format CredHub does not understand.

For more information, see the corresponding [Knowledge Base](https://discuss.pivotal.io/hc/en-us/articles/115012474187) article.

For more information about certificate rotation, see [Regenerating and Rotating Non-Configurable TLS/SSL Certificates](https://docs.pivotal.io/pivotalcf/1-12/security/pcf-infrastructure/api-cert-rotation.html#regenerate).

### <a id='log-search-unsupported'></a> PCF Log Search Unsupported

If your deployment contains PCF Log Search, you must remove the product tile before upgrading. Failure to remove this product prior to upgrade may cause issues with your deployment.

For more information, see the [Upgrading Pivotal Cloud Foundry](https://docs.pivotal.io/pivotalcf/1-12/customizing/upgrading-pcf.html) topic.

### <a id='services-network'></a> On-Demand Services Require Dedicated Service Networks

If you use any service tile that offers both on-demand and not on-demand modes of operation, clicking **Apply Changes** in Ops Manager fails if you did not define a dedicated service network for the tile.

To work around this issue, use one of the following methods:

* Create a services network on your IaaS for each affected service tile
* Create a dummy network in Ops Manager, reserve a block of IP ranges, and disable smoke tests for the on-demand service

For more information, see the corresponding [Knowledge Base](https://discuss.pivotal.io/hc/en-us/articles/115010154387) article.
