---
title: PCF Ops Manager v2.4 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>



## <a id='how-to-upgrade'></a> How to Upgrade

The [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivoAztalcf/2-4/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v2.4.



## <a id='major-features'></a> New Features in Ops Manager v2.4

Ops Manager v2.4 includes the following major features:



### <a id="multiple-admins"></a> Ops Manager Allows Multiple Simultaneous Administrators

Multiple Ops Manager administrators can use Ops Manager at the same time, to reconfigure and manage a PCF deployment. For more information, see [Managing Simultaneous Ops Manager Administrators](https://docs.pivotal.io/pivotalcf/2-4/opsguide/config-rbac.html#multiple-write-users).



### <a id="aws-china"></a> Ops Manager Supports AWS China

Users on AWS China accounts can now access downloads from Pivotal Network on their AWS China console. Find specific Ops Manager images in your AWS China console by searching for the AMI IDs for those images.



### <a id="select-all-products"></a> Operators Can Select or Deselect All Products For Deployment

The _Review Pending Changes_ page in the Ops Manager UI has a new **Select All Products** checkbox.
By enabling the checkbox, you enable all available products for deployment. By deselecting the checkbox,
you disable all available products for deployment.

For more information, see [Review Pending Changes Page](https://docs.pivotal.io/pivotalcf/2-4/customizing/review-pending-changes.html#review-pending-changes).

## <a id='known-issues'></a> Known Issues

