---
title: Pivotal Cloud Foundry Ops Manager v1.9 Release Notes
owner: Ops Manager
---

<%= partial '/shared/deprecation-notice' %>

## <a id='how-to-upgrade'></a>How to Upgrade ##

The procedure for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v1.9 is documented in the [Upgrading Pivotal Cloud Foundry](https://docs.pivotal.io/pivotalcf/1-9/customizing/upgrading-pcf.html) topic.

### 1.9.27

* Bumps stemcell to 3363.48
* Bumps UAA to 24.14
* Increases connection timeout to accommodate large installation exports

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.8</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.103</td>
</tr>
<tr>
  <td>Stemcell: 3363.48*</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.9.0</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.14*</td>
</tr>
</tbody>
</table>

### 1.9.26

* Bumps stemcell to 3363.47

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.8</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.103</td>
</tr>
<tr>
  <td>Stemcell: 3363.47*</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.9.0</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.13</td>
</tr>
</tbody>
</table>

### 1.9.25

* Bumps stemcell to 3363.45

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.8</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.103</td>
</tr>
<tr>
  <td>Stemcell: 3363.45</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.9.0</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.13</td>
</tr>
</tbody>
</table>

### 1.9.24

* Bumps stemcell to 3363.44
* Bumps UAA to 24.13

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.8</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.103</td>
</tr>
<tr>
  <td>Stemcell: 3363.44</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.9.0</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.13</td>
</tr>
</tbody>
</table>

### 1.9.23

* Bumps stemcell to 3363.41

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.8</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.103</td>
</tr>
<tr>
  <td>Stemcell: 3363.41</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.9.0</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.12</td>
</tr>
</tbody>
</table>

### 1.9.22

* This release patches Ubuntu Security Notice USN-3420-2. Additional information can be found at https://pivotal.io/security.
* Bumps stemcell to 3363.37

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.8</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.103</td>
</tr>
<tr>
  <td>Stemcell: 3363.37</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.9.0</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.12</td>
</tr>
</tbody>
</table>

### 1.9.21

* Fixes a bug where the `resource_config` API endpoint could return an inaccurate instance count. As a result of this patch, if a job is configured to use the default number of instances, a `GET /api/v0/staged/products/:product_id/jobs/:job_id/resource_config` request returns `"instances": "automatic"`.

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.8</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.103</td>
</tr>
<tr>
  <td>Stemcell: 3363.31</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.9.0</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.12</td>
</tr>
</tbody>
</table>

### 1.9.20

* Bumps stemcell to 3363.31
* Bumps BOSH Director to 260.8

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.8</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.103</td>
</tr>
<tr>
  <td>Stemcell: 3363.31</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.9.0</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.12</td>
</tr>
</tbody>
</table>

### 1.9.19

* Bumps stemcell to 3363.30

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.7</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.103</td>
</tr>
<tr>
  <td>Stemcell: 3363.30</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.9.0</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.12</td>
</tr>
</tbody>
</table>

### 1.9.18

* Bumps stemcell to 3363.29


<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.7</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.103</td>
</tr>
<tr>
  <td>Stemcell: 3363.29</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.9.0</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.12</td>
</tr>
</tbody>
</table>

### 1.9.17

* Fixes a bug where configuring a thin-provisioned ephemeral disk in Ops Manager created a thick-provisioned disk in vSphere. In the **vSphere Config** section of the Director tile, if you set the **Virtual Disk Type** to **Thin** for any ephemeral disks, Ops Manager redeploys the disks after applying this patch.
* Fixes a bug where cleaning up unused products could remove a currently-configured stemcell.
* Fixes a bug where Ops Manager hard-coded the `entity_ID` when configuring UAA with SAML.
* Fixes a bug where `POST /api/v0/setup` did not expose the `http`, `https`, and `no_proxy` fields.
* Updates the `cache-control` header value in Ops Manager HTTP responses to include `no-store`.
* Bumps UAA to 24.12


<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.7</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.103</td>
</tr>
<tr>
  <td>Stemcell: 3363.26</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.9.0</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.12</td>
</tr>
</tbody>
</table>


### 1.9.16

* Patches Ubuntu Security Notice USN-3334-1. Additional information can be found at https://pivotal.io/security.
* Bumps stemcell to 3363.26

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.7</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.103</td>
</tr>
<tr>
  <td>Stemcell: 3363.26</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.9.0</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.11</td>
</tr>
</tbody>
</table>


### 1.9.15

* Patches Ubuntu Security Notice USN-3304-1. Additional information can be found at https://pivotal.io/security.
* Bumps stemcell to 3363.25

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.7</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.103</td>
</tr>
<tr>
  <td>Stemcell: 3363.25</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.9.0</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.11</td>
</tr>
</tbody>
</table>


### 1.9.14

* Bumps stemcell to 3363.24
* Bumps BOSH Director to 260.7
* Bumps UAA to 24.11

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.7</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.103</td>
</tr>
<tr>
  <td>Stemcell: 3363.24</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.9.0</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.11</td>
</tr>
</tbody>
</table>


### 1.9.13

* Fixed a bug where Ops Manager was incorrectly setting the signature algorithm when configured with SAML. The signature algorithm is now defaulted to SHA256.
* Fixed a bug where Ops Manager was incorrectly setting the redirect uri for the BOSH UAA. 
* Bumped stemcell to 3363.24.

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.6</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.103</td>
</tr>
<tr>
  <td>Stemcell: 3363.24</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.10</td>
</tr>
</tbody>
</table>


### 1.9.12

* Patches CVE-2017-4992. Additional information can be found at https://pivotal.io/security.

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.6</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.99</td>
</tr>
<tr>
  <td>Stemcell: 3312.24</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.10</td>
</tr>
</tbody>
</table>


### 1.9.11

* Bumps stemcell to 3312.24.

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.6</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.99</td>
</tr>
<tr>
  <td>Stemcell: 3312.24</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.8</td>
</tr>
</tbody>
</table>

### 1.9.10

* Bumps UAA to v24.8 

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.6</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.99</td>
</tr>
<tr>
  <td>Stemcell: 3312.23</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.8</td>
</tr>
</tbody>
</table>


### 1.9.9

* Patches CVE-2017-4972 and CVE-2017-4973. Additional information can be found at https://pivotal.io/security.
* Fixed a bug where public IPs were incorrectly being assigned to service networks on GCP
* Operators can now use the Ops Manager interface to configure the number of Director Worker threads. 

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.6</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.99</td>
</tr>
<tr>
  <td>Stemcell: 3312.23</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 23</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.7</td>
</tr>
</tbody>
</table>

### 1.9.8

* Patches USN-3249-2. Additional information can be found at https://pivotal.io/security.

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.6</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.99</td>
</tr>
<tr>
  <td>Stemcell: 3312.22</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 20</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.5</td>
</tr>
</tbody>
</table>

### 1.9.7

* Patches USN-3220-2. Additional information can be found at https://pivotal.io/security.

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.6</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.99</td>
</tr>
<tr>
  <td>Stemcell: 3312.21</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 20</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.5</td>
</tr>
</tbody>
</table>

### 1.9.6

* Patches CVE-2017-4960. Additional information can be found at https://pivotal.io/security.
* Fixed a breaking change introduced in Ops Manager 1.9.5 that affected back up and restore procedures implemented via the CFOps tool. Customers on Ops Manager 1.9.5 are strongly advised to upgrade to 1.9.6. Please refer the the [KB article](https://discuss.pivotal.io/hc/en-us/articles/115004483567) or reach out to Pivotal Support for any questions.  

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.6</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.99</td>
</tr>
<tr>
  <td>Stemcell: 3312.20</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 20</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24.5</td>
</tr>
</tbody>
</table>

### 1.9.4

* Patches USN-3208-2. Additional information can be found at https://pivotal.io/security.
* Introduced an API endpoint that customers can use to rotate all Ops Manager generated non-configurable certificates. 

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260.6</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.99</td>
</tr>
<tr>
  <td>Stemcell: 3312.20</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 20</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24</td>
</tr>
</tbody>
</table>

### 1.9.3

* Bumped the default memory of vSphere and OpenStack appliances to 8GB
* Finished experimental API endpoint to assign a network and AZ to the Director tile
* Increased Azure storage account disk limit to 150 disks per storage account 
* Fixed a bug where the rails sessions was not clearing completely on logout
* Enhanced Ops Manager network verifiers and validators so vSphere network names can now include a distributed port group 

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.99</td>
</tr>
<tr>
  <td>Stemcell: 3312.12</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 20</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 24</td>
</tr>
</tbody>
</table>


### 1.9.2

* Bump stemcell to patch rsyslog memory leak.
* Bump vSphere CPI to leverage more retry logic.
* Fixed issue where sometimes multiple UAA processes would start and operators would be stuck at the "Waiting for authentication to start"
* When deploying the vSphere OVA, fixed an issue where multiple DNS servers can again have spaces between them.
* Operators no longer have to unlock the appliance directly after import.
* Fixed issue where the BOSH health monitor could not send emails if authentication was required for SMTP.
* Fixed bug where AWS persistent disks were not being encrypted when desired by the Operator.
* Add encryption for AWS ephemeral disks as well, when the operator has enabled EBS encryption.
* Increased AWS ephemeral disk sizes, allowing some VMs (like BOSH director) to use a smaller machine type by default.
* Finished experimental API endpoints to get/set IaaS-related properties for configuring the director tile.
* Finished experimental API endpoint to create/update/delete the collection of networks inside the director tile.
* Allow windows stemcells to be used by products.

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.99</td>
</tr>
<tr>
  <td>Stemcell: 3312.12</td>
</tr>
<tr>
  <td>AWS CPI: 60</td>
</tr>
<tr>
  <td>Azure CPI: 19</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.1</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 36</td>
</tr>
<tr>
  <td>UAA: 24</td>
</tr>
</tbody>
</table>


### 1.9.1

* Patches USN-3156-1.
* Fixes an upgrade issue where jobs in pre-1.7 products could be accidentally treated as non-singleton. In a very specific circumstance, this could have caused data loss.
* Fixes an Azure image issue where sometimes Ops Manager would be marked as Failing by Azure even though the VM appeared to be working.
* Fixes Azure partitioning performance problem that sometimes causes BOSH to fail to attach persistent disks
* Reverted the requirement to provide a password for running "sudo" on vSphere, as some customers are running sudo commands on the Ops Manager VM via SSH in their scripts.

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.99</td>
</tr>
<tr>
  <td>Stemcell: 3312.9</td>
</tr>
<tr>
  <td>AWS CPI: 60</td>
</tr>
<tr>
  <td>Azure CPI: 19</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.1</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 32</td>
</tr>
<tr>
  <td>UAA: 24</td>
</tr>
</tbody>
</table>

### 1.9.0

Versions 1.9.0 and higher versions of Ops Manager consist of the following component versions:

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.99</td>
</tr>
<tr>
  <td>Stemcell: 3312.6</td>
</tr>
<tr>
  <td>AWS CPI: 60</td>
</tr>
<tr>
  <td>Azure CPI: 19</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.1</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 32</td>
</tr>
</tbody>
</table>

## <a id='major-features'></a>New Features in Ops Manager v1.9.0

### <a id='bosh'></a>BOSH Updates

#### <a id='stemcell'></a>Stemcell

Ops Manager v1.9.0 includes the following changes to the stemcell:

* **Security improvements**: Various security-focused improvements have been made to the stemcell.
* **Floppy device removal**: The floppy device has been removed from the stemcell, which reduces a VM's exposure to security risks.

<p class="note"><strong>Note</strong>: See the <a href="#rsyslog_mem_leak">Known Issues</a> section of this document for a potential memory leak issue with the stemcell provided with the Ops Manager v1.9.0 release.</p> 

#### <a id='director'></a>BOSH Director

Ops Manager v1.9.0 includes the following changes to the BOSH Director:

* **Add-on controls**: Operators can now control what deployments or instance groups a given add-on applies, allowing them to limit the VMs in which the add-on is used.
* **BOSH Events**: Events logging is now enabled by default, and operators can view a curated list of granular activity by the Director for auditing and troubleshooting purposes
* **VMware HA interoperability improvements**: The BOSH Director has improved its logic with regards to dealing with faulting vSphere hosts and now better coordinates its decisions with the VMware HA capability in vSphere, resulting in lower chances of downtime for VMs.
* **Resurrection logic improvements**: The BOSH Director has improved its logic and now continues to retry when resurrecting a VM even if its fails the first time.

### <a id='certs'></a>SHA 256 Certificates

Ops Manager now generates SHA 256 certificates.

### <a id='max-in-flight'></a> Edit Job Configurations

Ops Manager now supports API endpoints to edit `max_in_flight` configurations per job. See the Ops Manager API documentation for more information. To view the Ops Manager API documentation, browse to `https://YOUR-OPS-MANAGER-FQDN/docs`.

## <a id='known-issues'></a> Known Issues

This section lists known issues for Ops Manager.

### <a id='pers-disk'></a> Persistent Disk Provisioning Error on Azure

On PCF on Azure deployments, BOSH sometimes returns an error when provisioning persistent disks. The error resembles the following: 

```
Persistent disk with volume id 'SOME-ID' could not be found.
``` 
This error can occur when deploying the BOSH Director itself or another product in Ops Manager. To workaround this issue, retry the deployment.

### <a id='rsyslog_mem_leak'></a> Memory Leak in rsyslog v8.23

rsyslog v8.23 is prone to memory leaks when TCP connections are reset.

Deployments with stable syslog storer endpoints appear not to be affected by this syslog version.
The following stemcells contain rsyslog v8.23:

* 3312.9
* 3312.8
* 3312.7
* 3312.6
* 3312.5
* 3312.3

Stemcell v3312, which contains rsyslog v8.22, does not exhibit the memory leak issue, but is missing other kernel vulnerability fixes.

Work is in progress to build a new stemcell that pins rsyslog to `8.22.0-0adiscon1trusty1`.

Stemcells from other release series (3151.x, 3233.x, 3263.x) contain rsyslog v8.23. Stemcells from these series will be updated to pin to v8.22 as well.

This issue is also being tracked here: [BOSH #1537: syslogd on all VMs has memory leak](https://github.com/cloudfoundry/bosh/issues/1537).

### <a id='service_networks'></a> Firewall Rules and Service Networks in GCP

On PCF for GCP deployments, Ops Manager service network VMs are not assigned the correct firewall rules. As a result, these VMs cannot communicate with the BOSH Director and service tiles that use the [On-Demand Service Broker (ODB)](https://docs.pivotal.io/on-demand-service-broker/) fail to create service instances.

As a workaround, if you are deploying a service network in GCP, modify your firewall to use subnet CIDR-based rules.

## <a id='bug-fixes'></a> Bug Fixes

* Fixed a bug that was preventing a load balancer from being attached to the BOSH Director on Google Cloud Platform.

## <a id='knownissues'></a> Known Issues

This section lists known issues for Ops Manager v1.9.

###<a id='services-network'></a>On-Demand Services Require Dedicated Service Networks

If you use any service tile that offers both on-demand and not on-demand modes of operation, clicking **Apply Changes** in Ops Manager fails if you did not
define a dedicated service network for the tile.

To work around this issue, use one of the following methods:

* Create a services network on your IaaS for each affected service tile
* Create a dummy network in Ops Manager, reserve a block of IP ranges, and disable smoke tests for the on-demand service

For more information, see the corresponding [Knowledge Base](https://discuss.pivotal.io/hc/en-us/articles/115010154387) article.

###<a id='aws-regions'></a>Ops Manager Fails to Connect to Newly Supported AWS Regions
Ops Manager v1.9.16 publishes AMIs to the following newly supported AWS regions:

* ap-south-1
* ca-central-1
* eu-west-2
* us-east-2

If you deploy Ops Manager using one of the new regions above and select **Use AWS Instance Profile** in the **AWS Config** tab, Ops Manager displays a network connectivity issue.

To work around this issue, go to the **AWS Config** tab and select the **Use AWS Keys** option.

For more information, see the corresponding [Knowledge Base](https://discuss.pivotal.io/hc/en-us/articles/115009684148) article.

