---
title: Pivotal Cloud Foundry Ops Manager v2.0 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for 2017.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a>How to Upgrade ##

<!----
The [Upgrading Pivotal Cloud Foundry](../customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v2.0.---->

### 2.0 (Alpha 2)

* This release patches Ubuntu Security Notice USN-3420-2. Additional information can be found at https://pivotal.io/security.
* Bumps stemcell to 3445.11
* Bumps BOSH Director to 263.2
* Bumps CredHub to 1.3.2
* Bumps UAA to 50

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 263.2</td>
</tr>
<tr>
  <td>BOSH CLI: 1.3262.26.0</td>
</tr>
<tr>
  <td>BOSH2 CLI: 2.0.34</td>
</tr>
<tr>
  <td>Stemcell: 3445.11</td>
</tr>
<tr>
  <td>AWS CPI: 66</td>
</tr>
<tr>
  <td>Azure CPI: 27</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.9.0</td>
</tr>
<tr>
  <td>OpenStack CPI: 32</td>
</tr>
<tr>
  <td>vSphere CPI: 44</td>
</tr>
<tr>
  <td>CredHub: 1.3.2</td>
</tr>
<tr>
  <td>UAA: 50</td>
</tr>
</tbody>
</table>

### 2.0 (Alpha)

Version 2.0 Alpha of Ops Manager consists of the following component versions:

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 263.1</td>
</tr>
<tr>
  <td>BOSH CLI: 1.3262.26.0</td>
</tr>
<tr>
  <td>BOSH2 CLI: 2.0.34</td>
</tr>
<tr>
  <td>Stemcell: 3445.7</td>
</tr>
<tr>
  <td>AWS CPI: 66</td>
</tr>
<tr>
  <td>Azure CPI: 27</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.9.0</td>
</tr>
<tr>
  <td>OpenStack CPI: 32</td>
</tr>
<tr>
  <td>vSphere CPI: 44</td>
</tr>
<tr>
  <td>CredHub: 1.3.0</td>
</tr>
<tr>
  <td>UAA: 45</td>
</tr>
</tbody>
</table>

<hr>

## <a id='major-features'></a>New Features in Ops Manager v2.0

### <a id="runtime-config"></a>Configure Tiles with Runtime Configs

Tile authors can include `runtime_configs` as a top-level key in tile metadata to define global deployment configurations. Named runtime config settings apply to all VMs in a deployment.

Version 2.0 Alpha of Ops Manager supports defining any number of `runtime_configs` in an existing tile. Tile authors can also create a tile that includes a runtime config only and does not define any job types or errands. 

For more information, see the [Managing Runtime Configs](https://docs.pivotal.io/tiledev/runtime-config.html) topic in the PCF Tile Developers Guide.
