---
title: PCF Ops Manager Release v2.2 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a> How to Upgrade

The [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/2-1/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v2.2.

### 2.2 Beta 1

* **[Security Fix]** Bumps stemcell to v3586.7
* Bumps AWS to v70
* Bumps OpenStack to v38
* Bumps vSphere to v48
* Bumps BBR SDK to v1.6
* Bumps Syslog to v11.3

 <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3586.7*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.6*</td>
  </tr><tr>
    <td>BOSH Director</td><td>265.2</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.5.0</td>
  </tr><tr>
    <td>CredHub</td><td>1.7.1</td>
  </tr><tr>
    <td>Syslog</td><td>11.3*</td>
  </tr><tr>
    <td>UAA</td><td>55</td>
  </tr><tr>
    <td>AWS CPI</td><td>70*</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.2</td>
  </tr><tr>
    <td>GCP CPI</td><td>27</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>38*</td>
  </tr><tr>
    <td>vSphere CPI</td><td>48*</td>
  </tr><tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>


### 2.2 Alpha 2

* Bumps Stemcell to 3541.12
* Bumps BOSH Director to v265.2
* Bumps Azure to v35.2
* Enables BOSH DNS

 <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3541.12*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.4.4</td>
  </tr><tr>
    <td>BOSH Director</td><td>265.2*</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.5.0*</td>
  </tr><tr>
    <td>CredHub</td><td>1.7.1</td>
  </tr><tr>
    <td>UAA</td><td>55</td>
  </tr><tr>
    <td>AWS CPI</td><td>69</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.2*</td>
  </tr><tr>
    <td>GCP CPI</td><td>27</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>37</td>
  </tr><tr>
    <td>vSphere CPI</td><td>45.1.0</td>
  </tr><tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### 2.2 Alpha 1

Ops Manager v2.2 uses the following component versions:

 <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3541.8</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.4.4</td>
  </tr><tr>
    <td>BOSH Director</td><td>265.1</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.3.0</td>
  </tr><tr>
    <td>CredHub</td><td>1.7.1</td>
  </tr><tr>
    <td>UAA</td><td>55</td>
  </tr><tr>
    <td>AWS CPI</td><td>69</td>
  </tr><tr>
    <td>Azure CPI</td><td>35</td>
  </tr><tr>
    <td>GCP CPI</td><td>27</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>37</td>
  </tr><tr>
    <td>vSphere CPI</td><td>45.1.0</td>
  </tr><tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

<hr>

## <a id='major-features'></a> New Features in Ops Manager v2.2

### <a id='multi-dc'></a> Multiple Data Centers on vSphere

Ops Manager now allows you to configure multiple vSphere vCenters to a single BOSH Director.

You can add additional data centers in the **vSphere Config** pane of your vSphere BOSH Director tile. For more information about how to add, edit, and delete vCenters, see [Managing Multiple vSphere vCenters](http://docs.pivotal.io/pivotalcf/2-2/customizing/multiple-datacenters.html).

<p class="note"><strong>Note: </strong>If you use the Ops Manager API and multiple vSphere configs exist, the GET HTTP request for Director properties omits the <code>iaas_configuration</code> key. For more information about the API request, see <a target="_blank" href="http://opsman-dev-api-docs.cfapps.io/#fetching-director-iaas-and-security-properties-experimental">Fetching director, IaaS, and security properties</a> in the Ops Manager API documentation.</p>

### <a id="azure-china"></a> Ops Manager Supports Azure China

Ops Manager now supports a special region in Azure called Azure China. Azure China is a physically separated instance of cloud services that is located in China and independently operated. For more information about Azure China, see [What is Azure China 21Vianet?](https://docs.microsoft.com/en-us/azure/china/china-welcome) in the Azure China documentation.

To tell the BOSH Director that you are using an Azure China environment, select `Azure China Cloud` from the **Azure Environment** field of the **Azure Config** pane. For more information, see [Azure Config Page](https://docs.pivotal.io/pivotalcf/2-0/customizing/azure-om-config.html#azure-config) in the _Configuring Ops Manager on Azure_ manual installation topic.

### <a id="om-credhub"></a> Ops Manager Credentials Stored in CredHub

On each **Apply Changes**, Ops Manager sends your user-specified credentials to BOSH CredHub. This feature offers greater security for your credentials. For more information about where Ops Manager stores your credentials, see [BOSH CredHub](https://docs.pivotal.io/pivotalcf/credhub/index.html#bosh).

For information about how this feature affects tile authors, see [PCF v2.2 Partners Release Notice](https://docs.pivotal.io/tiledev/2-2/release-notes-2-2.html#om-credhub) in the _PCF Tile Developer Guide_.

### <a id='secret-text-field'></a> Secret Text Areas

Ops Manager v2.2 supports a text area in its UI that tile authors can mark as `secret`. When a text area is marked as a `secret`, the UI shows an `*` when the page is saved, and the API does not return the value entered in this field.

For more information, see the [Custom Forms and Properties](http://docs.pivotal.io/pivotalcf/2-2/tile-generator.html#custom-forms) section of the _Tile Generator_ topic.

### <a id="custom-ssl"></a> Specify a Custom Trusted SSL Certificate

Operators can specify a custom trusted SSL certificate and key for the Ops Manager server so that traffic isn't exposed to man-in-the-middle attacks when using Ops Manager.

By default, Ops Manager uses an auto-generated self-signed certificate. To change this configuration to your own SSL certificate, navigate to **Settings** from the Ops Manager Installation Dashboard and select the **SSL Certificate** pane to enter your **Certificate** and **Private Key**.

For more information about navigating the Ops Manager Settings page, see [Settings Page](http://docs.pivotal.io/customizing/pcf-interface.html#settings) in the _Understanding the Ops Manager Interface_ topic.

<p class="note"><strong>Note: </strong>Custom SSL certificate and key is persisted between upgrades. Custom SSL only needs a one-time configuration.</p>

### <a id="om-syslog"></a> Configure an Ops Manager Syslog Server

You can configure a syslog server for Ops Manager logs. Logs include rails production logs, audit logs, UAA logs, nginx logs, and upstart logs for Ops Manager processes. Previous to this change, Ops Manager logs were not centralized in one accessible location. You also have the option to TLS-encrypt your logs.

To configure syslog for Ops Manager, go to **Syslog** from Ops Manager **Settings**, select **Yes** to enable syslog and fill the required fields.

For more information about configuring syslog for Ops Manager, see [Settings Page](http://docs.pivotal.io/customizing/pcf-interface.html#settings) in the _Understanding the Ops Manager Interface_ topic.

<p class="note"><strong>Note:</strong> When you configure syslog, Ops Manager does not issue a warning if your credentials are invalid. Instead, Ops Manager continues as if your credentials are correct. After you configure syslog with Ops Manager, test your syslog server to ensure that it is receiving Ops Manager logs.</p>

### <a id="tls-blobstore"></a> TLS for Internal Blobstore Supported

Ops Manager now supports TLS communications if you choose to use an internal blobstore.

To enable internal blobstore TLS communication, all of your tiles must have stemcells v3468 or later. If your tiles meet this requirement, disable the **Allow Legacy Agents** checkbox in the **Director Config** pane of your BOSH Director tile.

### <a id="excluded-recursors"></a> Specify Excluded Recursors

In the **Director Config** pane, you can now enter **Excluded Recursors** as a comma-separated list. This list specifies which IPs and ports you want to exclude from the DNS server. For more information, see [Director Config Page](http://docs.pivotal.io/pivotalcf/2-2/customizing/gcp-om-config.html#director-config).

## <a id="known-issues"></a> Known Issues

No known issues at this time.
