---
title: Pivotal Cloud Foundry Ops Manager v1.9 Release Notes
owner: Ops Manager
---

## <a id='how-to-upgrade'></a>How to Upgrade ##

The procedure for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v1.9 is documented in the [Upgrading Pivotal Cloud Foundry](../../customizing/upgrading-pcf.html) topic.

### 1.9.0

Versions 1.9.0 and higher versions of Ops Manager consist of the following component versions:

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 260</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v.0.0.99</td>
</tr>
<tr>
  <td>Stemcell: 3312.6</td>
</tr>
<tr>
  <td>AWS CPI: 60</td>
</tr>
<tr>
  <td>Azure CPI: 19</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.1</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 32</td>
</tr>
</tbody>
</table>

## <a id='major-features'></a>New Features in Ops Manager v1.9.0

### <a id='bosh'></a>BOSH Updates

#### <a id='stemcell'></a>Stemcell

Ops Manager v1.9.0 includes the following changes to the stemcell:

* **CIS improvements**: Various improvements have been made to the stemcell that address a portion of the CIS benchmarks.
* **Floppy device removal**: The floppy device has been removed from the stemcell, which reduces a VM's exposure to security risks.

<p class="note"><strong>Note</strong>: See the <a href="#rsyslog_mem_leak">Known Issues</a> section of this document for a potential memory leak issue with the stemcell provided with the Ops Manager v1.9.0 release.</p> 

#### <a id='director'></a>BOSH Director

Ops Manager v1.9.0 includes the following changes to the BOSH Director:

* **Add-on controls**: Operators can now control what deployments or instance groups a given add-on applies, allowing them to limit the VMs in which the add-on is used.
* **BOSH Events**: Events logging is now enabled by default, and operators can view a curated list of granular activity by the Director for auditing and troubleshooting purposes
* **VMware HA interoperability improvements**: The BOSH Director has improved its logic with regards to dealing with faulting vSphere hosts and now better coordinates its decisions with the VMware HA capability in vSphere, resulting in lower chances of downtime for VMs.
* **Resurrection logic improvements**: The BOSH Director has improved its logic and now continues to retry when resurrecting a VM even if its fails the first time.

### <a id='certs'></a>SHA 256 Certificates

Ops Manager now generates SHA 256 certificates.

### <a id='max-in-flight'></a> Edit Job Configurations

Ops Manager now supports API endpoints to edit `max_in_flight` configurations per job. See the OpsManager API documentation for more information. To view the Ops Manager API documentation, browse to `https://YOUR-OPS-MANAGER-FQDN/docs`.

## <a id='known-issues'></a> Known Issues

This section lists known issues for Ops Manager.

### <a id='pers-disk'></a> Persistent Disk Provisioning Error on Azure

On PCF on Azure deployments, BOSH sometimes returns an error when provisioning persistent disks. The error resembles the following: 

```
Persistent disk with volume id 'SOME-ID' could not be found.
``` 
This error can occur when deploying the BOSH Director itself or another product in Ops Manager. To workaround this issue, retry the deployment.

### <a id='rsyslog_mem_leak'></a> Memory Leak in rsyslog v8.23

rsyslog v8.23 is prone to memory leaks when TCP connections are reset.

Deployments with stable syslog storer endpoints appear not to be affected by this syslog version.
The following stemcells contain rsyslog v8.23:

* 3312.9
* 3312.8
* 3312.7
* 3312.6
* 3312.5
* 3312.3

Stemcell v3312, which contains rsyslog v8.22, does not exhibit the memory leak issue, but is missing other kernel vulnerability fixes.

Work is in progress to build a new stemcell that pins rsyslog to `8.22.0-0adiscon1trusty1`.

Stemcells from other release series (3151.x, 3233.x, 3263.x) contain rsyslog v8.23. Stemcells from these series will be updated to pin to v8.22 as well.

This issue is also being tracked here: [BOSH #1537: syslogd on all VMs has memory leak](https://github.com/cloudfoundry/bosh/issues/1537).

### <a id='service_networks'></a> Firewall Rules and Service Networks in GCP

On PCF for GCP deployments, Ops Manager service network VMs are not assigned the correct firewall rules. As a result, these VMs cannot communicate with the BOSH Director and service tiles that use the [On-Demand Service Broker (ODB)](https://docs.pivotal.io/on-demand-service-broker/) fail to create service instances.

As a workaround, if you are deploying a service network in GCP, modify your firewall to use subnet CIDR-based rules.

## <a id='bug-fixes'></a> Bug Fixes

* Fixed a bug that was preventing a load balancer from being attached to the BOSH Director on Google Cloud Platform.


