---
title: Pivotal Cloud Foundry Ops Manager v1.12 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for 2017.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a>How to Upgrade ##

The [Upgrading Pivotal Cloud Foundry](../customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v1.12.

### 1.12.0

Version 1.12.0 of Ops Manager consists of the following component versions:

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: 262.3</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v0.0.103</td>
</tr>
<tr>
  <td>Stemcell: 3421.9</td>
</tr>
<tr>
  <td>AWS CPI: 65</td>
</tr>
<tr>
  <td>Azure CPI: 24</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.9.0</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 41</td>
</tr>
<tr>
  <td>UAA: 41</td>
</tr>
<tr>
  <td>JMX: 3</td>
</tr>
<tr>
  <td>CredHub: 1.0.1</td>
</tbody>
</table>

<hr>

## <a id='major-features'></a>New Features in Ops Manager v1.12.0

### <a id='google-xpn'></a>Google Shared Virtual Private Cloud

Google Shared Virtual Private Cloud (VPC), formerly known as Google Cross-Project Networking (XPN), enables you to assign GCP resources
to individual projects within an organization but allows communication and shared services between projects.
For more information about this feature, see the [Configuring a Shared VPC on GCP](../customizing/gcp-shared-vpc.html) topic.

### <a id='credhub-migration'></a>Migrate Non-Configurable Secrets to CredHub

Tile Authors can write a JavaScript migration to move their existing non-configurable secrets into CredHub.
Ops Manager v1.12 supports migrating `secret`, `simple_credential`, and `rsa_pkey_credential` types.
For more information about this feature, see the [Migrating Existing Credentials to CredHub](https://docs.pivotal.io/tiledev/migrating-credhub-credentials.html)
topic in the PCF Tile Developers Guide.

<!-- Bug Fixes -->

## <a id='known-issues'></a> Known Issues

### <a id='services-network'></a>On-Demand Services Require Dedicated Service Networks

If you use any service tile that offers both on-demand and not on-demand modes of operation, clicking **Apply Changes** in Ops Manager fails if you did not
define a dedicated service network for the tile.

To work around this issue, use one of the following methods:

* Create a services network on your IaaS for each affected service tile
* Create a dummy network in Ops Manager, reserve a block of IP ranges, and disable smoke tests for the on-demand service

For more information, see the corresponding [Knowledge Base](https://discuss.pivotal.io/hc/en-us/articles/115010154387) article.
