---
title: Pivotal Cloud Foundry Ops Manager v1.11 Release Notes
owner: Ops Manager
---

## <a id='how-to-upgrade'></a>How to Upgrade ##

The procedure for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v1.11 is documented in the [Upgrading Pivotal Cloud Foundry](../customizing/upgrading-pcf.html) topic.

### 1.11.0

Version 1.11.0 of Ops Manager consists of the following component versions:

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: v261.4</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v0.0.100</td>
</tr>
<tr>
  <td>Stemcell: 3363.x</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 22</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 27</td>
</tr>
</tbody>
</table>

## <a id='major-features'></a>New Features in Ops Manager v1.11.0

### <a id='logging'></a>Improved Logging for the Ops Manager VM

Ops Manager v1.11.0 logs all activity of commands on the Ops Manager VM.

### <a id='errands'></a>BOSH CLI v2 Support

Ops Manager v1.11.0 supports both the BOSH CLI v1 and the BOSH CLI v2. You can use either version of the CLI to manage your deployment. For more information about the BOSH CLI v2, see the [BOSH documentation](https://bosh.io/docs/cli-v2.html).

### <a id='bosh'></a> BOSH Updates

The following list sections updates in the new BOSH version that are not exposed by Ops Manager, but may be helpful for operators and tile developers for improving their workflows. 

#### BOSH Director

#### Stemcell
