---
title: Pivotal Cloud Foundry Ops Manager v1.11 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for 2017.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a>How to Upgrade ##

The procedure for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v1.11 is documented in the [Upgrading Pivotal Cloud Foundry](../customizing/upgrading-pcf.html) topic.

### 1.11.0

Version 1.11.0 of Ops Manager consists of the following component versions:

<table border="1" class="nice">
<thead>
<tr>
  <th>Versions</th>
</tr>
</thead>
<tbody>
<tr>
  <td>BOSH Director: v261.4</td>
</tr>
<tr>
  <td><code>bosh-init</code>: v0.0.100</td>
</tr>
<tr>
  <td>Stemcell: 3363.x</td>
</tr>
<tr>
  <td>AWS CPI: 62</td>
</tr>
<tr>
  <td>Azure CPI: 22</td>
</tr>
<tr>
  <td>Google Cloud Platform CPI: 25.6.2</td>
</tr>
<tr>
  <td>OpenStack CPI: 27</td>
</tr>
<tr>
  <td>vSphere CPI: 38</td>
</tr>
<tr>
  <td>UAA: 27</td>
</tr>
</tbody>
</table>

## <a id='major-features'></a>New Features in Ops Manager v1.11.0

### <a id='ops-man-api'></a>Ops Manager API

Operators can now use the API to trigger an installation process only for Ops Manager Director, skipping the deployment of all other products that have pending changes in Ops Manager. For more information about using this Ops Manager API feature, see [Applying Changes to Ops Manager Director](../customizing/deploy-ops-man-director.html).

### <a id='logging'></a>Improved Logging for the Ops Manager VM

Ops Manager v1.11.0 logs all activity of commands on the Ops Manager VM.

### <a id='vm-hardening'></a>Ops Manager VM Hardening

Ops Manager is more secure than ever. Starting in v1.11.0, Pivotal has enhanced VM security to maintain consistency with industry standards. Now OpsManager VM should pass security scans with the same success rates as other Bosh Deployed VMs.

### <a id='errands'></a>BOSH CLI v2 Support

Ops Manager v1.11.0 supports both the BOSH CLI v1 and the BOSH CLI v2. You can use either version of the CLI to manage your deployment. For more information about the BOSH CLI v2, see the [BOSH documentation](https://bosh.io/docs/cli-v2.html).

### <a id='bosh'></a> BOSH Updates

The following list sections updates in the new BOSH version that are not exposed by Ops Manager, but may be helpful for operators and tile developers for improving their workflows. 

### <a id='bosh'></a> All Director logs go to SysLog

The BOSH Director now sends all logs to SysLog, an external storage tool intended to preserve logs in case of catastrophic deployment loss. Learn how to set up SysLog in the "Configuring Ops Manager Director..." topic specific to your IaaS. 

#### BOSH Director

#### Stemcell
