---
title: PCF Ops Manager Release v2.1 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a>How to Upgrade ##

The [Upgrading Pivotal Cloud Foundry](../customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v2.1.

### 2.1.0

Ops Manager v2.1.0 uses the following component versions:

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.13</td>
  </tr><tr>
    <td>BOSH Director</td><td>264.6</td>
  </tr><tr>
    <td>CredHub</td><td>1.6.5</td>
  </tr><tr>
    <td>UAA</td><td>52.4</td>
  </tr><tr>
    <td>AWS CPI</td><td>69</td>
  </tr><tr>
    <td>Azure CPI</td><td>34</td>
  </tr><tr>
    <td>GCP CPI</td><td>25.10.0</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>35</td>
  </tr><tr>
    <td>vSphere CPI</td><td>45.1.0</td>
  </tr><tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

<hr>

## <a id='major-features'></a>New Features in Ops Manager v2.1

### <a id="gcs-blobstore"></a> GCS Blobstore Available for External File Storage

You now have the option to select a Google Cloud Storage (GCS) blobstore as your external file storage when you configure Ops Manager for Google Cloud Platform (GCP). With this new feature, Pivotal now recommends you select the **GCS Blobstore** option for the **Blobstore Location** if you install Ops Manager with GCP. For more information, see [Step 3: Director Config Page](../customizing/gcp-om-config.html#director-config).

<p class="note"><strong>Note: </strong>After you deploy Ops Manager, you cannot change the blobstore location.</p>

### <a id="ip-discontinued"></a> IP Management Removed

Ops Manager no longer allows operators to allocate or manage IPs. Instead, only the BOSH Director manages IP allocation. This change is to keep IP management in one central location without redundancy. To learn more about BOSH Director and how it handles both networks and IPs, see [Dynamic Networks](https://bosh.io/docs/networks.html) in the BOSH documentation.

### <a id="custom-banner"></a> Custom Banner Available for Web Apps and Ops Manager

From the Ops Manager settings, you can now add a custom banner to communicate important messages. In the new **Custom Banner** pane, enter text in the **Banner UI** field to create a banner that appears on each web app page. If you enter text in the **SSH Banner** field, that text appears to each operator who shells into Ops Manager. For more information about navigating Ops Manager settings, see [Settings Page](../customizing/pcf-interface.html#settings).
