---
title: PCF Ops Manager v2.5 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a> How to Upgrade

The [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/2-5/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v2.5.

## <a id="releases"></a>Releases

<p class="note warning"><strong>Warning:</strong> Before installing or upgrading to Ops Manager v2.5, review the <a href="./breaking-changes.html#critical-breaking">Critical Breaking Changes in PCF v2.5</a>.</p>

### <a id="2-5-7"></a> 2.5.7

- **[Feature]** Ops Manager now passes **Trusted Certificates** from the **Security** pane to the `uaa.ca_certs` property of UAA to avoid failures in the pre-start script run by UAA. 
* **[Bug Fix]** Non-configurable collection record properties do not require configuration in the UI or API. 

Ops Manager v2.5.7 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.7-build.208*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.63*</td></tr><tr><td>BBR SDK</td><td>1.14.0</td></tr><tr><td>BOSH Director</td><td>268.6.3*</td></tr><tr><td>BOSH DNS</td><td>1.10.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.0</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20*</td></tr><tr><td>AWS CPI</td><td>73</td></tr><tr><td>Azure CPI</td><td>35.5.3*</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.2*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.0*</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id="2-5-6"></a> 2.5.6

Ops Manager v2.5.6 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.6-build.198*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.56</td></tr><tr><td>BBR SDK</td><td>1.14.0</td></tr><tr><td>BOSH Director</td><td>268.6.2*</td></tr><tr><td>BOSH DNS</td><td>1.10.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.0</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20.0.0</td></tr><tr><td>AWS CPI</td><td>73</td></tr><tr><td>Azure CPI</td><td>35.5.2</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.1</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.4.0</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id="2-5-5"></a> 2.5.5

* **Bug Fix** Errands no longer fail when output is ASCII encoded but contains non-ASCII characters. 

Ops Manager v2.5.5 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.5-build.194*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.56*</td></tr><tr><td>BBR SDK</td><td>1.14.0</td></tr><tr><td>BOSH Director</td><td>268.6.1</td></tr><tr><td>BOSH DNS</td><td>1.10.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.0</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20.0.0</td></tr><tr><td>AWS CPI</td><td>73</td></tr><tr><td>Azure CPI</td><td>35.5.2*</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.1</td></tr><tr><td>BOSH CLI</td><td>5.5.1*</td></tr><tr><td>Credhub CLI</td><td>2.4.0</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id="2-5-4"></a> 2.5.4

- **[Security Fix]** Bumps stemcell to 250.48 to resolve [USN-3977-1](https://usn.ubuntu.com/3977-1/).
- **[Bug Fix]** Ops Manager does not allow a revert on upgrade without deploying the BOSH Director.

Ops Manager v2.5.4 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.4-build.189*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.48*</td></tr><tr><td>BBR SDK</td><td>1.14.0</td></tr><tr><td>BOSH Director</td><td>268.6.1</td></tr><tr><td>BOSH DNS</td><td>1.10.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.0</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20.0.0</td></tr><tr><td>AWS CPI</td><td>73</td></tr><tr><td>Azure CPI</td><td>35.4.0</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.1</td></tr><tr><td>BOSH CLI</td><td>5.5.0</td></tr><tr><td>Credhub CLI</td><td>2.4.0</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id="2-5-3"></a> 2.5.3

- **[Feature]** Operators can override the NATS max payload using the Ops Manager API. For more information, see [Updating director and Iaas properties (Experimental)](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#updating-director-and-iaas-properties-experimental) in the Ops Manager API documentation.
- **[Bug Fix]** 'Cloud Config' does not show up in the sidebar or in the main column of product diffs.
- **[Bug Fix]** Dropdowns for certain VM types are easier to use.
- **[Bug Fix]** UAA session timeouts obey the access or refresh token lifetime.
- **[Bug Fix]** Certificate chain for LDAP makes it into the UAA truststore.
- **[Bug Fix]** Harbor installs correctly when the PKS tile is already installed.
- **[Bug Fix]** When an operators export installation settings, they see "Pending Changes" for the BOSH Director.
- **[Bug Fix]** Operators cannot change non-configurable resource configs.
- **[Bug Fix]** Apply Changes does not fail if copying credentials to CredHub takes longer than ten minutes.
- **[Bug Fix]** VM extension names do not contain a period.


Ops Manager v2.5.3 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.3-build.185*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.38*</td></tr><tr><td>BBR SDK</td><td>1.14.0</td></tr><tr><td>BOSH Director</td><td>268.6.1*</td></tr><tr><td>BOSH DNS</td><td>1.10.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6*</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.0</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20.0.0</td></tr><tr><td>AWS CPI</td><td>73</td></tr><tr><td>Azure CPI</td><td>35.4.0</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.1*</td></tr><tr><td>BOSH CLI</td><td>5.5.0*</td></tr><tr><td>Credhub CLI</td><td>2.4.0</td></tr><tr><td>BBR CLI</td><td>1.5.1*</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id="2-5-2"></a> 2.5.2

* **This patch contains no new features or fixes.** It updates Ops Manager components to address dependency requirements for other products.

Ops Manager v2.5.2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.2-build.172*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.17</td></tr>
  <tr><td>BBR SDK</td><td>1.14.0</td></tr>
  <tr><td>BOSH Director</td><td>268.6.0</td></tr>
  <tr><td>BOSH DNS</td><td>1.10.0</td></tr>
  <tr><td>Metrics Server</td><td>0.0.22</td></tr>
  <tr><td>CredHub</td><td>2.1.5*</td></tr>
  <tr><td>Syslog</td><td>11.4.0</td></tr>
  <tr><td>Windows Syslog</td><td>1.0.3</td></tr>
  <tr><td>UAA</td><td>71.0</td></tr>
  <tr><td>BPM</td><td>1.0.4</td></tr>
  <tr><td>Networking</td><td>9</td></tr>
  <tr><td>OS Conf</td><td>20.0.0</td></tr>
  <tr><td>AWS CPI</td><td>73</td></tr>
  <tr><td>Azure CPI</td><td>35.4.0</td></tr>
  <tr><td>Google CPI</td><td>29.0.1</td></tr>
  <tr><td>OpenStack CPI</td><td>42</td></tr>
  <tr><td>vSphere CPI</td><td>52.1.0</td></tr>
  <tr><td>BOSH CLI</td><td>5.4.0</td></tr>
  <tr><td>Credhub CLI</td><td>2.4.0</td></tr>
  <tr><td>BBR CLI</td><td>1.5.0</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-1"></a> 2.5.1 

* **[Security Fix]**: This patch addresses [CVE-2019-5418](https://nvd.nist.gov/vuln/detail/CVE-2019-5418), a Rails file content disclosure vulnerability.
* **[Security Fix]**: This patch addresses [CVE-2019-5419](https://nvd.nist.gov/vuln/detail/CVE-2019-5419), a Rails vulnerability that could lead to denial of service (DoS) attacks.
* **[Security Fix]**: Ops Manager operators cannot set secrets that do not match the constraints defined by the `must_match_regex` parameter.
* **[Bug Fix]**: When a redeploy is triggered by Apply Changes and that redeploy lasts multiple days, logs are generated for that entire time.
* **[UI Improvement]**: The Pending Changes page for an on-demand service broker tile now warns you explicitly that changes made applies only to the broker andt p: not to service instances.
* **[UI Improvement]**: The notification banner that appears when a certificate in your deployment is about to expire is updated for clarity.

Ops Manager v2.5.1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.1-build.169*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.17</td></tr>
  <tr><td>BBR SDK</td><td>1.14.0</td></tr>
  <tr><td>BOSH Director</td><td>268.6.0</td></tr>
  <tr><td>BOSH DNS</td><td>1.10.0</td></tr>
  <tr><td>Metrics Server</td><td>0.0.22</td></tr>
  <tr><td>CredHub</td><td>2.1.2</td></tr>
  <tr><td>Syslog</td><td>11.4.0</td></tr>
  <tr><td>Windows Syslog</td><td>1.0.3</td></tr>
  <tr><td>UAA</td><td>71.0*</td></tr>
  <tr><td>BPM</td><td>1.0.4*</td></tr>
  <tr><td>Networking</td><td>9</td></tr>
  <tr><td>OS Conf</td><td>20.0.0</td></tr>
  <tr><td>AWS CPI</td><td>73</td></tr>
  <tr><td>Azure CPI</td><td>35.4.0</td></tr>
  <tr><td>Google CPI</td><td>29.0.1</td></tr>
  <tr><td>OpenStack CPI</td><td>42</td></tr>
  <tr><td>vSphere CPI</td><td>52.1.0</td></tr>
  <tr><td>BOSH CLI</td><td>5.4.0</td></tr>
  <tr><td>Credhub CLI</td><td>2.4.0*</td></tr>
  <tr><td>BBR CLI</td><td>1.5.0*</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-0"></a> 2.5.0 

Ops Manager v2.5.0 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.0-build.158*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.17*</td></tr>
  <tr><td>BBR SDK</td><td>1.14.0</td></tr>
  <tr><td>BOSH Director</td><td>268.6.0</td></tr>
  <tr><td>BOSH DNS</td><td>1.10.0</td></tr>
  <tr><td>Metrics Server</td><td>0.0.22</td></tr>
  <tr><td>CredHub</td><td>2.1.2</td></tr>
  <tr><td>Syslog</td><td>11.4.0</td></tr>
  <tr><td>Windows Syslog</td><td>1.0.3</td></tr>
  <tr><td>UAA</td><td>69.0</td></tr>
  <tr><td>BPM</td><td>1.0.3</td></tr>
  <tr><td>Networking</td><td>9</td></tr>
  <tr><td>OS Conf</td><td>20.0.0</td></tr>
  <tr><td>AWS CPI</td><td>73</td></tr>
  <tr><td>Azure CPI</td><td>35.4.0</td></tr>
  <tr><td>Google CPI</td><td>29.0.1</td></tr>
  <tr><td>OpenStack CPI</td><td>42</td></tr>
  <tr><td>vSphere CPI</td><td>52.1.0</td></tr>
  <tr><td>BOSH CLI</td><td>5.4.0</td></tr>
  <tr><td>Credhub CLI</td><td>2.2.1</td></tr>
  <tr><td>BBR CLI</td><td>1.4.0</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

## <a id='major-features'></a> New Features in Ops Manager v2.5

Ops Manager v2.5 includes the following major features:

### <a id="pending-tile-changes"></a> Pending Changes Page Displays Staged Changes

If you have changed the configuration of a tile in your deployment, use the Pending Changes page to review the changes to the existing manifest or configs line-by-line. Access a tile's pending changes by clicking the **See Changes** button on the Review Pending Changes page.

Use the output on this page to verify accuracy and comprehensiveness before redeploying Ops Manager. This page is especially useful for deployments with more than one operator or administrator, or deployments that change due to both API and UI modifications.

For more information, see [About Pending Changes for a Specific Tile](https://docs.pivotal.io/pivotalcf/2-5/customizing/review-pending-changes.html#pending-changes).

### <a id="azure-azs"></a> Microsoft Azure Availability Zones Available

Ops Manager operators and administrators can now configure Availability Zones (AZs). AZs provide high availability, minimal latency, and efficient resource management for deployments around the world.

AZs are only available for new installations of Ops Manager. Existing installations that are being upgraded from v2.4 must use Availability Sets.

For more information, see [Configuring BOSH Director on Azure](http://docs.pivotal.io/pivotalcf/2-5/om/azure/config-manual.html) and [Configuring BOSH Director on Azure Using Terraform](http://docs.pivotal.io/pivotalcf/2-5/om/azure/config-terraform.html).

### <a id="host-groups"></a> Host Group Configuration Available for vSphere Availability Zones

You can associate an Availability Zone (AZ) with a host group for Ops Manager deployments on vSphere. Host groups are subsets of vSphere clusters. Since you must associate a cluster with an AZ in vSphere deployments, host group configuration can help you manage deployment resources more precisely. Enable vSphere host groups from the **Create Availability Zones** pane in the BOSH Director tile. 

For more information, see [Create Availability Zones Page](https://docs.pivotal.io/pivotalcf/2-5/om/vsphere/config.html#create-az) in *Configuring BOSH Director on vSphere*.

### <a id="nats-ca"></a> NATS Certificate Rotation Available in the Ops Manager API

Ops Manager allows you to regenerate and rotate the NATS certificate authority (CA). The public keys and expiration dates for the NATS CA are visible at `/api/v0/deployed/certificates`. The certificate itself is listed as an active CA on the certificates table in the Ops Manager database.

A new NATS CA is created every time a new Ops Manager root CA is created. This pairs the lifecycle of the NATS CA with the Ops Manager root CA. The two CAs are created, activated, and deleted in unison. When an operator uses the `regenerate` endpoint in the Ops Manager API, new leaf certificates are generated for each client using the NATS CA. The new certificates use the active NATS CA in the database.

For more information about regenerating and rotating certificates, see [Rotating Certificates](https://docs.pivotal.io/pivotalcf/2-5/security/pcf-infrastructure/api-cert-rotation.html).

### <a id="pre-create"></a> Pre-Created Clients Available in the Ops Manager API

You can now configure a pre-created client account to manage automation tasks and scripts for Ops Manager. To do this, you will need access to the UAA Command Line Client (UAAC) and Ops Manager API.

Pivotal recommends using client accounts for automated tasks because client accounts are not bound to the same authentication protocols as user accounts. A user account that controls automated components can cause those components to fail if the account experiences inconsistent availability due to permission or authentication issues.

You can configure a pre-created client for Ops Manager either before you deploy Ops Manager for the first time, or by adding it to an existing deployment.

For more information about Ops Manager users and clients, see [Creating and Managing Ops Manager User and Client Accounts](http://docs.pivotal.io/pivotalcf/2-5/customizing/opsman-users.html).

### <a id="vm-extensions"></a> Apply Custom VM Extensions to the BOSH Director in the Ops Manager API

You can define custom VM extensions for the BOSH Director VM by creating them in the API and then applying them to an instance group using `PUT /api/v0/staged/products/PRODUCT_GUID/JOBS/JOB_GUID/resource_config`. This endpoint works for both the BOSH Director’s jobs and product tiles.

Use this endpoint to configure custom behavior for the BOSH Director VM, such as allowing the Director to read or write directly to a blobstore.

For more information about custom VM extensions, see [Staged VM Extensions](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#staged-vm-extensions) in the Ops Manager API documentation.


### <a id="ui-text"></a> Ops Manager User Interface Text is Updated

The field names, button text, error messaging, and other textual UI elements in Ops Manager are updated. This is part of an ongoing effort to improve clarity, utility, and the user experience.

This update does not impact Ops Manager product tiles or the BOSH Director. For more information about the Ops Manager UI, see [Using the Ops Manager Interface](https://docs.pivotal.io/pivotalcf/2-5/customizing/pcf-interface.html).

### <a id="tmpfs"></a> Store BOSH Job Credentials on tmpfs 

You can choose to store credentials for BOSH jobs in temporary file storage (tmpfs). This method stores credentials in volatile memory, rather than on the persistent disk. Choosing to store credentials in tmpfs may impact your BOSH deployment's availability if the tmpfs is refreshed or loses access to the deployment. You must recreate all VMs for this change to take effect. 

To enable this feature, navigate to the **Director Config** section of the **BOSH Director** tile and enable the **Store BOSH Job Credentials on tmpfs (beta)** checkbox. 

For more information on the Director Config forms, see [IaaS-Specific Deployment Guidelines](https://docs.pivotal.io/pivotalcf/2-5/customizing/deploy-bosh-om.html#contents).

### <a id="log-forwarding"></a> Forward Ops Manager Debug Logs to An External Store in the Syslog Form

You can choose to forward logs generated by debugging processes to an external source by selecting a checkbox in the Syslog pane of the Ops Manager **Settings** page. Forwarded logs are delivered to whatever external location you choose to receive other types of logs from Ops Manager.

To forward logs, select the **Forward Debug Logs** checkbox in the Syslog pane. This checkbox is deselected by default, because debug logs can be excessive and require a great deal of storage capacity. If you choose to use this option, ensure you have sufficient storage to contain the generated logs.

For more information about the Ops Manager Syslog pane, see [Settings Page](https://docs.pivotal.io/pivotalcf/2-5/customizing/pcf-interface.html#settings) in the *Using the Ops Manager Interface* topic.

### <a id="rsyslog"></a> Custom Rsyslog Configuration Available in Ops Manager Syslog Template

You can further customize Syslog behavior by including configuration options in the **Custom rsyslog Configuration** field of the Ops Manager **Settings** page. This optional field lets you add more refined rules for syslog configuration than are permitted in the standard settings available in the Ops Manager UI.

If you configure custom rules and also choose the **Forward Debug Logs** checkbox, the rules apply before log forwarding takes place. 

For more information about forwarding debug logs, see [Forward Ops Manager Debug Logs to An External Store in the Syslog Form](#log-forwarding).

For more information about the Ops Manager Syslog pane, see [Settings Page](https://docs.pivotal.io/pivotalcf/2-5/customizing/pcf-interface.html#settings) in the *Using the Ops Manager Interface* topic.

## <a id='known-issues'></a> Known Issues

### <a id="service-broker-syslog"></a> Ops Manager's Syslog Template is Not Supported for Service Broker Tiles

Ops Manager's Syslog template does not propagate to service broker tiles. Tile developers with service broker tiles should continue to use their own Syslog configurations. Service broker tiles with the Syslog template configured will not display the Syslog template.

For more information about the Syslog template, see [Syslog Form Template Available for Tile Authors](https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/opsmanager-rn.html#syslog).

### <a id="monit"></a> Monit Inaccurately Reports Health of UAA

When BOSH Director reboots, Monit may report UAA as running, even though its process state is unhealthy. The Monit start scripts for UAA use the UAA `/healthz` endpoint to verify UAA is running, but the `/healthz` endpoint does not know there is a database requirement. Monit detects UAA is healthy, even though UAA is stuck, and never restarts it.

To fix this, run `monit restart uaa` to restart UAA after Postgres is running.

For more information, see [Monit reports UAA running on BOSH Director when it is actually unhealthy](https://community.pivotal.io/s/article/monit-reports-uaa-running-on-bosh-director-when-it-is-actually-unhealthy) in the Pivotal Knowledge Base.

### <a id='bpm'></a> BPM Fails to Start Job Process

Some Monit processes fail to start. The `bpm.log` shows an exit status of `1` with no other cause for the failure.

BOSH Process Manager (BPM) calls runC to create a new container and launch a job process. However, runC cannot start the container because there is a stale `state.json` in `/var/vcap/bpm/runc/CONTAINER-ID/state.json`, where `state.json` is a zero-byte file. When running runC manually to start the job process, runC has an EOF error and the exit status is `1`. runC fails to read the `state.json` and exits.

To resolve this issue, delete the zero-byte `state.json` file by deleting its parent directory with the following command: `rm -rf /var/vcap/data/bpm/runc/MJRHG---`<br>
Then run `monit start JOB` to start the job process and review the job logs to check if there are any further failures.

For more information, see [BPM fails to start job process with exit status 1](https://community.pivotal.io/s/article/bpm-fails-to-start-job-process-with-exit-status-1) in the Pivotal Knowledge Base.

### <a id="bad-link-failed-install"></a> Incorrect Link for Failed Installations in Ops Manager UI

When an installation fails, the Ops Manager UI presents a hyperlink to the installation log in a pop-up window. 
This link is currently non-functional.

To work around this issue, click on **Change Log** in the Ops Manager Installation Dashboard to view product installation logs.

## <a id="api-updates"></a> API Documentation Updates

Ops Manager v2.5 includes the following updates to the API. Some of these updates are referenced in the [New Features](#major-features) section.

### <a id="updated-sections"></a> Updated Sections

The following sections of the API documentation are updated in Ops Manager v2.5:

* [Setting up with an internal userstore](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#setting-up-with-an-internal-userstore) in *Setup*: This section includes a new parameter:
 * `setup[precreated_client_secret]`
* [Setting up with SAML](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#setting-up-with-saml) in *Setup*: This section includes a new parameter:
 * `setup[precreated_client_secret]`
* [Setting up with LDAP](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#setting-up-with-ldap) in *Setup*: This section includes a new parameter:
 * `setup[precreated_client_secret]`
* [Updating director and Iaas properties (Experimental)]
(http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#updating-director-and-iaas-properties-experimental) in *Setup*: This section includes a new parameter:
 * `job_configuration_on_tmpfs`
* [Retrieving a list of install time verifiers for the director](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#retrieving-a-list-of-install-time-verifiers-for-the-director) in *Staged BOSH Director*: This section is renamed.
* [Deployed BOSH Director (Advanced)](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#deployed-bosh-director-advanced): This section is designated "advanced."
* [Fetching a deployed manifest](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#fetching-a-deployed-manifest) in *Deployed BOSH Director (Advanced)*: This section is renamed.
* [Fetching a deployed cloud config](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#fetching-a-deployed-cloud-config) in *Deployed BOSH Director (Advanced)*: This section is renamed.

### <a id="new-sections"></a> New Sections

The following sections are new in Ops Manager v2.5:

* [Upgrading a stemcell](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#upgrading-a-stemcell)
* [Syslog Configuration](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#updating-director-and-iaas-properties-experimental)
* [Retrieving information about a deployed product](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#retrieving-information-about-a-deployed-product)
* [Retrieving information about a staged product](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#retrieving-information-about-a-staged-product)
* [Setting precreated-client secret](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#setting-precreated-client-secret)
* [Diffs](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#diffs): This section also includes new subsections:
  * [Fetching the BOSH Director diff](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#fetching-the-bosh-director-diff)
  * [Fetching a product diff](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#fetching-a-product-diff)
