---
title: PCF Ops Manager v2.5 Release Notes
owner: Ops Manager
---

This topic contains release notes for Pivotal Cloud Foundry (PCF) Ops Manager v2.6.

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id="releases"></a> Releases

<p class="note warning"><strong>Warning:</strong> Before installing or upgrading to Ops Manager v2.5, review <a href="./breaking-changes.html#critical-breaking">Critical Breaking Changes in PCF v2.5</a>.</p>

### <a id="2-5-30"></a> 2.5.30

Ops Manager v2.5.30 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.30-build.355*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.183*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>268.6.7</td></tr><tr><td>BOSH DNS</td><td>1.17.0*</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.1.12</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.8*</td></tr><tr><td>BPM</td><td>1.1.7*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.11</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.6.2</td></tr><tr><td>BBR CLI</td><td>1.7.0</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>


### <a id="2-5-29"></a> 2.5.29

Ops Manager v2.5.29 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.29-build.351*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.181*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>268.6.7</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.1.12*</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.7</td></tr><tr><td>BPM</td><td>1.1.6</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.11*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.6.2</td></tr><tr><td>BBR CLI</td><td>1.7.0*</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-5-28"></a> 2.5.28

- **[Bug Fix]** Fixes issue where multi-datacenter vSphere always deploys BOSH Director to the first vCenter configured in Ops Manager.
- **[Bug Fix]** Fixes performance issues with the Ops Manager change log page.

Ops Manager v2.5.28 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.28-build.341*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.178*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>268.6.7</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.1.10</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.7</td></tr><tr><td>BPM</td><td>1.1.6</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.9*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.6.2</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-27"></a> 2.5.27

- **[Feature]** Operators can download a Platform Information Bundle as a ZIP file from the Ops Manager UI.
- **[Feature]** Operators can download a Platform Information Bundle as a ZIP file from the Ops Manager /api/v0/support_bundle endpoint API endpoint.
- **[Bug Fix]** Apply changes no longer fails when tiles use the allow_encrypted_key feature.
- **[Bug Fix]** Fixes issue where upgrading a tile with a minimum version and build number in the product version fails.

Ops Manager v2.5.27 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.27-build.334*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.170*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>268.6.7</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.1.10</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.7*</td></tr><tr><td>BPM</td><td>1.1.6</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.8*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.6.2</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-26"></a> 2.5.26

Ops Manager v2.5.26 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.26-build.327*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.161*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>268.6.7*</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.1.10</td></tr><tr><td>Syslog</td><td>11.6.1*</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.6</td></tr><tr><td>BPM</td><td>1.1.6</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.7</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.6.2</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-25"></a> 2.5.25

- **[Feature]** Tile developers can allow operators to use an encrypted private key when configuring HSM.
- **[Feature]** Operators can use an encrypted private key for **Provider Client Certificate Private Key** when configuring HSM in the **Director Config** pane of the BOSH Director tile.

Ops Manager v2.5.25 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.25-build.322*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.159*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>268.6.6</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.1.10*</td></tr><tr><td>Syslog</td><td>11.6.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.6</td></tr><tr><td>BPM</td><td>1.1.6*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.7</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.6.2*</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-24"></a> 2.5.24

Ops Manager v2.5.24 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.24-build.315*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.157</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>268.6.6</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.1.9</td></tr><tr><td>Syslog</td><td>11.6.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.6*</td></tr><tr><td>BPM</td><td>1.1.5</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.7*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.6.1</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-23"></a>2.5.23

* **[Feature]** Operators can configure multiple HSM hosts in BOSH CredHub using the Ops Manager API.
* **[Security Fix]**: When an operator makes a request to the UAA server, the server does not log credentials within the query parameters.

Ops Manager v2.5.23 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.23-build.309*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.157*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>268.6.6</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.1.9</td></tr><tr><td>Syslog</td><td>11.6.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.5</td></tr><tr><td>BPM</td><td>1.1.5</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0*</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.6*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.6.1</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-22"></a> 2.5.22

Ops Manager v2.5.22 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.22-build.303*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.142*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>268.6.6*</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.1.9</td></tr><tr><td>Syslog</td><td>11.6.0*</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.5</td></tr><tr><td>BPM</td><td>1.1.5</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.5</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.6.1*</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-21"></a> 2.5.21

- **[Security Fix]** This patch addresses [CVE-2019-15587](https://nvd.nist.gov/vuln/detail/CVE-2019-15587)
- **[Feature]** Operators can use the `DELETE /api/v0/staged` endpoint to revert pending changes
- **[Bug Fix]** API shows correct message for a given product when enabling or disabling unknown verifier
- **[Bug Fix]** Operators cannot modify vSphere availability zones that are associated with a deployed product with the API
- **[Bug Fix]** Ops Manager does not show the **Revert** button in the UI after Apply Changes
- **[Bug Fix]** Syslog forwarding continues to work after logs are rotated
- **[Bug Fix]** Users are allowed to uncheck all options in a `multi_select_options` property that is nested under a selector

Ops Manager v2.5.21 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.21-build.297*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.130*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>268.6.5</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.1.9</td></tr><tr><td>Syslog</td><td>11.5.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.5*</td></tr><tr><td>BPM</td><td>1.1.5*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.5</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.6.0</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-20"></a> 2.5.20

- **[Bug Fix]** Root CA certificate is only written to disk when it has changed

Ops Manager v2.5.20 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.20-build.283*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.116*</td></tr><tr><td>BBR SDK</td><td>1.17.2*</td></tr><tr><td>BOSH Director</td><td>268.6.5</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.1.9*</td></tr><tr><td>Syslog</td><td>11.5.0*</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.4*</td></tr><tr><td>BPM</td><td>1.1.3</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.5</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.6.0*</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-19"></a> 2.5.19

* **[Feature]** Operators can modify the External DB password through API or UI after successful deploy
* **[Feature]** Improves Nginx security configuration. Nginx now uses a more secure cipher suite and updates OpenSSL DH parameters to prevent fingerprinting.
* **[Bug Fix]** AWS AMI IDs for `eu-west-3` and `eu-north-1` are included in PDF on Pivotal Network
* **[Bug Fix]** Submitting a form with multiple unselected selector properties does not raise a 500 error

Ops Manager v2.5.19 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.19-build.271*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.110*</td></tr><tr><td>BBR SDK</td><td>1.17.1</td></tr><tr><td>BOSH Director</td><td>268.6.5</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24*</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.3</td></tr><tr><td>BPM</td><td>1.1.3</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.5</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.3</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-17"></a> 2.5.17

Ops Manager v2.5.17 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.17-build.260*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.99</td></tr><tr><td>BBR SDK</td><td>1.17.1</td></tr><tr><td>BOSH Director</td><td>268.6.5</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.3*</td></tr><tr><td>BPM</td><td>1.1.3</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.5</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.3*</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-16"></a> 2.5.16

* **[Feature]** LDAP configuration includes a **Group Max Search Depth** field
* **[Feature]** Operator can make changes to UAA group mappings using a BOSH admin client when Ops Manager is configured with LDAP
* **[Bug Fix]** Footer on React pages includes the correct copyright date
* **[Bug Fix]** Credentials are not shown in UI or API for restricted users
* **[Bug Fix]** Redirect to the changelog page when an installation fails
* **[Bug Fix]** Set permissions for `/var/log` directory correctly in Ops Manager appliance so the syslog user can rotate files in the syslog group

Ops Manager v2.5.16 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.16-build.257*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.99*</td></tr><tr><td>BBR SDK</td><td>1.17.1*</td></tr><tr><td>BOSH Director</td><td>268.6.5*</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.2</td></tr><tr><td>BPM</td><td>1.1.3</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.5</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.2</td></tr><tr><td>BBR CLI</td><td>1.5.2*</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-15"></a> 2.5.15

* **[Feature]** Enable audit checks on BOSH CLI commands. Events now appear in the Director syslog.
* **[Bug fix]** Resolves an issue in which Ops Manager set the Director ephemeral disk size to the Operator’s selected **PERSISTENT DISK** size. Now Ops Manager sets the ephemeral disk size as specified in the **VM TYPE** field.
* **[Bug fix]** Custom UI banners now show on React pages such as **Stemcell Library** and **Review Pending Changes**

Ops Manager v2.5.15 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.15-build.248*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.93*</td></tr><tr><td>BBR SDK</td><td>1.17.0</td></tr><tr><td>BOSH Director</td><td>268.6.4</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.2</td></tr><tr><td>BPM</td><td>1.1.3*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.5</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.2</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-14"></a> 2.5.14

* **[Bug fix]** Update BBR to 1.x to fix postgres db backup
* **[Feature]** Operators can set `recursor_selection` to true in the DNS runtime config through the OpsManager API
* **[Feature]** The OpsManager web server (nginx) does not allow TLSv1 and TLSv1.1
* **[Feature]** `/api/v0/deployed/certificates?expires_within=` does not display `saml_service_provider_cert` if Ops Manager is not using SAML.

Ops Manager v2.5.14 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.14-build.241*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.84</td></tr><tr><td>BBR SDK</td><td>1.17.0*</td></tr><tr><td>BOSH Director</td><td>268.6.4</td></tr><tr><td>BOSH DNS</td><td>1.12.0*</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.2</td></tr><tr><td>BPM</td><td>1.1.1*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>77*</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.5</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.2</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-13"></a> 2.5.13

* **[Feature Improvement]** Blobstore errors include the bucket name.

Ops Manager v2.5.13 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.13-build.232*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.84</td></tr><tr><td>BBR SDK</td><td>1.14.0</td></tr><tr><td>BOSH Director</td><td>268.6.4</td></tr><tr><td>BOSH DNS</td><td>1.10.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.2</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>76*</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.5</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.2</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-12"></a> 2.5.12

Ops Manager v2.5.12 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.12-build.229*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.84*</td></tr><tr><td>BBR SDK</td><td>1.14.0</td></tr><tr><td>BOSH Director</td><td>268.6.4*</td></tr><tr><td>BOSH DNS</td><td>1.10.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.2</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>73</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.5*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.2</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-11"></a> 2.5.11

* **[Bug Fix]** Ops Manager UI and API accurately reports if an Azure region supports AZs. The verifier fails if the region does not support AZs.

Ops Manager v2.5.11 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.11-build.224*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.82*</td></tr><tr><td>BBR SDK</td><td>1.14.0</td></tr><tr><td>BOSH Director</td><td>268.6.3</td></tr><tr><td>BOSH DNS</td><td>1.10.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.2</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>73</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.3</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.2</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-10"></a> 2.5.10

* **[Security Fix]** Fixes the UAA `client.write` scope vulnerability.
* **[Security Fix]** This patch addresses [CVE-2019-11479](https://nvd.nist.gov/vuln/detail/CVE-2019-11479)

Ops Manager v2.5.10 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.10-build.219*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.79</td></tr><tr><td>BBR SDK</td><td>1.14.0</td></tr><tr><td>BOSH Director</td><td>268.6.3</td></tr><tr><td>BOSH DNS</td><td>1.10.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.2*</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>73</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.3*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.2</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-9"></a> 2.5.9

* **[Bug Fix]** Ops Manager allows the PKS v1.5 tile to upload

Ops Manager v2.5.9 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.9-build.216*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.79*</td></tr><tr><td>BBR SDK</td><td>1.14.0</td></tr><tr><td>BOSH Director</td><td>268.6.3</td></tr><tr><td>BOSH DNS</td><td>1.10.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.0</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>73</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.2</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.2*</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-8"></a> 2.5.8

* **[Security Fix]** This patch addresses [CVE-2019-11477](https://nvd.nist.gov/vuln/detail/CVE-2019-11477) and [CVE-2019-11478](https://nvd.nist.gov/vuln/detail/CVE-2019-11478)

Ops Manager v2.5.8 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.8-build.212*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.73*</td></tr><tr><td>BBR SDK</td><td>1.14.0</td></tr><tr><td>BOSH Director</td><td>268.6.3</td></tr><tr><td>BOSH DNS</td><td>1.10.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.0</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>73</td></tr><tr><td>Azure CPI</td><td>35.5.3</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.2</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.1*</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-7"></a> 2.5.7

* **[Feature]** Ops Manager now passes **Trusted Certificates** from the **Security** pane to the `uaa.ca_certs` property of UAA to avoid failures in the pre-start script run by UAA.
* **[Bug Fix]** Non-configurable collection record properties do not require configuration in the UI or API.

Ops Manager v2.5.7 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.7-build.208*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.63*</td></tr><tr><td>BBR SDK</td><td>1.14.0</td></tr><tr><td>BOSH Director</td><td>268.6.3*</td></tr><tr><td>BOSH DNS</td><td>1.10.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.0</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20*</td></tr><tr><td>AWS CPI</td><td>73</td></tr><tr><td>Azure CPI</td><td>35.5.3*</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.2*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.0*</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-6"></a> 2.5.6

Ops Manager v2.5.6 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.6-build.198*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.56</td></tr><tr><td>BBR SDK</td><td>1.14.0</td></tr><tr><td>BOSH Director</td><td>268.6.2*</td></tr><tr><td>BOSH DNS</td><td>1.10.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.0</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20.0.0</td></tr><tr><td>AWS CPI</td><td>73</td></tr><tr><td>Azure CPI</td><td>35.5.2</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.1</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.4.0</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-5"></a> 2.5.5

* **Bug Fix** Errands no longer fail when output is ASCII encoded but contains non-ASCII characters.

Ops Manager v2.5.5 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.5-build.194*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.56*</td></tr><tr><td>BBR SDK</td><td>1.14.0</td></tr><tr><td>BOSH Director</td><td>268.6.1</td></tr><tr><td>BOSH DNS</td><td>1.10.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.0</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20.0.0</td></tr><tr><td>AWS CPI</td><td>73</td></tr><tr><td>Azure CPI</td><td>35.5.2*</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.1</td></tr><tr><td>BOSH CLI</td><td>5.5.1*</td></tr><tr><td>Credhub CLI</td><td>2.4.0</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-4"></a> 2.5.4

- **[Security Fix]** Bumps stemcell to 250.48 to resolve [USN-3977-1](https://usn.ubuntu.com/3977-1/).
- **[Bug Fix]** Ops Manager does not allow a revert on upgrade without deploying the BOSH Director.

Ops Manager v2.5.4 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.4-build.189*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.48*</td></tr><tr><td>BBR SDK</td><td>1.14.0</td></tr><tr><td>BOSH Director</td><td>268.6.1</td></tr><tr><td>BOSH DNS</td><td>1.10.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.0</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20.0.0</td></tr><tr><td>AWS CPI</td><td>73</td></tr><tr><td>Azure CPI</td><td>35.4.0</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.1</td></tr><tr><td>BOSH CLI</td><td>5.5.0</td></tr><tr><td>Credhub CLI</td><td>2.4.0</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-3"></a> 2.5.3

- **[Feature]** Operators can override the NATS max payload using the Ops Manager API. For more information, see [Updating director and Iaas properties (Experimental)](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#updating-director-and-iaas-properties-experimental) in the Ops Manager API documentation.
- **[Bug Fix]** 'Cloud Config' does not show up in the sidebar or in the main column of product diffs.
- **[Bug Fix]** Dropdowns for certain VM types are easier to use.
- **[Bug Fix]** UAA session timeouts obey the access or refresh token lifetime.
- **[Bug Fix]** Certificate chain for LDAP makes it into the UAA truststore.
- **[Bug Fix]** Harbor installs correctly when the PKS tile is already installed.
- **[Bug Fix]** When operators export installation settings, they see "Pending Changes" for BOSH Director.
- **[Bug Fix]** Operators cannot change non-configurable resource configs.
- **[Bug Fix]** Apply Changes does not fail if copying credentials to CredHub takes longer than ten minutes.
- **[Bug Fix]** VM extension names do not contain a period.

Ops Manager v2.5.3 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.3-build.185*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.38*</td></tr><tr><td>BBR SDK</td><td>1.14.0</td></tr><tr><td>BOSH Director</td><td>268.6.1*</td></tr><tr><td>BOSH DNS</td><td>1.10.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6*</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.0</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20.0.0</td></tr><tr><td>AWS CPI</td><td>73</td></tr><tr><td>Azure CPI</td><td>35.4.0</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.1*</td></tr><tr><td>BOSH CLI</td><td>5.5.0*</td></tr><tr><td>Credhub CLI</td><td>2.4.0</td></tr><tr><td>BBR CLI</td><td>1.5.1*</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-2"></a> 2.5.2

* **This patch contains no new features or fixes.** It updates Ops Manager components to address dependency requirements for other products.

Ops Manager v2.5.2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.2-build.172*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.17</td></tr>
  <tr><td>BBR SDK</td><td>1.14.0</td></tr>
  <tr><td>BOSH Director</td><td>268.6.0</td></tr>
  <tr><td>BOSH DNS</td><td>1.10.0</td></tr>
  <tr><td>Metrics Server</td><td>0.0.22</td></tr>
  <tr><td>CredHub</td><td>2.1.5*</td></tr>
  <tr><td>Syslog</td><td>11.4.0</td></tr>
  <tr><td>Windows Syslog</td><td>1.0.3</td></tr>
  <tr><td>UAA</td><td>71.0</td></tr>
  <tr><td>BPM</td><td>1.0.4</td></tr>
  <tr><td>Networking</td><td>9</td></tr>
  <tr><td>OS Conf</td><td>20.0.0</td></tr>
  <tr><td>AWS CPI</td><td>73</td></tr>
  <tr><td>Azure CPI</td><td>35.4.0</td></tr>
  <tr><td>Google CPI</td><td>29.0.1</td></tr>
  <tr><td>OpenStack CPI</td><td>42</td></tr>
  <tr><td>vSphere CPI</td><td>52.1.0</td></tr>
  <tr><td>BOSH CLI</td><td>5.4.0</td></tr>
  <tr><td>Credhub CLI</td><td>2.4.0</td></tr>
  <tr><td>BBR CLI</td><td>1.5.0</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-1"></a> 2.5.1

* **[Security Fix]**: This patch addresses [CVE-2019-5418](https://nvd.nist.gov/vuln/detail/CVE-2019-5418), a Rails file content disclosure vulnerability.
* **[Security Fix]**: This patch addresses [CVE-2019-5419](https://nvd.nist.gov/vuln/detail/CVE-2019-5419), a Rails vulnerability that could lead to denial of service (DoS) attacks.
* **[Security Fix]**: Ops Manager operators cannot set secrets that do not match the constraints defined by the `must_match_regex` parameter.
* **[Bug Fix]**: When a redeploy is triggered by Apply Changes and that redeploy lasts multiple days, logs are generated for that entire time.
* **[UI Improvement]**: The Pending Changes page for an on-demand service broker tile now warns you explicitly that changes made applies only to the broker andt p: not to service instances.
* **[UI Improvement]**: The notification banner that appears when a certificate in your deployment is about to expire is updated for clarity.

Ops Manager v2.5.1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.1-build.169*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.17</td></tr>
  <tr><td>BBR SDK</td><td>1.14.0</td></tr>
  <tr><td>BOSH Director</td><td>268.6.0</td></tr>
  <tr><td>BOSH DNS</td><td>1.10.0</td></tr>
  <tr><td>Metrics Server</td><td>0.0.22</td></tr>
  <tr><td>CredHub</td><td>2.1.2</td></tr>
  <tr><td>Syslog</td><td>11.4.0</td></tr>
  <tr><td>Windows Syslog</td><td>1.0.3</td></tr>
  <tr><td>UAA</td><td>71.0*</td></tr>
  <tr><td>BPM</td><td>1.0.4*</td></tr>
  <tr><td>Networking</td><td>9</td></tr>
  <tr><td>OS Conf</td><td>20.0.0</td></tr>
  <tr><td>AWS CPI</td><td>73</td></tr>
  <tr><td>Azure CPI</td><td>35.4.0</td></tr>
  <tr><td>Google CPI</td><td>29.0.1</td></tr>
  <tr><td>OpenStack CPI</td><td>42</td></tr>
  <tr><td>vSphere CPI</td><td>52.1.0</td></tr>
  <tr><td>BOSH CLI</td><td>5.4.0</td></tr>
  <tr><td>Credhub CLI</td><td>2.4.0*</td></tr>
  <tr><td>BBR CLI</td><td>1.5.0*</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-5-0"></a> 2.5.0

Ops Manager v2.5.0 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5.0-build.158*</td>
  </tr>
  <tr><td>Stemcell</td><td>250.17*</td></tr>
  <tr><td>BBR SDK</td><td>1.14.0</td></tr>
  <tr><td>BOSH Director</td><td>268.6.0</td></tr>
  <tr><td>BOSH DNS</td><td>1.10.0</td></tr>
  <tr><td>Metrics Server</td><td>0.0.22</td></tr>
  <tr><td>CredHub</td><td>2.1.2</td></tr>
  <tr><td>Syslog</td><td>11.4.0</td></tr>
  <tr><td>Windows Syslog</td><td>1.0.3</td></tr>
  <tr><td>UAA</td><td>69.0</td></tr>
  <tr><td>BPM</td><td>1.0.3</td></tr>
  <tr><td>Networking</td><td>9</td></tr>
  <tr><td>OS Conf</td><td>20.0.0</td></tr>
  <tr><td>AWS CPI</td><td>73</td></tr>
  <tr><td>Azure CPI</td><td>35.4.0</td></tr>
  <tr><td>Google CPI</td><td>29.0.1</td></tr>
  <tr><td>OpenStack CPI</td><td>42</td></tr>
  <tr><td>vSphere CPI</td><td>52.1.0</td></tr>
  <tr><td>BOSH CLI</td><td>5.4.0</td></tr>
  <tr><td>Credhub CLI</td><td>2.2.1</td></tr>
  <tr><td>BBR CLI</td><td>1.4.0</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>


## <a id='how-to-upgrade'></a> How to Upgrade

To upgrade to Ops Manager v2.5, see [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/2-5/customizing/upgrading-pcf.html).


## <a id='major-features'></a> New Features in Ops Manager v2.5

Ops Manager v2.5 includes the following major features:

### <a id="pending-tile-changes"></a> Pending Changes Page Displays Staged Changes

If you have changed the configuration of a tile in your deployment, see the **Pending Changes** page to review the changes to the existing manifest or configs line-by-line. Access a tile's pending changes by clicking the **See Changes** button on the Review Pending Changes page.

Use the output on this page to verify accuracy and comprehensiveness before redeploying Ops Manager. This page is especially useful for deployments with more than one operator or administrator, or deployments that change due to both API and UI modifications.

For more information, see [About Pending Changes for a Specific Tile](https://docs.pivotal.io/pivotalcf/2-5/customizing/review-pending-changes.html#pending-changes) in _Reviewing Pending Product Changes_.

### <a id="azure-azs"></a> Microsoft Azure Availability Zones Available

Ops Manager operators and administrators can now configure Availability Zones (AZs). AZs provide high availability, minimal latency, and efficient resource management for deployments around the world.

AZs are only available for new installations of Ops Manager. Existing installations that are being upgraded from Ops Manager v2.4 must use Availability Sets.

For more information, see [Configuring BOSH Director on Azure](http://docs.pivotal.io/pivotalcf/2-5/om/azure/config-manual.html) and [Configuring BOSH Director on Azure Using Terraform](http://docs.pivotal.io/pivotalcf/2-5/om/azure/config-terraform.html).

### <a id="host-groups"></a> Host Group Configuration Available for vSphere Availability Zones

You can associate an Availability Zone (AZ) with a host group for Ops Manager deployments on vSphere. Host groups are subsets of vSphere clusters. Since you must associate a cluster with an AZ in vSphere deployments, host group configuration can help you manage deployment resources more precisely. Enable vSphere host groups from the **Create Availability Zones** pane in the BOSH Director tile.

For more information, see [Create Availability Zones Page](https://docs.pivotal.io/pivotalcf/2-5/om/vsphere/config.html#create-az) in _Configuring BOSH Director on vSphere_.

### <a id="nats-ca"></a> NATS Certificate Rotation Available in the Ops Manager API

Ops Manager allows you to regenerate and rotate the NATS certificate authority (CA). The public keys and expiration dates for the NATS CA are visible at `/api/v0/deployed/certificates`. The certificate itself is listed as an active CA on the certificates table in the Ops Manager database.

A new NATS CA is created every time a new Ops Manager root CA is created. This pairs the lifecycle of the NATS CA with the Ops Manager root CA. The two CAs are created, activated, and deleted in unison. When an operator uses the `regenerate` endpoint in the Ops Manager API, new leaf certificates are generated for each client using the NATS CA. The new certificates use the active NATS CA in the database.

For more information about regenerating and rotating certificates, see [Rotating Certificates](https://docs.pivotal.io/pivotalcf/2-5/security/pcf-infrastructure/api-cert-rotation.html).

### <a id="pre-create"></a> Pre-Created Clients Available in the Ops Manager API

You can now configure a pre-created client account to manage automation tasks and scripts for Ops Manager. To do this, you will need access to the UAA Command Line Client (UAAC) and Ops Manager API.

<%= vars.recommended_by %> recommends using client accounts for automated tasks because client accounts are not bound to the same authentication protocols as user accounts. A user account that controls automated components can cause those components to fail if the account experiences inconsistent availability due to permission or authentication issues.

You can configure a pre-created client for Ops Manager either before you deploy Ops Manager for the first time, or by adding it to an existing deployment.

For more information about Ops Manager users and clients, see [Creating and Managing Ops Manager User and Client Accounts](http://docs.pivotal.io/pivotalcf/2-5/customizing/opsman-users.html).

### <a id="vm-extensions"></a> Apply Custom VM Extensions to BOSH Director in the Ops Manager API

You can define custom VM extensions for the BOSH Director VM by creating them in the API and then applying them to an instance group using `PUT /api/v0/staged/products/PRODUCT_GUID/JOBS/JOB_GUID/resource_config`. This endpoint works for both the BOSH Director's jobs and product tiles.

Use this endpoint to configure custom behavior for the BOSH Director VM, such as allowing the Director to read or write directly to a blobstore.

For more information about custom VM extensions, see [Staged VM Extensions](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#staged-vm-extensions) in the Ops Manager API documentation.

### <a id="ui-text"></a> Ops Manager User Interface Text is Updated

The field names, button text, error messaging, and other textual UI elements in Ops Manager are updated. This is part of an ongoing effort to improve clarity, utility, and the user experience.

This update does not impact Ops Manager product tiles or BOSH Director. For more information about the Ops Manager UI, see [Using the Ops Manager Interface](https://docs.pivotal.io/pivotalcf/2-5/customizing/pcf-interface.html).

### <a id="tmpfs"></a> Store BOSH Job Credentials on tmpfs

You can choose to store credentials for BOSH jobs in temporary file storage (tmpfs). This method stores credentials in volatile memory, rather than on the persistent disk. Choosing to store credentials in tmpfs may impact your BOSH deployment's availability if the tmpfs is refreshed or loses access to the deployment. You must recreate all VMs for this change to take effect.

To enable this feature, go to the **Director Config** pane of the BOSH Director tile and enable the **Store BOSH Job Credentials on tmpfs (beta)** checkbox.

For more information on the Director Config forms, see [IaaS-Specific Deployment Guidelines](https://docs.pivotal.io/pivotalcf/2-5/customizing/deploy-bosh-om.html#contents) in _Deploying BOSH and Ops Manager_.

### <a id="log-forwarding"></a> Forward Ops Manager Debug Logs to An External Store in the Syslog Form

You can choose to forward logs generated by debugging processes to an external source by enabling a checkbox in the **Syslog** pane of the Ops Manager Installation Dashboard **Settings** page. Forwarded logs are delivered to whatever external location you choose to receive other types of logs from Ops Manager.

To forward logs, enable the **Forward Debug Logs** checkbox in the **Syslog** pane. This checkbox is disabled by default, because debug logs can be excessive and require a great deal of storage capacity. If you choose to use this option, ensure you have sufficient storage to contain the generated logs.

For more information about the Ops Manager Syslog pane, see [Settings Page](https://docs.pivotal.io/pivotalcf/2-5/customizing/pcf-interface.html#settings) in _Using the Ops Manager Interface_.

### <a id="rsyslog"></a> Custom Rsyslog Configuration Available in Ops Manager Syslog Template

You can further customize Syslog behavior by including configuration options in the **Custom rsyslog Configuration** field of the Ops Manager Installation Dashboard **Settings** page. This optional field lets you add more refined rules for syslog configuration than are permitted in the standard settings available in the Ops Manager UI.

If you configure custom rules and also enable the **Forward Debug Logs** checkbox, the rules apply before log forwarding takes place.

For more information about forwarding debug logs, see [Forward Ops Manager Debug Logs to An External Store in the Syslog Form](#log-forwarding).

For more information about the Ops Manager Syslog pane, see [Settings Page](https://docs.pivotal.io/pivotalcf/2-5/customizing/pcf-interface.html#settings) in _Using the Ops Manager Interface_ topic.


## <a id='known-issues'></a> Known Issues

Ops Manager v2.5 includes the following known issues:

### <a id="service-broker-syslog"></a> Ops Manager's Syslog Template is Not Supported for Service Broker Tiles

Ops Manager's Syslog template does not propagate to service broker tiles. Tile developers with service broker tiles should continue to use their own Syslog configurations. Service broker tiles with the Syslog template configured will not display the Syslog template.

For more information about the Syslog template, see [Syslog Form Template Available for Tile Authors](https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/opsmanager-rn.html#syslog) in _PCF Ops Manager v2.4 Release Notes_.

### <a id="monit"></a> Monit Inaccurately Reports Health of UAA

When BOSH Director reboots, Monit may report UAA as running, even though its process state is unhealthy. The Monit start scripts for UAA use the UAA `/healthz` endpoint to verify UAA is running, but the `/healthz` endpoint does not know there is a database requirement. Monit detects UAA is healthy, even though UAA is stuck, and never restarts it.

To fix this, run `monit restart uaa` to restart UAA after Postgres is running.

For more information, see [Monit reports UAA running on BOSH Director when it is actually unhealthy](https://community.pivotal.io/s/article/monit-reports-uaa-running-on-bosh-director-when-it-is-actually-unhealthy) in the Pivotal Knowledge Base.

### <a id='bpm'></a> BPM Fails to Start Job Process

Some Monit processes fail to start. The `bpm.log` shows an exit status of `1` with no other cause for the failure.

BOSH Process Manager (BPM) calls runC to create a new container and launch a job process. However, runC cannot start the container because there is a stale `state.json` in `/var/vcap/bpm/runc/CONTAINER-ID/state.json`, where `state.json` is a zero-byte file. When running runC manually to start the job process, runC has an EOF error and the exit status is `1`. runC fails to read the `state.json` and exits.

To resolve this issue, delete the zero-byte `state.json` file by deleting its parent directory with the following command: `rm -rf /var/vcap/data/bpm/runc/MJRHG---`<br>
Then run `monit start JOB` to start the job process and review the job logs to check if there are any further failures.

For more information, see [BPM fails to start job process with exit status 1](https://community.pivotal.io/s/article/bpm-fails-to-start-job-process-with-exit-status-1) in the Pivotal Knowledge Base.

### <a id="bad-link-failed-install"></a> Incorrect Link for Failed Installations in Ops Manager UI

When an installation fails, the Ops Manager UI presents a hyperlink to the installation log in a pop-up window. This link is currently non-functional.

To work around this issue, click **Change Log** in the Ops Manager Installation Dashboard to view product installation logs.

### <a id="credhub-db-migration-failure"></a> CredHub Database Migration Failure

When the CredHub database fails to migrate with a `Flyway` exception, it may be caused by an issue with the `flyway_schema_history` table.

For information on how to address this issue, see [Database Migration Failure](https://github.com/pivotal-cf/credhub-release/blob/master/docs/known-issues.md#database-migration-failure) in _Known Issues with current CredHub versions_ in the CredHub repository on GitHub.

### <a id='unresponsive-agent'></a> BOSH VMs Report Unresponsive Agent After Activating New Root CA

<%= partial "/pcf/certs/recreate-service-instances" %>

### <a id='triple-digit-stemcell'></a> Stemcell Library Warns That Ubuntu Xenial Stemcell 456.100 Is Out of Date

<%= partial "/pcf/core/2-7/om_known_issue_stemcell_456-100" %>


## <a id="api-updates"></a> API Documentation Updates

Ops Manager v2.5 includes the following updates to the API. Some of these updates are referenced in the [New Features](#major-features) section.

### <a id="updated-sections"></a> Updated Sections

The following sections of the API documentation are updated in Ops Manager v2.5:

* [Setting up with an internal userstore](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#setting-up-with-an-internal-userstore) in *Setup*: This section includes a new parameter:
 * `setup[precreated_client_secret]`

* [Setting up with SAML](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#setting-up-with-saml) in *Setup*: This section includes a new parameter:
 * `setup[precreated_client_secret]`

* [Setting up with LDAP](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#setting-up-with-ldap) in *Setup*: This section includes a new parameter:
 * `setup[precreated_client_secret]`

* [Updating director and Iaas properties (Experimental)]
(http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#updating-director-and-iaas-properties-experimental) in *Setup*: This section includes a new parameter:
 * `job_configuration_on_tmpfs`

* [Retrieving a list of install time verifiers for the director](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#retrieving-a-list-of-install-time-verifiers-for-the-director) in *Staged BOSH Director*: This section is renamed.

* [Deployed BOSH Director (Advanced)](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#deployed-bosh-director-advanced): This section is designated "advanced."

* [Fetching a deployed manifest](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#fetching-a-deployed-manifest) in *Deployed BOSH Director (Advanced)*: This section is renamed.

* [Fetching a deployed cloud config](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#fetching-a-deployed-cloud-config) in *Deployed BOSH Director (Advanced)*: This section is renamed.

### <a id="new-sections"></a> New Sections

The following sections are new in Ops Manager v2.5:

* [Upgrading a stemcell](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#upgrading-a-stemcell)

* [Syslog Configuration](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#updating-director-and-iaas-properties-experimental)

* [Retrieving information about a deployed product](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#retrieving-information-about-a-deployed-product)

* [Retrieving information about a staged product](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#retrieving-information-about-a-staged-product)

* [Setting precreated-client secret](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#setting-precreated-client-secret)

* [Diffs](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#diffs): This section also includes new subsections:
  * [Fetching the BOSH Director diff](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#fetching-the-bosh-director-diff)
  * [Fetching a product diff](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#fetching-a-product-diff)
