---
title: PCF Ops Manager v2.3 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a> How to Upgrade

The [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivoAztalcf/2-3/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v2.3.

### 2.3.0-rc.3

* **[Security Fix]**: Bumps stemcell to 97.15.
* **[Feature Improvement]**: Improves **Change Log** style.
* **[Feature Improvement]**: You can use the Ops Manager API to delete individual OpenStack or vCenter Configs. For more information, see [Deleting IaaS Configuration](http://docs.pivotal.io/pivotalcf/2-3/opsman-api/#deleting-iaas-configuration) in the Ops Manager API documentation.
* **[Bug Fix]**: Pivotal Network integrates successfully with Pivotal Application Service (PAS) tile and Small Footprint PAS.
* **[Bug Fix]**: Verifiers work in vCenter v6.7.

Ops Manager v2.3.0-rc.3 uses the following component versions:

 <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>97.15 (Xenial)*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7</td>
  </tr><tr>
    <td>BOSH Director</td><td>267.5</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.8</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>1.9.5</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.2</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.2</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>50</td>
  </tr>
    <td colspan="2">
    <em>* Components marked with an asterisk have been updated.</em>
    </td>
  <tr>
  </tbody>
  </table>

### 2.3.0-rc.2

* Bumps metrics server release to v0.0.21.

Ops Manager v2.3.0-rc.2 uses the following component versions:

 <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>97.12 (Xenial)</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7</td>
  </tr><tr>
    <td>BOSH Director</td><td>267.5</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.8</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21*</td>
  </tr><tr>
    <td>CredHub</td><td>1.9.5</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.2</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.2</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>50</td>
  </tr>
    <td colspan="2">
    <em>* Components marked with an asterisk have been updated.</em>
    </td>
  <tr>
  </tbody>
  </table>


### 2.3.0-rc.1

Ops Manager v2.3.0-rc.1 uses the following component versions:

 <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>97.12 (Xenial)</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7</td>
  </tr><tr>
    <td>BOSH Director</td><td>267.5</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.8</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.17</td>
  </tr><tr>
    <td>CredHub</td><td>1.9.5</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.2</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.2</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>50</td>
  </tr>
    <td colspan="2">
    <em>* Components marked with an asterisk have been updated.</em>
    </td>
  <tr>
  </tbody>
  </table>


### 2.3 Beta 2

* Bumps BOSH Director to v267.5.
* Bumps CredHub to v1.9.5.

Ops Manager v2.3 Beta 2 uses the following component versions:

 <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>97.12 (Xenial)</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7</td>
  </tr><tr>
    <td>BOSH Director</td><td>267.5*</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.8</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.17</td>
  </tr><tr>
    <td>CredHub</td><td>1.9.5*</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.2</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.2</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>50</td>
  </tr>
    <td colspan="2">
    <em>* Components marked with an asterisk have been updated.</em>
    </td>
  <tr>
  </tbody>
  </table>



### 2.3 Beta 1

* **[Bug Fix]**: Certain VM image components no longer write to the persistent disk after reboot.
* **[Security Fix]**: TLS is enabled by default for Director Internal Blobstore during first-time installation.

Ops Manager v2.3 Beta 1 uses the following component versions:

 <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.3.0-build.95*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>97.12 (Xenial)*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7*</td>
  </tr><tr>
    <td>BOSH Director</td><td>267.3.0*</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.8.0*</td>
  </tr><tr>
    <td>CredHub</td><td>1.9.3*</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.2*</td>
  </tr><tr>
    <td>AWS CPI</td><td>72*</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.2</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1*</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39*</td>
  </tr><tr>
    <td>vSphere CPI</td><td>50</td>
  </tr>
    <td colspan="2">
    <em>* Components marked with an asterisk have been updated.</em>
    </td>
  <tr>
  </tbody>
  </table>

### 2.3 Alpha

Ops Manager v2.3.0 uses the following component versions:

 <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.3-build.37</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>3586.24</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.6</td>
  </tr><tr>
    <td>BOSH Director</td><td>266.5</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.6</td>
  </tr><tr>
    <td>CredHub</td><td>1.9.3</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>57.3</td>
  </tr><tr>
    <td>AWS CPI</td><td>70</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.2</td>
  </tr><tr>
    <td>GCP CPI</td><td>27</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>38</td>
  </tr><tr>
    <td>vSphere CPI</td><td>50</td>
  </tr><tr>
  </tbody>
  </table>


## <a id='major-features'></a> New Features in Ops Manager v2.3

Ops Manager v2.3 includes the following major features:

### <a id="xenial"></a> Ops Manager and BOSH Director Upgraded to Ubuntu 16.04 (Xenial Xerus)

Ops Manager v2.3 uses a Xenial stemcell based on Ubuntu 16.04 (Xenial Xerus).

The previously supported Trusty stemcells were based on Ubuntu 14.04 (Trusty Tahr). This distribution will reach end of general support (EOGS) in April 2019 and will no longer receive security updates.

Using Xenial stemcells in v2.3 ensures that Ops Manager users continue to have access to secure stemcells based on a Ubuntu distribution maintained by Canonical.

### <a id='tls-blobstore'></a> TLS for Internal Blobstore Enabled by Default

Ops Manager now enables TLS communications for the internal blobstore by default.

If you want to disable TLS for your internal blobstore, disable **Enable TLS** in the **Director Config** pane of the BOSH Director tile.

### <a id="multi-dc"></a> Multiple Data Centers on OpenStack

Ops Manager now allows you to configure multiple OpenStack data centers to a single BOSH Director.

You can add additional OpenStack configs in the **OpenStack Config** pane of your BOSH Director tile. For more information about how to add, edit, and delete OpenStack configs, see [Managing Multiple Data Centers](http://docs.pivotal.io/pivotalcf/2-3/customizing/multiple-datacenters.html).

### <a id="bosh-dns"></a> BOSH DNS is Required

BOSH DNS is enabled by default in PCF v2.3.

The option to disable BOSH DNS is no longer available in the Ops Manager UI or API.

<p class="note warning"><strong>WARNING:</strong> Upgrades to PCF v2.3 will fail if BOSH DNS is disabled. Enable BOSH DNS before upgrading to PCF v2.3.</p>

### <a id="bosh-dns-certs"></a> BOSH DNS Certificate Authority Upgrades

BOSH DNS now comes with CAs that are valid for four years. These CAs will apply automatically when upgrading to v2.3.

To apply the CAs completely, you must upgrade to PCF v2.3 and then rotate all certificates in your installation. Follow the procedure below to rotate your certificates:

1. Upgrade Ops Manager to v2.3.

1. Click **Apply Changes** to distribute new CA to all VMs. Do not use **Review Pending Changes** to update your installation incrementally. Upgrade all tiles simultaneously.

1. Use the Ops Manager API to `POST /api/v0/certificate_authorities/active/regenerate`.

1. **Apply Changes** for all tiles simultaneously to rotate the certificates.

### <a id="ldap"></a> Ops Manager Supports LDAP Authentication

Ops Manager supports Lightweight Directory Access Protocal (LDAP) for authentication, in addition to Security Assertion Markup Language (SAML).

For new Ops Manager installations, operators can configure LDAP authentication from the **Welcome to Ops Manager** page. See the **LDAP Server** section of the [BOSH Director configuration topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-3/customizing/deploy-bosh-om.html#contents) for more information.

For existing Ops Manager installations, operators can configure LDAP authentication through the Ops Manager **Settings** page. For more information, see the [Settings Page](https://docs.pivotal.io/pivotalcf/2-3/customizing/pcf-interface.html#settings) section of the Understanding the Ops Manager Interface topic.

### <a id="cinder"></a> Virtual Machines Running on OpenStack Can Boot From Cinder Volumes

If you use OpenStack, you can now boot VMs from a Cinder volume. Cinder is an open source block storage solution for OpenStack users. For more information, see [Configuring BOSH Director on OpenStack](https://docs.pivotal.io/pivotalcf/2-3/customizing/openstack-om-config.html#openstack-config).


### <a id="recreate-persistent-disks"></a> Recreate All Persistent Disks

In the **Director Config** pane of the BOSH Director tile, you can
**Recreate All Persistent Disks**. Enabling the checkbox
forces BOSH to migrate and recreate all persistent disks without
losing persistent disk data.


### <a id="review-pending-changes"></a> UI Improvements to Review Pending Changes

The **Review Pending Changes** page in the Ops Manager installation dashboard features UI improvements.

See the following changes:

- You now cannot enable orange tiles for selective deployment. In Ops Manager v2.2, you can enable orange tiles but you cannot click **Apply Changes**.
- When you enable a tile for selective deployment, its dependencies are also enabled. In Ops Manager v2.2, you must enable your tile dependencies manually.
- When an update fails, a list of pending changes that did not complete appears on the **Review Pending Changes** page.
- When you attempt to change a tile with an out-of-date stemcell, a message appears notifying you that the stemcell is out of date. Click this message to access the Stemcell Library.
- When a tile is staged to be deleted, indicator text appears on that tile.
- **Apply Changes** displays as **Review Pending Changes** when there are pending changes staged.
- Stemcell changes appear in the **Changes** field for each tile.
- When **Review Pending Changes** returns an error, the error message includes the name of the affected tiles.
- The **Beta** label no longer appears on the **Review Pending Changes** page.
- The **Review Pending Changes** page has minor UI improvements throughout.

For more information about the page UI, see [Review Pending Changes Page](https://docs.pivotal.io/pivotalcf/2-3/customizing/review-pending-changes.html#review-pending-changes).

### <a id="review-pending-changes-api"></a> API Improvements to Review Pending Changes

- You can use `GET /api/v0/staged/pending_changes` to see stemcell changes in the Ops Manager API.
- When the API returns an error, the error message includes the name of the affected products.
- When an update fails, you can use `GET /api/v0/staged/pending_changes` to see a list of pending changes that did not complete.

For more information about the Review Pending Changes API endpoints, see the [Ops Manager API documentation](http://docs.pivotal.io/pivotalcf/2-3/opsman-api/).
