---
title: Pivotal Cloud Foundry Ops Manager v1.12 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a>How to Upgrade ##

The [Upgrading Pivotal Cloud Foundry](https://docs.pivotal.io/pivotalcf/1-12/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v1.12.

### 1.12.12

* **[Security Fix]** Bumps stemcell to 3445.24.
* **[Feature]** Gives users access to the Credhub CLI. CredHub CLI can be used to manage credentials stored in a CredHub server.
* Increases connection timeout to accommodate large installation exports.

    <table border="1" class="nice">
    <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Stemcell</td><td>3445.24*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.6.0</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.7</td>
    </tr><tr>
      <td>AWS CPI</td><td>69</td>
    </tr><tr>
      <td>Azure CPI</td><td>34</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>45.1.0</td>
    </tr><tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
    </tr>
    </tfoot>
    </table>

### 1.12.11

* **[Security Fix]** Bumps stemcell to 3445.23.

    <table border="1" class="nice">
    <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Stemcell</td><td>3445.23*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.6.0</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.7</td>
    </tr><tr>
      <td>AWS CPI</td><td>69</td>
    </tr><tr>
      <td>Azure CPI</td><td>34</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>45.1.0</td>
    </tr><tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
    </tr>
    </tfoot>
    </table>

### 1.12.10

* **[Security Fix]** Bumps stemcell to 3445.22.
* Bumps UAA to v45.7.

    <table border="1" class="nice">
    <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Stemcell</td><td>3445.22*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.6.0</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.7*</td>
    </tr><tr>
      <td>AWS CPI</td><td>69*</td>
    </tr><tr>
      <td>Azure CPI</td><td>34</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>45.1.0</td>
    </tr><tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
    </tr>
    </tfoot>
    </table>

### 1.12.9

* Bumps AWS CPI to v69.
* Bumps OpenStack CPI to v35.
* Bumps vSphere CPI to v45.1.0.

    <table border="1" class="nice">
    <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Stemcell</td><td>3445.19</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.5</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.5</td>
    </tr><tr>
      <td>AWS CPI</td><td>69*</td>
    </tr><tr>
      <td>Azure CPI</td><td>34</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35*</td>
    </tr><tr>
      <td>vSphere CPI</td><td>45.1.0*</td>
    </tr><tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
    </tr>
    </tfoot>
    </table>

### 1.12.8

* **[Feature Improvement]** Allows s3 blobstore credentials to be uploaded for deployed director.
* Internet connected checkbox for Azure is off by default.
* Bumps Azure CPI to 34.

    <table border="1" class="nice">
    <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Stemcell</td><td>3445.19</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.5</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.5</td>
    </tr><tr>
      <td>AWS CPI</td><td>66</td>
    </tr><tr>
      <td>Azure CPI</td><td>34*</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>44</td>
    </tr><tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
    </tr>
    </tfoot>
    </table>

### 1.12.7

* **[Security Fix]** Bumps stemcell to 3445.19.

    <table border="1" class="nice">
    <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Stemcell</td><td>3445.19*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.5</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5</td>
    </tr><tr>
      <td>UAA</td><td>45.5</td>
    </tr><tr>
      <td>AWS CPI</td><td>66</td>
    </tr><tr>
      <td>Azure CPI</td><td>29</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35</td>
    </tr><tr>
      <td>vSphere CPI</td><td>44</td>
    </tr><tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
    </tr>
    </tfoot>
    </table>

### 1.12.6

* **[Bug Fix]** Allows the network to ping the Ops Manager VM when installing a tile.
* **[Security Fix]** Bumps stemcell to 3445.17.
* Bumps BOSH Director to 263.5.
* Bumps CredHub to 1.3.5.
* Bumps OpenStack CPI to 35.

    <table border="1" class="nice">
    <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Stemcell</td><td>3445.17*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.5*</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.5*</td>
    </tr><tr>
      <td>UAA</td><td>45.5</td>
    </tr><tr>
      <td>AWS CPI</td><td>66</td>
    </tr><tr>
      <td>Azure CPI</td><td>29</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>35*</td>
    </tr><tr>
      <td>vSphere CPI</td><td>44</td>
    </tr><tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
    </tr>
    </tfoot>
    </table>

### 1.12.5

* **[Bug Fix]** Updates the fog client to address an OpenStack installation bug.
* **[Feature Improvement]** Adds performance improvements to decrease Ops Manager dashboard load time.
* Bumps UAA to 45.5.

    <table border="1" class="nice">
    <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Stemcell</td><td>3445.16</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.4</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.4</td>
    </tr><tr>
      <td>UAA</td><td>45.5*</td>
    </tr><tr>
      <td>AWS CPI</td><td>66</td>
    </tr><tr>
      <td>Azure CPI</td><td>29</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>32</td>
    </tr><tr>
      <td>vSphere CPI</td><td>44</td>
    </tr><tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
    </tr>
    </tfoot>
    </table>

### 1.12.4

* **[Security Fix]** Bumps stemcell to 3445.16.
* Bumps BOSH Director to 263.4.
* Bumps UAA to 45.4.

    <table border="1" class="nice">
    <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Stemcell</td><td>3445.16*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.4*</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.4</td>
    </tr><tr>
      <td>UAA</td><td>45.4*</td>
    </tr><tr>
      <td>AWS CPI</td><td>66</td>
    </tr><tr>
      <td>Azure CPI</td><td>29</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>32</td>
    </tr><tr>
      <td>vSphere CPI</td><td>44</td>
    </tr><tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
    </tr>
    </tfoot>
    </table>

### 1.12.3

* Bumps Azure CPI to 29.
* Bumps CredHub to 1.3.4.

    <table border="1" class="nice">
    <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Stemcell</td><td>3445.11</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.2</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.4*</td>
    </tr><tr>
      <td>UAA</td><td>45</td>
    </tr><tr>
      <td>AWS CPI</td><td>66</td>
    </tr><tr>
      <td>Azure CPI</td><td>29*</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>32</td>
    </tr><tr>
      <td>vSphere CPI</td><td>44</td>
    </tr><tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
    </tr>
    </tfoot>
    </table>

### 1.12.2

* **[Feature]** Ops Manager supports uploading Windows 2016 stemcells.
* **[Feature]** Tile authors can set the default instance count for an errand to zero.

    <table border="1" class="nice">
    <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Stemcell</td><td>3445.11</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.2</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.2</td>
    </tr><tr>
      <td>UAA</td><td>45</td>
    </tr><tr>
      <td>AWS CPI</td><td>66</td>
    </tr><tr>
      <td>Azure CPI</td><td>27</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>32</td>
    </tr><tr>
      <td>vSphere CPI</td><td>44</td>
    </tr><tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
    </tr>
    </tfoot>
    </table>

### 1.12.1

* **[Security Fix]** Bumps stemcell to 3445.11 to address [USN-3420-2](https://usn.ubuntu.com/usn/usn-3420-2).
* Bumps CredHub to 1.3.2.

    <table border="1" class="nice">
    <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Stemcell</td><td>3445.11*</td>
    </tr><tr>
      <td>BOSH Director</td><td>263.2</td>
    </tr><tr>
      <td>CredHub</td><td>1.3.2*</td>
    </tr><tr>
      <td>UAA</td><td>45</td>
    </tr><tr>
      <td>AWS CPI</td><td>66</td>
    </tr><tr>
      <td>Azure CPI</td><td>27</td>
    </tr><tr>
      <td>GCP CPI</td><td>25.9.0</td>
    </tr><tr>
      <td>OpenStack CPI</td><td>32</td>
    </tr><tr>
      <td>vSphere CPI</td><td>44</td>
    </tr><tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
    </tr>
    </tfoot>
    </table>

### 1.12.0

Version 1.12.0 of Ops Manager consists of the following component versions:

<table border="1" class="nice">
<thead>
<tr>
  <th>Component</th>
  <th>Version</th>
</tr>
</thead>
<tbody>
<tr>
  <td>Stemcell</td><td>3445.7</td>
</tr><tr>
  <td>BOSH Director</td><td>263.2</td>
</tr><tr>
  <td>CredHub</td><td>1.3.0</td>
</tr><tr>
  <td>UAA</td><td>45</td>
</tr><tr>
  <td>AWS CPI</td><td>66</td>
</tr><tr>
  <td>Azure CPI</td><td>27</td>
</tr><tr>
  <td>GCP CPI</td><td>25.9.0</td>
</tr><tr>
  <td>OpenStack CPI</td><td>32</td>
</tr><tr>
  <td>vSphere CPI</td><td>44</td>
</tr><tr>
</tbody>
<tfoot>
<tr>
  <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
</tr>
</tfoot>
</table>

<hr>

## <a id='major-features'></a>New Features in Ops Manager v1.12.0

### <a id='upgrade-opsman'></a>Faster Upgrade and Installation Export

Ops Manager decreases the time required to upgrade by reducing the size of the file produced by **Export Installation Settings** by several orders of magnitude. 

For upgrade instructions, see [Upgrading Pivotal Cloud Foundry](https://docs.pivotal.io/pivotalcf/1-12/customizing/upgrading-pcf.html).

The exported installation file is smaller because Ops Manager no longer retains releases between upgrades if it has already uploaded them to BOSH. When backing up PCF, you must take this into account by backing up the BOSH blobstore that contains the uploaded releases. BOSH Backup and Restore (BBR) backs up the BOSH blobstore.
For more information, see [Backing Up Pivotal Cloud Foundry with BBR](https://docs.pivotal.io/pivotalcf/1-12/customizing/backup-restore/backup-pcf-bbr.html).

<p class="note warning"><strong>WARNING</strong>: CFOps assumed that the Ops Manager installation settings artifact contained all necessary releases, which is no longer the case in PCF v1.12.
   CFOps should not be used to back up and restore PCF v1.12.</p>


### <a id='google-xpn'></a>Google Shared Virtual Private Cloud

Google Shared Virtual Private Cloud (VPC), formerly known as Google Cross-Project Networking (XPN), enables you to assign GCP resources
to individual projects within an organization but allows communication and shared services between projects.
For more information about this feature, see the [Configuring a Shared VPC on GCP](https://docs.pivotal.io/pivotalcf/1-12/customizing/gcp-shared-vpc.html) topic.

### <a id='aws-gov'></a>AWS GovCloud (US)

Operators can deploy Ops Manager v1.12 to [AWS GovCloud (US)](https://aws.amazon.com/govcloud-us). For more information about deploying AWS GovCloud (US), see the following AWS installation topics:

* [Deploying the CloudFormation Template for Pivotal Cloud Foundry on AWS](https://docs.pivotal.io/pivotalcf/1-12/customizing/cloudform-template.html)
* [Manually Configuring AWS for PCF](https://docs.pivotal.io/pivotalcf/1-12/customizing/pcf-aws-manual-config.html)

### <a id='credhub-migration'></a>Migrate Non-Configurable Secrets to CredHub

Tile Authors can write a JavaScript migration to move their existing non-configurable secrets into CredHub.
Ops Manager v1.12 supports migrating `secret`, `simple_credential`, `rsa_pkey_credential`, and `salted_credential` types.

For more information about this feature, see the [Migrating Existing Credentials to CredHub](https://docs.pivotal.io/tiledev/migrating-credhub-credentials.html)
topic in the PCF Tile Developers Guide.

### <a id='commit'></a>Commit GET and DELETE Endpoints

Ops Manager v1.12.0 adds two API endpoints for operators who deploy PCF manually.
If you use Ops Manager to generate manifests that you deploy on your own with BOSH,
the `/commit` endpoint fails when a tile upgrade contains CredHub credential variables.

Before upgrading a tile, use the `GET` endpoint to retrieve a file that contains the credentials.
Migrate the credentials to CredHub using the [CredHub CLI](https://github.com/cloudfoundry-incubator/credhub-cli/releases), then use the `DELETE` endpoint to delete the credentials staged in installation.yml.

For more information, see the corresponding [Knowledge Base](https://discuss.pivotal.io/hc/en-us/articles/115011257327) article.

### <a id='bosh2'></a>BOSH CLI v2

Ops Manager v1.12.0 uses the new version of the [BOSH CLI](https://bosh.io/docs/cli-v2.html).

<p class="note breaking"><strong>Breaking Change</strong>: BOSH CLI output formatting has changed. If your deployment uses scripts that rely on BOSH output, you must refactor them to interpret BOSH CLI v2 command output.</p>

The Ops Manager VM includes both versions of the BOSH CLI. You can run BOSH CLI v1 commands using `bosh` and BOSH CLI v2 commands using `bosh2`, but many BOSH CLI v1 commands are incompatible with the BOSH Director. See the corresponding [Knowledge Base](https://discuss.pivotal.io/hc/en-us/articles/115012374148-Permissions-error-when-running-BOSH-commands-on-the-Director) article for more information.

In the **Credentials** tab in Ops Manager, click the link to **Bosh2 Commandline Credentials** for a command that you can copy and paste to log in to the `bosh2` CLI.

For more information about the differences between the old and new versions of the BOSH CLI, see the [BOSH documentation](https://bosh.io/docs/cli-v2-diff.html).

### <a id='openstack-networks'></a>OpenStack Network Changes

Ops Manager v1.12.0 uses OpenStack CPI v32. In this version, you must select
either **Nova** or **Neutron** as the **Network Type** on the **OpenStack Config** page of the
Director tile.
Pivotal recommends that you use **Neutron** for compatibility with future versions
of the OpenStack CPI.

For more information about the two network types, see the [OpenStack documentation](https://docs.openstack.org/ocata/networking-guide/migration-nova-network-to-neutron.html).

### <a id='double-parens'></a>Support for Empty Arrays in Double Parentheses

Ops Manager now supports empty arrays in double parentheses. For more information, see the [Double-Parentheses Expressions](http://docs.pivotal.io/tiledev/1-12/property-reference.html#expressions) section of the Property Reference topic.


### <a id='fixes'></a>Bug Fixes

* Ops Manager v1.12.0 fixes a bug where configuring a thin-provisioned ephemeral disk in Ops Manager created a thick-provisioned disk in vSphere.
* Ops Manager v1.12.0 fixes a bug where the entity ID was not unique if UAA was configured with SAML.
* Ops Manager v1.12.0 fixes a bug where `POST /api/v0/setup` did not expose the `http`, `https`, and `no_proxy` fields.

## <a id='known-issues'></a> Known Issues

### <a id='credhub-certs'></a>CredHub Requires Director Certificate Rotation

If your original Elastic Runtime deploy was PCF 1.6 or earlier, you must regenerate the non-configurable Director certificates to deploy CredHub. CredHub attempts to verify the connection to UAA on the BOSH Director with the Ops Manager certificate Subject Alternative Name (SAN) during a deploy. Ops Manager 1.6 and earlier generated non-configurable certificate SANs in a format CredHub does not understand.

For more information, see the corresponding [Knowledge Base](https://discuss.pivotal.io/hc/en-us/articles/115012474187) article.

For more information about certificate rotation, see [Regenerating and Rotating Non-Configurable TLS/SSL Certificates](https://docs.pivotal.io/pivotalcf/1-12/security/pcf-infrastructure/api-cert-rotation.html#regenerate).

### <a id='log-search-unsupported'></a>PCF Log Search Unsupported

If your deployment contains PCF Log Search, you must remove the product tile before upgrading. Failure to remove this product prior to upgrade may cause issues with your deployment.

For more information, see the [Upgrading Pivotal Cloud Foundry](https://docs.pivotal.io/pivotalcf/1-12/customizing/upgrading-pcf.html) topic.

### <a id='services-network'></a>On-Demand Services Require Dedicated Service Networks

If you use any service tile that offers both on-demand and not on-demand modes of operation, clicking **Apply Changes** in Ops Manager fails if you did not
define a dedicated service network for the tile.

To work around this issue, use one of the following methods:

* Create a services network on your IaaS for each affected service tile
* Create a dummy network in Ops Manager, reserve a block of IP ranges, and disable smoke tests for the on-demand service

For more information, see the corresponding [Knowledge Base](https://discuss.pivotal.io/hc/en-us/articles/115010154387) article.
