---
title: PCF Ops Manager v2.4 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>


## <a id='how-to-upgrade'></a> How to Upgrade

The [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivoAztalcf/2-4/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v2.4.

## Releases

### <a id="beta-1"></a> 2.4 Beta 1

* **[Security Fix]**: Upgrades Loofah to 2.2.3 to address a CVE.
* **[Security Fix]**: Upgrades Rack to 2.0.6 to address a CVE.
* **[New Feature]**: You can now access the last successfully deployed CPI Config for a deployment.
* **[New Feature]**: You can now access the staged CPI Config for a deployment.
* **[New Feature]**: You can now access the staged Runtime Config for the Director.
* **[New Feature]**: You can now access the staged Runtime Config for the Director.
* **[New Feature]**: You can now access the staged Runtime Config for a product.
* **[New Feature]**: You can now access the staged Runtime Config for a product.
* **[Bug Fix]**: Now Application Load Balancers (ALBs) also apply to the Director VM for AWS deployments.
* **[Bug Fix]**: Temporary nginx uploads are now deleted from `/var/tempest/tmp` after stemcell upload completes.
* **[Bug Fix]**: You are no longer required to enter the `opsmanager_root_ca_trusted_certs` in the staged director properties API.

Ops Manager v2.4 Beta 1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.101*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>170.5 (Xenial)*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.2</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.8*</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.5*</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>51.0.2*</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="alpha-3"></a> 2.4 Alpha 3

* **[Security Fix]**: Bumps Nokogiri to 1.8.5 to address a CVE.
* **[New Feature]**: Ops Manager images are available on Pivotal Network for [AWS China](#aws-china) users.
* **[New Feature]**: A banner notification appears in the UI when certain certificates are nearing their expiration date.
* **[New Feature]**: You can now download the Director manifest for your last successful deployment.
* **[New Feature]**: You can now download the Cloud Config for your last successful deployment.
* **[New Feature]**: You can now see the Cloud Config for a staged deployment via the API.
* **[New Feature]**: You can now stage a new job to be added to the Director via the API.
* **[New Feature]**: You can now view jobs staged to be added to the Director via the API.
* **[New Feature]**: You can now remove a staged job before it is added to the Director via the API.
* **[Bug Fix]**: You can now redeploy a tile with only a runtime config by clicking **Apply Changes**.
* **[Deprecation]**: Ops Manager no longer supports RELP.

Ops Manager v2.4 Alpha 3 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.85*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>97.28 (Xenial)*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.2*</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.2</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.4</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>50</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="alpha-2"></a> 2.4 Alpha 2

* **[New Feature]**: The redesigned [Syslog form](#syslog) appears in Ops Manager.
* **[New Feature]**: You can now download the product manifest for your last successful deployment.
* **[New Feature]**: You can save, export, and import CPI Configs during an upgrade. CPI Configs are accessible via an API endpoint.
* **[New Feature]**: You can save, export, and import Runtime Configs during an upgrade. Runtime Configs are accessible via an API endpoint.
* **[New Feature]**: You can now add networks to an instance group via the API.
* **[New Feature]**: You can now configure the size of the [swap partition](#swap-size) on a VM on a per-job basis.
* **[New Feature]**: The SAML service provider certificate's [expiration date](#expiring-certificates) appears in the response from the `/certificates` API endpoint. 
* **[New Feature]**: Tile Developers can now use the CLI to get a rendered BOSH manifest.
* **[New Feature]**: You can now configure [global CPI proprerties](#additional-cpi-settings) via the API.
* **[New Feature]**: You can now configure custom DNS handlers via the API.
**[New Feature]**: You can now include the Ops Manager root CA certificate in the trusted certificates field via the Ops Manager UI and the API.
* **[Bug Fix]**: The Cloud Config API endpoint now returns JSON, not YAML.
* **[Bug Fix]**: Stemcell patch versions no longer roll back to earlier versions during upgrade.
* **[Bug Fix]**: **Advanced Databse Connection Options** is now configurable.
* **[Bug Fix]**: The NATS CA certificate does not rotate after a change to the Director's hostname.

Ops Manager v2.4 Alpha 2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.64*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>97.18 (Xenial)</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.1</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.2</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.4</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>50</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="alpha-1"></a> 2.4 Alpha 1

* **[New Feature]**: The [Syslog form template](#syslog) is available for tile authors.
* **[New Feature]**: You can now configure queue size for Syslog forwarding.
* **[New Feature]**: You can now enable TLS for Syslog forwarding.
* **[New Feature]**: You can save, export, and import Cloud Configs during an upgrade. Cloud Configs are accessible via an API endpoint.

Ops Manager v2.4 Alpha 1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.36*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>97.18* (Xenial)</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0*</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.1*</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10*</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21*</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2*</td>
  </tr><tr>
    <td>Syslog</td><td>11.3*</td>
  </tr><tr>
    <td>UAA</td><td>60.2*</td>
  </tr><tr>
    <td>AWS CPI</td><td>72*</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.4*</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1*</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39*</td>
  </tr><tr>
    <td>vSphere CPI</td><td>50*</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>


## <a id='major-features'></a> New Features in Ops Manager v2.4

Ops Manager v2.4 includes the following major features:

### <a id="multiple-admins"></a> Ops Manager Allows Multiple Simultaneous Administrators

Multiple Ops Manager administrators can use Ops Manager at the same time, to reconfigure and manage a PCF deployment. For more information, see [Managing Simultaneous Ops Manager Administrators](https://docs.pivotal.io/pivotalcf/2-4/opsguide/config-rbac.html#multiple-write-users).

### <a id='credhub-2.0'></a> Ops Manager Uses CredHub v2.0

Ops Manager now uses CredHub v2.0. For more information about how CredHub works, see [CredHub](https://docs.pivotal.io/pivotalcf/2-4/credhub/index.html).

### <a id="aws-china"></a> Pivotal Images Publish to AWS China

Users on AWS China accounts can now access downloads from Pivotal Network on their AWS China console. Find specific Ops Manager images in your AWS China console by searching for the AMI IDs for those images.

### <a id="select-all-products"></a> Operators Can Select or Deselect All Products For Deployment

The Ops Manager **Review Pending Changes** page has a **Select All Products** checkbox.
Enabling the checkbox selects all available products to deploy with the next **Apply Changes**. Disabling the checkbox deselects all products from deploying.

For more information, see [Review Pending Changes Page](https://docs.pivotal.io/pivotalcf/2-4/customizing/review-pending-changes.html#review-pending-changes).

### <a id="historical-diffs"></a> Files Used During Previous Deployments Are Available for Cloud Config and Runtime Config

You can view the files affected between one deployment and another for cloud and runtime configs.

### <a id="upgrade-config"></a> Config Details Are Available During Upgrade

You can now use the API to access various aspects of your deployment during an upgrade, when the rest of your deployment is unavailable. The CPI configs, runtime configs, cloud config, and manifest are all available during upgrade via the Ops Manager API.

Use `/api/v0/installations/10/products/[guid]/runtime_configs` or `/api/v0/installations/10/products/{director,director_guid}/runtime_configs` to access JSONs with config information.

### <a id="syslog"></a> Syslog Form Template Available for Tile Authors

Tile authors can insert a templatized Syslog form into their tiles by editing `metadata.yml`. This form is identical to the Syslog form in Ops Manager and the BOSH Director. This form template is an opportunity to make tile users' experience more consistent and secure. 

For more information about modifying `metadata.yml`, see [Property Template References](https://docs.pivotal.io/tiledev/2-4/property-template-references.html).

### <a id="multiple-bosh-releases"></a> Associate Multiple BOSH Releases with the BOSH Director Simultaneously

You can add multiple BOSH releases to a BOSH Director by . Additional releases can enhance antivirus capabilities, add security features, or support monitoring features. Custom and standard BOSH releases are supported, but all additional releases must be available at an HTTP address. You cannot upload a second BOSH release directly to Ops Manager.

<p class="note"><strong>Note</strong>: If a hosted BOSH release is no longer available but not removed from Ops Manager, it may cause the Director not to boot or <strong>Apply Changes</strong> to fail.</p>

### <a id="dns-form"></a> BOSH DNS Config Form Available In the BOSH Director

The BOSH Director has a new form allowing you to configure BOSH DNS. The **BOSH DNS Config** form lets you specify recursor addresses the DNS server should not use, enforce a recursor timeout, and add custom DNS handlers.

### <a id="multiple-networks"></a> Associate an Instance Group with Multiple Networks Simultaneously

You can use the `resource_config` API endpoint to add multiple networks to Diego cells or instance groups. Define the networks as usual with the Ops Manager UI or API and then reference the networks with the `additional_network` key in the API.

For more information, see [Retrieving resources for a job](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#retrieving-resource-configuration-for-a-product).

### <a id="swap-size"></a> Swap Partition Size Is Configurable Via the API

You can customize the size of the swap partition of their VM memory as a percent of total memory size per instance group. 

For more information, see the [Retrieving resources for a job](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#retrieving-resource-configuration-for-a-product).

### <a id="expiring-certificates"></a>SAML Certificate Expiration Information Is Available Via the API

You can view the expiration date for your SAML service provider certificate with the `/api/v0/deployed/certificates` endpoint. 

For more information, see [Getting Information About Certificates from Products](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#getting-information-about-certificates-from-products).

### <a id="additional-cpi-settings"></a>IaaS-Specific Global CPI Properties Are Configurable Via the API

You can provide additional global CPI properties via the `additional_cloud_properties` endpoint in the Ops Manager API. This allows you to set properties that would otherwise be unavailable in Ops Manager. The specific CPI properties you can set varies depending on your IaaS. 

After adding new global CPI properties, you can view the global CPI properties in use by sending a GET to `/api/v0/staged/director/iaas_configurations`.

For more information, see [Updating Director and IaaS Properties](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#updating-director-and-iaas-properties-experimental).

## <a id='known-issues'></a> Known Issues

