---
title: PCF Ops Manager v2.5 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a> How to Upgrade

The [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/2-5/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v2.5.

## <a id="releases"></a>Releases

### <a id="alpha-3"></a> 2.5 Alpha 3

Ops Manager v2.5 Alpha 3 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5-build.96*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>170.21*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.5.0*</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2</td>
  </tr><tr>
    <td>Syslog</td><td>11.4</td>
  </tr><tr>
    <td>UAA</td><td>68*</td>
  </tr><tr>
    <td>AWS CPI</td><td>73</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.5</td>
  </tr><tr>
    <td>GCP CPI</td><td>29.0.0</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>41</td>
  </tr><tr>
    <td>vSphere CPI</td><td>52.0.0</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="alpha-2"></a> 2.5 Alpha 2

* **[Security Fix]**: Information about the NGINX web server no longer appears in server response headers.
* **[New Feature]**: You can view changes for individual tiles on the **Pending Changes** page. In the **Review Pending Changes** page, click **See Changes**. The **Pending Changes** page for a tile shows the most recent set of modifications you made to the manifest, runtime configs, CPI configs, and cloud config. 
* **[New Feature]**: Debug log forwarding and custom Syslog configuration are configurable via the API. Send a GET or a PUT with `forward_debug_logs` or `custom_rsyslog_configuration` to `api/v0/staged/director/properties`.
* **[New Feature]**: You can opt in to forwarding debug logs via the UI. In the **Syslog** form, choose the "Forward Debug Logs" checkbox.
* **[New Feature]**: Tile authors can access a catalog of available VM types via the `(($ops_manager.instance_types_catalog))` accessor.
* **[New Feature]**: You can provide custom rsyslog configurations in the **Syslog** form.
* **[New Feature]**: Tile authors can write and apply JS migrations to migrate data from their existing syslog configurations to Ops Manager's template syslog form. For more information, see [opsmanager_syslog](https://docs.pivotal.io/tiledev/2-4/property-template-references.html#syslog-flag) in the Tile Developer docs. 
* **[New Feature]**: You can use the BOSH drain to gracefully shut down the BOSH Director when it redeploys. This allows for a more complete cleanup of existing VMs during a redeploy. Use the **Skip Director Drain Lifecycle** checkbox in the **Settings** page to configure this feature, or send a PUT to `/api/v0/staged/director/properties` with `skip_director_drain` specified as either `true` or `false`.
* **[New Feature]**: Credentials return in some API calls. If you have sufficient permissions, sending a GET to `director/properties` or `director/iaas_configurations/guid` or `products/guid/properties` with the `redact=false` parameter will return all keys and values, including credentials.
* **[Feature Improvement]**: A selected option identifier appears in the `/api/v0/staged/products/:product_guid/properties` API endpoint. This identifier helps you see more detail about various selectors.
* **[Feature Improvement]**: Windows tile logs no longer contain multiple duplicate lines.
* **[UI Improvement]**: A notification banner appears in the Ops Manager UI when a certificate needs to be rotated or replaced.
* **[UI Improvement]**: When you are on the **Pending Changes** page and a tile is staged for installation or deletion, a message appears telling you changes to that tile are not available to view.
* **[UI Improvement]**: You can see the status of new, staged, or pre-deletion tiles on the "Review Pending Changes" page.
* **[UI Improvement]**: Notification messages appear when a tile staged for installation or deletion has no manifest or there is an error returning the manifest.
* **[Bug Fix]**: The "Applying Changes" banner appears consistently throughout the UI. 
* **[Bug Fix]**: The request body appears in the PUT section of the `/api/v0/settings/ssl_certificate` API docs.
* **[Unsupported Feature]**: The NATS username and password have been removed from the BOSH Director manifest. They no longer appear at an API endpoint or in the Credentials tab.
* **[Unsupported Feature]**: Ops Manager no longer allows legacy agents in stemcells. 

Ops Manager v2.5 Alpha 2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5-build.75*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>170.16*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.4.0*</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2</td>
  </tr><tr>
    <td>Syslog</td><td>11.4*</td>
  </tr><tr>
    <td>UAA</td><td>64</td>
  </tr><tr>
    <td>AWS CPI</td><td>73*</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.5</td>
  </tr><tr>
    <td>GCP CPI</td><td>29.0.0*</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>41*</td>
  </tr><tr>
    <td>vSphere CPI</td><td>52.0.0*</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="alpha-1"></a> 2.5 Alpha 1

Ops Manager v2.5 Alpha 1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5-build.43</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>170.12</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.3.0</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>64</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.5</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>51.0.2</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

## <a id='major-features'></a> New Features in Ops Manager v2.5

Ops Manager v2.5 includes the following major features:

* Feature descriptions to come as features are implemented in v2.5 release candidates.

## <a id='known-issues'></a> Known Issues

* Known issues to come as features and dependencies are implemented in v2.5 release candidates.

