---
title: PCF Ops Manager v2.6 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a> How to Upgrade

The [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/2-6/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v2.6.

## <a id="releases"></a>Releases

### <a id="alpha-1"></a> 2.6 Alpha 1

* **[Breaking Change]**: (vSphere only) You can no longer ssh into a VM on a vSphere Ops Manager without a private key.
* **[New Feature]**: `GET /api/v0/installations` now displays the start and end time for a deployment of each product. Products that are upgraded from earlier versions of Ops Manager will display `null` for their start and end times.
* **[New Feature]**: Ops Manager operators cannot set secrets that do not match the constraints defined by the must_match_regex parameter.
* **[New Feature]**: Ops Manager supports 5th generation AWS Instance Types. 5th generation Instance Types are the default when a v2.6 Ops Manager boots.
* **[New Feature]**: You can now specify a monitor port when defining a NSX load balancer. Send a PUT to `/api/v0/staged/products/:guid/properties/jobs/:job_id/resource_config` with a  `monitor_port` key. This features helps to support NSX load balancer compatibility with Gorouter, which requires a monitor port of `8080` and a traffic port of `80`.  
* **[UI Improvement]**: The banner notifying you that certificates in your deployment will expire in the next three months is edited for improved clarity and usefulness.

Ops Manager v2.6 Alpha 1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr><td>Ops Manager</td><td>2.6.0-build.54</td></tr>
  <tr><td>Stemcell</td><td>250.25</td></tr>
  <tr><td>BBR SDK</td><td>1.14.0</td></tr>
  <tr><td>BOSH Director</td><td>268.7.0</td></tr>
  <tr><td>BOSH DNS</td><td>1.10.0</td></tr>
  <tr><td>Metrics Server</td><td>0.0.22</td></tr>
  <tr><td>CredHub</td><td>2.1.4</td></tr>
  <tr><td>Syslog</td><td>11.4.0</td></tr>
  <tr><td>Windows Syslog</td><td>1.0.3</td></tr>
  <tr><td>UAA</td><td>72.0</td></tr>
  <tr><td>BPM</td><td>1.0.3</td></tr>
  <tr><td>Networking</td><td>9</td></tr>
  <tr><td>OS Conf</td><td>20.0.0</td></tr>
  <tr><td>AWS CPI</td><td>74</td></tr>
  <tr><td>Azure CPI</td><td>35.5.0</td></tr>
  <tr><td>Google CPI</td><td>29.0.1</td></tr>
  <tr><td>OpenStack CPI</td><td>42</td></tr>
  <tr><td>vSphere CPI</td><td>52.1.0</td></tr>
  <tr><td>BOSH CLI</td><td>5.4.0</td></tr>
  <tr><td>Credhub CLI</td><td>2.3.0</td></tr>
  <tr><td>BBR CLI</td><td>1.5.0</td></tr>
  </tbody>
</table>

## <a id='major-features'></a> New Features in Ops Manager v2.6

Ops Manager v2.6 includes the following major features:


## <a id='known-issues'></a> Known Issues

* Known issues to come as features and dependencies are implemented in v2.6 release candidates.

