---
title: PCF Ops Manager v2.4 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a> How to Upgrade

The [Upgrading Pivotal Cloud Foundry](https://docs.pivotal.io/pivotalcf/2-4/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v2.4.

## <a id="releases"></a> Releases

### <a id="2.4.12"></a> 2.4.12

* **[Bug Fix]** Errands no longer fail when output is ASCII encoded but contains non-ASCII characters. 

Ops Manager v2.4.12 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.206*</td>
  </tr>
  <tr><td>Stemcell</td><td>170.69</td></tr><tr><td>BBR SDK</td><td>1.7.1</td></tr><tr><td>BOSH Director</td><td>268.2.4*</td></tr><tr><td>BOSH DNS</td><td>1.10.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>60.13</td></tr><tr><td>BPM</td><td>0.12.3</td></tr><tr><td>Networking</td><td>8</td></tr><tr><td>OS Conf</td><td>20.0.0</td></tr><tr><td>AWS CPI</td><td>72</td></tr><tr><td>Azure CPI</td><td>35.4.0</td></tr><tr><td>Google CPI</td><td>27.0.1</td></tr><tr><td>OpenStack CPI</td><td>39</td></tr><tr><td>vSphere CPI</td><td>51.1.0</td></tr><tr><td>BOSH CLI</td><td>5.5.1*</td></tr><tr><td>Credhub CLI</td><td>2.4.0</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id="2.4.11"></a> 2.4.11

- **[Security Fix]** Bumps stemcell to 170.69 to resolve [USN-3977-1](https://usn.ubuntu.com/3977-1/).
- **[Feature]** Operators can override the NATS max payload using the Ops Manager API. For more information, see [Updating director and Iaas properties (Experimental)](http://docs.pivotal.io/pivotalcf/2-5/opsman-api/#updating-director-and-iaas-properties-experimental) in the Ops Manager API documentation.
- **[Bug Fix]** Ops Manager does not allow a revert on upgrade without deploying the BOSH Director.
- **[Bug Fix]** Dropdowns for certain VM types are easier to use.
- **[Bug Fix]** UAA session timeouts obey the access or refresh token lifetime.

Ops Manager v2.4.11 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.202*</td>
  </tr>
  <tr><td>Stemcell</td><td>170.69*</td></tr><tr><td>BBR SDK</td><td>1.7.1</td></tr><tr><td>BOSH Director</td><td>268.2.3</td></tr><tr><td>BOSH DNS</td><td>1.10.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>60.13</td></tr><tr><td>BPM</td><td>0.12.3</td></tr><tr><td>Networking</td><td>8</td></tr><tr><td>OS Conf</td><td>20.0.0</td></tr><tr><td>AWS CPI</td><td>72</td></tr><tr><td>Azure CPI</td><td>35.4.0</td></tr><tr><td>Google CPI</td><td>27.0.1</td></tr><tr><td>OpenStack CPI</td><td>39</td></tr><tr><td>vSphere CPI</td><td>51.1.0</td></tr><tr><td>BOSH CLI</td><td>5.5.0</td></tr><tr><td>Credhub CLI</td><td>2.4.0</td></tr><tr><td>BBR CLI</td><td>1.5.1*</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>


### <a id="2-4-10"></a> 2.4.10

* **[Bug Fix]**: You can now log in to Ops Manager when you have set up Ops Manager with LDAP over SSL.
* **[Bug Fix]**: Apply Changes no longer fails if copying credentials to CredHub takes longer than ten minutes.
* **[Bug Fix]**: Exporting installation settings no longer causes the BOSH Director to incorrectly show that it has staged changes.
* **[Bug Fix]**: Harbor now installs successfully on deployments that already have PKS installed. For more information about Harbor, see [VMware Harbor Registry](https://docs.pivotal.io/partners/vmware-harbor/index.html).
* **[Bug Fix]**: Operators can no longer change persistent disk size to custom values.

Ops Manager v2.4.10 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.192*</td>
  </tr>
  <tr><td>Stemcell</td><td>170.51*</td></tr><tr><td>BBR SDK</td><td>1.7.1</td></tr><tr><td>BOSH Director</td><td>268.2.3*</td></tr><tr><td>BOSH DNS</td><td>1.10.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.6*</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>60.13</td></tr><tr><td>BPM</td><td>0.12.3</td></tr><tr><td>Networking</td><td>8</td></tr><tr><td>OS Conf</td><td>20.0.0</td></tr><tr><td>AWS CPI</td><td>72</td></tr><tr><td>Azure CPI</td><td>35.4.0</td></tr><tr><td>Google CPI</td><td>27.0.1</td></tr><tr><td>OpenStack CPI</td><td>39</td></tr><tr><td>vSphere CPI</td><td>51.1.0</td></tr><tr><td>BOSH CLI</td><td>5.5.0*</td></tr><tr><td>Credhub CLI</td><td>2.4.0</td></tr><tr><td>BBR CLI</td><td>1.5.0</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id="2-4-9"></a> 2.4.9

* **This patch contains no new features or fixes.** It updates Ops Manager components to address dependency requirements for other products.

Ops Manager v2.4.9 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.180*</td>
  </tr>
  <tr><td>Stemcell</td><td>170.48*</td></tr><tr><td>BBR SDK</td><td>1.7.1</td></tr><tr><td>BOSH Director</td><td>268.2.2</td></tr><tr><td>BOSH DNS</td><td>1.10.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.1.5*</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>60.13</td></tr><tr><td>BPM</td><td>0.12.3</td></tr><tr><td>Networking</td><td>8</td></tr><tr><td>OS Conf</td><td>20.0.0</td></tr><tr><td>AWS CPI</td><td>72</td></tr><tr><td>Azure CPI</td><td>35.4.0</td></tr><tr><td>Google CPI</td><td>27.0.1</td></tr><tr><td>OpenStack CPI</td><td>39</td></tr><tr><td>vSphere CPI</td><td>51.1.0</td></tr><tr><td>BOSH CLI</td><td>5.4.0</td></tr><tr><td>Credhub CLI</td><td>2.4.0</td></tr><tr><td>BBR CLI</td><td>1.5.0</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-4-8"></a> 2.4.8

* **[Bug Fix]**: You can configure Azure deployments to use Availability Zones after upgrading from an earlier version.

Ops Manager v2.4.8 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr><td>Ops Manager</td><td>2.4-build.177*</td></tr>
  <tr><td>Stemcell</td><td>170.45*</td></tr>
  <tr><td>BBR SDK</td><td>1.7.1</td></tr>
  <tr><td>BOSH Director</td><td>268.2.2</td></tr>
  <tr><td>BOSH DNS</td><td>1.10.0</td></tr>
  <tr><td>Metrics Server</td><td>0.0.22</td></tr>
  <tr><td>CredHub</td><td>2.1.2</td></tr>
  <tr><td>Syslog</td><td>11.4.0</td></tr>
  <tr><td>Windows Syslog</td><td>1.0.3</td></tr>
  <tr><td>UAA</td><td>60.13</td></tr>
  <tr><td>BPM</td><td>0.12.3</td></tr>
  <tr><td>Networking</td><td>8</td></tr>
  <tr><td>OS Conf</td><td>20.0.0</td></tr>
  <tr><td>AWS CPI</td><td>72</td></tr>
  <tr><td>Azure CPI</td><td>35.4.0</td></tr>
  <tr><td>Google CPI</td><td>27.0.1</td></tr>
  <tr><td>OpenStack CPI</td><td>39</td></tr>
  <tr><td>vSphere CPI</td><td>51.1.0</td></tr>
  <tr><td>BOSH CLI</td><td>5.4.0</td></tr>
  <tr><td>Credhub CLI</td><td>2.4.0*</td></tr>
  <tr><td>BBR CLI</td><td>1.5.0*</td></tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-4-7"></a> 2.4.7

* **[Security Fix]**: This patch addresses [CVE-2019-5418](https://nvd.nist.gov/vuln/detail/CVE-2019-5418), a Rails file content disclosure vulnerability.
* **[Security Fix]**: This patch addresses [CVE-2019-5419](https://nvd.nist.gov/vuln/detail/CVE-2019-5419), a Rails vulnerability that could lead to denial of service (DoS) attacks.
* **[Security Fix]**: Ops Manager operators cannot set secrets that do not match the constraints defined by the `must_match_regex` parameter.
* **[Bug Fix]**: When a redeploy is triggered by Apply Changes and that redeploy last multiple days, logs are generated for that entire time.
* **[UI Improvement]**: The notification banner that appears when a certificate in your deployment is about to expire is updated for clarity.

Ops Manager v2.4.7 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.171*</td></tr>
  <tr><td>Stemcell</td><td>170.39*</td></tr>
  <tr><td>BBR SDK</td><td>1.7.1</td></tr>
  <tr><td>BOSH Director</td><td>268.2.2</td></tr>
  <tr><td>BOSH DNS</td><td>1.10.0</td></tr>
  <tr><td>Metrics Server</td><td>0.0.22</td></tr>
  <tr><td>CredHub</td><td>2.1.2</td></tr>
  <tr><td>Syslog</td><td>11.4.0</td></tr>
  <tr><td>Windows Syslog</td><td>1.0.3</td></tr>
  <tr><td>UAA</td><td>60.13*</td></tr>
  <tr><td>BPM</td><td>0.12.3</td></tr>
  <tr><td>Networking</td><td>8</td></tr>
  <tr><td>OS Conf</td><td>20.0.0</td></tr>
  <tr><td>AWS CPI</td><td>72</td></tr>
  <tr><td>Azure CPI</td><td>35.4.0</td></tr>
  <tr><td>Google CPI</td><td>27.0.1</td></tr>
  <tr><td>OpenStack CPI</td><td>39</td></tr>
  <tr><td>vSphere CPI</td><td>51.1.0</td></tr>
  <tr><td>BOSH CLI</td><td>5.4.0</td></tr>
  <tr><td>Credhub CLI</td><td>2.3.0*</td></tr>
  <tr><td>BBR CLI</td><td>1.4.0</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-4-6"></a> 2.4.6

* **[Security Fix]**: The BOSH Director's UAA client now requires HTTPS for inbound connection requests.

Ops Manager v2.4.6 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.168*</td></tr>
  <tr><td>Stemcell</td><td>170.38*</td></tr>
  <tr><td>BBR SDK</td><td>1.7.1</td></tr>
  <tr><td>BOSH Director</td><td>268.2.2</td></tr>
  <tr><td>BOSH DNS</td><td>1.10.0</td></tr>
  <tr><td>Metrics Server</td><td>0.0.22</td></tr>
  <tr><td>CredHub</td><td>2.1.2</td></tr>
  <tr><td>Syslog</td><td>11.4.0</td></tr>
  <tr><td>Windows Syslog</td><td>1.0.3</td></tr>
  <tr><td>UAA</td><td>60.12*</td></tr>
  <tr><td>BPM</td><td>0.12.3</td></tr>
  <tr><td>Networking</td><td>8</td></tr>
  <tr><td>OS Conf</td><td>20.0.0</td></tr>
  <tr><td>AWS CPI</td><td>72</td></tr>
  <tr><td>Azure CPI</td><td>35.4.0</td></tr>
  <tr><td>Google CPI</td><td>27.0.1</td></tr>
  <tr><td>OpenStack CPI</td><td>39</td></tr>
  <tr><td>vSphere CPI</td><td>51.1.0</td></tr>
  <tr><td>BOSH CLI</td><td>5.4.0</td></tr>
  <tr><td>Credhub CLI</td><td>2.2.1</td></tr>
  <tr><td>BBR CLI</td><td>1.4.0</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-2-5"></a> 2.4.5

* **[Security Fix]**: Updates bootstrap from 3.4.0 to 3.4.1.

Ops Manager v2.4.5 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.163*</td>
  </tr>
  <tr><td>Stemcell</td><td>170.30*</td></tr>
  <tr><td>BBR SDK</td><td>1.7.1</td></tr>
  <tr><td>BOSH Director</td><td>268.2.2</td></tr>
  <tr><td>BOSH DNS</td><td>1.10.0</td></tr>
  <tr><td>Metrics Server</td><td>0.0.22</td></tr>
  <tr><td>CredHub</td><td>2.1.2</td></tr>
  <tr><td>Syslog</td><td>11.4.0</td></tr>
  <tr><td>Windows Syslog</td><td>1.0.3</td></tr>
  <tr><td>UAA</td><td>60.9</td></tr>
  <tr><td>BPM</td><td>0.12.3</td></tr>
  <tr><td>Networking</td><td>8</td></tr>
  <tr><td>OS Conf</td><td>20.0.0</td></tr>
  <tr><td>AWS CPI</td><td>72</td></tr>
  <tr><td>Azure CPI</td><td>35.4.0</td></tr>
  <tr><td>Google CPI</td><td>27.0.1</td></tr>
  <tr><td>OpenStack CPI</td><td>39</td></tr>
  <tr><td>vSphere CPI</td><td>51.1.0</td></tr>
  <tr><td>BOSH CLI</td><td>5.4.0</td></tr>
  <tr><td>Credhub CLI</td><td>2.2.1</td></tr>
  <tr><td>BBR CLI</td><td>1.4.0*</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk are updated.</em></td>
  </tbody>
</table>

### <a id="2-4-4"></a> 2.4.4

* **[New Feature]**: Operators can now rotate the NATS Certificate Authority (CA).
* **[New Feature]**: You can now change a selected option of a selector via the API using the human-readable name of the option. Send a PUT to `/api/v0/staged/products/:guid/properties` with a `selected_option` key. The `PUT` API endpoint can also parse both `value`, for the human-readable value, and `option_value`, for the machine-readable value.
* **[New Feature]**: All NATS CA public keys and their expiration dates now appear in the UI and API. Create a new root certificate, deploy the BOSH Director, and visit `/api/v0/deployed/certificates` or the credentials tab of the BOSH Director to view them.
* **[New Feature]**: Tile authors can now implement user-facing warnings that display when a pre-delete or post-deploy errand is implemented. Use the `impact_warning` key in `pre_delete_errands` or `post_deploy_errands` to specify a warning.
* **[Bug Fix]**: When an Azure-based Ops Manager Director is configured with invalid Azure account credentials (such as a subscription ID, tenant, or other credentials) and you try to create a network, you now see an error message, rather than a 500 error.
* **[Bug Fix]**: Reverts the Azure CPI to 35.4 to resolve a customer issue.

Ops Manager v2.4.4 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.152*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>170.24 (Xenial)</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.2.2</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.22</td>
  </tr><tr>
    <td>CredHub</td><td>2.1.2*</td>
  </tr><tr>
    <td>Syslog</td><td>11.4</td>
  </tr><tr>
    <td>UAA</td><td>60.9</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.4*</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>51.1*</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk are updated.</em></td>
  </tbody>
</table>

### <a id="2-4-3"></a> 2.4.3

* **[Security Fix]**: A potential XXS vulnerability in the `resource_config` API endpoint is mitigated.
* **[New Feature]**: Tile authors can now use a double-parens accessor to pull information from Ops Manager. Use the `(($ops_manager.restricted_view_api_access_credentials))` to make read-only, non-credential requests to Ops Manager.
* **[New Feature]**: You can now use the BOSH Backup and Restore (BBR) CLI from the Ops Manager VM. This means you no longer have to download or upgrade BBR when you upgrade the Ops Manager VM.
* **[Bug Fix]**: Ops Manager now reloads NGINX when the configuration is updated. Previously, Ops Manager would restart NGINX, which could cause temporary downtime. NGINX now serves traffic consistently when it is updating.
* **[Bug Fix]**: Ops Manager now uses GCP images that are located in the United States. This should prevent image object generation problems sometimes seen in images based in Europe and Asia.

Ops Manager v2.4.3 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.145*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>170.24 (Xenial)</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.2.2*</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.22*</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2</td>
  </tr><tr>
    <td>Syslog</td><td>11.4</td>
  </tr><tr>
    <td>UAA</td><td>60.9</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.5</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>51.0.4</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk are updated.</em></td>
  </tbody>
</table>

### <a id="2-4-2"></a> 2.4.2

* **[Bug Fix]**: Tile authors can now get the VM type catalog via a double parens accessor.
* **[Bug Fix]**: You can now change the Ops Manager decryption passphrase consistently.
* **[Bug Fix]**: The AWS verifier now fails gracefully, rather than crashing on failure.
* **[Bug Fix]**: `/api/v0/deployed/director/manifest` now works during upgrades.
* **[Bug Fix]**: You can no longer export via the API without having deployed anything.
* **[UI Improvement]**: Notification banners now have a more consistent appearance.
* **[UI Improvement]**: In the Ops Manager API, some malformed properties now return more reader-friendly error messages.

Ops Manager v2.4.2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.142*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>170.9 (Xenial)</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.2.1</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2</td>
  </tr><tr>
    <td>Syslog</td><td>11.4</td>
  </tr><tr>
    <td>UAA</td><td>60.9*</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.5</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>51.0.4</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk are updated.</em></td>
  </tbody>
</table>

### <a id="2-4-1"></a> 2.4.1

* **[Security Fix]**: GETs to any Ops Manager or UAA API endpoint no longer return any information about the web server, including version numbers.
* **[New Feature]**: Ops Manager operators with sufficient permissions to see credentials can send a GET to `director/properties`, `director/iaas_configurations/guid`, `director/iaas_configurations`, or `products/guid/properties` with the `redact=false` parameter to see an API response that includes credentials.
* **[New Feature]**: You can use a checkbox on the Director Settings page to opt-in to running the `drain` lifecycle when deploying the BOSH Director. Alternatively, in the API, send a GET to `/api/v0/staged/director/properties` to see a new property under `director_configuration` called `skip_director_drain` to see the status of this checkbox.
* **[Feature Improvement]**: More detailed selector properties are now available from the API through a new field called `selected_value`. This field returns the selected machine-readable option name.
* **[Bug Fix]**: The PUT `/api/v0/settings/ssl_certificate` API docs are now correct.

Ops Manager v2.4.1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.131*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>170.9 (Xenial)</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.2.1</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2</td>
  </tr><tr>
    <td>Syslog</td><td>11.4*</td>
  </tr><tr>
    <td>UAA</td><td>60.8</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.5</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>51.0.4*</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk are updated.</em></td>
  </tbody>
</table>

### <a id="2-4"></a> 2.4.0

Ops Manager v2.4.0 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.4-build.117*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>170.9 (Xenial)*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.2.1</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.8</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.5</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>51.0.2</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk are updated.</em></td>
  </tbody>
</table>

## <a id='major-features'></a> New Features in Ops Manager v2.4

Ops Manager v2.4 includes the following major features:

### <a id="multiple-admins"></a> Ops Manager Allows Multiple Simultaneous Administrators

Multiple Ops Manager administrators can use Ops Manager at the same time, to reconfigure and manage a PCF deployment. For more information, see [Managing Simultaneous Ops Manager Administrators](https://docs.pivotal.io/pivotalcf/2-4/opsguide/config-rbac.html#multiple-write-users).

### <a id='credhub-2.0'></a> Ops Manager Uses CredHub v2.0

BOSH CredHub, the instance that manages credentials on the Ops Manager VM, now
uses CredHub v2.0. For more information about where your credentials are
stored, see [BOSH CredHub](http://docs.pivotal.io/pivotalcf/credhub/index.html#bosh).

CredHub v2.0 includes bug fixes, improved security, and new options for
managing credential permissions. These updates are not directly visible to PCF
operators, but CredHub v2.0 introduces breaking changes for tile and service
authors. For more information, see the [PCF v2.4 Partners Release Notice](https://docs.pivotal.io/tiledev/release-notes.html)
in the PCF Tile Developer Guide.

### <a id='certs-expiration'></a> Operators Can Search for Certificates by Expiration Date in CredHub

The `find` command in the CredHub CLI supports filtering searches for certificates by their expiration date. This command returns any certificate values visible to the requester, including certificates that have already expired.

To search for certificates by their expiration date, run the `find` command with the following parameter:

```
credhub find expires_within_days=NUMBER-OF-DAYS
```

Where `NUMBER-OF-DAYS` is an integer representing the upper limit of days you are searching within for expiring certificates.

For example:

<pre class="terminal">$ credhub find expires_within_days=5</pre>

### <a id="aws-china"></a> Pivotal Images Publish to AWS China

Users on AWS China accounts can now access downloads from Pivotal Network on their AWS China console. Find specific Ops Manager images in your AWS China console by searching for the AMI IDs for those images.

### <a id="select-all-products"></a> Operators Can Select or Deselect All Products For Deployment

The Ops Manager **Review Pending Changes** page has a **Select All Products** checkbox.
Enabling the checkbox selects all available products to deploy with the next **Apply Changes**. Disabling the checkbox deselects all products from deploying.

For more information, see [Review Pending Changes Page](https://docs.pivotal.io/pivotalcf/2-4/customizing/review-pending-changes.html#review-pending-changes).

### <a id="consistent-syslog"></a> Consistent Syslog Panes in Ops Manager and BOSH Director

The **Syslog** pane in Ops Manager's **Settings** menu and in the BOSH Director tile are now identical. The **Syslog** pane in the **Settings** menu allows syslog configuration for Ops Manager, and the **Syslog** pane in the BOSH Director tile allows configuration for the BOSH Director exclusively. For more information, see [Settings Page](https://docs.pivotal.io/pivotalcf/2-4/customizing/pcf-interface.html#settings).

Both of these panes use the new Syslog form template available to all tile authors. For more information about the template, see [Syslog Form Template Available for Tile Authors](#syslog).

### <a id="historical-diffs"></a> Files Used During Previous Deployments Are Available From the API

You can now view the details from previous deployments for manifests and cloud, runtime, and CPI configs, from new API endpoints. This can be useful for troubleshooting or duplicating historical configurations for a deployment.

For more information, see [Getting BOSH manifests from historical installations](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#getting-bosh-manifests-from-historical-installations) in the Ops Manager API documentation.

### <a id="upgrade-config"></a> Staged and Current Config Details Are Available During Upgrade From the API

You can now use the API to access various aspects of your deployment during an upgrade, when the rest of your deployment is unavailable. The CPI configs, runtime configs, cloud config, and manifest are all available during upgrade from the Ops Manager API.

For more information, see [Staged BOSH Director](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#staged-bosh-director) and [Staged Products](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#staged-products) in the Ops Manager API documentation.

### <a id="syslog"></a> Syslog Form Template Available for Tile Authors

Tile authors can insert a templatized Syslog form into their tiles by using the `opsmanager_syslog` key in their tile's `metadata.yml`. The pane that the form creates is identical to the Syslog pane in Ops Manager and the BOSH Director tile. The form template is an opportunity to make tile users' experience more consistent and secure.

For more information about modifying `metadata.yml`, see [Property Template References](https://docs.pivotal.io/tiledev/2-4/property-template-references.html#syslog-flag).

### <a id="multiple-bosh-releases"></a> The BOSH Director Supports Custom BOSH Releases

You can now add custom BOSH releases to a BOSH Director by modifying a deployment's `manifest.yml`. Custom BOSH releases can enhance antivirus capabilities, add security features, or support monitoring features. The BOSH Director supports custom and standard BOSH releases, but all releases referenced in a manifest must be available at an HTTP address, either locally hosted or available on the internet. You cannot upload a second BOSH release directly to Ops Manager.

To learn more about adding BOSH releases to a BOSH Director, see [Deploying Software with BOSH](https://docs.pivotal.io/pivotalcf/2-4/customizing/deploy-bosh-om.html#bosh).

<p class="note"><strong>Note</strong>: If a hosted BOSH release is no longer available but not removed from Ops Manager, it may cause the BOSH Director not to boot or <strong>Apply Changes</strong> to fail.</p>

### <a id="dns-form"></a> BOSH DNS Config Page in the BOSH Director Tile

The BOSH Director tile has a new page for configuring BOSH DNS. The **BOSH DNS Config** page lets you specify recursor addresses the DNS server should not use, enforce a recursor timeout, and add custom DNS handlers.

For more information, see [BOSH DNS Config Page](https://docs.pivotal.io/pivotalcf/2-4/om/gcp/config-manual.html#bosh-dns) in the GCP documentation, or find an entry for that page in the documentation for any IaaS.

<p class="note"><strong>Note</strong>: BOSH DNS replaces Consul DNS, which had caused stability issues in some deployments. PCF v2.0 through v2.3 progressively phased out Consul DNS, and v2.4 completes its removal. For more information, see the <a href="https://docs.pivotal.io/pivotalcf/2-3/pcf-release-notes/runtime-rn.html#remove-consul-agent">Pivotal Application Service v2.3 Release Notes</a>.</p>

### <a id="multiple-networks"></a> Associate an Instance Group with Multiple Networks or Diego Cells Simultaneously

You can use the `resource_config` API endpoint to associate multiple networks to Diego cells or instance groups. Define the networks as usual with the Ops Manager UI or API, and then set the networks for a job with the `additional_networks` key in the API. This workflow supports complex container networking integrations, including precise management of per-instance group network settings for sets of VMs.

For more information, see [Retrieving resources for a job](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#retrieving-resource-configuration-for-a-product).

### <a id="swap-size"></a> Swap Partition Size Is Configurable From the API

You can customize the size of the swap partition of a VM's memory as a percent of total memory size per instance group. This allows more refined control of memory allocation across a deployment.

For more information, see [Retrieving resources for a job](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#retrieving-resource-configuration-for-a-product) in the Ops Manager API documentation.

### <a id="expiring-certificates"></a> SAML Certificate Expiration Information Is Available From the API

You can view the expiration date for your SAML service provider certificate with the `/api/v0/deployed/certificates` endpoint, or use a different endpoint to rotate the certificates.

For more information, see [Getting Information About Certificates from Products](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#getting-information-about-certificates-from-products).

### <a id='om-root-ca'></a> BOSH Director Can Require All Deployments To Trust Ops Manager Root Certificate Authority

You can enable BOSH Director to include the Ops Manager root certificate authority certificate in the trust store of every VM it deploys. This forces each VM to trust the Ops Manager root CA certificate by default.

For more information, see the **Security** section of the [BOSH Director configuration topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-4/customizing/deploy-bosh-om.html#contents).

### <a id='certificate-banner'></a> Notification Banner Appears When A Certificate Nears Expiration

Now a notification banner appears in the Ops Manager UI when a certificate needs to be rotated or replaced.

### <a id="additional-cpi-settings"></a> IaaS-Specific Global CPI Properties Are Configurable From the API

You can provide additional global CPI properties via the `additional_cloud_properties` endpoint in the Ops Manager API. This allows you to set properties that would otherwise be unavailable in Ops Manager. The specific CPI properties you can set varies depending on your IaaS.

After adding new global CPI properties, you can view the global CPI properties in use by sending a GET to `/api/v0/staged/director/iaas_configurations`.

For more information, see [Updating Director and IaaS Properties](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#updating-director-and-iaas-properties-experimental).


## <a id='known-issues'></a> Known Issues

### <a id="custom-banner"></a> Custom Banner Does Not Display On All Ops Manager Pages

You can set a custom banner to display on Ops Manager. Due to a visualization issue in Ops Manager, the custom banner does not display on the Stemcell library, Review Pending Changes, Change Log, and Previous Installation History pages.

### <a id='bpm'></a> BOSH Process Manager Fails to Start Job Process with Exit Status 1

Some Monit processes fail to start, and the `bpm.log` shows an exit status of 1 with no other cause for the failure.

BOSH Process Manager (BPM) calls runC to create a new container and launch a job process. However, runC cannot start the container because there is a stale `state.json` in `/var/vcap/bpm/runc/CONTAINER-ID/state.json`, where `state.json` is a zero-byte file. When running runC manually to start the job process, runC has an EOF error and the exit status is 1. runC fails to read the `state.json` and exits.

To resolve this issue, delete the zero-byte `state.json` file by deleting its parent directory with the following command: `rm -rf /var/vcap/data/bpm/runc/MJRHG---`<br>
Then run `monit start JOB` to start the job process and review the job logs to check if there are any further failures.

For more information, see [BPM fails to start job process with exit status 1](https://community.pivotal.io/s/article/bpm-fails-to-start-job-process-with-exit-status-1) in the Pivotal Knowledge Base.


## <a id="api-updates"></a> API Documentation Updates

Ops Manager v2.4 includes the following updates to the API. Some of these updates are referenced in the [New Features](#major-features) section.

### <a id="updated-sections"></a> Updated Sections

The following existing sections of the API documentation are updated in Ops Manager v2.4:

* [DNS Configuration](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#fetching-director-iaas-and-security-properties-experimental) in *Updating director and Iaas properties (Experimental)*: This section includes a new parameter:
  * `excluded_recursors`
* [Security Configuration](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#fetching-director-iaas-and-security-properties-experimental) in *Updating director and Iaas properties (Experimental)*: This section includes the following new parameters:
  * `trusted_certificates`
  * `generate_vm_passwords`
  * `opsmanager_root_ca_trusted_certs`
* [Iaas Configuration](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#fetching-director-iaas-and-security-properties-experimental) in *Updating director and Iaas properties (Experimental)* : This section includes a new parameter:
  * `additional_cloud_properties`
* [Retrieving resources for a job (Experimental)](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#retrieving-resources-for-a-job-experimental): This section is designated as experimental and includes a new parameter:
  * `additional_networks`
* [Configuring resources for a job (Experimental)](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#configuring-resources-for-a-job-experimental): This section is designated as experimental and includes a new parameter:
  * `additional_networks`
* [Setting the Custom Banners](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#setting-the-custom-banners): This section includes a new parameter:
  * `ssh_banner_contents`
* [Updating the Syslog configuration](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#updating-the-syslog-configuration): This section includes a new parameter:
  * `transport_protocol`
* [Retrieving manifest for a deployed product](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#retrieving-manifest-for-a-deployed-product): This section includes a new parameter:
  * `mode`

<p class="note"><strong>Note:</strong> In Ops Manager v2.4, the <code>excluded_recursors</code> API endpoints have moved. This could cause some scripts to break. For more information, see <a href="https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/breaking-changes.html#excluded-recursors">Excluded Recursors API Field Has Moved</a>.</p>

### <a id="new-sections"></a> New Sections

The following sections are new in Ops Manager v2.4:

* [Custom Manifest Operations (Experimental)](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#custom-manifest-operations-experimental)
* [Getting a List of All Manifest Operations](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#getting-a-list-of-all-manifest-operations)
* [Deleting a Manifest Operation](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#deleting-a-manifest-operation)
* [Adding a Job to the Director VM](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#adding-a-job-to-the-director-vm)
* [Retrieving syslog configuration for a product](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#retrieving-syslog-configuration-for-a-product)
* [Configuring product syslog](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#configuring-product-syslog)
* [Fetching the staged director runtime configs](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#fetching-the-staged-director-runtime-configs)
* [Fetching staged product runtime configs](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#fetching-staged-product-runtime-configs)
* [Retrieving syslog configuration for a deployed product](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#list-jobs-for-a-given-product)
* [Fetching deployed product runtime configs](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#fetching-deployed-product-runtime-configs)
* [Getting BOSH CPI Config from historical installations](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#getting-bosh-cpi-config-from-historical-installations)
* [Getting BOSH runtime configs from historical installations](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#getting-bosh-runtime-configs-from-historical-installations)
* [Fetching the deployed director runtime configs](http://docs.pivotal.io/pivotalcf/2-4/
opsman-api/#fetching-the-deployed-director-runtime-configs)
