---
title: PCF Ops Manager v2.3 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a> How to Upgrade

The [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivoAztalcf/2-3/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v2.3.


## <a id="releases"></a> Releases

### <a id="2-3-4"></a> 2.3.4

* **[Bug Fix]**: Bumps stemcell to resolve a [Known Issue](#tile-upload). You can now upload large files without Ops Manager timing out.

Ops Manager v2.3.4 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.3-build.188*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>97.28 (Xenial)*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7</td>
  </tr><tr>
    <td>BOSH Director</td><td>267.8</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>1.9.5</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.2</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.4</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>50</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-3-3"></a> 2.3.3

* **[Security Fix]**: Bumps stemcell to 97.22 for periodic lower-severity security updates.
* **[New Feature]**: Operators can tune the swap size as a percent of total memory size per instance group.
* **[Bug Fix]**: Operators can change the Director Hostname without losing connection between BOSH Director and VMs. 
* **[Bug Fix]**: Stemcells no longer accidentally downgrade in rare cases when upgrading to a new OpsManager. This happened previously when a product had a newer stemcell patch than Ops Manager included during the upgrade.
* **[Bug Fix]**: Operators can work around an expired SAML service provider cert by disabling and enabling SAML.
* **[Feature Improvement]**: The expiring certificates endpoint (`/api/v0/deployed/certificates`) now includes information about the SAML service provider cert.
* **[Feature Improvement]**: Importing products that use the future Unified Syslog feature warns operators that product syslog features will not be active in this version of Ops Manager.
* **[Bug Fix]**: Dynamic JS pages now show the message from server-side errors instead of alert boxes with JavaScript errors (such as `[Object object]` or `t.filter()`).

Ops Manager v2.3.3 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.3-build.184*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>97.22 (Xenial)*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7</td>
  </tr><tr>
    <td>BOSH Director</td><td>267.8*</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>1.9.5</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.2</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.4</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>50</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-3-2"></a> 2.3.2

* **[Security Fix]**: Bumps stemcell to 97.19 to address [USN-3777-2](https://github.com/cloudfoundry/bosh-linux-stemcell-builder/releases/tag/ubuntu-xenial%2Fv97.19).
* **[New Feature]**: You can now configure custom DNS handlers via the Ops Manager API.
* **[New Feature]**: You can now configure recursor timeouts via the Ops Manager API.

Ops Manager v2.3.2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.3-build.170*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>97.19 (Xenial)*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7</td>
  </tr><tr>
    <td>BOSH Director</td><td>267.7</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>1.9.5</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.2</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.4</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>50</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>


### <a id="2-3-1"></a> 2.3.1

* **[Bug Fix]**: You are now only prompted to unlock Ops Manager once when enabling [Rescue Mode](https://community.pivotal.io/s/article/How-to-put-Ops-Manager-into-Rescue-Mode).
* **[Bug Fix]**: Ops Manager sets the storage account type and Director ephemeral disk correctly for Azure deployments.
* **[Feature Improvement]**: You can now deselect all tiles at once.

Ops Manager v2.3.1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.3-build.167*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>97.18 (Xenial)</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7</td>
  </tr><tr>
    <td>BOSH Director</td><td>267.7*</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10*</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>1.9.5</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.2</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.4*</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>50</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-3"></a> 2.3.0

Ops Manager v2.3 uses the following component versions:

 <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.3-build.146</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>97.15 (Xenial)</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7</td>
  </tr><tr>
    <td>BOSH Director</td><td>267.6</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.9</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>1.9.5</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>60.2</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.2</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>50</td>
  </tr>
  </tbody>
  </table>


## <a id='major-features'></a> New Features in Ops Manager v2.3

Ops Manager v2.3 includes the following major features:


### <a id="xenial"></a> Ops Manager and BOSH Director Upgraded to Ubuntu 16.04 (Xenial Xerus)

Ops Manager v2.3 uses a Xenial stemcell based on Ubuntu 16.04 (Xenial Xerus).

The previously supported Trusty stemcells were based on Ubuntu 14.04 (Trusty Tahr). This distribution will reach end of general support (EOGS) in April 2019 and will no longer receive security updates.

Using Xenial stemcells in v2.3 ensures that Ops Manager users continue to have access to secure stemcells based on a Ubuntu distribution maintained by Canonical.

For more information on the impact of using Xenial stemcells in PCF, see [Updates for Xenial Stemcell Support](breaking-changes.html#xenial).



### <a id='tls-blobstore'></a> TLS for Internal Blobstore Enabled by Default

Ops Manager now enables TLS communications for the internal blobstore by default.

If you want to disable TLS for your internal blobstore, disable **Enable TLS** in the **Director Config** pane of the BOSH Director tile.



### <a id="multi-dc"></a> Multiple Data Centers on OpenStack

Ops Manager now allows you to configure multiple OpenStack data centers to a single BOSH Director.

You can add additional OpenStack configs in the **OpenStack Config** pane of your BOSH Director tile. For more information about how to add, edit, and delete OpenStack configs, see [Managing Multiple Data Centers](http://docs.pivotal.io/pivotalcf/2-3/customizing/multiple-datacenters.html).



### <a id="bosh-dns"></a> BOSH DNS is Required

BOSH DNS is enabled by default in PCF v2.3.

The option to disable BOSH DNS is no longer available in the Ops Manager UI or API.

<p class="note warning"><strong>WARNING:</strong> Upgrades to PCF v2.3 will fail if BOSH DNS is disabled. Enable BOSH DNS before upgrading to PCF v2.3.</p>



### <a id="bosh-dns-certs"></a> BOSH DNS Certificate Authority Upgrades

BOSH DNS now comes with CAs that are valid for four years. These CAs will apply automatically when upgrading to v2.3.

To apply the CAs completely, you must upgrade to PCF v2.3 and then rotate all certificates in your installation. Follow the procedure below to rotate your certificates:

1. Upgrade Ops Manager to v2.3.

1. Click **Apply Changes** to distribute new CA to all VMs. Do not use **Review Pending Changes** to update your installation incrementally. Upgrade all tiles simultaneously.

1. Use the Ops Manager API to `POST /api/v0/certificate_authorities/active/regenerate`.

1. **Apply Changes** for all tiles simultaneously to rotate the certificates.



### <a id="verifier-control"></a> Disable Verifiers By Type with the Ops Manager API

You can disable verifiers by type with the Ops Manager API. Ops Manager provides this
option for troubleshooting purposes. For example, your deployment may have a unique
configuration that the verifier cannot detect. In this case, you can unblock your
deployment by disabling the verifier.

For more information, see [Managing Ops Manager
Verifiers](https://docs.pivotal.io/pivotalcf/2-3/customizing/granular-verifier-control.html).

<p class="note"><strong>Note:</strong> This is an advanced feature. Pivotal recommends
contacting support before you disable Ops Manager verifiers.</p>



### <a id="ldap"></a> Ops Manager Supports LDAP Authentication

Ops Manager supports Lightweight Directory Access Protocal (LDAP) for authentication, in addition to Security Assertion Markup Language (SAML).

For new Ops Manager installations, operators can configure LDAP authentication from the **Welcome to Ops Manager** page. See the **LDAP Server** section of the [BOSH Director configuration topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-3/customizing/deploy-bosh-om.html#contents) for more information.

For existing Ops Manager installations, operators can configure LDAP authentication through the Ops Manager **Settings** page. For more information, see the [Settings Page](https://docs.pivotal.io/pivotalcf/2-3/customizing/pcf-interface.html#settings) section of the Understanding the Ops Manager Interface topic.


### <a id="vsphere-ssh"></a> Ops Manager on vSphere Supports SSH Key Authentication

You can now use an SSH key in addition to or instead of an admin password to boot Ops Manager on vSphere. Set the SSH key during vSphere environment configuration, in the same panel where you can set an admin password and custom hostname.

After uploading an OVF template to vSphere, set an admin password or SSH key in the *Customize template* section of the *Deploy OVF Template* panel. For more information, see [Deploying BOSH and Ops Manager to vSphere](https://docs.pivotal.io/pivotalcf/2-3/customizing/deploying-vm.html). 


### <a id="cinder"></a> Virtual Machines Running on OpenStack Can Boot From Cinder Volumes

If you use OpenStack, you can now boot VMs from a Cinder volume. Cinder is an open source block storage solution for OpenStack users. For more information, see [Configuring BOSH Director on OpenStack](https://docs.pivotal.io/pivotalcf/2-3/customizing/openstack-om-config.html#openstack-config).




### <a id="recreate-persistent-disks"></a> Recreate All Persistent Disks

In the **Director Config** pane of the BOSH Director tile, you can
**Recreate All Persistent Disks**. Enabling the checkbox
forces BOSH to migrate and recreate all persistent disks without
losing persistent disk data.




### <a id="review-pending-changes"></a> UI Improvements to Review Pending Changes

The **Review Pending Changes** page in the Ops Manager installation dashboard features UI improvements.

See the following changes:

- You now cannot enable orange tiles for selective deployment. In Ops Manager v2.2, you can enable orange tiles but you cannot click **Apply Changes**.
- When you enable a tile for selective deployment, its dependencies are also enabled. In Ops Manager v2.2, you must enable your tile dependencies manually.
- When an update fails, a list of pending changes that did not complete appears on the **Review Pending Changes** page.
- When you attempt to change a tile with an out-of-date stemcell, a message appears notifying you that the stemcell is out of date. Click this message to access the Stemcell Library.
- When a tile is staged to be deleted, indicator text appears on that tile.
- **Apply Changes** displays as **Review Pending Changes** when there are pending changes staged.
- Stemcell changes appear in the **Changes** field for each tile.
- When **Review Pending Changes** returns an error, the error message includes the name of the affected tiles.
- The **Beta** label no longer appears on the **Review Pending Changes** page.
- The **Review Pending Changes** page has minor UI improvements throughout.

For more information about the page UI, see [Review Pending Changes Page](https://docs.pivotal.io/pivotalcf/2-3/customizing/review-pending-changes.html#review-pending-changes).



### <a id="review-pending-changes-api"></a> API Improvements to Review Pending Changes

- You can use `GET /api/v0/staged/pending_changes` to see stemcell changes in the Ops Manager API.
- When the API returns an error, the error message includes the name of the affected products.
- When an update fails, you can use `GET /api/v0/staged/pending_changes` to see a list of pending changes that did not complete.

For more information about the Review Pending Changes API endpoints, see the [Ops Manager API documentation](http://docs.pivotal.io/pivotalcf/2-3/opsman-api/).

### <a id="advanced-features"></a> Advanced Features for Ops Manager Guide

A new guide in the Ops Manager documentation explains the behavior of some advanced features for Ops Manager. These features are for experienced operators only.

For more information, see [Advanced Features for Ops Manager](https://docs.pivotal.io/pivotalcf/2-3/customizing/opsmanager-advanced-features.html).

<p class="note warning"><strong>WARNING:</strong> Ops Manager Advanced Features are for skilled operators only. Pivotal recommends contacting Support before attempting to use these features.</p>


## <a id='known-issues'></a> Known Issues

### <a id="tile-upload"></a> Intermittent Tile Upload Failure

<p class="note"><strong>Note</strong>: This issue appears in Ops Manager v2.3.2 and v2.3.3. It is resolved in Ops Manager 2.3.4.</p>

In some versions of Ops Manager v2.3, large tiles may fail to upload successfully. If you attempted to upload a large file via the `om` CLI, your upload may have failed due to Ops Manager's built-in timeout feature. 

This issue occurs due to a kernel regression introduced in Ops Manager v2.3.2 and will be remediated in a subsequent release. 

### <a id="pks-upgrade"></a>PKS Compatibility with v2.3.0 

If you have a PCF deployment with Ops Manager v2.2.x and PKS 1.2.x or earlier installed, you must upgrade to Ops Manager v2.3.1 or later. There is no compatible PKS version for Ops Manager v2.3.0. Also, ensure that you upgrade to PKS v1.2 before upgrading Ops Manager. For Ops Manager 2.2, PKS v1.2 is compatible with Ops Manager v2.2.2 and later.
