---
title: PCF Ops Manager v2.5 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a> How to Upgrade

The [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/2-5/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager v2.5.

## <a id="releases"></a>Releases

### <a id="alpha-4"></a> 2.5 Alpha 4

* **[New Feature]**: You can now pre-create a client for automating Ops Manager end-to-end. Optionally, specify a `precreated_client_secret` field in `POST /api/v0/setup`. Then, when operators attempt to get a client UAA token against Ops Manager using the the client name `precreated-client`, after providing the `precreated_client_secret`, they will get an access token to OpsManager with the scopes `opsman.admin` and `uaa.admin`. 
* **[New Feature]**: Ops Manager now supports keystone v3 for OpenStack deployments, including adding support for project names to the existing support for tenant names.
* **[New Feature]**: BOSH now uses postgres 10.x. To confirm what version of BOSH you're running, `ssh` onto the BOSH Director and run `/var/vcap/packages/postgres-10/bin/psql --user postgres -h 127.0.0.1`. 
* **[New Feature]**: You can now use the BOSH Backup and Restore (BBR) CLI from the Ops Manager VM. This means you no longer have to download or upgrade BBR when you upgrade the Ops Manager VM.
* **[UI Improvement]**: When an Ops Manager operator stages a tile for deletion, a warning appears if the tile has staged changes that will be lost when the tile is deleted.

Ops Manager v2.5 Alpha 4 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5-build.111*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>170.24*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.5.0</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.22*</td>
  </tr><tr>
    <td>CredHub</td><td>2.2*</td>
  </tr><tr>
    <td>Syslog</td><td>11.4</td>
  </tr><tr>
    <td>UAA</td><td>69*</td>
  </tr><tr>
    <td>AWS CPI</td><td>73</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.5</td>
  </tr><tr>
    <td>GCP CPI</td><td>29.0.0</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>41</td>
  </tr><tr>
    <td>vSphere CPI</td><td>52.0.0</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="alpha-3"></a> 2.5 Alpha 3

* **[New Feature]**: You can now create Availability Zones (AZs) with host groups for deployments on vSphere. Use the **Create Availability Zones** form to configure this feature. 
* **[New Feature]**: You can now use the API to set the `host_group` in a vSphere cluster. For more information, see [Creating availability zones](https://docs.pivotal.io/pivotalcf/2-5/opsman-api/#creating-availability-zones).
* **[New Feature]**: You can now use the API to GET the `host_group` in a vSphere cluster. For more information, see [Fetching availability zones](https://docs.pivotal.io/pivotalcf/2-5/opsman-api/#fetching-availability-zones).
* **[New Feature]**: Ops Manager now generates the vSphere CPI config using the designated `host_group` property if a host group is specified in the AZ. 
* **[New Feature]**: Setting an invalid vSphere host group via the API now returns a verifier warning.
* **[New Feature]**: Tile authors can now use the `impact_warning` key to add warning messages to specific errands. For more information, see [Installations](https://docs.pivotal.io/pivotalcf/2-5/opsman-api/#installations).
* **[New Feature]**: Tile authors can now use the `option_value` property in the Ops Manager API to set properties with machine-readable keys. For more information, see [Updating a selector property](https://docs.pivotal.io/pivotalcf/2-5/opsman-api/#updating-a-selector-property).
* **[Bug Fix]**: Ops Manager now reloads NGINX when the configuration is updated. Previously, Ops Manager would restart NGINX, which could cause temporary downtime. NGINX now serves traffic consistently when it is updating.
* **[Bug Fix]**: LDAP authentication is now more reliable.
* **[Bug Fix]**: You can no longer export via the API without having deployed anything.
* **[Bug Fix]**: The AWS verifier now fails gracefully, rather than crashing on failure.
* **[Bug Fix]**: Installation Change records now have a deployment status other than `null`.
* **[UI Improvement]**: In the Ops Manager API, some malformed properties now return more reader-friendly error messages.
* **[UI Improvement]**: The UI of the Review Pending Changes page is now more adherent to the Ops Manager style.
* **[UI Improvement]**: The UI of the Manifest Changes page is now more adherent to the Ops Manager style.

Ops Manager v2.5 Alpha 3 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5-build.96*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>170.21*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.5.0*</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2</td>
  </tr><tr>
    <td>Syslog</td><td>11.4</td>
  </tr><tr>
    <td>UAA</td><td>68*</td>
  </tr><tr>
    <td>AWS CPI</td><td>73</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.5</td>
  </tr><tr>
    <td>GCP CPI</td><td>29.0.0</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>41</td>
  </tr><tr>
    <td>vSphere CPI</td><td>52.0.0</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="alpha-2"></a> 2.5 Alpha 2

* **[Security Fix]**: Information about the NGINX web server no longer appears in server response headers.
* **[New Feature]**: You can view changes for individual tiles on the **Pending Changes** page. In the **Review Pending Changes** page, click **See Changes**. The **Pending Changes** page for a tile shows the most recent set of modifications you made to the manifest, runtime configs, CPI configs, and cloud config. 
* **[New Feature]**: Debug log forwarding and custom Syslog configuration are configurable via the API. Send a GET or a PUT with `forward_debug_logs` or `custom_rsyslog_configuration` to `api/v0/staged/director/properties`.
* **[New Feature]**: You can opt in to forwarding debug logs via the UI. In the **Syslog** form, choose the "Forward Debug Logs" checkbox.
* **[New Feature]**: Tile authors can access a catalog of available VM types via the `(($ops_manager.instance_types_catalog))` accessor.
* **[New Feature]**: You can provide custom rsyslog configurations in the **Syslog** form.
* **[New Feature]**: Tile authors can write and apply JS migrations to migrate data from their existing syslog configurations to Ops Manager's template syslog form. For more information, see [opsmanager_syslog](https://docs.pivotal.io/tiledev/2-4/property-template-references.html#syslog-flag) in the Tile Developer docs. 
* **[New Feature]**: You can use the BOSH drain to gracefully shut down the BOSH Director when it redeploys. This allows for a more complete cleanup of existing VMs during a redeploy. Use the **Skip Director Drain Lifecycle** checkbox in the **Settings** page to configure this feature, or send a PUT to `/api/v0/staged/director/properties` with `skip_director_drain` specified as either `true` or `false`.
* **[New Feature]**: Credentials return in some API calls. If you have sufficient permissions, sending a GET to `director/properties` or `director/iaas_configurations/guid` or `products/guid/properties` with the `redact=false` parameter will return all keys and values, including credentials.
* **[Feature Improvement]**: A selected option identifier appears in the `/api/v0/staged/products/:product_guid/properties` API endpoint. This identifier helps you see more detail about various selectors.
* **[Feature Improvement]**: Windows tile logs no longer contain multiple duplicate lines.
* **[UI Improvement]**: A notification banner appears in the Ops Manager UI when a certificate needs to be rotated or replaced.
* **[UI Improvement]**: When you are on the **Pending Changes** page and a tile is staged for installation or deletion, a message appears telling you changes to that tile are not available to view.
* **[UI Improvement]**: You can see the status of new, staged, or pre-deletion tiles on the "Review Pending Changes" page.
* **[UI Improvement]**: Notification messages appear when a tile staged for installation or deletion has no manifest or there is an error returning the manifest.
* **[Bug Fix]**: The "Applying Changes" banner appears consistently throughout the UI. 
* **[Bug Fix]**: The request body appears in the PUT section of the `/api/v0/settings/ssl_certificate` API docs.
* **[Unsupported Feature]**: The NATS username and password have been removed from the BOSH Director manifest. They no longer appear at an API endpoint or in the Credentials tab.
* **[Unsupported Feature]**: Ops Manager no longer allows legacy agents in stemcells. 

Ops Manager v2.5 Alpha 2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5-build.75*</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>170.16*</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.4.0*</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2</td>
  </tr><tr>
    <td>Syslog</td><td>11.4*</td>
  </tr><tr>
    <td>UAA</td><td>64</td>
  </tr><tr>
    <td>AWS CPI</td><td>73*</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.5</td>
  </tr><tr>
    <td>GCP CPI</td><td>29.0.0*</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>41*</td>
  </tr><tr>
    <td>vSphere CPI</td><td>52.0.0*</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="alpha-1"></a> 2.5 Alpha 1

Ops Manager v2.5 Alpha 1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.5-build.43</td>
  </tr>
  <tr>
    <td>Stemcell</td><td>170.12</td>
  </tr><tr>
    <td>BBR SDK</td><td>1.7.0</td>
  </tr><tr>
    <td>BOSH Director</td><td>268.3.0</td>
  </tr><tr>
    <td>BOSH DNS</td><td>1.10</td>
  </tr><tr>
    <td>Metrics Server</td><td>0.0.21</td>
  </tr><tr>
    <td>CredHub</td><td>2.0.2</td>
  </tr><tr>
    <td>Syslog</td><td>11.3</td>
  </tr><tr>
    <td>UAA</td><td>64</td>
  </tr><tr>
    <td>AWS CPI</td><td>72</td>
  </tr><tr>
    <td>Azure CPI</td><td>35.5</td>
  </tr><tr>
    <td>GCP CPI</td><td>27.0.1</td>
  </tr><tr>
    <td>OpenStack CPI</td><td>39</td>
  </tr><tr>
    <td>vSphere CPI</td><td>51.0.2</td>
  </tr>
  <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

## <a id='major-features'></a> New Features in Ops Manager v2.5

Ops Manager v2.5 includes the following major features:

### <a id="azure-azs"></a> Microsoft Azure Availability Zones Now Available in Ops Manager

Ops Manager operators and administrators can now configure Availability Zones (AZs). AZs provide high availability, minimal latency, and efficient resource management for deployments around the world. 

AZs are only available for new installations of Ops Manager. Existing installations that are being upgraded from v2.4 must use Availability Sets. 

For more information, see [Configuring BOSH Director on Azure](http://docs.pivotal.io/pivotalcf/2-5/om/azure/config-manual.html) and [Configuring BOSH Director on Azure Using Terraform](http://docs.pivotal.io/pivotalcf/2-5/om/azure/config-terraform.html).

## <a id='known-issues'></a> Known Issues

* Known issues to come as features and dependencies are implemented in v2.5 release candidates.

