---
title: Pivotal Application Service v2.1 Release Notes
owner: Release Engineering
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

### <a id='2.1.7'></a> 2.1.7

* **[Security Fix]** Bump diego to version `1.35.5`
  * [CVE-2018-1265](https://www.cloudfoundry.org/blog/cve-2018-1265/)
* **[Security Fix]** Bump pivotal-account to version `1.8.5`
  * [CVE-142112](https://nodesecurity.io/advisories/130)
  * [CVE-130424](https://www.kb.cert.org/vuls/id/576313)
* **[Bug fix]** bump nfs-volume-release to version `1.2.1`
  * Fix incompatibility with new garden-runc release when using read-only NFS volume mounts
* **[Bug Fix]** Bump garden to version `1.13.3`
  * Fix issue with deleted files in application containers created from docker images
* **[Feature Improvement]** Bump credhub to version `1.7.5`
  * Increases the max length of cert subject alternate names (SANs) from 64 to 253
* **[Feature Improvement]** Bump notifications-ui to version `33`
  * Add cookie setting to notifications-ui for GDPR compliance
* **[Feature Improvement]** CF Networking database connection timeouts are now configurable
* **[Feature Improvement]** Max connections for the Internal MySQL Database are now configurable
* Bump cflinuxfs2 to version `1.219.0`
* Bump consul to version `193` to use go `1.9`
* Bump dotnet-core-offline-buildpack to version `2.0.7`
* Bump go-offline-buildpack to version `1.8.23`
* Bump java-offline-buildpack to version `4.12.1`
* Bump nodejs-offline-buildpack to version `1.6.25`
* Bump php-offline-buildpack to version `4.3.56`
* Bump python-offline-buildpack to version `1.6.17`
* Bump ruby-offline-buildpack to version `1.7.19`
* Bump staticfile-offline-buildpack to version `1.4.28`
* Bump stemcell to version `3541.30`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3541.30</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.5.3</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.18</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.1</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.49.6\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>118.4</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.10</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.11.0</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.2\*</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>39</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>5.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.219.0</td>
  </tr><tr>
    <td>consul</td><td>193</td>
  </tr><tr>
    <td>credhub</td><td>1.7.5</td>
  </tr><tr>
    <td>diego</td><td>1.35.5</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.0.7</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.23</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.12.1</td>
  </tr><tr>
    <td>loggregator</td><td>101.11\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.38.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.18.0</td>
  </tr><tr>
    <td>nats</td><td>24</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.1</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.25</td>
  </tr><tr>
    <td>notifications</td><td>44</td>
  </tr><tr>
    <td>notifications-ui</td><td>33</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.56</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.8.5</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>664.0.11</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.1</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.17</td>
  </tr><tr>
    <td>routing</td><td>0.174.1</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.19</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.28</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.1.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.1</td>
  </tr><tr>
    <td>uaa</td><td>55</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.6'></a> 2.1.6

* Update grootfs checkbox to indicate the recreating VMs is recommended
* **[Security Fix]** Bump cflinuxfs2 to version `1.210.0`:
  * [USN-3643-1](https://usn.ubuntu.com/3643-1/)
* **[Security Fix]** Bump loggregator to version `101.11`
  * Add strict application ID validation to TrafficController (CVE-2018-1268 CVE-2018-1269)
  * Stricter appID validation in TrafficController
  * Change RLP health endpoint to default to random port.
  * Metron health endpoint only listens on localhost
  * Bump go to 1.9.4
  * Fix doppler emitting multiple ingress metrics.
* Bump capi to version `1.49.6`
  * Updated azure fog gems to improve reliability when using an azure blobstore
* Bump cf-networking to version `1.10.2`
* Bump nats to version `24`
  * Bump go to 1.10.1
* Bump push-apps-manager-release to version `664.0.11`
  * When mapping existing routes, show the path
  * Fixed transitioning from json editor to key value pair when given an empty string
  * Usage report page takes into account renamed spaces
  * Only show jobs for the app on the app page task tab
  * When detecting whether a service instance for the Scheduler service exists, take the current space into account
  * Fix bug that causes app to crash on app page settings tab
* Bump java-offline-buildpack to version `4.12`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3541.25</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.5.3</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.18</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.1</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.49.6\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>118.4</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.10</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.11.0</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.2\*</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>39</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>5.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.210.0</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>credhub</td><td>1.7.3</td>
  </tr><tr>
    <td>diego</td><td>1.35.4</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.0.6</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.1</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.21</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.12.0</td>
  </tr><tr>
    <td>loggregator</td><td>101.11\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.38.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.18.0</td>
  </tr><tr>
    <td>nats</td><td>24</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.0</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.23</td>
  </tr><tr>
    <td>notifications</td><td>44</td>
  </tr><tr>
    <td>notifications-ui</td><td>31</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.54</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.8.3</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>664.0.11</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.1</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.15</td>
  </tr><tr>
    <td>routing</td><td>0.174.1</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.18</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.27</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.1.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.1</td>
  </tr><tr>
    <td>uaa</td><td>55</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>


### <a id='2.1.5'></a> 2.1.5

* **[Security Fix]** Bump stemcell to v3541.25:
  * [USN-3641](https://usn.ubuntu.com/3641-1/)
  * [USN-3631-2](https://usn.ubuntu.com/3631-2/)
  * [USN-3628-1](https://usn.ubuntu.com/3628-1/)
  * [USN-3625-1](https://usn.ubuntu.com/3625-1/)
  * [USN-3624-1](https://usn.ubuntu.com/3624-1/)
* **[Security Fix]** Bump cflinuxfs2-release to v1.201.0:
  * [USN-3628-1](https://usn.ubuntu.com/3628-1/)
  * [USN-3625-1](https://usn.ubuntu.com/3625-1/)
  * [USN-3624-1](https://usn.ubuntu.com/3624-1/)
  * [USN-3622-1](https://usn.ubuntu.com/3622-1/)
* **[Feature Improvement]** Bump routing-release to v0.174.1 to enable operator to disable logging of client IPs, in compliance with the EU General Data Protection Regulation (GDPR).
* **[Feature Improvement]** Bump apps-manager-release to v664.0.10:
  * When binding a service instance, notify the user to restage their app from the CLI.
  * When logged-in user can see no apps, show "No results" instead of "Loading..." in the app search.
* **[Feature Improvement]** Bump autoscaling-release to v118.4 to add ability to view Autoscaler logs in app logs when LOG_VERBOSE is true.
* Increase UAA session cookie max age to 8 hours.
* Bump mysql-monitoring-release to v8.18.0.
* Bumps the following buildpacks:
  * Nodejs-offline-buildpack to v1.6.23.
  * Php-offline-buildpack to v4.3.54.
  * Python-offline-buildpack to v1.6.15.
  * Ruby-offline-buildpack to v1.7.18.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3541.25</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.5.3</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.18</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.1</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.49.5\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>118.4</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.10</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.11.0</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.1\*</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>39</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>5.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.201.0</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>credhub</td><td>1.7.3</td>
  </tr><tr>
    <td>diego</td><td>1.35.4</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.0.6</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.1</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.21</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.10.0</td>
  </tr><tr>
    <td>loggregator</td><td>101.5\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.38.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.18.0</td>
  </tr><tr>
    <td>nats</td><td>22</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.0</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.23</td>
  </tr><tr>
    <td>notifications</td><td>44</td>
  </tr><tr>
    <td>notifications-ui</td><td>31</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.54</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.8.3</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>664.0.10</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.1</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.15</td>
  </tr><tr>
    <td>routing</td><td>0.174.1</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.18</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.27</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.1.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.1</td>
  </tr><tr>
    <td>uaa</td><td>55</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>


### <a id='2.1.4'></a> 2.1.4

* **[Security Fix]** Bumps garden-release to v1.13.1 for [CVE-2018-1277](https://www.cloudfoundry.org/blog/cve-2018-1277/).
* **[Bug Fix]** Resolves an issue where BBR could not support any individual blob that was greater than 5GB in size when configuring external S3 versioned blobstores.
* **[Bug Fix]** Bumps backup-and-restore-sdk to v1.5.3 to ensure that external blob stores with custom CA certs can be backed up and restored.
* **[Bug Fix]** Bumps credhub-release to v1.7.3 to resolve an issue where the CredHub job could not be backed up with BBR when colocated with backup-and-restore-sdk-release's `database-backup-restorer` job from v1.5.3.
* **[Bug Fix]** Bumps autoscaling-release to v118.3 to use CF CLI v6.36.1.
* **[Bug Fix]** Bumps capi-release to v1.49.5 to prevent duplicate app usage events.
* **[Bug Fix]** Updated console agent `node_name` to include BOSH id, to prevent two Diego cell instance groups with the same instance group name and index in different deployments from colliding.
* **[Feature Improvement]** Bumps diego-release to v1.35.4 to add cell and instance identifiers in the container lifecycle logs.
* **[Feature Improvement]** Bumps apps-manager-release to v664.0.9:
  * Introduce custom memory limit setting for Apps Manager and invitation apps.
  * Show full page error when critical env vars are not set.
  * App last push time now reflects time of most recent ready package.
  * Introduce flag to hide app search bar.
  * App search bar queries apps only when focused.
  * Tell user to re-stage app after binding a service.
  * Fix invite member email input.
* Bumps the following buildpacks:
  * Binary-offine-buildpack to v1.0.18.
  * Dotnet-core-offline-buildpack to v2.0.6.
  * Go-offline-buildpack to v1.8.21.
  * Java-offline-buildpack to v4.10.0.
  * Nodejs-offline-buildpack to v1.6.22.
  * Php-offline-buildpack to v4.3.53.
  * Python-offline-buildpack to v1.6.14.
  * Ruby-offline-buildpack to v1.7.16.
  * Staticfile-offline-buildpack to v1.4.27.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3541.12</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.5.3</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.18</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.1</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.49.5\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>118.3</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.10</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.11.0</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.1\*</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>39</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>5.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.196.0</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>credhub</td><td>1.7.3</td>
  </tr><tr>
    <td>diego</td><td>1.35.4</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.0.6</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.1</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.21</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.10.0</td>
  </tr><tr>
    <td>loggregator</td><td>101.5\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.38.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.16.0</td>
  </tr><tr>
    <td>nats</td><td>22</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.0</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.22</td>
  </tr><tr>
    <td>notifications</td><td>44</td>
  </tr><tr>
    <td>notifications-ui</td><td>31</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.53</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.8.3</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>664.0.9</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.1</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.14</td>
  </tr><tr>
    <td>routing</td><td>0.174.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.16</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.27</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.1.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.1</td>
  </tr><tr>
    <td>uaa</td><td>55</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>


### <a id='2.1.3'></a> 2.1.3

* **[Security Fix]** Bumps cflinuxfs2 to v1.196.0:
  * [USN-3611-1](https://usn.ubuntu.com/3611-1/)
  * [USN-3610-1](https://usn.ubuntu.com/3610-1/)
* **[Security Fix]** Bumps stemcell to v3541.12:
  * [USN-3619-2](https://usn.ubuntu.com/3619-2/)
  * [USN-3611-1](https://usn.ubuntu.com/3611-1/)
  * [USN-3610-1](https://usn.ubuntu.com/3610-1/)
  * [USN-3598-1](https://usn.ubuntu.com/3598-1/)
  * [USN-3586-1](https://usn.ubuntu.com/3586-1/)
  * [USN-3584-1](https://usn.ubuntu.com/3584-1/)
* **[Bug Fix]** Bumps push-apps-manager-release to v664.0.5:
  * Updates the CF CLI.
  * Increases memory per instance from 64 MB to 128 MB.
* **[Bug Fix]** Bumps syslog-migration-release to v11.1.1:
  * Prevent logs from blackbox from being written to the default syslog log files to prevent logs from being written to the disk 3 additional times.
  * Fix rfc5424 compatibility by ensuring only 1 space occurs between the message and the structured data.
* **[Bug Fix]** Fixes a bug that caused the Cloud Controller sync job to fail when pushing an app with TCP routing enabled, which causes Diego to not know if its desired state is consistent with Cloud Controller.
* **[Feature Improvement]** Bumps capi-release to v1.49.4 to improve database connection validation.
* **[Feature Improvement]** Bumps diego-release to v1.35.3 to remove file limits for Envoy.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3541.12</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.4.2</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.15</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.1</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.49.4\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>118.2</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.10</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.11.0</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.1\*</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>39</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>5.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.196.0</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>credhub</td><td>1.7.1</td>
  </tr><tr>
    <td>diego</td><td>1.35.3</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.0.1</td>
  </tr><tr>
    <td>garden-runc</td><td>1.11.1</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.16</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.8</td>
  </tr><tr>
    <td>loggregator</td><td>101.5\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.38.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.16.0</td>
  </tr><tr>
    <td>nats</td><td>22</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.0</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.15</td>
  </tr><tr>
    <td>notifications</td><td>44</td>
  </tr><tr>
    <td>notifications-ui</td><td>31</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.48</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.8.3</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>664.0.5</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.1</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.7</td>
  </tr><tr>
    <td>routing</td><td>0.174.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.11</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.21</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.1.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.1</td>
  </tr><tr>
    <td>uaa</td><td>55</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.2'></a> 2.1.2

* **[Bug Fix]** Bumps capi-release to v1.49.3 to prevent app upload from failing when the app has broken symlinks.
* **[Bug Fix]** Bumps apps-manager-release to v664.0.4 to fix endpoint headers.
* **[Bug Fix]** Updates Small Footprint PAS to add `uaa` tag to UAA route registrar so router metrics can be filtered for the UAA component.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3541.9</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.4.2</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.15</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.1</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.49.3\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>118.2</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.10</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.11.0</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.1\*</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>39</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>5.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.188.0</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>credhub</td><td>1.7.1</td>
  </tr><tr>
    <td>diego</td><td>1.35.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.0.1</td>
  </tr><tr>
    <td>garden-runc</td><td>1.11.1</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.16</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.8</td>
  </tr><tr>
    <td>loggregator</td><td>101.5\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.38.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.16.0</td>
  </tr><tr>
    <td>nats</td><td>22</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.0</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.15</td>
  </tr><tr>
    <td>notifications</td><td>44</td>
  </tr><tr>
    <td>notifications-ui</td><td>31</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.48</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.8.3</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>664.0.4</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.1</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.7</td>
  </tr><tr>
    <td>routing</td><td>0.174.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.11</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.21</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.1.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.0</td>
  </tr><tr>
    <td>uaa</td><td>55</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>


### <a id='2.1.1'></a> 2.1.1

* **[Maintenance]** Bumps stemcell to version 3451.9.
* **[Bug Fix]** Bumps cf-networking-release to version 1.10.1:
  * Fixes issue where deploy would fail when configured to use the NSX-T CNI plugin.
* **[Bug Fix]** Bumps routing-release to version 0.174.0:
  * Router gracefully falls back to non-TLS-enabled backends when encountering a
    retriable error with a TLS-enabled backend.
* **[Bug Fix]** Bumps apps-manager-release to v664.0.3:
  * Fixes a bug when running a task that forced users to change the memory and disk before the task could be run.
  * Fixes a bug that caused Apps Manager to send invalid parameters to services instances when binding to apps.
  * Introduces React error boundaries on app tabs to prevent full-page crashes.
  * Fixes a bug that prevented Apps Manager from showing traces for Spring Boot apps using Spring Boot 2.0+.
  * Fixes a bug that caused a full page crash when deleting an org.
  * [IE] fixed visual bugs in the marketplace search and in the org usage repot header.
  * [IE] Fixes alignment of the app search bar in the header.
  * Checks if the user has permission to view autoscale bindings before making the request, which prevents the app page from having an error when refreshing.
  * Fixes a bug that prevented mid-level fetch tasks from being cleared when switching routes and on the 30 second refresh.
  * Fixes a bug that caused marketplace service plans to show "No price available".
  * Fixes a bug preventing the binding of UPS instances to apps.
  * Fixes a bug preventing the submission of UPS instance updates when changing only URLs and not credential parameters.
  * Reintroduces cache busting for js/css files.
  * Fixes a bug that would cause apps manager to fail to load when environment variables contained newlines.
* **[Bug Fix]** Bumps autoscaling-release to v118.2:
  * Fixes issue where brief periods of cloud controller downtime could cause autoscaler to become disabled.
* **[Security Fix]** Bumps mysql-release to v36.11.0:
  * Allows rotation of passwords for pre-seeded users.
  * Updates MariaDB to 10.1.30 and other dependencies for security fixes.
* **[Feature Improvement]** Bumps mysql-monitoring-release to v8.16.0:
  * Improvements for CPU utilization monitoring, query reporting and `mysql-diag`.
  * [Full release notes](https://docs.pivotal.io/p-mysql/1-10/mysql-components-release-notes.html#monitoring-8.16.0)
* **[Feature Improvement]** Adds UAA client for the [Noisy Neighbor Nozzle](https://github.com/cloudfoundry/noisy-neighbor-nozzle).
* **[Security Fix]** Bumps capi-release to v1.49.2:
  * [CVE-2018-1266](https://www.cloudfoundry.org/blog/cve-2018-1266): Fix random number guessing exploit.
  * Internal routes for apps are no longer automatically generated.
* **[Bug Fix]** Updates identity client to fix issue where it would be unable to send invitation emails.
* **[Feature Improvement]** Adds `uaa` tag to UAA route registrar so router metrics can be filtered for the UAA component.
  * Note: This improvement was made to PAS only. The same change will be made to SF-PAS in the next patch release.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3541.9</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.4.2</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.15</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.1</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.49.2\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>118.2</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.10</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.11.0</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.1\*</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>39</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>5.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.188.0</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>credhub</td><td>1.7.1</td>
  </tr><tr>
    <td>diego</td><td>1.35.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.0.1</td>
  </tr><tr>
    <td>garden-runc</td><td>1.11.1</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.16</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.8</td>
  </tr><tr>
    <td>loggregator</td><td>101.5\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.38.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.16.0</td>
  </tr><tr>
    <td>nats</td><td>22</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.0</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.15</td>
  </tr><tr>
    <td>notifications</td><td>44</td>
  </tr><tr>
    <td>notifications-ui</td><td>31</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.48</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.8.3</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>664.0.3</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.1</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.7</td>
  </tr><tr>
    <td>routing</td><td>0.174.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.11</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.21</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.1.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.0</td>
  </tr><tr>
    <td>uaa</td><td>55</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.0'></a> 2.1.0

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3541.8</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.4.2</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.15</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.1</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.49.0\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>118</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.10</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.10.0</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>39</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>5.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.188.0</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>credhub</td><td>1.7.1</td>
  </tr><tr>
    <td>diego</td><td>1.35.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.0.1</td>
  </tr><tr>
    <td>garden-runc</td><td>1.11.1</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.16</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.8</td>
  </tr><tr>
    <td>loggregator</td><td>101.5\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.38.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.15.0</td>
  </tr><tr>
    <td>nats</td><td>22</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.0</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.15</td>
  </tr><tr>
    <td>notifications</td><td>44</td>
  </tr><tr>
    <td>notifications-ui</td><td>31</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.48</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.8.3</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>664.0.0</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.1</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.7</td>
  </tr><tr>
    <td>routing</td><td>0.172.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.11</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.21</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.1.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.0</td>
  </tr><tr>
    <td>uaa</td><td>55</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>


## <a id='upgrade'></a> How to Upgrade

The procedure for upgrading to Pivotal Application Service (PAS) v2.1 is documented in the [Upgrading Pivotal Cloud Foundry](https://docs.pivotal.io/pivotalcf/2-1/customizing/upgrading-pcf.html) topic.

When upgrading to v2.1, be aware of the following upgrade considerations:

* If you previously used an earlier version of PAS, you must first upgrade to PAS v2.0 to successfully upgrade to PAS v2.1.

* Some partner service tiles may be incompatible with PCF v2.1. Pivotal is working with partners to ensure their tiles are updated to work with the latest versions of PCF.<br/><br/> For information about which partner service releases are currently compatible with PCF v2.1, review the appropriate partners services release documentation at [https://docs.pivotal.io](https://docs.pivotal.io), or contact the partner organization that produces the tile.


## <a id='new-features'></a> New Features in PAS v2.1

### <a id='blobstore-encryption'></a> Support for S3 Server-Side Encryption with AWS KMS

Operators can now configure PAS to use server-side encryption with AWS Key Management Service (KMS) for S3 blobstores. This is an optional configuration in the **File Storage** configuration pane in PAS. For more information, see [Deploying PAS on AWS](https://docs.pivotal.io/pivotalcf/2-1/customizing/pcf-aws-manual-er-config.html#file-store-config).

### <a id='blobstore-backup'></a> BBR Backs Up External S3 Versioned Blobstores

BBR can back up external blobstores that are S3-compatible and have versioning enabled. The backup artifact is a list of version IDs, rather than a copy of the blobs, so replication of the blobstore is recommended. 

### <a id='external-databases'></a> BBR Supports External Databases

PAS backups can be stored using external MySQL databases. Previously, backups had to be stored using the internal MySQL databases. Now, you can host PAS backups with an external MySQL service. For a complete list of supported databases, see _Supported External Databases_ in the [Configuring Cloud Foundry for BOSH Backup and Restore (Experimental)](https://docs.cloudfoundry.org/bbr/cf-backup.html#supported-external-databases) topic. For more information on backing up backend PCF components with BBR, see the [Backing Up Pivotal Cloud Foundry with BBR](https://docs.pivotal.io/pivotalcf/customizing/backup-restore/backup-pcf-bbr.html) topic.

### <a id='cc-blobstore'></a> Cloud Controller Blobstore on GCS Supports Service Accounts

PAS v2.1 supports the use of service accounts with GCS for Cloud Controller blob storage and backup. For more information, see [Fog with Google Cloud Storage with a Service Account](https://docs.cloudfoundry.org/deploying/common/cc-blobstore-config.html#fog-gcs-service-account).

### <a id='route-consistency'></a> Increased Resiliency, Consistency, and Security for HTTP Routing

You can now configure the Gorouter to use TLS for verifying app identity and communicating with app containers.
This improves resiliency and consistency for app routes as well as increases security by encrypting data in flight from the Gorouter to back ends.

TLS routing requires an additional 32&nbsp;MB of RAM capacity on your Diego cells per app instance, as well as additional CPU capacity. Pivotal recommends you adjust your RAM and CPU capacity before upgrading PCF if you want to enable TLS routing to back ends. Check the total amount of Diego cell memory available to allocate in your environment, and if it is less than 32&nbsp;MB times the number of running app instances, scale out your Diego cells.

You may see an increase of memory and CPU usage for your Gorouters after enabling TLS routing. Check the total amount of memory and CPU usage of the Gorouters in your environment, and if they are close to the size limit, consider scaling out your Gorouters before enabling TLS routing.

For information about enabling this feature, see the [PAS installation topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-1/customizing/pas.html).

For information about TLS support and Gorouter route consistency modes, see [TLS to Apps and Other Back End Services](https://docs.pivotal.io/pivotalcf/2-1/concepts/http-routing.html#tls-to-back-end) and [Preventing Misrouting](https://docs.pivotal.io/pivotalcf/2-1/concepts/http-routing.html#consistency) in the _HTTP Routing_ topic.

### <a id='keepalive-connections'></a> Gorouter Keepalive Connections to Back Ends Enabled by Default

In PAS v2.1, the **Router Max Idle Keepalive Connections** field in the **Networking** pane of the PAS tile has been replaced by the **Enable Keepalive Connections for Router** checkbox. For more information about configuring keepalive connections, see the [Deploying PAS topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-1/customizing/pas.html).

To improve routing performance, the checkbox is enabled by default. When keepalive connections are enabled, the Gorouter maintains established TCP connections to back ends.
The maximum number of idle keepalive connections maintained by the Gorouter to all back ends is set to 49,000.
For more information, see [Keepalive Connections](https://docs.pivotal.io/pivotalcf/2-1/concepts/http-routing.html#keepalive).

### <a id='hsts-haproxy'></a> HSTS Support for HAProxy

You can now enable HTTP Strict Transport Security (HSTS) for HAProxy. HSTS headers force browsers to use HTTPS exclusively to contact HAProxy for a period of time you specify. 

For more information, see [Secure Apps Domain with HAProxy](http://docs.pivotal.io/pivotalcf/2-1/opsguide/securing-endpoints.html#load-balancer).

### <a id='cipher-defaults'></a> Pre-Populated TLS Cipher Defaults for Gorouter and HAProxy

For new installations of PAS v2.1, the **TLS Cipher Suites for Router** and **TLS Cipher Suites for HAProxy**
fields in the **Networking** pane are automatically populated with the following values:

* Defaults for Gorouter: `ECDHE-RSA-AES128-GCM-SHA256:TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384`
* Defaults for HAProxy: `DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384`

<p class='note'><strong>Note:</strong> If you are using AWS Classic Load Balancers, see <a href="http://docs.pivotal.io/pivotalcf/2-1/adminguide/securing-traffic.html#default">TLS Cipher Suite Support by AWS Load Balancers</a> for information about configuring your AWS load balancers and Gorouter.</p>

For upgrades, PAS populates the **TLS Cipher Suites for Router** and **TLS Cipher Suites for HAProxy** fields with the values specified in your previous version of the PAS tile.
For information about configuring these fields, see the [PAS installation topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-1/customizing/pas.html).

### <a id='enable-proxy-support'></a> Enable PROXY Protocol Support in CF Router

In the PAS networking pane, you can now enable support for PROXY protocol in CF Router. This checkbox is disabled by default. For more information, see the [PAS installation topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-1/customizing/pas.html).

### <a id='named-service-bindings'></a> Named Service Bindings

You now have the option of giving your service binding a name when you create it. For more information, see [Named Service Bindings](https://docs.pivotal.io/pivotalcf/2-1/devguide/services/application-binding.html#service-binding-names) in the _Delivering Service Credentials to an Application_ topic.

### <a id='runtime-credhub-hsm'></a> Runtime CredHub Can Use HSMs

You can configure Hardware Security Modules (HSMs) for runtime CredHub through Ops Manager. An HSM provides an additional layer of security by storing keys separately from the CredHub server.

For more information about configuring HSMs for runtime CredHub, see the [PAS installation topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-1/customizing/pas.html).

### <a id='healthchecks'></a> Improved System Performance for App Health Checks

This release changes how PAS runs app health checks to improve system performance in resource-constrained environments, such as on-premise installations of PAS. This change does not impact the developer workflow for [configuring app health checks](https://docs.pivotal.io/pivotalcf/2-1/devguide/deploy-apps/healthchecks.html).

Previously, health checks during app startup increased system load because they ran as a Garden process every two seconds. In addition, apps that started successfully could fail if slow system performance caused the app health check to time out. In some severe cases, such app failures caused additional resource consumption and a chain-reaction of app failures.

PAS v2.1 resolves these issues through a new implementation that does not invoke a new process on every health check. The health check now runs as a long-lived process in the app container. Developers may see these processes if they access an app container using the `cf ssh` command and list the processes.

### <a id='saml-uaa'></a> Custom SAML Entity ID for Tiles

To enable tiles to set a custom SAML entity ID, independent of whether PAS itself uses an external SAML identity provider, the **Entity ID Override** field in the **Authentication and Enterprise SSO** pane of the PAS tile has been moved to the **UAA** pane and renamed to **SAML Entity ID Override**.

### <a id='multi-user-error'></a> cf CLI Errors on Multi-Origin User Ambiguity

If multiple CF user accounts from different origins share a username, the commands that manage Space and Org user roles return an error instead of operating on the first account returned. See [Identical Usernames in Multiple Origins](https://docs.pivotal.io/2-1/cf-cli/getting-started.html#multi-origin) for details.

### <a id='json'></a> Apps Manager Introduces the Enter JSON Toggle

You can now use JSON for key-value entries in the Apps Manager UI.
For information about managing apps and service instances in Apps Manager, see [Managing Apps and Service Instances Using Apps Manager](https://docs.pivotal.io/pivotalcf/2-1/console/manage-apps.html).

### <a id='view-processes'></a> View and Scale Processes in Apps Manager

To support changes in CAPI v3, Apps Manager now displays the individual processes within apps and allows the user to scale each process independently. You can find this display in the **Processes and Instances** section of your app dashboard in the **Overview** pane.

For more information on scaling each process, see [Scale an App](http://docs.pivotal.io/pivotalcf/2-1/console/manage-apps.html#scale) in the *Managing Apps and Service Instances Using Apps Manager* topic.

### <a id='autoscaler-metrics'></a> App Autoscaler Metrics

The App Autoscaler can use two new metrics for automatically scaling app instance counts:

* **Memory Utilization**: The average RAM percentage used for all instances of the app.
* **RabbitMQ Depth**: The length of a specified RabbitMQ queue.

See [Scaling Rules](https://docs.pivotal.io/pivotalcf/2-1/appsman-services/autoscaler/using-autoscaler.html#metric) for additional context.

### <a id='autoscaler-cli'></a> App Autoscaler CLI

The App Autoscaler CLI lets you create and manage App Autoscaler rules from a shell or programmatically, as an alternative to the **PCF App Autoscaler** UI in Apps Manager. See [Using the App Autoscaler CLI](https://docs.pivotal.io/pivotalcf/2-1/appsman-services/autoscaler/using-autoscaler-cli.html) for details.

The App Autoscaler CLI has the following [known issues](https://docs.pivotal.io/pivotalcf/2-1/appsman-services/autoscaler/using-autoscaler-cli.html#issues):

* It does not work when more than one Autoscaler instance is running in the same space.
* It cannot enable and disable individual scaling rules, unlike the App Autoscaler pane in Apps Manager or the App Autoscaler API.
* It cannot create scheduled limit changes, unlike the App Autoscaler pane in Apps Manager or the App Autoscaler API.
* It may output odd characters when the `CF_COLOR` environment variable is not set to `false` in monochrome shell windows.

### <a id='droplets'></a> Stage a Droplet on a Stopped App

You can now push an app with `--no-start` to automatically stage a droplet for when you start the app through Apps Manager. Previous to this change, Apps Manager produces an error if you push an app with `--no-start` and then start the app with Apps Manager.

### <a id='container-metrics'></a> Container Metrics Included in Syslog Drains

Container metrics can now be delivered in `create-user-provided-service` (CUPS) syslog drain bindings. To configure the **Include container metrics in Syslog Drains** checkbox, navigate to the **System Logging** pane of the PAS tile. For more information, see [CF Syslog Drain Release](https://github.com/cloudfoundry/cf-syslog-drain-release/blob/develop/README.md#drain-types-experimental).

### <a id='groot-enabled-default'></a> GrootFS Is Merged with Garden and Enabled by Default

GrootFS, the Garden file system manager, has merged with the Garden codebase. For more information about GrootFS, see [Garden RootFS (GrootFS)](https://docs.pivotal.io/pivotalcf/2-1/concepts/architecture/garden.html#garden-rootfs).

By default, the GrootFS container image plugin is enabled, but if you experience performance issues, you can roll back to the image plugin built into Garden RunC. To disable the GrootFS container image plugin, navigate to the **Application Containers** pane and deselect the **Enable the GrootFS container image plugin for Garden RunC** checkbox.

### <a id='noisy-neighbor-nozzle'></a> Noisy Neighbor Nozzle

The Noisy Neighbor Nozzle is a Loggregator Firehose nozzle and CLI tool to help you identify apps producing a large number of logs.

For more information, see [Noisy Neighbor Nozzle](https://github.com/cloudfoundry/noisy-neighbor-nozzle).

### <a id='selector-based'></a> Selector-Based Subscripton Model and Reference Nozzle

You can request Firehose subscriptions that filter out all unspecified content using the Loggregator v2 API endpoint from the Reverse Log Proxy. In addition, the reference nozzle uses the Loggregator V2 API and consumes only specified whitelisted metrics.

### <a id='shared-instances'></a> Service Instance Sharing (Beta)

PAS v2.1 supports service instance sharing across orgs and spaces. For more information, see [Sharing Service Instances (Beta)](https://docs.pivotal.io/pivotalcf/2-1/devguide/services/sharing-instances.html) and [Enabling Service Instance Sharing](https://docs.pivotal.io/pivotalcf/2-1/services/enable-sharing.html).


## <a id='adv-features'></a> About Advanced Features

### <a id='c2c-discovery'></a> Container-to-Container Service Discovery

Apps can find each others' internal addresses using BOSH DNS, to communicate directly [container-to-container](https://docs.pivotal.io/pivotalcf/devguide/deploy-apps/cf-networking.html#discovery). Enable this feature in the PAS tile by selecting the **Enable Service Discovery for Apps** checkbox in the **Application Developer Controls** pane.

##<a id='retired'></a> Retired Features

### <a id='automated-backup'></a> Removal of Automated Backup Configuration for Internal MySQL

Starting in PCF v2.1, the PAS tile no longer includes the **Automated Backups Configuration** field. This option has been removed because it is not possible to restore the internal MySQL database from a full backup without degrading the Galera MySQL cluster. 

To back up and restore the internal MySQL database, you must use BOSH Backup and Restore (BBR). See [Backing Up and Restoring Pivotal Cloud Foundry](https://docs.pivotal.io/pivotalcf/2-1/customizing/backup-restore/index.html) for information on using BBR. 

BBR provides the following advantages over the **Automated Backup Configuration**: 

* BBR locks the necessary APIs as part of the backup procedure. This release-level backup ensures correctness. See [PAS Component Behavior During Backup](https://docs.pivotal.io/pivotalcf/2-1/customizing/backup-restore/component-backups.html). 
* BBR backs up the MySQL cluster and the blobstore together so that they are consistent.  
* BBR eliminates the need to manually remove the silk database table after restore. 


##<a id='known-issues'></a> Known Issues

###<a id='gcs-timeouts'></a> Intermittent cf push Timeouts with Google Cloud Storage with Service Account

PAS on Google Cloud Platform can use Google Cloud Storage (GCS) authenticated with Google Service Account as its filestore. You configure this in the PAS tile > **File Storage** pane.

With this external filestore configuration, GCS with Google Service Account, PAS v2.1 intermittently experiences timeouts when you `cf push` apps. The failures may occur more frequently when you push large apps that require storing or retrieving larger files.

###<a id='nsx-t1'></a> NSX-T Container Plugin Fails to Install with PAS

The VMware NSX-T Container Plug-in tile v2.1.0.x and v2.1.2 fail to install with PAS v2.1. The output of the error may be as follows:

```
oslo_config.cfg.ConfigFilesPermissionDeniedError: Failed to open some config files: /etc/nsx-ujo/ncp.ini

Traceback (most recent call last):

  File "/usr/local/bin/ncp", line 10, in <module>

    sys.exit(main())

  File "/usr/local/lib/python2.7/dist-packages/nsx_ujo/cmd/ncp.py", line 11, in main

    nsx_log_adaptor.init_log('nsx-container-ncp', 'ncp')

  File "/usr/local/lib/python2.7/dist-packages/nsx_ujo/common/nsx_log_adaptor.py", line 134, in init_log

    cfg.CONF(args=sys.argv[1:], default_config_files=[constants.NCP_INI_PATH])

  File "/usr/local/lib/python2.7/dist-packages/oslo_config/cfg.py", line 2493, in __call__

    self._namespace._files_permission_denied)

oslo_config.cfg.ConfigFilesPermissionDeniedError: Failed to open some config files: /etc/nsx-ujo/ncp.ini
```

Until a fix is available in a patch release of VMware NSX-T Container Plug-in for PCF v2.1, Pivotal recommends that you use PAS v2.0 if NSX-T CNI integration is a requirement.

### <a id='nsx-t2'></a> PAS Install Fails When NSX-T Container Plug-In is Selected

PAS v2.1.0 fails to install when configured to use the NSX-T plugin. The output of the error is as follows:

```
Task 47 | 14:12:38 | Preparing deployment: Preparing deployment (00:00:01)
                   L Error: Colocated job 'cni' is already added to the instance group 'diego_cell'.
Task 47 | 14:12:39 | Error: Colocated job 'cni' is already added to the instance group 'diego_cell'.
```

PAS v2.1.1 fixes this issue and is available on [Pivotal Network](https://network.pivotal.io/products/elastic-runtime), but NSX-T Container Plugin v2.1.0 does not install with PAS v2.1.1, [as described above](#nsx-1). Until a fix is available in a patch release of VMware NSX-T Container Plug-in for PCF v2.1, Pivotal recommends that you use PAS v2.0 if NSX-T CNI integration is a requirement.

### <a id='saml'></a> SAML Identity Provider Must Be Manually Disabled

If you want to switch from SAML to another identity provider such as LDAP or an internal user store, you must manually disable your SAML identity provider using the UAA API. For more information about disabling your SAML identity provider, see the [Disabling SAML Identity Provider When Switching Identity Providers for PCF 2.1](https://discuss.pivotal.io/hc/en-us/articles/360000793534) Knowledge Base article.

### <a id='read-only'></a> Read-Only Volume Mounts Display as "rw"

Due to an underlying kernel defect, read-only volume mounts display as `"mode": "rw"` when you view the `VCAP_SERVICES` environment variable for your app.

For more information about binding a volume service, see [Using an External File System (Volume Services)](https://docs.pivotal.io/pivotalcf/2-1/devguide/services/using-vol-services.html#create).

### <a id='tile-failure'></a> Service Tiles Fail to Push Apps

This issue affects PCF v2.1 and previous versions of the product.

By default, the system domain in the `system` org is a shared domain.
The default system domain is the first domain displayed when you run the `cf domains` command.

If you have made this system domain private, the following tiles may fail to push apps, such as smoke tests, or fail altogether:

* Metrics Forwarder for PCF
* Scheduler for PCF
* Spring Cloud Services for PCF

These tiles assume that the default system domain is a shared domain.
For more information about shared and private domains, see [Domains](https://docs.pivotal.io/pivotalcf/2-1/devguide/deploy-apps/routes-domains.html#domains) in the _Routes and Domains_ topic.

### <a id='debug-logs'></a> PAS Forwards High Volume of DEBUG Log Messages

PAS forwards a high volume of DEBUG syslog messages from UAA and other system components to an external service. To remediate this issue, you can filter out log messages that contain `"DEBUG"` in their body by using the `if ($msg contains "DEBUG") then stop` custom syslog rule.

For information about enabling syslog forwarding and configuring custom syslog rules in PAS, see [Enable Syslog Forwarding](https://docs.pivotal.io/pivotalcf/2-1/opsguide/logging-config-opsman.html#syslog-forward) in the _Configuring Logging in PAS_ topic and [Exclude Logs With Certain Content](https://docs.pivotal.io/pivotalcf/2-1/customizing/custom-syslog-rules.html#exclude-content) in the _Customizing Platform Log Forwarding_ topic.

### <a id='uaa-request-latency'></a> UAA Request Latency Metric Not Emitted

The `gorouter.latency.uaa` metric is not currently emitted in PCF v2.1. For more information about the `gorouter.latency.uaa` metric, see [UAA Request Latency](http://docs.pivotal.io/pivotalcf/2-1/monitoring/kpi.html#uaa_latency) in _Key Performance Indicators_.

### <a id='bosh-metrics'></a> PCF v2.1 Not Emitting BOSH VM Metrics for Windows Diego Cells

BOSH VM metrics are not being emitted for Windows Diego cells in PCF v2.1.

### <a id='525-handshake-failures'></a> 525 Handshake Failures When Connecting to Back Ends

If you disable TLS from verifying back end identity and redeploy PCF after having already enabled it in your previous deployment, and the deployment has apps with more than one instance, you might see an increase in the number of 525 Handshake Failure errors. Pivotal recommends you do not disable TLS to validate identity once it has already been enabled.
