---
title: Pivotal Elastic Runtime v1.9 Release Notes
owner: Release Engineering
---

## <a id='1.9.0'></a> New Features in Elastic Runtime v1.9.0

### Secure Communication for the etcd Cluster

### Containers Default to Running Unprivileged

### Diego Uses a Relational Datastore

### Routing API Uses a Relational Datastore

### Support for Running One-Off Tasks

### .Net Core Buildpack

### Support for Spring Boot Actuators in Apps Manager

### New Autoscaling Features

### Improvements to Intercomponent Communication Security

### Zipkin Tracing Headers
