---
title: Pivotal Elastic Runtime v1.9 Release Notes
owner: Release Engineering
---

## <a id='update'></a>About Updating to Elastic Runtime v1.9

If you are currently on Elastic Runtime v1.8.32 or earlier, it is recommended that you upgrade to v1.8.33 or later before upgrading to Elastic Runtime v1.9.

Upgrading directly to v1.9 without first upgrading to v1.8.33 will result in the loss of TCP routes if your deployment makes use of them.

Elastic Runtime v1.8.33 contains a migration to move your TCP routing data to MySQL.
Please view the [Elastic Runtime v1.8 release notes](http://docs.pivotal.io/pivotalcf/1-8/pcf-release-notes/runtime-rn.html) for more details.

## <a id='releases'></a> Releases

### <a id='1.9.17'></a> 1.9.17

* Bumps the stemcell to version 3312.23.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3312.23</td>
  </tr><tr>
    <td>binary-buildpack</td><td>1.0.9</td>
  </tr><tr>
    <td>capi</td><td>1.11.0\*</td>
  </tr><tr>
    <td>cf</td><td>246\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>75.8</td>
  </tr><tr>
    <td>cf-mysql</td><td>32.6.0</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.60.0</td>
  </tr><tr>
    <td>consul</td><td>137</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>dotnet-core-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>etcd</td><td>97</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>go-buildpack</td><td>1.7.18</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.13</td>
  </tr><tr>
    <td>loggregator</td><td>65\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.28.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>6</td>
  </tr><tr>
    <td>nats</td><td>14</td>
  </tr><tr>
    <td>nodejs-buildpack</td><td>1.5.29</td>
  </tr><tr>
    <td>notifications</td><td>34</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>php-buildpack</td><td>4.3.27</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.1.11</td>
  </tr><tr>
    <td>postgres</td><td>8</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>659.12.4</td>
  </tr><tr>
    <td>python-buildpack</td><td>1.5.15</td>
  </tr><tr>
    <td>routing</td><td>0.143.0\*</td>
  </tr><tr>
    <td>ruby-buildpack</td><td>1.6.34</td>
  </tr><tr>
    <td>service-backup</td><td>18.0.3</td>
  </tr><tr>
    <td>staticfile-buildpack</td><td>1.3.17</td>
  </tr><tr>
    <td>uaa</td><td>24.6</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.16'></a> 1.9.16

* Bumps rootfs to v1.60.0 with stack 1.111.0 for low/medium security fixes
* Bumps dotnet-core buildpack to v1.0.13
* Bumps service-backup-release to v18.0.3
* Adds fix for Azure Storage blobstore support

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3312.22</td>
  </tr><tr>
    <td>binary-buildpack</td><td>1.0.9</td>
  </tr><tr>
    <td>capi</td><td>1.11.0\*</td>
  </tr><tr>
    <td>cf</td><td>246\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>75.8</td>
  </tr><tr>
    <td>cf-mysql</td><td>32.6</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.60.0</td>
  </tr><tr>
    <td>consul</td><td>137</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>dotnet-core-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>etcd</td><td>97</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>go-buildpack</td><td>1.7.18</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.13</td>
  </tr><tr>
    <td>loggregator</td><td>65\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.28.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>6</td>
  </tr><tr>
    <td>nats</td><td>14</td>
  </tr><tr>
    <td>nodejs-buildpack</td><td>1.5.29</td>
  </tr><tr>
    <td>notifications</td><td>34</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>php-buildpack</td><td>4.3.27</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.1.11</td>
  </tr><tr>
    <td>postgres</td><td>8</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>659.12.4</td>
  </tr><tr>
    <td>python-buildpack</td><td>1.5.15</td>
  </tr><tr>
    <td>routing</td><td>0.143.0\*</td>
  </tr><tr>
    <td>ruby-buildpack</td><td>1.6.34</td>
  </tr><tr>
    <td>service-backup</td><td>18.0.3</td>
  </tr><tr>
    <td>staticfile-buildpack</td><td>1.3.17</td>
  </tr><tr>
    <td>uaa</td><td>24.6</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.15'></a> 1.9.15

* Bumps the stemcell version to 3312.22.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3312.22</td>
  </tr><tr>
    <td>binary-buildpack</td><td>1.0.9</td>
  </tr><tr>
    <td>capi</td><td>1.11.0\*</td>
  </tr><tr>
    <td>cf</td><td>246\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>75.8</td>
  </tr><tr>
    <td>cf-mysql</td><td>32.6</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.56.0</td>
  </tr><tr>
    <td>consul</td><td>137</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>dotnet-core-buildpack</td><td>1.0.11</td>
  </tr><tr>
    <td>etcd</td><td>97</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>go-buildpack</td><td>1.7.18</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.13</td>
  </tr><tr>
    <td>loggregator</td><td>65\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.28.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>6</td>
  </tr><tr>
    <td>nats</td><td>14</td>
  </tr><tr>
    <td>nodejs-buildpack</td><td>1.5.29</td>
  </tr><tr>
    <td>notifications</td><td>34</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>php-buildpack</td><td>4.3.27</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.1.11</td>
  </tr><tr>
    <td>postgres</td><td>8</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>659.12.4</td>
  </tr><tr>
    <td>python-buildpack</td><td>1.5.15</td>
  </tr><tr>
    <td>routing</td><td>0.143.0\*</td>
  </tr><tr>
    <td>ruby-buildpack</td><td>1.6.34</td>
  </tr><tr>
    <td>service-backup</td><td>17.2.0</td>
  </tr><tr>
    <td>staticfile-buildpack</td><td>1.3.17</td>
  </tr><tr>
    <td>uaa</td><td>24.6</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.14'></a> 1.9.14

* Configures the notifications service to deploy with a specified buildpack.
* Bumps pivotal-account to v1.1.11 to ensure it specifies a known buildpack during deployment.
* Allows operators to toggle the invitations feature set for AppsManager.
* Allows Space Auditors to once again stream application logs from AppsManager.
* Resolves an issue that prevented MySQL VMs restarted outside of BOSH from rejoining the cluster.
* Resolves a migration issue in the autoscaling service.
* Reduces the notifications polling interval in the autoscaling service to 5 seconds.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3312.21</td>
  </tr><tr>
    <td>binary-buildpack</td><td>1.0.9</td>
  </tr><tr>
    <td>capi</td><td>1.11.0\*</td>
  </tr><tr>
    <td>cf</td><td>246\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>75.8</td>
  </tr><tr>
    <td>cf-mysql</td><td>32.6</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.56.0</td>
  </tr><tr>
    <td>consul</td><td>137</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>dotnet-core-buildpack</td><td>1.0.11</td>
  </tr><tr>
    <td>etcd</td><td>97</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>go-buildpack</td><td>1.7.18</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.13</td>
  </tr><tr>
    <td>loggregator</td><td>65\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.28.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>6</td>
  </tr><tr>
    <td>nats</td><td>14</td>
  </tr><tr>
    <td>nodejs-buildpack</td><td>1.5.29</td>
  </tr><tr>
    <td>notifications</td><td>34</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>php-buildpack</td><td>4.3.27</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.1.11</td>
  </tr><tr>
    <td>postgres</td><td>8</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>659.12.4</td>
  </tr><tr>
    <td>python-buildpack</td><td>1.5.15</td>
  </tr><tr>
    <td>routing</td><td>0.143.0\*</td>
  </tr><tr>
    <td>ruby-buildpack</td><td>1.6.34</td>
  </tr><tr>
    <td>service-backup</td><td>17.2.0</td>
  </tr><tr>
    <td>staticfile-buildpack</td><td>1.3.17</td>
  </tr><tr>
    <td>uaa</td><td>24.6</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.13'></a> 1.9.13

<p class="note warning">
  <strong>Important</strong>:
  This release introduced an upgrade incompatibility to the 1.10.x ERT series.
  Please see the note below for more details.
</p>

<p class="tip">
  This upgrade advisory only applies to customers who have installed Pivotal
  Cloud Foundry Elastic Runtime v1.9.13 and are planning to upgrade to Pivotal
  Cloud Foundry Elastic Runtime v1.10.0.

  <br> <br>

  We have uncovered an unfortunate issue when upgrading from Elastic Runtime
  v1.9.13 to v1.10.0 and are working towards resolving this issue. Brand new
  deployments of PCF 1.10 are not affected by this issue.

  <br> <br>

  Please refer to the FAQ below for more details

  <br> <br>

  <strong>Q</strong>: I have Elastic Runtime v1.9.13, should I not upgrade to
  ER 1.10.0?  <br> <strong>A</strong>: Yes, please wait to upgrade to Elastic
  Runtime v1.10.x until the upgrade fix is in place, which is estimated to be
  ready in several days.

  <br> <br>

  <strong>Q</strong>: I have Elastic Runtime v1.9.x, should I not upgrade to
  v1.9.13?  <br> <strong>A</strong>: Please do upgrade to Elastic Runtime
  v1.9.13+ as this contains critical fixes.  However, please do not upgrade to
  Elastic Runtime v1.10.0 until the upgrade fix is in place, which is estimated
  to be ready in several days.

  <br> <br>

  <strong>Q</strong>: I have Elastic Runtime v1.9.12(or below), can I upgrade
  to v1.10.0?  <br> <strong>A</strong>: Yes, you can upgrade to Elastic Runtime
  v1.10.0 without any issues.

  <br> <br>

  <strong>Q</strong>: Can I perform a brand new deployment of Elastic Runtime
  v1.10.0?  <br> <strong>A</strong>: Yes, you can proceed with a brand new
  deployment of Elastic Runtime v1.10.0 and will be able to consume any future
  Elastic Runtime v1.10.x patches
</p>

* Bumps the rootfs to v1.56 which contains stack version 1.107.0.
* Bumps uaa-release to v24.6.
* Bumps etcd-release to v97.
* Bumps the buildpacks to the most recent versions.
  The buildpack versions can now be seen below in the Components table.
* Fixes a bug in the internal MySQL configuration that prevented notifications
  from being sent when the cluster went into a dataloss-prevention state.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3312.21</td>
  </tr><tr>
    <td>binary-buildpack</td><td>1.0.9</td>
  </tr><tr>
    <td>capi</td><td>1.11.0\*</td>
  </tr><tr>
    <td>cf</td><td>246\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>75.6</td>
  </tr><tr>
    <td>cf-mysql</td><td>32</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.56.0</td>
  </tr><tr>
    <td>consul</td><td>137</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>dotnet-core-buildpack</td><td>1.0.11</td>
  </tr><tr>
    <td>etcd</td><td>97</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>go-buildpack</td><td>1.7.18</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.13</td>
  </tr><tr>
    <td>loggregator</td><td>65\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.28.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>6</td>
  </tr><tr>
    <td>nats</td><td>14</td>
  </tr><tr>
    <td>nodejs-buildpack</td><td>1.5.29</td>
  </tr><tr>
    <td>notifications</td><td>34</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>php-buildpack</td><td>4.3.27</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.1.10</td>
  </tr><tr>
    <td>postgres</td><td>8</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>659.10</td>
  </tr><tr>
    <td>python-buildpack</td><td>1.5.15</td>
  </tr><tr>
    <td>routing</td><td>0.143.0\*</td>
  </tr><tr>
    <td>ruby-buildpack</td><td>1.6.34</td>
  </tr><tr>
    <td>service-backup</td><td>17.2.0</td>
  </tr><tr>
    <td>staticfile-buildpack</td><td>1.3.17</td>
  </tr><tr>
    <td>uaa</td><td>24.6</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.12'></a> 1.9.12

* Bumps the stemcell version to 3312.21.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3312.21</td>
  </tr><tr>
    <td>binary-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>capi</td><td>1.11.0\*</td>
  </tr><tr>
    <td>cf</td><td>246\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>75.6</td>
  </tr><tr>
    <td>cf-mysql</td><td>32</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.46.0</td>
  </tr><tr>
    <td>consul</td><td>137</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>dotnet-core-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>etcd</td><td>92</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>go-buildpack</td><td>1.7.16</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.10</td>
  </tr><tr>
    <td>loggregator</td><td>65\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.28.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>6</td>
  </tr><tr>
    <td>nats</td><td>14</td>
  </tr><tr>
    <td>nodejs-buildpack</td><td>1.5.23</td>
  </tr><tr>
    <td>notifications</td><td>34</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>php-buildpack</td><td>4.3.22</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.1.10</td>
  </tr><tr>
    <td>postgres</td><td>8</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>659.10</td>
  </tr><tr>
    <td>python-buildpack</td><td>1.5.12</td>
  </tr><tr>
    <td>routing</td><td>0.143.0\*</td>
  </tr><tr>
    <td>ruby-buildpack</td><td>1.6.28</td>
  </tr><tr>
    <td>service-backup</td><td>17.2.0</td>
  </tr><tr>
    <td>staticfile-buildpack</td><td>1.3.13</td>
  </tr><tr>
    <td>uaa</td><td>24.5</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.11'></a> 1.9.11

* Allows operators to specify HTTP headers that will be recorded in the GoRouter access logs.
* Patches the Cloud Controller to correct ordering of API results when using pagination.
* Patches the Cloud Controller workers to ensure CA certificates are validated when communicating with the internal WebDAV blobstore. This resolves an issue causing WebDAV blobstores to grow unbounded due to failed SSL cert validation.

	<table border="1" class="nice">
	<thead>
	<tr>
		<th>Component</th>
		<th>Version</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Stemcell</td><td>3312.20</td>
	</tr><tr>
		<td>binary-buildpack</td><td>1.0.5</td>
	</tr><tr>
		<td>capi</td><td>1.11.0\*</td>
	</tr><tr>
		<td>cf</td><td>246\*</td>
	</tr><tr>
		<td>cf-autoscaling</td><td>75.6</td>
	</tr><tr>
		<td>cf-mysql</td><td>32</td>
	</tr><tr>
		<td>cflinuxfs2-rootfs</td><td>1.46.0</td>
	</tr><tr>
		<td>consul</td><td>137</td>
	</tr><tr>
		<td>diego</td><td>0.1491.0\*</td>
	</tr><tr>
		<td>dotnet-core-buildpack</td><td>1.0.5</td>
	</tr><tr>
		<td>etcd</td><td>92</td>
	</tr><tr>
		<td>garden-runc</td><td>1.1.1</td>
	</tr><tr>
		<td>go-buildpack</td><td>1.7.16</td>
	</tr><tr>
		<td>java-offline-buildpack</td><td>3.10</td>
	</tr><tr>
		<td>loggregator</td><td>65\*</td>
	</tr><tr>
		<td>mysql-backup</td><td>1.28.0</td>
	</tr><tr>
		<td>mysql-monitoring</td><td>6</td>
	</tr><tr>
		<td>nats</td><td>14</td>
	</tr><tr>
		<td>nodejs-buildpack</td><td>1.5.23</td>
	</tr><tr>
		<td>notifications</td><td>34</td>
	</tr><tr>
		<td>notifications-ui</td><td>26</td>
	</tr><tr>
		<td>php-buildpack</td><td>4.3.22</td>
	</tr><tr>
		<td>pivotal-account</td><td>1.1.10</td>
	</tr><tr>
		<td>postgres</td><td>8</td>
	</tr><tr>
		<td>push-apps-manager-release</td><td>659.10</td>
	</tr><tr>
		<td>python-buildpack</td><td>1.5.12</td>
	</tr><tr>
		<td>routing</td><td>0.143.0\*</td>
	</tr><tr>
		<td>ruby-buildpack</td><td>1.6.28</td>
	</tr><tr>
		<td>service-backup</td><td>17.2.0</td>
	</tr><tr>
		<td>staticfile-buildpack</td><td>1.3.13</td>
	</tr><tr>
		<td>uaa</td><td>24.5</td>
	</tr>
	</tbody>
	<tfoot>
	<tr>
		<td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
	</tr>
	</tfoot>
	</table>

### <a id='1.9.10'></a> 1.9.10

* Secures the router debug servers by ensuring they bind to the loopback device.
* Patches the router to prevent extra `?`s from being appended to requests that already contain one.
* Bumps the autoscaling service to v75.6 to resolve a database timestamp issue.
* Bumps UAA to v3.9.7 to remove a possible denial of service attack vector.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3312.20</td>
  </tr><tr>
    <td>binary-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>capi</td><td>1.11.0\*</td>
  </tr><tr>
    <td>cf</td><td>246\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>75.6</td>
  </tr><tr>
    <td>cf-mysql</td><td>32</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.46.0</td>
  </tr><tr>
    <td>consul</td><td>137</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>dotnet-core-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>etcd</td><td>92</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>go-buildpack</td><td>1.7.16</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.10</td>
  </tr><tr>
    <td>loggregator</td><td>65\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.28.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>6</td>
  </tr><tr>
    <td>nats</td><td>14</td>
  </tr><tr>
    <td>nodejs-buildpack</td><td>1.5.23</td>
  </tr><tr>
    <td>notifications</td><td>34</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>php-buildpack</td><td>4.3.22</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.1.10</td>
  </tr><tr>
    <td>postgres</td><td>8</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>659.10</td>
  </tr><tr>
    <td>python-buildpack</td><td>1.5.12</td>
  </tr><tr>
    <td>routing</td><td>0.143.0\*</td>
  </tr><tr>
    <td>ruby-buildpack</td><td>1.6.28</td>
  </tr><tr>
    <td>service-backup</td><td>17.2.0</td>
  </tr><tr>
    <td>staticfile-buildpack</td><td>1.3.13</td>
  </tr><tr>
    <td>uaa</td><td>24.5</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.9'></a> 1.9.9

* Bumps the stemcell to version 3312.20.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3312.20</td>
  </tr><tr>
    <td>binary-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>capi</td><td>1.11.0\*</td>
  </tr><tr>
    <td>cf</td><td>246\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>75.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>32</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.46.0</td>
  </tr><tr>
    <td>consul</td><td>137</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>dotnet-core-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>etcd</td><td>92</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>go-buildpack</td><td>1.7.16</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.10</td>
  </tr><tr>
    <td>loggregator</td><td>65\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.28.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>6</td>
  </tr><tr>
    <td>nats</td><td>14</td>
  </tr><tr>
    <td>nodejs-buildpack</td><td>1.5.23</td>
  </tr><tr>
    <td>notifications</td><td>34</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>php-buildpack</td><td>4.3.22</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.1.10</td>
  </tr><tr>
    <td>postgres</td><td>8</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>659.10</td>
  </tr><tr>
    <td>python-buildpack</td><td>1.5.12</td>
  </tr><tr>
    <td>routing</td><td>0.143.0</td>
  </tr><tr>
    <td>ruby-buildpack</td><td>1.6.28</td>
  </tr><tr>
    <td>service-backup</td><td>17.2.0</td>
  </tr><tr>
    <td>staticfile-buildpack</td><td>1.3.13</td>
  </tr><tr>
    <td>uaa</td><td>24.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.8'></a> 1.9.8

* Allows external databases to be configured with unique user accounts.
* Bumps uaa-release to v13.10 to redact SAML & OAuth Keys from the ID Zone API.
* Allows a "Max Inflight Container Starts" configuration to be set.
  This setting will limit the total number of containers that are allowed to be starting at any one time.
  The default setting is to limit the number of inflight starting containers to 200.
* Bumps etcd-release to v92 to improve startup resilience on VM using IPSec.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3312.12</td>
  </tr><tr>
    <td>binary-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>capi</td><td>1.11.\*</td>
  </tr><tr>
    <td>cf</td><td>246\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>75.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>32</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.46.0</td>
  </tr><tr>
    <td>consul</td><td>137</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>dotnet-core-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>etcd</td><td>92</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>go-buildpack</td><td>1.7.16</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.10</td>
  </tr><tr>
    <td>loggregator</td><td>65.0.6</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.28.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>6</td>
  </tr><tr>
    <td>nats</td><td>14</td>
  </tr><tr>
    <td>nodejs-buildpack</td><td>1.5.23</td>
  </tr><tr>
    <td>notifications</td><td>34</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>php-buildpack</td><td>4.3.22</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.1.10</td>
  </tr><tr>
    <td>postgres</td><td>8</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>659.10</td>
  </tr><tr>
    <td>python-buildpack</td><td>1.5.12</td>
  </tr><tr>
    <td>routing</td><td>0.143.0</td>
  </tr><tr>
    <td>ruby-buildpack</td><td>1.6.28</td>
  </tr><tr>
    <td>service-backup</td><td>17.2.0</td>
  </tr><tr>
    <td>staticfile-buildpack</td><td>1.3.13</td>
  </tr><tr>
    <td>uaa</td><td>24.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.7'></a> 1.9.7

* Patches Pivotal Account to prevent an account authorization vulnerability.
  For more details, please see [pivotal.io/security](https://pivotal.io/security/cve-2017-4959).

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3312.12</td>
  </tr><tr>
    <td>binary-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>capi</td><td>1.11.0\*</td>
  </tr><tr>
    <td>cf</td><td>246\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>75.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>32</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.46.0</td>
  </tr><tr>
    <td>consul</td><td>137</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>dotnet-core-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>etcd</td><td>91</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>go-buildpack</td><td>1.7.16</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.10</td>
  </tr><tr>
    <td>loggregator</td><td>65\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.28.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>6</td>
  </tr><tr>
    <td>nats</td><td>14</td>
  </tr><tr>
    <td>nodejs-buildpack</td><td>1.5.23</td>
  </tr><tr>
    <td>notifications</td><td>34</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>php-buildpack</td><td>4.3.22</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.1.10</td>
  </tr><tr>
    <td>postgres</td><td>8</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>659.10</td>
  </tr><tr>
    <td>python-buildpack</td><td>1.5.12</td>
  </tr><tr>
    <td>routing</td><td>0.143.0</td>
  </tr><tr>
    <td>ruby-buildpack</td><td>1.6.28</td>
  </tr><tr>
    <td>service-backup</td><td>17.2.0</td>
  </tr><tr>
    <td>staticfile-buildpack</td><td>1.3.13</td>
  </tr><tr>
    <td>uaa</td><td>24</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.6'></a> 1.9.6

* Adds configurable audit logging for the Internal MySQL database. Configuration options can be found on the Internal MySQL page.
* Corrects the documentation for non-RFC-1918 Private Network configuration.
* Bumps etcd-release to v91 for some stability improvements.
* Patches the Diego TPS bridge component to prevent credential mangling.
* Includes proper verification of database presence when configuring the ERT to work with an external database server.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3312.12</td>
  </tr><tr>
    <td>binary-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>capi</td><td>1.11.0\*</td>
  </tr><tr>
    <td>cf</td><td>246\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>75.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>32</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.46.0</td>
  </tr><tr>
    <td>consul</td><td>137</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>dotnet-core-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>etcd</td><td>91</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>go-buildpack</td><td>1.7.16</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.10</td>
  </tr><tr>
    <td>loggregator</td><td>65\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.28.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>6</td>
  </tr><tr>
    <td>nats</td><td>14</td>
  </tr><tr>
    <td>nodejs-buildpack</td><td>1.5.23</td>
  </tr><tr>
    <td>notifications</td><td>34</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>php-buildpack</td><td>4.3.22</td>
  </tr><tr>
    <td>pivotal-account</td><td>1</td>
  </tr><tr>
    <td>postgres</td><td>8</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>659.10</td>
  </tr><tr>
    <td>python-buildpack</td><td>1.5.12</td>
  </tr><tr>
    <td>routing</td><td>0.143.0</td>
  </tr><tr>
    <td>ruby-buildpack</td><td>1.6.28</td>
  </tr><tr>
    <td>service-backup</td><td>17.2.0</td>
  </tr><tr>
    <td>staticfile-buildpack</td><td>1.3.13</td>
  </tr><tr>
    <td>uaa</td><td>24</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.5'></a> 1.9.5

* Bumps the autoscaling release to v75.3, removing the git dependency that was vulnerable,
  and patching a bug that caused CPU-based scaling to incorrectly scale down if CPU utilization
  was reported as 0%.
* Bumps etcd-release to v88 to improve stability on environments with higher network latencies.
* Bumps Apps Manager to v659.10 to resolve several outstanding bugs and issues.
* Bumps Notifications to v34, removing logging that included UAA OAuth tokens, and allowing the
  service to handle validation of UAA tokens signed with different signing keys.
* Bumps the rootfs to 1.97.0 to cover some low and medium vulnerabilities.
* Patches loggregator to resolve an issue where application logs were not correctly displaying
  application instance indices.


  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3312.12</td>
  </tr><tr>
    <td>binary-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>capi</td><td>1.11.0\*</td>
  </tr><tr>
    <td>cf</td><td>246\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>75.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>32</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.46.0</td>
  </tr><tr>
    <td>consul</td><td>137</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>dotnet-core-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>etcd</td><td>88</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>go-buildpack</td><td>1.7.16</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.10</td>
  </tr><tr>
    <td>loggregator</td><td>65\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.28.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>6</td>
  </tr><tr>
    <td>nats</td><td>14</td>
  </tr><tr>
    <td>nodejs-buildpack</td><td>1.5.23</td>
  </tr><tr>
    <td>notifications</td><td>34</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>php-buildpack</td><td>4.3.22</td>
  </tr><tr>
    <td>pivotal-account</td><td>1</td>
  </tr><tr>
    <td>postgres</td><td>8</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>659.10</td>
  </tr><tr>
    <td>python-buildpack</td><td>1.5.12</td>
  </tr><tr>
    <td>routing</td><td>0.143.0</td>
  </tr><tr>
    <td>ruby-buildpack</td><td>1.6.28</td>
  </tr><tr>
    <td>service-backup</td><td>17.2.0</td>
  </tr><tr>
    <td>staticfile-buildpack</td><td>1.3.13</td>
  </tr><tr>
    <td>uaa</td><td>24</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.4'></a> 1.9.4

* Bumps the garden-runc release to version 1.1.1 to address CVE-2016-9962.
  For more details, please see [pivotal.io/security](https://pivotal.io/security/cve-2016-9962).

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3312.12</td>
  </tr><tr>
    <td>binary-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>capi</td><td>1.11.0*</td>
  </tr><tr>
    <td>cf</td><td>246*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>75</td>
  </tr><tr>
    <td>cf-mysql</td><td>32</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.43.0</td>
  </tr><tr>
    <td>consul</td><td>137</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0*</td>
  </tr><tr>
    <td>dotnet-core-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>etcd</td><td>87</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>go-buildpack</td><td>1.7.16</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.10</td>
  </tr><tr>
    <td>loggregator</td><td>65*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.28.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>6</td>
  </tr><tr>
    <td>nats</td><td>14</td>
  </tr><tr>
    <td>nodejs-buildpack</td><td>1.5.23</td>
  </tr><tr>
    <td>notifications</td><td>32</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>php-buildpack</td><td>4.3.22</td>
  </tr><tr>
    <td>pivotal-account</td><td>1</td>
  </tr><tr>
    <td>postgres</td><td>8</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>659.8</td>
  </tr><tr>
    <td>python-buildpack</td><td>1.5.12</td>
  </tr><tr>
    <td>routing</td><td>0.143.0</td>
  </tr><tr>
    <td>ruby-buildpack</td><td>1.6.28</td>
  </tr><tr>
    <td>service-backup</td><td>17.2.0</td>
  </tr><tr>
    <td>staticfile-buildpack</td><td>1.3.13</td>
  </tr><tr>
    <td>uaa</td><td>24</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.3'></a> 1.9.3

* Requires user input for the Internal MySQL Monitor Recipient Email Address field.
  This field previously defaulted to an invalid email address.
  Users that wish to use the internal MySQL cluster and deploy the monitor should remember to set a valid email recipient.
* Bumps the routing-release to version 0.143.0 to update the component's golang version to 1.7.
* Moves credentials for the Cloud Controller Bridge components into configuration files to prevent them from being viewable in the process list.
* Fixes race conditions around transactions in the Diego BBS.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3312.12</td>
  </tr><tr>
    <td>binary-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>capi</td><td>1.11.0</td>
  </tr><tr>
    <td>cf</td><td>246</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>75</td>
  </tr><tr>
    <td>cf-mysql</td><td>32</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.43.0</td>
  </tr><tr>
    <td>consul</td><td>137</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0</td>
  </tr><tr>
    <td>dotnet-core-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>etcd</td><td>87</td>
  </tr><tr>
    <td>garden-runc</td><td>1.0.3</td>
  </tr><tr>
    <td>go-buildpack</td><td>1.7.16</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.10</td>
  </tr><tr>
    <td>loggregator</td><td>65</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.28.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>6</td>
  </tr><tr>
    <td>nats</td><td>14</td>
  </tr><tr>
    <td>nodejs-buildpack</td><td>1.5.23</td>
  </tr><tr>
    <td>notifications</td><td>32</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>php-buildpack</td><td>4.3.22</td>
  </tr><tr>
    <td>pivotal-account</td><td>1</td>
  </tr><tr>
    <td>postgres</td><td>8</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>659.8</td>
  </tr><tr>
    <td>python-buildpack</td><td>1.5.12</td>
  </tr><tr>
    <td>routing</td><td>0.143.0</td>
  </tr><tr>
    <td>ruby-buildpack</td><td>1.6.28</td>
  </tr><tr>
    <td>service-backup</td><td>17.2.0</td>
  </tr><tr>
    <td>staticfile-buildpack</td><td>1.3.13</td>
  </tr><tr>
    <td>uaa</td><td>24</td>
  </tr>
  </tbody>
  </table>

### <a id='1.9.2'></a> 1.9.2

* Bumps the stemcell to 3312.12 to address a memory usage issue in rsyslog.
* Adds support for application http health-check types.
  Specifying an http health-check can be done through the API.
  More details can be found in the Cloud Foundry API [documentation](https://apidocs.cloudfoundry.org).

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3312.12</td>
  </tr><tr>
    <td>binary-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>capi</td><td>1.11.0</td>
  </tr><tr>
    <td>cf</td><td>246</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>75</td>
  </tr><tr>
    <td>cf-mysql</td><td>32</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.43.0</td>
  </tr><tr>
    <td>consul</td><td>137</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0</td>
  </tr><tr>
    <td>dotnet-core-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>etcd</td><td>87</td>
  </tr><tr>
    <td>garden-runc</td><td>1.0.3</td>
  </tr><tr>
    <td>go-buildpack</td><td>1.7.16</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.10</td>
  </tr><tr>
    <td>loggregator</td><td>65</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.28.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>6</td>
  </tr><tr>
    <td>nats</td><td>14</td>
  </tr><tr>
    <td>nodejs-buildpack</td><td>1.5.23</td>
  </tr><tr>
    <td>notifications</td><td>32</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>php-buildpack</td><td>4.3.22</td>
  </tr><tr>
    <td>pivotal-account</td><td>1</td>
  </tr><tr>
    <td>postgres</td><td>8</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>659.8</td>
  </tr><tr>
    <td>python-buildpack</td><td>1.5.12</td>
  </tr><tr>
    <td>routing</td><td>0.142.0</td>
  </tr><tr>
    <td>ruby-buildpack</td><td>1.6.28</td>
  </tr><tr>
    <td>service-backup</td><td>17.2.0</td>
  </tr><tr>
    <td>staticfile-buildpack</td><td>1.3.13</td>
  </tr><tr>
    <td>uaa</td><td>24</td>
  </tr>
  </tbody>
  </table>

### <a id='1.9.1'></a> 1.9.1

* Bumps the stemcell to 3312.9 and the rootfs to 1.94.0 in order to address a vulnerability in API (USN-3156-1).
* Patches a vulnerability in the Notifications service that allowed unprivileged users to impersonate other users with unauthenticated tokens.
* Resolves a bug in the authentication mechanism of the Autoscaling service that prevented some users from viewing the UI.
* Patches Cloud Controller to reduce conditions under which a database deadlock could occur.
* Patches Cloud Controller to remove logging of database credentials.
* Bumps the Golang buildpack to 1.7.16 to bring in support for Golang 1.7.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3312.9</td>
  </tr><tr>
    <td>binary-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>capi</td><td>1.11.0</td>
  </tr><tr>
    <td>cf</td><td>246</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>75</td>
  </tr><tr>
    <td>cf-mysql</td><td>32</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.43.0</td>
  </tr><tr>
    <td>consul</td><td>137</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0</td>
  </tr><tr>
    <td>dotnet-core-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>etcd</td><td>87</td>
  </tr><tr>
    <td>garden-runc</td><td>1.0.3</td>
  </tr><tr>
    <td>go-buildpack</td><td>1.7.16</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.10</td>
  </tr><tr>
    <td>loggregator</td><td>65</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.28.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>6</td>
  </tr><tr>
    <td>nats</td><td>14</td>
  </tr><tr>
    <td>nodejs-buildpack</td><td>1.5.23</td>
  </tr><tr>
    <td>notifications</td><td>32</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>php-buildpack</td><td>4.3.22</td>
  </tr><tr>
    <td>pivotal-account</td><td>1</td>
  </tr><tr>
    <td>postgres</td><td>8</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>659.7</td>
  </tr><tr>
    <td>python-buildpack</td><td>1.5.12</td>
  </tr><tr>
    <td>routing</td><td>0.142.0</td>
  </tr><tr>
    <td>ruby-buildpack</td><td>1.6.28</td>
  </tr><tr>
    <td>service-backup</td><td>17.2.0</td>
  </tr><tr>
    <td>staticfile-buildpack</td><td>1.3.13</td>
  </tr><tr>
    <td>uaa</td><td>24</td>
  </tr>
  </tbody>
  </table>

## <a id='versions'></a> Component Versions

Versions 1.9.0 and higher versions of Elastic Runtime consist of the following component versions:

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3312.7</td>
  </tr><tr>
    <td>binary-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>capi</td><td>1.11.0</td>
  </tr><tr>
    <td>cf</td><td>246</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>67</td>
  </tr><tr>
    <td>cf-mysql</td><td>32</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.40.0</td>
  </tr><tr>
    <td>consul</td><td>137</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0</td>
  </tr><tr>
    <td>dotnet-core-buildpack</td><td>1.0.5</td>
  </tr><tr>
    <td>etcd</td><td>87</td>
  </tr><tr>
    <td>garden-runc</td><td>1.0.3</td>
  </tr><tr>
    <td>go-buildpack</td><td>1.7.15</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.10</td>
  </tr><tr>
    <td>loggregator</td><td>65</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.28.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>6</td>
  </tr><tr>
    <td>nats</td><td>14</td>
  </tr><tr>
    <td>nodejs-buildpack</td><td>1.5.23</td>
  </tr><tr>
    <td>notifications</td><td>31</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>php-buildpack</td><td>4.3.22</td>
  </tr><tr>
    <td>pivotal-account</td><td>1</td>
  </tr><tr>
    <td>postgres</td><td>8</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>659.7</td>
  </tr><tr>
    <td>python-buildpack</td><td>1.5.12</td>
  </tr><tr>
    <td>routing</td><td>0.141.0</td>
  </tr><tr>
    <td>ruby-buildpack</td><td>1.6.28</td>
  </tr><tr>
    <td>service-backup</td><td>17.2.0</td>
  </tr><tr>
    <td>staticfile-buildpack</td><td>1.3.13</td>
  </tr><tr>
    <td>uaa</td><td>24</td>
  </tr>
  </tbody>
  </table>

## <a id='upgrade'></a>How to Upgrade

The procedure for upgrading to Pivotal Cloud Foundry Elastic Runtime v1.9 is documented in the [Upgrading Pivotal Cloud Foundry](../../customizing/upgrading-pcf.html) topic.

When upgrading to v1.9, be aware of the following upgrade considerations:

   * You must upgrade to a version of Elastic Runtime v1.8.9 or higher in order to successfully upgrade to v1.9.
   * If you are upgrading from a PCF deployment that at one point included Elastic Runtime v1.7.16 or earlier, *make sure* that you have performed the remedial steps outlined in [App Usage Data and Events Data Become Corrupted After Upgrade or Install](https://discuss.pivotal.io/hc/en-us/articles/228639827-App-Usage-Data-and-Events-Data-Becomes-Corrupted-After-Upgrade-or-Install) before proceeding with the upgrade. If you fail to perform the remedial steps, the upgrade process may corrupt your existing usage data.  
   * Before upgrading to PCF v1.9, remove any product tiles that are no longer supported in PCF. See [Review and Remove Unsupported Products](../../customizing/upgrading-pcf.html#remove-products).<br><br/>
    Some partner service tiles may currently be incompatible with PCF v1.9. Pivotal is working with partners to ensure their tiles are being updated to work with the latest versions of PCF. <br/><br/>
    For information about which partner service releases are currently compatible with PCF v1.9, review the appropriate partners services release documentation at [http://docs.pivotal.io](http://docs.pivotal.io), or contact the partner organization that produces the tile.
   * Before upgrading to PCF v1.9, ensure that you have adequate space available on your database server. See [Diego and Routing API Migrate to a Relational Datastore](#diego_and_routing) and [Cloud Foundry API Availability During Upgrade](#database-migrations).
   * Due to the Cloud Foundry API database migration, the CF API will return 500 status codes while the Cloud Controller VMs are being upgraded. In addition, V3 service bindings are removed without notifying the related broker. Pivotal recommends deleting any V3 service bindings before upgrading. Although existing v2 applications still run normally during the upgrade, some developer interactions with PCF such as pushing apps to PCF may fail. You may want to warn users about potential availability issues during the upgrade window. 


## <a id='1.9.0'></a> New Features in Elastic Runtime v1.9.0

This section describes new features of the release.

### <a id='adv-features'></a> Advanced Features
 
The Advanced Features section of the Elastic Runtime tile includes new functionality that may have certain constraints. Although these features are fully supported, Pivotal recommends caution when using them in production.

### <a id='security'></a>Security Improvements for Intercomponent Communication

The etcd cluster now uses TLS for all communication between servers and clients.

To support the migration from unencrypted to encrypted communication, existing etcd servers are converted into proxies. These proxies allow connections from clients that still communicate unencrypted.

<p class="note"><strong>Important</strong>: The etcd proxy needs to remain deployed until such time as all clients in your deployment have switched to encrypted communications.</p>

Additionally, the Diego Cell VMs now provide a secured API endpoint to communicate with the Diego Brain VM. The Cells provide both encrypted and unencrypted channels of communication in this release.

A complete switch-over to TLS for this communication channel will follow in a subsequent release.

### <a id='containers'></a>Containers Default to Running Unprivileged

In PCF v1.9, all newly staged containers run as unprivileged containers.

Unprivileged containers are a security technique of mapping the root user inside the container to a regular user who has no privileges at the Linux operating system level. This prevents apps from inheriting root access on the host if an app breaks out of the container.

By using the full set of user-namespacing features in Linux, PCF isolates containers sharing the same host.

### <a id='diego_and_routing'></a>Diego and Routing API Migrate to a Relational Datastore

Both Diego and the Routing API datastores have switched over to using a relational database as their backing store. Both Diego and Routing API use the same  database, either internal MySQL or external database, that you configure during a new deployment of Elastic Runtime.

#### Diego Relational Store

Diego no longer uses etcd as a backend datastore. It will now use the database specified in the "Databases" form in the Elastic Runtime Tile configuration. During the initial upgrade deployment, existing data in the etcd cluster will be migrated to its new location in the relational database.

#### Routing API Relational Store

In terms of upgrade, only deployments with the TCP routing feature enabled in PCF v1.8 are impacted. When those deployments are upgraded from PCF v1.8 to PCF v1.9, the upgrade process migrates existing routing API data automatically.

### <a id='database-migrations'></a>Cloud Foundry API Availability During Upgrade

The database backing the CF API performs a backwards-incompatible migration when upgrading from v1.8.x. The purpose of this large database migration is to prepare for the release of the Cloud Controller V3 API.

During the migration, you should expect to see 500 status codes from the API while the Cloud Controller VMs are being deployed.

Here are a couple things to note before performing the upgrade:

  * Ensure there is adequate space available on the database server. This depends on the type of database you use and the amount of data you are migrating. For example, Postgres creates copy tables that can temporarily consume double the size of the apps table.

  * V3 service bindings are removed without notifying the related broker. Pivotal recommends deleting any V3 service bindings before upgrading.

### <a id='one-off'></a>Support for Running Tasks

In addition to managing long-running processes, PCF now has first-class support for running one-off tasks.

Tasks are useful to application developers looking to perform defined operations with finite lifetimes such as database migrations, batch jobs, or seeding blobstores.

The task itself is guaranteed by the platform to run at most once and results in either a success or failure status.

When a task is executed, it inherits the environment of its associated application, including environment variables and filesystem.

For more information, see the [Running Tasks](../devguide/using-tasks.html) topic.

### <a id='net-core'></a>.NET Core Buildpack

The .NET Core Buildpack is now included as a core buildpack for application developers. This buildpack is used by applications running .NET Core on Linux.

The buildpack is only new for operators who have not already upgraded to Elastic Runtime v1.8.13 or higher.

For more information, see the documentation for the [.NET Core Buildpack](../buildpacks/dotnet-core/index.html).

### <a id='actuators'></a>Support for Spring Boot Actuators in Apps Manager

Apps Manager now securely integrates the `/info`, `/health`, and `/logger` Spring Boot actuators for apps that use Spring Boot v1.5 or later.

If an app is configured with these actuators, users will see the following in Apps Manager:

* **Info**: Git commit information will be available in the app page header, and on the app settings tab. Raw output of the `info` actuator is also available on the app settings tab.
* **Health**: The output of the `health` actuator for each instance will be displayed in the instances table on the summary tab of an app. The instance rows can be expanded to show the full details of the `health` endpoint for any instance.
* **Logger**: On the logs tab, the **Configure Logging** button will appear, allowing the user to temporarily configure log levels for the application's loggers without a push or restart.

For more information, see the documentation for [Spring Boot Actuators](../console/spring-boot-actuators.html) and [Using Actuators](../console/using-actuators.html).

### <a id='autoscaling'></a>New Autoscaling Features

The autoscaling service provides new scaling metrics for application developers.

In addition to **CPU Utilization**, the service now supports **HTTP Throughput** and **HTTP Latency** as metrics to decide application scaling events.

* **HTTP Throughput** measures the number of incoming HTTP requests per second per application instance.
* **HTTP Latency** measures application response latency at the 99th and 95th percentiles.

For all metrics, application developers can set upper and lower thresholds to decide whether the service should scale the application.

All metrics are computed as a 30-second rolling average. With the new **Standard** plan, rules are evaluated every 5 seconds.

The autoscaling service now also allows for multiple metrics to be combined for a single application.

Finally, to facilitate the automation of the interactions with the autoscaling service, the service now supports a REST-based API to manage your application scaling configuration.

For more information, see the [Scaling an Application Using Autoscaler](../appsman-services/autoscaler/using-autoscaler.html) topic.

### <a id='zipkin'></a>Zipkin Tracing Headers

With the Zipkin tracing option enabled, the router attaches tracing headers to incoming requests.

Enabling this option allows application developers who have Zipkin-compatible instrumentation in their application to trace requests as they traverse the platform.

For more information, see [Enabling Zipkin Tracing](../adminguide/zipkin_tracing.html).

## <a id='knownissues'></a>Known Issues

This section lists new and existing known issues for Elastic Runtime.

###<a id='newissues'></a>New Issues

* When BOSH is restarted, LogSearch may fail to reconnect to BOSH when it restarts. As a result, after an upgrade to PCF v1.9, not all expected logs may appear in LogSearch. See [Upgrading Pivotal Cloud Foundry](../../customizing/upgrading-pcf.html) for the post-upgrade workaround step.
* There is a naming discrepancy in the .Net Core buildpack between v1.8 and v1.9. The buildpack is referred to as "dotnet-core-buildpack" in v1.8 and "dotnet\_core\_buildpack" in v1.9.
  This will result in 2 versions of the buildpack being created after an upgrade to v1.9.
  Operators should remove the older buildpack after completing the upgrade process, making sure to migrate all applications onto the newer buildpack.

###<a id='existingissues'></a>Existing Issues

* If you choose to enable TCP routing, you must also add the TCP routing domain via the cf CLI after deploying Elastic Runtime. The TCP routing domain is not configurable in the Elastic Runtime tile.
* Consul server cluster can fail to recover from quorum loss.
  See the [Consul fails to start during upgrade in PCF](https://discuss.pivotal.io/hc/en-us/articles/218196687-Consul-fails-to-start-during-upgrade-in-PCF) knowledge base article for how to recover from this issue.
* etcd and Consul clusters do not self-heal in cases where they happen to enter split-brain.
* Disaster recovery for etcd or Consul clusters still requires manual intervention.
* The cf CLI command for viewing application files, `cf files`, does not work with apps on Diego.
