---
title: Pivotal Application Service v2.2 Release Notes
owner: Release Engineering
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider
program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of
providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

### <a id='2.2.0-beta.5'></a> 2.2.0-beta.5

* **[Security Fix]** Bump diego to version `2.8.0` for [CVE-2018-1265](https://www.cloudfoundry.org/blog/cve-2018-1265/)
* Bump capi to version `1.58.1`
* Bump consul to version `193`
* Bump log-cache to version `1.3.0`
* Bump nfs-volume to version `1.2.1`
* Bump push-apps-manager-release to version `665.0.9`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3586.16</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.7.0</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.18</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.2</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.58.1</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>201.0.0</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.11</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.14.0</td>
  </tr><tr>
    <td>cf-networking</td><td>2.3.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>40.0.4</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>6.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.212.0</td>
  </tr><tr>
    <td>consul</td><td>193</td>
  </tr><tr>
    <td>credhub</td><td>1.8.3</td>
  </tr><tr>
    <td>diego</td><td>2.8.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.0.6</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.2</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.21</td>
  </tr><tr>
    <td>haproxy</td><td>8.7.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.12</td>
  </tr><tr>
    <td>log-cache</td><td>1.3.0</td>
  </tr><tr>
    <td>loggregator</td><td>102.1</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.18.0</td>
  </tr><tr>
    <td>nats</td><td>24</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.1</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.23</td>
  </tr><tr>
    <td>notifications</td><td>46</td>
  </tr><tr>
    <td>notifications-ui</td><td>32</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.54</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.9.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>665.0.9</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.2</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.15</td>
  </tr><tr>
    <td>pxc</td><td>0.6.0</td>
  </tr><tr>
    <td>routing</td><td>0.178.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.18</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.27</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.3.0</td>
  </tr><tr>
    <td>silk</td><td>2.3.0</td>
  </tr><tr>
    <td>syslog</td><td>11.3.2</td>
  </tr><tr>
    <td>uaa</td><td>58.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.2.0-beta.4'></a> 2.2.0-beta.4

* **[Feature]** Application service discovery is enabled by default
  * Job is now co-located on the diego brain instance group
  * NOTE: dedicated service discovery instance group is now deprecated
    If upgrading from 2.1 with this feature enabled, do not scale down service discovery instance group until after the upgrade
* **[Feature]** Operator can configure a list of DNS search domains
* **[Feature Improvement]** diego SSH proxy uses internal route for UAA
* Bump cf-networking to version `2.3.0`
  * Fixes issue with package name conflict between networking and silk
* Bump cflinuxfs2 to version `1.212.0`
* Bump log-cache to version `1.2.0`
  * Add checkbox to allow operators to disable log cache
    NOTE: if log cache is disabled, autoscaling will not function properly
* Bump pivotal-account to version `1.9.0`
  * Delete Pivotal Account errand runs by default to clean up application from previous deployment on upgrade
* Bump silk to version `2.3.0`
* Bump stemcell to version `3586.16`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3586.16</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.7.0</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.18</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.2</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.58.0</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>201.0.0</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.11</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.14.0</td>
  </tr><tr>
    <td>cf-networking</td><td>2.3.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>40.0.4</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>6.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.212.0</td>
  </tr><tr>
    <td>consul</td><td>192</td>
  </tr><tr>
    <td>credhub</td><td>1.8.3</td>
  </tr><tr>
    <td>diego</td><td>2.7.1</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.0.6</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.2</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.21</td>
  </tr><tr>
    <td>haproxy</td><td>8.7.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.12</td>
  </tr><tr>
    <td>log-cache</td><td>1.2.0</td>
  </tr><tr>
    <td>loggregator</td><td>102.1</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.18.0</td>
  </tr><tr>
    <td>nats</td><td>24</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.3.0</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.23</td>
  </tr><tr>
    <td>notifications</td><td>46</td>
  </tr><tr>
    <td>notifications-ui</td><td>32</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.54</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.9.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>665.0.8</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.2</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.15</td>
  </tr><tr>
    <td>pxc</td><td>0.6.0</td>
  </tr><tr>
    <td>routing</td><td>0.178.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.18</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.27</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.3.0</td>
  </tr><tr>
    <td>silk</td><td>2.3.0</td>
  </tr><tr>
    <td>syslog</td><td>11.3.2</td>
  </tr><tr>
    <td>uaa</td><td>58.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.2.0-beta.3'></a> 2.2.0-beta.3

* **[Feature]** Operator can disable logging of client IP addresses
* **[Feature Improvement]** Increases session cookie max age to 8 hours for UAA
* **[Feature Improvement]** BBR can now be used when S3 blobstore authentication is configured to use IAM Instance Profiles
* **[Bug Fix]** Fix issue with using external CNI plugins (regression from 2.1)

* Remove cf-app-sd
* Bump backup-and-restore-sdk to version `1.7.0`
* Bump capi to version `1.58.0`
* Bump cf-autoscaling to version `201.0.0`
* Bump cflinuxfs2 to version `1.210.0`
* Bump diego to version `2.7.1`
* Bump push-apps-manager-release to version `665.0.8`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3586.7</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.7.0</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.18</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.2</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.58.0</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>201.0.0</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.11</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.14.0</td>
  </tr><tr>
    <td>cf-networking</td><td>2.1.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>40.0.4</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>6.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.210.0</td>
  </tr><tr>
    <td>consul</td><td>192</td>
  </tr><tr>
    <td>credhub</td><td>1.8.3</td>
  </tr><tr>
    <td>diego</td><td>2.7.1</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.0.6</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.2</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.21</td>
  </tr><tr>
    <td>haproxy</td><td>8.7.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.12</td>
  </tr><tr>
    <td>log-cache</td><td>1.1.1</td>
  </tr><tr>
    <td>loggregator</td><td>102.1</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.18.0</td>
  </tr><tr>
    <td>nats</td><td>24</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.3.0</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.23</td>
  </tr><tr>
    <td>notifications</td><td>46</td>
  </tr><tr>
    <td>notifications-ui</td><td>32</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.54</td>
  </tr><tr>
    <td>pivotal-account</td><td>2.0.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>665.0.8</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.2</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.15</td>
  </tr><tr>
    <td>pxc</td><td>0.6.0</td>
  </tr><tr>
    <td>routing</td><td>0.178.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.18</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.27</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.3.0</td>
  </tr><tr>
    <td>silk</td><td>2.1.0</td>
  </tr><tr>
    <td>syslog</td><td>11.3.2</td>
  </tr><tr>
    <td>uaa</td><td>58.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.2.0-beta.2'></a> 2.2.0-beta.2

* **[New Feature]** New log-cache release exposes low latency APIs for logs and metrics
  * App developers can interact with it using the [log-cache CF CLI plugin](https://github.com/cloudfoundry/log-cache-cli)
  * Other tiles and services will use log cache to enable new features

* **[Removed Feature]** MySQL backup jobs and corresponding configuration have been removed
  * This feature was deprecated in a previous release
* **[Removed Feature]** Pivotal Account app is no longer deployed as a post deploy errand
  * `login.SYSTEMDOMAIN` now routes to the UAA app directly
  * NOTE: if Pivotal Account was previously deployed, it will not currently be removed automatically

* Add log-cache version `1.1.1`

* Rollback credhub version to `1.8.3`

* Bump cf-smoke-tests version to `40.0.4`
* Bump push-apps-manager-release version to `665.0.7`
* Bump routing version to `0.178.0`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3586.7</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.6.0</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.18</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.2</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.57.0</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>118.2</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.11</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.14.0</td>
  </tr><tr>
    <td>cf-networking</td><td>2.1.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>40.0.4</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>6.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.208.0</td>
  </tr><tr>
    <td>consul</td><td>192</td>
  </tr><tr>
    <td>credhub</td><td>1.8.3</td>
  </tr><tr>
    <td>diego</td><td>2.6.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.0.6</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.2</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.21</td>
  </tr><tr>
    <td>haproxy</td><td>8.7.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.12</td>
  </tr><tr>
    <td>log-cache</td><td>1.1.1</td>
  </tr><tr>
    <td>loggregator</td><td>102.1</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.18.0</td>
  </tr><tr>
    <td>nats</td><td>24</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.3.0</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.23</td>
  </tr><tr>
    <td>notifications</td><td>46</td>
  </tr><tr>
    <td>notifications-ui</td><td>32</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.54</td>
  </tr><tr>
    <td>pivotal-account</td><td>2.0.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>665.0.7</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.2</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.15</td>
  </tr><tr>
    <td>pxc</td><td>0.6.0</td>
  </tr><tr>
    <td>routing</td><td>0.178.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.18</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.27</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.3.0</td>
  </tr><tr>
    <td>silk</td><td>2.1.0</td>
  </tr><tr>
    <td>syslog</td><td>11.3.2</td>
  </tr><tr>
    <td>uaa</td><td>58.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.2.0-beta.1'></a> 2.2.0-beta.1

* **[New Feature]** Add support for IAM Instance Profile authentication to AWS blobstores
  * NOTE: there is currently a known issue using this feature in combination with BBR
* **[New Feature]** Add support to BBR for backing up S3 compatible blobstores that are not configured with versioning enabled
* **[New Feature]** UAA now supports creating identity zones that can use multi-factor authentication
  * NOTE: this feature is only available to other tiles and users of UAA; it is not available in PAS
* **[New Feature]** New Percona "PXC" MySQL release with improved security
  * Within the cluster, peers communicate with each other over TLS
  * NOTE: this is on by default for new deployments, but off by default when upgrading
  * Turning it on for an existing deployment will result in some downtime while data is migrated from the existing cf-mysql database to the new database

* **[Feature Improvement]** Add option to enable verbose event logging in Autoscaler
* **[Feature Improvement]** Add option to enable human-readable timestamps in logs for Diego components
  * NOTE: this is on by default for new deployments, but off by default when upgrading

* **[Removed Feature]** MySQL backup jobs and corresponding configuration have been removed
  * This feature was deprecated in a previous release
* **[Removed Feature]** Pivotal Account app is no longer deployed as a post deploy errand
  * `login.SYSTEMDOMAIN` now routes to the UAA app directly
  * NOTE: if Pivotal Account was previously deployed, it will not currently be removed automatically

* Add pxc version `0.6.0`
* Add silk version `2.1.0`
* Add syslog version `11.3.2`

* Remove syslog-migration

* Bump stemcell to version `3586.7`
* Bump capi to version `1.57.0`
* Bump cf-app-sd to version `0.6.0`
* Bump cf-mysql to version `36.14.0`
* Bump cf-networking to version `2.1.0`
* Bump cf-smoke-tests to version `40.0.3`
* Bump cf-syslog-drain to version `6.5`
* Bump cflinuxfs2 to version `1.208.0`
* Bump credhub to version `1.9.1`
* Bump diego to version `2.6.0`
* Bump dotnet-core-offline-buildpack to version `2.0.6`
* Bump garden-runc to version `1.13.2`
* Bump java-offline-buildpack to version `4.12`
* Bump mysql-monitoring to version `8.18.0`
* Bump nats to version `24`
* Bump nfs-volume to version `1.3.0`
* Bump nodejs-offline-buildpack to version `1.6.23`
* Bump php-offline-buildpack to version `4.3.54`
* Bump pivotal-account to version `2.0.0`
* Bump push-apps-manager-release to version `665.0.6`
* Bump push-usage-service-release to version `666.0.2`
* Bump python-offline-buildpack to version `1.6.15`
* Bump routing to version `0.177.0`
* Bump ruby-offline-buildpack to version `1.7.18`
* Bump staticfile-offline-buildpack to version `1.4.27`
* Bump uaa to version `58.1`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3586.7</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.6.0</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.18</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.2</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.57.0</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>118.2</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.11</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.14.0</td>
  </tr><tr>
    <td>cf-networking</td><td>2.1.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>40.0.3</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>6.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.208.0</td>
  </tr><tr>
    <td>consul</td><td>192</td>
  </tr><tr>
    <td>credhub</td><td>1.9.1</td>
  </tr><tr>
    <td>diego</td><td>2.6.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.0.6</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.2</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.21</td>
  </tr><tr>
    <td>haproxy</td><td>8.7.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.12</td>
  </tr><tr>
    <td>loggregator</td><td>102.1</td>
  </tr><tr>
    <td>mysql-backup</td><td>2.1.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.18.0</td>
  </tr><tr>
    <td>nats</td><td>24</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.3.0</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.23</td>
  </tr><tr>
    <td>notifications</td><td>46</td>
  </tr><tr>
    <td>notifications-ui</td><td>32</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.54</td>
  </tr><tr>
    <td>pivotal-account</td><td>2.0.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>665.0.6</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.2</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.15</td>
  </tr><tr>
    <td>pxc</td><td>0.6.0</td>
  </tr><tr>
    <td>routing</td><td>0.177.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.18</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.27</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.3.0</td>
  </tr><tr>
    <td>silk</td><td>2.1.0</td>
  </tr><tr>
    <td>syslog</td><td>11.3.2</td>
  </tr><tr>
    <td>uaa</td><td>58.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.2.0-alpha.2'></a> 2.2.0-alpha.2

* Bump stemcell to version `3451.12`
* Bump backup-and-restore-sdk to version `1.6.0`
* Bump binary-offline-buildpack to version `1.0.18`
* Bump bosh-dns-aliases to version `0.0.2`
* Bump capi to version `1.54.0`
* Bump cf-app-sd to version `0.6.0`
* Bump cf-autoscaling to version `118.2`
* Bump cf-backup-and-restore to version `0.0.11`
* Bump cf-mysql to version `36.12.0`
* Bump cf-networking to version `1.13.0`
* Bump cf-smoke-tests to version `40.0.2`
* Bump cf-syslog-drain to version `6.4`
* Bump cflinuxfs2 to version `1.203.0`
* Bump consul to version `192`
* Bump credhub to version `1.8.3`
* Bump diego to version `2.4.0`
* Bump dotnet-core-offline-buildpack to version `2.0.5`
* Bump garden-runc to version `1.12.1`
* Bump go-offline-buildpack to version `1.8.21`
* Bump haproxy to version `8.7.0`
* Bump java-offline-buildpack to version `4.10`
* Bump loggregator to version `102.1`
* Bump mysql-backup to version `2.1.0`
* Bump mysql-monitoring to version `8.17.0`
* Bump nats to version `23`
* Bump nodejs-offline-buildpack to version `1.6.22`
* Bump notifications to version `46`
* Bump notifications-ui to version `32`
* Bump php-offline-buildpack to version `4.3.51`
* Bump push-apps-manager-release to version `665.0.3`
* Bump push-usage-service-release to version `666.0.2`
* Bump python-offline-buildpack to version `1.6.12`
* Bump routing to version `0.175.0`
* Bump ruby-offline-buildpack to version `1.7.16`
* Bump staticfile-offline-buildpack to version `1.4.26`
* Bump statsd-injector to version `1.3.0`
* Bump syslog-migration to version `11.1.1`
* Bump uaa to version `57.1`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3541.12</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.6.0</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.18</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.2</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.54.0</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>118.2</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.11</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.12.0</td>
  </tr><tr>
    <td>cf-networking</td><td>1.13.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>40.0.2</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>6.4</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.203.0</td>
  </tr><tr>
    <td>consul</td><td>192</td>
  </tr><tr>
    <td>credhub</td><td>1.8.3</td>
  </tr><tr>
    <td>diego</td><td>2.4.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.0.5</td>
  </tr><tr>
    <td>garden-runc</td><td>1.12.1</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.21</td>
  </tr><tr>
    <td>haproxy</td><td>8.7.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.10</td>
  </tr><tr>
    <td>loggregator</td><td>102.1</td>
  </tr><tr>
    <td>mysql-backup</td><td>2.1.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.17.0</td>
  </tr><tr>
    <td>nats</td><td>23</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.0</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.22</td>
  </tr><tr>
    <td>notifications</td><td>46</td>
  </tr><tr>
    <td>notifications-ui</td><td>32</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.51</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.8.3</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>665.0.3</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.2</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.12</td>
  </tr><tr>
    <td>routing</td><td>0.175.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.16</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.26</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.3.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.1</td>
  </tr><tr>
    <td>uaa</td><td>57.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.2.0-alpha.1'></a> 2.2.0-alpha.1

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3541.8</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.4.2</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.15</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.1</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.49.0\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>118</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.10</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.10.0</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>39</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>5.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.188.0</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>credhub</td><td>1.7.1</td>
  </tr><tr>
    <td>diego</td><td>1.35.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.0.1</td>
  </tr><tr>
    <td>garden-runc</td><td>1.11.1</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.16</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.8</td>
  </tr><tr>
    <td>loggregator</td><td>101.5\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.38.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.15.0</td>
  </tr><tr>
    <td>nats</td><td>22</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.0</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.15</td>
  </tr><tr>
    <td>notifications</td><td>44</td>
  </tr><tr>
    <td>notifications-ui</td><td>31</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.48</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.8.3</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>664.0.0</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.1</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.7</td>
  </tr><tr>
    <td>routing</td><td>0.172.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.11</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.21</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.1.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.0</td>
  </tr><tr>
    <td>uaa</td><td>55</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>


## <a id='upgrade'></a> How to Upgrade

The procedure for upgrading to Pivotal Application Service (PAS) v2.2 is documented in the [Upgrading Pivotal Cloud
Foundry](http://docs.pivotal.io/pivotalcf/2-2/customizing/upgrading-pcf.html) topic.

When upgrading to v2.2, be aware of the following upgrade considerations:

* If you previously used an earlier version of PAS, you must first upgrade to PAS v2.1 to successfully upgrade to PAS v2.2.

* Some partner service tiles may be incompatible with PCF v2.2. Pivotal is
  working with partners to ensure their tiles are updated to work with the
  latest versions of PCF.<br/><br/> For information about which partner service
  releases are currently compatible with PCF v2.2, review the appropriate
  partners services release documentation at
  [https://docs.pivotal.io](https://docs.pivotal.io), or contact the partner
  organization that produces the tile.


## <a id='new-features'></a> New Features in PAS v2.2

### <a id="cipher-suites"></a> More Secure Cipher Suites for SSH Proxy

The SSH proxy accepts a narrower range of ciphers, MACs, and key exchanges. This change enables greater security and reduces vulnerabilities.

These SSH-proxy settings are not configurable in the PAS tile.

<p class="note"><strong>Note:</strong> This feature may have complications if you use a SSH client other than <code>cf ssh</code> to connect. See <a href="https://docs.pivotal.io/pivotalcf/devguide/deploy-apps/ssh-apps.html#other-ssh-access">Application SSH Access without cf CLI</a> for more information.</p>

### <a id="timestamp"></a> New Format for Diego Timestamps

You can now use RFC 3339 format for Diego timestamps in logs.

For new PAS v2.2 installations, RFC 3339 format is enabled by default.
The Unix epoch format is set by default for upgrades to PAS v2.2.

You can enable the new timestamp format for Diego logs in the PAS tile.

For more information, see the **Configure Application Containers** section of any IaaS-specific PAS configuration topic, such as [Manually Configuring PAS for AWS](https://docs.pivotal.io/pivotalcf/2-2/customizing/pcf-aws-manual-er-config.html#application-containers-config).

<p class="note breaking"><strong>Breaking Change:</strong> Before enabling RFC 3339 format for Diego logs, ensure that your log aggregation system
anticipates the timestamp format change. If you experience issues, you can disable RFC 3339 format in the PAS tile.</p>

### <a id="task-placement-resilience"></a> Task Placement More Resilient to Resource Unavailability

When memory or disk resources are temporarily unavailable, PAS no longer fails application and staging tasks immediately. Instead, it attempts several times to place the task on a Diego cell with sufficient capacity.

This temporary unavailability may occur when many application instances or tasks are being created or destroyed simultaneously or when the Diego Bulletin Board System (BBS) or auctioneer fails to communicate to one or more Diego cells.

For more information about Diego task allocation, see [How Diego Balances App Processes](https://docs.pivotal.io/pivotalcf/concepts/diego/diego-auction.html).

### <a id="log-cache"></a> Loggregator Introduces Log Cache

Loggregator adds an in-memory caching layer for logs and metrics and provides a RESTful interface for retrieving them. If you use Log Cache, you may notice faster results when retrieving recent logs for your apps from Log Cache instead of executing the `cf logs APP-NAME --recent` command.

Log Cache is colocated on the Doppler VMs. It speeds up the retrieval of data from the Loggregator system, especially for deployments with a large number of Dopplers. Log Cache uses the available memory on a device to store logs, and so may impact performance during periods of high memory contention.

For more information about Log Cache, see [Enable Log Cache](../../opsguide/logging-config-opsman.html#log-cache).

<p class="note"><strong>Note:</strong> Pivotal Application Service's App Autoscaler relies on Log Cache to function properly. If you disable Log Cache, App Autoscaler will fail. For more information, see <a href="https://docs.pivotal.io/pivotalcf/2-2/pcf-release-notes/breaking-changes.html#autoscaler-log-cache">App Autoscaler Fails When Loggregator's Log Cache Is Disabled</a>.</p>

For more information about the new component, see the [Log Cache](https://github.com/cloudfoundry/log-cache) and [Log Cache CLI Plugin](https://github.com/cloudfoundry/log-cache-cli) GitHub repositories.

### <a id="syslog-drains"></a> Syslog Draining for Service Instances (Beta)

The `cf-drain-cli` plugin now enables app developers to bind user-provided syslog drains to service instances.
For more information, see the [CF Drain CLI Plugin](https://github.com/cloudfoundry/cf-drain-cli) GitHub repository.
If a service tile supports syslog drains, app developers can use this plugin to forward logs and metrics from their service instance to an external endpoint.

### <a id='autoscaler-ui'></a> App Autoscaler UI Integrated into Apps Manager

The App Autoscaler UI is now integrated into Apps Manager.
This enables users to configure autoscaling for their apps through Apps Manager.
The new UI is based on the App Autoscaler API v2.0.

For more information about scaling apps using App Autoscaler, see [Scaling an Application Using App Autoscaler](https://docs.pivotal.io/pivotalcf/2-2/appsman-services/autoscaler/using-autoscaler.html).

### <a id='logout'></a> Improved Session Management Behavior in Apps Manager

Users are now logged out of Apps Manager when they log out of UAA or their UAA session expires.
You can configure the **Global Login Session Max Timeout** and **Global Login Session Idle Timeout** values in the **UAA** pane of the PAS tile.

### <a id="instance-profile"></a> Support for AWS Instance Profiles 

PAS now supports [AWS instance profiles](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_switch-role-ec2_instance-profiles.html) when you are configuring an S3 filestore. Either an instance profile or an access and secret key are required.

For more information, see the **External or S3 Filestore** section of any IaaS-specific PAS configuration topic, such as [Installing PAS after Deploying PCF on OpenStack](https://docs.pivotal.io/pivotalcf/customizing/openstack-er-config.html#external_s3).

### <a id='pivotal-account'></a> Pivotal Account Replaced by UAA

Prior to PAS v2.2, you could use Pivotal Account to create and manage user accounts. In PAS v2.2, PAS stops using Pivotal Account, and you can now create and manage user accounts through the UAA UI instead.

The **Errands** pane in the PAS tile replaces **Pivotal Account Errand** with the **Delete Pivotal Account Application** errand, which is configured to run automatically. For more information, see the **Configure Errands** section of any IaaS-specific PAS configuration topic, such as [Manually Configuring PAS for AWS](https://docs.pivotal.io/pivotalcf/customizing/pcf-aws-manual-er-config.html#errands).

### <a id="unversioned-s3"></a> Unversioned S3 Buckets for Backups

PAS can now back up unversioned S3 buckets used for external file storage, saving backup artifacts to separate, dedicated backup buckets. For more information, see the **External or S3 Filestore** section of any IaaS-specific PAS configuration topic, such as [Installing PAS after Deploying PCF on OpenStack](https://docs.pivotal.io/pivotalcf/customizing/openstack-er-config.html#external_s3).

### <a id="mysql-tls"></a> TLS-Encrypted Option for Internal System Databases

For internal system databases, PAS now supports a more secure [Percona Server](https://www.percona.com/software/mysql-database/percona-server) database with TLS-encrypted communication between server nodes, as well as the previous [MariaDB](http://www.mariadb.org) option. See [Migrate to TLS Communication](https://docs.pivotal.io/pivotalcf/2-2/opsguide/scaling-down-mysql.html#migrate) for details.

<p class="note warning"><strong>WARNING:</strong> Migrating PAS internal databases to using TLS causes temporary downtime of PAS system functions. It does not interrupt apps hosted by PAS.</p>

### <a id="metrics-collecton-interval"></a> Updated App Autoscaler Metrics Collection Interval Values

This release updates the minimum, maximum, and default values for the Metrics Collection Interval used by the App Autoscaler in PAS. Updated minimum: 60 seconds. Updated maximum: 3600 seconds. Updated default: 120 seconds.

To configure this value, see the _Configure App Autoscaler_ section of one of the following PAS configuration topics:

* [Deploying PAS on AWS using Terraform](https://docs.pivotal.io/pivotalcf/2-2/customizing/aws-er-config-terraform.html#config-autoscaler)
* [Deploying PAS on Azure](https://docs.pivotal.io/pivotalcf/2-2/customizing/azure-er-config.html#config-autoscaler)
* [Configuring PAS for vSphere
](https://docs.pivotal.io/pivotalcf/2-2/customizing/config-er-vmware.html#config-autoscaler)
* [Deploying PAS on GCP using Terraform
](https://docs.pivotal.io/pivotalcf/2-2/customizing/gcp-er-config-terraform.html#config-autoscaler)
* [Deploying PAS on GCP](https://docs.pivotal.io/pivotalcf/2-2/customizing/gcp-er-config.html#config-autoscaler)
* [Installing PAS after Deploying PCF on OpenStack](https://docs.pivotal.io/pivotalcf/2-2/customizing/openstack-er-config.html#config-autoscaler)
* [Manually Configuring PAS for AWS](https://docs.pivotal.io/pivotalcf/2-2/customizing/pcf-aws-manual-er-config.html#config-autoscaler)

### <a id="verbose-logging-autoscaler"></a> App Autoscaler Verbose Logging

Verbose logs are now available for App Autoscaler. Verbose logs show specific reasons why App Autoscaler scaled the app, information on minimum and maximum instance limits, App Autoscaler's status, and more. Verbose logs result in more detailed logs, but do not otherwise impact performance.

To enable verbose logs, select the **Verbose Logging** checkbox in the App Autoscaler pane.

For more information, see [(Optional) Configure App Autoscaler](https://docs.pivotal.io/pivotalcf/2-2/customizing/pcf-aws-manual-er-config.html#config-autoscaler) in the documentation for any IaaS.


## <a id='known-issues'></a> Known Issues

### <a id="golang-x509"></a> Some Components Use Go v1.9 to Avoid x.509 Cert Errors in v1.10

x509 certificate parsing in the Go language is [stricter](https://golang.org/doc/go1.10#minor_library_changes) in v1.10 than it is in v1.9. As a result, certificates that many Pivotal customers generated with open-source tools and continue to use could cause errors if parsed by Go v1.10. To avoid this, some PAS v2.2 components use Go v1.9, and PAS includes both versions of the language.
