---
title: Pivotal Elastic Runtime v1.10 Release Notes
owner: Release Engineering
---

## <a id='versions'></a> Component Versions

Versions 1.10.0 and higher versions of Elastic Runtime consist of the following component versions:

  [INSERT TABLE HERE]

## <a id='upgrade'></a>How to Upgrade

The procedure for upgrading to Pivotal Cloud Foundry Elastic Runtime v1.10 is documented in the
[Upgrading Pivotal Cloud Foundry](../../customizing/upgrading-pcf.html) topic.

When upgrading to v1.10, be aware of the following upgrade considerations:

   * You must upgrade to a version of Elastic Runtime v1.9.0 or higher in order to successfully upgrade to v1.10.
   * Before upgrading to PCF v1.10, remove any product tiles that are no longer supported in PCF.
     See [Review and Remove Unsupported Products](../../customizing/upgrading-pcf.html#remove-products).<br><br/>
     Some partner service tiles may currently be incompatible with PCF v1.10. Pivotal is working with partners to
     ensure their tiles are being updated to work with the latest versions of PCF.<br/><br/>
     For information about which partner service releases are currently compatible with PCF v1.10, review the
     appropriate partners services release documentation at [http://docs.pivotal.io](http://docs.pivotal.io), or
     contact the partner organization that produces the tile.

## <a id='1.10.0'></a> New Features in Elastic Runtime v1.10.0

This section describes new features of the release.

### <a id='container-networking'></a>Container Networking is Experimental

The Elastic Runtime now offers a Container Networking feature that puts applications onto their own overlay network.

### <a id='volume-services'></a>Volume Services

There is now general support for volume services inside of application containers.

## <a id='knownissues'></a>Known Issues

This section lists new and existing known issues for Elastic Runtime.

###<a id='newissues'></a>New Issues

###<a id='existingissues'></a>Existing Issues
