---
title: Pivotal Application Service v2.0 Release Notes
owner: Release Engineering
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for 2017.

Read more about the [certified provider
program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of
providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

### <a id='2.0.0'></a> 2.0.0

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.1</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.2.1</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.14</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.1</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.44.0</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>104</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.10</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.9.0</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.1</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>39</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>2</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.161.0</td>
  </tr><tr>
    <td>consul</td><td>183</td>
  </tr><tr>
    <td>credhub</td><td>1.6.1</td>
  </tr><tr>
    <td>diego</td><td>1.29.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.27</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.11</td>
  </tr><tr>
    <td>grootfs</td><td>0.30.0</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.6</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.35.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.11.0</td>
  </tr><tr>
    <td>nats</td><td>22</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.1.3</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.8</td>
  </tr><tr>
    <td>notifications</td><td>43</td>
  </tr><tr>
    <td>notifications-ui</td><td>30</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.42</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.7.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>663.0.3</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>664.0.9</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.26</td>
  </tr><tr>
    <td>routing</td><td>0.166.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.3</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.5</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.16</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.30</td>
  </tr><tr>
    <td>syslog-migration</td><td>10</td>
  </tr><tr>
    <td>uaa</td><td>52.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

## <a id='upgrade'></a> How to Upgrade

The procedure for upgrading to Pivotal Application Service (PAS) v2.0 is
documented in the [Upgrading Pivotal Cloud
Foundry](../customizing/upgrading-pcf.html) topic.

When upgrading to v2.0, be aware of the following upgrade considerations:

* You must upgrade first to a version of Elastic Runtime v1.12.x to
  successfully upgrade to PAS v2.0.

* Some partner service tiles may be incompatible with PCF v2.0. Pivotal is
  working with partners to ensure their tiles are being updated to work with the
  latest versions of PCF.<br/><br/> For information about which partner service
  releases are currently compatible with PCF v2.0, review the appropriate
  partners services release documentation at
  [https://docs.pivotal.io](https://docs.pivotal.io), or contact the partner
  organization that produces the tile.

## <a id='new-features'></a> New Features in PAS v2.0.0

### <a id='bosh-dns'></a> BOSH DNS Service Discovery for Application Containers

In PCF v2.0, application containers look up services using the BOSH DNS service discovery mechanism. As a result, the **DNS Servers** field of the **Application Containers** configuration screen in PAS has been removed.

To support this lookup, BOSH Director colocates a BOSH DNS server on every deployed VM. 
This colocation is a prerequisite for migrating completely to BOSH DNS in a future release
of PCF. However, this colocation does not impact the current behaviour of DNS for Cloud
Foundry components in PCF v2.0. System components still use Consul to discover and locate
other Cloud Foundry components.

### <a id='bosh-metrics'></a> BOSH System Metrics Available in Loggregator Firehose

PCF now forwards BOSH health metrics generated for all VMs in a deployment to the Loggregator Firehose by default. For more information about this feature and its implementation, see the *BOSH System Metrics Forwarder* section in the [Overview of the Loggregator System](../loggregator/architecture.html#other-components).

The new flow of BOSH system metrics cannot be disabled. Therefore, if you are currently using the PCF JMX Bridge tile or the BOSH HM Forwarder to consume them, you may receive duplicate data. To prevent this, you can do the following:

* Stop using PCF JMX Bridge to consume BOSH system metrics outside of the Firehose or uninstall this tile. See [Turning BOSH Metrics Off in PCF JMX Bridge](#jmx-bridge) for additional instructions.
* Uninstall the BOSH HM Forwarder.

For guidance on configuring the Ops Manager Director, see [Director Config](../customizing/gcp-om-config.html#director-config) for your IaaS.

### <a id='custom-ca'></a> Gorouter and HAProxy Trust Additional CAs

When validating client requests using mutual TLS, the Gorouter trusts multiple certificate authorities (CAs) by default. Operators can now configure the Gorouter and HAProxy to trust custom CAs in addition to well-known, public CAs and [Ops Manager Director Trusted Certificates](../customizing/gcp-om-config.html#security). For more information about configuring this feature, see the [PAS installation instructions](../customizing/gcp-er-config.html#networking) for your IaaS.

### <a id='multiple-cert'></a> Gorouter and HAProxy Support Multiple Certificates

You can now add more than one certificate for Gorouter and HAProxy in the **Networking** configuration pane. This improves security and removes the need to reissue the existing certificate when you want to add TLS support for custom domains. Gorouter and HAProxy use SNI to determine the correct certificate to present in a TLS handshake. For more information, see the [Multiple Certificates](../adminguide/securing-traffic.html#multcerts) section of _Securing Traffic into Cloud Foundry_

### <a id='mappings-endpoint'></a> Mappings Endpoint Integrated in Apps Manager

Apps Manager now integrates the Spring Boot Actuator `/mappings` endpoint. This endpoint displays the endpoints an app serves and other related details. For more information, see [Using Actuators](../console/using-actuators.html#view-mappings).

### <a id='colocated-errands'></a> Colocated Errands on Instance VMs

Tile authors can configure the errands defined in their product tile to run on existing VMs in a deployment. Colocated errands run faster than traditional errands and use fewer resources, including disk and IP space.

###<a id='bosh-credhub'></a> Migration of Internal Credentials to BOSH CredHub

Several internal credentials, the `secret` and `simple_credentials` that PAS uses for inter-component communication, are now generated and stored in BOSH CredHub instead of the Ops Manager database.

This is part of an ongoing effort to migrate all credentials to BOSH CredHub, which will reduce the amount of places credentials are stored, aid in credential rotation, and increase security. 
For information on the internal credentials that were migrated to BOSH CredHub in 1.12, see the [ Migration of Internal Credentials to BOSH CredHub](https://docs.pivotal.io/pivotalcf/1-12/pcf-release-notes/runtime-rn.html#credhub) section of the _Pivotal Elastic Runtime v1.12 Release Notes_ topic.

If you want to access the following credentials, you must use the CredHub CLI or the Ops Manager API instead of accessing the **Credentials** tab of the PAS tile. 
For instructions on how to retrieve PAS credentials, see [Retrieving Credentials from Your Deployment](../customizing/credentials.html).

+ `.autoscaling.broker_credentials`
+ `.autoscaling.encryption_key`
+ `.backup-prepare.backup_encryption_key`
+ `.diego_database.bbs_encryption_passphrase`
+ `.nfs_server.blobstore_secret`
+ `.notifications.encryption_key`
+ `.push-pivotal-account.encryption_key`
+ `.push-usage-service.secret_token`
+ `.router.route_services_secret`
+ `.properties.consul_encrypt_key`
+ `.nats.credentials`

###<a id='pas-credhub'></a> Introducing PAS CredHub

The PAS tile now includes its own CredHub VM to support the secure storage of service instance credentials. Previously, PCF could only use the Cloud Controller database for storing these credentials. 

Enabling this feature requires the following:

* PCF operators must follow the steps in [Securely Storing Service Instance Credentials with PAS CredHub](../opsguide/secure-si-creds.html).
* PCF service authors must modify their service to store instance credentials in PAS CredHub. Alongside the PAS 2.0 release, the [Spring Cloud Services](https://docs.pivotal.io/spring-cloud-services/) tile is the first service to support storing its instance credentials in PAS CredHub. 

For more information about CredHub in PCF, see the [CredHub Documentation](../credhub/).

### <a id='scheduler'></a> Release-level Backup and Restore

PAS 2.0 includes support for release-level backup and restore. [BBR](../customizing/backup-restore/) now backs up each PAS component using scripts specific to the component.  This new flow ensures services stop using the component database before it is backed up and improves the correctness of the backup. The steps to backup and restore with BBR are unchanged. For more information about component and service availability during backup, see [PAS Component Availability During Backup](../customizing/backup-restore/component-backups.html)

### <a id='scheduler'></a> Syslog Scheduler Highly Available During Zone Outage

Syslog Scheduler instances default to `2`. 
This is the minimum amount of instances necessary to make the syslog drain highly available.

##<a id='knownissues'></a> Known Issues

### <a id='jmx-bridge'></a> Turning BOSH Metrics Off in PCF JMX Bridge

PCF now forwards BOSH health metrics generated for all VMs in a deployment to the Loggregator Firehose by default. See [BOSH System Metrics Available in Loggregator Firehose](#bosh-metrics) for more information.

The new flow of BOSH system metrics cannot be disabled. Therefore, if you are currently using the PCF JMX Bridge tile to consume them, you may receive duplicate data. To prevent this, you can do one of the following:

* Stop using PCF JMX Bridge to consume BOSH system metrics. To turn this feature off, delete **JMX Provider IP Address** in the [Director Config](../customizing/gcp-om-config.html#director-config) of your Ops Manager Director tile. Deleting the IP address means that existing JMX Bridge consumers will no longer be able to read BOSH system metrics from the JMX endpoint provided by the tile. However, they will still be able to read Firehose data in JMX format.
* Uninstall the PCF JMX Bridge tile.

## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PAS tile includes new
functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when
using them in production.
