---
title: Pivotal Elastic Runtime v1.12 Release Notes
owner: Release Engineering
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for 2017.

Read more about the [certified provider
program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of
providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

### <a id='1.12.0-beta.2'></a> 1.12.0-beta.2

* Resolves an issue with migrating the autoscaling encryption key during upgrades.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.14</td>
  </tr><tr>
    <td>capi</td><td>1.39.0</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>95</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.9</td>
  </tr><tr>
    <td>cf-mysql</td><td>36</td>
  </tr><tr>
    <td>cf-networking</td><td>1.4.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>36</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.146.0</td>
  </tr><tr>
    <td>consul</td><td>171</td>
  </tr><tr>
    <td>diego</td><td>1.24.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.23</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.6</td>
  </tr><tr>
    <td>grootfs</td><td>0.24.0</td>
  </tr><tr>
    <td>haproxy</td><td>8.3.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.19</td>
  </tr><tr>
    <td>loggregator</td><td>92</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.35.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.6.0</td>
  </tr><tr>
    <td>nats</td><td>22</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.4</td>
  </tr><tr>
    <td>notifications</td><td>37</td>
  </tr><tr>
    <td>notifications-ui</td><td>29</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.39</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>662.0.8</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>663.0.2</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.22</td>
  </tr><tr>
    <td>routing</td><td>0.160.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.46</td>
  </tr><tr>
    <td>scalablesyslog</td><td>10</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.12</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.29</td>
  </tr><tr>
    <td>syslog-migration</td><td>8</td>
  </tr><tr>
    <td>uaa</td><td>45</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.12.0-beta.1'></a> 1.12.0-beta.1

* The stemcell has been bumped to v3445.
* The `tcp_emitter` has been removed from the Diego Brain VM.
* Container Networking is now always enabled.
* Container Networking can now log application packets.
* The TLS cipher suites for HAProxy, Router, Doppler, and Metron can now be set independently.
* The "Networking Point of Entry" selector has been removed in favor of a simplified Networking UI.
* HAProxy can now forward requests to the Router over TLS.
* Both HAProxy and Router can enforce a minimum TLS version.
* Operators can now set a limit on the number of concurrent connections between the Router and a backend.
* The MySQL backup S3 region dropdown is replaced with a simple text field.
* The S3 blobstore region dropdown is replaced with a simple text field.
* There is now support for performing automated backup of the internal MySQL database to Azure and GCP.
* TCP keepalive connections to the CloudController API have been disabled.
* The Cloud Controller knows about a future Windows 2016 stack.
* Operators can now set a global staging timeout for their applications.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.14</td>
  </tr><tr>
    <td>capi</td><td>1.39.0</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>95</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.9</td>
  </tr><tr>
    <td>cf-mysql</td><td>36</td>
  </tr><tr>
    <td>cf-networking</td><td>1.4.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>36</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.146.0</td>
  </tr><tr>
    <td>consul</td><td>171</td>
  </tr><tr>
    <td>diego</td><td>1.24.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.23</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.6</td>
  </tr><tr>
    <td>grootfs</td><td>0.24.0</td>
  </tr><tr>
    <td>haproxy</td><td>8.3.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.19</td>
  </tr><tr>
    <td>loggregator</td><td>92</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.35.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.6.0</td>
  </tr><tr>
    <td>nats</td><td>22</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.4</td>
  </tr><tr>
    <td>notifications</td><td>37</td>
  </tr><tr>
    <td>notifications-ui</td><td>29</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.39</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>662.0.8</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>663.0.2</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.22</td>
  </tr><tr>
    <td>routing</td><td>0.160.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.46</td>
  </tr><tr>
    <td>scalablesyslog</td><td>10</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.12</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.29</td>
  </tr><tr>
    <td>syslog-migration</td><td>8</td>
  </tr><tr>
    <td>uaa</td><td>45</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.12.0-alpha.7'></a> 1.12.0-alpha.7

* Diego Cells can now generate instance identity credentials for application
  instances.
* Cloud Controller will now perform periodic cleanup of orphaned blobs.
* Healthwatch now has UAA clients.
* Apps Manager is now feature complete for this release.
* Operators can opt-out of using GrootFS.
* Certificate and Key for the Networking Point of Entry are now required. The
  same certificate and key will be used to configure both Router and HAProxy.
* Operators can opt-out of having their MySQL history recorded on the internal
  MySQL VMs.
* HAProxy can be configured to reject requests to protected domains unless the
  source IPs are from a trusted CIDR.
* Applications now have access to mTLS client certificates on request headers.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.14</td>
  </tr><tr>
    <td>capi</td><td>1.39.0</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>95</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.9</td>
  </tr><tr>
    <td>cf-mysql</td><td>36</td>
  </tr><tr>
    <td>cf-networking</td><td>1.4.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>36</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.146.0</td>
  </tr><tr>
    <td>consul</td><td>171</td>
  </tr><tr>
    <td>diego</td><td>1.24.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.23</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.6</td>
  </tr><tr>
    <td>grootfs</td><td>0.24.0</td>
  </tr><tr>
    <td>haproxy</td><td>8.3.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.19</td>
  </tr><tr>
    <td>loggregator</td><td>92</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.35.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.7.0</td>
  </tr><tr>
    <td>nats</td><td>22</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.4</td>
  </tr><tr>
    <td>notifications</td><td>37</td>
  </tr><tr>
    <td>notifications-ui</td><td>29</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.39</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>662.0.8</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>663.0.2</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.22</td>
  </tr><tr>
    <td>routing</td><td>0.160.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.46</td>
  </tr><tr>
    <td>scalablesyslog</td><td>10</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.12</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.29</td>
  </tr><tr>
    <td>syslog-migration</td><td>8</td>
  </tr><tr>
    <td>uaa</td><td>45</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.12.0-alpha.6'></a> 1.12.0-alpha.6

* The Diego Rep now communicates with the Metron Agent via the Loggregator V2
  API.  This change further secures that API interaction as it is performed via
  mutual TLS.
* The checkbox allowing operators to "Skip Consul Locks" has been removed. The
  default setting is now to skip using Consul for locks in all cases.
* The NFSV3 Volume Services feature can now be configured to use LDAP for user
  authentication and permissions.
* The smoke test errand will now correctly use the system organization to
  deploy its canary applications.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.14</td>
  </tr><tr>
    <td>capi</td><td>1.36.0</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>95</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.9</td>
  </tr><tr>
    <td>cf-mysql</td><td>36</td>
  </tr><tr>
    <td>cf-networking</td><td>1.3.4</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>36</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.146.0</td>
  </tr><tr>
    <td>consul</td><td>171</td>
  </tr><tr>
    <td>diego</td><td>1.24.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.22</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.6</td>
  </tr><tr>
    <td>grootfs</td><td>0.21.0</td>
  </tr><tr>
    <td>haproxy</td><td>8.3.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.19</td>
  </tr><tr>
    <td>loggregator</td><td>91</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.35.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.6.0</td>
  </tr><tr>
    <td>nats</td><td>22</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.4</td>
  </tr><tr>
    <td>notifications</td><td>37</td>
  </tr><tr>
    <td>notifications-ui</td><td>29</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.39</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>662.0.4</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>663.0.2</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.22</td>
  </tr><tr>
    <td>routing</td><td>0.159.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.46</td>
  </tr><tr>
    <td>scalablesyslog</td><td>10</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.12</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.29</td>
  </tr><tr>
    <td>syslog-migration</td><td>8</td>
  </tr><tr>
    <td>uaa</td><td>45</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.12.0-alpha.5'></a> 1.12.0-alpha.5

* The Usage Service is now deployed independently of Apps Manager.
* Operators can configure the `Cluster Probe Timeout` for the internal MySQL
  deployment.
* The S3 region `us-east-2` is now supported for MySQL automated backup.
* **[Stability Improvement]** Reduces the default for
  `cc.droplets.max_staged_droplets_stored` from 5 to 2. This will result in
  reduced blobstore utilization as the Cloud Controller will only keep 2
  historic staged application droplets, in addition to the currently running
  application droplet. Garbage collection of expired droplets will occur the
  next time an application is staged.
* The HTTP healthcheck is now always enabled for HAProxy. This is to match the
  existing CF HAProxy behavior.
* The `silk-controller` on the Diego Brain now provides a cross-deployment link
  called `cf_network`.
* The Backup Prepare VM can now be deployed with automated backup disabled.
  This will allow for a more understandable `bbr` deployment and workflow.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.14</td>
  </tr><tr>
    <td>capi</td><td>1.36.0</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>95</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.9</td>
  </tr><tr>
    <td>cf-mysql</td><td>36</td>
  </tr><tr>
    <td>cf-networking</td><td>1.3.4</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>36</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.145.0</td>
  </tr><tr>
    <td>consul</td><td>171</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.22</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.6</td>
  </tr><tr>
    <td>grootfs</td><td>0.21.0</td>
  </tr><tr>
    <td>haproxy</td><td>8.3.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.19</td>
  </tr><tr>
    <td>loggregator</td><td>91</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.35.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.6.0</td>
  </tr><tr>
    <td>nats</td><td>22</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.4</td>
  </tr><tr>
    <td>notifications</td><td>37</td>
  </tr><tr>
    <td>notifications-ui</td><td>29</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.39</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>662.0.4</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>663.0.2</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.22</td>
  </tr><tr>
    <td>routing</td><td>0.159.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.46</td>
  </tr><tr>
    <td>scalablesyslog</td><td>10</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.12</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.29</td>
  </tr><tr>
    <td>syslog-migration</td><td>8</td>
  </tr><tr>
    <td>uaa</td><td>45</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.12.0-alpha.4'></a> 1.12.0-alpha.4

* Adds GrootFS to run applications in OCI-compliant containers.
* Secures the CC-Bridge components.
* Introduces Route Sharding.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.36.0</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>94</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.9</td>
  </tr><tr>
    <td>cf-mysql</td><td>36</td>
  </tr><tr>
    <td>cf-networking</td><td>1.2.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>36</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.141.0</td>
  </tr><tr>
    <td>consul</td><td>171</td>
  </tr><tr>
    <td>diego</td><td>1.23.1</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.22</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.5</td>
  </tr><tr>
    <td>grootfs</td><td>0.21.0</td>
  </tr><tr>
    <td>haproxy</td><td>8.3.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.19</td>
  </tr><tr>
    <td>loggregator</td><td>91</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.35.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.6.0</td>
  </tr><tr>
    <td>nats</td><td>22</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.3</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.38</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>662.0.3</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.20</td>
  </tr><tr>
    <td>routing</td><td>0.159.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.44</td>
  </tr><tr>
    <td>scalablesyslog</td><td>9</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.11</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.29</td>
  </tr><tr>
    <td>syslog-migration</td><td>7</td>
  </tr><tr>
    <td>uaa</td><td>43</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.12.0-alpha.3'></a> 1.12.0-alpha.3

* Changes the stemcell to v3421.9.
* Resolves an issue with UAA SAML Service Provider Key Password quoting.
* Replaces cf-release HAProxy job with the OSS HAProxy release.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.35.0</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>94</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.9</td>
  </tr><tr>
    <td>cf-mysql</td><td>36</td>
  </tr><tr>
    <td>cf-networking</td><td>1.2.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>36</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.138.0</td>
  </tr><tr>
    <td>consul</td><td>171</td>
  </tr><tr>
    <td>diego</td><td>1.22.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.22</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.5</td>
  </tr><tr>
    <td>haproxy</td><td>8.3.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.18</td>
  </tr><tr>
    <td>loggregator</td><td>91</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.35.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.5.0</td>
  </tr><tr>
    <td>nats</td><td>22</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.3</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.38</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>662.0.3</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.20</td>
  </tr><tr>
    <td>routing</td><td>0.159.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.44</td>
  </tr><tr>
    <td>scalablesyslog</td><td>8</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.11</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>7</td>
  </tr><tr>
    <td>uaa</td><td>41</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.12.0-alpha.2'></a> 1.12.0-alpha.2

* Makes the `cf-mysql` cluster identifier consistent with the rest of the ERT metrics namespace. It is now set to `cf`.
* Sets the default max-in-flight value for the Diego Cells to 4%.
* Enables `cf_mysql.mysql.innodb_strict_mode` for the Internal MySQL database.
* Adds Diego configuration for declarative healthchecks. Still missing
  integrated CC-bridge that will enable this (coming in a future alpha).

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.11</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.33.0</td>
  </tr><tr>
    <td>cf</td><td>267</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>94</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.9</td>
  </tr><tr>
    <td>cf-mysql</td><td>36</td>
  </tr><tr>
    <td>cf-networking</td><td>1.2.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>36</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.137.0</td>
  </tr><tr>
    <td>consul</td><td>171</td>
  </tr><tr>
    <td>diego</td><td>1.22.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.21</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.5</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.18</td>
  </tr><tr>
    <td>loggregator</td><td>91</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.35.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.4.0</td>
  </tr><tr>
    <td>nats</td><td>21</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.2</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.37</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>662.0.3</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.20</td>
  </tr><tr>
    <td>routing</td><td>0.159.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.43</td>
  </tr><tr>
    <td>scalablesyslog</td><td>8</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.11</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>6</td>
  </tr><tr>
    <td>uaa</td><td>41</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.12.0-alpha.1'></a> 1.12.0-alpha.1

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.11</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.32.0</td>
  </tr><tr>
    <td>cf</td><td>267</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>94</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>35.1.0</td>
  </tr><tr>
    <td>cf-networking</td><td>1.2.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>36</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.137.0</td>
  </tr><tr>
    <td>consul</td><td>171</td>
  </tr><tr>
    <td>diego</td><td>1.21.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.20</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.5</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.18</td>
  </tr><tr>
    <td>loggregator</td><td>90.1</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.35.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.4.0</td>
  </tr><tr>
    <td>nats</td><td>20</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.5.36</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.35</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>662.0.3</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.19</td>
  </tr><tr>
    <td>routing</td><td>0.159.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.41</td>
  </tr><tr>
    <td>scalablesyslog</td><td>7</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.9</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>6</td>
  </tr><tr>
    <td>uaa</td><td>41</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

## <a id='upgrade'></a> How to Upgrade

The procedure for upgrading to Pivotal Cloud Foundry Elastic Runtime v1.12 is
documented in the [Upgrading Pivotal Cloud
Foundry](../customizing/upgrading-pcf.html) topic.

When upgrading to v1.12, be aware of the following upgrade considerations:

* You must upgrade first to a version of Elastic Runtime v1.11.x in order to
  successfully upgrade to v1.12.
* Some partner service tiles may be incompatible with PCF v1.12. Pivotal is
  working with partners to ensure their tiles are being updated to work with the
  latest versions of PCF.<br/><br/> For information about which partner service
  releases are currently compatible with PCF v1.12, review the appropriate
  partners services release documentation at
  [https://docs.pivotal.io](https://docs.pivotal.io), or contact the partner
  organization that produces the tile.

## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the Elastic Runtime tile includes new
functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when
using them in production.

## <a id='1.12.0'></a> New Features in Elastic Runtime v1.12.0

This section describes new features of the release.

### Removal of etcd

This release removes the `etcd` server VMs from the PCF deployment.  Operators
should ensure they are deploying service tiles that are known to be compatible
with PCF Elastic Runtime 1.12.

### Removal of Postgres

This release removes the legacy Postgres databases for the Cloud Controller and
UAA.  If your deployment was originally installed before PCF 1.6 and still uses
Postgres, you must contact your dedicated Support Engineer or Platform
Architect for assistance migrating your Cloud Controller and UAA databases to
MySQL. They will have access to the PostgreSQL-to-MySQL Migrator tool and
instructions on Pivotal Network.

If you do not migrate to MySQL before upgrading to Elastic Runtime 1.12, the
upgrade will fail.

### Diego Cell Max-in-Flight Default

The max-in-flight percentage for the Diego Cell job in the Elastic Runtime has
been set to 10% since 1.9, but we've seen especially in larger environments
that having the percentage this high can cause some problems:

* Many simultaneous VM creates/deletes and BOSH blob updates can place
significant stress on the underlying infrastructure, especially on vSphere
which has a greater probability of being under-provisioned.
* The cells that are draining are no longer available for allocation, resulting
in a 10% decrease in total memory and disk capacity during the deployment. This
can cause deployments to no longer have sufficient total capacity to run all
the work, or to have insufficient headroom to place larger workloads
successfully.

For these reasons, we have lowered the default max-in-flight percentage on the
Diego Cells to 4%. Operators can still use the Ops Manager API to configure
this setting to fit their needs.

### HAProxy Release

The old HAProxy job, which was the last remaining component from `cf-release`,
has been removed. Replacing it will be the newly incubated
`haproxy-boshrelease`.  The release repository can be found at
[https://github.com/cloudfoundry-incubator/haproxy-boshrelease](https://github.com/cloudfoundry-incubator/haproxy-boshrelease).

### Introducing GrootFS

GrootFS is the new container image management plugin for Garden-runC.
It helps with the filesystem isolation of Garden-runC containers,
image caching,
and disk quota enforcement.
GrootFS replaces the previous, built-in, functionality,
because it was using an obsolete layer file system (AUFS)
which is not very well supported by the Linux Kernel community.
Additionally, GrootFS uses [OCI](https://www.opencontainers.org/) standards
for [container images](http://github.com/opencontainers/image-spec).

### Secure Communication between Cloud Controller and Diego

In previous versions of PCF, the Diego Brain VM ran the Cloud Controller Bridge component, which translated Cloud Controller requests into Diego API commands. The Cloud Controller Bridge conveyed communications between the Cloud Controller and Diego over plaintext HTTP. In PCF v1.12, the Cloud Controller and Diego communicate directly via secure TLS protocol. This change streamlines and secures internal communications, and removes the Cloud Controller Bridge.

### Router Sharding Mode

The tile supports router sharding. Operators can choose to have the tile's
routers only acknowledge requests from applications deployed within the tile's
Cells, or reject requests for any isolation segment.

### Improved System Performance for App Health Checks

<p class="note"><strong>Note</strong>: This feature requires that you enable secure communication between the Cloud Controller and Diego. For more information, see the <a
href="../customizing/upgrading-pcf.html#cc">Secure the Cloud Controller</a> section of <a
href="../customizing/upgrading-pcf.html">Upgrading Pivotal Cloud Foundry</a>.</p>

This release changes how Elastic Runtime runs app health checks to improve
system performance in resource-constrained environments, such as on-premise
installations of PCF. This change does not impact the developer workflow for
[configuring app health checks](../devguide/deploy-apps/healthchecks.html).

Health checks during app startup previously increased system load because they
ran as a Garden process every two seconds. Also, apps that started successfully
could wrongly fail if slow system performance caused the app health check to
time out. In some severe cases, such app failures caused additional resource
consumption and a chain-reaction of app failures.

This release resolves these issues through a new implementation that does not
invoke a new process on every health check. Rather, the health check now runs
as a long-lived process in the app container. Developers may see these
processes if they access an app container through `cf ssh` and list the
processes.

### NFSV3 Volume Services with LDAP

Using LDAP will secure the NFSV3 Volume Service as it would no longer be
possible for an application developer to bind to an NFS share using an
arbitrary UID, potentially gaining access to sensitive data stored by another
user or application.

Once LDAP support is enabled and regular UID and GID parameters are disabled,
application developers will need to provide credentials for any user they wish
to bind as.

### Application Instance Identity Credentials

The instance identity system in Diego provides each application instance with a
PEM-encoded X.509 certificate and PKCS#1 RSA private key. The values of the
environment variables `CF_INSTANCE_CERT` and `CF_INSTANCE_KEY` contain the
absolute paths to the certificate and private key files, respectively.

### Orphaned Blob Cleanup

Cloud Controller will now scan the blobstore on a regular interval to identify and remove orphaned blobs.

### Restructuring of the Networking Point of Entry

The Point of Entry options on the Networking tab have been restructured to be
more understandable and flexible.  Operators will no longer need to configure
their Router or HAProxy separately as both components will be configured using
the same options.

### Mutual TLS Headers on Inbound Application Traffic

Gorouter can now forward the `X-Forwarded-Client-Cert` header onto application
instances when provided. Alternatively, operators can configure Gorouter to
forward the header only when the mutual TLS connection from the client can be
validated. Additionally, operators may now configure Gorouter to overwrite the
XFCC header with the client certificate received in mTLS handshakes.

##<a id='knownissues'></a> Known Issues
