---
title: Pivotal Elastic Runtime v1.12 Release Notes
owner: Release Engineering
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for 2017.

Read more about the [certified provider
program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of
providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

### <a id='1.12.0'></a> 1.12.0

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td></td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td></td>
  </tr><tr>
    <td>capi</td><td></td>
  </tr><tr>
    <td>cf</td><td></td>
  </tr><tr>
    <td>cf-autoscaling</td><td></td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td></td>
  </tr><tr>
    <td>cf-mysql</td><td></td>
  </tr><tr>
    <td>cf-networking</td><td></td>
  </tr><tr>
    <td>cf-smoke-tests</td><td></td>
  </tr><tr>
    <td>cflinuxfs2</td><td></td>
  </tr><tr>
    <td>consul</td><td></td>
  </tr><tr>
    <td>diego</td><td></td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td></td>
  </tr><tr>
    <td>etcd</td><td></td>
  </tr><tr>
    <td>garden-runc</td><td></td>
  </tr><tr>
    <td>go-offline-buildpack</td><td></td>
  </tr><tr>
    <td>java-offline-buildpack</td><td></td>
  </tr><tr>
    <td>loggregator</td><td></td>
  </tr><tr>
    <td>mysql-backup</td><td></td>
  </tr><tr>
    <td>mysql-monitoring</td><td></td>
  </tr><tr>
    <td>nats</td><td></td>
  </tr><tr>
    <td>nfs-volume</td><td></td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td></td>
  </tr><tr>
    <td>notifications</td><td></td>
  </tr><tr>
    <td>notifications-ui</td><td></td>
  </tr><tr>
    <td>php-offline-buildpack</td><td></td>
  </tr><tr>
    <td>pivotal-account</td><td></td>
  </tr><tr>
    <td>postgres</td><td></td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>6</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td></td>
  </tr><tr>
    <td>routing</td><td>0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td></td>
  </tr><tr>
    <td>scalablesyslog</td><td></td>
  </tr><tr>
    <td>service-backup</td><td></td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td></td>
  </tr><tr>
    <td>statsd-injector</td><td></td>
  </tr><tr>
    <td>syslog-migration</td><td></td>
  </tr><tr>
    <td>uaa</td><td></td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

## <a id='upgrade'></a> How to Upgrade

The procedure for upgrading to Pivotal Cloud Foundry Elastic Runtime v1.12 is
documented in the [Upgrading Pivotal Cloud
Foundry](../customizing/upgrading-pcf.html) topic.

When upgrading to v1.12, be aware of the following upgrade considerations:

* You must upgrade first to a version of Elastic Runtime v1.11.x in order to
  successfully upgrade to v1.12.
* Some partner service tiles may be incompatible with PCF v1.12. Pivotal is
  working with partners to ensure their tiles are being updated to work with the
  latest versions of PCF.<br/><br/> For information about which partner service
  releases are currently compatible with PCF v1.12, review the appropriate
  partners services release documentation at
  [https://docs.pivotal.io](https://docs.pivotal.io), or contact the partner
  organization that produces the tile.

## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the Elastic Runtime tile includes new
functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when
using them in production.

## <a id='1.12.0'></a> New Features in Elastic Runtime v1.12.0

This section describes new features of the release.

## <a id='knownissues'></a> Known Issues