---
title: Pivotal Application Service v2.2 Release Notes
owner: Release Engineering
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

### <a id='2.2.16'></a> 2.2.16

* **[Security Fix]** Fix insecure gradle dependency in CredHub
* **[Bug Fix]** Allow persistent disk size on backup and restore to be configured
* Bump ubuntu-trusty stemcell to version `3586.100`
* Bump cflinuxfs2 to version `1.283.0`
* Bump credhub to version `1.9.12`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-trusty stemcell</td><td>3586.100</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.12.0</td></tr>
    <tr><td>binary-offline-buildpack-lts</td><td>1.0.30</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.2</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.15</td></tr>
    <tr><td>capi</td><td>1.58.16</td></tr>
    <tr><td>cf-autoscaling</td><td>201.11</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.5.0</td></tr>
    <tr><td>cf-mysql</td><td>36.16.0</td></tr>
    <tr><td>cf-networking</td><td>2.3.3</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>cf-syslog-drain</td><td>6.8</td></tr>
    <tr><td>cflinuxfs2</td><td>1.283.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>credhub</td><td>1.9.12</td></tr>
    <tr><td>diego</td><td>2.8.7</td></tr>
    <tr><td>dotnet-core-offline-buildpack-lts</td><td>2.2.5</td></tr>
    <tr><td>garden-runc</td><td>1.16.8</td></tr>
    <tr><td>go-offline-buildpack-lts</td><td>1.8.33</td></tr>
    <tr><td>haproxy</td><td>8.7.0</td></tr>
    <tr><td>java-offline-buildpack-lts</td><td>4.16.1</td></tr>
    <tr><td>log-cache</td><td>1.4.7</td></tr>
    <tr><td>loggregator</td><td>102.8</td></tr>
    <tr><td>mysql-monitoring</td><td>8.20.0</td></tr>
    <tr><td>nats</td><td>24</td></tr>
    <tr><td>nfs-volume</td><td>1.2.6</td></tr>
    <tr><td>nodejs-offline-buildpack-lts</td><td>1.6.43</td></tr>
    <tr><td>notifications-ui</td><td>33</td></tr>
    <tr><td>notifications</td><td>46</td></tr>
    <tr><td>php-offline-buildpack-lts</td><td>4.3.70</td></tr>
    <tr><td>pivotal-account</td><td>1.9.1</td></tr>
    <tr><td>push-apps-manager-release</td><td>665.0.32</td></tr>
    <tr><td>push-usage-service-release</td><td>666.0.12</td></tr>
    <tr><td>pxc</td><td>0.14.1</td></tr>
    <tr><td>python-offline-buildpack-lts</td><td>1.6.28</td></tr>
    <tr><td>routing</td><td>0.178.7</td></tr>
    <tr><td>ruby-offline-buildpack-lts</td><td>1.7.31</td></tr>
    <tr><td>silk</td><td>2.3.4</td></tr>
    <tr><td>staticfile-offline-buildpack-lts</td><td>1.4.39</td></tr>
    <tr><td>statsd-injector</td><td>1.3.0</td></tr>
    <tr><td>syslog</td><td>11.3.2</td></tr>
    <tr><td>uaa</td><td>60.13</td></tr>
  </tbody>
</table>

### <a id='2.2.15'></a> 2.2.15

* **[Feature Improvement]** Reduce load on autoscaling database by adding indices to improve query efficiency
* **[Bug Fix]** Increase TLS Certificate verification depth in Apps Manager to allow for longer certificate chains
* **[Bug Fix]** Apps Manager correctly displays footer text when not set in Ops Manager
* Bump ubuntu-trusty stemcell to version `3586.96`
* Bump capi to version `1.58.16`
* Bump cf-autoscaling to version `201.11`
* Bump cflinuxfs2 to version `1.280.0`
* Bump push-apps-manager-release to version `665.0.32`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-trusty stemcell</td><td>3586.96</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.12.0</td></tr>
    <tr><td>binary-offline-buildpack-lts</td><td>1.0.30</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.2</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.15</td></tr>
    <tr><td>capi</td><td>1.58.16</td></tr>
    <tr><td>cf-autoscaling</td><td>201.11</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.5.0</td></tr>
    <tr><td>cf-mysql</td><td>36.16.0</td></tr>
    <tr><td>cf-networking</td><td>2.3.3</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>cf-syslog-drain</td><td>6.8</td></tr>
    <tr><td>cflinuxfs2</td><td>1.280.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>credhub</td><td>1.9.9</td></tr>
    <tr><td>diego</td><td>2.8.7</td></tr>
    <tr><td>dotnet-core-offline-buildpack-lts</td><td>2.2.5</td></tr>
    <tr><td>garden-runc</td><td>1.16.8</td></tr>
    <tr><td>go-offline-buildpack-lts</td><td>1.8.33</td></tr>
    <tr><td>haproxy</td><td>8.7.0</td></tr>
    <tr><td>java-offline-buildpack-lts</td><td>4.16.1</td></tr>
    <tr><td>log-cache</td><td>1.4.7</td></tr>
    <tr><td>loggregator</td><td>102.8</td></tr>
    <tr><td>mysql-monitoring</td><td>8.20.0</td></tr>
    <tr><td>nats</td><td>24</td></tr>
    <tr><td>nfs-volume</td><td>1.2.6</td></tr>
    <tr><td>nodejs-offline-buildpack-lts</td><td>1.6.43</td></tr>
    <tr><td>notifications-ui</td><td>33</td></tr>
    <tr><td>notifications</td><td>46</td></tr>
    <tr><td>php-offline-buildpack-lts</td><td>4.3.70</td></tr>
    <tr><td>pivotal-account</td><td>1.9.1</td></tr>
    <tr><td>push-apps-manager-release</td><td>665.0.32</td></tr>
    <tr><td>push-usage-service-release</td><td>666.0.12</td></tr>
    <tr><td>pxc</td><td>0.14.1</td></tr>
    <tr><td>python-offline-buildpack-lts</td><td>1.6.28</td></tr>
    <tr><td>routing</td><td>0.178.7</td></tr>
    <tr><td>ruby-offline-buildpack-lts</td><td>1.7.31</td></tr>
    <tr><td>silk</td><td>2.3.4</td></tr>
    <tr><td>staticfile-offline-buildpack-lts</td><td>1.4.39</td></tr>
    <tr><td>statsd-injector</td><td>1.3.0</td></tr>
    <tr><td>syslog</td><td>11.3.2</td></tr>
    <tr><td>uaa</td><td>60.13</td></tr>
  </tbody>
</table>

### <a id='2.2.14'></a> 2.2.14

* **[Security Fix]** Bump UAA to address CVE-2019-3775
* **[Feature Improvement]** Improve error messages when installing buildpacks
* **[Feature Improvement]** Increase performance for internal MySQL by setting the setting for `innodb_flush_log_at_trx_commit` from 1 to 2.  This increases performance safely for clustered deployments.  Single node might need to scale up to avoid the possibility of 1 second of data loss during deploys.
* **[Feature Improvement]** Add support for tcp hitless reloads in haproxy to avoid connection reset errors
* **[Feature Improvement]** Add ability to enable/disable gorouter hairpinning with **Bypass security checks for route service lookup**. This feature has potential security concerns, but may be needed for backwards compatibility. See [Configuring Route Service Lookup](https://docs.pivotal.io/pivotalcf/2-2/customizing/route-service-lookup.html).
* **[Bug Fix]** Fix issue in which Apps Manager shows `Invalid User` as the username for space and organization members without usernames, such as UAA clients
* Bump ubuntu-trusty stemcell to version `3586.93`
* Bump capi to version `1.58.15`
* Bump cf-autoscaling to version `201.10`
* Bump cf-syslog-drain to version `6.8`
* Bump cflinuxfs2 to version `1.279.0`
* Bump push-apps-manager-release to version `665.0.30`
* Bump routing to version `0.178.7`
* Bump uaa to version `60.13`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-trusty stemcell</td><td>3586.93</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.12.0</td></tr>
    <tr><td>binary-offline-buildpack-lts</td><td>1.0.30</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.2</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.15</td></tr>
    <tr><td>capi</td><td>1.58.15</td></tr>
    <tr><td>cf-autoscaling</td><td>201.10</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.5.0</td></tr>
    <tr><td>cf-mysql</td><td>36.16.0</td></tr>
    <tr><td>cf-networking</td><td>2.3.3</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>cf-syslog-drain</td><td>6.8</td></tr>
    <tr><td>cflinuxfs2</td><td>1.279.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>credhub</td><td>1.9.9</td></tr>
    <tr><td>diego</td><td>2.8.7</td></tr>
    <tr><td>dotnet-core-offline-buildpack-lts</td><td>2.2.5</td></tr>
    <tr><td>garden-runc</td><td>1.16.8</td></tr>
    <tr><td>go-offline-buildpack-lts</td><td>1.8.33</td></tr>
    <tr><td>haproxy</td><td>8.7.0</td></tr>
    <tr><td>java-offline-buildpack-lts</td><td>4.16.1</td></tr>
    <tr><td>log-cache</td><td>1.4.7</td></tr>
    <tr><td>loggregator</td><td>102.8</td></tr>
    <tr><td>mysql-monitoring</td><td>8.20.0</td></tr>
    <tr><td>nats</td><td>24</td></tr>
    <tr><td>nfs-volume</td><td>1.2.6</td></tr>
    <tr><td>nodejs-offline-buildpack-lts</td><td>1.6.43</td></tr>
    <tr><td>notifications-ui</td><td>33</td></tr>
    <tr><td>notifications</td><td>46</td></tr>
    <tr><td>php-offline-buildpack-lts</td><td>4.3.70</td></tr>
    <tr><td>pivotal-account</td><td>1.9.1</td></tr>
    <tr><td>push-apps-manager-release</td><td>665.0.30</td></tr>
    <tr><td>push-usage-service-release</td><td>666.0.12</td></tr>
    <tr><td>pxc</td><td>0.14.1</td></tr>
    <tr><td>python-offline-buildpack-lts</td><td>1.6.28</td></tr>
    <tr><td>routing</td><td>0.178.7</td></tr>
    <tr><td>ruby-offline-buildpack-lts</td><td>1.7.31</td></tr>
    <tr><td>silk</td><td>2.3.4</td></tr>
    <tr><td>staticfile-offline-buildpack-lts</td><td>1.4.39</td></tr>
    <tr><td>statsd-injector</td><td>1.3.0</td></tr>
    <tr><td>syslog</td><td>11.3.2</td></tr>
    <tr><td>uaa</td><td>60.13</td></tr>
  </tbody>
</table>

### <a id='2.2.13'></a> 2.2.13

* **[Feature Improvement]** Operators can configure API Batch Size for the CF Syslog Drain Release
* Bump ubuntu-trusty stemcell to version `3586.79`
* Bump cf-syslog-drain to version `6.7`
* Bump cflinuxfs2 to version `1.267.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-trusty stemcell</td><td>3586.79</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.12.0</td></tr>
    <tr><td>binary-offline-buildpack-lts</td><td>1.0.30</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.2</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.15</td></tr>
    <tr><td>capi</td><td>1.58.11</td></tr>
    <tr><td>cf-autoscaling</td><td>201.9</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.5.0</td></tr>
    <tr><td>cf-mysql</td><td>36.16.0</td></tr>
    <tr><td>cf-networking</td><td>2.3.3</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>cf-syslog-drain</td><td>6.7</td></tr>
    <tr><td>cflinuxfs2</td><td>1.267.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>credhub</td><td>1.9.9</td></tr>
    <tr><td>diego</td><td>2.8.7</td></tr>
    <tr><td>dotnet-core-offline-buildpack-lts</td><td>2.2.5</td></tr>
    <tr><td>garden-runc</td><td>1.16.8</td></tr>
    <tr><td>go-offline-buildpack-lts</td><td>1.8.33</td></tr>
    <tr><td>haproxy</td><td>8.7.0</td></tr>
    <tr><td>java-offline-buildpack-lts</td><td>4.16.1</td></tr>
    <tr><td>log-cache</td><td>1.4.7</td></tr>
    <tr><td>loggregator</td><td>102.8</td></tr>
    <tr><td>mysql-monitoring</td><td>8.20.0</td></tr>
    <tr><td>nats</td><td>24</td></tr>
    <tr><td>nfs-volume</td><td>1.2.6</td></tr>
    <tr><td>nodejs-offline-buildpack-lts</td><td>1.6.43</td></tr>
    <tr><td>notifications-ui</td><td>33</td></tr>
    <tr><td>notifications</td><td>46</td></tr>
    <tr><td>php-offline-buildpack-lts</td><td>4.3.70</td></tr>
    <tr><td>pivotal-account</td><td>1.9.1</td></tr>
    <tr><td>push-apps-manager-release</td><td>665.0.27</td></tr>
    <tr><td>push-usage-service-release</td><td>666.0.12</td></tr>
    <tr><td>pxc</td><td>0.14.1</td></tr>
    <tr><td>python-offline-buildpack-lts</td><td>1.6.28</td></tr>
    <tr><td>routing</td><td>0.178.5</td></tr>
    <tr><td>ruby-offline-buildpack-lts</td><td>1.7.31</td></tr>
    <tr><td>silk</td><td>2.3.4</td></tr>
    <tr><td>staticfile-offline-buildpack-lts</td><td>1.4.39</td></tr>
    <tr><td>statsd-injector</td><td>1.3.0</td></tr>
    <tr><td>syslog</td><td>11.3.2</td></tr>
    <tr><td>uaa</td><td>60.11</td></tr>
  </tbody>
</table>

### <a id='2.2.12'></a> 2.2.12

* **[Security Fix]** Apps Manager verifies SSL certificates for endpoints to which it proxies. For environments using untrusted certificates, this may cause Apps Manager to show no content. To resolve this issue, see [Apps Manager shows no content due to SSL validation issue](https://community.pivotal.io/s/article/ssl-validation-issue-apps-manager-shows-no-content).
* **[Feature Improvement]** Increase the maximum number of connections for internal MySQL to 3500
* **[Feature Improvement]** Change default lifetime of Apps Manager client UAA token to 1 hour
* **[Feature Improvement]** Improve auctioneer cell-state logs in Diego Auctioneer
* **[Feature Improvement]** Increase Tomcat max http header size to 14K
* **[Bug Fix]** Fix BBR failures when backing up large blobs to unversioned S3 blobstores
* **[Bug Fix]** Fix binding route services to apps
* **[Bug Fix]** Fix concurrency bug in the Router's route pool, which could manifest as a fatal error: "Unlock of unlocked RWMutex"
* **[Bug Fix]** Fix bug in Apps Manager where space page, services tab shows a 500 error if the last operation of a service is null
* **[Bug Fix]** Make header tabs focusable and clickable via keyboard navigation in Apps Manager
* **[Bug Fix]** Improve garden init process to avoid edge cases that can lead to zombies
* **[Bug Fix]** Add back Consul registration in PXC Proxy to fix issue that can cause API and Application downtime when upgrading from PAS 2.1.x.
* **[Bug Fix]** Show `(Deleted User)` in Apps Manager rather than empty row for Cloud Controller users that do not exist in UAA
* **[Bug Fix]** Fix failure to bind service to app with custom parameters in Apps Manager
* opsmanager failed to upgrade srt 2.1 to 2.2
* Bump ubuntu-trusty stemcell to version `3586.71`
* Bump backup-and-restore-sdk to version `1.12.0`
* Bump binary-offline-buildpack-lts to version `1.0.30`
* Bump capi to version `1.58.11`
* Bump cflinuxfs2 to version `1.260.0`
* Bump diego to version `2.8.7`
* Bump dotnet-core-offline-buildpack-lts to version `2.2.5`
* Bump garden-runc to version `1.16.8`
* Bump go-offline-buildpack-lts to version `1.8.33`
* Bump nodejs-offline-buildpack-lts to version `1.6.43`
* Bump php-offline-buildpack-lts to version `4.3.70`
* Bump push-apps-manager-release to version `665.0.27`
* Bump pxc to version `0.14.1`
* Bump python-offline-buildpack-lts to version `1.6.28`
* Bump routing to version `0.178.5`
* Bump ruby-offline-buildpack-lts to version `1.7.31`
* Bump staticfile-offline-buildpack-lts to version `1.4.39`
* Bump uaa to version `60.11`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-trusty stemcell</td><td>3586.71</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.12.0</td></tr>
    <tr><td>binary-offline-buildpack-lts</td><td>1.0.30</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.2</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.15</td></tr>
    <tr><td>capi</td><td>1.58.11</td></tr>
    <tr><td>cf-autoscaling</td><td>201.9</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.5.0</td></tr>
    <tr><td>cf-mysql</td><td>36.16.0</td></tr>
    <tr><td>cf-networking</td><td>2.3.3</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>cf-syslog-drain</td><td>6.6</td></tr>
    <tr><td>cflinuxfs2</td><td>1.260.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>credhub</td><td>1.9.9</td></tr>
    <tr><td>diego</td><td>2.8.7</td></tr>
    <tr><td>dotnet-core-offline-buildpack-lts</td><td>2.2.5</td></tr>
    <tr><td>garden-runc</td><td>1.16.8</td></tr>
    <tr><td>go-offline-buildpack-lts</td><td>1.8.33</td></tr>
    <tr><td>haproxy</td><td>8.7.0</td></tr>
    <tr><td>java-offline-buildpack-lts</td><td>4.16.1</td></tr>
    <tr><td>log-cache</td><td>1.4.7</td></tr>
    <tr><td>loggregator</td><td>102.8</td></tr>
    <tr><td>mysql-monitoring</td><td>8.20.0</td></tr>
    <tr><td>nats</td><td>24</td></tr>
    <tr><td>nfs-volume</td><td>1.2.6</td></tr>
    <tr><td>nodejs-offline-buildpack-lts</td><td>1.6.43</td></tr>
    <tr><td>notifications-ui</td><td>33</td></tr>
    <tr><td>notifications</td><td>46</td></tr>
    <tr><td>php-offline-buildpack-lts</td><td>4.3.70</td></tr>
    <tr><td>pivotal-account</td><td>1.9.1</td></tr>
    <tr><td>push-apps-manager-release</td><td>665.0.27</td></tr>
    <tr><td>push-usage-service-release</td><td>666.0.12</td></tr>
    <tr><td>pxc</td><td>0.14.1</td></tr>
    <tr><td>python-offline-buildpack-lts</td><td>1.6.28</td></tr>
    <tr><td>routing</td><td>0.178.5</td></tr>
    <tr><td>ruby-offline-buildpack-lts</td><td>1.7.31</td></tr>
    <tr><td>silk</td><td>2.3.4</td></tr>
    <tr><td>staticfile-offline-buildpack-lts</td><td>1.4.39</td></tr>
    <tr><td>statsd-injector</td><td>1.3.0</td></tr>
    <tr><td>syslog</td><td>11.3.2</td></tr>
    <tr><td>uaa</td><td>60.11</td></tr>
  </tbody>
</table>

### <a id='2.2.11'></a> 2.2.11

<p class="note warning"><strong>WARNING:</strong> Do not upgrade directly to this release from PAS v2.1.x. For more information, see <a href="#upgrade-failure">Downtime when Upgrading from v2.1 to v2.2.7 or Later</a>.</p>

* **[Security Fix]** Upgrade UAA to 60.9 to address CVE-2018-15754
* **[Feature Improvement]** Improved logging and error handling for Diego Sync job
* **[Feature Improvement]** Blobstore pre-start performance enhancement
* **[Bug Fix]** Remove log noise from Reverse Log Proxy and TrafficController
* **[Bug Fix]** Fix memory allocated to be multiplied by number of instances for each process on space page app tab
* **[Bug Fix]** Ensure that the encoding used by Credhub is UTF-8
* **[Bug Fix]** VXLAN-policy-agent now opens ports in non-ephemeral port range
* **[Bug Fix]** Fix help text for TCP router ports because comma separated lists of ports are not supported
* **[Bug Fix]** Ensure logs and metrics are forwarded by adding syslog_forwarder and loggregator_agent to VMs missing them
* Bump ubuntu-trusty stemcell to version `3586.60`
* Bump capi to version `1.58.10`
* Bump cf-smoke-tests to version `40.0.40`
* Bump cflinuxfs2 to version `1.255.0`
* Bump credhub to version `1.9.9`
* Bump dotnet-core-offline-buildpack-lts to version `2.2.0`
* Bump go-offline-buildpack-lts to version `1.8.29`
* Bump loggregator to version `102.8`
* Bump nodejs-offline-buildpack-lts to version `1.6.34`
* Bump php-offline-buildpack-lts to version `4.3.64`
* Bump push-apps-manager-release to version `665.0.24`
* Bump python-offline-buildpack-lts to version `1.6.23`
* Bump ruby-offline-buildpack-lts to version `1.7.27`
* Bump silk to version `2.3.4`
* Bump staticfile-offline-buildpack-lts to version `1.4.35`
* Bump uaa to version `60.9`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-trusty stemcell</td><td>3586.60</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.7.1</td></tr>
    <tr><td>binary-offline-buildpack-lts</td><td>1.0.27</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.2</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.15</td></tr>
    <tr><td>capi</td><td>1.58.10</td></tr>
    <tr><td>cf-autoscaling</td><td>201.9</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.5.0</td></tr>
    <tr><td>cf-mysql</td><td>36.16.0</td></tr>
    <tr><td>cf-networking</td><td>2.3.3</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>cf-syslog-drain</td><td>6.6</td></tr>
    <tr><td>cflinuxfs2</td><td>1.255.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>credhub</td><td>1.9.9</td></tr>
    <tr><td>diego</td><td>2.8.4</td></tr>
    <tr><td>dotnet-core-offline-buildpack-lts</td><td>2.2.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>go-offline-buildpack-lts</td><td>1.8.29</td></tr>
    <tr><td>haproxy</td><td>8.7.0</td></tr>
    <tr><td>java-offline-buildpack-lts</td><td>4.16.1</td></tr>
    <tr><td>log-cache</td><td>1.4.7</td></tr>
    <tr><td>loggregator</td><td>102.8</td></tr>
    <tr><td>mysql-monitoring</td><td>8.20.0</td></tr>
    <tr><td>nats</td><td>24</td></tr>
    <tr><td>nfs-volume</td><td>1.2.6</td></tr>
    <tr><td>nodejs-offline-buildpack-lts</td><td>1.6.34</td></tr>
    <tr><td>notifications-ui</td><td>33</td></tr>
    <tr><td>notifications</td><td>46</td></tr>
    <tr><td>php-offline-buildpack-lts</td><td>4.3.64</td></tr>
    <tr><td>pivotal-account</td><td>1.9.1</td></tr>
    <tr><td>push-apps-manager-release</td><td>665.0.24</td></tr>
    <tr><td>push-usage-service-release</td><td>666.0.12</td></tr>
    <tr><td>pxc</td><td>0.14.0</td></tr>
    <tr><td>python-offline-buildpack-lts</td><td>1.6.23</td></tr>
    <tr><td>routing</td><td>0.178.4</td></tr>
    <tr><td>ruby-offline-buildpack-lts</td><td>1.7.27</td></tr>
    <tr><td>silk</td><td>2.3.4</td></tr>
    <tr><td>staticfile-offline-buildpack-lts</td><td>1.4.35</td></tr>
    <tr><td>statsd-injector</td><td>1.3.0</td></tr>
    <tr><td>syslog</td><td>11.3.2</td></tr>
    <tr><td>uaa</td><td>60.9</td></tr>
  </tbody>
</table>

### <a id='2.2.10'></a> 2.2.10

<p class="note warning"><strong>WARNING:</strong> Do not upgrade directly to this release from PAS v2.1.x. For more information, see <a href="#upgrade-failure">Downtime when Upgrading from v2.1 to v2.2.7 or Later</a>.</p>

* **[Security Fix]** Update JDK to latest patch release for Autoscaler
* **[Security Fix]** Address leak of CF admin credentials into NFS broker bosh errand logs
* **[Security Fix]** Fix issue where policy server API responses did not contain X-Frame-Options and Content-Security-Policy
* **[Security Fix]** Rotate diego intermediate CA before current certificate expires
* **[Feature Improvement]** Improve performance of the system_report/service_usages endpoint in the `usages-service` to prevent potential 502 or 504 responses on larger deployments
* **[Feature Improvement]** Fix error handling to report NFS mount failures in CF application logs
* **[Feature Improvement]** Update version number in link to docs page for Apps Manager
* **[Bug Fix]** Show more helpful error message in Apps Manager when toggling on Autoscaler fails
* **[Bug Fix]** Allow scaling of individual processes in multiprocess app when some processes are scaled to zero
* **[Bug Fix]** Prevent container IPs from leaking by enforcing that TCP RST messages always have the cell ip as the source ip
* **[Bug Fix]** Fix issue where the CAPI sync job fails when TCP routes are being used
* **[Bug Fix]** Fix issue where configured database connection timeout for silk was not applied when using an external database
* **[Bug fix]** Fix race condition during installation of buildpacks
* Bump ubuntu-trusty stemcell to version `3586.57`
* Bump capi to version `1.58.8`
* Bump cf-autoscaling to version `201.9`
* Bump cf-mysql to version `36.16.0`
* Bump cf-networking to version `2.3.3`
* Bump cf-smoke-tests to version `40.0.17`
* Bump cflinuxfs2 to version `1.249.0`
* Bump nfs-volume to version `1.2.6`
* Bump push-apps-manager-release to version `665.0.22`
* Bump push-usage-service-release to version `666.0.12`
* Bump silk to version `2.3.3`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-trusty stemcell</td><td>3586.57</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.7.1</td></tr>
    <tr><td>binary-offline-buildpack-lts</td><td>1.0.27</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.2</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.15</td></tr>
    <tr><td>capi</td><td>1.58.8</td></tr>
    <tr><td>cf-autoscaling</td><td>201.9</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.5.0</td></tr>
    <tr><td>cf-mysql</td><td>36.16.0</td></tr>
    <tr><td>cf-networking</td><td>2.3.3</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.17</td></tr>
    <tr><td>cf-syslog-drain</td><td>6.6</td></tr>
    <tr><td>cflinuxfs2</td><td>1.249.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>credhub</td><td>1.9.3</td></tr>
    <tr><td>diego</td><td>2.8.4</td></tr>
    <tr><td>dotnet-core-offline-buildpack-lts</td><td>2.1.5</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>go-offline-buildpack-lts</td><td>1.8.28</td></tr>
    <tr><td>haproxy</td><td>8.7.0</td></tr>
    <tr><td>java-offline-buildpack-lts</td><td>4.16.1</td></tr>
    <tr><td>log-cache</td><td>1.4.7</td></tr>
    <tr><td>loggregator</td><td>102.7</td></tr>
    <tr><td>mysql-monitoring</td><td>8.20.0</td></tr>
    <tr><td>nats</td><td>24</td></tr>
    <tr><td>nfs-volume</td><td>1.2.6</td></tr>
    <tr><td>nodejs-offline-buildpack-lts</td><td>1.6.32</td></tr>
    <tr><td>notifications-ui</td><td>33</td></tr>
    <tr><td>notifications</td><td>46</td></tr>
    <tr><td>php-offline-buildpack-lts</td><td>4.3.61</td></tr>
    <tr><td>pivotal-account</td><td>1.9.1</td></tr>
    <tr><td>push-apps-manager-release</td><td>665.0.22</td></tr>
    <tr><td>push-usage-service-release</td><td>666.0.12</td></tr>
    <tr><td>pxc</td><td>0.14.0</td></tr>
    <tr><td>python-offline-buildpack-lts</td><td>1.6.21</td></tr>
    <tr><td>routing</td><td>0.178.4</td></tr>
    <tr><td>ruby-offline-buildpack-lts</td><td>1.7.24</td></tr>
    <tr><td>silk</td><td>2.3.3</td></tr>
    <tr><td>staticfile-offline-buildpack-lts</td><td>1.4.32</td></tr>
    <tr><td>statsd-injector</td><td>1.3.0</td></tr>
    <tr><td>syslog</td><td>11.3.2</td></tr>
    <tr><td>uaa</td><td>60.8</td></tr>
  </tbody>
</table>

### <a id='2.2.9'></a> 2.2.9

<p class="note warning"><strong>WARNING:</strong> Do not upgrade directly to this release from PAS v2.1.x. For more information, see <a href="#upgrade-failure">Downtime when Upgrading from v2.1 to v2.2.7 or Later</a>.</p>

* **[Security Fix]** Bump UAA for CVEs
* **[Feature Improvement]** Improve router pruning behavior when route integrity is enabled
* **[Feature Improvement]** Operators can specify the Diego executor properties for memory usage and disk capacity in order to enable finer grained resource usage strategies
* **[Bug fix]** Enforce that max_valid_packages_stored and max_staged_droplets_stored be >= 1
* **[Bug Fix]** Do not produce duplicate schedules when updating a schedule in Apps Manager
* Bump ubuntu-trusty stemcell to version `3586.52`
* Bump cflinuxfs2 to version `1.245.0`
* Bump push-apps-manager-release to version `665.0.20`
* Bump routing to version `0.178.4`
* Bump uaa to version `60.8`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-trusty stemcell</td><td>3586.52</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.7.1</td></tr>
    <tr><td>binary-offline-buildpack-lts</td><td>1.0.27</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.2</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.15</td></tr>
    <tr><td>capi</td><td>1.58.7</td></tr>
    <tr><td>cf-autoscaling</td><td>201.8</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.5.0</td></tr>
    <tr><td>cf-mysql</td><td>36.14.0</td></tr>
    <tr><td>cf-networking</td><td>2.3.1</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.10</td></tr>
    <tr><td>cf-syslog-drain</td><td>6.6</td></tr>
    <tr><td>cflinuxfs2</td><td>1.245.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>credhub</td><td>1.9.3</td></tr>
    <tr><td>diego</td><td>2.8.4</td></tr>
    <tr><td>dotnet-core-offline-buildpack-lts</td><td>2.1.5</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>go-offline-buildpack-lts</td><td>1.8.28</td></tr>
    <tr><td>haproxy</td><td>8.7.0</td></tr>
    <tr><td>java-offline-buildpack-lts</td><td>4.16.1</td></tr>
    <tr><td>log-cache</td><td>1.4.7</td></tr>
    <tr><td>loggregator</td><td>102.7</td></tr>
    <tr><td>mysql-monitoring</td><td>8.20.0</td></tr>
    <tr><td>nats</td><td>24</td></tr>
    <tr><td>nfs-volume</td><td>1.2.3</td></tr>
    <tr><td>nodejs-offline-buildpack-lts</td><td>1.6.32</td></tr>
    <tr><td>notifications-ui</td><td>33</td></tr>
    <tr><td>notifications</td><td>46</td></tr>
    <tr><td>php-offline-buildpack-lts</td><td>4.3.61</td></tr>
    <tr><td>pivotal-account</td><td>1.9.1</td></tr>
    <tr><td>push-apps-manager-release</td><td>665.0.20</td></tr>
    <tr><td>push-usage-service-release</td><td>666.0.11</td></tr>
    <tr><td>pxc</td><td>0.14.0</td></tr>
    <tr><td>python-offline-buildpack-lts</td><td>1.6.21</td></tr>
    <tr><td>routing</td><td>0.178.4</td></tr>
    <tr><td>ruby-offline-buildpack-lts</td><td>1.7.24</td></tr>
    <tr><td>silk</td><td>2.3.0</td></tr>
    <tr><td>staticfile-offline-buildpack-lts</td><td>1.4.32</td></tr>
    <tr><td>statsd-injector</td><td>1.3.0</td></tr>
    <tr><td>syslog</td><td>11.3.2</td></tr>
    <tr><td>uaa</td><td>60.8</td></tr>
  </tbody>
</table>

### <a id='2.2.8'></a> 2.2.8

<p class="note warning"><strong>WARNING:</strong> Do not upgrade directly to this release from PAS v2.1.x. For more information, see <a href="#upgrade-failure">Downtime when Upgrading from v2.1 to v2.2.7 or Later</a>.</p>

* **[Security Fix]** log-cache no longer supports TLS 1.0 and TLS1.1
* **[Feature Improvement]** Split up networking policy server database migrations to reduce the risk of a failure causing a partial migration
* **[Feature Improvement]** Improve error messages logged by Cloud Controller when there are Azure blobstore failures
* **[Feature Improvement]** Update name of the Small Footprint PAS tile shown on the tile in Ops Manager UI
* **[Feature Improvement]** clock_global now defaults to 2 instances to be highly available
* **[Feature Improvement]** Allow disabling connection pooling for autoscaler API & escape special characters in external database passwords
* **[Bug Fix]** Prevent potential memory leak when Cloud Controller's space summary endpoint is called under certain usage conditions
* **[Bug Fix]** Fix manual configuration of load balancers for SSH to application containers on Small Footprint PAS (SF-PAS)
* Bump ubuntu-trusty stemcell to version `3586.46`
* Bump capi to version `1.58.7`
* Bump cf-autoscaling to version `201.8`
* Bump cf-networking to version `2.3.1`
* Bump cf-smoke-tests to version `40.0.10`
* Bump cflinuxfs2 to version `1.242.0`
* Bump diego to version `2.8.4`
* Bump go-offline-buildpack-lts to version `1.8.28`
* Bump java-offline-buildpack-lts to version `4.16.1`
* Bump log-cache to version `1.4.7`
* Bump ruby-offline-buildpack-lts to version `1.7.24`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-trusty stemcell</td><td>3586.46</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.7.1</td></tr>
    <tr><td>binary-offline-buildpack-lts</td><td>1.0.27</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.2</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.15</td></tr>
    <tr><td>capi</td><td>1.58.7</td></tr>
    <tr><td>cf-autoscaling</td><td>201.8</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.5.0</td></tr>
    <tr><td>cf-mysql</td><td>36.14.0</td></tr>
    <tr><td>cf-networking</td><td>2.3.1</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.10</td></tr>
    <tr><td>cf-syslog-drain</td><td>6.6</td></tr>
    <tr><td>cflinuxfs2</td><td>1.242.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>credhub</td><td>1.9.3</td></tr>
    <tr><td>diego</td><td>2.8.4</td></tr>
    <tr><td>dotnet-core-offline-buildpack-lts</td><td>2.1.5</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>go-offline-buildpack-lts</td><td>1.8.28</td></tr>
    <tr><td>haproxy</td><td>8.7.0</td></tr>
    <tr><td>java-offline-buildpack-lts</td><td>4.16.1</td></tr>
    <tr><td>log-cache</td><td>1.4.7</td></tr>
    <tr><td>loggregator</td><td>102.7</td></tr>
    <tr><td>mysql-monitoring</td><td>8.20.0</td></tr>
    <tr><td>nats</td><td>24</td></tr>
    <tr><td>nfs-volume</td><td>1.2.3</td></tr>
    <tr><td>nodejs-offline-buildpack-lts</td><td>1.6.32</td></tr>
    <tr><td>notifications-ui</td><td>33</td></tr>
    <tr><td>notifications</td><td>46</td></tr>
    <tr><td>php-offline-buildpack-lts</td><td>4.3.61</td></tr>
    <tr><td>pivotal-account</td><td>1.9.1</td></tr>
    <tr><td>push-apps-manager-release</td><td>665.0.19</td></tr>
    <tr><td>push-usage-service-release</td><td>666.0.11</td></tr>
    <tr><td>pxc</td><td>0.14.0</td></tr>
    <tr><td>python-offline-buildpack-lts</td><td>1.6.21</td></tr>
    <tr><td>routing</td><td>0.178.3</td></tr>
    <tr><td>ruby-offline-buildpack-lts</td><td>1.7.24</td></tr>
    <tr><td>silk</td><td>2.3.0</td></tr>
    <tr><td>staticfile-offline-buildpack-lts</td><td>1.4.32</td></tr>
    <tr><td>statsd-injector</td><td>1.3.0</td></tr>
    <tr><td>syslog</td><td>11.3.2</td></tr>
    <tr><td>uaa</td><td>60.2</td></tr>
  </tbody>
</table>


### <a id='2.2.7'></a> 2.2.7

<p class="note warning"><strong>WARNING:</strong> Do not upgrade directly to this release from PAS v2.1.x. For more information, see <a href="#upgrade-failure">Downtime when Upgrading from v2.1 to v2.2.7 or Later</a>.</p>

* **[Security Fix]** Bump garden-runc to prevent malicious users from causing a denial of service for other apps
* **[Feature Improvement]** Improve nfs blobstore pre-start performance
* **[Bug Fix]** space and org managers can now view app logs in apps manager
* **[Bug Fix]** Fix unsafe logic in NFS unmount and drain code that may lead to deletion of files on remote NFS shares.
* **[Bug Fix]** PAS 2.1.14 upgrade fails with `Error: release 'cf-networking/1.10.2' has already been uploaded`
* **[Bug Fix]** Fix issue in loggregator where AZ names with special characters could cause metron agent job to fail 
* **[Bug Fix]** Fix issue where the PAS tile could be incorrectly downloaded when upgrading SF-PAS via PivNet
* **[Bug Fix]** Fix parse error for syslog rules when iptables logging is enabled

* Bump binary-offline-buildpack-lts to version `1.0.27`
* Bump capi to version `1.58.5`
* Bump cf-cli to version `1.5.0`
* Bump cf-smoke-tests to version `40.0.9`
* Bump cf-syslog-drain to version `6.6`
* Bump cflinuxfs2 to version `1.238.0`
* Bump dotnet-core-offline-buildpack-lts to version `2.1.5`
* Bump garden-runc to version `1.16.1`
* Bump go-offline-buildpack-lts to version `1.8.27`
* Bump java-offline-buildpack-lts to version `4.15.1`
* Bump loggregator to version `102.7`
* Bump nfs-volume to version `1.2.3`
* Bump nodejs-offline-buildpack-lts to version `1.6.32`
* Bump php-offline-buildpack-lts to version `4.3.61`
* Bump push-apps-manager-release to version `665.0.19`
* Bump pxc to version `0.14.0`
* Bump python-offline-buildpack-lts to version `1.6.21`
* Bump ruby-offline-buildpack-lts to version `1.7.23`
* Bump staticfile-offline-buildpack-lts to version `1.4.32`
* Bump stemcell ubuntu-trusty to version `3586.43`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3586.43</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.7.1</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.27</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.2</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.15</td>
  </tr><tr>
    <td>capi</td><td>1.58.5</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>201.3</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.11</td>
  </tr><tr>
    <td>cf-cli</td><td>1.5.0</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.14.0</td>
  </tr><tr>
    <td>cf-networking</td><td>2.3.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>40.0.9</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>6.6</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.238.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>credhub</td><td>1.9.3</td>
  </tr><tr>
    <td>diego</td><td>2.8.2</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.1.5</td>
  </tr><tr>
    <td>garden-runc</td><td>1.16.1</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.27</td>
  </tr><tr>
    <td>haproxy</td><td>8.7.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.15.1</td>
  </tr><tr>
    <td>log-cache</td><td>1.4.4</td>
  </tr><tr>
    <td>loggregator</td><td>102.7</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.20.0</td>
  </tr><tr>
    <td>nats</td><td>24</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.3</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.32</td>
  </tr><tr>
    <td>notifications</td><td>46</td>
  </tr><tr>
    <td>notifications-ui</td><td>33</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.61</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.9.1</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>665.0.19</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.11</td>
  </tr><tr>
    <td>pxc</td><td>0.14.0</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.21</td>
  </tr><tr>
    <td>routing</td><td>0.178.3</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.23</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.32</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.3.0</td>
  </tr><tr>
    <td>silk</td><td>2.3.0</td>
  </tr><tr>
    <td>syslog</td><td>11.3.2</td>
  </tr><tr>
    <td>uaa</td><td>60.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.2.6'></a> 2.2.6

* **[Security Fix]** Prevent app developers from registering an NFS service broker that issues service bindings with uid and gid specified when LDAP is enabled
* **[Feature Improvement]** Update BOSH DNS configuration to allow resolving BBS and Auctioneer servers on unhealthy VMs
* **[Feature Improvement]** Operators can configure the maximum number of packages and droplets to store
* **[Feature Improvement]** Operators can override connection timeout values for the cloud controller database to prevent downtime when MySQL proxy VMs are recreated
* **[Feature Improvement]** Update PAS 2.2 with binary-buildpacks that have stack associations
* **[Bug Fix]** Fix issue where the SF-PAS tile could be incorrectly downloaded when upgrading PAS via PivNet
* **[Bug Fix]** Improve performance to reduce chance of failed database migrations during upgrades of usage service
* **[Bug Fix]** Fixes and improvements for Apps Manager
  * When the Autoscaler is not installed, prevent a crash that occurs on the app page
  * When creating a space as admin, make the admin a member of the corresponding organization
  * Improved the display of service plan costs when costs are not integers as expected
  * Prevent a page crash that occurs when there are no upcoming scheduled limit changes

* Bump binary-offline-buildpack to version `1.0.25`
* Bump push-apps-manager-release to version `665.0.18`
* Bump push-usage-service-release to version `666.0.11`
* Bump stemcell ubuntu-trusty to version `3586.42`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3586.42</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.7.1</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.25</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.2</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.15</td>
  </tr><tr>
    <td>capi</td><td>1.58.4</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>201.3</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.11</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.14.0</td>
  </tr><tr>
    <td>cf-networking</td><td>2.3.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>40.0.8</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>6.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.235.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>credhub</td><td>1.9.3</td>
  </tr><tr>
    <td>diego</td><td>2.8.2</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.1.3</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.25</td>
  </tr><tr>
    <td>haproxy</td><td>8.7.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.13.1</td>
  </tr><tr>
    <td>log-cache</td><td>1.4.4</td>
  </tr><tr>
    <td>loggregator</td><td>102.4</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.20.0</td>
  </tr><tr>
    <td>nats</td><td>24</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.2</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.28</td>
  </tr><tr>
    <td>notifications</td><td>46</td>
  </tr><tr>
    <td>notifications-ui</td><td>33</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.57</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.9.1</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>665.0.18</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.11</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.18</td>
  </tr><tr>
    <td>pxc</td><td>0.9.0</td>
  </tr><tr>
    <td>routing</td><td>0.178.3</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.21</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.29</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.3.0</td>
  </tr><tr>
    <td>silk</td><td>2.3.0</td>
  </tr><tr>
    <td>syslog</td><td>11.3.2</td>
  </tr><tr>
    <td>uaa</td><td>60.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.2.5'></a> 2.2.5

* **[Security Fix]** Bump usage service for CVE-2018-11086
* **[Security Fix]** Bump apps manager for CVE-2018-11088
  * Fix security vulnerability: CVE-2018-11088
  * Fix typo in autoscaling flyout
  * Text changes to improve actuator integration with Steeltoe
  * Steeltoe heap dumps should have extension .dmp
  * Fix Spring endpoints not appearing in app actions dropdown for Spring 2.0 apps
  * Fix Spring "View Raw JSON" feature not appearing when git info not present on app
  * Fix occasionally incorrect display of app processes when scaling app memory or disk
  * Fix app remaining in "Starting..." state after scaling
  * Fix autoscale instance limits not refreshing in flyout after applying changes
* **[Bug Fix]** Autoscaler uses https to communicate with log-cache instead of http
* **[Bug Fix]** Configure PXC MySQL to listen on port that will not conflict with processes that get a random port (Small Footprint Only)
  * Change MySQL from listening on port 33306 to 13306 for Small Footprint PAS
* **[Feature Improvement]** Do not back up resources bucket as it is not restored
  * The property `.properties.system_blobstore.external.resources_bucket.value` has been deprecated and will be removed in 2.3

* Bump bosh-system-metrics-forwarder to version `0.0.15`
* Bump cf-autoscaling to version `201.3`
* Bump cf-smoke-tests to version `40.0.8`
* Bump cflinuxfs2 to version `1.235.0`
* Bump log-cache to version `1.4.4`
* Bump pivotal-account to version `1.9.1`
* Bump push-apps-manager-release to version `665.0.17`
* Bump push-usage-service-release to version `666.0.10`
* Bump routing to version `0.178.3`
* Bump stemcell ubuntu-trusty to version `3586.40`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3586.40</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.7.1</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.21</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.2</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.15</td>
  </tr><tr>
    <td>capi</td><td>1.58.4</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>201.3</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.11</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.14.0</td>
  </tr><tr>
    <td>cf-networking</td><td>2.3.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>40.0.8</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>6.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.235.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>credhub</td><td>1.9.3</td>
  </tr><tr>
    <td>diego</td><td>2.8.2</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.1.3</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.25</td>
  </tr><tr>
    <td>haproxy</td><td>8.7.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.13.1</td>
  </tr><tr>
    <td>log-cache</td><td>1.4.4</td>
  </tr><tr>
    <td>loggregator</td><td>102.4</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.20.0</td>
  </tr><tr>
    <td>nats</td><td>24</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.2</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.28</td>
  </tr><tr>
    <td>notifications</td><td>46</td>
  </tr><tr>
    <td>notifications-ui</td><td>33</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.57</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.9.1</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>665.0.17</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.10</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.18</td>
  </tr><tr>
    <td>pxc</td><td>0.9.0</td>
  </tr><tr>
    <td>routing</td><td>0.178.3</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.21</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.29</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.3.0</td>
  </tr><tr>
    <td>silk</td><td>2.3.0</td>
  </tr><tr>
    <td>syslog</td><td>11.3.2</td>
  </tr><tr>
    <td>uaa</td><td>60.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.2.4'></a> 2.2.4

* **[Feature Improvement]** Improve performance for `nfs-experimental` readonly mounts and those that don't set the uid and gid parameters
* **[Bug Fix]** Fix autoscaler and smoke test failures when using database with timezone setting other than UTC
* **[Bug Fix]** Fixes BBS communication with Locket issue on startup when deploying with BOSH DNS enabled
* **[Bug Fix]** Apps manager: Fix spaces count on org page
* **[Bug Fix]** Apps manager: When the autoscaler service fails to toggle, show an error flash message
* **[Bug Fix]** Apps manager: A spacedeveloper can map a route without providing a hostname
* **[Bug Fix]** Apps manager: Fix crash on app page overview tab when spring health endpoint returns an array of objects instead of an array of strings

* Bump cf-autoscaling to version `201.1`
* Bump cf-smoke-tests to version `40.0.6`
* Bump cflinuxfs2 to version `1.229.0`
* Bump diego to version `2.8.2`
* Bump log-cache to version `1.3.0`
* Bump nfs-volume to version `1.2.2`
* Bump push-apps-manager-release to version `665.0.14`
* Bump routing to version `0.178.2`
* Bump stemcell to version `3586.27`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3586.27</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.7.1</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.21</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.2</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.58.4</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>201.1</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.11</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.14.0</td>
  </tr><tr>
    <td>cf-networking</td><td>2.3.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>40.0.6</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>6.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.229.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>credhub</td><td>1.9.3</td>
  </tr><tr>
    <td>diego</td><td>2.8.2</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.1.3</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.25</td>
  </tr><tr>
    <td>haproxy</td><td>8.7.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.13.1</td>
  </tr><tr>
    <td>log-cache</td><td>1.3.0</td>
  </tr><tr>
    <td>loggregator</td><td>102.4</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.20.0</td>
  </tr><tr>
    <td>nats</td><td>24</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.2</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.28</td>
  </tr><tr>
    <td>notifications</td><td>46</td>
  </tr><tr>
    <td>notifications-ui</td><td>33</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.57</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.9.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>665.0.14</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.2</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.18</td>
  </tr><tr>
    <td>pxc</td><td>0.9.0</td>
  </tr><tr>
    <td>routing</td><td>0.178.2</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.21</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.29</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.3.0</td>
  </tr><tr>
    <td>silk</td><td>2.3.0</td>
  </tr><tr>
    <td>syslog</td><td>11.3.2</td>
  </tr><tr>
    <td>uaa</td><td>60.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.2.3'></a> 2.2.3

* **[Feature Improvement]** Loggregator agent egresses preferred tags instead of DeprecatedTags in loggregator envelopes. This fixes a high CPU issue in Doppler cluster.
* **[Feature Improvement]** Fix issue where fileserver assets were not correctly invalidated in Diego cell caches after an upgrade
* **[Feature Improvement]** `capi` `/v2/info` endpoint returns additional metadata for `name`, `build` and `description`
* **[Feature Improvement]** Add the `healthwatch_api_admin` UAA client to allows access to the Healthwatch API
* **[Feature Improvement]** Retry blobstore uploads when GCS returns transmission error
* **[Feature Improvement]** Allow operators to configure application health check timeout in PAS
* **[Feature Improvement]** Move encryption key field to the top of the Credhub page
* **[Bug Fix]** Fix TLS pruning behavior for Gorouter
* **[Bug Fix]** Apps using a Docker image from an insecure registry configured in the Private Docker Insecure Registry Whitelist can now be staged successfully.
* **[Bug Fix]** Fix option "HAProxy requests but does not require client certificates."
* **[Bug Fix]** Bump apps manager with changes
  * When creating new services, no longer show org-scoped services from other organizations
  * Org Managers and Admins can leave organizations
  * When visiting Apps Manager on an environment where UAA has a self-signed SSL cert, do not blue screen, redirect to UAA login page.
* **[Bug Fix]** Fix performance and data consistency issues in Log Cache.
* **[Bug Fix]** Set cloud controller staging timeout value on all cloud controller jobs to allow large apps to stage before the timeout.

* Bump capi to version `1.58.4`
* Bump diego to version `2.8.1`
* Bump java-offline-buildpack to version `4.13.1`
* Bump log-cache to version `1.4.0`
* Bump loggregator to version `102.4`
* Bump mysql-monitoring to version `8.20.0`
* Bump push-apps-manager-release to version `665.0.13`
* Bump routing to version `0.178.1`
* Bump stemcell to version `3586.26`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3586.26</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.7.1</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.21</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.2</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.58.4</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>201.0.0</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.11</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.14.0</td>
  </tr><tr>
    <td>cf-networking</td><td>2.3.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>40.0.5</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>6.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.227.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>credhub</td><td>1.9.3</td>
  </tr><tr>
    <td>diego</td><td>2.8.1</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.1.3</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.25</td>
  </tr><tr>
    <td>haproxy</td><td>8.7.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.13.1</td>
  </tr><tr>
    <td>log-cache</td><td>1.4.0</td>
  </tr><tr>
    <td>loggregator</td><td>102.4</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.20.0</td>
  </tr><tr>
    <td>nats</td><td>24</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.1</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.28</td>
  </tr><tr>
    <td>notifications</td><td>46</td>
  </tr><tr>
    <td>notifications-ui</td><td>33</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.57</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.9.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>665.0.13</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.2</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.18</td>
  </tr><tr>
    <td>pxc</td><td>0.9.0</td>
  </tr><tr>
    <td>routing</td><td>0.178.1</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.21</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.29</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.3.0</td>
  </tr><tr>
    <td>silk</td><td>2.3.0</td>
  </tr><tr>
    <td>syslog</td><td>11.3.2</td>
  </tr><tr>
    <td>uaa</td><td>60.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.2.2'></a> 2.2.2

* **[Feature Improvement]** Add ability to configure HAproxy client certificate verification
* **[Security Fix]** Bump UAA for [CVE-2018-11047(https://www.cloudfoundry.org/blog/cve-2018-11047/)

* Bump cflinuxfs2 version `1.227.0`
* Bump java-offline-buildpack version `4.13`
* Bump uaa version `60.2`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3586.24</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.7.1</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.21</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.2</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.58.1</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>201.0.0</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.11</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.14.0</td>
  </tr><tr>
    <td>cf-networking</td><td>2.3.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>40.0.5</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>6.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.227.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>credhub</td><td>1.9.3</td>
  </tr><tr>
    <td>diego</td><td>2.8.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.1.3</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.25</td>
  </tr><tr>
    <td>haproxy</td><td>8.7.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.13</td>
  </tr><tr>
    <td>log-cache</td><td>1.3.0</td>
  </tr><tr>
    <td>loggregator</td><td>102.2</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.18.0</td>
  </tr><tr>
    <td>nats</td><td>24</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.1</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.28</td>
  </tr><tr>
    <td>notifications</td><td>46</td>
  </tr><tr>
    <td>notifications-ui</td><td>33</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.57</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.9.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>665.0.11</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.2</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.18</td>
  </tr><tr>
    <td>pxc</td><td>0.9.0</td>
  </tr><tr>
    <td>routing</td><td>0.178.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.21</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.29</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.3.0</td>
  </tr><tr>
    <td>silk</td><td>2.3.0</td>
  </tr><tr>
    <td>syslog</td><td>11.3.2</td>
  </tr><tr>
    <td>uaa</td><td>60.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.2.1'></a> 2.2.1

* **[Feature Improvement]** Allows PCF Metrics to be installed with both v1.5 and v1.4 versions to prevent dataloss.
* **[Bug Fix]** Bump cf-smoke-tests-release to 40.0.5 to fix some flakiness
* **[Security Fix]** Bump apps manager for CVE-2018-11044
  * When creating new services, no longer show org-scoped services from other organizations
  * Org Managers and Admins can leave organizations
* **[Security Fix]** Bump loggregator release for CVE-2018-1268 and CVE-2018-1269
* *** **[Bug Fix]**** bump consul to v195
  * Includes golang 1.9.7, removes golang 1.8.*.
  * Deploying v193 could fail on some deployments due to a conflict with other tiles that compiled the release differently
  * Fixes intermittent consul DNS issues on Windows Cells

* Bump binary-offline-buildpack to version `1.0.21`
* Bump cf-smoke-tests to version `40.0.5`
* Bump cflinuxfs2 to version `1.223.0`
* Bump consul to version `195`
* Bump dotnet-core-offline-buildpack to version `2.1.3`
* Bump go-offline-buildpack to version `1.8.25`
* Bump loggregator to version `102.2`
* Bump nodejs-offline-buildpack to version `1.6.28`
* Bump php-offline-buildpack to version `4.3.57`
* Bump push-apps-manager-release to version `665.0.11`
* Bump python-offline-buildpack to version `1.6.18`
* Bump ruby-offline-buildpack to version `1.7.21`
* Bump staticfile-offline-buildpack to version `1.4.29`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3586.24</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.7.1</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.21</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.2</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.58.1</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>201.0.0</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.11</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.14.0</td>
  </tr><tr>
    <td>cf-networking</td><td>2.3.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>40.0.5</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>6.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.223.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>credhub</td><td>1.9.3</td>
  </tr><tr>
    <td>diego</td><td>2.8.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.1.3</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.25</td>
  </tr><tr>
    <td>haproxy</td><td>8.7.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.12.1</td>
  </tr><tr>
    <td>log-cache</td><td>1.3.0</td>
  </tr><tr>
    <td>loggregator</td><td>102.2</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.18.0</td>
  </tr><tr>
    <td>nats</td><td>24</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.1</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.28</td>
  </tr><tr>
    <td>notifications</td><td>46</td>
  </tr><tr>
    <td>notifications-ui</td><td>33</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.57</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.9.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>665.0.11</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.2</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.18</td>
  </tr><tr>
    <td>pxc</td><td>0.9.0</td>
  </tr><tr>
    <td>routing</td><td>0.178.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.21</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.29</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.3.0</td>
  </tr><tr>
    <td>silk</td><td>2.3.0</td>
  </tr><tr>
    <td>syslog</td><td>11.3.2</td>
  </tr><tr>
    <td>uaa</td><td>60</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.2.0'></a> 2.2.0

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3586.24</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.7.1</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.18</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.2</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>capi</td><td>1.58.1</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>201.0.0</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.11</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.14.0</td>
  </tr><tr>
    <td>cf-networking</td><td>2.3.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>40.0.4</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>6.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.220.0</td>
  </tr><tr>
    <td>consul</td><td>194</td>
  </tr><tr>
    <td>credhub</td><td>1.9.3</td>
  </tr><tr>
    <td>diego</td><td>2.8.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.0.7</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.23</td>
  </tr><tr>
    <td>haproxy</td><td>8.7.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.12.1</td>
  </tr><tr>
    <td>log-cache</td><td>1.3.0</td>
  </tr><tr>
    <td>loggregator</td><td>102.1</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.18.0</td>
  </tr><tr>
    <td>nats</td><td>24</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.1</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.25</td>
  </tr><tr>
    <td>notifications</td><td>46</td>
  </tr><tr>
    <td>notifications-ui</td><td>33</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.56</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.9.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>665.0.9</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>666.0.2</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.17</td>
  </tr><tr>
    <td>pxc</td><td>0.9.0</td>
  </tr><tr>
    <td>routing</td><td>0.178.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.19</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.28</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.3.0</td>
  </tr><tr>
    <td>silk</td><td>2.3.0</td>
  </tr><tr>
    <td>syslog</td><td>11.3.2</td>
  </tr><tr>
    <td>uaa</td><td>60</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>


## <a id='upgrade'></a> How to Upgrade

The procedure for upgrading to Pivotal Application Service (PAS) v2.2 is documented in the [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/2-2/customizing/upgrading-pcf.html) topic.

When upgrading to v2.2, be aware of the following upgrade considerations:

* If you previously used an earlier version of PAS, you must first upgrade to PAS v2.1 to successfully upgrade to PAS v2.2.

* Some partner service tiles may be incompatible with PCF v2.2. Pivotal is working with partners to ensure their tiles are updated to work with the latest versions of PCF.<br/><br/> For information about which partner service releases are currently compatible with PCF v2.2, review the appropriate partners services release documentation at [https://docs.pivotal.io](https://docs.pivotal.io), or contact the partner organization that produces the tile.


## <a id='new-features'></a> New Features in PAS v2.2

### <a id="cipher-suites"></a> More Secure Cipher Suites for CF SSH Proxy

The CF SSH proxy accepts a narrower range of ciphers, MACs, and key exchanges. This change improves the security of CF SSH sessions.

These SSH proxy settings are not configurable in the PAS tile.

<p class="note"><strong>Note:</strong> This change may be incompatible with SSH clients other than <code>cf ssh</code>. See <a href="https://docs.pivotal.io/pivotalcf/devguide/deploy-apps/ssh-apps.html#ssh-proxy-security-configuration">SSH Proxy Security Configuration</a> for more information about the supported ciphers, MACs, and key exchanges.</p>

### <a id="mysql-tls"></a> TLS-Encrypted Option for Internal System Databases

For internal system databases, PAS now supports a more secure [Percona Server](https://www.percona.com/software/mysql-database/percona-server) database with TLS-encrypted communication between server nodes, as well as the previous [MariaDB](http://www.mariadb.org) option. See [Migrate to TLS Communication](https://docs.pivotal.io/pivotalcf/2-2/opsguide/scaling-down-mysql.html#migrate) for details.

<p class="note warning"><strong>WARNING:</strong> Migrating PAS internal databases to using TLS causes temporary downtime of PAS system functions. It does not interrupt apps hosted by PAS.</p>

### <a id="instance-profile"></a> Support for AWS Instance Profiles 

PAS now supports [AWS instance profiles](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_switch-role-ec2_instance-profiles.html) when you are configuring an S3 filestore. Either an instance profile or an access and secret key are required.

For more information, see the **External or S3 Filestore** section of the [PAS installation topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-2/customizing/pas.html).

### <a id="unversioned-s3"></a> Unversioned S3 Buckets for Backups

PAS can now back up unversioned S3 buckets used for external file storage, saving backup artifacts to separate, dedicated backup buckets. For more information, see the **External or S3 Filestore** section of the [PAS installation topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-2/customizing/pas.html).

### <a id="gdpr-compliance"></a> Gorouter Logging Changes for GDPR Compliance

Operators can now disable logging of client IP addresses in the Gorouter to comply with the General Data Protection Regulation (GDPR).

This setting, **Logging of Client IPs in CF Router**, is configured in the **Networking** pane of the PAS tile.
You can disable logging of the ` X-Forwarded-For` HTTP header only or of both the source IP address and the `X-Forwarded-For` HTTP header.
By default, the **Log client IPs** option is set in PAS.

For more information about configuring the **Logging of Client IPs in CF Router** field, see the **Configure Networking** section of the [PAS installation topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-2/customizing/pas.html).

### <a id="timestamp"></a> New Format for Timestamps in Diego Component Logs

The timestamps in the Diego component logs are now in a format compatible with [RFC 3339](https://tools.ietf.org/html/rfc3339). Log-level identifiers are also formatted as strings instead of numeric codes.

RFC 3339 timestamps are enabled by default for new PAS v2.2 deployments. Upgrades from earlier PAS versions retain the previous component log format with Unix epoch timestamps.

You can enable the new timestamp format for Diego logs in the PAS tile.

For more information, see the **Configure Application Containers** section of the [PAS installation topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-2/customizing/pas.html).

<p class="note breaking"><strong>Breaking Change:</strong> Before enabling RFC 3339 format for Diego logs, ensure that your log aggregation system anticipates the timestamp format change. If you experience issues, you can disable RFC 3339 format in the PAS tile.</p>

### <a id="task-placement-resilience"></a> Task Placement More Resilient to Resource Unavailability

When memory or disk resources are temporarily unavailable, PAS no longer fails application and staging tasks immediately. Instead, it attempts several times to place the task on a Diego cell with sufficient capacity.

This temporary unavailability may occur when many application instances or tasks are being created or destroyed simultaneously or when the Diego Bulletin Board System (BBS) or auctioneer fails to communicate to one or more Diego cells.

For more information about Diego task allocation, see [How Diego Balances App Processes](https://docs.pivotal.io/pivotalcf/concepts/diego/diego-auction.html).

### <a id="instance-identity-certs-org-space-ids"></a> Instance Identity Certificates Contain CF Org and Space IDs

The instance identity certificates provided to application instance and task containers now contain organizational units with their CF org and space IDs in the certificate subject name. Existing applications must be restarted after an upgrade to PAS v2.2 to receive these new identifiers.

For more information, see [Using Instance Identity Credentials](https://docs.pivotal.io/pivotalcf/2-2/devguide/deploy-apps/instance-identity.html).

### <a id="bosh-dns-enabled"></a> BOSH DNS Enabled By Default

BOSH DNS is enabled by default for both app containers and PCF components in PCF v2.2. 

In previous versions, Consul managed service discovery between PCF components, but Consul is being replaced by BOSH DNS.

<p class="note"><strong>Note:</strong> In PCF v2.2, Consul and BOSH DNS are both available in PCF, but BOSH DNS is the only service used for DNS requests.</p> 

You can disable BOSH DNS if instructed to do so by Pivotal support. If you disabled BOSH DNS in PCF v2.1, reenable it before upgrading to PCF v2.2. For more information, see [BOSH DNS Enabled By Default For App Containers and PCF Components](https://docs.pivotal.io/pivotalcf/2-2/installing/highlights.html#bosh-dns-enable).

<p class="note warning"><strong>WARNING:</strong> Do not disable BOSH DNS without instructions from Pivotal support. Disabling BOSH DNS will also disable PKS, NSX-T, and several PAS features.</p>

### <a id='c2c-discovery'></a> Service Discovery for Container-to-Container Networking Enabled By Default

In PAS v2.1, service discovery for container-to-container networking was an experimental feature that you could opt in to use. In PAS v2.2, this feature is enabled by default, and you can opt out of using it.

For more information about disabling service discovery for container-to-container networking, see the **Configure Application Developer Controls** section of the [PAS installation topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-2/customizing/pas.html).

### <a id='dns-search-domains'></a> DNS Search Domains

PAS v2.2 allows you to configure the DNS search domains to be used in containers by entering a comma-separated list.

For more information, see the **DNS Search Domains** configuration described in the **Container Networking** section of the [PAS installation topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-2/customizing/pas.html).

### <a id='pivotal-account'></a> Pivotal Account Replaced by UAA

Prior to PAS v2.2, you could use Pivotal Account to create and manage user accounts. In PAS v2.2, PAS stops using Pivotal Account, and you can now create and manage user accounts through the UAA UI instead.

The **Errands** pane in the PAS tile replaces **Pivotal Account Errand** with the **Delete Pivotal Account Application** errand, which is configured to run automatically. For more information, see the **Configure Errands** section of the [PAS installation topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-2/customizing/pas.html).

<p class="note"><strong>Note:</strong> The <strong>Delete Pivotal Account Application</strong> errand does not delete the <code>account</code> database used by the app.</p> 

You can manually delete the `account` database that remains as an artifact in PAS MySQL by following these steps:

1. Use `bosh ssh` to access one of the MySQL VMs in your deployment. See [Advanced Troubleshooting with the BOSH CLI](https://docs.pivotal.io/pivotalcf/2-2/customizing/trouble-advanced.html#bosh-ssh) for instructions. For example:

    ```
    bosh ssh mysql/0
    ```
2. Run the following command to start MySQL using the credentials in `mylogin.cnf`: 

    ```
    mysql --defaults-file=/var/vcap/jobs/mysql/config/mylogin.cnf
    ```
3. Run the following command to delete the `account` database:

    ```
    DROP database account;
    ```

### <a id="log-cache"></a> Loggregator Adds Log Cache in PAS Advanced Features

Loggregator adds an in-memory caching layer for logs and metrics and provides a RESTful interface for retrieving them. Use Log Cache to query and filter logs.

Log Cache is colocated on the Doppler VMs. It speeds up the retrieval of data from the Loggregator system, especially for deployments with a large number of Dopplers. Log Cache uses the available memory on a device to store logs, and so may impact performance during periods of high memory contention.

For more information about Log Cache, see [Enable Log Cache](https://docs.pivotal.io/pivotalcf/2-2/opsguide/logging-config-opsman.html#log-cache).

<p class="note breaking"><strong>Breaking Change:</strong> If you use Pivotal Application Service's App Autoscaler, Pivotal strongly recommends enabling Log Cache. App Autoscaler relies on Log Cache's API endpoints to function properly. If you disable Log Cache, App Autoscaler will fail</a>.</p>

<p class="note breaking"><strong>Breaking Change:</strong> Because of the addition of the log-cache process to the Doppler VM, the memory requirement for the Doppler VM has been increased to 4GB.</p>

### <a id="syslog-drains"></a> Syslog Draining for Service Instances (Beta)

The `cf-drain-cli` plugin now enables app developers to bind user-provided syslog drains to service instances.
For more information, see the [CF Drain CLI Plugin](https://github.com/cloudfoundry/cf-drain-cli) GitHub repository.
If a service tile supports syslog drains, app developers can use this plugin to forward logs and metrics from their service instance to an external endpoint.

### <a id="debug-logs"></a> Forwarding of DEBUG Syslog Messages Disabled by Default

By default, PAS v2.2 does not forward DEBUG syslog messages to external services.
The new **Don't Forward Debug Logs** checkbox is configurable in the **System Logging** pane of the PAS tile.

For more information about configuring this checkbox, see the **(Optional) Configure System Logging** section of the [PAS installation topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-2/customizing/pas.html).

If you currently have a custom rule to filter out DEBUG syslog messages, you can delete it.
Before deleting your custom rule, ensure the **Don't Forward Debug Logs** checkbox is enabled in the PAS tile.

### <a id='autoscaler-ui'></a> App Autoscaler UI Integrated into Apps Manager

The App Autoscaler UI is now integrated into Apps Manager.
This enables users to configure autoscaling for their apps through Apps Manager.
The new UI is based on the App Autoscaler API v2.0.

For more information about scaling apps using App Autoscaler, see [Scaling an Application Using App Autoscaler](https://docs.pivotal.io/pivotalcf/2-2/appsman-services/autoscaler/using-autoscaler.html).

### <a id="autoscaler-cli"></a> Improved App Autoscaler CLI

The App Autoscaler CLI now supports creating custom autoscaling rules and scheduled limit changes for apps bound to the App Autoscaler service.

For more information about the App Autoscaler CLI,
see [Using the App Autoscaler CLI](https://docs.pivotal.io/pivotalcf/2-2/appsman-services/autoscaler/using-autoscaler-cli.html).

### <a id="metrics-collecton-interval"></a> Updated App Autoscaler Metrics Collection Interval Values

This release updates the minimum, maximum, and default values for the Metrics Collection Interval used by the App Autoscaler in PAS. Updated minimum: 60 seconds. Updated maximum: 3600 seconds. Updated default: 120 seconds.

To configure this value, see the **(Optional) Configure App Autoscaler** section of the [PAS installation topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-2/customizing/pas.html).

### <a id="verbose-logging-autoscaler"></a> App Autoscaler Verbose Logging

Verbose logs are now available for App Autoscaler. Verbose logs show specific reasons why App Autoscaler scaled the app, information on minimum and maximum instance limits, App Autoscaler's status, and more. Verbose logs result in more detailed logs, but do not otherwise impact performance.

To enable verbose logs, select the **Verbose Logging** checkbox in the App Autoscaler pane.

For more information, see the **(Optional) Configure App Autoscaler** section of the [PAS installation topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-2/customizing/pas.html).

### <a id='logout'></a> Improved Session Management Behavior in Apps Manager

Users are now logged out of Apps Manager when they log out of UAA or their UAA session expires.
You can configure the **Global Login Session Max Timeout** and **Global Login Session Idle Timeout** values in the **UAA** pane of the PAS tile.

### <a id="invocation-timeout-api"></a> Health Check Invocation Timeout is Configurable via Cloud Controller V3 API

This V3 API endpoint allows users to change the duration of a health check invocation timeout. An invocation timeout is a period of time within a standard timeout period, during which a healthcheck assess the health of your app. A responsive app is marked as alive, but an unresponsive app is marked as dead. 

By default, the health check invocation timeout is set to one second. Increasing the invocation timeout period allows health checks to perform complex actions that may exceed the default timeout setting. A longer invocation timeout period may prevent your app from being marked as dead when it is actually healthy.

Change the invocation timeout period with the ```invocation_timeout``` flag in the healthcheck API.

For more information, see [The health_check object](http://v3-apidocs.cloudfoundry.org/version/3.50.0/index.html#the-health_check-object).

### <a id='selector-based'></a> Selector-Based Subscripton Model and Reference Nozzles

You can request Firehose subscriptions that filter out all unspecified content using the Loggregator v2 API endpoint from the Reverse Log Proxy.

For examples of nozzles that use the Loggregator V2 API and consume only specified whitelisted metrics, see `rlpreader` and `rlptypereader` in the [loggregator-tools](https://github.com/cloudfoundry-incubator/loggregator-tools) repository. 

For more information about this feature, see the _V2 Subscriptions_ page of the [loggregator-release](https://github.com/cloudfoundry/loggregator-release/blob/master/docs/v2-subscriptions.md) repository. 


## <a id='known-issues'></a> Known Issues

### <a id="upgrade-failure"></a> Downtime when Upgrading from v2.1 to v2.2.7 or Later

Upgrading directly from PAS v2.1.x to v2.2.7 or later may cause significant app downtime. 
If you are upgrading from v2.1.x, Pivotal recommends that you upgrade to v2.2.6 or an earlier patch release of v2.2.x. Once you are on v2.2.6 or an earlier patch release of v2.2.x, you can then upgrade to v2.2.7. 

A fix for this issue is planned for v2.2.12.

For more information, see the following article in the Pivotal Knowledge Base: [How to avoid app downtime while upgrading from PAS v2.1.x to v2.2.7](https://community.pivotal.io/s/article/how-to-avoid-app-downtime-while-upgrading-from-pas-v2-1-x-to-v2-2-7). 

### <a id="external-credhub"></a> CredHub Database Cannot be External on GCP

If your PAS deployment is on GCP and you want to use Runtime CredHub, you must select
**Internal** for both your system databases and CredHub database. If you are using external system databases, you cannot use CredHub. 

CredHub is not compatible with the external database option on GCP. 
GCP Cloud SQL presents its certificate in a way that CredHub refuses to connect to it. 

### <a id="autoscaler-smoke-test"></a> App Autoscaler Smoke Test Errand Failure

When deploying PAS v2.2.x, the App Autoscaler smoke test errand may fail with the following error:

```
Autoscaler did not receive any metrics for disk_quota during the scaling window. Scaling down will be deferred until these metrics are available.
```

For a workaround, see the following KB article: [App Autoscaler Smoke Test Errand fails to retrieve any metrics from logcache](https://community.pivotal.io/s/article/app-autoscaler-smoke-test-errand-fails-to-retrieve-any-metrics-from-logcache).


### <a id="ki-mysql-error"></a> Apps Serve Routes After App Deletion Due to MySQL Errors

After an app is deleted, the app instances are not always cleaned up on Diego cells. Those instances continue to serve routes. 

This error occurs when the Cloud Controller and Diego cells fall out of sync. You can resolve this issue by restarting the `cloud_controller_clock` process in the `clock_global` VM.

For more information, see the Knowledge Base article [Apps Serve Routes Even After App Deletion Due To MySQL Errors](https://community.pivotal.io/s/article/Apps-Continue-to-Serve-Routes-even-after-App-Deletion-due-to-Mysql2Error-This-connection-is-in-use-by--Thread-errors).

### <a id="ki-gcs-blobstore-timeouts"></a> Timeouts Connecting to GCS Blobstores Using Service Account Key Authentication

Pushing large apps may fail if you use Google Cloud Storage (GCS) as an external blobstore, and you authenticate to it with a GCS Service Account. This option is configured in the PAS tile **File Storage** pane, under **Configure your Cloud Controller's filesystem**.

For more information, see the Knowledge Base article [Timeouts connecting to GCS blobstores when configured to use service account key authentication](https://community.pivotal.io/s/article/Timeouts-connecting-to-GCS-blobstores-when-configured-to-use-service-account-key-authentication).

### <a id="ki-boshwindows-access-denied"></a> Deploying PAS Runtime for Windows Results in an Access is Denied Error

This rare issue can occur when you deploy the PAS Runtime for Windows v2.2.

The error reads: `Action Failed get_task: Task 5b085f4a-b56a-42e3-5974-f3876879397d result: Compiling package certsplitter_windows: Removing packages: Uninstalling package bundle: remove /var/vcap/data/packages/golang-windows/83bf1f4181665d2ee2c0118a56bd04764b8f56b0\go\bin\go.exe: Access is denied.`

If you encounter this error, Pivotal recommends retrying the deployment until the error does not occur.

For more information, see the Knowledge Base article [Deploying PAS for Windows Tile Results in an Access is Denied Error](https://community.pivotal.io/s/article/Deploying-PAS-for-Windows-Tile-results-in-access-denied-error).

### <a id="ki-scs-error"></a> PAS Deployment Fails with Spring Cloud Services v1.5.5 and Earlier

If you are running Spring Cloud Services, you need to upgrade to Spring Cloud Services v1.5.6 or later before you can upgrade PCF to v2.2.

For more information, see the Knowledge Base article [Spring Cloud Services Deployment fails with can't resolve link error in PAS 2.2](https://community.pivotal.io/s/article/Spring-Cloud-Services-Deployment-fails-with).

### <a id="ki-golang-issue"></a> Some Components Use Go v1.9 to Avoid x.509 Cert Errors in v1.10

x509 certificate parsing in the Go language is [stricter in v1.10](https://golang.org/doc/go1.10#minor_library_changes) than it is in v1.9. As a result, certificates that many Pivotal customers generated with open-source tools and continue to use could cause errors if parsed by Go v1.10. To avoid this, some PAS v2.2 components use Go v1.9. PAS v2.2 includes both versions of the language.

### <a id='tcp-port-config'></a> Configuring a List of TCP Routing Ports

This section describes an issue and workaround related to configuring a list of TCP Routing Ports in the PAS tile UI. 

#### Issue

You cannot enter a comma-separated list of ports in the **TCP Routing Ports** field of the PAS tile. If you enter a comma-separated list, the Routing API does not start. The **TCP Routing Ports** field allows entries in the following formats:

* A single value, such as `1234`
* A range of values, such as `1234-5678`

#### Workaround

If you want to configure a list of ports, Pivotal recommends following these steps:

<p class="note"><strong>Note</strong>: This procedure causes brief downtime for TCP apps listening on ports that you open after deploying PAS.</p>

1. Configure PAS with **Enable TCP Routing** selected.
1. Enter one port you want to use in the **TCP Routing Ports** field. 
1. Deploy PAS. 
1. Use the Routing API to add all desired TCP ports by following the instructions in the [Modify your TCP ports](https://docs.pivotal.io/pivotalcf/2-2/adminguide/enabling-tcp-routing.html#modify-ports) section of the _Enabling TCP Routing_ topic. When using the Routing API, you can include a comma separated list of ports. 

### <a id="loggregator-scaling"></a> Loggregator Component Horizontal Scaling Thresholds

Above approximately 40 Doppler instances and 25 Traffic Controller instances, horizontal scaling is no longer useful for improving Loggregator Firehose performance. To improve performance, increase CPU resources for the existing Doppler and Traffic Controller instances to add vertical scale.

The Syslog Adapter now enforces a hard limit on how many application syslog drains it can service, therefore it is important to follow the [scaling recommendations](https://docs.pivotal.io/pivotalcf/2-2/monitoring/key-cap-scaling.html#scalable-syslog) to ensure that all syslog drains can be serviced.

### <a id="appsman-ssl-validation"></a> Apps Manager SSL Validation Cannot Be Disabled in v2.2.12 through v2.2.16

In v2.2.12 through v2.2.16, Apps Manager ignores the **Disable SSL certificate verification for this environment** PAS tile setting. For environments using SSL certificates signed by an untrusted certificate authority (CA), this may cause Apps Manager to show no content.

To resolve this issue, see [Apps Manager shows no content due to SSL validation issue](https://community.pivotal.io/s/article/ssl-validation-issue-apps-manager-shows-no-content).

### <a id='appsman-cert-chain-length'></a> Apps Manager Only Allows One Intermediate Certificate Authority in v2.2.12--v2.2.14

In v2.2.12, v2.2.13, and v2.2.14, Apps Manager does not accept SSL certificates that have a signing chain with more than one intermediate certificate authority between the SSL certificate and the root certificate authority. This includes certificates from backend services such as the Cloud Controller API. 

If there is more than one intermediate certificate authority, not counting the root certificate authority, the following happens:

* Apps Manager does not show content. 
* The logs for Apps Manager include the text `certificate chain too long`.

If you must use an SSL certificate chain with more than one intermediate certificate authority in your environment, contact Pivotal Support to discuss options for working around this issue.

### <a id=cc-error></a> Cloud Controller Error Causes PCF Upgrade to Fail

Withbuildpacksnow havingstack associations, additional validation must be added while upgrading to PAS v2.2 and later. This can generate a new `StacklessAndStackfulMatchingBuildpacksError` error in thepost-startscripts.

For more information and instructions for fixing this error, see [Pivotal Cloud Foundry upgrade fails with a StacklessAndStackfulMatchingBuildpacksExistError Cloud Controller Error](https://community.pivotal.io/s/article/pcf-upgrade-fails-with-stacklessandstackfulmatchingbuildpacksexisterror) in the Pivotal Knowledge Base.
