---
title: Pivotal Application Service v2.8 Release Notes
owner: Release Engineering
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases
 
<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>
 
### <a id='2.8.0-rc.1'></a> 2.8.0-rc.1

**Release Date:** 11/20/2019

* **[Security Fix]** Address [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596)
* **[Security Fix]** Improve Gorouter resiliency to panics
* **[Security Fix]** Proactively bump Jackson Databind in UAA to eliminate risk of vulnerabilities earlier versions
* **[Feature Improvement]** Allow disabling the V2 firehose
* **[Feature Improvement]** The NFS Broker now only runs against credhub as its backing store and therefore we have removed the nfsbroker bbr jobs
* **[Bug Fix]** Fixes a bug that made the UAA fail to start up successfully any time the `env.no_proxy` property was set.
* Bump ubuntu-xenial stemcell to version `621.23`
* Bump cf-cli to version `1.22.0`
* Bump cf-smoke-tests to version `40.0.123`
* Bump cflinuxfs3 to version `0.144.0`
* Bump dotnet-core-offline-buildpack to version `2.3.2`
* Bump go-offline-buildpack to version `1.9.3`
* Bump loggregator to version `106.2.0`
* Bump mapfs to version `1.2.1`
* Bump nfs-volume to version `5.0.2`
* Bump nginx-offline-buildpack to version `1.1.1`
* Bump nodejs-offline-buildpack to version `1.7.2`
* Bump php-offline-buildpack to version `4.4.1`
* Bump python-offline-buildpack to version `1.7.1`
* Bump routing to version `0.193.0`
* Bump ruby-offline-buildpack to version `1.8.2`
* Bump smb-volume to version `2.0.4`
* Bump staticfile-offline-buildpack to version `1.5.1`
* Bump uaa to version `74.5.2`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.23</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.35</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.5</td></tr>
    <tr><td>capi</td><td>1.87.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.22.0</td></tr>
    <tr><td>cf-networking</td><td>2.25.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.123</td></tr>
    <tr><td>cflinuxfs3</td><td>0.144.0</td></tr>
    <tr><td>credhub</td><td>2.5.6</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.2</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.3</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.24</td></tr>
    <tr><td>log-cache</td><td>2.6.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.1.0</td></tr>
    <tr><td>loggregator</td><td>106.2.0</td></tr>
    <tr><td>mapfs</td><td>1.2.1</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>mysql-monitoring</td><td>9.7.0</td></tr>
    <tr><td>nats</td><td>27</td></tr>
    <tr><td>nfs-volume</td><td>5.0.2</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.1</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.2</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.1</td></tr>
    <tr><td>push-apps-manager-release</td><td>671.0.1</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.7</td></tr>
    <tr><td>pxc</td><td>0.20.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.1</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.0.13</td></tr>
    <tr><td>routing</td><td>0.193.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.2</td></tr>
    <tr><td>silk</td><td>2.25.0</td></tr>
    <tr><td>smb-volume</td><td>2.0.4</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.1</td></tr>
    <tr><td>statsd-injector</td><td>1.11.1</td></tr>
    <tr><td>syslog</td><td>11.5.0</td></tr>
    <tr><td>system-metrics</td><td>1.0.1</td></tr>
    <tr><td>uaa</td><td>74.5.2</td></tr>
  </tbody>
</table>
 
 

### <a id='2.8.0-beta.1'></a> 2.8.0-beta.1

**Release Date:** 10/31/2019

* **[Security Fix]** Upgrade Go, runc and containerd to latest to include security fixes
* **[Security Fix]** CVE-2019-17596 bump Go
* **[Security Fix]** Ensure requests are made over HTTPS to the Apps Manager search server
* **[Feature]** Enable metrics for delayed job failures for Usage Service Release
* **[Feature]** Loggregator sends logs and metrics to log-cache syslog server.
* **[Feature]** Add checkbox to enable client basic auth compatibility mode in UAA
* **[Feature Improvement]** Correct System Logging TLS Destination Certificate Label
* **[Feature Improvement]** Add marketplace url field and change sidebar links to secondary navigation links in Apps Manager configuration
* **[Feature Improvement]** Add active indicator to revisions associated with the current droplet in Apps Manager
* **[Bug Fix]** Fix tooltip alignment on 'Enter as JSON' toggle and bind service form in Apps Manager
* **[Bug Fix]** Increase width of Apps Manager logs tab
* **[Bug Fix]** Apps Manage checks whether an application is a Spring Boot or Steeltoe app less frequently
* **[Bug Fix]** Do not attempt to start an app if the app droplet fails to build in Apps Manager
* **[Bug Fix]** Redesign Apps Manager footer to accommodate footer links
* **[Bug Fix]** Show buildpack name for `java_buildpack` in Apps Manager
* **[Bug Fix]** Show correct Cloud Controller target on Apps Manager's tools page
* **[Bug Fix]** Match CLI default timeouts when waiting for app restages and start health checks in Apps Manager
* **[Bug Fix]** When starting an app via Apps Manager, do not build a new droplet unless it's necessary to do so
* **[Bug Fix]** Fix CN for Loggregator Metrics Endpoint Certs
* Bump ubuntu-xenial stemcell to version `456.40`
* Bump bpm to version `1.1.5`
* Bump cf-cli to version `1.21.0`
* Bump cflinuxfs3 to version `0.137.0`
* Bump credhub to version `2.5.6`
* Bump java-offline-buildpack to version `4.24`
* Bump log-cache to version `2.6.0`
* Bump loggregator-agent to version `5.1.0`
* Bump mysql-monitoring to version `9.7.0`
* Bump push-apps-manager-release to version `671.0.1`
* Bump push-usage-service-release to version `671.0.7`
* Bump routing to version `0.192.0`
* Bump ruby-offline-buildpack to version `1.8.1`
* Bump silk to version `2.25.0`
* Bump statsd-injector to version `1.11.1`
* Bump system-metrics to version `1.0.1`
* Bump uaa to version `74.5.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>456.40</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.35</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.5</td></tr>
    <tr><td>capi</td><td>1.87.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.21.0</td></tr>
    <tr><td>cf-networking</td><td>2.25.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.119</td></tr>
    <tr><td>cflinuxfs3</td><td>0.137.0</td></tr>
    <tr><td>credhub</td><td>2.5.6</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.1</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.1</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.24</td></tr>
    <tr><td>log-cache</td><td>2.6.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.1.0</td></tr>
    <tr><td>loggregator</td><td>106.0.0</td></tr>
    <tr><td>mapfs</td><td>1.2.0</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>mysql-monitoring</td><td>9.7.0</td></tr>
    <tr><td>nats</td><td>27</td></tr>
    <tr><td>nfs-volume</td><td>2.3.1</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.0</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.0</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.0</td></tr>
    <tr><td>push-apps-manager-release</td><td>671.0.1</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.7</td></tr>
    <tr><td>pxc</td><td>0.20.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.37</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.0.13</td></tr>
    <tr><td>routing</td><td>0.192.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.1</td></tr>
    <tr><td>silk</td><td>2.25.0</td></tr>
    <tr><td>smb-volume</td><td>2.0.3</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.0</td></tr>
    <tr><td>statsd-injector</td><td>1.11.1</td></tr>
    <tr><td>syslog</td><td>11.5.0</td></tr>
    <tr><td>system-metrics</td><td>1.0.1</td></tr>
    <tr><td>uaa</td><td>74.5.0</td></tr>
  </tbody>
</table>

### <a id='2.8.0-alpha.5'></a> 2.8.0-alpha.5

**Release Date:** 10/16/2019

* **[Security Fix]** Add TLS to external policy server
* **[Security Fix]** Secure Loggregator, LogCache, and Leadership Election with mTLS
* **[Feature]** Enforce at least one CredHub VM in all large footprint PAS deploys.
* **[Feature Improvement]** Remove System Metrics Agents in favor of a Runtime Config in OpsMan 2.8+
* **[Bug Fix]** Replace hard-coded MySQL Buffer Pool size with sane percentage value.
* **[Bug Fix]** Disable internal blobstore backups when using an external blobstore
* Bump ubuntu-xenial stemcell to version `456.30`
* Bump binary-offline-buildpack to version `1.0.35`
* Bump bpm to version `1.1.4`
* Bump capi to version `1.87.0`
* Bump cflinuxfs3 to version `0.135.0`
* Bump diego to version `2.39.0`
* Bump dotnet-core-offline-buildpack to version `2.3.1`
* Bump garden-runc to version `1.19.8`
* Bump go-offline-buildpack to version `1.9.1`
* Bump haproxy to version `9.8.0`
* Bump log-cache to version `2.5.2`
* Bump loggregator-agent to version `5.0.0`
* Bump loggregator to version `106.0.0`
* Bump nginx-offline-buildpack to version `1.1.0`
* Bump nodejs-offline-buildpack to version `1.7.0`
* Bump php-offline-buildpack to version `4.4.0`
* Bump python-offline-buildpack to version `1.6.37`
* Bump r-offline-buildpack to version `1.0.13`
* Bump smb-volume to version `2.0.3`
* Bump staticfile-offline-buildpack to version `1.5.0`
* Bump statsd-injector to version `1.11.0`
* Add new release system-metrics at version `1.0.0`
* Bump uaa to version `74.4.0`
* Removed leadership-election release

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>456.30</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.35</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.4</td></tr>
    <tr><td>capi</td><td>1.87.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.19.0</td></tr>
    <tr><td>cf-networking</td><td>2.25.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.119</td></tr>
    <tr><td>cflinuxfs3</td><td>0.135.0</td></tr>
    <tr><td>credhub</td><td>2.5.2</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.1</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.1</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.23</td></tr>
    <tr><td>log-cache</td><td>2.5.2</td></tr>
    <tr><td>loggregator-agent</td><td>5.0.0</td></tr>
    <tr><td>loggregator</td><td>106.0.0</td></tr>
    <tr><td>mapfs</td><td>1.2.0</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>mysql-monitoring</td><td>9.6.0</td></tr>
    <tr><td>nats</td><td>27</td></tr>
    <tr><td>nfs-volume</td><td>2.3.1</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.0</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.0</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.0</td></tr>
    <tr><td>push-apps-manager-release</td><td>671.0.0</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.6</td></tr>
    <tr><td>pxc</td><td>0.20.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.37</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.0.13</td></tr>
    <tr><td>routing</td><td>0.191.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.42</td></tr>
    <tr><td>silk</td><td>2.22.0</td></tr>
    <tr><td>smb-volume</td><td>2.0.3</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.0</td></tr>
    <tr><td>statsd-injector</td><td>1.11.0</td></tr>
    <tr><td>syslog</td><td>11.5.0</td></tr>
    <tr><td>system-metrics</td><td>1.0.0</td></tr>
    <tr><td>uaa</td><td>74.4.0</td></tr>
  </tbody>
</table>

### <a id='2.8.0-alpha.4'></a> 2.8.0-alpha.4

**Release Date:** 10/08/2019

* **[Feature]** Introduce integration with Spring Cloud Config Server service instances in Apps Manager
* **[Feature]** Make TCP Router Request Timeout Configurable
* **[Feature Improvement]** Enable SMB volume service by default
* Bump ubuntu-xenial stemcell to version `456.27`
* Bump backup-and-restore-sdk to version `1.17.2`
* Bump cf-networking to version `2.25.0`
* Bump cflinuxfs3 to version `0.130.0`
* Bump diego to version `2.38.0`
* Bump java-offline-buildpack to version `4.23`
* Bump nfs-volume to version `2.3.1`
* Bump push-apps-manager-release to version `671.0.0`
* Bump push-usage-service-release to version `671.0.6`
* Bump smb-volume to version `2.0.2`
* Bump syslog to version `11.5.0`
* Bump uaa to version `74.2.0`
* Removed cf-backup-and-restore release

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>456.27</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.33</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.3</td></tr>
    <tr><td>capi</td><td>1.86.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.19.0</td></tr>
    <tr><td>cf-networking</td><td>2.25.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.119</td></tr>
    <tr><td>cflinuxfs3</td><td>0.130.0</td></tr>
    <tr><td>credhub</td><td>2.5.2</td></tr>
    <tr><td>diego</td><td>2.38.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.12</td></tr>
    <tr><td>garden-runc</td><td>1.19.7</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.42</td></tr>
    <tr><td>haproxy</td><td>9.7.1</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.23</td></tr>
    <tr><td>leadership-election</td><td>1.4</td></tr>
    <tr><td>log-cache</td><td>2.1.6</td></tr>
    <tr><td>loggregator-agent</td><td>3.21</td></tr>
    <tr><td>loggregator</td><td>105.6</td></tr>
    <tr><td>mapfs</td><td>1.2.0</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>mysql-monitoring</td><td>9.6.0</td></tr>
    <tr><td>nats</td><td>27</td></tr>
    <tr><td>nfs-volume</td><td>2.3.1</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.0.15</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.52</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.78</td></tr>
    <tr><td>push-apps-manager-release</td><td>671.0.0</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.6</td></tr>
    <tr><td>pxc</td><td>0.20.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.36</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.0.11</td></tr>
    <tr><td>routing</td><td>0.191.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.42</td></tr>
    <tr><td>silk</td><td>2.22.0</td></tr>
    <tr><td>smb-volume</td><td>2.0.2</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.43</td></tr>
    <tr><td>statsd-injector</td><td>1.10.0</td></tr>
    <tr><td>syslog</td><td>11.5.0</td></tr>
    <tr><td>uaa</td><td>74.2.0</td></tr>
  </tbody>
</table>

### <a id='2.8.0-alpha.3'></a> 2.8.0-alpha.3

**Release Date:** 09/24/2019

* Bump ubuntu-xenial stemcell to version `456.25`
* Bump cflinuxfs3 to version `0.128.0`
* Bump garden-runc to version `1.19.7`
* Bump metric-registrar to version `1.1.1`
* Bump pxc to version `0.20.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>456.25</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.1</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.33</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.3</td></tr>
    <tr><td>capi</td><td>1.86.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.19.0</td></tr>
    <tr><td>cf-networking</td><td>2.24.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.119</td></tr>
    <tr><td>cflinuxfs3</td><td>0.128.0</td></tr>
    <tr><td>credhub</td><td>2.5.2</td></tr>
    <tr><td>diego</td><td>2.37.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.12</td></tr>
    <tr><td>garden-runc</td><td>1.19.7</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.42</td></tr>
    <tr><td>haproxy</td><td>9.7.1</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.21</td></tr>
    <tr><td>leadership-election</td><td>1.4</td></tr>
    <tr><td>log-cache</td><td>2.1.6</td></tr>
    <tr><td>loggregator-agent</td><td>3.21</td></tr>
    <tr><td>loggregator</td><td>105.6</td></tr>
    <tr><td>mapfs</td><td>1.2.0</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>mysql-monitoring</td><td>9.6.0</td></tr>
    <tr><td>nats</td><td>27</td></tr>
    <tr><td>nfs-volume</td><td>2.3.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.0.15</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.52</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.78</td></tr>
    <tr><td>push-apps-manager-release</td><td>670.0.7</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.5</td></tr>
    <tr><td>pxc</td><td>0.20.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.36</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.0.11</td></tr>
    <tr><td>routing</td><td>0.191.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.42</td></tr>
    <tr><td>silk</td><td>2.22.0</td></tr>
    <tr><td>smb-volume</td><td>2.0.1</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.43</td></tr>
    <tr><td>statsd-injector</td><td>1.10.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>74.1.0</td></tr>
  </tbody>
</table>

### <a id='2.8.0-alpha.2'></a> 2.8.0-alpha.2

**Release Date:** 09/17/2019

* **[Security Fix]** Improve LDAP username validation for NFS LDAP integration
* **[Security Fix]** Static file assets hosted by the Diego file-server are downloaded over HTTPS
* **[Feature]** Migrate `nfsbroker` backend to CredHub. When LDAP is enabled, users can specify username and password during service instance creation rather than at bind time
* **[Feature]** Enable CPU usage metrics that are relative to the application CPU entitlement
* **[Feature Improvement]** Add configuration for router balancing algorithm
* **[Bug Fix]** Fix various syslog drain bugs in the Syslog Agent
* **[Bug Fix]** Fixes NFS regression and upgrade issues
* **[Bug Fix]** Smoke Test help text now properly references "Enable Metric Registrar".
* Bump ubuntu-xenial stemcell to version `456.22`
* Bump backup-and-restore-sdk to version `1.17.1`
* Bump bpm to version `1.1.3`
* Bump capi to version `1.86.0`
* Bump cf-autoscaling to version `222`
* Bump cf-cli to version `1.19.0`
* Bump cf-smoke-tests to version `40.0.119`
* Bump cflinuxfs3 to version `0.127.0`
* Bump diego to version `2.37.0`
* Bump garden-runc to version `1.19.6`
* Bump haproxy to version `9.7.1`
* Bump java-offline-buildpack to version `4.21`
* Bump metric-registrar to version `1.1.0`
* Bump nfs-volume to version `2.3.0`
* Bump notifications to version `61`
* Bump push-apps-manager-release to version `670.0.7`
* Bump push-usage-service-release to version `671.0.5`
* Bump routing to version `0.191.0`
* Bump smb-volume to version `2.0.1`
* Bump uaa to version `74.1.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>456.22</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.1</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.33</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.3</td></tr>
    <tr><td>capi</td><td>1.86.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.19.0</td></tr>
    <tr><td>cf-networking</td><td>2.24.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.119</td></tr>
    <tr><td>cflinuxfs3</td><td>0.127.0</td></tr>
    <tr><td>credhub</td><td>2.5.2</td></tr>
    <tr><td>diego</td><td>2.37.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.12</td></tr>
    <tr><td>garden-runc</td><td>1.19.6</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.42</td></tr>
    <tr><td>haproxy</td><td>9.7.1</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.21</td></tr>
    <tr><td>leadership-election</td><td>1.4</td></tr>
    <tr><td>log-cache</td><td>2.1.6</td></tr>
    <tr><td>loggregator-agent</td><td>3.21</td></tr>
    <tr><td>loggregator</td><td>105.6</td></tr>
    <tr><td>mapfs</td><td>1.2.0</td></tr>
    <tr><td>metric-registrar</td><td>1.1.0</td></tr>
    <tr><td>mysql-monitoring</td><td>9.6.0</td></tr>
    <tr><td>nats</td><td>27</td></tr>
    <tr><td>nfs-volume</td><td>2.3.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.0.15</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.52</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.78</td></tr>
    <tr><td>push-apps-manager-release</td><td>670.0.7</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.5</td></tr>
    <tr><td>pxc</td><td>0.19.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.36</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.0.11</td></tr>
    <tr><td>routing</td><td>0.191.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.42</td></tr>
    <tr><td>silk</td><td>2.22.0</td></tr>
    <tr><td>smb-volume</td><td>2.0.1</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.43</td></tr>
    <tr><td>statsd-injector</td><td>1.10.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>74.1.0</td></tr>
  </tbody>
</table>


## <a id='upgrade'></a> How to Upgrade

The procedure for upgrading to Pivotal Application Service (PAS) v2.8 is documented in the [Upgrading Pivotal Platform](http://docs.pivotal.io/platform/2-8/customizing/upgrading-pcf.html) topic.

When upgrading to PAS v2.8, be aware of the following upgrade considerations:

* If you previously used an earlier version of PAS, you must first upgrade to PAS v2.7 to successfully upgrade to PAS v2.8.

* Some partner service tiles may be incompatible with PCF v2.8. Pivotal is working with partners to ensure their tiles are updated to work with the latest versions of PCF.<br/><br/> For information about which partner service releases are currently compatible with PCF v2.8, review the appropriate partners services release documentation at [https://docs.pivotal.io](https://docs.pivotal.io), or contact the partner organization that produces the tile.


## <a id='new-features'></a> New Features in PAS v2.8

### <a id='appsman-scs'></a> Spring Cloud Services Configuration in Apps Manager

For Spring Cloud Services (SCS) instances, Apps Manager shows the current status of the SCS Config Server and lets you trigger the Config Server to update app configurations.

For more information, see [View and Update Spring Cloud Services Configurations](https://docs.pivotal.io/platform/application-service/2-8/console/manage-apps.html#configure-scs) in the _Using Apps Manager_ documentation.

### <a id='usage-service-data-retention'></a> Configure Retention Period for Usage Service Data

In PAS v2.8, Usage Service deletes granular data after 365 days by default. You can configure the retention period for granular data in the **Advanced Features** pane of the PAS tile. 

This feature reduces the amount of data in the Usage Service database, which helps prevent data migration issues on very large foundations.  

For more information, see [Usage Data Retention](https://docs.pivotal.io/platform/application-service/2-8/operating/accounting-report.html#usage-retention).

### <a id='smb-default'></a> SMB Volume Services Enabled by Default

In the PAS v2.8 tile, SMB volume services are enabled by default. When SMB volume services are enabled, app developers can bind existing SMB shares to apps for shared file access.

To disable SMB volume services in the PAS tile, select **App Containers** and clear the **Enable SMB volume services** checkbox, and then select **Errands** and set the **SMB Broker Errand** to **Off**.

For more information, see [Enabling Volume Services](http://docs.pivotal.io/platform/application-service/2-8/operating/enable-vol-services.html#smb-enable).

For general information about volume services, see [Using an External File System (Volume Services)](http://docs.pivotal.io/platform/application-service/2-8/devguide/services/using-vol-services.html).

### <a id='nfs-broker-credhub'></a> NFS Broker Uses CredHub as Backing Store

In PAS v2.8, NFS Broker uses CredHub as its backing store, rather than an internal PAS database. Because BOSH Backup and Restore (BBR) no longer backs up NFS Broker, the `nfsbroker-bbr` job is removed.

For more information about CredHub, see [CredHub](https://docs.pivotal.io/platform/2-8/credhub/index.html).

### <a id='uaa-client-url-encoding'></a> Enable URL Encoding For UAA Client Credentials

You can disable an optional **Client basic auth compatibility mode** checkbox in the PAS **UAA** pane to require URL encoding for UAA client credentials. 

URL encoding is defined by RFC6749. See [RFC6749](https://tools.ietf.org/html/rfc6749#section-2.3.1).

By default, the **Client basic auth compatibility mode** checkbox is enabled. When the checkbox is enabled, UAA does not require URL encoding for client IDs and secrets. This represents the default behavior of UAA prior to v74.0.0. For more information, see [v74.0.0](https://github.com/cloudfoundry/uaa-release/releases/tag/v74.0.0) in GitHub. 

For more information about configuring the **Client basic auth compatibility mode** checkbox in PAS, see [Configuring PAS](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#uaa).

<p class="note warning"><strong>Warning:</strong> If you disable the <b>Client basic auth compatibility mode</b> checkbox, URL encoding is required for all UAA client apps in your deployment. To avoid breaking changes, ensure that all client apps support URL encoding before you disable the checkbox.</p>

### <a id='mtls-loggregator'></a> Mutual TLS Added to Loggregator Endpoints and Components

Mutual TLS is added to the Loggregator, Loggregator Agent, and Log Cache endpoints. It is also added to the Leadership Election job. This provides additional security between these endpoints and metric scrapers.

For more information about Loggregator components, see [Loggregator Architecture](https://docs.pivotal.io/platform/application-service/2-8/loggregator/architecture.html). For more information about the Leadership Election job and metric scraping, see [System Metrics](https://github.com/cloudfoundry/system-metrics-release) on GitHub.

### <a id='disable-v2-firehose'></a> V2 Firehose Can Be Disabled

You can disable the Loggregator V2 Firehose by deselecting the **Enable V2 firehose** checkbox in the **System Logging** pane of the PAS tile. This shuts down VMs used for the V2 Firehose, such as Dopplers and Reverse Log Proxies. After you disable the V2 Firehose, you can delete these VMs from your deployment to save resources.

To forward logs and metrics to a syslog endpoint after you disable the Firehose, configure an aggregate log and metric drain for your foundation. For more information about disabling the V2 Firehose and enabling aggregate drains, see [Configure System Logging](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#sys-logging) in _Configuring PAS_.

For more information about the Loggregator Firehose, see [Loggregator Architecture](https://docs.pivotal.io/platform/application-service/2-8/loggregator/architecture.html).

### <a id='prometheus'></a> All Platform Metrics Exposed on Prometheus Endpoints

All platform metrics are exposed on Prometheus endpoints. Instead of sending metrics through the Firehose, you can use the Metrics Discovery Release to register Prometheus-formatted metrics endpoints in your Pivotal Platform deployment. You can then use an external tool to scrape those metrics. This also adds two new jobs, `metrics-discovery-registrar` and `metrics-agent`.

For more information about Metrics Discovery Release, see the [Metrics Discovery Release](https://github.com/cloudfoundry/metrics-discovery-release) repository on GitHub. For more information about Metrics Agent, see [Using Metrics Agent](https://github.com/cloudfoundry/metrics-discovery-release/blob/develop/docs/metrics-agent.md) on GitHub.

### <a id='aggregate-drain'></a> Aggregate Drain for Metrics and App Logs

You can configure an aggregate log and metric drain for your foundation to allow Syslog Agents to forward all app metrics, app logs, and PAS component VM metrics to one or more syslog endpoints.

This allows you to forward logs and metrics for all apps in your foundation without configuring syslog drains for each app individually. 

You can also use an aggregate log and metric drain instead of the Loggregator Firehose. This allows you to disable the Firehose and delete related VMs, such as Dopplers and Reverse Log Proxies. For more information about disabling the Firehose, see [V2 Firehose Can Be Disabled](#disable-v2-firehose). 

To enable an aggregate log and metric drain for your foundation, add a comma-separated list of syslog endpoints to the **Aggregate log/metric drain destinations** field in the **System Logging** pane of the PAS tile. For more information, see [Configure System Logging](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#sys-logging) in _Configuring PAS_.

### <a id='credhub-vm'></a> PAS Must Use At Least One CredHub VM

In PAS v2.8, you must use at least one CredHub VM. The default number of CredHub instances is increased from `0` to `2`. You can configure the number of CredHub VMs PAS uses in the **Resource Config** pane of the PAS tile.

For more information about CredHub, see [CredHub](https://docs.pivotal.io/platform/2-8/credhub/index.html). For more information about configuring VMs, see the [Configure Resources](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#resources) section of the _Configuring PAS_ topic.
