---
title: Pivotal Application Service v2.6 Release Notes
owner: Release Engineering
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

### <a id='2.6.3'></a> 2.6.3

**Release Date:** 08/01/2019

* **[Security Fix]** When a Spring Boot app has a route with unencrypted HTTP as the protocol, Apps Manager attempts requests via encrypted HTTPS
* **[Feature]** Allow operator to configure service mesh domain
* **[Feature]** Add option to allow queries to inactive MySQL servers so auditing and reporting queries can be made without impacting performance on the active MySQL node.
* **[Bug Fix]** Fix race condition when starting the PAS MySQL database that caused potential failures during upgrade/deploy
* **[Bug Fix]** Fixes a regression causing `mount` bind configuration to be rejected by the SMB volume service broker
* **[Bug Fix]** Creating a space via the V3 API generates an audit event
* **[Bug Fix]** Fix issue in SMB startup scripts that can cause restart failure or inadvertent application data permission change
* **[Bug Fix]** Fix evaluation of `nfsbrokerpush.db.ca_cert` property in nfs-volume-release when using external DB without TLS.
* Bump ubuntu-xenial stemcell to version `315.70`
* Bump backup-and-restore-sdk to version `1.16.0`
* Bump binary-offline-buildpack to version `1.0.33`
* Bump capi to version `1.80.4`
* Bump cflinuxfs3 to version `0.118.0`
* Bump go-offline-buildpack to version `1.8.42`
* Bump java-offline-buildpack to version `4.20`
* Bump log-cache to version `2.1.6`
* Bump nfs-volume to version `2.2.2`
* Bump nginx-offline-buildpack to version `1.0.15`
* Bump nodejs-offline-buildpack to version `1.6.52`
* Bump php-offline-buildpack to version `4.3.78`
* Bump push-apps-manager-release to version `669.0.8`
* Bump pxc to version `0.18.0`
* Bump python-offline-buildpack to version `1.6.36`
* Bump r-offline-buildpack to version `1.0.11`
* Bump ruby-offline-buildpack to version `1.7.42`
* Bump smb-volume to version `1.3.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>315.70</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.16.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.33</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>capi</td><td>1.80.4</td></tr>
    <tr><td>cf-autoscaling</td><td>219</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.16.0</td></tr>
    <tr><td>cf-networking</td><td>2.22.2</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.113</td></tr>
    <tr><td>cf-syslog-drain</td><td>10.2</td></tr>
    <tr><td>cflinuxfs3</td><td>0.118.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.4.0</td></tr>
    <tr><td>diego</td><td>2.30.1</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.12</td></tr>
    <tr><td>garden-runc</td><td>1.19.1</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.42</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>istio</td><td>1.0.1</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.20</td></tr>
    <tr><td>leadership-election</td><td>1.4</td></tr>
    <tr><td>log-cache</td><td>2.1.6</td></tr>
    <tr><td>loggregator-agent</td><td>3.14</td></tr>
    <tr><td>loggregator</td><td>105.5</td></tr>
    <tr><td>mapfs</td><td>1.1.5</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.3.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>2.2.2</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.0.15</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.52</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>57</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.78</td></tr>
    <tr><td>push-apps-manager-release</td><td>669.0.8</td></tr>
    <tr><td>push-usage-service-release</td><td>670.0.6</td></tr>
    <tr><td>pxc</td><td>0.18.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.36</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.0.11</td></tr>
    <tr><td>routing</td><td>0.188.2</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.42</td></tr>
    <tr><td>silk</td><td>2.22.2</td></tr>
    <tr><td>smb-volume</td><td>1.3.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.43</td></tr>
    <tr><td>statsd-injector</td><td>1.10.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>71.2</td></tr>
  </tbody>
</table>


### <a id='2.6.2'></a> 2.6.2

**Release Date:** 07/15/2019

* **[Security Fix]** Fix high severity CVE in UAA: CVE-2019-3787
* **[Security Fix]** UAA should prevent SCIM query injection attacks
* Bump cf-smoke-tests to version `40.0.113`
* Bump cflinuxfs3 to version `0.113.0`
* Bump uaa to version `71.2`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>315.45</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.15.1</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.32</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>capi</td><td>1.80.3</td></tr>
    <tr><td>cf-autoscaling</td><td>219</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.16.0</td></tr>
    <tr><td>cf-networking</td><td>2.22.2</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.113</td></tr>
    <tr><td>cf-syslog-drain</td><td>10.2</td></tr>
    <tr><td>cflinuxfs3</td><td>0.113.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.4.0</td></tr>
    <tr><td>diego</td><td>2.30.1</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.12</td></tr>
    <tr><td>garden-runc</td><td>1.19.1</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.40</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>istio</td><td>1.0.1</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.18</td></tr>
    <tr><td>leadership-election</td><td>1.4</td></tr>
    <tr><td>log-cache</td><td>2.1.4</td></tr>
    <tr><td>loggregator-agent</td><td>3.14</td></tr>
    <tr><td>loggregator</td><td>105.5</td></tr>
    <tr><td>mapfs</td><td>1.1.5</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.3.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>2.1.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.0.13</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.51</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>57</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.77</td></tr>
    <tr><td>push-apps-manager-release</td><td>669.0.7</td></tr>
    <tr><td>push-usage-service-release</td><td>670.0.6</td></tr>
    <tr><td>pxc</td><td>0.16.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.34</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.0.10</td></tr>
    <tr><td>routing</td><td>0.188.2</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.40</td></tr>
    <tr><td>silk</td><td>2.22.2</td></tr>
    <tr><td>smb-volume</td><td>1.1.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.43</td></tr>
    <tr><td>statsd-injector</td><td>1.10.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>71.2</td></tr>
  </tbody>
</table>

### <a id='2.6.1'></a> 2.6.1

* **[Security Fix]** Bump UAA to address CVE-2019-3788
* **[Security Fix]** Update CF CLI for Autoscaler
* **[Feature]** Allow users to configure max package size so that they can upload packages larger than 2GB
* **[Feature Improvement]** Add ability to configure max search depth for LDAP in UAA
* **[Feature Improvement]** Set maximum database connection lifetime to 1 hour for Diego Locket component to reduce resource contention on PAS database
* **[Bug Fix]** Fix missing "actee_name" for certain CAPI user role related audit events
* **[Bug Fix]** Make sure logged-in users are rate-limited according to authenticated rate limit
* **[Bug Fix]** Fix failure of inviting new members via Apps Manager in some networking configurations
* **[Bug Fix]** Cause Apps Manager errand to fail if environment variable assignment fails
* **[Bug Fix]** Fix issue where creating a new organization fails in Apps Manager
* **[Bug Fix]** Fix credentials for service instances in Apps Manager that failed to display
* **[Bug Fix]** Add labels to key value forms in Apps Manager to enhance accessibility
* **[Bug Fix]** Generate valid form ids in Apps Manager to enhance accessibility
* **[Bug Fix]** Ellipsify long names of service instances in the services tables of Apps Manager
* **[Bug Fix]** Fix issue in which flyouts in Apps Manager did not open in Internet Explorer
* **[Bug Fix]** Fix error that prevented sharing domains across organizations in Apps Manager
* **[Bug Fix]** Add optional TTL pruning for TLS routes
* **[Bug Fix]** Allow operators to omit backup bucket fields
* **[Bug Fix]** `diego_brain` instances no longer update concurrently with `diego_cell` VMs to prevent application downtime in case of deployment update failure
* **[Bug Fix]** Send Isolation Segment smoke test application requests on port 443
* Bump ubuntu-xenial stemcell to version `315.45`
* Bump capi to version `1.80.3`
* Bump cf-autoscaling to version `219`
* Bump cf-cli to version `1.16.0`
* Bump cf-smoke-tests to version `40.0.109`
* Bump cflinuxfs3 to version `0.109.0`
* Bump diego to version `2.30.1`
* Bump dotnet-core-offline-buildpack to version `2.2.12`
* Bump go-offline-buildpack to version `1.8.40`
* Bump nginx-offline-buildpack to version `1.0.13`
* Bump nodejs-offline-buildpack to version `1.6.51`
* Bump php-offline-buildpack to version `4.3.77`
* Bump push-apps-manager-release to version `669.0.7`
* Bump python-offline-buildpack to version `1.6.34`
* Bump r-offline-buildpack to version `1.0.10`
* Bump routing to version `0.188.2`
* Bump ruby-offline-buildpack to version `1.7.40`
* Bump staticfile-offline-buildpack to version `1.4.43`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>315.45</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.15.1</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.32</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>capi</td><td>1.80.3</td></tr>
    <tr><td>cf-autoscaling</td><td>219</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.16.0</td></tr>
    <tr><td>cf-networking</td><td>2.22.2</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.109</td></tr>
    <tr><td>cf-syslog-drain</td><td>10.2</td></tr>
    <tr><td>cflinuxfs3</td><td>0.109.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.4.0</td></tr>
    <tr><td>diego</td><td>2.30.1</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.12</td></tr>
    <tr><td>garden-runc</td><td>1.19.1</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.40</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>istio</td><td>1.0.1</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.18</td></tr>
    <tr><td>leadership-election</td><td>1.4</td></tr>
    <tr><td>log-cache</td><td>2.1.4</td></tr>
    <tr><td>loggregator-agent</td><td>3.14</td></tr>
    <tr><td>loggregator</td><td>105.5</td></tr>
    <tr><td>mapfs</td><td>1.1.5</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.3.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>2.1.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.0.13</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.51</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>57</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.77</td></tr>
    <tr><td>push-apps-manager-release</td><td>669.0.7</td></tr>
    <tr><td>push-usage-service-release</td><td>670.0.6</td></tr>
    <tr><td>pxc</td><td>0.16.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.34</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.0.10</td></tr>
    <tr><td>routing</td><td>0.188.2</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.40</td></tr>
    <tr><td>silk</td><td>2.22.2</td></tr>
    <tr><td>smb-volume</td><td>1.1.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.43</td></tr>
    <tr><td>statsd-injector</td><td>1.10.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>71.0</td></tr>
  </tbody>
</table>

### <a id='2.6.0'></a> 2.6.0

* See [New Features in PAS v2.6](#new-features)
* See [Breaking Changes](./breaking-changes.html#pas)

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>315.36</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.15.1</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.32</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>capi</td><td>1.80.0</td></tr>
    <tr><td>cf-autoscaling</td><td>218</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.13.0</td></tr>
    <tr><td>cf-networking</td><td>2.22.2</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.108</td></tr>
    <tr><td>cf-syslog-drain</td><td>10.2</td></tr>
    <tr><td>cflinuxfs3</td><td>0.101.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.4.0</td></tr>
    <tr><td>diego</td><td>2.30.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.11</td></tr>
    <tr><td>garden-runc</td><td>1.19.1</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.39</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>istio</td><td>1.0.1</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.18</td></tr>
    <tr><td>leadership-election</td><td>1.4</td></tr>
    <tr><td>log-cache</td><td>2.1.4</td></tr>
    <tr><td>loggregator-agent</td><td>3.14</td></tr>
    <tr><td>loggregator</td><td>105.5</td></tr>
    <tr><td>mapfs</td><td>1.1.5</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.3.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>2.1.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.0.11</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.49</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>57</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.76</td></tr>
    <tr><td>push-apps-manager-release</td><td>669.0.4</td></tr>
    <tr><td>push-usage-service-release</td><td>670.0.6</td></tr>
    <tr><td>pxc</td><td>0.16.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.32</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.0.9</td></tr>
    <tr><td>routing</td><td>0.188.1</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.38</td></tr>
    <tr><td>silk</td><td>2.22.2</td></tr>
    <tr><td>smb-volume</td><td>1.1.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.42</td></tr>
    <tr><td>statsd-injector</td><td>1.10.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>71.0</td></tr>
  </tbody>
</table>


## <a id='upgrade'></a> How to Upgrade

The procedure for upgrading to Pivotal Application Service (PAS) v2.6 is documented in the [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/2-6/customizing/upgrading-pcf.html) topic.

When upgrading to PAS v2.6, be aware of the following upgrade considerations:

* If you previously used an earlier version of PAS, you must first upgrade to PAS v2.5 to successfully upgrade to PAS v2.6.

* Some partner service tiles may be incompatible with PCF v2.6. Pivotal is working with partners to ensure their tiles are updated to work with the latest versions of PCF.<br/><br/> For information about which partner service releases are currently compatible with PCF v2.6, review the appropriate partners services release documentation at [https://docs.pivotal.io](https://docs.pivotal.io), or contact the partner organization that produces the tile.


## <a id='new-features'></a> New Features in PAS v2.6

See the following new features for PAS v2.6:

### <a id="system-metric-agent"></a> Monitor System Metrics with System Metrics Agent

System Metrics Agent provides more visibility into VM compute, network, and storage metrics. These VM metrics help with troubleshooting and diagnosing issues for potential infrastructure problems.

When enabled, the metrics are emitted through Loggregator. For more information about viewing logs and metrics, see the _Platform components_ row of [Viewing Logs and Metrics](https://docs.pivotal.io/pivotalcf/2-6/loggregator/data-sources.html#viewing).

For a list of the VM metrics that the System Metric Agent emits, see [VM Metrics](https://github.com/cloudfoundry/loggregator-agent-release#vm-metrics) in GitHub.

To enable the System Metric Agent, go to the **System Logging** pane in the PAS tile and select **Enable System Metrics**.

### <a id='metric-registrar'></a> Metric Registrar Enabled by Default

In the **Metric Registrar** pane, Metric Registrar is enabled by default. This allows you to output custom application metrics that can be monitored by platform-provided tooling.

For information about configuring Metric Registrar, see the [(Optional) Configure Metric Registrar](https://docs.pivotal.io/pivotalcf/2-6/customizing/configure-pas.html#metric-registrar) section of the _Configuring PAS_ topic.

### <a id='revisions'></a> Enable, View, and Rollback Revisions for Apps

PAS supports revisions for apps. A revision is an object that represents code and configuration used by an app at a specific time. Some uses cases for revisions include rolling back your app to a previous version and viewing changes in your app over time. You can also add metadata to revisions.

For more information, see [App Revisions](https://docs.pivotal.io/pivotalcf/2-6/devguide/revisions.html).

### <a id='sidecars'></a> Push Apps with Sidecar Processes (Beta)

You can run additional processes, or sidecars, in the same container as your app. Sidecars are useful for processes that depend on each other or must run in the same container. This includes processes that must communicate through localhost or share the same filesystem, such as an Application Performance Monitoring (APM) tool.

For more information, see [Pushing Apps with Sidecar Processes (Beta)](https://docs.pivotal.io/pivotalcf/2-6/devguide/sidecars.html).

### <a id='containerd'></a> Garden Delegates Container Creation and Destruction to containerd by Default

Traditionally, Garden uses runc directly to create, delete, and run container processes. Garden v1.15.0 and later support delegating some of the container lifecycle through containerd, which is the industry standard wrapper around runc.

Containerd mode is enabled by default to bring PAS in line with other container providers. To disable containerd mode, deselect the **Enable Containerd Delegation** checkbox in the **Application Containers** pane of the PAS tile.

For more information, see [opsguide-containerd.md](https://github.com/cloudfoundry/garden-runc-release/blob/develop/docs/opsguide-containerd.md) on GitHub.

### <a id='nfs'></a> NFS Legacy Mounter Removed

PAS v2.6 removes the `nfs-legacy` NFS mounter. Existing `nfs-legacy` service instances will continue to work, but will use the newer `nfs` mounter.

PAS v2.3 introduced the `nfs-experimental` service. PAS v2.4 made this the default `nfs` service, and the original service became `nfs-legacy`. For more information, see [Experimental NFS Volume Service Supports NFSv4](https://docs.pivotal.io/pivotalcf/2-3/pcf-release-notes/runtime-rn.html#nfs) and [NFS-Experimental Service Graduation](https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/runtime-rn.html#nfs-experimental-graduation).

### <a id='diego-root-ca'></a> Extra Diego Root CA Added to Prevent Future Expiration Issues

The current Diego root CA included with PAS v2.3 and later expires in mid-2020. To prevent potential expiration issues with intermediate CAs when the root CA expires, PAS v2.6 includes another Diego root CA that extends the root CA expiration date.

The Diego root CA is used to sign intermediate CAs, which are used to sign app identity certificates. In turn, app identity certificates are used to establish trust between applications and various components. 

PAS v2.6 includes both the original root CA and the new root CA for Diego. This release note is informational only. No operator intervention is required.

### <a id="read-write-performance"></a> Performance Improvements for Read-Write File Systems

PAS v2.6 improves the speed of read-write mounted file systems that use UID mapping. This improvement addresses performance issues in mapfs, which is enabled when you specify a UID that maps to an NFS volume.

For more information about using external file systems and NFS volume services, see [Using an External File System (Volume Services)](https://docs.pivotal.io/pivotalcf/2-6/devguide/services/using-vol-services.html).

### <a id='default-cpu-router'></a> Increased CPUs for Router VMs

To improve reliability, PAS v2.6 increases the default and minimum CPU core count from one to two for Router VMs.

PAS migrates Router VMs with a single core to a VM type with two CPU cores during the upgrade.

### <a id='syslog'></a> Loggregator Syslog Agent Increases Scale For Syslog Drains

<p class="note warning"><strong>WARNING:</strong> See the following known issue related to this feature: <a href="#syslog">App Syslog Drains Fail After Enabling Agent-Based Syslog</a>.</p>

The Loggregator architecture includes optional Syslog Agents. Syslog Agents run on PCF component VMs and host VMs to manage connections with and write to syslog drains for app logs. The addition of Syslog Agents increases the number of syslog drain service bindings supported by the Loggregator system and reduces the workload for Loggregator VMs.

To enable Syslog Agents, select **Enable agent-based syslog egress for app logs** in the **System Logging** PAS configuration pane. 

<p class="note"><strong>Note:</strong> Enabling this feature disables the Syslog Adapter and Syslog Scheduler to avoid log duplication.</p>  

This update resolves a known issue where app log loss occurs at 10,000 syslog drain service bindings. For more information about the known issue, see the [Known Loggregator Scaling Issues](https://community.pivotal.io/s/article/known-loggregator-scaling-issues) knowledge base article.

For more information about Syslog Agents, see [Loggregator Architecture](https://docs.pivotal.io/pivotalcf/2-6/loggregator/architecture.html).

### <a id='terminate-instance'></a> Terminate Specific Instances of an App in Apps Manager UI

Apps Manager allows you to terminate a specific instance of an app through the UI. On the list of apps in the Apps Manager UI, a menu option called **Terminate Instance** appears.

For more information about terminating an instance, see [Terminate a process instance](http://v3-apidocs.cloudfoundry.org/version/3.68.0/#terminate-a-process-instance) in the Cloud Foundry API documentation.

### <a id='view-edit-org'></a> View and Edit Labels and Annotations Associated with an Organization

In the **Settings** pane of the Apps Manager UI, the **Metadata** section contains lists of labels and annotations associated with an organization. You can edit these labels and annotations.

For more information, see the [Add Metadata](http://docs.pivotal.io/pivotalcf/2-6/console/manage-spaces.html#metadata) section of the _Managing Orgs and Spaces Using Apps Manager_ topic.


## <a id='known-issues'></a> Known Issues

### <a id='syslog'></a> App Syslog Drains Fail After Enabling Agent-Based Syslog

If you select **Enable agent-based syslog egress for app logs** in the **System Logging** pane of the PAS tile, external syslog drains that are bound to Windows Apps cannot collect logs. For more information, see [Enable agent-based syslog egress for app logs" interrupts external log collection for PAS Windows apps](https://community.pivotal.io/s/article/enable-agent-based-syslog-egress-for-app-logs) in the Pivotal Knowledge Base. 

### <a id='missing-env-variables'></a> Some Environment Variables Are Missing When Using cflinuxfs3

When using the `cflinuxfs3` stack in PAS v2.3 or later, if you provide environment variables containing periods or dashes, the environment variables do not appear in the process environment of the app.

To resolve this issue, ensure that all applications are using environment variables that do not contain periods or dashes.

For more information, see [Missing environment variables when using PAS 2.3+ and the cflinuxfs3 stack](https://community.pivotal.io/s/article/missing-environment-variables-when-using-pas-2-3-and-the-cflinuxfs3-stack) in the Pivotal Knowledge Base.

### <a id="credhub-db-migration-failure"></a> CredHub Database Migration Failure

When the CredHub database fails to migrate with a `Flyway` exception, it may be caused by an issue with the `flyway_schema_history` table.

For information on how to address this issue, see [Database Migration Failure](https://github.com/pivotal-cf/credhub-release/blob/master/docs/known-issues.md#database-migration-failure) in GitHub.

### <a id="stale-routes"></a> Intermittent Misrouting of Apps in Large PCF Foundations

Large PCF Foundations can experience intermittent misrouting of apps.
These routes can point to non-existent or incorrect app containers 
and can cause apps to intermittently return HTTP codes 404 or 502. 

This issue typically occurs in larger-sized foundations where a single Gorouter 
instance misses a deregistration message when a user unmaps routes to a running app. 
As a result, the Gorouter retains stale routes in its routing table.

This issue been fixed in PAS v2.6.1.

If you experience intermittent misrouting in apps, do the following: 

1. Log in to Ops Manager.
1. Update the PAS tile to PAS v2.6.1.
1. In the PAS tile, select **Application Containers**.
1. Select the **Prune Routes on TTL Expiry for TLS Backends** checkbox.
1. Click **Review Pending Changes**.
1. Click **Apply Changes**.

For more information, see [Enabling TLS from the Gorouter to application instances results in bad routes in PAS 2.3+](https://community.pivotal.io/s/article/enabling-tls-from-the-gorouter-to-application-instances-results-in-bad-routes).

### <a id=‘apps-manager-square-logo’></a> Apps Manager Unable to Show Custom Branding Square Logo

In PAS v2.6.0 to v2.6.3, Apps Manager does not show a custom logo in its header. It instead shows the Pivotal Web Services logo. 

This issue is fixed in later releases.
