---
title: Pivotal Elastic Runtime v1.10 Release Notes
owner: Release Engineering
---

## <a id='versions'></a> Component Versions

Versions 1.10.0 and higher versions of Elastic Runtime consist of the following component versions:

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3312.12</td>
  </tr><tr>
    <td>binary-buildpack</td><td>1.0.9</td>
  </tr><tr>
    <td>capi</td><td>1.21.0</td>
  </tr><tr>
    <td>cf</td><td>252\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>83</td>
  </tr><tr>
    <td>cf-mysql</td><td>34</td>
  </tr><tr>
    <td>cf-networking</td><td>0.16.0</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.50.0</td>
  </tr><tr>
    <td>consul</td><td>152</td>
  </tr><tr>
    <td>diego</td><td>1.7.1</td>
  </tr><tr>
    <td>dotnet-core-buildpack</td><td>1.0.11</td>
  </tr><tr>
    <td>etcd</td><td>93</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>go-buildpack</td><td>1.7.18</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.13</td>
  </tr><tr>
    <td>loggregator</td><td>77</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.32.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>7.2.0</td>
  </tr><tr>
    <td>nats</td><td>15</td>
  </tr><tr>
    <td>nfs-volume</td><td>0.1.5</td>
  </tr><tr>
    <td>nodejs-buildpack</td><td>1.5.29</td>
  </tr><tr>
    <td>notifications</td><td>35</td>
  </tr><tr>
    <td>notifications-ui</td><td>27</td>
  </tr><tr>
    <td>php-buildpack</td><td>4.3.26</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.3.2</td>
  </tr><tr>
    <td>postgres</td><td>13</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>660.3</td>
  </tr><tr>
    <td>python-buildpack</td><td>1.5.15</td>
  </tr><tr>
    <td>routing</td><td>0.145.0</td>
  </tr><tr>
    <td>ruby-buildpack</td><td>1.6.34</td>
  </tr><tr>
    <td>service-backup</td><td>18.0.3</td>
  </tr><tr>
    <td>staticfile-buildpack</td><td>1.3.17</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.19</td>
  </tr><tr>
    <td>uaa</td><td>25</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

## <a id='upgrade'></a> How to Upgrade

The procedure for upgrading to Pivotal Cloud Foundry Elastic Runtime v1.10 is documented in the
[Upgrading Pivotal Cloud Foundry](../../customizing/upgrading-pcf.html) topic.

When upgrading to v1.10, be aware of the following upgrade considerations:

   * You must upgrade to a version of Elastic Runtime v1.9.0 or higher in order to successfully upgrade to v1.10.
   * Before upgrading to PCF v1.10, remove any product tiles that are no longer supported in PCF.
     See [Review and Remove Unsupported Products](../../customizing/upgrading-pcf.html#remove-products).<br><br/>
     Some partner service tiles may currently be incompatible with PCF v1.10. Pivotal is working with partners to
     ensure their tiles are being updated to work with the latest versions of PCF.<br/><br/>
     For information about which partner service releases are currently compatible with PCF v1.10, review the
     appropriate partners services release documentation at [http://docs.pivotal.io](http://docs.pivotal.io), or
     contact the partner organization that produces the tile.

## <a id='1.10.0'></a> New Features in Elastic Runtime v1.10.0

This section describes new features of the release.

### <a id='adv-features'></a> Advanced Features

The Advanced Features section of the Elastic Runtime tile includes new functionality that may have certain constraints.
Although these features are fully supported, Pivotal recommends caution when using them in production.

### <a id='container-networking'></a> Container Networking

The Elastic Runtime tile offers a Container Networking feature in the Advanced Features section that puts applications onto their own overlay network.

For more information, see the [Container Networking](../adminguide/container-networking.html) topic.

### <a id='volume-services'></a> Volume Services

There is now general support for volume services inside of application containers.

Additionally, the Elastic Runtime ships with an NFS Volume Service Broker as an advanced feature.

### <a id='etcd-tls'></a> Secured etcd Cluster

This release removes the etcd Proxy VM, ensuring all communication to the etcd cluster happens over a secured connection.

### <a id='rate-limiting'></a> CF API Rate Limiting

The CF API can enforce rate limits for users and clients. The limits can be enabled in the Advanced Features section of the Elastic Runtime tile.

Limits can be set for authenticated and unauthenticated clients and expire over a rolling hour-long window.

### <a id='cfdot'></a> Cloud Foundry Diego Operator Toolkit

All Diego VMs now include an operator toolkit, known as `cfdot`, for interacting with your Diego components.

For more details about `cfdot`, see the [documentation](https://github.com/cloudfoundry/cfdot).

### <a id='cc-clock'></a> Multi-node Cloud Controller Clock

The Cloud Controller Clock has been outfitted to allow multiple instances of the VM to run in parallel.

Operators can scale the instance count for the VM to fit their needs.

### <a id='router-perf-improvements'></a> Router Performance Improvements

The Routers can now be configured to maintain a number of keep-alive connections.

Reusing connections will allow for HTTP performance improvements as the underlying connection will not need to be reestablished on every request.

### <a id='disabled-ssh-default'></a> SSH Access Can Be Disabled As A Default For New Applications

Application SSH access was previously available as a global feature of Cloud Foundry.

In addition to the global setting, operators can now choose to disable the feature for new applications.

Choosing to disable the feature for new applications will require that developers enable SSH access on a per-application basis before using the feature.

### <a id='azure-blobstore'></a> Azure Blobstore Support

The Elastic Runtime now supports using Azure Storage as a backend for the platform file storage.

### <a id='mysql-improvements'></a> Internal MySQL Diagnostic and Availability Improvements

The internal MySQL database cluster now includes healthcheck thresholds.
These thresholds can be configured to match your MySQL load balancer thresholds so that failover is seamless.

Additionally, the MySQL Monitor job now includes a tool called `mysql-diag` that provides some diagnostic information about your MySQL cluster.

### <a id='container-max-in-flight'></a> Global Container Max Inflight Configuration

Diego now provides a configuration option for limiting the number of containers allowed to be in a "starting" state at any one time.
As a default, the setting will limit the number of containers in the "starting" state to 200.

This setting will prevent Diego from scheduling too much work for your platform to handle, preventing a possible cascading failure.

## <a id='knownissues'></a> Known Issues

This section lists new and existing known issues for Elastic Runtime.

###<a id='newissues'></a> New Issues

###<a id='existingissues'></a> Existing Issues
