---
title: Pivotal Elastic Runtime v2.0 Release Notes
owner: Release Engineering
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for 2017.

Read more about the [certified provider
program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of
providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases



## <a id='upgrade'></a> How to Upgrade

<!----
The procedure for upgrading to Pivotal Cloud Foundry (PCF) Elastic Runtime v2.0 is
documented in the [Upgrading Pivotal Cloud
Foundry](../customizing/upgrading-pcf.html) topic.---->

When upgrading to v2.0, be aware of the following upgrade considerations:

* You must upgrade first to a version of Elastic Runtime v1.12.x to
  successfully upgrade to v2.0.
 
* Some partner service tiles may be incompatible with PCF v2.0. Pivotal is
  working with partners to ensure their tiles are being updated to work with the
  latest versions of PCF.<br/><br/> For information about which partner service
  releases are currently compatible with PCF v2.0, review the appropriate
  partners services release documentation at
  [https://docs.pivotal.io](https://docs.pivotal.io), or contact the partner
  organization that produces the tile.

## <a id='new-features'></a> New Features in Elastic Runtime v2.0.0


##<a id='knownissues'></a> Known Issues



## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the Elastic Runtime tile includes new
functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when
using them in production.
