---
title: Pivotal Application Service v2.3 Release Notes
owner: Release Engineering
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

### <a id='2.3.0-beta.1'></a> 2.3.0-beta.1

* **[Feature]** PAS includes the cflinuxfs3 rootfs and associated buildpacks. For information about migrating apps to cflinuxfs3, see [Changing Stacks](https://docs.pivotal.io/pivotalcf/devguide/deploy-apps/stacks.html#cli-commands).

* **[Bug Fix]** Fixed these known issues in alpha.3:
  * Binary buildpacks for PASW are not properly installed

* Bump binary-offline-buildpack to version `1.0.23`
* Bump capi to version `1.65.0`
* Bump cf-autoscaling to version `205`
* Bump cflinuxfs2 to version `1.229.0`
* Bump cflinuxfs3 to version `0.9.0`
* Bump java-offline-buildpack to version `4.15`
* Bump log-cache to version `1.3.0`
* Bump push-apps-manager-release to version `666.0.1`
* Bump pxc to version `0.13.0`
* Bump routing to version `0.179.1`
* Bump stemcell ubuntu-xenial to version `97.5`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>97.5</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.9.0</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.23</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.2</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>bpm</td><td>0.9.0</td>
  </tr><tr>
    <td>broker-registrar</td><td>3.4.0</td>
  </tr><tr>
    <td>capi</td><td>1.65.0</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>205</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.11</td>
  </tr><tr>
    <td>cf-cli</td><td>1.5.0</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.15.0</td>
  </tr><tr>
    <td>cf-networking</td><td>2.11.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>40.0.6</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>7.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.229.0</td>
  </tr><tr>
    <td>cflinuxfs3</td><td>0.9.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>credhub</td><td>1.9.5</td>
  </tr><tr>
    <td>diego</td><td>2.14.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.1.4</td>
  </tr><tr>
    <td>garden-runc</td><td>1.16.1</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.26</td>
  </tr><tr>
    <td>haproxy</td><td>8.9.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.15</td>
  </tr><tr>
    <td>log-cache</td><td>1.3.0</td>
  </tr><tr>
    <td>loggregator</td><td>103.0</td>
  </tr><tr>
    <td>mapfs</td><td>1.0.1</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.20.0</td>
  </tr><tr>
    <td>nats</td><td>25</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.5.0</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.30</td>
  </tr><tr>
    <td>notifications</td><td>51</td>
  </tr><tr>
    <td>notifications-ui</td><td>33</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.59</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.9.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>666.0.1</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>667.0.1</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.20</td>
  </tr><tr>
    <td>pxc</td><td>0.13.0</td>
  </tr><tr>
    <td>routing</td><td>0.179.1</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.22</td>
  </tr><tr>
    <td>silk</td><td>2.11.0</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.31</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.3.0</td>
  </tr><tr>
    <td>syslog</td><td>11.3.2</td>
  </tr><tr>
    <td>uaa</td><td>60.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.3.0-alpha.3'></a> 2.3.0-alpha.3

* **[Feature Improvment]** GrootFS is always enabled. The option to disable it has been removed.
* **[Feature Improvment]** UAA processes are isolated with the [BOSH Process Manager (bpm)](https://github.com/cloudfoundry-incubator/bpm-release)
* **[Feature Improvment]** Diego processes are isolated with by the [BOSH Process Manager (bpm)]https://github.com/cloudfoundry-incubator/bpm-release)
* **[Feature Improvement]** Add new UAA scopes so Apps Manager needs networking administration features
* **[Feature Improvement]** Use BOSH DNS for all internal service discovery; Remove consul agents from all instances.

* **[Bug Fix]** Fixed these known issues in alpha.2:
  * The nfsbrokerpush errand may fails if the service broker has already been created. You may need to disable the errand in order to successfully deploy PAS.
  * PAS fails to deploy with latest Ops Manager v2.3 as of this time (2.3-alpha.1 and 2.3-alpha.2). The tile was last tested successfully with Ops Manager v2.2.0.

* **[Known Issue]** Added known issues in alpha.3:
  * Autoscaler backup failure on stemcells without python (e.g. AWS)
  * Binary buildpacks for PASW are not properly installed

* Bump backup-and-restore-sdk to version `1.9.0`
* Bump binary-offline-buildpack to version `1.0.22`
* Bump capi to version `1.63.0`
* Bump cf-autoscaling to version `204`
* Bump cf-cli to version `1.5.0`
* Bump cf-networking to version `2.11.0`
* Bump cf-smoke-tests to version `40.0.6`
* Bump cflinuxfs2 to version `1.228.0`
* Bump diego to version `2.14.0`
* Bump dotnet-core-offline-buildpack to version `2.1.4`
* Bump garden-runc to version `1.16.1`
* Bump go-offline-buildpack to version `1.8.26`
* Bump haproxy to version `8.9.0`
* Bump java-offline-buildpack to version `4.14`
* Bump log-cache to version `1.4.1`
* Bump nats to version `25`
* Bump nfs-volume to version `1.5.0`
* Bump nodejs-offline-buildpack to version `1.6.30`
* Bump php-offline-buildpack to version `4.3.59`
* Bump python-offline-buildpack to version `1.6.20`
* Bump pxc to version `0.13.0`
* Bump ruby-offline-buildpack to version `1.7.22`
* Bump silk to version `2.11.0`
* Bump staticfile-offline-buildpack to version `1.4.31`
* Bump stemcell to version `97.3`


  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>97.3</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.9.0</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.22</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.2</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>bpm</td><td>0.9.0</td>
  </tr><tr>
    <td>broker-registrar</td><td>3.4.0</td>
  </tr><tr>
    <td>capi</td><td>1.63.0</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>204</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.11</td>
  </tr><tr>
    <td>cf-cli</td><td>1.5.0</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.15.0</td>
  </tr><tr>
    <td>cf-networking</td><td>2.11.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>40.0.6</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>7.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.228.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>credhub</td><td>1.9.5</td>
  </tr><tr>
    <td>diego</td><td>2.14.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.1.4</td>
  </tr><tr>
    <td>garden-runc</td><td>1.16.1</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.26</td>
  </tr><tr>
    <td>haproxy</td><td>8.9.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.14</td>
  </tr><tr>
    <td>log-cache</td><td>1.4.1</td>
  </tr><tr>
    <td>loggregator</td><td>103.0</td>
  </tr><tr>
    <td>mapfs</td><td>1.0.1</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.20.0</td>
  </tr><tr>
    <td>nats</td><td>25</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.5.0</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.30</td>
  </tr><tr>
    <td>notifications</td><td>51</td>
  </tr><tr>
    <td>notifications-ui</td><td>33</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.59</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.9.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>665.0.6</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>667.0.1</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.20</td>
  </tr><tr>
    <td>pxc</td><td>0.13.0</td>
  </tr><tr>
    <td>routing</td><td>0.179.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.22</td>
  </tr><tr>
    <td>silk</td><td>2.11.0</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.31</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.3.0</td>
  </tr><tr>
    <td>syslog</td><td>11.3.2</td>
  </tr><tr>
    <td>uaa</td><td>60.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.3.0-alpha.2'></a> 2.3.0-alpha.2

* **[Feature Improvement]** Use stemcell based on Ubuntu Xenial
* **[Feature Improvement]** `capi` `/v2/info` endpoint returns additional metadata for `name`, `build` and `description`
* **[Feature Improvement]** Allows PCF Metrics to be installed with both v1.5 and v1.4 versions to prevent dataloss.
* **[Bug fix]** Apps using a Docker image from an insecure registry configured in the Private Docker Insecure Registry Whitelist can now be staged successfully.

* Bump bpm to version `0.9.0`
* Bump broker-registrar to version `3.4.0`
* Bump capi to version `1.62.0`
* Bump cf-mysql to version `36.15.0`
* Bump cf-networking to version `2.9.0`
* Bump cflinuxfs2 to version `1.227.0`
* Bump credhub to version `1.9.5`
* Bump diego to version `2.13.0`
* Bump java-offline-buildpack to version `4.13`
* Bump log-cache to version `1.4.0`
* Bump loggregator to version `103.0`
* Bump silk to version `2.9.0`
* Bump uaa to version `60.2`
* Bump stemcell to version `97`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>97</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.8.1</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.21</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.2</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>bpm</td><td>0.9.0</td>
  </tr><tr>
    <td>broker-registrar</td><td>3.4.0</td>
  </tr><tr>
    <td>capi</td><td>1.62.0</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>203.0.0</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.11</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.15.0</td>
  </tr><tr>
    <td>cf-networking</td><td>2.9.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>40.0.5</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>7.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.227.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>credhub</td><td>1.9.5</td>
  </tr><tr>
    <td>diego</td><td>2.13.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.1.3</td>
  </tr><tr>
    <td>garden-runc</td><td>1.15.1</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.25</td>
  </tr><tr>
    <td>haproxy</td><td>8.8.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.13</td>
  </tr><tr>
    <td>log-cache</td><td>1.4.0</td>
  </tr><tr>
    <td>loggregator</td><td>103.0</td>
  </tr><tr>
    <td>mapfs</td><td>1.0.1</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.20.0</td>
  </tr><tr>
    <td>nats</td><td>24</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.4.0</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.28</td>
  </tr><tr>
    <td>notifications</td><td>51</td>
  </tr><tr>
    <td>notifications-ui</td><td>33</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.57</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.9.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>665.0.6</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>667.0.1</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.18</td>
  </tr><tr>
    <td>pxc</td><td>0.10.0</td>
  </tr><tr>
    <td>routing</td><td>0.179.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.21</td>
  </tr><tr>
    <td>silk</td><td>2.9.0</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.29</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.3.0</td>
  </tr><tr>
    <td>syslog</td><td>11.3.2</td>
  </tr><tr>
    <td>uaa</td><td>60.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.3.0-alpha.1'></a> 2.3.0-alpha.1

* Remove ability to opt-out of GrootFS
* Bump backup-and-restore-sdk to version `1.8.1`
* Bump bpm to version `0.8.0`
* Bump capi to version `1.61.0`
* Bump cf-autoscaling to version `203`
* Bump cf-networking to version `2.7.0`
* Bump cf-syslog-drain to version `7.0`
* Bump diego to version `2.12.0`
* Bump garden-runc to version `1.15.1`
* Bump haproxy to version `8.8.0`
* Bump mapfs to version `1.0.1`
* Bump mysql-monitoring to version `8.20.0`
* Bump nfs-volume to version `1.4.0`
* Bump notifications to version `51`
* Bump push-apps-manager-release to version `665.0.6`
* Bump push-usage-service-release to version `667.0.1`
* Bump pxc to version `0.10.0`
* Bump routing to version `0.179.0`
* Bump silk to version `2.7.0`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3586.24</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.8.1</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.21</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.2</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.11</td>
  </tr><tr>
    <td>bpm</td><td>0.8.0</td>
  </tr><tr>
    <td>capi</td><td>1.61.0</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>203.0.0</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.11</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.14.0</td>
  </tr><tr>
    <td>cf-networking</td><td>2.7.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>40.0.5</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>7.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.223.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>credhub</td><td>1.9.3</td>
  </tr><tr>
    <td>diego</td><td>2.12.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.1.3</td>
  </tr><tr>
    <td>garden-runc</td><td>1.15.1</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.25</td>
  </tr><tr>
    <td>haproxy</td><td>8.8.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.12.1</td>
  </tr><tr>
    <td>log-cache</td><td>1.3.0</td>
  </tr><tr>
    <td>loggregator</td><td>102.3</td>
  </tr><tr>
    <td>mapfs</td><td>1.0.1</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.20.0</td>
  </tr><tr>
    <td>nats</td><td>24</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.4.0</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.28</td>
  </tr><tr>
    <td>notifications</td><td>51</td>
  </tr><tr>
    <td>notifications-ui</td><td>33</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.57</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.9.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>665.0.6</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>667.0.1</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.18</td>
  </tr><tr>
    <td>pxc</td><td>0.10.0</td>
  </tr><tr>
    <td>routing</td><td>0.179.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.21</td>
  </tr><tr>
    <td>silk</td><td>2.7.0</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.29</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.3.0</td>
  </tr><tr>
    <td>syslog</td><td>11.3.2</td>
  </tr><tr>
    <td>uaa</td><td>60</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>


## <a id='upgrade'></a> How to Upgrade

The procedure for upgrading to Pivotal Application Service (PAS) v2.3 is documented in the [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/2-3/customizing/upgrading-pcf.html) topic.

When upgrading to v2.3, be aware of the following upgrade considerations:

* If you previously used an earlier version of PAS, you must first upgrade to PAS v2.2 to successfully upgrade to PAS v2.3.

* You must enable GrootFS before upgrading to PAS v2.3. To enable GrootFS, go to **Application Containers** in PAS and select **Enable the GrootFS container image plugin for Garden RunC**. Pivotal recommends recreating all VMs when enabling GrootFS. To recreate all VMs, go to **Director Config** in the BOSH Director tile and select **Recreate all VMs**. 

* Some partner service tiles may be incompatible with PCF v2.3. Pivotal is working with partners to ensure their tiles are updated to work with the latest versions of PCF.<br/><br/> For information about which partner service releases are currently compatible with PCF v2.3, review the appropriate partners services release documentation at [https://docs.pivotal.io](https://docs.pivotal.io), or contact the partner organization that produces the tile.


## <a id='new-features'></a> New Features in PAS v2.3

### <a id="xenial"></a> Xenial Stemcells

PAS v2.3.0 uses a Xenial stemcell based on Ubuntu 16.04 (Xenial Xerus). 

The previously supported Trusty stemcells were based on Ubuntu 14.04 (Trusty Tahr). This distribution will reach end of general support (EOGS) in April 2019 and will no longer receive security updates. 

Using Xenial stemcells in v2.3 ensures that PAS users continue to have access to secure stemcells based on a Ubuntu distribution maintained by Canonical. 

### <a id="bpm"></a> BOSH Process Manager 

Starting in v2.3, most PAS components use BOSH Process Manager (bpm).  

bpm is a layer between BOSH and the jobs running on PAS component VMs. It improves the way processes run on VMs by providing isolation between collocated jobs. With the exception of networking, bpm namespaces system resources so a job cannot view or interact with the processes of another job. This provides a security barrier such that if a job on a VM is compromised, the incident is limited to just that job rather than all jobs on the same machine.

bpm also includes resource limiting capability. This prevents any one job from using too many operating system resources and impacting collocated jobs. 

For more information about bpm, see the [bpm-release](https://github.com/cloudfoundry-incubator/bpm-release) repository.  

### <a id="groot"></a> Deprecated Garden Image Plugin Option Removed

<p class="warning note"><strong>WARNING:</strong> If you do not have GrootFS enabled, you must enable it before upgrading to PAS v2.3. See <a href="#upgrade">How to Upgrade</a> above.</p>

Garden creates app containers in PAS and includes an image plugin that prepares the filesystem for the container. PCF v1.12 introduced GrootFS as the default image plugin to replace the previous built-in functionality, garden-shed, which used an obsolete layer filesystem (AUFS) that lacked support from the Linux Kernel community.

Though GrootFS is the default image plugin in v1.12 through v2.2, PAS provided an option in the **Application Containers** pane for operators to disable GrootFS and use garden-shed. However, garden-shed is now deprecated and PAS v2.3 removes the option to use it. 

For more information about GrootFS in PCF, see the following topics:

* [Understanding Container Security](https://docs.pivotal.io/pivotalcf/2-3/concepts/container-security.html#mechanics)
* [Garden](https://docs.pivotal.io/pivotalcf/2-3/concepts/architecture/garden.html#garden-rootfs)

### <a id="networking-tab"></a> Create Container-to-Container Networking Policies in Apps Manager

Operators and Developers can click **Networking** in Apps Manager to set container-to-container networking polices. To set container-to-container networking polices you must have the `network.admin` or `network.write` UAA scope. 

For more information, see [Create Container-to-Container Networking Policies](http://docs-pcf-staging.cfapps.io//pivotalcf/2-3/console/manage-apps.html#networking).

### <a id="encyrpt-traffic"></a> Gorouter to Cloud Controller Traffic is Encrypted

In PAS v2.3, traffic between the Gorouter and Cloud Controller is encrypted. To ensure there is no downtime while upgrading from v2.2 to v2.3, download the latest patch for v2.2. This patch contains the configuration `router.backends.enable_tls: true` in the Gorouter manifest.

### <a id="nfs"></a> Experimental NFS Volume Service Plan

PAS v2.3 includes an additional service plan, `nfs-experimental`, for mounting apps to NFS volume services. `nfs-experimental` mounts use a different mounting strategy that increases performance with faster read/write speeds and asynchronous communication. 

The `nfs-experimental` plan also adds support for mounting apps to NFSv4 volumes. You can specify your desired NFS protocol using the `version` parameter when creating a service instance. 

For instructions on using `nfs-experimental`, see [NFS Volume Service](https://docs.pivotal.io/pivotalcf/2-3/devguide/services/using-vol-services.html#nfs).

### <a id="add-domain"></a> Create Private Domains in Apps Manager

Admins and Org Managers can click **Add a Domain** in Apps Manager to create a new private domain. For more information, see [Domains](https://docs.pivotal.io/pivotalcf/2-3/console/manage-spaces.html#domains).

### <a id="delete-routes"></a> Delete Route and App Simultaneously with Apps Manager

When you click **Delete App** in the **View Settings** tab of your
app, you are now prompted with the option to delete the routes associated with your app.

For more information about locating **Delete App** in Apps Manager, 
see [View Settings](https://docs.pivotal.io/pivotalcf/2-3/console/manage-apps.html#view-settings).

## <a id='known-issues'></a> Known Issues

### <a id="bbr-aws"></a> BOSH Backup and Restore (BBR) Failure on AWS

On deployments configured to use an AWS S3 blobstore, BOSH Backup and Restore (BBR) may fail.

### <a id="bbr-aws"></a> Autoscaler backup failure on stemcells without python (e.g. AWS)

Autoscaler backups fail on stemcells without python. The backup scripts in the autoscaler service implicitly depend on python, which was previously available in the stemcell, but has since been removed.

### <a id='tcp-port-config'></a> Configuring Multiple TCP Routing Ports

This section describes an issue and workaround related to configuring multiple TCP Routing Ports in the PAS tile UI. 

#### Issue

You cannot enter a comma-separated list of ports in the **TCP Routing Ports** field of the PAS tile. If you enter a comma-separated list, the Routing API does not start. The **TCP Routing Ports** field allows entries in the following formats:

* A single value, such as `1234`
* A range of values, such as `1234-5678`

#### Workaround

If you want to configure multiple ports, do the following:

<p class="note"><strong>Note:</strong> This procedure causes brief downtime for TCP apps listening on ports that you open after deploying PAS.</p>

1. Configure PAS with **Enable TCP Routing** selected.

1. Enter one port you want to use in the **TCP Routing Ports** field.

1. Deploy PAS.

1. Use the Routing API to add all desired TCP ports by following the instructions in the [Modify your TCP ports](https://docs.pivotal.io/pivotalcf/1-12/adminguide/enabling-tcp-routing.html#modify-ports) section of the _Enabling TCP Routing_ topic. When using the Routing API, you can include a comma separated list of ports.
