---
title: Pivotal Application Service v2.7 Release Notes
owner: Release Engineering
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

### <a id='2.7.0-beta.1'></a> 2.7.0-beta.1

**Release Date:** 08/01/2019

* **[Known Issue]** The "Internal Domains" field on the "Application Dev Controls" form cannot be changed from the default
* **[Security Fix]** When a Spring Boot app has a route with unencrypted HTTP as the protocol, Apps Manager attempts requests via encrypted HTTPS
* **[Feature]** Allow operator to configure service mesh domain
* **[Feature]** Add option to allow queries to inactive MySQL servers so auditing and reporting queries can be made without impacting performance on the active MySQL node.
* **[Feature Improvement]** Agent-based syslog egress is enabled by default
* **[Bug Fix]** Fix race condition when starting the PAS MySQL database that caused potential failures during upgrade/deploy
* **[Bug Fix]** Fixes a regression causing `mount` bind configuration to be rejected by the SMB volume service broker
* **[Bug Fix]** Fix issue in SMB startup scripts that can cause restart failure or inadvertent application data permission change
* **[Bug Fix]** Fix evaluation of `nfsbrokerpush.db.ca_cert` property in nfs-volume-release when using external DB without TLS.
* Bump ubuntu-xenial stemcell to version `315.70`
* Bump backup-and-restore-sdk to version `1.16.0`
* Bump binary-offline-buildpack to version `1.0.33`
* Bump capi to version `1.84.0`
* Bump cf-autoscaling to version `220`
* Bump cf-cli to version `1.17.0`
* Bump cf-smoke-tests to version `40.0.113`
* Bump cflinuxfs3 to version `0.118.0`
* Bump credhub to version `2.5.0`
* Bump diego to version `2.35.0`
* Bump garden-runc to version `1.19.4`
* Bump go-offline-buildpack to version `1.8.42`
* Bump java-offline-buildpack to version `4.20`
* Bump log-cache to version `2.1.6`
* Bump loggregator-agent to version `3.18`
* Bump loggregator to version `105.6`
* Bump mapfs to version `1.2.0`
* Bump nfs-volume to version `2.2.2`
* Bump nginx-offline-buildpack to version `1.0.15`
* Bump nodejs-offline-buildpack to version `1.6.52`
* Bump php-offline-buildpack to version `4.3.78`
* Bump pxc to version `0.18.0`
* Bump python-offline-buildpack to version `1.6.36`
* Bump r-offline-buildpack to version `1.0.11`
* Bump ruby-offline-buildpack to version `1.7.42`
* Bump smb-volume to version `1.3.0`
* Bump uaa to version `73.7.0`
* Removed cf-syslog-drain release

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>315.70</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.16.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.33</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.0</td></tr>
    <tr><td>capi</td><td>1.84.0</td></tr>
    <tr><td>cf-autoscaling</td><td>220</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.17.0</td></tr>
    <tr><td>cf-networking</td><td>2.23.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.113</td></tr>
    <tr><td>cflinuxfs3</td><td>0.118.0</td></tr>
    <tr><td>credhub</td><td>2.5.0</td></tr>
    <tr><td>diego</td><td>2.35.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.12</td></tr>
    <tr><td>garden-runc</td><td>1.19.4</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.42</td></tr>
    <tr><td>haproxy</td><td>9.6.1</td></tr>
    <tr><td>istio</td><td>2</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.20</td></tr>
    <tr><td>leadership-election</td><td>1.4</td></tr>
    <tr><td>log-cache</td><td>2.1.6</td></tr>
    <tr><td>loggregator-agent</td><td>3.18</td></tr>
    <tr><td>loggregator</td><td>105.6</td></tr>
    <tr><td>mapfs</td><td>1.2.0</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.4.0</td></tr>
    <tr><td>nats</td><td>27</td></tr>
    <tr><td>nfs-volume</td><td>2.2.2</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.0.15</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.52</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>58</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.78</td></tr>
    <tr><td>push-apps-manager-release</td><td>670.0.4</td></tr>
    <tr><td>push-usage-service-release</td><td>670.0.6</td></tr>
    <tr><td>pxc</td><td>0.18.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.36</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.0.11</td></tr>
    <tr><td>routing</td><td>0.188.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.42</td></tr>
    <tr><td>silk</td><td>2.22.0</td></tr>
    <tr><td>smb-volume</td><td>1.3.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.43</td></tr>
    <tr><td>statsd-injector</td><td>1.10.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>73.7.0</td></tr>
  </tbody>
</table>

### <a id='2.7.0-alpha.3'></a> 2.7.0-alpha.3

* **[Security Fix]** Update CF CLI for Autoscaler
* **[Security Fix]** Use mTLS for internal communication with UAA
* **[Feature]** Move Apps Manager resource navigation into the sidebar, and secondary links into the footer
* **[Feature]** Users can skip the backing up of droplets and packages in the blobstore using the BBR cli, when selective-backups are enabled
* **[Feature]** Users can skip backup of certain buckets in the blobstore
* **[Feature]** Allow users to configure max package size so that they can upload packages larger than 2GB
* **[Feature]** Operators can rotate the  Cloud Controller Database encryption key
* **[Feature Improvement]** Add ability to configure max search depth for LDAP in UAA
* **[Bug Fix]** Add optional TTL pruning for TLS routes
* **[Bug Fix]** Send Isolation Segment smoke test application requests on port 443
* **[Feature Request]** PAS 2.7: consume uaadb.tls flag
* Unpin uaa in PAS 2.7
* Bump ubuntu-xenial stemcell to version `315.45`
* Bump capi to version `1.83.0`
* Bump cf-cli to version `1.16.0`
* Bump cf-networking to version `2.23.0`
* Bump cf-smoke-tests to version `40.0.109`
* Bump cflinuxfs3 to version `0.110.0`
* Bump diego to version `2.34.0`
* Bump dotnet-core-offline-buildpack to version `2.2.12`
* Bump garden-runc to version `1.19.3`
* Bump go-offline-buildpack to version `1.8.40`
* Bump haproxy to version `9.6.1`
* Bump nfs-volume to version `2.2.0`
* Bump nginx-offline-buildpack to version `1.0.13`
* Bump nodejs-offline-buildpack to version `1.6.51`
* Bump notifications to version `58`
* Bump php-offline-buildpack to version `4.3.77`
* Bump push-apps-manager-release to version `670.0.4`
* Bump python-offline-buildpack to version `1.6.34`
* Bump r-offline-buildpack to version `1.0.10`
* Bump ruby-offline-buildpack to version `1.7.40`
* Bump smb-volume to version `1.2.2`
* Bump staticfile-offline-buildpack to version `1.4.43`
* Bump uaa to version `73.3.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>315.45</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.15.1</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.32</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.0</td></tr>
    <tr><td>capi</td><td>1.83.0</td></tr>
    <tr><td>cf-autoscaling</td><td>219</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.16.0</td></tr>
    <tr><td>cf-networking</td><td>2.23.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.109</td></tr>
    <tr><td>cf-syslog-drain</td><td>10.2</td></tr>
    <tr><td>cflinuxfs3</td><td>0.110.0</td></tr>
    <tr><td>credhub</td><td>2.4.0</td></tr>
    <tr><td>diego</td><td>2.34.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.12</td></tr>
    <tr><td>garden-runc</td><td>1.19.3</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.40</td></tr>
    <tr><td>haproxy</td><td>9.6.1</td></tr>
    <tr><td>istio</td><td>2</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.18</td></tr>
    <tr><td>leadership-election</td><td>1.4</td></tr>
    <tr><td>log-cache</td><td>2.1.3</td></tr>
    <tr><td>loggregator-agent</td><td>3.17</td></tr>
    <tr><td>loggregator</td><td>105.5</td></tr>
    <tr><td>mapfs</td><td>1.1.5</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.4.0</td></tr>
    <tr><td>nats</td><td>27</td></tr>
    <tr><td>nfs-volume</td><td>2.2.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.0.13</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.51</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>58</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.77</td></tr>
    <tr><td>push-apps-manager-release</td><td>670.0.4</td></tr>
    <tr><td>push-usage-service-release</td><td>670.0.6</td></tr>
    <tr><td>pxc</td><td>0.17.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.34</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.0.10</td></tr>
    <tr><td>routing</td><td>0.188.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.40</td></tr>
    <tr><td>silk</td><td>2.22.0</td></tr>
    <tr><td>smb-volume</td><td>1.2.2</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.43</td></tr>
    <tr><td>statsd-injector</td><td>1.10.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>73.3.0</td></tr>
  </tbody>
</table>

### <a id='2.7.0-alpha.2'></a> 2.7.0-alpha.2

* **[Security Fix]** Usage service BBR script now uses ssl validation by default when logging into CAPI
* **[Feature]** Improve scalability of application syslog drain system with new syslog agent architecture
* **[Feature]** Google Cloud Storage (GCS) blobstores are now backed up with BOSH backup and restore (BBR)
* **[Feature]** Add option to disable v1 firehose in loggregator
* **[Feature Improvement]** Increase default number of CPUs for router from 1 to 2
* **[Bug Fix]** Fix drain script in SMB volume driver to prevent it from unmounting shares before Diego has finished evacuating the cell
* Bump ubuntu-xenial stemcell to version `315.36`
* Bump backup-and-restore-sdk to version `1.15.1`
* Bump bpm to version `1.1.0`
* Bump capi to version `1.82.0`
* Bump cf-autoscaling to version `219`
* Bump cf-smoke-tests to version `40.0.108`
* Bump cf-syslog-drain to version `10.2`
* Bump cflinuxfs3 to version `0.101.0`
* Bump garden-runc to version `1.19.2`
* Bump haproxy to version `9.6.0`
* Bump loggregator-agent to version `3.17`
* Bump loggregator to version `105.5`
* Bump nats to version `27`
* Bump nfs-volume to version `2.1.0`
* Bump push-apps-manager-release to version `670.0.3`
* Bump pxc to version `0.17.0`
* Bump smb-volume to version `1.1.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>315.36</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.15.1</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.32</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.0</td></tr>
    <tr><td>capi</td><td>1.82.0</td></tr>
    <tr><td>cf-autoscaling</td><td>219</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.13.0</td></tr>
    <tr><td>cf-networking</td><td>2.22.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.108</td></tr>
    <tr><td>cf-syslog-drain</td><td>10.2</td></tr>
    <tr><td>cflinuxfs3</td><td>0.101.0</td></tr>
    <tr><td>credhub</td><td>2.4.0</td></tr>
    <tr><td>diego</td><td>2.31.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.11</td></tr>
    <tr><td>garden-runc</td><td>1.19.2</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.39</td></tr>
    <tr><td>haproxy</td><td>9.6.0</td></tr>
    <tr><td>istio</td><td>2</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.18</td></tr>
    <tr><td>leadership-election</td><td>1.4</td></tr>
    <tr><td>log-cache</td><td>2.1.3</td></tr>
    <tr><td>loggregator-agent</td><td>3.17</td></tr>
    <tr><td>loggregator</td><td>105.5</td></tr>
    <tr><td>mapfs</td><td>1.1.5</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.4.0</td></tr>
    <tr><td>nats</td><td>27</td></tr>
    <tr><td>nfs-volume</td><td>2.1.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.0.11</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.49</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>57</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.76</td></tr>
    <tr><td>push-apps-manager-release</td><td>670.0.3</td></tr>
    <tr><td>push-usage-service-release</td><td>670.0.6</td></tr>
    <tr><td>pxc</td><td>0.17.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.32</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.0.9</td></tr>
    <tr><td>routing</td><td>0.188.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.38</td></tr>
    <tr><td>silk</td><td>2.22.0</td></tr>
    <tr><td>smb-volume</td><td>1.1.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.42</td></tr>
    <tr><td>statsd-injector</td><td>1.10.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>72.0</td></tr>
  </tbody>
</table>

### <a id='2.7.0-alpha.1'></a> 2.7.0-alpha.1

* **[Breaking Change]** Remove consul from PAS/SF-PAS
* **[Breaking Change]** Disables ssh proxy HTTP healthcheck server used for some GCP load balancers
* **[Security Fix]** Introduce and trust new Diego "root CA" in advance of existing CA expiration
* **[Feature Improvement]**  Allow raising of LogCache `max_per_source` to provide a longer historical duration for noisy sources.
* **[Feature Improvement]** Garden will now delegate container creates and destroys to containerd, an industry standard container runtime.
* **[Feature Improvement]**  Move 'Enable SMB Volume Services' checkbox from Advanced pane to Application Containers pane
* **[Bug Fix]** Apps Manager colors, header, and footer are customizable again.
* **[Bug Fix]** Fixes NFS resource leak issues
* Bump capi to version `1.80.0`
* Bump cflinuxfs3 to version `0.88.0`
* Bump credhub to version `2.4.0`
* Bump diego to version `2.31.0`
* Bump haproxy to version `9.5.1`
* Bump istio to version `2`
* Bump loggregator-agent to version `3.13`
* Bump mysql-monitoring to version `9.4.0`
* Bump nfs-volume to version `2.0.4`
* Bump push-apps-manager-release to version `669.0.4`
* Bump push-usage-service-release to version `670.0.6`
* Bump uaa to version `72.0`
* Removed consul-drain release
* Removed consul release

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>315.13</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.15.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.32</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>capi</td><td>1.80.0</td></tr>
    <tr><td>cf-autoscaling</td><td>218</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.13.0</td></tr>
    <tr><td>cf-networking</td><td>2.22.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.51</td></tr>
    <tr><td>cf-syslog-drain</td><td>10.1</td></tr>
    <tr><td>cflinuxfs3</td><td>0.88.0</td></tr>
    <tr><td>credhub</td><td>2.4.0</td></tr>
    <tr><td>diego</td><td>2.31.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.11</td></tr>
    <tr><td>garden-runc</td><td>1.19.1</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.39</td></tr>
    <tr><td>haproxy</td><td>9.5.1</td></tr>
    <tr><td>istio</td><td>2</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.18</td></tr>
    <tr><td>leadership-election</td><td>1.4</td></tr>
    <tr><td>log-cache</td><td>2.1.3</td></tr>
    <tr><td>loggregator-agent</td><td>3.13</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.1.5</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.4.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>2.0.4</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.0.11</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.49</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>57</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.76</td></tr>
    <tr><td>push-apps-manager-release</td><td>669.0.4</td></tr>
    <tr><td>push-usage-service-release</td><td>670.0.6</td></tr>
    <tr><td>pxc</td><td>0.16.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.32</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.0.9</td></tr>
    <tr><td>routing</td><td>0.188.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.38</td></tr>
    <tr><td>silk</td><td>2.22.0</td></tr>
    <tr><td>smb-volume</td><td>1.0.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.42</td></tr>
    <tr><td>statsd-injector</td><td>1.10.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>72.0</td></tr>
  </tbody>
</table>


## <a id='upgrade'></a> How to Upgrade

The procedure for upgrading to Pivotal Application Service (PAS) v2.7 is documented in the [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/2-7/customizing/upgrading-pcf.html) topic.

When upgrading to PAS v2.7, be aware of the following upgrade considerations:

* If you previously used an earlier version of PAS, you must first upgrade to PAS v2.6 to successfully upgrade to PAS v2.7.

* Some partner service tiles may be incompatible with PCF v2.7. Pivotal is working with partners to ensure their tiles are updated to work with the latest versions of PCF.<br/><br/> For information about which partner service releases are currently compatible with PCF v2.7, review the appropriate partners services release documentation at [https://docs.pivotal.io](https://docs.pivotal.io), or contact the partner organization that produces the tile.


## <a id='new-features'></a> New Features in PAS v2.7

### <a id='rotate-ccdb-key'></a> Rotate the Cloud Controller Database Encryption Key

PAS v2.7 supports rotating the Cloud Controller Database (CCDB) encryption key. This key is used to encrypt sensitive data at rest in the CCDB, such as app environment variables. 

You can rotate the key using the new **Encryption key ledger** field and **Rotate CC Database Key** errand in the PAS tile. For more information, see [Rotating the Cloud Controller Database Encryption Key](https://docs.pivotal.io/pivotalcf/2-7/opsguide/rotate-ccdb-key.html). 

### <a id='consul-server'></a> Consul Server Instance Removed from PAS

The Consul server instance is removed from PAS. This saves VM resources and reduces maintenance for managing a clustered component.

In PAS v2.4, the instance count for Consul server VMs was scaled down to zero. This allowed the Consul server to continue to provide the Consul link for tiles that consume it. In PAS v2.7, the Consul server instance is removed from PAS. 

For information about breaking changes caused by the removal of the Consul server instance, see [Consul Clients Not Supported in PAS](./breaking-changes.html#consul-server).

### <a id='log-cache'></a> Maximum Envelopes Per Source Raised for Log Cache

By default, Log Cache keeps 100,000 envelopes per source. An envelope wraps an event and adds metadata. For sources that produce more than 100,000 envelopes, this default may not provide a long enough duration for you to specify a time period for a historical query. PAS v2.7 allows you to raise the maximum number of envelopes stored per source above the default 100,000 if needed.

For more information about configuring this limit, see the [Configure Advanced Features](https://docs.pivotal.io/pivotalcf/2-7/customizing/configure-pas.html#advanced) section of the _Configuring PAS_ topic. For more information about envelopes, see [Protocol Documentation](https://github.com/cloudfoundry/dropsonde-protocol/blob/master/events/README.md#envelope) in the dropsonde-protocol repository on GitHub.

### <a id='upgrade-service-instances'></a> Support for Upgrading Service Instances

PAS v2.7 includes CAPI v1.83.0, which supports upgrading service instances to the latest version of a service plan. This is an optional feature that service authors can implement. 

App developers can check the `upgrade available` column in the output of the `cf services` command to see if a service broker supports upgrades. See [Upgrade a Service Instance](https://docs.pivotal.io/devguide/services/managing-services#upgrade) for more information.  

If you are a service author and want to enable this feature, see [Updating a Service Instance](https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#updating-a-service-instance) in the _Open Service Broker API Specification_. 

### <a id='apps-manager-ui'></a> Updated Resource Navigation in Apps Manager UI

The Apps Manager UI has an updated look and feel as well as updated resource navigation. 

You can navigate to resources, such as the app **Overview** and **Settings** panes, from a panel on the left side of the screen in Apps Manager. You can find resources that previously appeared in the panel, such as links to documentation and Support, in the Apps Manager footer. 

For more information, see [Using Apps Manager](https://docs.pivotal.io/pivotalcf/2-7/console/index.html).

### <a id='service-mesh-c2c'></a> Client-side Load Balancing, Timeouts, and Retries for App to App Communication in PAS Service Mesh (Beta)

The beta service mesh routing plane in PAS now supports app-to-app communication through container-to-container networking and includes client-side load balancing, timeouts, and retries. For more information, see [Container-to-Container Networking](https://docs.pivotal.io/pivotalcf/adminguide/service-mesh.html#c2c) in the _Service Mesh (Beta)_ topic.

### <a id='uaadb'></a> UAA Property uaadb.tls Consolidates TLS Configuration Options

The UAA property `uaadb.tls` replaces `uaadb.tls_enabled` and `uaadb.skip_ssl_validation`. This simplifies and consolidates existing configuration options for TLS connections to an external database.

`uaadb.tls` enables TLS connections by default. The following are supported values for this property:

* `enabled`: Enables TLS connections to an external database.
* `enabled_skip_hostname_validation`: Enables TLS connections to an external database and ignores hostnames in database server certificates.
* `enabled_skip_all_validation`: Enables TLS connections to an external database and skips SSL validation in database server certificates.
* `disabled`: Disables TLS connections to the UAA database.

<p class='note warning'><strong>Warning:</strong> This is a breaking change. For more information, see <a href="https://docs.pivotal.io/pivotalcf/2-7/pcf-release-notes/breaking-changes.html#uaadb">UAA Properties uaadb.tls_enabled and uaadb.skip_ssl_validation Are Removed</a> in the <em>PCF v2.7 Breaking Changes</em> topic.</p>


## <a id='known-issues'></a> Known Issues

### <a id='missing-env-variables'></a> Some Environment Variables Are Missing When Using cflinuxfs3

When using the `cflinuxfs3` stack in PAS v2.3 or later, if you provide environment variables containing periods or dashes, the environment variables do not appear in the process environment of the app.

To resolve this issue, ensure that all applications are using environment variables that do not contain periods or dashes.

For more information, see [Missing environment variables when using PAS 2.3+ and the cflinuxfs3 stack](https://community.pivotal.io/s/article/missing-environment-variables-when-using-pas-2-3-and-the-cflinuxfs3-stack) in the Pivotal Knowledge Base.

### <a id='annotations'></a> Annotation Keys and Key Prefixes Use Kubernetes Format

In PAS v2.7, annotation keys and key prefixes use the same metadata format as Kubernetes. This feature enables
creating services with a consistent metadata format across PAS and Kubernetes. For more information
about annotation keys and key prefixes, see [Using Metadata](https://docs.pivotal.io/pivotalcf/2-7/adminguide/metadata.html).
