---
title: Pivotal Elastic Runtime v1.11 Release Notes
owner: Release Engineering
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for 2017.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

### <a id='1.11.21'></a> 1.11.21

* **[Security Fix]** Bumps stemcell version to 3445.19 for [USN-3509-2](https://www.cloudfoundry.org/usn-3509-2/).
* **[Security Fix]** Bumps cflinuxfs2-release to v1.171.0 to resolve several
  security vulnerabilities:
  * [USN-3489-1: Berkeley DB vulnerability](https://usn.ubuntu.com/usn/usn-3489-1/)
  * [USN-3496-1: Python vulnerability](https://usn.ubuntu.com/usn/usn-3496-1/)
  * [USN-3496-3: Python vulnerability](https://usn.ubuntu.com/usn/usn-3496-3/)
  * [USN-3498-1: curl vulnerabilities](https://usn.ubuntu.com/usn/usn-3498-1/)
  * [USN-3501-1: libxcursor vulnerability](https://usn.ubuntu.com/usn/usn-3501-1/)
* **[Bug Fix]** Bumps apps-manager-release to v661.1.35 to resolve some bugs:
  * When an app fails to identify itself as a spring app, do not check again.
  * Prevent Apps Manager from being used in an iframe.
  * Long org names in the navbar org dropdown are ellipsified.
  * Fix the look of the select component in Firefox.
  * Improved the resiliency of the Apps Manager server when a proxy error occurs.
* **[Bug Fix]** Bumps cf-mysql-release to v36.10.0 to finalize a fix for
  configuration and management of syslog. [Release
  Notes](https://github.com/cloudfoundry/cf-mysql-release/releases/tag/v36.10.0)
* **[Bug Fix]** Bumps mysql-monitoring-release to v8.12.0 to finalize a fix for
  configuration and management of syslog.
* **[Bug Fix]** Operators can now optionally disable Router Access logs. This
  will prevent the Router local disk from becoming filled when the Routers are
  experiencing increased incoming traffic.
* **[Feature Improvement]** Operators can now specify the mutual TLS
  certificate validation behavior for the Router. The Router will request
  certificates by default and validate them if provided. Operators
  can optionally configure the Router not to request certificates or to require them with every
  request. 

<p class="note warning"><strong>WARNING: </strong>Requests to the platform will fail upon upgrade if your load balancer is configured with client certificates and Gorouter does not have the certificate authority. To mitigate this issue, select <strong>Router does not request client certificates</strong> for <strong>Router behavior for Client Certificate Validation</strong> in the <strong>Networking</strong> pane.</p>

* **[Feature Improvement]** Operators can now override their SAML Entity ID
  when configuration SAML as an Identity Provider.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.19</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.15</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93.1</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.10.0</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0\*</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.171.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.30</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.13</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.6</td>
  </tr><tr>
    <td>loggregator</td><td>89\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.12.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.10</td>
  </tr><tr>
    <td>notifications</td><td>37</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.43</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.1</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.35</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.1</td>
  </tr><tr>
    <td>routing</td><td>0.160.0\*</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.5</td>
  </tr><tr>
    <td>scalablesyslog</td><td>11</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.18</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>45.4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.20'></a> 1.11.20

* **[Security Fix]** Bumps apps-manager-release to v660.7.19 to resolve a
  number of security issues and bug fixes:
  * Upgrades to nodejs v8.0 to resolve a number of security issues.
  * When viewing a Spring App's Threads tab, and there are no running
    instances, there is now text to convey this.
  * Fixes downloading of Spring threads on Internet Explorer.
  * Service plan costs are now formatted according to supported currencies when
    displayed on the Space and Services tabs.
  * Fixes bug when trying to view the org page members tab when there is a user
    without a username.
  * Changes color of buildpack text to meet accessibility standards.
* **[Security Fix]** Bumps buildpack releases versions to pick up security and bug fixes:
  * [binary-buildpack v1.0.15](https://github.com/cloudfoundry/binary-buildpack/releases/tag/v1.0.15)
  * [dotnet-core-buildpack v1.0.30](https://github.com/cloudfoundry/dotnet-core-buildpack/releases/tag/v1.0.30)
  * [go-buildpack v1.8.13](https://github.com/cloudfoundry/go-buildpack/releases/tag/v1.8.13)
  * [java-buildpack v4.6](https://github.com/cloudfoundry/java-buildpack/releases/tag/v4.6)
  * [nodejs-buildpack v1.6.10](https://github.com/cloudfoundry/nodejs-buildpack/releases/tag/v1.6.10)
  * [php-buildpack v4.3.43](https://github.com/cloudfoundry/php-buildpack/releases/tag/v4.3.43)
  * [python-buildpack v1.6.1](https://github.com/cloudfoundry/python-buildpack/releases/tag/v1.6.1)
  * [ruby-buildpack v1.7.5](https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.7.5)
  * [staticfile-buildpack v1.4.18](https://github.com/cloudfoundry/staticfile-buildpack/releases/tag/v1.4.18)
* **[Security Fix]** Bumps the stemcell to v3445.17 to resolve the following security issues:
  * [USN-3457-1: curl vulnerability](https://usn.ubuntu.com/usn/usn-3457-1/)
  * [USN-3458-1: ICU vulnerability](https://usn.ubuntu.com/usn/usn-3458-1/)
  * [USN-3464-1: Wget vulnerabilities](https://usn.ubuntu.com/usn/usn-3464-1/)
  * [USN-3469-2: Linux kernel (Xenial HWE) vulnerabilities](https://usn.ubuntu.com/usn/usn-3469-2/)
  * [USN-3475-1: OpenSSL vulnerabilities](https://usn.ubuntu.com/usn/usn-3475-1/)
  * [USN-3478-1: Perl vulnerabilities](https://usn.ubuntu.com/usn/usn-3478-1/)
  * [USN-3485-2: Linux kernel (Xenial HWE) vulnerabilities](https://usn.ubuntu.com/usn/usn-3485-2/)
* **[Security Fix]** Bumps cflinuxfs2-release to v1.168.0 to resolve
  [USN-3478-1: Perl vulnerabilities](https://usn.ubuntu.com/usn/usn-3478-1/).
* **[Security Fix]** Patches Cloud Controller to prevent users from being able
  to create a private subdomain of a route in an organization they do not have
  access to.
* **[Bug Fix]** Reverts the previous patch release change to the SAML Entity
  ID field. The field is once again using `http` for its URL scheme.
* **[Improvement]** The custom branding fields for the square logo and favicon
  are now separate fields.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.17</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.15</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93.1</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.9.0</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0\*</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.168.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.30</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.13</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.6</td>
  </tr><tr>
    <td>loggregator</td><td>89\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.8.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.10</td>
  </tr><tr>
    <td>notifications</td><td>37</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.43</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.1</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.34</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.1</td>
  </tr><tr>
    <td>routing</td><td>0.160.0\*</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.5</td>
  </tr><tr>
    <td>scalablesyslog</td><td>11</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.18</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>45.4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.19'></a> 1.11.19

<p class="note warning">
This release has been pulled due to a regression introduced in the SAML
identity provider interface. Please upgrade to 1.11.20 or higher to resolve
this issue with the SAML entityID.
</p>

* **[Security Fix]** Bumps cflinuxfs2-release to v1.166.0 to resolve
  [USN-3475-1](http://www.ubuntu.com/usn/usn-3475-1/). [Release
  Notes](https://github.com/cloudfoundry/cflinuxfs2/releases/tag/1.166.0)
* **[Bug Fix]** Bumps cf-mysql-release to v36.9.0 to resolve an issue where
  IPsec causes mariadb_ctrl to be left in an `Execution Failed` state. [Release
  Notes](https://github.com/cloudfoundry/cf-mysql-release/releases/tag/v36.9.0)
* **[Bug Fix]** Bumps consul-release to v187 to include a fix for
  Internationalized Domain Name encoding when specifying an
  availability-zone-specific service.
* **[Bug Fix]** Bumps notifications-release to v37 to resolve a race condition
  in the `cf` CLI used during the deployment of the notifications service
  errand. [Release
  Notes](https://github.com/cloudfoundry-incubator/notifications-release/releases/tag/v37)
* **[Security Fix]** Patches Golang components in capi-release to pull in
  Golang v1.8.3.
* **[Bug Fix]** Patches loggregator-release to introduce a circuit breaker when
  the Traffic Controller connects to the Doppler VMs.
* **[Bug Fix]** Patches loggregator-release to ensure metron agents maintain
  availability-zone affinity when connecting to Doppler VMs.
* **[Bug Fix]** Changes the scheme for the SAML Entity ID from `http` to
  `https`.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.16</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.14</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93.1</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.9.0</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0\*</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.166.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.24</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.6</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.5</td>
  </tr><tr>
    <td>loggregator</td><td>89\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.8.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.6</td>
  </tr><tr>
    <td>notifications</td><td>37</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.40</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.33</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.24</td>
  </tr><tr>
    <td>routing</td><td>0.160.0\*</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.47</td>
  </tr><tr>
    <td>scalablesyslog</td><td>11</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.14</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>45.4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.18'></a> 1.11.18

* **[Security Fix]** Bumps the stemcell to v3445.16 to resolve several security
  vulnerabilities:
  * [USN-3424-1](https://usn.ubuntu.com/usn/usn-3424-1/)
  * [USN-3432-1](https://usn.ubuntu.com/usn/usn-3432-1/)
  * [USN-3434-1](https://usn.ubuntu.com/usn/usn-3434-1/)
  * [USN-3441-1](https://usn.ubuntu.com/usn/usn-3441-1/)
  * [USN-3444-2](https://usn.ubuntu.com/usn/usn-3444-2/)
* **[Security Fix]** Bumps the cflinuxfs2-release to v1.165.0 to resolve
  several security vulnerabilities:
  * [USN-3457-1](https://usn.ubuntu.com/usn/usn-3457-1/)
  * [USN-3458-1](https://usn.ubuntu.com/usn/usn-3458-1/)
  * [USN-3464-1](https://usn.ubuntu.com/usn/usn-3464-1/)
* **[Bug Fix]** Bumps uaa-release to v45.4 to prevent a denial of service
  attack against the token revocation endpoint.
* **[Bug Fix]** Patches loggregator-release to remove the
  `totalReceivedMessageCount` metric from the v2 API.
* The logging level for the Cloud Controller, Cloud Controller Worker, and
  Cloud Controller Clock has been lowered from `debug` to `info`. This should
  help reduce log volume while still logging detailed Cloud Controller
  information.
* **[Bug Fix]** Garden is now configured to destroy containers on start. This
  setting will cause the `garden` process to remove any containers that are
  already running when it starts. That action will prevent issues where
  containers that should no longer be running are left up to run.
* The SAML Signature Algorithm field is now configurable outside of the
  Identity Provider option for SAML. This means that deployments using a non-SAML
  identity provider can still configure their SAML settings for SSO.
* Operators can now opt-in to allowing remote administrator access to the
  internal MySQL database. This was previously enabled by default in releases
  prior to 1.11.3. In that release, cf-mysql was bumped to v36. That release
  brought a number of security improvments, including the ability to prevent
  remote administrator access to the database. Unfortunately, this was a
  feature that some operators had come to rely upon. The Elastic Runtime will
  now allow those operators to enable the feature on a selective basis.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.16</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.14</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93.1</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.6.0</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0\*</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.165.0</td>
  </tr><tr>
    <td>consul</td><td>181</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.24</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.6</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.5</td>
  </tr><tr>
    <td>loggregator</td><td>89\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.8.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.6</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.40</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.33</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.24</td>
  </tr><tr>
    <td>routing</td><td>0.160.0\*</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.47</td>
  </tr><tr>
    <td>scalablesyslog</td><td>11</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.14</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>45.4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.17'></a> 1.11.17

* **[Security Fix]** Bumps cflinuxfs2-release to v1.161.0 to resolve multiple
  security issues. [Release
  Notes](https://github.com/cloudfoundry/cflinuxfs2/releases/tag/1.161.0)
* **[Bug Fix]** Bumps consul-release to v181 to ensure encrypt key rotation
  only occurs when the key changes.
* **[Bug Fix]** Patches cf-networking-release to allow deployment against a
  MySQL database version < 5.7.
* **[Security Fix]** Ensures Cloud Controller CEF logs are written to disk, and
  syslog. Logs now show up in
  `/var/vcap/sys/log/cloud_controller_ng/security_events.log`.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.11</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.14</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93.1</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.6.0</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0\*</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.161.0</td>
  </tr><tr>
    <td>consul</td><td>181</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.24</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.6</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.5</td>
  </tr><tr>
    <td>loggregator</td><td>89\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.8.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.6</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.40</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.33</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.24</td>
  </tr><tr>
    <td>routing</td><td>0.160.0\*</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.47</td>
  </tr><tr>
    <td>scalablesyslog</td><td>11</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.14</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>45.3</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.16'></a> 1.11.16

* **[Security Fix]** Bumps cflinuxfs2-release to v1.158.0 to resolve multiple
  security issues. [Release
  Notes](https://github.com/cloudfoundry/cflinuxfs2/releases/tag/1.158.0)

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.11</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.14</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93.1</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.6.0</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.158.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.24</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.6</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.5</td>
  </tr><tr>
    <td>loggregator</td><td>89\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.8.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.6</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.40</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.33</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.24</td>
  </tr><tr>
    <td>routing</td><td>0.160.0\*</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.47</td>
  </tr><tr>
    <td>scalablesyslog</td><td>11</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.14</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>45.3</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.15'></a> 1.11.15

* **[Security Improvement]** Bumps garden-runc-release to v1.9.4. [Release
  Notes](https://github.com/cloudfoundry/garden-runc-release/releases/tag/v1.9.4).
* **[Bug Fix]** Bumps uaa-release to v45.3. [Release
  Notes](https://github.com/cloudfoundry/uaa-release/releases/tag/v45.3).
* **[Bug Fix]** Bumps scalable-syslog-release to v11. [Release
  Notes](https://github.com/cloudfoundry/scalable-syslog-release/releases/tag/v11).
* **[Bug Fix]** Resolves an issue with S3-compatible stores specifying the
  `N/A` region.
* **[Feature Improvement]** Router now supports setting a Frontend Idle Timeout
  to maintain an open connection when clients support keep-alive. The default
  value is 900 seconds.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.11</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.14</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93.1</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.6.0</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.156.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.24</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.6</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.5</td>
  </tr><tr>
    <td>loggregator</td><td>89\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.8.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.6</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.40</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.33</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.24</td>
  </tr><tr>
    <td>routing</td><td>0.160.0\*</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.47</td>
  </tr><tr>
    <td>scalablesyslog</td><td>11</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.14</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>45.3</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.14'></a> 1.11.14

* **[Security Fix]** Bumps cflinuxfs2-release to v1.156.0 to resolve multiple
  security issues. [Release
  Notes](https://github.com/cloudfoundry/cflinuxfs2/releases/tag/1.156.0)
* **[Security Fix]** Bumps cf-mysql-release to v36.6 to patch vulnerabilities
  in Bundler and RubyGems
  [CVE-2016-7954](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-7954)
  [CVE-2017-0902](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-0902)
* **[Security Fix]** Resolves a remote code execution security vulnerability
  when the zip program is executed by the Cloud Controller.
* **[Security Fix]** Resolves an issue with an incorrect `Host` header being
  set on incoming requests through the Router [CVE
  Notice](https://www.cloudfoundry.org/cve-2017-8047/).
* **[Bug Fix]** AppsManager will now show all Application Security Group rules.
* **[Bug Fix]** Loggregator API counters will now include a correct delta.
* Bumps the following buildpack releases:
  * [binary-buildpack](https://github.com/cloudfoundry/binary-buildpack/releases/tag/v1.0.14)
  * [dotnet-core-buildpack](https://github.com/cloudfoundry/dotnet-core-buildpack/releases/tag/v1.0.24)
  * [go-buildpack](https://github.com/cloudfoundry/go-buildpack/releases/tag/v1.8.6)
  * [java-buildpack](https://github.com/cloudfoundry/java-buildpack/releases/tag/v4.5)
  * [nodejs-buildpack](https://github.com/cloudfoundry/nodejs-buildpack/releases/tag/v1.6.6)
  * [php-buildpack](https://github.com/cloudfoundry/php-buildpack/releases/tag/v4.3.40)
  * [python-buildpack](https://github.com/cloudfoundry/python-buildpack/releases/tag/v1.5.24)
  * [ruby-buildpack](https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.6.47)
  * [staticfile-buildpack](https://github.com/cloudfoundry/staticfile-buildpack/releases/tag/v1.4.14)
* **[Stability Improvement]** Changes the default for Galera MySQL state
  snapshot transfers (SST). Automatic SST is now enabled by default. Operators
  can disable this feature by visiting the "Internal MySQL" tab and checking the
  "Prevent node auto re-join" checkbox.
* Operators can now specify a minimum supported TLS version for the Router and HAProxy.
* The Cipher Suites for the Router and HAProxy are now required fields.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.11</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.14</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93.1</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.6.0</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.156.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.24</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.6</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.5</td>
  </tr><tr>
    <td>loggregator</td><td>89\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.8.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.6</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.40</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.33</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.24</td>
  </tr><tr>
    <td>routing</td><td>0.160.0\*</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.47</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.14</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>45</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.13'></a> 1.11.13

* **[Security Fix]** Bumps stemcell to v3445.11 to address [USN-3420-2](https://usn.ubuntu.com/usn/usn-3420-2/).
* **[Security Fix]** Bumps cflinuxfs-release to v1.155.0 to address [USN-3415-1](https://usn.ubuntu.com/usn/usn-3415-1/).

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.11</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93.1</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.5.0</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.155.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.22</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.5</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.18</td>
  </tr><tr>
    <td>loggregator</td><td>89\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.8.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.3</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.38</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.32</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.20</td>
  </tr><tr>
    <td>routing</td><td>0.160.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.44</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.11</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>45</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.12'></a> 1.11.12

* **[Bug Fix]** Bumps apps-manager-release to v661.1.32 to resolve:
  * Several issues when viewing Apps Manager on Internet Explorer and Microsoft
    Edge browsers.
  * Communicating directly with Spring apps to retrieve heap dumps.
* **[Bug Fix]** Patches loggregator to resolve the following:
  * The keep alive handler for websocket connections to TC is closing the
    connection early.
  * Separates internal cipher suite configurations.
  * When doppler crashes, metrons connected to it get "stuck".
* **[Bug Fix]** Disables inadvertent iptables logging when container networking
  is enabled.
* **[Bug Fix]** Bumps cf-mysql-release to v36.5 to resolve an issue with Syslog
  configuration.
* **[Bug Fix]** Prevents a race condition during upgrade by not allowing syslog
  configuration to be set in metron.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.20</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93.1</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.5.0</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.150.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.22</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.5</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.18</td>
  </tr><tr>
    <td>loggregator</td><td>89\*</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.8.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.3</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.38</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.32</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.20</td>
  </tr><tr>
    <td>routing</td><td>0.160.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.44</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.11</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>45</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.11'></a> 1.11.11

* **[Security Fix]** Bumps cflinuxfs2-release to v1.150.0 to resolve
  [USN-3398-1](http://www.ubuntu.com/usn/usn-3398-1/).
* **[Bug Fix]** Bumps cf-autoscaling-release to v93.1 [Release
  Notes](https://github.com/pivotal-cf/cf-autoscaling-release/releases/tag/v93.1).
* **[Bug Fix]** Bumps apps-manager-release to v661.1.31, including the
  following fixes:
  * The square logo will now display correctly in the header.
  * Users can now see shared private domains on the org domains tab.
* **[Bug Fix]** Fixes a data migration in Cloud Controller to prune duplicate routes when
  upgrading to this version from a 1.10.x version of the Elastic Runtime.
* **[Bug Fix]** Resolves an issue where deleting an application would not
  generate a `TASK_STOPPED` event for any tasks associated with that application.
* **[Feature Improvement]** Operators can now configure a "Staging Timeout" to
  force Cloud Controller to wait for staging of applications that may take a very
  long time.
* **[Feature Improvement]** The internal MySQL cluster now emits metrics
  via the Firehose. You can use `cf nozzle` to view those metrics as they are
  emitted. See [Elastic Runtime MySQL KPIs](../monitoring/kpi.html#kpi4MySQL) for KPIs based on the metrics.


  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.20</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93.1</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.150.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.22</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.5</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.18</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.8.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.3</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.38</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.31</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.20</td>
  </tr><tr>
    <td>routing</td><td>0.160.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.44</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.11</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>45</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.10'></a> 1.11.10

* **[Security Fix]** Bumps stemcell to v3421.20 to resolve
  [USN-3392-2](https://usn.ubuntu.com/usn/usn-3392-2/).
* **[Security Fix]** Bumps cflinuxfs2-release to v1.147.0 to resolve
  [USN-3387-1](https://usn.ubuntu.com/usn/usn-3387-1/) and
  [USN-3388-1](https://usn.ubuntu.com/usn/usn-3388-1/).

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.20</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.147.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.22</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.5</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.18</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.3.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.3</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.38</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.30</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.20</td>
  </tr><tr>
    <td>routing</td><td>0.160.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.44</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.11</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>45</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.9'></a> 1.11.9

* **[Security Fix]** Bumps stemcell to version 3421.19.
* **[Bug Fix]** Bumps diego-release to v1.23.2 to resolve a number of issues
  including:
  * improving locket stability during MySQL updates which resolves the known
    issue <a href='#unavailability-internal-mysql-update'>Brief Unavailability of
    Application Management during Internal MySQL Database Updates</a>
  * reporting the correct result of running tasks on Windows cells
  * resolution of a race condition in the process launching code that could
    cause process failures
  * improvements to the healthcheck error messaging
  * removing the extraneous "cancelled" message in logs when applications crash
  * prefixing process errors with their log source
  * removing exit codes from healthcheck output when an application fails its
    healthcheck
* **[Bug Fix]** Cloud Controller will no longer maintain keepalive connections
  to the Router as it could cause errant 502 responses when making API calls.
* Applications now have access to the certificate provided by the requester via
  the `X-Forwarded-Client-Cert` header. Configuration for this feature can be
  found on the Networking tab.
* The regions listed on the File Storage form and the selector for Internal
  MySQL backups for S3-compatible blobstores now includes all available S3
  regions.
* Automated backup for the internal MySQL instances now includes support for
  GCP and Azure.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.19</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.145.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.22</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.5</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.18</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.3.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.3</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.38</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.31</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.20</td>
  </tr><tr>
    <td>routing</td><td>0.160.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.44</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.11</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>45</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.8'></a> 1.11.8

* **[Security Fix]** Bumps stemcell to v3421.18 to resolve
  [USN-3378-2](https://usn.ubuntu.com/usn/usn-3378-2/).
* **[Security Fix]** Bumps cflinuxfs2 to v1.145.0 to resolve multiple CVEs and
  USNs. Please see the [release
  notes](https://github.com/cloudfoundry/cflinuxfs2/releases) for more details.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.18</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.145.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.22</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.5</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.18</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.3.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.3</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.38</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.30</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.20</td>
  </tr><tr>
    <td>routing</td><td>0.157.0\*</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.44</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.11</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>45</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.7'></a> 1.11.7

* **[Security Improvement]** Operators can now choose to disable the recording
  of command history when running the `mysql` command on their Internal MySQL
  VMs.  Unchecking the "Allow Command History" checkbox on the "Internal MySQL"
  tab will disable recording of that history into the `.mysql_history` file.
* **[Bug Fix]** Bumps apps-manager-release to v661.1.30. In this version, the
  dependencies for Apps Manager are now properly vendored to support deployments
  on internetless environments.
* **[Bug Fix]** Bumps uaa-release to v45. This version includes a patch to
  ensure that systems deployed on non-RFC 1918 networks will have their Router
  IPs automatically added to the whitelist of proxies for the UAA.
* **[Bug Fix]** The smoke test errand will now correctly use the `system`
  organization to deploy its canary applications.
* The components included in routing-release (gorouter, route_registrar,
  routing-api, tcp_emitter, and tcp_router) have been updated to run on Go v1.8.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.22</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.5</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.18</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.3.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.3</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.38</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.30</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.20</td>
  </tr><tr>
    <td>routing</td><td>0.157.0\*</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.44</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.11</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>45</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.6'></a> 1.11.6

* **[Security Fix]** Bumps apps-manager-release to v661.1.29. This release has the following updates:
  * Bumps nodejs to v6.11.1 to provide security fixes.
  * Includes `org_id` and `org_name` in usage report zip file.
  * Ensures Spring Actuator requests happen over HTTPS.
* **[Bug Fix]** Includes AWS US East (Ohio) region in the region selector for Internal MySQL backups.
* **[Bug Fix]** Specifies a more consistent cluster identifier, `cf`, for the Internal MySQL cluster when emitting metrics.
* **[Stability Improvement]** Reduces the default for
  `cc.droplets.max_staged_droplets_stored` from 5 to 2. This will result in
  reduced blobstore utilization as the Cloud Controller will only keep 2
  historic staged application droplets, in addition to the currently running
  application droplet. Garbage collection of expired droplets will occur the
  next time an application is staged.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.22</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.5</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.18</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.3.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.3</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.38</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.29</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.20</td>
  </tr><tr>
    <td>routing</td><td>0.157.0\*</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.44</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.11</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>41</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.5'></a> 1.11.5

* **[Security Fix]** Provides a fix for
  [CVE-2017-8033](https://www.cloudfoundry.org/cve-2017-8033/). This security
  vulnerability would have allowed attackers to escalate their privileges by
  pushing an application that could modify the files on the Cloud Controller VM.
* **[Security Fix]** The Router will now validate the UAA token issuer
  field. This will prevent users with valid tokens belonging to an Identity Zone
  other than the default zone from escalating their privileges when making
  requests against system components.
* **[Bug Fix]** Resolves an issue with UAA SAML Service Provider Key Password quoting.
* **[Stability Improvement]** Operators can now configure the `Cluster Probe
  Timeout` for their Internal MySQL cluster.  This property controls the maximum
  time a new MySQL node will search for an existing cluster before starting its
  own.  Higher values for this property will help to maintain cluster quorum on
  slower or more loaded infrastructures.
* Bumps nfs-volume-release to v1.0.6. [Release Notes](https://github.com/cloudfoundry/nfs-volume-release/releases/tag/v1.0.6)
* Bumps the following buildpacks to their latest version:
  * [dotnet-core-buildpack Release Notes](https://github.com/cloudfoundry/dotnet-core-buildpack/releases/tag/v1.0.22)
  * [go-buildpack Release Notes](https://github.com/cloudfoundry/go-buildpack/releases/tag/v1.8.5)
  * [java-buildpack Release Notes](https://github.com/cloudfoundry/java-buildpack/releases/tag/v3.18)
  * [nodejs-buildpack Release Notes](https://github.com/cloudfoundry/nodejs-buildpack/releases/tag/v1.6.3)
  * [php-buildpack Release Notes](https://github.com/cloudfoundry/php-buildpack/releases/tag/v4.3.38)
  * [python-buildpack Release Notes](https://github.com/cloudfoundry/python-buildpack/releases/tag/v1.5.20)
  * [ruby-buildpack Release Notes](https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.6.44)
  * [staticfile-buildpack Release Notes](https://github.com/cloudfoundry/staticfile-buildpack/releases/tag/v1.4.11)
* Sets the default max-in-flight value for the Diego Cells to 4%. Operators can
  still use the Ops Manager API to configure this setting to fit their needs. The
  max-in-flight percentage for the Diego Cell job in the Elastic Runtime has been
  set to 10% since 1.9, but weve seen especially in larger environments that
  having the percentage this high can cause some problems:
  * Many simultaneous VM creates/deletes and BOSH blob updates can place
  significant stress on the underlying infrastructure, especially on vSphere
  which has a greater probability of being under-provisioned.
  * The cells that are draining are no longer available for allocation,
  resulting in a 10% decrease in total memory and disk capacity during the
  deployment. This can cause deployments to no longer have sufficient total
  capacity to run all the work, or to have insufficient headroom to place
  larger workloads successfully.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.22</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.5</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.18</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.3.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.3</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.38</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.24</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.20</td>
  </tr><tr>
    <td>routing</td><td>0.157.0\*</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.44</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.11</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>41</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.4'></a> 1.11.4

* **[Security Fix]** Cloud Controller will now validate the UAA token issuer
  field. This will prevent users with valid tokens belonging to an Identity Zone
  other than the default zone from escalating their privileges when making
  requests against system components.
* **[Security Fix]** Provides a fix for [CVE-2017-8035](https://www.cloudfoundry.org/cve-2017-8035/). This security
  vulnerability would have allowed arbitrary files on the Cloud Controller VM to
  be downloaded by external API users.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.19</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.4</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.17</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.3.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.5</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.5.36</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.34</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.24</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.19</td>
  </tr><tr>
    <td>routing</td><td>0.157.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.40</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.6</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>41</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.3'></a> 1.11.3

* **[Bug Fix]** Bumps cf-backup-and-restore-release to v0.0.5. [[Release Notes](https://github.com/pivotal-cf/cf-backup-and-restore-release/releases/tag/v0.0.5)]
* **[Security Improvement]** Bumps cf-mysql-release to v36. [[Release Notes](https://github.com/cloudfoundry/cf-mysql-release/releases/tag/v36)]
* Bumps service-backup-release to v18.1.2. [[Release Notes](https://docs.pivotal.io/svc-sdk/service-backup/18-1/release-notes.html)]
* **[Bug Fix]** Bumps garden-runc-release to v1.9.0. [[Release Notes](https://github.com/cloudfoundry/garden-runc-release/releases/tag/v1.9.0)]
  Resolves <a href="#ecr-gcr-issue">known issue with private docker image registries.</a>
* **[Bug Fix]** Adds the `network.write` group to UAA.
  This new UAA group will allow operators to give users with the SpaceDeveloper role the ability to manage Container Networking access policy.
* **[Improvement]** Allows operators to scale their `etcd` instance count to 0.
  <p class="note warning">
    **Do not** scale the number of <code>etcd</code> instances to 0 until you have completed your upgrade to PCF Elastic Runtime 1.11.
    <br>
    <br>
    Scaling the <code>etcd</code> instances to 0 before performing the upgrade will result in significant downtime on both the management and application tiers.
  </p>

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.19</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.4</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.17</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.3.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.5</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.5.36</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.34</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.24</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.19</td>
  </tr><tr>
    <td>routing</td><td>0.157.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.40</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.6</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>41</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.2'></a> 1.11.2

* **[Security Fix]** Bumps cflinuxfs2-rootfs to 1.33.0. [[Release Notes](https://github.com/cloudfoundry/cflinuxfs2/releases/tag/1.133.0)]
* **[Bug Fix]** Bumps nfs-volume-release to v1.0.5. [[Release Notes](https://github.com/cloudfoundry/nfs-volume-release/releases/tag/v1.0.5)]
* Bumps mysql-monitoring-release to v8.3.0. [[Release Notes](https://github.com/pivotal-cf-experimental/mysql-monitoring-release/releases/tag/v8.3.0)]
* Bumps cf-mysql-release to v35.1.
* Configuring external system database will no longer scale down the internal mysql components.
  This allows a mixed database configuration where the system database is external but the UAA database may use internal MySQL.
  Starting in ERT 1.11.0, the UAA database is configured independently on the UAA form.
  MySQL instance counts for existing installations will not be affected by this change.
  Going forward, you will need to manually set the instance count to 0 for all MySQL VMs (MySQL Server, MySQL Proxy, and MySQL Monitor) if they are not in use.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>35.1</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.19</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.7.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.4</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.17</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.3.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.5</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.5.36</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.34</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.24</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.19</td>
  </tr><tr>
    <td>routing</td><td>0.157.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.40</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.0.4</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.6</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>41</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.1'></a> 1.11.1

* **[Security Fix]** Bumps stemcell to 3421.9.
* **[Security Fix]** Bumps uaa-release to v41. [[Release Notes](https://github.com/cloudfoundry/uaa-release/releases/tag/v41)]
* **[Security Fix]** Bumps cflinuxfs2 to v1.126.0. [[Release Notes](https://github.com/cloudfoundry/cflinuxfs2/releases/tag/1.126.0)]
* Bumps the java buildpack to v3.17. [[Release Notes](https://github.com/cloudfoundry/java-buildpack/releases/tag/v3.17)]
* Bumps diego-release to v1.18.1. [[Release Notes](https://github.com/cloudfoundry/diego-release/releases/tag/v1.18.1)]
* **[Bug Fix]** Patches Cloud Controller to prevent a DB error when a staging response contains too many environment variables.
* **[Feature]** Container-to-container networking will log iptables rules in the kernel log on each Diego Cell.
* **[Feature]** All errands except smoke tests will default to run "when-changed". Smoke tests will default to run every time.
* Removes unnecessary persistent disk from Cloud Controller VM.
* **[Bug Fix]** Resolves <a href="#rep-crashes">known issue with infrequent Diego cell rep crashes.</a>

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>35.0.1</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.126.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.19</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.7.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.4</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.17</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.1.3</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.3</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.5.36</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.34</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.24</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.19</td>
  </tr><tr>
    <td>routing</td><td>0.157.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.40</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.0.4</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.6</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>41</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.0'></a> 1.11.0

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.3</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>35.0.1</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.123.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.16.1</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.19</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.6.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.4</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.16.1</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.1.3</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.3</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.5.36</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.34</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.24</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.19</td>
  </tr><tr>
    <td>routing</td><td>0.157.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.40</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.0.4</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.6</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>40</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

## <a id='upgrade'></a> How to Upgrade

The procedure for upgrading to Pivotal Cloud Foundry Elastic Runtime v1.11 is
documented in the [Upgrading Pivotal Cloud
Foundry](../customizing/upgrading-pcf.html) topic.

When upgrading to v1.11, be aware of the following upgrade considerations:

* You must upgrade first to a version of Elastic Runtime v1.10.x in order to
  successfully upgrade to v1.11.
* Some partner service tiles may be incompatible with PCF v1.11. Pivotal is
  working with partners to ensure their tiles are being updated to work with the
  latest versions of PCF.<br/><br/> For information about which partner service
  releases are currently compatible with PCF v1.11, review the appropriate
  partners services release documentation at
  [https://docs.pivotal.io](https://docs.pivotal.io), or contact the partner
  organization that produces the tile.

## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the Elastic Runtime tile includes new
functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when
using them in production.

## <a id='1.11.0'></a> New Features in Elastic Runtime v1.11.0

This section describes new features of the release.

### <a id='apps-manager-508'></a> Apps Manager 508 Compliance

Apps Manager has improved its compliance with [Section 508](https://www.section508.gov/)
of the Rehabilitation Act. Customers can now receive an approved Voluntary Product
Accessibility Template (VPAT) for Apps Manager.

### <a id='container-networking'></a> Container-to-Container Networking

The Container-to-Container Networking feature in Elastic Runtime is out of
beta. For more information, see the [Container-to-Container
Networking](../devguide/deploy-apps/cf-networking.html) topic.

### <a id='volume-services'></a> Volume Services

General support for volume services inside of application containers is out of
beta. Additionally, the Elastic Runtime ships with an NFS Volume Service
Broker.

For more information, see
[Using an External File System (Volume Services)](../devguide/services/using-vol-services.html)
and [Enabling NFS Volume Services](../opsguide/enable-vol-services.html).

### <a id='disk-quotas'></a> Increased Application Maximum Disk Quotas

For applications that require large amounts of disk, the maximum disk quota has been raised
to 20GB. This will allow application developers to specify a disk size up to 20GB for their
applications.

Operators should take note that applications with large disk settings can be difficult for
Diego to find a placement for. If there is not enough disk on any of the Diego Cells,
developers will see an "insufficient resources" error message. Ensuring your Diego Cells
provide enough disk to accommodate these much larger application instances will be an
important part of your resource planning.

### <a id='override-dns'></a> Override DNS Servers

By default, containers use the same DNS servers as the host. To
override the DNS servers used by the containers of an isolation segment,
enter a comma-separated list of servers in the **DNS Servers** field of the
**Application Containers** section of the tile.

### <a id='ha-defaults'></a> Highly-Available Default Configuration

The Resource Configuration defaults have been changed to streamline the path to a
production-ready deployment. The default instance count for each VM type in the
deployment has been set to ensure an operator can deploy a highly-available Cloud
Foundry out of the box.

This change will result in larger resource requirements for a default Elastic Runtime
deployment. Operators should take this into account when deploying environments on
constrained resources.

### <a id='sha2-checksums'></a> Component BOSH releases are SHA2-checksummed

BOSH now supports releases that include a SHA2-checksum of their contents. All the
releases included in the Elastic Runtime have been checksummed with SHA2 for improved
data integrity in the face of hash collisions.

### <a id='bbr'></a> BOSH Backup and Restore

The Elastic Runtime now includes support for the new BOSH Backup and Restore tool (`bbr`).
Using `bbr` allow an operator to take a snapshot of their internal blobstore and databases.

### <a id='priv-docker-reg'></a> Private Docker Registries

Application developers can now push Docker-based applications with images that are hosted
on a private registry.

PCF can use private Docker repositories from various different Docker registries:

<table border="1" class="nice" >
  <tr>
    <th>Registry</th>
    <th>Version</th>
  </tr>
  <tr>
    <td>DockerHub and Docker Trusted Registry</td>
    <td>1.11.0</td>
  </tr>
  <tr>
    <td>Sonatype Nexus</td>
    <td>1.11.0</td>
  </tr>
  <tr>
    <td>VMWare Harbour</td>
    <td>1.11.0</td>
  </tr>
  <tr>
    <td>JFrog Artifactor</td>
    <td>1.11.3</td>
  </tr>
  <tr>
    <td>Google Container Registry (GCR)</td>
    <td>1.11.3 (*)</td>
  </tr>
  <tr>
    <td>EC2 Container Registry (ECR)</td>
    <td>Not Supported</td>
  </tr>
</table>

\* GCR can be used to host private Docker images for PCF. However, the passwords
GCR issues are essentially access tokens which expire within an hour. This
means that the initial application push will be successful but the application
may later crash as PCF will not be able to contact GCR.

### <a id='syslog'></a> Common Syslog Formatting and Syslog over TLS

The Elastic Runtime now emits BOSH component logs in a common syslog format
following RFC5424.  Additionally, syslog over TLS is now supported to allow
operators to deliver their platform logs securely to their syslog aggregator.

### <a id='uaa-sql-server'></a> UAA supports SQL Server database

Operators can now independently configure their UAA service to store its data in an external
SQL Server database. You can configure the UAA database in the **UAA**
pane of the Elastic Runtime tile.

**Important Note**: UAA database configuration has been fully separated into
the UAA tab to allow its independent configuration. Upon upgrade, settings will
be migrated from the existing installation. Going forward, you must change both
the UAA and System Database forms to keep their configuration in sync.

### <a id='locket'></a> Improved Distributed Lock Management

In older versions of the Elastic Runtime, components that needed to maintain a distributed
lock could leverage Consul to handle the locking mechanism. In 1.11, that locking mechanism
has been replaced with a new service called `locket`. By switching to `locket`, the Elastic
Runtime will be moving onto a more stable footing for its distributed locking needs.

### <a id='internal-uaa-expire'></a> UAA User Passwords Never Expire

As of v1.11, Elastic Runtime no longer provides the **Number of Months Before
Password Expires** field in the **Authentication and Enterprise SSO** section.
Instead, it sets the value to zero, which means that UAA user passwords for
deployments using internal UAA never expire.

If you have set a non-zero password expiry, Elastic Runtime will set it to zero
when you upgrade from v1.10 to v1.11.

### <a id='uaa-redirect-uris'></a>Redirect URI Validation for OAuth Clients

Starting from v1.11, UAA validates the redirect URIs of OAuth clients to
prevent open redirect attacks. A redirect URI is now a mandatory parameter for
OAuth clients that use the `authorization_code` and `implicit` grant types to
acquire an access token. For more information, see [Known
Issues](runtime-rn.html#uaa-redirect).

### <a id='scalable-syslog'></a> Scalable Syslog

Loggregator now uses the [Scalable
Syslog](https://github.com/cloudfoundry/scalable-syslog-release) BOSH release
to support streaming app logs to syslog-compatible aggregation or analytics
services. This new delivery method has the following benefits:

* Decouples syslog drains from the Firehose
* Prevents log loss in the Firehose that previously resulted from syslog drains
  competing for the resources used to deliver logs
* Provides high message reliability for syslog drains
* Maintains the UX of binding an app to a syslog drain service through Cloud
  Foundry user-provided services (CUPS)

For more information about Scalable Syslog in PCF, see [Overview of the
Loggregator System](../loggregator/architecture.html).

## <a id='knownissues'></a> Known Issues

This section lists known issues for PCF Elastic Runtime.

### <a id='unavailability-internal-mysql-update'></a>Brief Unavailability of Application Management during Internal MySQL Database Updates

**Fixed in ERT 1.11.9.**

This issue applies only to Elastic Runtime deployments using an internal MySQL
database with more than one MySQL instance. When updating this MySQL database
deployment, some application management operations such as `cf push` may become
unavailable for up to 15 seconds, as may the Routing API. Application instances
will continue to run, however, and their routes will remain registered. This
period of unavailability results from certain Elastic Runtime components losing
their leader-election locks and being able to reclaim the lock only after the
15-second lock expiration time. This availability issue will be fixed in a
forthcoming patch release.

### <a id='autoscaler'></a>App Autoscaler Panic

The App Autoscaler service can panic due to an issue with leader election. To
avoid this issue, operators must manually scale the App Autoscaler service down
to one instance before starting the upgrade to PCF v1.11. For more information,
see the [Scale Down App
Autoscaler](../customizing/upgrading-pcf.html#autoscaler) section of the
<em>Upgrading Pivotal Cloud Foundry</em> topic.

If you fail to complete this procedure prior to the upgrade and the App
Autoscaler service panics, follow the instructions in the [Autoscaler failing
on SQL query](https://discuss.pivotal.io/hc/en-us/articles/115008780768)
Knowledge Base article to restore the service.

### <a id='metrics'></a>Loggregator Metrics

Reverse Log Proxy (RLP) and Traffic Controller emit metrics tagged with a
hard-coded deployment name. Because the components do not allow the deployment
name to be configured, Metron cannot properly tag the metrics. This affects the
following metrics:

* `loggregator.rlp.ingress`
* `loggregator.rlp.dropped`
* `loggregator.rlp.egress`
* `loggregator.trafficcontroller.ingress`

A patch is planned to fix this issue and apply the deployment name consistently.

### <a id='truncated-logs'></a>Truncated Syslog Messages

If the total length of a syslog message transported locally from a PCF system component (for example, the Cloud Controller or a Diego cell) is greater than 1,024 bytes, the packet is truncated before it reaches RSYSLOG running on every BOSH VM instance.

The truncation is caused by the following:

* In PCF v1.11, a job writes log messages to a file in the `/var/vcap/sys/log` directory, and then [syslog-migration-release](https://github.com/pivotal-cf/syslog-migration-release) forwards the messages to RSYSLOG. For reading log files from the `/var/vcap/sys/log` directory into RSYSLOG, the release uses [blackbox](https://github.com/concourse/blackbox). Because `blackbox` is configured to send log messages over UDP, it causes the underlying library to respect the message length restrictions of RFC 3164 and truncate packets. For more information, see [syslog Message Parts](https://tools.ietf.org/html/rfc3164#section-4.1) in the RFC 3164 documentation.

* Prior to switching to syslog-migration-release in PCF v1.11, when a job generated a log message, it typically wrote the message in two locations: to the `/var/vcap/sys/log` directory and to RSYSLOG. For writing log messages directly to RSYSLOG, jobs were using `logger`, an Ubuntu utility.

    In PCF v1.11, RSYSLOG receives two copies of each log message: one is from `blackbox`, and one is from the `logger` utility. Log messages sent through `logger` may or may not be truncated as explained below:

    * If jobs are using the default version of `logger` installed on the stemcell, logs longer than 1 KB are truncated because the utility has a hard-coded message length limit. 
    * If jobs are using a newer version of `logger` without this restriction or other tool to communicate with RSYSLOG over UDP, the truncation may not happen.

As mentioned above, jobs write system logs to the `/var/vcap/sys/log` directory. You can periodically download full log lines from the directory files using Ops Manager.

### <a id='mount-location'></a>Mount Location Bug

If you have the `VOLUME ["/some/data/dir"]` directive in your image, ensure
your `"mount"` section in your bind JSON matches what is in the Dockerfile,
such as `"mount":"/some/data/dir"`.

See [this example
Dockerfile](https://github.com/azwickey-pivotal/volume-demo/blob/master/Dockerfile#L5)
on GitHub for reference.

This only works if the path in question is in an already existing root level
folder. For example, `"/var/some/random/path"` works, but
`"/some/random/path"` causes your app to crash at startup. This limitation
is caused by an aufs bug.

### <a id='ecr-gcr-issue'></a> Private Docker Registry Support for ECR, GCR and JFrog Artifactory

**Fixed in ERT 1.11.3.**

The private Docker registry support referenced above does not currently support
Amazon EC2 Container Registry, Google Cloud Platform Container Registry, or JFrog Artifactory.
Future patches will bring support for these registries.

### <a id='uaa-redirect'></a>UAA Redirect URIs

A redirect URI is now a mandatory parameter for the `authorization_code` and
`implicit` grant types, which is required to submit an access request. When
using the UAA API or UAAC and declaring OAuth clients in the manifest, make
sure at least one redirect URI is specified. Existing OAuth clients that do not
provide this information will get an error when accessing the
`/oauth/authorize` endpoint. See the example below:

<pre class='terminal'>
{
"error": "invalid_client",
"error_description": "authorization_code grant type requires at least one redirect URL."
}
</pre>

Redirect URIs should start with `http` or `https`. A subdomain regex is
supported only in the first part of the base domain:

  * `https://*.apps.com` is supported.
  * `https://*.apps.com*` is not supported.
  * `https://*.apps*.com*` is not supported.

### <a id='fail-postgres'></a>Failed Upgrade In Large Deployments

Upgrades of large deployments to Elastic Runtime v1.11 may fail due to a
timeout while updating PostgreSQL. If the upgrade fails, redeploy.

For more information, see the ["Deploying ERT 1.11 fails to due to a timeout
while updating
PostGreSQL"](https://discuss.pivotal.io/hc/en-us/articles/115008875387)
Knowledge Base article.

### <a id='rep-crashes'></a>Diego Cell Rep Crashes

**Fixed in ERT 1.11.1.**

In ERT 1.11.0, the Diego cell rep process will
infrequently crash as a result of a race condition when buffering health-check
logs for application instances. The application instances on that cell will be
rescheduled when the rep process is restarted or when the Diego system notices
that its presence has expired, typically within 15 seconds of the rep process
crashing.
