---
title: Pivotal Elastic Runtime v1.6.0.0 Release Notes
---

## <a name="update"></a>About Updating to Elastic Runtime v1.6.48 or Later

If you are currently on Elastic Runtime v1.6.44 or earlier, you should update your Elastic Runtime.
Later versions include a major stemcell upgrade to 3233.x. This stemcell uses the Linux kernel
v4.4 instead of the v3.19. Ubuntu is no longer providing CVE patches for Linux kernel v3.19.

Before updating Elastic Runtime, ensure that you have updated to Ops Manager v1.6.23 or later.

## <a id="releases"></a> Releases

### <a id="1.6.68"></a> 1.6.68

* Bumps the stemcell to version 3263.20.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3263.20</td>
  </tr><tr>
    <td>cf</td><td>225\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>36.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.11</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.46.0</td>
  </tr><tr>
    <td>consul</td><td>101\*</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0\*</td>
  </tr><tr>
    <td>etcd</td><td>48\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>notifications</td><td>33</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id="1.6.67"></a> 1.6.67

* Allows external databases to be configured with unique user accounts.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3263.17</td>
  </tr><tr>
    <td>cf</td><td>225\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>36.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.11</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.46.0</td>
  </tr><tr>
    <td>consul</td><td>101\*</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0\*</td>
  </tr><tr>
    <td>etcd</td><td>48\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>notifications</td><td>33</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id="1.6.66"></a> 1.6.66

* Adds configurable audit logging for the Internal MySQL database. Configuration options can be found on the Internal MySQL page.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3263.17</td>
  </tr><tr>
    <td>cf</td><td>225\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>36.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.11</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.46.0</td>
  </tr><tr>
    <td>consul</td><td>101\*</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0\*</td>
  </tr><tr>
    <td>etcd</td><td>48\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>notifications</td><td>33</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id="1.6.65"></a> 1.6.65

* Bumps the stemcell to version 3263.17 as the 3233 stemcell line is deprecated.
* Patches the autoscaling release to remove the git dependency that had unpatched vulnerabilities.
* Patches the notifications errand to remove logging that included UAA OAuth tokens.
* Bumps the rootfs to 1.97.0 to cover some low and medium vulnerabilities.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3263.17</td>
  </tr><tr>
    <td>cf</td><td>225\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>36.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.11</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.46.0</td>
  </tr><tr>
    <td>consul</td><td>101\*</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0\*</td>
  </tr><tr>
    <td>etcd</td><td>48\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>notifications</td><td>33</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id="1.6.64"></a> 1.6.64

* Bumps the stemcell to version 3233.12 to cover some low vulnerabilities.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3233.12</td>
  </tr><tr>
    <td>cf</td><td>225\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>36.2</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.11</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.43.0</td>
  </tr><tr>
    <td>consul</td><td>101\*</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0\*</td>
  </tr><tr>
    <td>etcd</td><td>48\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>notifications</td><td>32</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id="1.6.63"></a> 1.6.63

* Bumps the garden-runc release to version 1.1.1 to address CVE-2016-9962.
  For more details, please see [pivotal.io/security](https://pivotal.io/security/cve-2016-9962).

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3233.10</td>
  </tr><tr>
    <td>cf</td><td>225\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>36.2</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.11</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.43.0</td>
  </tr><tr>
    <td>consul</td><td>101\*</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0\*</td>
  </tr><tr>
    <td>etcd</td><td>48\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>notifications</td><td>32</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id="1.6.62"></a> 1.6.62

* Resolves an issue with the Diego Cell download cache that could result in unexpected behavior.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3233.10</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>36.2</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.11</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.43.0</td>
  </tr><tr>
    <td>consul</td><td>101</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-runc</td><td>1.0.2</td>
  </tr><tr>
    <td>notifications</td><td>32</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.61"></a> 1.6.61

* Bumps the stemcell to 3233.10 in order to address a memory usage issue in rsyslog.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3233.10</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>36.2</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.11</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.43.0</td>
  </tr><tr>
    <td>consul</td><td>101</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-runc</td><td>1.0.2</td>
  </tr><tr>
    <td>notifications</td><td>32</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.60"></a> 1.6.60

* Bumps the stemcell to 3233.8 and the rootfs to 1.94.0 in order to address a vulnerability in APT (USN-3156-1).
* Bumps the Golang buildpack to 1.7.16 to bring in support for Golang 1.7.
* Patches a vulnerability in the Notifications service that allowed unprivileged users to impersonate other users with unauthenticated tokens.
* Patches Cloud Controller to remove logging of database credentials.
* Patches Cloud Controller to remove old functionality that would delete resources at their previous droplet path.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3233.8</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>36.2</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.11</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.43.0</td>
  </tr><tr>
    <td>consul</td><td>101</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-runc</td><td>1.0.2</td>
  </tr><tr>
    <td>notifications</td><td>32</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.59"></a> 1.6.59

* Patches Cloud Controller to redact service broker credentials from logs when binding a service to an application.
* Patches a vulnerability in the Autoscaling service that allowed unprivileged users to impersonate other users with unauthenticated tokens.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3233.6</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>36.2</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.11</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.40.0</td>
  </tr><tr>
    <td>consul</td><td>101</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-runc</td><td>1.0.2</td>
  </tr><tr>
    <td>notifications</td><td>31</td>
  </tr><tr>
    <td>notifications-ui</td><td>26</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.58"></a> 1.6.58

* Bumps the stemcell to 3233.6 to address the Linux kernel vulnerability described in USN-3151-2.
* Bumps the rootfs to version 1.91.0.
* Bumps UAA to 2.7.4.12, resolving a Tomcat CVE (CVE-2015-6816), and reduces the allowed cipher suites used when communicating to UAA.
  The accepted ciphers have been restricted to TLS\_ECDHE\_RSA\_WITH\_AES\_128\_GCM\_SHA256 and TLS\_ECDHE\_RSA\_WITH\_AES\_256\_GCM\_SHA384.
* Corrects a misconfiguration in the CloudController that prevented applications larger than 1MB from being uploaded.
* Patches Cloud Controller to redact logging of application environment variables.
* Patches Cloud Controller to prevent disabled buildpacks from being used pushing an application.
* Patches Cloud Controller to prevent SpaceAuditors from being able to stage applications.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3233.6</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.11</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.40.0</td>
  </tr><tr>
    <td>consul</td><td>101</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-runc</td><td>1.0.2</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>22</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.57"></a> 1.6.57

* Resolves an issue with the Diego Cell download cache that could result in unexpected behavior.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3233.3</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.11</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.35.0</td>
  </tr><tr>
    <td>consul</td><td>101</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-runc</td><td>1.0.2</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>22</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.56"></a> 1.6.56

* Reduces the allowed cipher suites used when communicating to components of Diego.
  The accepted ciphers have been restricted to `TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256`.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3233.3</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.11</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.35.0</td>
  </tr><tr>
    <td>consul</td><td>101</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-runc</td><td>1.0.2</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>22</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.55"></a> 1.6.55

* Introduces a patch to prevent loss of application routes when the consul cluster becomes unreachable or loses quorum.
  Previously, the loss of the consul cluster would result in applications becoming unavailable as their routes were pruned from the routing table.
  Now, the route emitter will continue to update the router even while consul is down.
  Operators can monitor the `ConsulDownMode` metric for indication that the installation has detected this issue.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3233.3</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.11</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.35.0</td>
  </tr><tr>
    <td>consul</td><td>101</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-runc</td><td>1.0.2</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>22</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.54"></a> 1.6.54

* Reduced logging output in UAA of audit events.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3233.3</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.11</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.35.0</td>
  </tr><tr>
    <td>consul</td><td>101</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-runc</td><td>1.0.2</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>22</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.53"></a> 1.6.53

* Bumps the internal MySQL release version to use a newer version of MariaDB. The newer version of MariaDB addresses the following vulnerabilities: CVE-2016-6663 and CVE-2016-6664.
* Bumps the version of PCRE used in both haproxy and nginx to address multiple CVEs.
* See [https://pivotal.io/security](https://pivotal.io/security) for more information.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3233.3</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.11</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.35.0</td>
  </tr><tr>
    <td>consul</td><td>101</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-runc</td><td>1.0.2</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>22</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.52"></a> 1.6.52

* Patches UAA to address CVE-2015-3192. For more information, please see [https://pivotal.io/security](https://pivotal.io/security).

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3233.3</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.10</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.35.0</td>
  </tr><tr>
    <td>consul</td><td>101</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-runc</td><td>1.0.2</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>22</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.51"></a> 1.6.51

* Includes a patch to the Diego container runtime to improve the performance of the application of security group rules during application startup.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3233.3</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.10</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.35.0</td>
  </tr><tr>
    <td>consul</td><td>101</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-runc</td><td>1.0.2</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>22</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.50"></a> 1.6.50

* Bumps garden-runc to v1.0.2. See the [release notes](https://github.com/cloudfoundry/garden-runc-release/releases/tag/v1.0.2) for more information.
* Bumps the stack rootfs to patch the USN-3096-1 and USN-3088-1 vulnerabilities.
* Exposes the "Request Max Buffer Size" property for HAProxy deployments on the "Networking" page. This property determines the maximum request header payload that HAProxy will accept.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3233.3</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.10</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.35.0</td>
  </tr><tr>
    <td>consul</td><td>101</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-runc</td><td>1.0.2</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>22</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.49"></a> 1.6.49

* Patches Cloud Controller to obfuscate custom buildpack properties that may contain credentials.
* Patches the internal MySQL logging mechanism to prevent accidental credential leaks.
* Bumps garden-runc to v1.0.0.
* Addresses an issue where iptables performance was negatively impacted for applications running on DEA VMs.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3233.3</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.10</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.33.0</td>
  </tr><tr>
    <td>consul</td><td>101</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-runc</td><td>1.0.0</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>22</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.48"></a> 1.6.48

* Fixes [CVE-2016-5195](http://people.canonical.com/~ubuntu-security/cve/2016/CVE-2016-5195.html) for more information see [https://pivotal.io/security](https://pivotal.io/security).
* Fixes previously broken migration that would not allow customers to upgrade from version 1.6.45.
* Fixed an inconsistency between the hostname and the contents of /etc/hosts that would cause some java apps to crash.
* UAA now allows for a custom regular expression to be set for Proxy IP's.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3233.3</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.8</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.33.0</td>
  </tr><tr>
    <td>consul</td><td>101</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-runc</td><td>0.9.2</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.47"></a> 1.6.47

* Bumps the required stemcell version to 3233.3

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3233.3</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.8</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.33.0</td>
  </tr><tr>
    <td>consul</td><td>101</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-runc</td><td>0.9.2</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.46"></a> 1.6.46

* Fixed an inconsistency between the hostname and the contents of /etc/hosts that would cause some java apps to crash.
* UAA now allows for a custom regular expression to be set for Proxy IP's.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3233.2</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.8</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.33.0</td>
  </tr><tr>
    <td>consul</td><td>101</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-runc</td><td>0.9.2</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.45"></a> 1.6.45

<p class="note">
<strong>Note</strong>: This release caused an inconsistency between the hostname and the contents of /etc/hosts that would cause some java apps to crash.
It has been fixed in the next patch release.
</p>

* Bumps the required stemcell version to 3233.2. This stemcell is based on the 4.4 Linux kernel.
* Elastic Runtime v1.8.8 uses Garden-runC instead of Garden-Linux as the Garden backend for our container technology.
* Documentation for the Garden-runC runtime can be found at https://github.com/cloudfoundry/garden-runc-release.

* Advantages of Garden-runC over Garden-Linux are:

  - AppArmor is configured and enforced by default and out-of-the-box for all unprivileged containers.
  - Seccomp whitelisting restricts the set of system calls a container can access, greatly reducing the surface area for break-out exploits.
  This is set up out-of-the-box; you don't need to do anything.
  - The new Garden code base is simpler and more modular, allowing pluggable networking and pluggable rootfs management.
  It enables container-to-container networking and the new “grootfs” OCI-compliant rootfs downloader.
  - Garden-runC uses the same low-level container execution code as docker/k8s for running containers,
  so that your container images run the same in PCF as elsewhere.

* Lastly Garden-runC has been successfully running 100% of the production traffic on Pivotal Web Services (PWS) for around a month. And, it has been tested at lower load for some months before that. However, as always, make sure to test in a staging environment
before deploying to production.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3233.2</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.8</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.33.0</td>
  </tr><tr>
    <td>consul</td><td>101</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-runc</td><td>0.9.2</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.44"></a> 1.6.44

* Includes a fix for the Critical Vulnerability issue CVE-2016-6655. See https://pivotal.io/security for more information.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.21</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.8</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.33.0</td>
  </tr><tr>
    <td>consul</td><td>101</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.342.0</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.43"></a> 1.6.43

* Fixes an issue where you cannot successfully deploy Consul servers with public IP addresses, in case your network that you have deployed Elastic Runtime to is not an RFC 1918 private network.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.21</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.8</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.33.0</td>
  </tr><tr>
    <td>consul</td><td>101</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.342.0</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.42"></a> 1.6.42

* Fixes bug where the apps-usage service could lose database connectivity while the internal mysql proxies were being deployed. This only affects deployments using internal mysql as a database.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.21</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.2</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.8</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.33.0</td>
  </tr><tr>
    <td>consul</td><td>87</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.342.0</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.41"></a> 1.6.41

* Patches USN-3087-1, USN-3087-2, CVE-2016-6662, USN-3040-1, and USN-2953-1. Additional info can be found at https://pivotal.io/security.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.21</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.2</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.8</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.33.0</td>
  </tr><tr>
    <td>consul</td><td>87</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.342.0</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.40"></a> 1.6.40

* Patches CVE-2016-6651. Additional info can be found at https://pivotal.io/security.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.17</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.2</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.6</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.26.0</td>
  </tr><tr>
    <td>consul</td><td>87</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.342.0</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.39"></a> 1.6.39

* Introduces a field in Experimental Features which allows configuring the CF CLI's CF_DIAL_TIMEOUT value for the errands which are pushing Apps Manager and running smoke tests, so that you can increase the timeout for high-latency environments.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.17</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.2</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.6</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.26.0</td>
  </tr><tr>
    <td>consul</td><td>87</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.342.0</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.38"></a> 1.6.38

* Bumps the PHP buildpack to v4.3.18. The buildpack was exposing the `.profile` file which could contain environment variables and credentials. The PHP buildpack prior to v4.3.18 did not actually allow for execution of the `.profile` file, so it is unlikely that many applications were using it.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.17</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.2</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.6</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.26.0</td>
  </tr><tr>
    <td>consul</td><td>87</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.342.0</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.37"></a> 1.6.37

* Patches USN-3064-1, USN-3048-1, USN-3060-1, USN-3061-1, and USN-3065-1. Additional info can be found at https://pivotal.io/security.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.17</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.2</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.6</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.26.0</td>
  </tr><tr>
    <td>consul</td><td>87</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.338.0</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.36"></a> 1.6.36

* Addresses an issue with using an LDAP server over SSL for user authentication.
* Updates the version of Golang used by system apps in Elastic Runtime to a newer version, since Golang 1.5 will soon be end of life.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.12</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28.2</td>
  </tr><tr>
    <td>cf-mysql</td><td>24.6</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.19.0</td>
  </tr><tr>
    <td>consul</td><td>87</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.338.0</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.35"></a> 1.6.35

<p class="note"><strong>Note</strong>: Do not upgrade to this release if you are using LDAP with SSL enabled. The next patch version will address this issue.</p>

* Updates Consul to address an issue where the loss of a leader Consul node in the Consul cluster can lead to loss of application routes.
* Fixes an issue where Doppler servers did not add instance IDs to the syslog drain messages for applications deployed to Diego.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.12</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cf-mysql</td><td>24</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.18.0</td>
  </tr><tr>
    <td>consul</td><td>87</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.338.0</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.34"></a> 1.6.34

* Adds all link-local addresses, in the range of 169.254.0.0/16, to be excluded from access in the default application security group of Elastic Runtime. This range includes the metadata endpoints of most IaaS providers, such as AWS. This security group does not take effect for upgrades, only new installs of Elastic Runtime. If you would like to update your pre-existing deployment, please refer to the [Application Security Groups](http://docs.pivotal.io/pivotalcf/1-7/adminguide/app-sec-groups.html) topic of our documentation.
* Introduces a fix for GoRouter to address an issue where failover of requests to unresponsive app instances was not working properly whenever the request has a body. See this [Pivotal Tracker story](https://www.pivotaltracker.com/n/projects/1358110/stories/118532589) for details.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.12</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cf-mysql</td><td>24</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.18.0</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.338.0</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.33"></a> 1.6.33

* Patches CVE-2016-5006, USN-3012-1, USN-3010-1, and CVE-2016-4450. Additional info can be found at https://pivotal.io/security.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.12</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cf-mysql</td><td>24</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.18.0</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.338.0</td>
  </tr><tr>
    <td>notifications</td><td>24</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.32"></a> 1.6.32

* Patches CVE-2016-0926. Additional info can be found at https://pivotal.io/security.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.12</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cf-mysql</td><td>24</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.15.0</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.338.0</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.31"></a> 1.6.31

* Patches USN-3020-1. Additional info can be found at https://pivotal.io/security.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.12</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.15.0</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.338.0</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.30"></a> 1.6.30

* Patches CVE-2016-0928. Additional info can be found at https://pivotal.io/security.
* Addresses an issue with rare occurrences of application containers being assigned duplicate IP addresses.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.8</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.15.0</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.338.0</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.29"></a> 1.6.29

* Patches CVE-2016-4468. Additional info can be found at https://pivotal.io/security.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.8</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.15.0</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.338.0</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.28"></a> 1.6.28

* Patches USN-3001-1. Additional info can be found at https://pivotal.io/security.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.8</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.15.0</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.338.0</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.27"></a> 1.6.27

* Patches USN-2985-1, USN-2985-2, USN-2981-1, USN-2970-1, USN-2966-1, USN-2994-1, USN-2987-1, USN-2990-1, USN-2983-1, and USN-2961-1. Additional info can be found at https://pivotal.io/security.
* Addresses an issue with rare occurrences of application containers being assigned duplicate IP addresses.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.6</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.15.0</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.338.0</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.26"></a> 1.6.26

* Updates your Diego Cell and Diego BBS jobs to not use static IPs. This is useful if you want to scale up Diego jobs and do not have enough IP addresses reserved on your network.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.4</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.3.0</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.333.0</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.25"></a> 1.6.25

* As part of this release, there is a checkbox in the Elastic Runtime tile configuration that asks for every operator/administrator of the deployment to acknowledge that they understand how to implement application security groups successfully to secure their deployments. More info about this topic can be found here, in the [Application Security Groups](http://docs.pivotal.io/pivotalcf/1-7/adminguide/app-sec-groups.html) topic of our documentation.
* Patches USN-2977-1. Additional info can be found at https://pivotal.io/security.
* Increases the robustness of etcd.
* Patches a regression bug that was introduced by Elastic Runtime 1.6.24 which reverted a patch for Diego introduced in Elastic Runtime 1.6.21 that fixed descriptor limits on listeners.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.4</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.3.0</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.333.0</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.24"></a> 1.6.24

* Patches USN-2977-1. Additional info can be found at https://pivotal.io/security. Also increases the robustness of etcd.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3232.4</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.3.0</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>48</td>
  </tr><tr>
    <td>garden-linux</td><td>0.333.0</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.23"></a> 1.6.23

* Patches USN-2959-1, USN-2957-1, USN-2949-1, USN-2943-1, and USN-2935-2. Additional info can be found at https://pivotal.io/security

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3146.11</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>etcd</td><td>45</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>garden-linux</td><td>0.333.0</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.3.0</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.22"></a> 1.6.22

* Addresses a race condition experienced in some multi-node Diego DB (BBS) clusters.
* Adds the Cloud Controller statsd metrics to the firehose output.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3146.10</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>0.2.0</td>
  </tr><tr>
    <td>etcd</td><td>45</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>garden-linux</td><td>0.333.0</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.21"></a> 1.6.21

* Fixes an issue with connection flooding in the Loggregator traffic controller.
* Includes fixes for NOAA and file descriptor limits on listeners.

<p class="note"><strong>Known Issue</strong>: A race condition experienced in some 3-node Diego DB clusters will be fixed in a follow-on release.</p>

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3146.10</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>garden-linux</td><td>0.333.0</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>27</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.20"></a> 1.6.20

* Patches CVE-2016-0781 and CVE-2016-2165. Additional info can be found at https://pivotal.io/security.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3146.10</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>etcd</td><td>27</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>garden-linux</td><td>0.333.0</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.19"></a> 1.6.19

* Patches USN-2939-1. Additional info can be found at https://pivotal.io/security.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3146.10</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>etcd</td><td>27</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>garden-linux</td><td>0.333.0</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.18"></a> 1.6.18

* Patches USN-2929-1. Additional info can be found at https://pivotal.io/security.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3146.10</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>garden-linux</td><td>0.333.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>etcd</td><td>27</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.17"></a> 1.6.17

* Patches USN-2900-1 (this one is a critical GNU C lib (glibc) CVE), [CVE-2016-0761](http://pivotal.io/security/cve-2016-0761) (critical Cloud Foundry Garden CVE with respect to Docker Host File managment), USN-2910-1 (high CVE in the Linux kernel), USN-2897-1, and USN-2896-1.
* Fixes an IP allocation issue with v1.6.16 where Cloud Controller would sometimes try to take the IP address of another job.
* Fixes an issue with 1.6.15 where UAA startup fails for installs that use LDAP, when upgrading from Elastic Runtime v1.5.x or v1.6.0-1.6.14.


  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3146.9</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>garden-linux</td><td>0.333.0</td>
  </tr><tr>
    <td>etcd</td><td>27</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.15"></a> 1.6.15

* Fixes a critical Linux kernel bug that led to unkillable AUFS container processes that make the Diego Cells and DEAs unresponsive. The bug was introduced in the previous kernel releases that addressed CVEs. The stemcell in this version of Elastic Runtime patches the bug.
* Updates the UAA, Diego, Consul, and etcd releases for increased stability and lifecycle operations. The Diego release update (now version 0.1446) allows for larger customized buildpacks to be used in your deployment.
* Addresses known issues around applications with long file names failing to stage on the Windows 2012 R2 stack. File paths are still subject to the Microsoft Windows MAX_PATH limit of 260 characters. Note that the Diego operating directory adds approximately 40 characters to the path length, in addition to anything in the application directory.

<p class="note"><strong>Known Issue</strong>: There is known issue with UAA startup when LDAP is configured, please prefer to the Known Issues section for more details and remediation.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3146.7</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>garden-linux</td><td>0.330.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>diego</td><td>0.1446.0</td>
  </tr><tr>
    <td>etcd</td><td>18</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.14"></a> 1.6.14

* Patches [CVE-2016-0732](https://pivotal.io/security/cve-2016-0732), [USN-2882-1](http://www.ubuntu.com/usn/usn-2882-1), [USN-2879-1](http://www.ubuntu.com/usn/usn-2879-1), [USN-2875-1](http://www.ubuntu.com/usn/usn-2875-1), and [USN-2874-1](http://www.ubuntu.com/usn/usn-2874-1). Additional info can be found at https://pivotal.io/security.
* It was also discovered that several CVE patches since early Dec 2015, while resolved in the BOSH stemcell, were not applied to the root filesystem of application containers running on Diego in PCF Elastic Runtime. PCF Elastic Runtime versions 1.6.5 through 1.6.13 therefore had versions of this root filesystem on Diego that remained vulnerable to several of the CVEs identified and addressed from December 2015 through January 2016. It is recommended that 1.6.13 and below installations of Elastic Runtime running Diego upgrade to 1.6.14 or higher versions to address these CVEs.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3146.6</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>etcd</td><td>18</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>garden-linux</td><td>0.330.0</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>diego</td><td>0.1441.0</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.13"></a> 1.6.13

* Patches [USN-2871-1](http://www.ubuntu.com/usn/usn-2871-1). Additional information can be found at https://pivotal.io/security.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3146.5</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>etcd</td><td>18</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>garden-linux</td><td>0.330.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>diego</td><td>0.1441.0</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.12"></a> 1.6.12

* Patches [CVE-2016-0715](https://pivotal.io/security/cve-2016-0715). Additional information can be found at https://pivotal.io/security.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3146.3</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>etcd</td><td>18</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>diego</td><td>0.1441.0</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>garden-linux</td><td>0.330.0</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.11"></a> 1.6.11

* Patches [CVE-2016-0708](https://pivotal.io/security/cve-2016-0708), [USN-2869-1](http://www.ubuntu.com/usn/usn-2869-1), [USN-2868-1](http://www.ubuntu.com/usn/usn-2868-1), [USN-2865-1](http://www.ubuntu.com/usn/usn-2865-1), and [USN-2861-1](http://www.ubuntu.com/usn/usn-2861-1). Additional information can be found at https://pivotal.io/security.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3146.3</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>etcd</td><td>18</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>diego</td><td>0.1441.0</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>garden-linux</td><td>0.330.0</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.10"></a> 1.6.10

* This patch is only applicable for deployments that have not yet migrated to Diego cells from DEAs. In this patch release, the notifications and autoscale applications that come with Elastic Runtime were fixed to deploy to DEAs if you chose not to use Diego as the default runtime backend for your platform.
* All the system applications for Elastic Runtime will be deployed to whichever backend, Diego or DEAs, you select as the default in the Elastic Runtime tile. No manual migration should be necessary.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3146.2</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>etcd</td><td>18</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>diego</td><td>0.1441.0</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>garden-linux</td><td>0.330.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.9"></a> 1.6.9

* Patches [USN-2857-1](http://www.ubuntu.com/usn/usn-2857-1), [USN-2842-1](http://www.ubuntu.com/usn/usn-2842-1), [USN-2842-2](http://www.ubuntu.com/usn/usn-2842-2), [USN-2837-1](http://www.ubuntu.com/usn/usn-2837-1), [USN-2836-1](http://www.ubuntu.com/usn/usn-2836-1), [USN-2835-1](http://www.ubuntu.com/usn/usn-2835-1), [USN-2834-1](http://www.ubuntu.com/usn/usn-2834-1), [USN-2830-1](http://www.ubuntu.com/usn/usn-2830-1), and [USN-2829-1](http://www.ubuntu.com/usn/usn-2829-1). Additional information can be found at https://pivotal.io/security.
* There is also a fix to ensure that Consul server is launched before the etcd and Diego BBS jobs, so that the Consul DNS service is ready before those jobs start.
* By default the Postgres DBs included in Elastic Runtime now default to zero instances, since we encourage every 1.6.x deployment of Elastic Runtime to not use the Postgres DBs and instead only use MySQL.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3146.2</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>etcd</td><td>18</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>diego</td><td>0.1441.0</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>garden-linux</td><td>0.330.0</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.8"></a> 1.6.8

* Patches a Garden CVE, [CVE-2015-5350](http://pivotal.io/security/cve-2015-5350).
* Fixes a few issues on Garden containers, such as the inability to run Docker images that are larger than 120 MB and a network communication issue with the Openstack GRE Tunnel network for Pivotal Cloud Foundry deployments to Openstack (the Garden network MTU was lowered from 1500 to 1454 to address this). This also addresses a DNS resolution issue with Consul that causes several CF CLI command requests to take longer than expected.
* As as result of these fixes, the OSS Cloud Foundry release for Garden was bumped to version 0.330.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3146</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>etcd</td><td>18</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>garden-linux</td><td>0.330.0</td>
  </tr><tr>
    <td>diego</td><td>0.1441.0</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.7"></a> 1.6.7

* Fixes an issue for applications running on Windows containers that have very long file paths in their application project. You don't need to upgrade to this version unless you use Windows .NET applications with long file paths.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3146</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>garden-linux</td><td>0.327.0</td>
  </tr><tr>
    <td>etcd</td><td>18</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>diego</td><td>0.1441.0</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.6"></a> 1.6.6

* Includes CVE patches for [USN-2821-1](http://www.ubuntu.com/usn/usn-2821-1/) and [USN-2820-1](http://www.ubuntu.com/usn/usn-2820-1/). Additional information can be found at https://pivotal.io/security.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3146</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>garden-linux</td><td>0.327.0</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>etcd</td><td>18</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>diego</td><td>0.1441.0</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.5"></a> 1.6.5

* Includes CVE patches for [USN-2815-1](http://www.ubuntu.com/usn/usn-2815-1/), [USN-2812-1](http://www.ubuntu.com/usn/usn-2812-1/) and [USN-2810-1](http://www.ubuntu.com/usn/usn-2810-1/). Additional information can be found at https://pivotal.io/security
* Moves Apps Usage service to an HTTPS route intead of plain HTTP.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3144</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>diego</td><td>0.1441.0</td>
  </tr><tr>
    <td>etcd</td><td>18</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr><tr>
    <td>garden-linux</td><td>0.327.0</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.4"></a> 1.6.4

* Includes CVE patches for [USN-2788-1](http://www.ubuntu.com/usn/usn-2788-1/), [USN-2787-1](http://www.ubuntu.com/usn/usn-2787-1/) and [USN-2788-2](http://www.ubuntu.com/usn/usn-2788-2/). Additional information can be found at https://pivotal.io/security
* Includes a migration from btrfs to aufs as the filesystem for application containers on Diego, for improved performance. It also fixes an issue with Cloud Controller returning a 503 error code whenever a user requests the status of an application that is still staging.
* Updates the Docker registry API to v2 instead of v1.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3140</td>
  </tr><tr>
    <td>cf</td><td>225</td>
  </tr><tr>
    <td>diego</td><td>0.1441.0</td>
  </tr><tr>
    <td>garden-linux</td><td>0.327.0</td>
  </tr><tr>
    <td>etcd</td><td>18</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.3"></a> 1.6.3

* Includes CVE patches for [USN-2806-1](http://www.ubuntu.com/usn/usn-2806-1/) and [USN-2798-1](http://www.ubuntu.com/usn/usn-2798-1/). Additional information can be found at https://pivotal.io/security.
* Enables setting the Health Manager instance count to zero, since Health Manager is not used by the Diego runtime components. If you are using DEAs, you should continue to keep Health Manager around.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3130</td>
  </tr><tr>
    <td>cf</td><td>222</td>
  </tr><tr>
    <td>diego</td><td>0.1437.0</td>
  </tr><tr>
    <td>garden-linux</td><td>0.308.0</td>
  </tr><tr>
    <td>etcd</td><td>16</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.2"></a> 1.6.2

* Fixes an issue with application security groups not enforcing expected egress traffic rules for applications running on Diego.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3112</td>
  </tr><tr>
    <td>cf</td><td>222</td>
  </tr><tr>
    <td>diego</td><td>0.1437.0</td>
  </tr><tr>
    <td>garden-linux</td><td>0.308.0</td>
  </tr><tr>
    <td>etcd</td><td>16</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr>
  </tbody>
  </table>

### <a id="1.6.1"></a> 1.6.1

* Includes CVE patches for [USN-2778-1](http://www.ubuntu.com/usn/usn-2778-1/). Additional information can be found at https://pivotal.io/security.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3112</td>
  </tr><tr>
    <td>cf</td><td>222</td>
  </tr><tr>
    <td>diego</td><td>0.1437.0</td>
  </tr><tr>
    <td>garden-linux</td><td>0.308.0</td>
  </tr><tr>
    <td>etcd</td><td>16</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr>
  </tbody>
  </table>

## Changes since v1.5.0.0:

## Elastic Runtime

### New Features

#### Default Stack: cflinuxfs2

This release completely removes the lucid64 stack from [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF). After upgrading to this release, apps that have not been migrated to cflinuxfs2 will fail to start.

Operators are encouraged to migrate all apps to cflinuxfs2, as mentioned in the v1.4 release notes, before upgrading to v1.6.

Further details can be found [here](https://support.pivotal.io/hc/en-us/articles/205751277-New-cflinuxfs2-Stack).

#### Cloud Foundry Runtime - Diego

Diego is the new application runtime that Pivotal Cloud Foundry will use by default to run your apps.

Diego enables many new features and enhancements, such as allowing the deployment of thousands of applications and resurrecting crashed applications within seconds. It also supports new workloads, such as .NET applications on Windows, Docker on Linux, and enables SSH access to containers.

Details about how Diego works can be found [here](../concepts/diego/diego-auction.html). Details about its architecture can be found [here](../concepts/diego/diego-architecture.html)

To enable SSH access to your application containers on Diego, you will need to make sure that your external load-balancer, if you have one, is listening on port 2222 and forwarding to port 2222 on the Diego Brain. Also, if you are using an external load-balancer for SSH access, separate of the one you have pointed to the Router for general access to Cloud Foundry, you will need to add ssh.(your-domain) to your DNS, pointing to this load-balancer. Details about SSH access to application containers on Diego can be found [here](../devguide/deploy-apps/app-ssh-overview.html). Instructions for setting up the SSH ELB for AWS can be found [here](../customizing/cloudform_elb_ssh_proxy.html).

There is a new field, "Application Containers Subnet Pool", which allows you to configure a specific subnet pool for your applications running on Diego. You can leave this field as its default value unless you specifically want to use a different subnet, say if you have a third-party service or other VMs running with the same IPs in your network. This features is only usable on Diego, not on DEAs. You can only specify a single CIDR subnet, no "excluded IPs" can be specified.

#### Windows 2012 stack

By instantiating and setting up Windows cells in your Cloud Foundry environment, users will be able to deploy Windows .NET applications with the same familiar `cf push` commands they are used to. These applications run inside Windows containers on Windows 2012 R2 servers within your environment.

Diego must be enabled for applications to run on the new Windows 2012R2 stack. It can either be enabled by default or must be enabled for the individual application before that app can be started. Further documentation can be found [here](../opsguide/deploying-diego.html).

At this time, Windows cells cannot be managed by BOSH, but server deployment can easily be integrated with any number of existing infrastructure tools.

#### Docker

Docker support for Pivotal Cloud Foundry is in beta currently. To enable Docker support in your deployment, you can use a CLI command as a user with the admin role: `cf enable-feature-flag diego_docker`. Further details about Docker on Diego can be found [here](../concepts/docker.html)

#### Security Configuration of Runtime

This section allows you to configure security settings for your Pivotal Cloud Foundry Elastic Runtime components, such as HAProxy, Router, and the DEA/Diego Cells.

The SSL Termination Certificate input now applies to both HAProxy (if you use this component) and the Cloud Foundry Router. This field is not optional, even if you use an external load-balancer instead of HAProxy, since it will be applied to the Router. It does not have to be the same certificate as the one used by your external load-balancer, as this certificate is only used for SSL traffic between the load-balancer and Router. You can enable SSL termination on the Router with a checkbox in this same section, "Enable TLS on the Router". More details [here](http://docs.pivotal.io/pivotalcf/adminguide/enabling-https-to-routers.html) about securing connections to the Router.

If you have multiple domains to map to the Router, such as separate system and apps domains, you can only use one SSL certificate. The Router does not yet support multiple certificates. However, one SSL certificate with multiple domains attributed to it is acceptable.

The "Enable cross-container traffic" checkbox now controls the restriction of cross-container traffic for both DEAs and Diego Cells, depending on which runtime backend platform is chosen. Pivotal does not recommend that you select this checkbox within multi-tenant environments. The feature enables using application containers to connect to other application containers directly, without going through the router. This setup may be desired for microservices, which may be optionally used with Pivotal Spring Cloud Services.

The Security Configuration section also includes fields that allow specifying the HAProxy and Router ciphers, both of which are optional fields.

#### Other Runtime Features

##### S3-Compatible Filestore Configuration

It is now possible to configure four different S3 buckets to comprise the Cloud Controller's filesystem, instead of just one.

You can choose to use four different buckets if you are installing Pivotal Cloud Foundry for the first time, but not for an upgrade (i.e., from Pivotal Cloud Foundry v1.5 to v1.6). This is because the data will not be automatically migrated from the one bucket configuration in 1.5 to separate buckets in 1.6. It is recommended to use separate buckets for new deployments. Existing deployments are supported with one bucket.

##### Experimental Features

There are no experimental features being introduced in PCF Elastic Runtime for v1.6.

#### Improved MySQL Service
MySQL, used by some of the Pivotal Cloud Foundry system applications in the past, is now available as a data store for every Pivotal Cloud Foundry system component and application, including Cloud Controller and UAA. This is an improvement over the non-highly-available Postgresql databases that these components and applications relied upon in previous releases.

You can choose to use this MySQL service if you are installing Pivotal Cloud Foundry for the first time, but not for an upgrade (e.g.: from Pivotal Cloud Foundry v1.5 to v1.6). This is because the data will not be automatically migrated from an existing database to a new one. The Pivotal team is currently working on the migration scripts that will allow for the migration of all databases in Postregesql to the HA MySQL service. We will announce when these scripts are ready for use, the timeframe of which is currently aiming for sometime during the first half of 2016.

If you do install Pivotal Cloud Foundry on the MySQL databases only, then you can scale down the Apps Manager Database (Postgres), Cloud Controller Database (Postgres), and UAA Database (Postgres) to zero instances. Those components will instead use the MySQL cluster.

#### API/cf CLI

Note: These features are available via API only; cf CLI support coming soon.
- Org Managers and Space Managers can now manage roles without requiring admin privileges.
- Max number of private domains can be specified in the Organization Quota.
- Max number of app instances can be specified in the Organization Quota and Space Quota.
- Admins can purge a single service instance and its bindings. This is a more targeted purge to resolve a single service instance than the purge service offering.

#### Apps Manager

This release adds support for the Diego Runtime, and features numerous fixes and enhancements for it.

Two new environment variables are introduced and one is removed in v1.6:

* The new `ENABLE_INTERNAL_USER_STORE` environment variable controls org and space user invitations, new user registrations, and password updates to the PCF internal user store. The default is set to `false`, which means that none of the features are exposed in Apps Manager. Set to `true` to expose these features.
* The new `ENABLE_NON_ADMIN_ROLE_MANAGEMENT` environment variable allows org managers and spaces managers to manage user roles regardless of where these users are created. The default is set to `false`, which means that none of the features are exposed in Apps Manager. Set to `true` to expose these features.
* The previous `ENABLE_NON_ADMIN_USER_MANAGEMENT` environment variable that controlled many of these same features is removed in v1.6.

#### DEAs

Multiple stability and performance improvements were made to DEAs. They can now handle many more simultaneous connections, for instance.

##  Identity (aka UAA Server)

- UAA now enforces HTTPS only communication. This was an experimental feature in PCF 1.5.x
- Added support for UAA Log Rotation via BOSH
- SAML SSO Integration Updates
  - Allow Identity Provider Metadata with missing XML Declaration tag
  - Strict checking for duplicate SAML Entity IDs
- Token Format Updates
 - UAA tokens now contain an origin field which signifies the Identity Provider used for authentication. If SAML IDP is used for authentication, the Identity Provider alias is set in as the origin value.
 - Support for nonce parameter in OAuth requests to prevent against CSRF attacks

## Logging and Metrics

* Diego metrics now flow through the Loggregator subsystem.
  * Collector is deprecated.
  * DEA and HM9000 continue to use Collector.
  * A varz nozzle is available for directing metrics coming through Loggregator to Collector.
* There is a new field, "Syslog Drain Buffer Size", which allows you to configure the number of messages that your Doppler server will keep before starting to drop messages. Note that a larger buffer may overload your system.

## Buildpacks

### Smaller, More Secure Buildpacks

Buildpacks in PCF 1.6 are smaller than in PCF 1.5, since older,
unsupported versions of third-party dependencies are no longer being
packaged.

An example of this is Ruby 1.9.x, which reached
[End Of Life on February 23, 2015][ruby-eol] and was removed in
[ruby-buildpack v1.4.0][ruby-140].

  [ruby-eol]: https://www.ruby-lang.org/en/news/2014/01/10/ruby-1-9-3-will-end-on-2015/
  [ruby-140]: https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.4.0

PCF 1.6 also is only providing the __last two__ patch releases on any
`major.minor` branch, with the goal of allowing an upgrade path, while
also encouraging developers to upgrade to the latest security releases
whenever possible.

The smaller buildpacks sizes also means a faster PCF installation, as
well as improved staging performance.

For any customers who want to customize the binaries that are shipped
with a buildpack, the tooling for generating custom buildpacks has
been open-sourced:

  * [buildpack-packager](https://github.com/cloudfoundry/buildpack-packager)
  * [binary-builder](https://github.com/cloudfoundry/binary-builder)


### Binary Buildpack

PCF 1.6 also provides a "binary buildpack", for customers to run
precompiled binaries, for those occasions when developers want a bit
more control over the executables that are running in the container.

The [binary-builder](https://github.com/cloudfoundry/binary-builder)
tooling can also be used to help build executables for a specific
rootfs in a maintainable manner.


## Security - CVE fixes have been implemented since v1.5.0.0 and released via security patches.

* Canonical Ubuntu USN-2765-1
* Canonical Ubuntu USN-2756-1
* Canonical Ubuntu USN-2751-1
* Canonical Ubuntu USN-2740-1
* Canonical Ubuntu USN-2739-1
* Canonical Ubuntu USN-2738-1
* Canonical Ubuntu USN-2726-1
* Canonical Ubuntu USN-2722-2
* Canonical Ubuntu USN-2718-1
* Canonical Ubuntu USN-2710-1
* Canonical Ubuntu USN-2710-2
* Canonical Ubuntu USN-2698-1
* Canonical Ubuntu USN-2696-1
* Canonical Ubuntu USN-2694-1
* Canonical Ubuntu USN-2690-1
* Canonical Ubuntu USN-2684-1
* Canonical Ubuntu USN-2670-1
* Canonical Ubuntu USN-2639-1
* CVE 2015-3281
* CVE 2015-1420
* CVE 2015-1330

### Other Bug Fixes
We fixed an issue with the v1.5.6 patch for OpenStack deployments. The BOSH stemcell v3094, which this version of Elastic Runtime references, has a limitation affecting OpenStack users only:

* Elastic Runtime 1.5.6 on OpenStack does not work with S3/Swift blobstores.
* Elastic Runtime 1.5.6 on OpenStack users must configure their object storage to use the internal blobstore option.
* vSphere, AWS and vCloud users are not affected.
* This is fixed in v1.6.0

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3100</td>
  </tr><tr>
    <td>cf</td><td>222</td>
  </tr><tr>
    <td>diego</td><td>0.1437.0</td>
  </tr><tr>
    <td>garden-linux</td><td>0.308.0</td>
  </tr><tr>
    <td>etcd</td><td>16</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>397</td>
  </tr><tr>
    <td>notifications</td><td>19</td>
  </tr><tr>
    <td>notifications-ui</td><td>10</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>28</td>
  </tr><tr>
    <td>cf-mysql</td><td>23</td>
  </tr>
  </tbody>
  </table>
