---
title: Pivotal Application Service v2.8 Release Notes
owner: Release Engineering
---

Pivotal Platform is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='upgrade'></a> How to Upgrade

The procedure for upgrading to Pivotal Application Service (PAS) v2.8 is documented in [Upgrading Pivotal Platform](http://docs.pivotal.io/platform/2-8/customizing/upgrading-pcf.html).

When upgrading to PAS v2.8, be aware of the following upgrade considerations:

* If you previously used an earlier version of PAS, you must first upgrade to PAS v2.7 to successfully upgrade to PAS v2.8.

* Some partner service tiles may be incompatible with <%= vars.platform_name %> v2.8. Pivotal is working with partners to ensure their tiles are updated to work with the latest versions of <%= vars.platform_name %>.<br/><br/> For information about which partner service releases are currently compatible with <%= vars.platform_name %> v2.8, review the appropriate partners services release documentation at [https://docs.pivotal.io](https://docs.pivotal.io), or contact the partner organization that produces the tile.

## <a id='releases'></a> Releases
 
<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

### <a id='2.8.0'></a> 2.8.0

* See [New Features in PAS v2.8](#new-features)
* See [Breaking Changes](./breaking-changes.html)

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.26</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.35</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.5</td></tr>
    <tr><td>capi</td><td>1.87.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.23.0</td></tr>
    <tr><td>cf-networking</td><td>2.27.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.123</td></tr>
    <tr><td>cflinuxfs3</td><td>0.150.0</td></tr>
    <tr><td>credhub</td><td>2.5.6</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.2</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.3</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.26</td></tr>
    <tr><td>log-cache</td><td>2.6.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.1.0</td></tr>
    <tr><td>loggregator</td><td>106.2.0</td></tr>
    <tr><td>mapfs</td><td>1.2.1</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>mysql-monitoring</td><td>9.7.0</td></tr>
    <tr><td>nats</td><td>27</td></tr>
    <tr><td>nfs-volume</td><td>5.0.2</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.1</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.4</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.2</td></tr>
    <tr><td>push-apps-manager-release</td><td>671.0.1</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.7</td></tr>
    <tr><td>pxc</td><td>0.20.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.2</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.0</td></tr>
    <tr><td>routing</td><td>0.196.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.2</td></tr>
    <tr><td>silk</td><td>2.27.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.1</td></tr>
    <tr><td>statsd-injector</td><td>1.11.1</td></tr>
    <tr><td>syslog</td><td>11.5.0</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.1</td></tr>
    <tr><td>uaa</td><td>74.5.5</td></tr>
  </tbody>
</table>

## <a id='new-features'></a> New Features in PAS v2.8

### <a id='cpu-entitlement'></a> Diego Sets Container CPU Weight Property Equal to Container Memory Limit

Diego sets the CPU weight property on the containers it creates to a number equivalent to the container memory limit. This allows Garden to calculate the `AbsoluteCPUEntitlement` metric, which is the CPU entitlement for the container. With `AbsoluteCPUEntitlement`, Garden can produce accurate CPU usage metrics that are relative to `AbsoluteCPUEntitlement`.

For more information about the `AbsoluteCPUEntitlement` metric, see the [Diego Container Metrics](http://docs.pivotal.io/platform/application-service/2-8/loggregator/container-metrics.html#container-metrics) section of the _Container Metrics_ topic. For information about the Cloud Foundry CPU Entitlement Plugin, an experimental plugin that allows you to examine the CPU usage of PAS apps relative to their CPU entitlement, see the [cpu-entitlement-plugin](https://github.com/cloudfoundry/cpu-entitlement-plugin) repository on GitHub.

### <a id='appsman-scs'></a> Spring Cloud Services Configuration in Apps Manager

For Spring Cloud Services (SCS) instances, Apps Manager shows the current status of the SCS Config Server and lets you trigger the Config Server to update app configurations.

For more information, see the [View and Update Spring Cloud Services Configurations](https://docs.pivotal.io/platform/application-service/2-8/console/manage-apps.html#configure-scs) section of the _Managing Apps and Service Instances Using Apps Manager_ topic.

### <a id='active-droplet'></a> View the Active Droplet for an App in Apps Manager

On the Apps Manager **Revisions** page for an app, you can view which revision version contains the active droplet for the app. The active droplet has a GUID that is equivalent to the current droplet GUID of the app.

The text `Deployed (Active)` appears in the **Status** column of the table to indicate that the revision version is active.

For more information about using the Apps Manager UI, see [Using Apps Manager](https://docs.pivotal.io/platform/application-service/2-8/console/index.html). 

### <a id='sidecars-buildpack'></a> Deploy Sidecar Processes with a Buildpack

You can deploy a sidecar process for an app with a buildpack rather than with an app manifest.

For more information, see [Sidecar Buildpacks](https://docs.pivotal.io/platform/application-service/2-8/buildpacks/sidecar-buildpacks.html).

### <a id='cli-support-sidecars'></a> cf CLI Supports Sidecar Processes

The Cloud Foundry Command-Line Interface (cf CLI) adds support for sidecar processes. You can add a sidecar process to an app process using an app manifest. The cf CLI displays the sidecar process alongside the app process to which it is attached.

For more information about deploying sidecar processes with apps, see [Pushing Apps with Sidecar Processes (Beta)](https://docs.pivotal.io/platform/application-service/2-8/devguide/sidecars.html).

### <a id='usage-service-data-retention'></a> Configure Retention Period for Usage Service Data

Usage Service deletes granular data after 365 days by default. You can configure the retention period for granular data in the **Advanced Features** pane of the PAS tile.

This feature reduces the amount of data in the Usage Service database, which helps prevent data migration issues on very large foundations.

For more information, see the [Usage Data Retention](https://docs.pivotal.io/platform/application-service/2-8/operating/accounting-report.html#usage-retention) section of the _Reporting App, Task, and Service Instance Usage_ topic.

### <a id='smb-default'></a> SMB Volume Services Enabled by Default

SMB volume services are enabled by default. When SMB volume services are enabled, app developers can bind existing SMB shares to apps for shared file access.

To disable SMB volume services in the PAS tile, select **App Containers** and clear the **Enable SMB volume services** checkbox, and then select **Errands** and set the **SMB Broker Errand** to **Off**.

For more information, see the [Enable SMB Volume Services](http://docs.pivotal.io/platform/application-service/2-8/operating/enable-vol-services.html#smb-enable) section of the _Enabling Volume Services_ topic.

For general information about volume services, see [Using an External File System (Volume Services)](http://docs.pivotal.io/platform/application-service/2-8/devguide/services/using-vol-services.html).

### <a id='nfs-broker-credhub'></a> NFS Broker Uses CredHub as Backing Store

NFS Broker uses CredHub as its backing store, rather than an internal PAS database. Because BOSH Backup and Restore (BBR) no longer backs up NFS Broker, the `nfsbroker-bbr` job is removed.

For more information about CredHub, see [CredHub](https://docs.pivotal.io/platform/2-8/credhub/index.html).

### <a id='uaa-client-url-encoding'></a> Enable URL Encoding For UAA Client Credentials

You can disable an optional **Client basic auth compatibility mode** checkbox in the **UAA** pane of the PAS tile to require URL encoding for UAA client credentials.

URL encoding is defined by RFC6749. See [RFC6749](https://tools.ietf.org/html/rfc6749#section-2.3.1).

By default, the **Client basic auth compatibility mode** checkbox is enabled. When the checkbox is enabled, UAA does not require URL encoding for client IDs and secrets. This represents the default behavior of UAA prior to v74.0.0. For more information, see [v74.0.0](https://github.com/cloudfoundry/uaa-release/releases/tag/v74.0.0) in GitHub.

For more information about configuring the **Client basic auth compatibility mode** checkbox, see the [Configure UAA](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#uaa) section of the _Configuring PAS_ topic.

<p class="note breaking"><strong>Warning:</strong> If you disable the <strong>Client basic auth compatibility mode</strong> checkbox, URL encoding is required for all UAA client apps in your deployment. To avoid breaking changes, ensure that all client apps support URL encoding before you disable the checkbox.</p>

### <a id='aws-ecr-support'></a> Support for Pushing Container Images Hosted in AWS ECR

When you push container images hosted in AWS Elastic Container Registry (ECR) with the Cloud Foundry CLI (cf CLI), you can provide the access key ID and secret for an AWS IAM user as a Docker username and password as part of the `cf push` command. Apps are able to then continuously restart and restage successfully.

This update allows the cf CLI to successfully pull container images hosted in ECR with valid AWS Identity and Access Management (IAM) user credentials.

For more information, see the [Amazon Elastic Container Registry (ECR)](https://docs.pivotal.io/platform/application-service/2-8/devguide/deploy-apps/push-docker.html#ecr) section of the _Deploying an App with Docker_ topic.

### <a id='mtls-loggregator'></a> Mutual TLS Added to Loggregator Endpoints and Components

Mutual TLS is added to the Loggregator, Loggregator Agent, and Log Cache endpoints. It is also added to the Leadership Election job. This provides additional security between these endpoints and metric scrapers.

For more information about Loggregator components, see [Loggregator Architecture](https://docs.pivotal.io/platform/application-service/2-8/loggregator/architecture.html). For more information about the Leadership Election job and metric scraping, see [System Metrics](https://github.com/cloudfoundry/system-metrics-release) on GitHub.

### <a id='disable-v2-firehose'></a> V2 Firehose Can Be Disabled

You can disable the Loggregator V2 Firehose by deselecting the **Enable V2 Firehose** checkbox in the **System Logging** pane of the PAS tile. This shuts down VMs used for the V2 Firehose, such as Dopplers and Reverse Log Proxies. After you disable the V2 Firehose, you can delete these VMs from your deployment to save resources.

<div class='note warning'><strong>Warning:</strong> If you disable the V2 Firehose, you must select the <strong>Enable Log Cache syslog ingestion</strong> checkbox, or logs and metrics do not appear in Log Cache. Pivotal recommends that you do not disable the Firehose if you are dependent on any of the following: 
<ul>
    <li>Service tile metrics</li>
    <li>Pivotal Healthwatch or Pivotal App Metrics</li>
    <li>Partner log or metric integrations</li>
</ul>
</div>

<p class="note warning"><strong>Warning:</strong> If you disable the V1 or V2 Firehose, you must disable the Smoke Test Errand or the deploy fails. For more information, see <a href="./runtime-rn.html#disable-firehose-smoke-test-errand">Disable the Smoke Test Errand If You Disable the Firehose</a>.</p>

To forward logs and metrics to a syslog endpoint after you disable the Firehose, configure an aggregate log and metric drain for your foundation. For more information about disabling the V2 Firehose and enabling aggregate drains, see the [Configure System Logging](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#sys-logging) section of the _Configuring PAS_ topic.

For more information about the Loggregator Firehose, see [Loggregator Architecture](https://docs.pivotal.io/platform/application-service/2-8/loggregator/architecture.html).

### <a id='aggregate-drain'></a> Aggregate Drain for Metrics and App Logs

You can configure an aggregate log and metric drain for your foundation to allow Syslog Agents to forward all app metrics, app logs, and PAS component VM metrics to one or more syslog endpoints.

This allows you to forward logs and metrics for all apps in your foundation without configuring syslog drains for each app individually.

You can also use an aggregate log and metric drain instead of the Loggregator Firehose. This allows you to disable the Firehose and delete related VMs, such as Dopplers and Reverse Log Proxies. For more information about disabling the Firehose, see [V2 Firehose Can Be Disabled](#disable-v2-firehose).

To enable an aggregate log and metric drain for your foundation, add a comma-separated list of syslog endpoints to the **Aggregate log and metric drain destinations** field in the **System Logging** pane of the PAS tile. For more information, see the [Configure System Logging](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#sys-logging) section of the _Configuring PAS_ topic.

### <a id='credhub-vm'></a> PAS Must Use At Least One CredHub VM

In PAS v2.8, you must use at least one CredHub VM. The default number of CredHub instances is increased from `0` to `2`. You can configure the number of CredHub VMs PAS uses in the **Resource Config** pane of the PAS tile.

<p class="note warning"><strong>Warning</strong>:
If you are using an external GCP or Azure database for PAS and previously set CredHub instances to 0 in PAS v2.7, you must set CredHub instances greater than 0 and disable hostname verification before you upgrade to PAS v2.8. For more information, see [Disable Hostname Verification for External CredHub Databases on GCP and Azure](https://docs.pivotal.io/platform/2-8/upgrading/checklist.html#disable-hostname-verification) in the Upgrade Preparation Checklist for Pivotal Platform v2.8.
</p>

For more information about CredHub, see [CredHub](https://docs.pivotal.io/platform/2-8/credhub/index.html). For more information about configuring VMs, see the [Configure Resources](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#resources) section of the _Configuring PAS_ topic.

### <a id='apps-man-marketplace'></a> Customizable Marketplace URL and Secondary Navigation Links in Apps Manager

In the **Custom Branding** pane of PAS v2.8, you can customize the marketplace URL and secondary navigation links that appear in your Apps Manager deployment.

For more information, see [Configuring PAS](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#customize-apps-man).

## <a id='known-issues'></a> Known Issues

### <a id='duplicate-metrics'></a> Duplicate Metrics Appear in the Firehose

PAS v2.8 introduces a System Metrics Agent that sends metrics to the Firehose. These metrics match existing BOSH system metrics, but they use an updated format. In PAS v2.8, metrics appear in both formats. In the Firehose, you see duplicate metrics entries in both the Loggregator format and the System Metrics Agent format.

The following table shows examples of the existing Loggregator metrics format and the new System Metrics Agent metrics format:

| Loggregator Format | System Metrics Agent Format |
| ------------------ | --------------------------- |
| `system.healthy` | `system_healthy` |
| `system.mem.percent` | `system_mem_percent` |
| `system.disk.system.percent` | `system_disk_system_percent` |
| `system.disk.ephemeral.percent` | `system_disk_ephemeral_percent` |
| `system.disk.persistent.percent` | `system_disk_persistent_percent` |
| `system.cpu.user` | `system_cpu_user` |

The new System Metrics Agent adds about 50 metric envelopes per VM each minute.

The existing BOSH system metrics forwarder emits 2 metric envelopes per VM each minute. Each envelope contains 13 metrics.


### <a id='disable-firehose-smoke-test-errand'></a> Disable the Smoke Test Errand If You Disable the Firehose

If you disable the V1 or V2 Firehose in PAS v2.8, you must also disable the Smoke Test Errand. 

If you do not disable the Smoke Test Errand, the deploy fails with an error similar to the following:

```
[91m[1m[Fail] [0m[90mLoggregator: [0m[0mcf logs [0m[90mlinux [0m[91m[1m[It] can see app messages in the logs [0m  
          [37m/var/vcap/packages/smoke_tests/src/github.com/cloudfoundry/cf-smoke-tests/smoke/logging/loggregator_test.go:42[0m  
          [1m[91mRan 1 of 2 Specs in 56.171 seconds[0m  
          [1m[91mFAIL![0m -- [32m[1m0 Passed[0m | [91m[1m1 Failed[0m | [33m[1m0 Pending[0m | [36m[1m1 Skipped[0m  
          --- FAIL: TestSmokeTests (56.17s)  
          FAIL  
          Ginkgo ran 2 suites in 1m7.050120251s  
          Test Suite Failed  
Stderr     Error: failed to run job-process: exit status 1 (exit status 1)
```

To disable the Smoke Test Errand:

1. Navigate to the PAS tile **Errands** pane. 
1. For **Smoke Test Errand**, select **Off**.

For more information, see [Configure Errands](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#errands) in _Configuring PAS_.
