---
title: Pivotal Elastic Runtime v1.9 Release Notes
owner: Release Engineering
---

## <a id='1.9.0'></a> New Features in Elastic Runtime v1.9.0

### Secure Communication for the etcd Cluster

The etcd cluster now uses TLS for all communication between servers and clients.
To support the migration from unencrypted to encrypted communication, the existing etcd servers have been converted into proxies.
These proxies will allow connections from clients that still communicate unencrypted.
It is important to note that the etcd proxy will need to remain deployed until such time as all clients in your deployment have switched to encrypted communications.

### Containers Default to Running Unprivileged

### Diego Uses a Relational Datastore

### Routing API Uses a Relational Datastore

### Support for Running One-Off Tasks

### .Net Core Buildpack

The .Net Core Buildpack is now included as a core buildpack for application developers.
This buildpack is for use with applications running .Net Core on Linux.

### Support for Spring Boot Actuators in Apps Manager

### New Autoscaling Features

### Improvements to Intercomponent Communication Security

### Zipkin Tracing Headers
