---
title: Pivotal Application Service v2.9 Release Notes
owner: Release Engineering
---

Pivotal Platform is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>
 
### <a id='2.9.0-alpha.4'></a> 2.9.0-alpha.4

**Release Date:** 12/26/2019

* **[Feature]**  Expose all platform metrics on Prometheus endpoints
* **[Feature Improvement]** Notifications service will skip hostname validation for external databases
* **[Feature Improvement]** Clarify wording of marketplace url help text in Apps Manager configuration
* **[Feature Improvement]** Remove vestigial nfs-volume SQL database and related properties
* **[Feature Improvement]** Add doppler.firehose and usage_service.audit to Apps Manager client
* **[Feature Improvement]** Always enable ssh-proxy TLS to backend instances to ensure widest compatibility mode with PASW and IST
* **[Bug Fix]** Passwords containing commas no longer cause the SMB volume service to crash at startup with a "mount failed" error
* **[Bug Fix]** All CAPI jobs respect "Maximum disk quota per app"
* Bump ubuntu-xenial stemcell to version `621.29`
* Bump capi to version `1.89.0`
* Bump cf-smoke-tests to version `40.0.124`
* Bump cflinuxfs3 to version `0.151.0`
* Bump log-cache to version `2.6.7`
* Bump loggregator-agent to version `5.3.1`
* Bump loggregator to version `106.3.2`
* Add new release metrics-discovery at version `2.0.2`
* Bump mysql-monitoring to version `9.8.0`
* Bump nats to version `32`
* Bump smb-volume to version `2.1.1`
* Bump statsd-injector to version `1.11.11`
* Bump system-metrics-scraper to version `2.0.5`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.29</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.35</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.6</td></tr>
    <tr><td>capi</td><td>1.89.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.23.0</td></tr>
    <tr><td>cf-networking</td><td>2.27.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.124</td></tr>
    <tr><td>cflinuxfs3</td><td>0.151.0</td></tr>
    <tr><td>credhub</td><td>2.5.9</td></tr>
    <tr><td>diego</td><td>2.41.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.2</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.3</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.26</td></tr>
    <tr><td>log-cache</td><td>2.6.7</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.1</td></tr>
    <tr><td>loggregator</td><td>106.3.2</td></tr>
    <tr><td>mapfs</td><td>1.2.2</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>mysql-monitoring</td><td>9.8.0</td></tr>
    <tr><td>nats</td><td>32</td></tr>
    <tr><td>nfs-volume</td><td>6.0.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.1</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.4</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.2</td></tr>
    <tr><td>push-apps-manager-release</td><td>671.0.1</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.8</td></tr>
    <tr><td>pxc</td><td>0.21.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.2</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.0</td></tr>
    <tr><td>routing</td><td>0.196.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.2</td></tr>
    <tr><td>silk</td><td>2.27.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.1</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.1</td></tr>
    <tr><td>statsd-injector</td><td>1.11.11</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.5</td></tr>
    <tr><td>uaa</td><td>74.12.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.9.0-alpha.3'></a> 2.9.0-alpha.3

**Release Date:** 12/09/2019

* **[Feature]** Make buildpacks configurable for Apps Manager, Invitations, and Search Server apps
* **[Feature]** Make App Graceful Shutdown Period configurable via Diego's "containers.graceful_shutdown_interval_in_seconds" property
* **[Feature Improvement]** Upgrade Routing, Networking, and Silk releases to use go 1.13 release
* **[Feature Improvement]** Replace conflicting `system-metrics-release`
* **[Feature Improvement]** Add option for Loggregator to send logs and metrics to log-cache syslog server
* **[Bug Fix]** S3 unversioned backup and restore now works if the unversioned target bucket used to be versioned
* **[Bug Fix]** Add length constraint to credhub internal encryption provider keys
* Bump ubuntu-xenial stemcell to version `621.26`
* Bump bpm to version `1.1.6`
* Bump cf-cli to version `1.23.0`
* Bump cf-networking to version `2.27.0`
* Bump cflinuxfs3 to version `0.150.0`
* Bump credhub to version `2.5.9`
* Bump diego to version `2.41.0`
* Bump garden-runc to version `1.19.9`
* Bump java-offline-buildpack to version `4.26`
* Bump log-cache to version `2.6.4`
* Bump loggregator-agent to version `5.2.4`
* Bump loggregator to version `106.3.0`
* Bump mapfs to version `1.2.2`
* Bump nfs-volume to version `6.0.0`
* Bump nodejs-offline-buildpack to version `1.7.4`
* Bump php-offline-buildpack to version `4.4.2`
* Bump push-usage-service-release to version `671.0.8`
* Bump pxc to version `0.21.0`
* Bump python-offline-buildpack to version `1.7.2`
* Bump r-offline-buildpack to version `1.1.0`
* Bump routing to version `0.196.0`
* Bump silk to version `2.27.0`
* Bump statsd-injector to version `1.11.8`
* Bump syslog to version `11.6.1`
* Add new release system-metrics-scraper at version `2.0.3`
* Bump uaa to version `74.12.0`
* Removed system-metrics release

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.26</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.35</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.6</td></tr>
    <tr><td>capi</td><td>1.88.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.23.0</td></tr>
    <tr><td>cf-networking</td><td>2.27.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.123</td></tr>
    <tr><td>cflinuxfs3</td><td>0.150.0</td></tr>
    <tr><td>credhub</td><td>2.5.9</td></tr>
    <tr><td>diego</td><td>2.41.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.2</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.3</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.26</td></tr>
    <tr><td>log-cache</td><td>2.6.4</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.4</td></tr>
    <tr><td>loggregator</td><td>106.3.0</td></tr>
    <tr><td>mapfs</td><td>1.2.2</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>mysql-monitoring</td><td>9.7.0</td></tr>
    <tr><td>nats</td><td>30</td></tr>
    <tr><td>nfs-volume</td><td>6.0.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.1</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.4</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.2</td></tr>
    <tr><td>push-apps-manager-release</td><td>671.0.1</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.8</td></tr>
    <tr><td>pxc</td><td>0.21.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.2</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.0</td></tr>
    <tr><td>routing</td><td>0.196.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.2</td></tr>
    <tr><td>silk</td><td>2.27.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.1</td></tr>
    <tr><td>statsd-injector</td><td>1.11.8</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.3</td></tr>
    <tr><td>uaa</td><td>74.12.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.9.0-alpha.2'></a> 2.9.0-alpha.2

**Release Date:** 11/20/2019

* **[Security Fix]** Address [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596)
* **[Feature Improvement]** Allow disabling the V2 firehose
* **[Feature Improvement]** The NFS Broker now only runs against credhub as its backing store and therefore we have removed the nfsbroker bbr jobs
* Bump ubuntu-xenial stemcell to version `621.23`
* Bump capi to version `1.88.0`
* Bump cf-cli to version `1.22.0`
* Bump cf-networking to version `2.26.0`
* Bump cf-smoke-tests to version `40.0.123`
* Bump cflinuxfs3 to version `0.144.0`
* Bump diego to version `2.40.0`
* Bump dotnet-core-offline-buildpack to version `2.3.2`
* Bump go-offline-buildpack to version `1.9.3`
* Bump nats to version `30`
* Bump nfs-volume to version `5.0.2`
* Bump nginx-offline-buildpack to version `1.1.1`
* Bump nodejs-offline-buildpack to version `1.7.2`
* Bump php-offline-buildpack to version `4.4.1`
* Bump python-offline-buildpack to version `1.7.1`
* Bump routing to version `0.193.0`
* Bump ruby-offline-buildpack to version `1.8.2`
* Bump silk to version `2.26.0`
* Bump smb-volume to version `2.1.0`
* Bump staticfile-offline-buildpack to version `1.5.1`
* Bump statsd-injector to version `1.11.3`
* Bump uaa to version `74.9.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.23</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.35</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.5</td></tr>
    <tr><td>capi</td><td>1.88.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.22.0</td></tr>
    <tr><td>cf-networking</td><td>2.26.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.123</td></tr>
    <tr><td>cflinuxfs3</td><td>0.144.0</td></tr>
    <tr><td>credhub</td><td>2.5.6</td></tr>
    <tr><td>diego</td><td>2.40.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.2</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.3</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.24</td></tr>
    <tr><td>log-cache</td><td>2.6.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.0</td></tr>
    <tr><td>loggregator</td><td>106.2.0</td></tr>
    <tr><td>mapfs</td><td>1.2.1</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>mysql-monitoring</td><td>9.7.0</td></tr>
    <tr><td>nats</td><td>30</td></tr>
    <tr><td>nfs-volume</td><td>5.0.2</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.1</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.2</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.1</td></tr>
    <tr><td>push-apps-manager-release</td><td>671.0.1</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.7</td></tr>
    <tr><td>pxc</td><td>0.20.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.1</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.0.13</td></tr>
    <tr><td>routing</td><td>0.193.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.2</td></tr>
    <tr><td>silk</td><td>2.26.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.1</td></tr>
    <tr><td>statsd-injector</td><td>1.11.3</td></tr>
    <tr><td>syslog</td><td>11.6.0</td></tr>
    <tr><td>system-metrics</td><td>1.0.1</td></tr>
    <tr><td>uaa</td><td>74.9.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.9.0-alpha.1'></a> 2.9.0-alpha.1

**Release Date:** 11/06/2019

* **[Feature]** Add checkbox to enable client basic auth compatibility mode in UAA
* Bump ubuntu-xenial stemcell to version `456.51`
* Bump cf-smoke-tests to version `40.0.122`
* Bump cflinuxfs3 to version `0.140.0`
* Bump loggregator-agent to version `5.2.0`
* Bump loggregator to version `106.2.0`
* Bump mapfs to version `1.2.1`
* Bump smb-volume to version `2.0.4`
* Bump statsd-injector to version `1.11.2`
* Bump syslog to version `11.6.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>456.51</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.35</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.5</td></tr>
    <tr><td>capi</td><td>1.87.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.21.0</td></tr>
    <tr><td>cf-networking</td><td>2.25.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.122</td></tr>
    <tr><td>cflinuxfs3</td><td>0.140.0</td></tr>
    <tr><td>credhub</td><td>2.5.6</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.1</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.1</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.24</td></tr>
    <tr><td>log-cache</td><td>2.6.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.0</td></tr>
    <tr><td>loggregator</td><td>106.2.0</td></tr>
    <tr><td>mapfs</td><td>1.2.1</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>mysql-monitoring</td><td>9.7.0</td></tr>
    <tr><td>nats</td><td>27</td></tr>
    <tr><td>nfs-volume</td><td>2.3.1</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.0</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.0</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.0</td></tr>
    <tr><td>push-apps-manager-release</td><td>671.0.1</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.7</td></tr>
    <tr><td>pxc</td><td>0.20.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.37</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.0.13</td></tr>
    <tr><td>routing</td><td>0.192.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.1</td></tr>
    <tr><td>silk</td><td>2.25.0</td></tr>
    <tr><td>smb-volume</td><td>2.0.4</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.0</td></tr>
    <tr><td>statsd-injector</td><td>1.11.2</td></tr>
    <tr><td>syslog</td><td>11.6.0</td></tr>
    <tr><td>system-metrics</td><td>1.0.1</td></tr>
    <tr><td>uaa</td><td>74.5.0</td></tr>
  </tbody>
</table>
 

## <a id='new-features'></a> New Features in PAS v2.9

PAS v2.9 includes the following major features:

### <a id='app-graceful-shutdown'></a> Increase App Graceful Shutdown Period

You can increase the graceful shutdown period for your apps.

When PAS requests a shutdown of app instances, the processes in app containers have a period of time to gracefully shut down before the processes are forcefully terminated. The default, minimum graceful shutdown period is 10 seconds. If your apps require a longer period of time to finish in-flight jobs and gracefully shutdown, you can increase the graceful shutdown period in the **Advanced Features** pane of the PAS tile.

For more information, see the [Shutdown](https://docs.pivotal.io/platform/application-service/2-9/devguide/deploy-apps/app-lifecycle.html#shutdown) section of the _App Container Lifecycle_ topic and the [Configure Advanced Features](http://docs.pivotal.io/platform/application-service/2-9/operating/configure-pas.html#advanced) section of the _Configuring PAS_ topic.


## <a id='known-issues'></a> Known Issues

PAS v2.9 includes the following known issues:

### <a id='nfs-broker-errand'></a> Run NFS Broker Errand Before Upgrade

If you are using NFS Volume Services, you must run the **NFS Broker Errand** errand before upgrading to PAS v2.9. Running this errand in PAS v2.8 migrates existing service instances for NFS Volume Services from MySQL to CredHub.

If you do not run the errand in PAS v2.8, you may be unable to bind apps to 
existing NFS Volume Service service instances after upgrading to PAS v2.9.
