---
title: Pivotal Application Service v2.4 Release Notes
owner: Release Engineering
---

<%= partial '/shared/deprecation-notice' %>

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases
 
<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

### <a id='2.4.15'></a> 2.4.15

**Release Date:** 09/24/2019

* **[Bug Fix]** Fixes a regression bug causing mounts for applications bound to smb volume services with an older version of the smbbroker to fail on restart or upgrade
* Bump ubuntu-xenial stemcell to version `170.133`
* Bump cflinuxfs3 to version `0.128.0`
* Bump smb-volume to version `2.0.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.133</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.12.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.33</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.16</td></tr>
    <tr><td>bpm</td><td>1.1.1</td></tr>
    <tr><td>capi</td><td>1.71.12</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.16.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.6</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.119</td></tr>
    <tr><td>cf-syslog-drain</td><td>8.1</td></tr>
    <tr><td>cflinuxfs2</td><td>1.286.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.128.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.1.5</td></tr>
    <tr><td>diego</td><td>2.22.11</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.12-lts</td></tr>
    <tr><td>garden-runc</td><td>1.19.5</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.42-lts</td></tr>
    <tr><td>haproxy</td><td>9.3.1</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.21-lts</td></tr>
    <tr><td>log-cache</td><td>2.1.6</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.1.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>1.7.11</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.52-lts</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.78-lts</td></tr>
    <tr><td>push-apps-manager-release</td><td>667.0.23</td></tr>
    <tr><td>push-usage-service-release</td><td>668.0.12</td></tr>
    <tr><td>pxc</td><td>0.14.3</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.36-lts</td></tr>
    <tr><td>routing</td><td>0.182.7</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.42-lts</td></tr>
    <tr><td>silk</td><td>2.18.2</td></tr>
    <tr><td>smb-volume</td><td>2.0.1</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.43-lts</td></tr>
    <tr><td>statsd-injector</td><td>1.5.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>66.3</td></tr>
  </tbody>
</table>


### <a id='2.4.14'></a> 2.4.14

**Release Date:** 09/17/2019

* **[Security Fix]** Prevent users from inviting themselves to orgs they do not have access to via the Invitations microservice
* **[Security Fix]** Sanitize user input to CSVs from Usage Report and Accounting Report ZIP files downloaded via Apps Manager
* **[Security Fix]** Improve LDAP username validation for NFS LDAP integration
* **[Feature Improvement]** Add an option CREDHUB_SKIP_INTERPOLATION to skip CredHub interpolation when staging/starting an app
* **[Bug Fix]** Address Azure MySQL compatibility problems in Notifications release
* **[Bug Fix]** Include pushing applications with the --droplet option in the last push timestamp shown by Apps Manager
* **[Bug Fix]** Show TCP port for TCP routes on space page and app page in Apps Manager
* **[Bug Fix]** Show an error page when there is a UAA error after attempted login to Apps Manager
* **[Bug Fix]** Smoke Test help text now properly references "Enable Metric Registrar".
* **[Bug Fix]** Keep resending route unregistration message to prevent application misrouting in case of NATS routing tier instability
* Bump ubuntu-xenial stemcell to version `170.129`
* Bump cf-autoscaling to version `222`
* Bump cf-smoke-tests to version `40.0.119`
* Bump cflinuxfs3 to version `0.126.0`
* Bump diego to version `2.22.11`
* Bump java-offline-buildpack to version `4.21-lts`
* Bump nfs-volume to version `1.7.11`
* Bump notifications to version `61`
* Bump push-apps-manager-release to version `667.0.23`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.129</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.12.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.33</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.16</td></tr>
    <tr><td>bpm</td><td>1.1.1</td></tr>
    <tr><td>capi</td><td>1.71.12</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.16.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.6</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.119</td></tr>
    <tr><td>cf-syslog-drain</td><td>8.1</td></tr>
    <tr><td>cflinuxfs2</td><td>1.286.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.126.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.1.5</td></tr>
    <tr><td>diego</td><td>2.22.11</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.12-lts</td></tr>
    <tr><td>garden-runc</td><td>1.19.5</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.42-lts</td></tr>
    <tr><td>haproxy</td><td>9.3.1</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.21-lts</td></tr>
    <tr><td>log-cache</td><td>2.1.6</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.1.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>1.7.11</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.52-lts</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.78-lts</td></tr>
    <tr><td>push-apps-manager-release</td><td>667.0.23</td></tr>
    <tr><td>push-usage-service-release</td><td>668.0.12</td></tr>
    <tr><td>pxc</td><td>0.14.3</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.36-lts</td></tr>
    <tr><td>routing</td><td>0.182.7</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.42-lts</td></tr>
    <tr><td>silk</td><td>2.18.2</td></tr>
    <tr><td>smb-volume</td><td>1.3.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.43-lts</td></tr>
    <tr><td>statsd-injector</td><td>1.5.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>66.3</td></tr>
  </tbody>
</table>


### <a id='2.4.13'></a> 2.4.13

**Release Date:** 08/15/2019

* **[Security Fix]** Upgrade libseccomp in bpm to 2.4.1 to address CVE-2019-9893
* **[Bug Fix]** Improve output of Garden diagnostic tool (i.e. `dontpanic`) and increase resiliency in  edge cases through improvements in containerd
* **[Bug Fix]** Pass through arbitrary parameters when binding a service to an app in Apps Manager
* **[Bug Fix]** Show all contexts for Spring Boot actuator mappings in Apps Manager, not just mappings that have the 'application' context
* **[Bug Fix]** Fix bug in Apps Manager where Spring Boot actuator trace tab data was not shown
* Bump ubuntu-xenial stemcell to version `170.111`
* Bump bpm to version `1.1.1`
* Bump cf-autoscaling to version `221`
* Bump cf-smoke-tests to version `40.0.116`
* Bump cflinuxfs3 to version `0.118.0`
* Bump garden-runc to version `1.19.5`
* Bump go-offline-buildpack to version `1.8.42-lts`
* Bump java-offline-buildpack to version `4.20-lts`
* Bump php-offline-buildpack to version `4.3.78-lts`
* Bump push-apps-manager-release to version `667.0.19`
* Bump push-usage-service-release to version `668.0.12`
* Bump python-offline-buildpack to version `1.6.36-lts`
* Bump ruby-offline-buildpack to version `1.7.42-lts`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.111</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.12.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.33</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.16</td></tr>
    <tr><td>bpm</td><td>1.1.1</td></tr>
    <tr><td>capi</td><td>1.71.12</td></tr>
    <tr><td>cf-autoscaling</td><td>221</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.16.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.6</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.116</td></tr>
    <tr><td>cf-syslog-drain</td><td>8.1</td></tr>
    <tr><td>cflinuxfs2</td><td>1.286.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.118.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.1.5</td></tr>
    <tr><td>diego</td><td>2.22.8</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.12-lts</td></tr>
    <tr><td>garden-runc</td><td>1.19.5</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.42-lts</td></tr>
    <tr><td>haproxy</td><td>9.3.1</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.20-lts</td></tr>
    <tr><td>log-cache</td><td>2.1.6</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.1.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>1.7.10</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.52-lts</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>57</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.78-lts</td></tr>
    <tr><td>push-apps-manager-release</td><td>667.0.19</td></tr>
    <tr><td>push-usage-service-release</td><td>668.0.12</td></tr>
    <tr><td>pxc</td><td>0.14.3</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.36-lts</td></tr>
    <tr><td>routing</td><td>0.182.7</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.42-lts</td></tr>
    <tr><td>silk</td><td>2.18.2</td></tr>
    <tr><td>smb-volume</td><td>1.3.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.43-lts</td></tr>
    <tr><td>statsd-injector</td><td>1.5.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>66.3</td></tr>
  </tbody>
</table>

### <a id='2.4.12'></a> 2.4.12

**Release Date:** 07/30/2019

* **[Security Fix]** When a Spring Boot app has a route with unencrypted HTTP as the protocol, Apps Manager attempts requests via encrypted HTTPS
* **[Bug Fix]** Fix issue in which Enable/Disable Autoscaling button in Apps Manager temporarily shows the wrong autoscaling state
* **[Bug Fix]** Space Developer Networking Self Service checkbox in PAS tile configuration now gives proper permissions to Apps Manager users
* **[Bug Fix]** Fix issue where services shared across orgs/spaces never load apps it is bound to from the other orgs/spaces on the Apps Manager service overview tab
* **[Bug Fix]** Make search bar in Apps Manager case insensitive
* **[Bug Fix]** Fix Policy Server to correctly read paginated responses from CAPI
* **[Bug Fix]** Fixes a regression causing `mount` bind configuration to be rejected by the SMB volume service broker
* **[Bug Fix]** Creating a space via the V3 API generates an audit event
* **[Bug Fix]** Fix issue in SMB startup scripts that can cause restart failure or inadvertent application data permission change
* Bump ubuntu-xenial stemcell to version `170.107`
* Bump binary-offline-buildpack to version `1.0.33`
* Bump capi to version `1.71.12`
* Bump cf-networking to version `2.18.6`
* Bump cflinuxfs3 to version `0.115.0`
* Bump log-cache to version `2.1.6`
* Bump nodejs-offline-buildpack to version `1.6.52-lts`
* Bump push-apps-manager-release to version `667.0.17`
* Bump smb-volume to version `1.3.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.107</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.12.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.33</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.16</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>capi</td><td>1.71.12</td></tr>
    <tr><td>cf-autoscaling</td><td>219</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.16.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.6</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.113</td></tr>
    <tr><td>cf-syslog-drain</td><td>8.1</td></tr>
    <tr><td>cflinuxfs2</td><td>1.286.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.115.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.1.5</td></tr>
    <tr><td>diego</td><td>2.22.8</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.12-lts</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.40-lts</td></tr>
    <tr><td>haproxy</td><td>9.3.1</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.19-lts</td></tr>
    <tr><td>log-cache</td><td>2.1.6</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.1.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>1.7.10</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.52-lts</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>57</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.77-lts</td></tr>
    <tr><td>push-apps-manager-release</td><td>667.0.17</td></tr>
    <tr><td>push-usage-service-release</td><td>668.0.11</td></tr>
    <tr><td>pxc</td><td>0.14.3</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.34-lts</td></tr>
    <tr><td>routing</td><td>0.182.7</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.40-lts</td></tr>
    <tr><td>silk</td><td>2.18.2</td></tr>
    <tr><td>smb-volume</td><td>1.3.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.43-lts</td></tr>
    <tr><td>statsd-injector</td><td>1.5.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>66.3</td></tr>
  </tbody>
</table>

### <a id='2.4.11'></a> 2.4.11

**Release Date:** 07/15/2019

* **[Security Fix]** Fix high severity CVE in UAA: CVE-2019-3787
* **[Security Fix]** UAA should prevent SCIM query injection attacks
* Bump cf-smoke-tests to version `40.0.113`
* Bump cflinuxfs3 to version `0.113.0`
* Bump uaa to version `66.3`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.93</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.12.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.32</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.16</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>capi</td><td>1.71.11</td></tr>
    <tr><td>cf-autoscaling</td><td>219</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.16.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.5</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.113</td></tr>
    <tr><td>cf-syslog-drain</td><td>8.1</td></tr>
    <tr><td>cflinuxfs2</td><td>1.286.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.113.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.1.5</td></tr>
    <tr><td>diego</td><td>2.22.8</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.12-lts</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.40-lts</td></tr>
    <tr><td>haproxy</td><td>9.3.1</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.19-lts</td></tr>
    <tr><td>log-cache</td><td>2.0.4</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.1.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>1.7.10</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.51-lts</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>57</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.77-lts</td></tr>
    <tr><td>push-apps-manager-release</td><td>667.0.16</td></tr>
    <tr><td>push-usage-service-release</td><td>668.0.11</td></tr>
    <tr><td>pxc</td><td>0.14.3</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.34-lts</td></tr>
    <tr><td>routing</td><td>0.182.7</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.40-lts</td></tr>
    <tr><td>silk</td><td>2.18.2</td></tr>
    <tr><td>smb-volume</td><td>1.1.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.43-lts</td></tr>
    <tr><td>statsd-injector</td><td>1.5.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>66.3</td></tr>
  </tbody>
</table>

### <a id='2.4.10'></a> 2.4.10

* **[Security Fix]** Bump UAA to address CVE-2019-3788
* **[Security Fix]** Update CF CLI for Autoscaler
* **[Feature]** Allow users to configure max package size so that they can upload packages larger than 2GB
* **[Feature Improvement]** Add ability to configure max search depth for LDAP in UAA
* **[Bug Fix]** Fix missing "actee_name" for certain CAPI user role related audit events
* **[Bug Fix]** Cause Apps Manager errand to fail if environment variable assignment fails
* **[Bug Fix]** Ellipsify long names of service instances in the services tables of Apps Manager
* **[Bug Fix]** Fix issue in which flyouts in Apps Manager did not open in Internet Explorer
* ** [Bug Fix]** Fix failure of inviting new members via Apps Manager in some networking configurations
* **[Bug Fix]** Add optional TTL pruning for TLS routes
* **[Bug Fix]** Allow operators to omit backup bucket fields
* **[Bug Fix]** `diego_brain` instances no longer update concurrently with `diego_cell` VMs to prevent application downtime in case of deployment update failure
* **[Bug Fix]** Send Isolation Segment smoke test application requests on port 443
* Bump ubuntu-xenial stemcell to version `170.93`
* Bump capi to version `1.71.11`
* Bump cf-autoscaling to version `219`
* Bump cf-cli to version `1.16.0`
* Bump cf-smoke-tests to version `40.0.109`
* Bump cflinuxfs2 to version `1.286.0`
* Bump cflinuxfs3 to version `0.109.0`
* Bump dotnet-core-offline-buildpack to version `2.2.12-lts`
* Bump go-offline-buildpack to version `1.8.40-lts`
* Bump nodejs-offline-buildpack to version `1.6.51-lts`
* Bump php-offline-buildpack to version `4.3.77-lts`
* Bump push-apps-manager-release to version `667.0.16`
* Bump python-offline-buildpack to version `1.6.34-lts`
* Bump routing to version `0.182.7`
* Bump ruby-offline-buildpack to version `1.7.40-lts`
* Bump staticfile-offline-buildpack to version `1.4.43-lts`
* Bump uaa to version `66.2`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.93</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.12.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.32</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.16</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>capi</td><td>1.71.11</td></tr>
    <tr><td>cf-autoscaling</td><td>219</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.16.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.5</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.109</td></tr>
    <tr><td>cf-syslog-drain</td><td>8.1</td></tr>
    <tr><td>cflinuxfs2</td><td>1.286.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.109.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.1.5</td></tr>
    <tr><td>diego</td><td>2.22.8</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.12-lts</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.40-lts</td></tr>
    <tr><td>haproxy</td><td>9.3.1</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.19-lts</td></tr>
    <tr><td>log-cache</td><td>2.0.4</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.1.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>1.7.10</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.51-lts</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>57</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.77-lts</td></tr>
    <tr><td>push-apps-manager-release</td><td>667.0.16</td></tr>
    <tr><td>push-usage-service-release</td><td>668.0.11</td></tr>
    <tr><td>pxc</td><td>0.14.3</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.34-lts</td></tr>
    <tr><td>routing</td><td>0.182.7</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.40-lts</td></tr>
    <tr><td>silk</td><td>2.18.2</td></tr>
    <tr><td>smb-volume</td><td>1.1.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.43-lts</td></tr>
    <tr><td>statsd-injector</td><td>1.5.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>66.2</td></tr>
  </tbody>
</table>


### <a id='2.4.9'></a> 2.4.9

* **[Feature Improvement]** Improved performance in loading Apps Manager home page
* **[Feature Improvement]** Switch the Autoscaling toggle to a button on Apps Manager's app overview page to better indicate when the action is in progress
* **[Bug Fix]** Fix log-cache non-admin authorization for 50+ apps or service instances by paging through CAPI's response links using internal CAPI address
* **[Bug Fix]** Fix Router reconnecting to Routing API after Routing API shuts down ungracefully
* **[Bug Fix]** Fix drain script in SMB volume driver to prevent it from unmounting shares before Diego has finished evacuating the cell
* **[Bug Fix]** Fix issue with Azure Gateway was keeping connections alive longer than they were available when using HAProxy
* **[Bug Fix]** Fix issue that prevented Apps Manager's previous fix to honor the "Disable SSL certificate verification for this environment" PAS setting from taking effect
* Bump ubuntu-xenial stemcell to version `170.78`
* Bump cflinuxfs2 to version `1.285.0`
* Bump cflinuxfs3 to version `0.96.0`
* Bump haproxy to version `9.3.1`
* Bump log-cache to version `2.0.4`
* Bump push-apps-manager-release to version `667.0.15`
* Bump routing to version `0.182.6`
* Bump smb-volume to version `1.1.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.78</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.12.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.32</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.16</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>capi</td><td>1.71.10</td></tr>
    <tr><td>cf-autoscaling</td><td>218</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.13.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.5</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>cf-syslog-drain</td><td>8.1</td></tr>
    <tr><td>cflinuxfs2</td><td>1.285.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.96.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.1.5</td></tr>
    <tr><td>diego</td><td>2.22.8</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.11-lts</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.39-lts</td></tr>
    <tr><td>haproxy</td><td>9.3.1</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.19-lts</td></tr>
    <tr><td>log-cache</td><td>2.0.4</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.1.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>1.7.10</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.49-lts</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>57</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.76-lts</td></tr>
    <tr><td>push-apps-manager-release</td><td>667.0.15</td></tr>
    <tr><td>push-usage-service-release</td><td>668.0.11</td></tr>
    <tr><td>pxc</td><td>0.14.3</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.32-lts</td></tr>
    <tr><td>routing</td><td>0.182.6</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.38-lts</td></tr>
    <tr><td>silk</td><td>2.18.2</td></tr>
    <tr><td>smb-volume</td><td>1.1.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.42-lts</td></tr>
    <tr><td>statsd-injector</td><td>1.5.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>66.0</td></tr>
  </tbody>
</table>

### <a id='2.4.8'></a> 2.4.8

* **[Security Fix]** Network policy server returns `X-XSS-Protection: 1` header to prevent noise in security scans
* **[Feature Improvement]** Update default polling interval and idle connection limits for networking components to reduce resource contention on PAS database
* **[Feature Improvement]** Run CredHub with BPM
* **[Bug Fix]** Update MySQL server to version `5.7.25` to address performance issue when querying global variables which could cause platform components to lose database connectivity
* **[Bug Fix]** Apps Manager colors, header, and footer are customizable again.
* **[Bug Fix]** Fixes NFS resource leak issues
* Bump cf-networking to version `2.18.5`
* Bump cflinuxfs3 to version `0.88.0`
* Bump nfs-volume to version `1.7.10`
* Bump push-apps-manager-release to version `667.0.13`
* Bump pxc to version `0.14.3`
* Bump silk to version `2.18.2`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.51</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.12.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.32</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.16</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>capi</td><td>1.71.10</td></tr>
    <tr><td>cf-autoscaling</td><td>218</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.13.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.5</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>cf-syslog-drain</td><td>8.1</td></tr>
    <tr><td>cflinuxfs2</td><td>1.283.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.88.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.1.5</td></tr>
    <tr><td>diego</td><td>2.22.8</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.11-lts</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.39-lts</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.19-lts</td></tr>
    <tr><td>log-cache</td><td>2.0.3</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.1.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>1.7.10</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.49-lts</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>57</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.76-lts</td></tr>
    <tr><td>push-apps-manager-release</td><td>667.0.13</td></tr>
    <tr><td>push-usage-service-release</td><td>668.0.11</td></tr>
    <tr><td>pxc</td><td>0.14.3</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.32-lts</td></tr>
    <tr><td>routing</td><td>0.182.5</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.38-lts</td></tr>
    <tr><td>silk</td><td>2.18.2</td></tr>
    <tr><td>smb-volume</td><td>0.2.6</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.42-lts</td></tr>
    <tr><td>statsd-injector</td><td>1.5.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>66.0</td></tr>
  </tbody>
</table>

### <a id='2.4.7'></a> 2.4.7

* **[Breaking Change]** `go` versions `1.8` and `1.9` have been removed from `go-offline-buildpack`
* **[Feature Improvement]** `consul_server` can be scaled down to 0 instances after upgrading from PAS 2.3 or earlier`
* **[Feature Improvement]**  Allow raising of LogCache `max_per_source` to provide a longer historical duration for noisy sources.
* **[Bug Fix]** Fixes backward compatibility issue with NFS that can prevent apps from binding to service instances created in PAS 2.2 or earlier
* **[Bug Fix]** Allow persistent disk size on backup and restore to be configured
* **[Bug Fix]** Update notifications service to be compatible with Go buildpack 1.8.36
* Bump ubuntu-xenial stemcell to version `170.51`
* Bump binary-offline-buildpack to version `1.0.32`
* Bump cflinuxfs2 to version `1.283.0`
* Bump cflinuxfs3 to version `0.86.0`
* Add new release dotnet-core-offline-buildpack at version `2.2.11-lts`
* Add new release go-offline-buildpack at version `1.8.39-lts`
* Add new release java-offline-buildpack at version `4.19-lts`
* Bump log-cache to version `2.0.3`
* Bump nfs-volume to version `1.7.9`
* Add new release nodejs-offline-buildpack at version `1.6.49-lts`
* Bump notifications to version `57`
* Add new release php-offline-buildpack at version `4.3.76-lts`
* Add new release python-offline-buildpack at version `1.6.32-lts`
* Add new release ruby-offline-buildpack at version `1.7.38-lts`
* Add new release staticfile-offline-buildpack at version `1.4.42-lts`
* Removed dotnet-core-offline-buildpack-lts release
* Removed go-offline-buildpack-lts release
* Removed java-offline-buildpack-lts release
* Removed nodejs-offline-buildpack-lts release
* Removed php-offline-buildpack-lts release
* Removed python-offline-buildpack-lts release
* Removed ruby-offline-buildpack-lts release
* Removed staticfile-offline-buildpack-lts release

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.51</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.12.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.32</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.16</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>capi</td><td>1.71.10</td></tr>
    <tr><td>cf-autoscaling</td><td>218</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.13.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.3</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>cf-syslog-drain</td><td>8.1</td></tr>
    <tr><td>cflinuxfs2</td><td>1.283.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.86.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.1.5</td></tr>
    <tr><td>diego</td><td>2.22.8</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.11-lts</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.39-lts</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.19-lts</td></tr>
    <tr><td>log-cache</td><td>2.0.3</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.1.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>1.7.9</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.49-lts</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>57</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.76-lts</td></tr>
    <tr><td>push-apps-manager-release</td><td>667.0.11</td></tr>
    <tr><td>push-usage-service-release</td><td>668.0.11</td></tr>
    <tr><td>pxc</td><td>0.14.2</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.32-lts</td></tr>
    <tr><td>routing</td><td>0.182.5</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.38-lts</td></tr>
    <tr><td>silk</td><td>2.18.1</td></tr>
    <tr><td>smb-volume</td><td>0.2.6</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.42-lts</td></tr>
    <tr><td>statsd-injector</td><td>1.5.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>66.0</td></tr>
  </tbody>
</table>

### <a id='2.4.6'></a> 2.4.6

* **[Feature]** Task pruning age can be configured to allow PAS users with very high numbers of tasks to reduce load on the Cloud Controller database.
* **[Feature Improvement]** Add support for staging Docker images from repositories using schema version 2 manifests
* **[Bug Fix]** Fix issue where empty or malformed certificates would cause CredHub to fail to start.
* **[Bug Fix]** Increase the TLS certificate chain verify depth when proxying requests to CF internal services.
* **[Bug Fix]** Improve performance when loading the home page on a foundation with many organizations
* **[Bug Fix]** Remove clear input icon that was overlaid on content from search bar on IE
* **[Bug Fix]** Fix issue where footer appears at the top of the marketplace page
* Bump ubuntu-xenial stemcell to version `170.48`
* Bump bpm to version `1.0.4`
* Bump capi to version `1.71.10`
* Bump cf-autoscaling to version `218`
* Bump cflinuxfs2 to version `1.280.0`
* Bump cflinuxfs3 to version `0.80.0`
* Bump credhub to version `2.1.5`
* Bump diego to version `2.22.8`
* Bump push-apps-manager-release to version `667.0.11`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.48</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.12.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.30</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.16</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>capi</td><td>1.71.10</td></tr>
    <tr><td>cf-autoscaling</td><td>218</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.13.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.3</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>cf-syslog-drain</td><td>8.1</td></tr>
    <tr><td>cflinuxfs2</td><td>1.280.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.80.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.1.5</td></tr>
    <tr><td>diego</td><td>2.22.8</td></tr>
    <tr><td>dotnet-core-offline-buildpack-lts</td><td>2.2.7</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>go-offline-buildpack-lts</td><td>1.8.35</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>java-offline-buildpack-lts</td><td>4.18</td></tr>
    <tr><td>log-cache</td><td>2.0.1</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.1.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>1.7.8</td></tr>
    <tr><td>nodejs-offline-buildpack-lts</td><td>1.6.45</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>54</td></tr>
    <tr><td>php-offline-buildpack-lts</td><td>4.3.72</td></tr>
    <tr><td>push-apps-manager-release</td><td>667.0.11</td></tr>
    <tr><td>push-usage-service-release</td><td>668.0.11</td></tr>
    <tr><td>pxc</td><td>0.14.2</td></tr>
    <tr><td>python-offline-buildpack-lts</td><td>1.6.29</td></tr>
    <tr><td>routing</td><td>0.182.5</td></tr>
    <tr><td>ruby-offline-buildpack-lts</td><td>1.7.34</td></tr>
    <tr><td>silk</td><td>2.18.1</td></tr>
    <tr><td>smb-volume</td><td>0.2.6</td></tr>
    <tr><td>staticfile-offline-buildpack-lts</td><td>1.4.40</td></tr>
    <tr><td>statsd-injector</td><td>1.5.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>66.0</td></tr>
  </tbody>
</table>

### <a id='2.4.5'></a> 2.4.5

* **[Feature Improvement]** Improve error messages when installing buildpacks
* **[Feature Improvement]** Add support for TCP hitless reloads in haproxy to avoid connection reset errors
* **[Feature Improvement]** Auto bump the CF CLI release included with PAS for use by errands
* **[Feature Improvement]** Add ability to enable/disable gorouter hairpinning with **Bypass security checks for route service lookup**. This feature has potential security concerns, but may be needed for backwards compatibility. See [Configuring Route Service Lookup](https://docs.pivotal.io/pivotalcf/2-4/customizing/route-service-lookup.html).
* **[Security Fix]** Invitations app rejects insecure HTTP requests
* **[Bug Fix]** Specify buildpack for Apps Manager and related microservice applications to remove conflicts with custom buildpacks
* **[Bug Fix]** Fix issue in which Apps Manager would show `Invalid User` as the username for space and organization members without usernames, such as UAA clients
* **[Bug Fix]** When deleting an organization in Apps Manager, the user is now redirected to the home page instead of another organization page
* **[Bug Fix]** Fix bug where Apps Manager crash errors were not displayed
* **[Bug Fix]** Fix bug where app changes pushed with --no-start would not take effect when the app was started via Apps Manager
* **[Bug Fix]** Fix bug where starting app from Apps Manager would show success message before app actually started
* **[Bug Fix]** Fix alignment of search results in Apps Manager
* **[Bug Fix]** Fix policy pruning when there are more than 50 spaces
* **[Bug Fix]** Fix failed access checks on mount for NFS volume service with some Windows NFS servers
* **[Bug Fix]** Fix issue that can cause the Spring Boot actuator integration with Apps Manager to stop working for apps pushed using the beta rolling app deployment feature. See [Rolling App Deployments (Beta)](https://docs.pivotal.io/pivotalcf/2-4/devguide/rolling-deploy.html). 
* **[Bug Fix]** Fix issue in loggregator where AZ names with special characters could cause metron agent job to fail
* **[Bug Fix]** Fix feature: "Operator can specify headers to be stripped from the response by the router"
* **[Bug Fix]** Properly populate chained CA certificates for backend proxies when route integrity is enabled
* **[Bug Fix]** Fix diego rep to always clean up temporary download cache directory
* Bump ubuntu-xenial stemcell to version `170.45`
* Bump capi to version `1.71.9`
* Bump cf-autoscaling to version `217`
* Bump cf-cli to version `1.13.0`
* Bump cf-networking to version `2.18.3`
* Bump cflinuxfs2 to version `1.279.0`
* Bump cflinuxfs3 to version `0.76.0`
* Bump diego to version `2.22.7`
* Add new release dotnet-core-offline-buildpack-lts at version `2.2.7`
* Bump garden-runc to version `1.19.0`
* Add new release go-offline-buildpack-lts at version `1.8.35`
* Add new release java-offline-buildpack-lts at version `4.18`
* Bump nfs-volume to version `1.7.8`
* Add new release nodejs-offline-buildpack-lts at version `1.6.45`
* Add new release php-offline-buildpack-lts at version `4.3.72`
* Bump push-apps-manager-release to version `667.0.10`
* Add new release python-offline-buildpack-lts at version `1.6.29`
* Bump routing to version `0.182.5`
* Add new release ruby-offline-buildpack-lts at version `1.7.34`
* Add new release staticfile-offline-buildpack-lts at version `1.4.40`
* Removed dotnet-core-offline-buildpack release
* Removed go-offline-buildpack release
* Removed java-offline-buildpack release
* Removed nodejs-offline-buildpack release
* Removed php-offline-buildpack release
* Removed python-offline-buildpack release
* Removed ruby-offline-buildpack release
* Removed staticfile-offline-buildpack release

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.45</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.12.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.30</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.16</td></tr>
    <tr><td>bpm</td><td>1.0.3</td></tr>
    <tr><td>capi</td><td>1.71.9</td></tr>
    <tr><td>cf-autoscaling</td><td>217</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.13.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.3</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>cf-syslog-drain</td><td>8.1</td></tr>
    <tr><td>cflinuxfs2</td><td>1.279.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.76.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.1.2</td></tr>
    <tr><td>diego</td><td>2.22.7</td></tr>
    <tr><td>dotnet-core-offline-buildpack-lts</td><td>2.2.7</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>go-offline-buildpack-lts</td><td>1.8.35</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>java-offline-buildpack-lts</td><td>4.18</td></tr>
    <tr><td>log-cache</td><td>2.0.1</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.1.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>1.7.8</td></tr>
    <tr><td>nodejs-offline-buildpack-lts</td><td>1.6.45</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>54</td></tr>
    <tr><td>php-offline-buildpack-lts</td><td>4.3.72</td></tr>
    <tr><td>push-apps-manager-release</td><td>667.0.10</td></tr>
    <tr><td>push-usage-service-release</td><td>668.0.11</td></tr>
    <tr><td>pxc</td><td>0.14.2</td></tr>
    <tr><td>python-offline-buildpack-lts</td><td>1.6.29</td></tr>
    <tr><td>routing</td><td>0.182.5</td></tr>
    <tr><td>ruby-offline-buildpack-lts</td><td>1.7.34</td></tr>
    <tr><td>silk</td><td>2.18.1</td></tr>
    <tr><td>smb-volume</td><td>0.2.6</td></tr>
    <tr><td>staticfile-offline-buildpack-lts</td><td>1.4.40</td></tr>
    <tr><td>statsd-injector</td><td>1.5.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>66.0</td></tr>
  </tbody>
</table>

### <a id='2.4.4'></a> 2.4.4

* **[Security Fix]** Bump BPM to v1.0.3 for RunC CVE
* **[Feature]** Operator can specify headers to be stripped from the response by the router
* **[Feature Improvement]** Operators can configure API Batch Size for the CF Syslog Drain Release
* **[Feature Improvement]** Increase performance for internal MySQL by setting the setting for innodb_flush_log_at_trx_commit from 1 to 2.  This increases performance safely for clustered deployments.  Single node might need to scale up to avoid the possibility of 1 second of data loss during deploys.
* **[Bug Fix]** Fix MySQL proxy connection limitation caused by incompatibility between Xenial stemcells and the call to set the open file descriptor in the component's control script
* **[Bug Fix]** Fix issue in loggregator where AZ names with special characters could cause metron agent job to fail
* **[Bug Fix]** Fixes access issue for NFS shares with `root_squash` enabled and no world read permissions.
* **[Bug Fix]** Fix potential `routing-api` failure to start due to DNS query issue in golang 1.11
* Bump ubuntu-xenial stemcell to version `170.30`
* Bump bpm to version `1.0.3`
* Bump cf-syslog-drain to version `8.1`
* Bump cflinuxfs2 to version `1.267.0`
* Bump cflinuxfs3 to version `0.62.0`
* Bump loggregator-agent to version `2.3`
* Bump loggregator to version `103.4`
* Bump mapfs to version `1.1.4`
* Bump pxc to version `0.14.2`
* Bump routing to version `0.182.3`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.30</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.12.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.30</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.16</td></tr>
    <tr><td>bpm</td><td>1.0.3</td></tr>
    <tr><td>capi</td><td>1.71.4</td></tr>
    <tr><td>cf-autoscaling</td><td>216</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.9.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.2</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>cf-syslog-drain</td><td>8.1</td></tr>
    <tr><td>cflinuxfs2</td><td>1.267.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.62.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.1.2</td></tr>
    <tr><td>diego</td><td>2.22.1</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.5</td></tr>
    <tr><td>garden-runc</td><td>1.18.0</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.33</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.16.1</td></tr>
    <tr><td>log-cache</td><td>2.0.1</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.1.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>1.7.7</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.43</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>54</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.70</td></tr>
    <tr><td>push-apps-manager-release</td><td>667.0.6</td></tr>
    <tr><td>push-usage-service-release</td><td>668.0.11</td></tr>
    <tr><td>pxc</td><td>0.14.2</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.28</td></tr>
    <tr><td>routing</td><td>0.182.3</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.31</td></tr>
    <tr><td>silk</td><td>2.18.1</td></tr>
    <tr><td>smb-volume</td><td>0.2.6</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.39</td></tr>
    <tr><td>statsd-injector</td><td>1.5.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>66.0</td></tr>
  </tbody>
</table>

### <a id='2.4.3'></a> 2.4.3

* **[Security Fix]** Apps Manager verifies SSL certificates for endpoints to which it proxies. For environments using untrusted certificates, this may cause Apps Manager to show no content. To resolve this issue, see [Apps Manager shows no content due to SSL validation issue](https://community.pivotal.io/s/article/ssl-validation-issue-apps-manager-shows-no-content).
* **[Feature]** Include garden debug tooling alongside garden
* **[Feature Improvement]** Add support for "windows" stack
* **[Bug Fix]** Fix accumulating TCP Router HAProxy <defunct> instances
* **[Bug Fix]** Show recent apps breadcrumbs in correct order in Apps Manager
* **[Bug Fix]** Add scrollbar to search results in smaller windows in Apps Manager
* **[Bug Fix]** Fix concurrency bug in the Router's route pool, which could manifest as a fatal error: "Unlock of unlocked RWMutex"
* **[Bug Fix]** Fix bug in Apps Manager where space page, services tab shows a 500 error if the last operation of a service is null
* **[Bug Fix]** Make header tabs focusable and clickable via keyboard navigation in Apps Manager
* **[Bug Fix]** Fix usage service migrations when running on MySQL 5.7 configured with `NO_ZERO_IN_DATE, NO_ZERO_DATE`
* **[Bug Fix]** Fix `allowNativePassword` error when using external IaaS MySql as a system database
* **[Bug Fix]** Show `(Deleted User)` in Apps Manager rather than empty row for Cloud Controller users that do not exist in UAA
* **[Bug Fix]** Keep focus from jumping to search bar when `/` is typed into input fields in Apps Manager
* **[Bug Fix]** Fix failure to bind service to app with custom parameters in Apps Manager
* Bump ubuntu-xenial stemcell to version `170.25`
* Bump binary-offline-buildpack to version `1.0.30`
* Bump cflinuxfs2 to version `1.260.0`
* Bump cflinuxfs3 to version `0.51.0`
* Bump dotnet-core-offline-buildpack to version `2.2.5`
* Bump garden-runc to version `1.18.0`
* Bump go-offline-buildpack to version `1.8.33`
* Bump nfs-volume to version `1.7.7`
* Bump nodejs-offline-buildpack to version `1.6.43`
* Bump php-offline-buildpack to version `4.3.70`
* Bump push-apps-manager-release to version `667.0.6`
* Bump push-usage-service-release to version `668.0.11`
* Bump python-offline-buildpack to version `1.6.28`
* Bump routing to version `0.182.2`
* Bump ruby-offline-buildpack to version `1.7.31`
* Bump staticfile-offline-buildpack to version `1.4.39`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.25</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.12.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.30</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.16</td></tr>
    <tr><td>bpm</td><td>0.13.0</td></tr>
    <tr><td>capi</td><td>1.71.4</td></tr>
    <tr><td>cf-autoscaling</td><td>216</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.9.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.2</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>cf-syslog-drain</td><td>8.0</td></tr>
    <tr><td>cflinuxfs2</td><td>1.260.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.51.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.1.2</td></tr>
    <tr><td>diego</td><td>2.22.1</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.5</td></tr>
    <tr><td>garden-runc</td><td>1.18.0</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.33</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.16.1</td></tr>
    <tr><td>log-cache</td><td>2.0.1</td></tr>
    <tr><td>loggregator-agent</td><td>2.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.1.2</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.1.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>1.7.7</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.43</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>54</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.70</td></tr>
    <tr><td>push-apps-manager-release</td><td>667.0.6</td></tr>
    <tr><td>push-usage-service-release</td><td>668.0.11</td></tr>
    <tr><td>pxc</td><td>0.14.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.28</td></tr>
    <tr><td>routing</td><td>0.182.2</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.31</td></tr>
    <tr><td>silk</td><td>2.18.1</td></tr>
    <tr><td>smb-volume</td><td>0.2.6</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.39</td></tr>
    <tr><td>statsd-injector</td><td>1.5.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>66.0</td></tr>
  </tbody>
</table>

### <a id='2.4.2'></a> 2.4.2

* **[Feature Improvement]** Add support for "windows" stack
* **[Feature Improvement]** Remove `Enable log-cache` checkbox
* **[Feature Improvement]** Remove inactive DNS server configuration from UI that only applied to older deployments without BOSH DNS
* **[Feature Improvement]** Increase the maximum number of connections for internal MySQL to 3500
* **[Feature Improvement]** Change default lifetime of Apps Manager client UAA token to 1 hour
* **[Bug Fix]** Fix an issue in nfsbroker causing new nfs service bindings to use the nfs-legacy mounter, potentially causing slower performance and failures when the file server only supports nfs v4.
* **[Bug Fix]** Volume service broker deployment errands use unique CF_HOME directories to avoid login conflicts
* **[Bug Fix]** Bump NFS release to avoid possible golang 1.11.0 DNS resolution bugs
* **[Bug Fix]** Fix BBR failures when backing up large blobs to unversioned S3 blobstores
* Bump ubuntu-xenial stemcell to version `170.15`
* Bump backup-and-restore-sdk to version `1.12.0`
* Bump binary-offline-buildpack to version `1.0.28`
* Bump cflinuxfs2 to version `1.259.0`
* Bump cflinuxfs3 to version `0.50.0`
* Bump diego to version `2.22.1`
* Bump dotnet-core-offline-buildpack to version `2.2.3`
* Bump go-offline-buildpack to version `1.8.30`
* Bump nfs-volume to version `1.7.6`
* Bump nodejs-offline-buildpack to version `1.6.38`
* Bump php-offline-buildpack to version `4.3.67`
* Bump python-offline-buildpack to version `1.6.25`
* Bump ruby-offline-buildpack to version `1.7.29`
* Bump smb-volume to version `0.2.6`
* Bump staticfile-offline-buildpack to version `1.4.37`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.15</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.12.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.28</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.16</td></tr>
    <tr><td>bpm</td><td>0.13.0</td></tr>
    <tr><td>capi</td><td>1.71.4</td></tr>
    <tr><td>cf-autoscaling</td><td>216</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.9.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.2</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>cf-syslog-drain</td><td>8.0</td></tr>
    <tr><td>cflinuxfs2</td><td>1.259.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.50.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.1.2</td></tr>
    <tr><td>diego</td><td>2.22.1</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.3</td></tr>
    <tr><td>garden-runc</td><td>1.16.7</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.30</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.16.1</td></tr>
    <tr><td>log-cache</td><td>2.0.1</td></tr>
    <tr><td>loggregator-agent</td><td>2.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.1.2</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.1.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>1.7.6</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.38</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>54</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.67</td></tr>
    <tr><td>push-apps-manager-release</td><td>667.0.3</td></tr>
    <tr><td>push-usage-service-release</td><td>668.0.10</td></tr>
    <tr><td>pxc</td><td>0.14.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.25</td></tr>
    <tr><td>routing</td><td>0.182.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.29</td></tr>
    <tr><td>silk</td><td>2.18.1</td></tr>
    <tr><td>smb-volume</td><td>0.2.6</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.37</td></tr>
    <tr><td>statsd-injector</td><td>1.5.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>66.0</td></tr>
  </tbody>
</table>

### <a id='2.4.1'></a> 2.4.1

* **[Feature Improvement]** Improved logging and error handling for Diego Sync job
* **[Feature Improvement]** Add note to description for "cf deployment name" option in PAS Config to ensure Healthwatch is correctly configured
* **[Bug Fix]** Fix memory allocated to be multiplied by number of instances for each process on space page app tab
* **[Bug Fix]** Update MySQL driver so `allowNativePasswords` no longer defaults to `false` to fix incompatibility with Autoscaler and some hosted MySQL services
* **[Bug Fix]** VXLAN-policy-agent now opens ports in non-ephemeral port range
* **[Bug Fix]** Fix help text for TCP router ports because comma separated lists of ports are not supported
* **[Bug Fix]** Fix some docs links to correct product versions
* **[Bug Fix]** Ensure logs and metrics are forwarded by adding syslog_forwarder and loggregator_agent to VMs missing them
* Bump ubuntu-xenial stemcell to version `170.14`
* Bump cf-autoscaling to version `216`
* Bump cflinuxfs2 to version `1.255.0`
* Bump cflinuxfs3 to version `0.46.0`
* Bump push-apps-manager-release to version `667.0.3`
* Bump silk to version `2.18.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.14</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.10.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.27</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.16</td></tr>
    <tr><td>bpm</td><td>0.13.0</td></tr>
    <tr><td>capi</td><td>1.71.4</td></tr>
    <tr><td>cf-autoscaling</td><td>216</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.9.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.2</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>cf-syslog-drain</td><td>8.0</td></tr>
    <tr><td>cflinuxfs2</td><td>1.255.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.46.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.1.2</td></tr>
    <tr><td>diego</td><td>2.22.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.7</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.29</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.16.1</td></tr>
    <tr><td>log-cache</td><td>2.0.1</td></tr>
    <tr><td>loggregator-agent</td><td>2.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.1.2</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.1.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>1.7.4</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.34</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>54</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.64</td></tr>
    <tr><td>push-apps-manager-release</td><td>667.0.3</td></tr>
    <tr><td>push-usage-service-release</td><td>668.0.10</td></tr>
    <tr><td>pxc</td><td>0.14.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.23</td></tr>
    <tr><td>routing</td><td>0.182.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.27</td></tr>
    <tr><td>silk</td><td>2.18.1</td></tr>
    <tr><td>smb-volume</td><td>0.2.2</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.35</td></tr>
    <tr><td>statsd-injector</td><td>1.5.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>66.0</td></tr>
  </tbody>
</table>

### <a id='2.4.0'></a> 2.4.0

See also:

- [Breaking Changes](https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/breaking-changes.html)
- [New Features](#new-features)

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.9</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.10.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.27</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.16</td></tr>
    <tr><td>bpm</td><td>0.13.0</td></tr>
    <tr><td>capi</td><td>1.72.2</td></tr>
    <tr><td>cf-autoscaling</td><td>215</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.9.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.2</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>cf-syslog-drain</td><td>8.0</td></tr>
    <tr><td>cflinuxfs2</td><td>1.253.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.44.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.1.2</td></tr>
    <tr><td>diego</td><td>2.22.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.7</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.29</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.16.1</td></tr>
    <tr><td>log-cache</td><td>2.0.1</td></tr>
    <tr><td>loggregator-agent</td><td>2.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.1.2</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.1.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>1.7.4</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.34</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>54</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.64</td></tr>
    <tr><td>push-apps-manager-release</td><td>667.0.2</td></tr>
    <tr><td>push-usage-service-release</td><td>668.0.10</td></tr>
    <tr><td>pxc</td><td>0.14.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.23</td></tr>
    <tr><td>routing</td><td>0.182.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.27</td></tr>
    <tr><td>silk</td><td>2.17.0</td></tr>
    <tr><td>smb-volume</td><td>0.2.2</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.35</td></tr>
    <tr><td>statsd-injector</td><td>1.5.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>66.0</td></tr>
  </tbody>
</table>


## <a id='upgrade'></a> How to Upgrade

The procedure for upgrading to Pivotal Application Service (PAS) v2.4 is documented in the [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/2-4/customizing/upgrading-pcf.html) topic.

When upgrading to PAS v2.4, be aware of the following upgrade considerations:

* If you previously used an earlier version of PAS, you must first upgrade to PAS v2.3 to successfully upgrade to PAS v2.4.

* You must enable route integity before upgrading to PAS v2.4. To enable route integrity, go to **Application Containers** in PAS and select **Router uses TLS to verify application identity**. This option does use approximately 32MB more memory per app.

* If you are running internal MySQL databases on MariaDB, you must migrate them to Percona server before upgrading to PAS v2.4. For more information, see [Migrating to Internal Percona MySQL](https://docs.pivotal.io/pivotalcf/2-3/opsguide/migrate-percona-mysql.html).

* Some partner service tiles may be incompatible with PCF v2.4. Pivotal is working with partners to ensure their tiles are updated to work with the latest versions of PCF.<br/><br/> For information about which partner service releases are currently compatible with PCF v2.4, review the appropriate partners services release documentation at [https://docs.pivotal.io](https://docs.pivotal.io), or contact the partner organization that produces the tile.


## <a id='new-features'></a> New Features in PAS v2.4

### <a id="credhub-ga"></a> Runtime CredHub is GA and Enabled by Default

Runtime CredHub is enabled by default in the PAS tile. For more information about where your credentials are stored, see [Runtime CredHub](http://docs.pivotal.io/pivotalcf/credhub/index.html#runtime).

CredHub is generally available and includes bug fixes, security updates, and improvements to the `find` command in the CredHub CLI.

You can scale the number of CredHub instances in the **Resource Config** pane. In PAS v2.4, the number of CredHub instances defaults to `2`.

For upgrades to v2.4, PAS populates the CredHub row in the **Resource Config** pane with the value set in your previous version of the tile.

### <a id="credhub-db"></a>CredHub Can Use the Same External Database as Other PAS Components

In the PAS v2.4 tile, you can configure runtime CredHub to use the same external database
as other PAS components. If you select **External Databases - (e.g. AWS RDS)** on
the **Databases** pane of the PAS tile, select **PAS database** on the **CredHub**
pane for CredHub to use the same external database.

To use a separate external database for runtime CredHub, select **Other external database**
on the **CredHub** pane of the PAS tile. If you use GCP, you cannot use an external
database for CredHub. For more information, see [CredHub Database Cannot Be External
on GCP](#external-credhub) below.

For more information, see the PAS topic that corresponds to your IaaS:

* [Deploying PAS on AWS](http://docs.pivotal.io/pivotalcf/customizing/pcf-aws-manual-er-config.html#credhub)
* [Deploying PAS on AWS Using Terraform](http://docs.pivotal.io/pivotalcf/customizing/aws-er-config-terraform.html#credhub)
* [Deploying PAS on Azure](http://docs.pivotal.io/pivotalcf/customizing/azure-er-config.html#credhub)
* [Deploying PAS on Azure Using Terraform](http://docs.pivotal.io/pivotalcf/customizing/azure-er-config-terraform.html#credhub)
* [Deploying PAS on GCP](http://docs.pivotal.io/pivotalcf/customizing/gcp-er-config.html#credhub)
* [Deploying PAS on GCP Using Terraform](http://docs.pivotal.io/pivotalcf/customizing/gcp-er-config-terraform.html#credhub)
* [Deploying PAS on OpenStack](http://docs.pivotal.io/pivotalcf/customizing/openstack-er-config.html#credhub)
* [Deploying PAS on vSphere](http://docs.pivotal.io/pivotalcf/customizing/config-er-vmware.html#credhub)

### <a id="cflinuxfs3"></a> PAS Uses cflinuxfs3 by Default

PAS v2.4 uses the `cflinuxfs3` stack and related buildpacks by default on new installs. Buildpacks have the same name but use a different stack.

You can switch between `cflinuxfs2` and `cflinuxfs3` using the cf CLI (Cloud Foundry Command Line Interface). For more information, see [Changing Stacks](https://docs.pivotal.io/pivotalcf/2-4/devguide/deploy-apps/stacks.html).

You can also set your default stack in the **Cloud Controller** pane of the PAS tile. For more information, see [Cloud Controller](https://docs.pivotal.io/pivotalcf/2-4/customizing/pas-config.html#config-cc).

The `cflinuxfs3` stack was introduced in PAS v2.3. For more information, see [cflinuxfs3 Stack and Compatible Buildpacks](https://docs.pivotal.io/pivotalcf/2-3/pcf-release-notes/runtime-rn.html#cflinuxfs3) in the PAS v2.3 release notes.

### <a id="consul-server-removed"></a> Consul Server VMs Are Removed from PAS

Consul Server VMs are now removed from PAS, saving VM resources and reducing maintenance around managing a clustered component. Consul functionality in older PCF versions has been replaced by [BOSH DNS](https://bosh.io/docs/dns/#dns-release).

### <a id="tls-to-db"></a> Components Communicate to Database Using TLS

Platform components such as CAPI, Diego, and CredHub use TLS to communicate with the database. This happens automatically when using the internal database. For external databases such as RDS, you can provide the CA certificate in the **Databases** pane of the PAS tile.

### <a id='percona'></a> Internal MySQL Databases Run Only on Percona

In PAS v2.2 and v2.3, internal MySQL databases could run on either MariaDB or Percona servers. PAS v2.4 no longer uses MariaDB, so you must migrate internal MariaDB databases to Percona and redeploy PAS v2.3 before upgrading to PAS v2.4.

To migrate your databases to Percona, see [Migrating to Internal Percona MySQL](https://docs.pivotal.io/pivotalcf/2-4/opsguide/migrate-percona-mysql.html).

### <a id="nfs-experimental-graduation"></a> NFS-Experimental Service Graduation

The existing `nfs-experimental` service is promoted from "experimental" to "production". The original fuse-based `nfs` service and existing `nfs` service bindings are now called `nfs-legacy`.

To switch over to the new `nfs` service, you must re-create and re-bind your existing service bindings to the `nfs` service.

### <a id="app-identity"></a> Gorouter Always Verifies App Identity

<p class="breaking note"><strong>Breaking Change:</strong> Your upgrade may fail if you do not take action. Additionally, this feature has operational impact and can affect other features. For more information, see the corresponding item in the <a href="./breaking-changes.html#app-identity">Breaking Changes</a> topic.</p>

In PAS v2.4, the Gorouter always uses TLS to verify app identity. Verifying app identity improves resiliency and consistency for app routes, as well as increases security by encrypting data in flight from the Gorouter. Before you upgrade to v2.4, you must have secure routing with TLS enabled. 

For more information, see [Configure Gorouter with TLS](https://docs.pivotal.io/pivotalcf/2-4/upgrading/checklist.html#pas) in _Upgrade Preparation Checklist for PCF v2.4_.

### <a id="metrics-prefix"></a> Uniquely Identify Metrics by Tile

As the value for `deployment`, metrics use `cf-GUID`, which corresponds to the BOSH deployment name of your PAS tile. With a GUID, you can uniquely identify your metrics by tile. In PAS v2.3 and earlier, metrics have a `deployment` value of `cf`.

This feature is enabled by default in new deployments of PAS v2.4, but disabled by default for PAS deployments upgrading to PAS v2.4.

<p class="breaking note"><strong>Breaking Change:</strong> If you have scripts that rely on <code>cf</code> as the value for <code>deployment</code>, your scripts may break. For more information, see <a href="./breaking-changes.html#metrics-prefix">Changed Deployment Value for PAS Metrics</a>.</p>

### <a id="human-friendly-metric-tags"></a> See Human-Friendly Metadata for Metrics

PAS tags metrics with additional metadata to help operators better parse the metrics coming from their different deployments. These metadata tags also enable downstream monitoring products, such as PCF Healthwatch, to easily display human-readable names.

The tags are as follows:

* `product`: The value of this tag is always `Pivotal Application Service` for the PAS tile. The tags for other products are `PCF Isolation Segment`, `PCF Small Footprint`, `Pivotal Application Service for Windows 2012R2`, and `Pivotal Application Service for Windows`.

* `system_domain`: The value of this tag corresponds to what you set in the **System Domain** field in the **Domains** tab of the PAS tile.

* `placement_tag`: The value of this tag is always `null` for PAS. However, for PAS for Windows and PCF Isolation Segment tiles, you can configure this value using the **Segment Name** field in the **Application Containers** pane.

Previously, you could not easily know the deployment that a metric from an Isolation Segment was emitted from. Now, an operator can display capacity and other relevant metrics using the `placement_tag` name. This makes it easier to reason the importance of a given segment when issues arise.

These tags are properties of the [metron](https://docs.pivotal.io/pivotalcf/2-4/loggregator/architecture.html#metron) agent running on each VM in a deployment.

### <a id="global-search"></a> Global Search in Apps Manager

Apps Manager has a global searchbar on every Apps Manager page. With the global searchbar, you can search for an org name, space name, service instance name, and app name without leaving the page.

Search results populate with each keypress and display below the searchbar. When the global searchbar is selected but empty, recently-accessed apps, services, spaces, and orgs display below the searchbar.

This feature does not have an equivalent in the cf CLI.

### <a id="apps-man-ui"></a> Navigation Updates in Apps Manager

To improve navigation, Apps Manager v2.4 includes the following UI changes:

- New home page shows the following:
   - Up to ten of the most-recently accessed apps with status, name, org and space, instances, and time since last push
   - All orgs in your PCF deployment
- Simplified sidebar navigation with **Home** and **Marketplace** only
- Breadcrumbs help you navigate to previous screens

### <a id="restage-apps"></a> Restage Apps in Apps Manager

Apps Manager includes a restage button. The button is in addition to the stop and start buttons on the app management page. Restaging your app stops your app and restages it by compiling a new droplet and starting it.

Restage your app if you changed the environment in a way that affects your staging process. For example, you might set an environment variable that the buildpack consumes.

For more information about the restage button in the Apps Manager UI, see [Start, Stop, or Restage an App](https://docs.pivotal.io/pivotalcf/2-4/console/manage-apps.html#start-stop).

### <a id="share-service-instance"></a> Share Service Instances in Apps Manager

When service instance sharing is [enabled](https://docs.pivotal.io/pivotalcf//devguide/services/sharing-instances.html#enabling) by an operator, space developers can share a service instance from its **Overview** tab in Apps Manager, making it available for use in multiple spaces that they have access to.

For more information, see [Service Instance Sharing](http://docs.pivotal.io/pivotalcf/2-4/console/manage-apps.html#shared-instances).

### <a id="log-api"></a> Loggregator v2 API Is Readable through RLP Gateway

As a nozzle developer, you can access the Loggregator v2 API through a Reverse Log Proxy (RLP) gateway. The RLP gateway provides an HTTP API to access the RLP. With the RLP gateway, you do not need to manage mutual TLS to access the Loggregator v2 API.

By default, the  RLP communicates with clients using gRPC over mutual TLS. To enable HTTP access instead, use the RLP Gateway. For more information about the RLP Gateway, see [Reverse Log Proxy (RLP) Gateway](https://github.com/cloudfoundry/loggregator/blob/master/docs/rlp_gateway.md) in the Loggregator GitHub repository.

For more information about the Loggregator API, see [loggregator-api](https://github.com/cloudfoundry/loggregator-api) in GitHub.

### <a id="metric-registrar"></a> Emit Custom App Metrics to the Metric Registrar

PAS v2.4 includes a new component: the Metric Registrar. The Metric Registrar allows app developers to export custom app metrics and events in a format that Loggregator can consume. App developers can then use the custom metrics to monitor apps with PCF Metrics and configure autoscaling rules with PCF Autoscaler.

For more information, see the following topics:

* [Configuring the Metric Registrar](http://docs.pivotal.io/pivotalcf/2-4/metric-registrar/index.html)
* [Registering Custom App Metrics](http://docs.pivotal.io/pivotalcf/2-4/metric-registrar/using.html)

### <a id="dynamic-egress"></a> Create Dynamic Egress Policies (Beta)

PAS v2.4 includes a beta feature that allows you to create dynamic egress policies so your apps can communicate with external services. These policies are similar to Application Security Groups (ASGs) but include the following advantages:

* You do not have to restart your apps when applying these policies, so there is no downtime.
* The policies include an additional level of granularity: you can apply them to specific apps.

For more information, see [Administering Dynamic Egress Policies (Beta)](https://docs.pivotal.io/pivotalcf/2-4/devguide/egress-policies.html).

### <a id="smb"></a> SMB Volume Services

PAS v2.4 supports SMB volume services, allowing developers to bind existing SMB shares to their apps. The SMB protocol has native password authentication, which means you can control access to file shares without the overhead of configuring an LDAP server.

This feature is disabled by default. To enable this feature, see [Enable SMB Volume Services](https://docs.pivotal.io/pivotalcf/2-4/opsguide/enable-vol-services.html#smb-enable).

For information about how to bind a volume service to an app, see [Using an External File System (Volume Services)](https://docs.pivotal.io/pivotalcf/2-4/devguide/services/using-vol-services.html).

<p class="note"><strong>Note</strong>: The SMB volume service is available for Linux cells only. This service is not available for Windows cells.</p>

### <a id='enable-int-tls'></a> TLS for Internal System Database (Beta)

PAS v2.4 supports enabling TLS for clients of the internal system database. This feature is in beta and disabled by default. To enable this feature, see the _Advanced Features_ section of the [PAS deployment topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-4/customizing/pas.html).

### <a id='enable-ext-tls'></a> TLS for External Databases

You can configure PAS v2.4 to use TLS for all components' connections to an external MySQL database by providing a Certificate Authority (CA) certificate. For more information, see the _External Database Configuration_ section of the [PAS configuration topic for your IaaS](https://docs.pivotal.io/pivotalcf/2-4/customizing/pas.html).

### <a id="rolling-app-deployments"></a> Rolling App Deployments (Beta)

PAS v2.4 includes support for native rolling app deployments using experimental cf CLI commands. For more information about using this feature, see the [Rolling App Deployments (Beta)](https://docs.pivotal.io/pivotalcf/2-4/devguide/deploy-apps/rolling-deploy.html) topic.

This feature is enabled by default. You can optionally disable it in the **Advanced Features** pane.

### <a id="cf-ssh-mtls"></a> Support for cf ssh with Mutual TLS App Identity Verification

Developers can `cf ssh` into apps when mutual TLS (mTLS) is enabled for app identity verification.

Operators enable mTLS by selecting the **Router and applications use mutual TLS to verify each others identity** option in the Application Containers pane of PAS.

This removes the `cf ssh` known issue described in the [Limitations with Mutual TLS App Identity Verification](https://docs.pivotal.io/pivotalcf/2-3/pcf-release-notes/runtime-rn.html#mutual-tls-id-limitations) section of the _PAS v2.3 Release Notes_.

### <a id="haproxy-zero"></a> HAProxy Defaults to Zero Instances

PAS v2.4 does not deploy the optional HAProxy component by default. Previous versions of PAS deployed three instances of HAProxy by default.

<p class="breaking note"><strong>Breaking Change:</strong> This is a breaking change if you are using HAProxy with the <strong>Automatic</strong> setting for your instance count. On upgrading to PAS v2.4, you will have zero HAProxy instances unless you specify an instance count other than the <strong>Automatic</strong> setting. For example, if you have the instance count set to <strong>Automatic: 3</strong>, modify the instance count to <strong>3</strong> in the <strong>Resource Config</strong> pane before you upgrade.</p>

<p class="note"><strong>Note</strong>: PAS still deploys one HAProxy instance for vSphere environments by default.</p>

### <a id="improved-garbage-collection"></a> Improved Garbage Collection

Operators configure container filesystem garbage collection based on the disk usage of other jobs rather than a garbage collection threshold.

PAS v2.4 replaces the **Clean up disk-space once threshold is reached** option with **Clean up disk-space once usage fills disk** in the **Application Containers** pane.

For information about configuring garbage collection values, see [Configuring Cell Disk Cleanup Scheduling](http://docs.pivotal.io/pivotalcf/2-4/opsguide/config-cell-cleanup.html).

### <a id="bpm"></a> All Components Use BOSH Process Manager

Starting in v2.3, some PAS components used BOSH Process Manager (BPM). In v2.4, all components use BPM. For more information, see [BOSH Process Manager](https://docs.pivotal.io/pivotalcf/2-3/pcf-release-notes/runtime-rn.html#bpm) in the _Pivotal Application Service v2.3 Release Notes_.

### <a id="usage-service-audit"></a>Access Usage Service API with OAuth

Users in the `usage_service.audit` group can access the Usage Service API with their CF OAuth token. Previously, only users of the `cloud_controller.admin` group could access the Usage Service API with CF OAuth.

This update allows `usage_service.audit` users to quickly generate reports on historical system- and org-level usage for apps, tasks, and service instances. For more information about accessing the Usage Service API to view app, task, and service instance usage, see [Reporting App, Task, and Service Instance Usage](https://docs.pivotal.io/pivotalcf/2-4/opsguide/accounting-report.html).


## <a id='known-issues'></a> Known Issues

### <a id='http-headers'></a> HTTP Response Headers Field Not Functional

The **Remove Specified HTTP Response Headers** field added in PAS v2.4.4 is not functional. If you modify this field, the router does not remove the headers as expected. This is due to a bug that prevents the configuration from being applied to the underlying job. 

### <a id="cipher-downtime"></a> Removal of Default Ciphers Causes Downtime when Upgrading from PAS v2.2 to v2.3 and from v2.3 to v2.4

This section describes how removing default ciphers can cause downtime and how to avoid or resolve this issue.

In PAS v2.3, communication between Gorouter and CAPI is encrypted using TLS. CAPI uses hardcoded cipher suites for this communication and Gorouter uses cipher suites configured by the operator in the **TLS Cipher Suites for Router** field in the PAS **Networking** pane. By default, this field contains the cipher suites required for communication with CAPI.

If you modify the default cipher suites supported by Gorouter using the **TLS Cipher Suites for Router** field and do not include either of the cipher suites supported by both Gorouter and CAPI, the TLS handshake between Gorouter and CAPI fails. This causes control plane downtime, during which users cannot do things such as push apps and create routes.

To resolve this issue, ensure one of the recommended cipher suites is always in the **TLS Cipher Suites for Router** field:

* `ECDHE-RSA-AES128-GCM-SHA256` or
* `ECDHE-RSA-AES256-GCM-SHA384`

### <a id="external-credhub"></a> CredHub Database Cannot Be External on GCP

If your PAS deployment is on GCP and you want to use Runtime CredHub, you must select **PAS database** for your CredHub database and **Internal** for your system database. If you are using external system databases, you cannot use CredHub.

CredHub is not compatible with the external database option on GCP. GCP Cloud SQL presents its certificate in a way that CredHub cannot connect to.

### <a id='tcp-port-config'></a> Configuring Multiple TCP Routing Ports

This section describes an issue and workaround related to configuring multiple TCP Routing Ports in the PAS tile UI.

#### Issue

You cannot enter a comma-separated list of ports in the **TCP Routing Ports** field of the PAS tile. If you enter a comma-separated list, the Routing API does not start. The **TCP Routing Ports** field allows entries in the following formats:

* A single value, such as `1234`
* A range of values, such as `1234-5678`

#### Workaround

If you want to configure multiple ports, do the following:

<p class="note"><strong>Note:</strong> This procedure causes brief downtime for TCP apps listening on ports that you open after deploying PAS.</p>

1. Configure PAS with **Enable TCP Routing** selected.

1. Enter one port you want to use in the **TCP Routing Ports** field.

1. Deploy PAS.

1. Use the Routing API to add all desired TCP ports by following the instructions in the [Modify your TCP ports](https://docs.pivotal.io/pivotalcf/1-12/adminguide/enabling-tcp-routing.html#modify-ports) section of the _Enabling TCP Routing_ topic. When using the Routing API, you can include a comma separated list of ports.

### <a id="loggregator-scaling"></a> Loggregator Component Horizontal Scaling Thresholds

Above approximately 40 Doppler instances and 20 Traffic Controller instances, horizontal scaling is no longer useful for improving Loggregator Firehose performance. To improve performance, increase CPU resources for the existing Doppler and Traffic Controller instances to add vertical scale.

### <a id="appsman-ssl-validation"></a> Apps Manager SSL Validation Cannot Be Disabled in PAS v2.4.3 through v2.4.8

In PAS v2.4.3 through v2.4.8, Apps Manager ignores the **Disable SSL certificate verification for this environment** PAS tile setting. For environments using SSL certificates signed by an untrusted certificate authority (CA), this may cause Apps Manager to show no content.

To resolve this issue, see [Apps Manager shows no content due to SSL validation issue](https://community.pivotal.io/s/article/ssl-validation-issue-apps-manager-shows-no-content) in the Pivotal Knowledge Base.

### <a id='appsman-cert-chain-length'></a> Apps Manager Only Allows One Intermediate Certificate Authority in PAS v2.4.3 through v2.4.5

In PAS v2.4.3, v2.4.4, and v2.4.5, Apps Manager does not accept SSL certificates that have a signing chain with more than one intermediate certificate authority between the SSL certificate and the root certificate authority. This includes certificates from backend services such as the Cloud Controller API. 

If there is more than one intermediate certificate authority, not counting the root certificate authority, the following happens:

* Apps Manager does not show content. 
* The logs for Apps Manager include the text `certificate chain too long`.

If you must use an SSL certificate chain with more than one intermediate certificate authority in your environment, contact Pivotal Support to discuss options for working around this issue.

### <a id="cert-rotation-with-mutual-tls-route-integrity"></a> Certificate Authority Rotation is Not Working in Some PAS Configurations

Do not attempt to rotate certificate authorities (CAs) if you use mutual TLS for route integrity. To verify whether or not you are using mutual TLS, do the following:

1. Log in to Ops Manager.
1. Select the PAS tile.
1. Select the **Application Settings** tab.
1. View the settings in **Router application identity verification**. 

If **Router application identity verification** is set to `Router and applications use mutual TLS to verify each other's identity`, then you cannot rotate CAs. If you try to rotate CAs, the router will not be able to reach applications.
  
### <a id=cc-error></a> Cloud Controller Error Causes PCF Upgrade to Fail

Withbuildpacksnow havingstack associations, additional validation must be added while upgrading to PAS v2.2 and later. This can generate a new `StacklessAndStackfulMatchingBuildpacksError` error in thepost-startscripts.

For more information and instructions for fixing this error, see [Pivotal Cloud Foundry upgrade fails with a StacklessAndStackfulMatchingBuildpacksExistError Cloud Controller Error](https://community.pivotal.io/s/article/pcf-upgrade-fails-with-stacklessandstackfulmatchingbuildpacksexisterror) in the Pivotal Knowledge Base.

### <a id='log-error'></a> Metric Registrar App Log Error Message

An `invalid log drain` error message may appear in app logs on foundations where the Metric Registrar is enabled. This error message indicates that the current version of Loggregator cannot parse the scheme used by the Metric Registrar. 

This error message does not indicate that the app logs are incorrect or incomplete. There is no action required.

### <a id='missing-env-variables'></a> Some Environment Variables Are Missing When Using cflinuxfs3

When using the `cflinuxfs3` stack in PAS v2.3 or later, if you provide environment variables containing periods or dashes, the environment variables do not appear in the process environment of the app.

To resolve this issue, ensure that all applications are using environment variables that do not contain periods or dashes.

For more information, see [Missing environment variables when using PAS 2.3+ and the cflinuxfs3 stack](https://community.pivotal.io/s/article/missing-environment-variables-when-using-pas-2-3-and-the-cflinuxfs3-stack) in the Pivotal Knowledge Base.

### <a id="credhub-db-migration-failure"></a> CredHub Database Migration Failure

When the CredHub database fails to migrate with a `Flyway` exception, it may be caused by an issue with the `flyway_schema_history` table.

For information on how to address this issue, see [Database Migration Failure](https://github.com/pivotal-cf/credhub-release/blob/master/docs/known-issues.md#database-migration-failure) in GitHub.

### <a id="stale-routes"></a> Intermittent Misrouting of Apps in Large PCF Foundations

Large PCF Foundations can experience intermittent misrouting of apps.
These routes can point to non-existent or incorrect app containers 
and can cause apps to intermittently return HTTP codes 404 or 502. 

This issue typically occurs in larger-sized foundations where a single Gorouter 
instance misses a deregistration message when a user unmaps routes to a running app. 
As a result, the Gorouter retains stale routes in its routing table.

To resolve this issue, update to PAS v2.4.14 or later.

If you have previously checked the `Prune Routes on TTL Expiry for TLS Backends`
checkbox as referenced below, uncheck the box for improved guarantees of
route consistency during control plane instability.

1. Log in to Ops Manager.
1. In the PAS tile, select **Application Containers**.
1. Uncheck the **Prune Routes on TTL Expiry for TLS Backends** checkbox.
1. Click **Review Pending Changes**.
1. Click **Apply Changes**.

If you are on v2.4.10 to v2.4.13 and need a temporary mitigation pending upgrades, do the following:

1. Log in to Ops Manager.
1. In the PAS tile, select **Application Containers**.
1. Select the **Prune Routes on TTL Expiry for TLS Backends** checkbox.
1. Click **Review Pending Changes**.
1. Click **Apply Changes**.

If you are on a version earlier than v2.4.10, you must upgrade to address this issue.

For more information, see [Enabling TLS from the Gorouter to application instances results in bad routes in PAS 2.3+](https://community.pivotal.io/s/article/enabling-tls-from-the-gorouter-to-application-instances-results-in-bad-routes).

### <a id="ncp-upgrade-issue"></a> Apps Cannot Be Pushed or Restaged after Upgrade to VMware NSX-T Container Plug-in for PCF v2.4

After upgrading the NSX-T Container Plug-in tile from v2.3 to v2.4, 
users can no longer push or restage apps on PAS v2.4. 

To workaround this issue, delete any manually created Switching Profiles 
before proceeding with the upgrade of the plug-in. 

In the NSX-T Manager interface, do the following:

1. Select **Networking**, **Switching**, **Switching Profiles**
1. Select **ncp-ha (for all clusters)**.
1. Click **Delete**.
1. Proceed with the upgrade of the NSX-T Container Plug-in.

### <a id="apps-manager-ie"></a> Apps Manager Spring Boot Integration Fails in Internet Explorer

In PAS v2.4.12, Apps Manager includes a change in communication with Spring Boot Actuator endpoints that is not compatible with the Internet Explorer 11 browser. The change results in Spring Boot information not appearing on the app page.
  
This issue is fixed in PAS v2.4.13 and later, and does not affect other browsers.
  
### <a id="apps-manager-spring-mappings-context"></a> Apps Manager Does Not Show Spring Mappings Outside of the Application Context

In PAS v2.4.0 to v2.4.12, the Spring Boot mappings in Apps Manager did not account for contexts other than the 'application' context. For this reason, some Spring Boot mappings may fail to show up in Apps Manager for a given application.

This issue is fixed in PAS v2.4.13 and later.

### <a id="apps-manager-invitations-failures"></a> Inviting New Users or Adding Space Roles in Apps Manager Fails

In PAS v2.4.14 and v2.4.15, the Apps Manager service that handles inviting new users to Cloud Foundry fails in many cases to add space roles for users or invite new users with space roles. As a workaround, use the cf CLI to manage user roles.

For more information, see [User Admin](https://docs.cloudfoundry.org/cf-cli/cf-help.html#user-admin) commands in the Cloud Foundry CLI Reference Guide.

### <a id="apps-manager-spring-app-health-missing"</a> Spring Boot App Health is Not Displayed

In PAS v2.4.13 to v2.4.15, Apps Manager does not show Spring Boot App Health information.

This issue is fixed in PAS 2.5 and later.
