---
title: Pivotal Application Service v2.4 Release Notes
owner: Release Engineering
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

### <a id='2.4.0-beta.1'></a> 2.4.0-beta.1

* **[Feature Improvement]** NFS Broker connects to its database using TLS
* **[Feature Improvement]** Credhub can be configured to use the same external database as other components configured in PAS tile
* **[Feature Improvement]** UAA connects using TLS to internal database default & external databases when a CA cert is provided
* **[Feature Improvement]** UAA can be configured to use the same external database as other components configured in PAS tile
* **[Bug Fix]** Improve app/task placement reliability when apps are configured to receive TLS traffic from gorouters
* **[Bug Fix]** Fixes TLS hostname error when Metric Registrar is enabled
* Bump ubuntu-xenial stemcell to version `97.32`
* Bump capi to version `1.71.2`
* Bump cf-networking to version `2.18.0`
* Bump cf-smoke-tests to version `40.0.17`
* Bump cflinuxfs2 to version `1.247.0`
* Bump cflinuxfs3 to version `0.37.0`
* Bump diego to version `2.22.0`
* Bump push-usage-service-release to version `668.0.7`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>97.32</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.10.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.27</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.16</td></tr>
    <tr><td>bpm</td><td>0.13.0</td></tr>
    <tr><td>capi</td><td>1.71.2</td></tr>
    <tr><td>cf-autoscaling</td><td>214</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.9.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.17</td></tr>
    <tr><td>cf-syslog-drain</td><td>8.0</td></tr>
    <tr><td>cflinuxfs2</td><td>1.247.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.37.0</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.1.1</td></tr>
    <tr><td>diego</td><td>2.22.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.1.5</td></tr>
    <tr><td>garden-runc</td><td>1.16.7</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.28</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.16.1</td></tr>
    <tr><td>log-cache</td><td>2.0.1</td></tr>
    <tr><td>loggregator-agent</td><td>2.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.1.1</td></tr>
    <tr><td>metric-registrar</td><td>1.0.1</td></tr>
    <tr><td>mysql-monitoring</td><td>9.1.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>1.7.1</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.32</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>54</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.61</td></tr>
    <tr><td>push-apps-manager-release</td><td>667.0.0</td></tr>
    <tr><td>push-usage-service-release</td><td>668.0.7</td></tr>
    <tr><td>pxc</td><td>0.14.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.21</td></tr>
    <tr><td>routing</td><td>0.182.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.24</td></tr>
    <tr><td>silk</td><td>2.17.0</td></tr>
    <tr><td>smb-volume</td><td>0.2.2</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.32</td></tr>
    <tr><td>statsd-injector</td><td>1.5.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>64.0</td></tr>
  </tbody>
</table>

### <a id='2.4.0-alpha.4'></a> 2.4.0-alpha.4

* **[Known Issue]** Usage service errand fails when using an external DB
    * Will be fixed in https://www.pivotaltracker.com/story/show/161629538
* **[Breaking Change]** Bump log-cache API to version 2.x which moves `/v1` endpoints to `/api/v1`
* **[Breaking Change]** Internal MySQL always uses Percona XtraDB Cluster
* **[Security Fix]** Rotate diego intermediate CA before current certificate expires
* **[Security Fix]** Bump UAA for CVEs
* **[Feature]** Add smb-volume-release to PAS
* **[Feature]** Users in `usage_service.audit` group can access the Usage Service API using their CF OAuth token
* **[Feature]** Apps manager includes new home page and allows users to search for apps, spaces, orgs and service instances
* **[Feature]** Add metric-registrar to enable App Developers to output custom application metrics that can be monitored by platform-provided tooling
* **[Beta Feature]** Networking administrators can configure egress networking policies dynamically to IP ranges instead of ASGs
* **[Feature Improvement]** Credhub connects to MySQL using TLS
* **[Feature Improvement]** The usage-service uses the shared CF CLI which can be updated independently
* **[Feature Improvement]** Operators can configure the default root filesystem for new applications created the platform
* **[Bug Fix]** Stop emitting product version in logging agent metrics to prevent rolling VMs unnecessarily on upgrades
* **[Bug Fix]** Fix manual configuration of load balancers for SSH to application containers on Small Footprint PAS (SF-PAS)
* **[Bug Fix]** Update log-cache client in Autoscaler for backward compatibility when upgrading PAS
* **[Bug Fix]** Fix monit scripting bug in nfsv3driver job that could cause the process to continue running after a monit stop
* **[Bug Fix]** UAA incorrectly require TLS when legacy Internal MySQL - MariaDB is selected
* Bump ubuntu-xenial stemcell to version `97.28`
* Bump capi to version `1.71.0`
* Bump cf-autoscaling to version `214`
* Bump cf-smoke-tests to version `40.0.13`
* Bump cf-syslog-drain to version `8.0`
* Bump cflinuxfs2 to version `1.245.0`
* Bump cflinuxfs3 to version `0.34.0`
* Bump garden-runc to version `1.16.7`
* Bump java-offline-buildpack to version `4.16.1`
* Bump log-cache to version `2.0.1`
* Add new release metric-registrar at version `1.0.1`
* Bump nfs-volume to version `1.7.1`
* Bump notifications-ui to version `36`
* Bump notifications to version `54`
* Bump push-apps-manager-release to version `667.0.0`
* Bump push-usage-service-release to version `668.0.6`
* Add new release smb-volume at version `0.2.2`
* Bump statsd-injector to version `1.5.0`
* Bump uaa to version `64.0`
* Removed cf-mysql release

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>97.28</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.10.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.27</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.16</td></tr>
    <tr><td>bpm</td><td>0.13.0</td></tr>
    <tr><td>capi</td><td>1.71.0</td></tr>
    <tr><td>cf-autoscaling</td><td>214</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.9.0</td></tr>
    <tr><td>cf-networking</td><td>2.17.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.13</td></tr>
    <tr><td>cf-syslog-drain</td><td>8.0</td></tr>
    <tr><td>cflinuxfs2</td><td>1.245.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.34.0</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.1.1</td></tr>
    <tr><td>diego</td><td>2.19.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.1.5</td></tr>
    <tr><td>garden-runc</td><td>1.16.7</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.28</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.16.1</td></tr>
    <tr><td>log-cache</td><td>2.0.1</td></tr>
    <tr><td>loggregator-agent</td><td>2.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.1.1</td></tr>
    <tr><td>metric-registrar</td><td>1.0.1</td></tr>
    <tr><td>mysql-monitoring</td><td>9.1.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>1.7.1</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.32</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>54</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.61</td></tr>
    <tr><td>push-apps-manager-release</td><td>667.0.0</td></tr>
    <tr><td>push-usage-service-release</td><td>668.0.6</td></tr>
    <tr><td>pxc</td><td>0.14.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.21</td></tr>
    <tr><td>routing</td><td>0.182.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.24</td></tr>
    <tr><td>silk</td><td>2.17.0</td></tr>
    <tr><td>smb-volume</td><td>0.2.2</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.32</td></tr>
    <tr><td>statsd-injector</td><td>1.5.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>64.0</td></tr>
  </tbody>
</table>

### <a id='2.4.0-alpha.3'></a> 2.4.0-alpha.3

* **[Feature]** Remove configuration for internal MySQL Load Balancer
* **[Feature]** Co-locate BPM on all VMs in PAS and IST
* **[Feature]** Add `tile_installer` UAA client intended for use by service tiles during installation to create their own long-term operational client credentials
* **[Feature Improvement]** The notification release uses the shared CF CLI which can be updated independently
* **[Feature Improvement]** The notification ui release uses the shared CF CLI which can be updated independently
* **[Feature Improvement]** Loggregator can be updated without rolling every VM
* **[Feature Improvement]** Change default HAProxy instance count to 0
* **[Feature Improvement]** Routing-API job connects to MySQL using TLS
* **[Feature Improvement]** All errands use the CF CLI that is distributed as a BOSH release
* **[Feature Improvement]** Update name of the Small Footprint PAS tile shown on the tile in Ops Manager UI
* **[Feature Improvement]** clock_global now defaults to 2 instances to be highly available
* **[Feature Improvement]** Allow disabling connection pooling for autoscaler API & escape special characters in external database passwords
* **[Bug Fix]** Fix issue where the PAS tile could be incorrectly downloaded when upgrading SF-PAS via PivNet
* **[Bug Fix]** Fix parse error for syslog rules when iptables logging is enabled
* **[Bug Fix]** Remove two empty Credhub VMs from SF-PAS deployment

* Bump ubuntu-xenial stemcell to version `97.19`
* Bump binary-offline-buildpack to version `1.0.27`
* Bump bpm to version `0.13.0`
* Bump capi to version `1.70.0`
* Bump cf-autoscaling to version `212`
* Bump cf-cli to version `1.9.0`
* Bump cf-networking to version `2.17.0`
* Bump cf-smoke-tests to version `40.0.10`
* Bump cflinuxfs2 to version `1.242.0`
* Bump cflinuxfs3 to version `0.29.0`
* Bump consul to version `198`
* Bump credhub to version `2.1.1`
* Bump diego to version `2.19.0`
* Bump dotnet-core-offline-buildpack to version `2.1.5`
* Bump garden-runc to version `1.16.6`
* Bump go-offline-buildpack to version `1.8.28`
* Bump java-offline-buildpack to version `4.16`
* Bump log-cache to version `1.4.7`
* Add new release loggregator-agent at version `2.2`
* Bump loggregator to version `103.3`
* Bump mapfs to version `1.1.1`
* Bump mysql-monitoring to version `9.1.0`
* Bump nfs-volume to version `1.6.0`
* Bump nodejs-offline-buildpack to version `1.6.32`
* Bump notifications-ui to version `35`
* Bump notifications to version `53`
* Bump php-offline-buildpack to version `4.3.61`
* Bump push-apps-manager-release to version `666.0.12`
* Bump push-usage-service-release to version `667.0.10`
* Bump python-offline-buildpack to version `1.6.21`
* Bump ruby-offline-buildpack to version `1.7.24`
* Bump silk to version `2.17.0`
* Bump staticfile-offline-buildpack to version `1.4.32`
* Bump statsd-injector to version `1.4.0`
* Bump syslog to version `11.4.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>97.19</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.10.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.27</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.16</td></tr>
    <tr><td>bpm</td><td>0.13.0</td></tr>
    <tr><td>capi</td><td>1.70.0</td></tr>
    <tr><td>cf-autoscaling</td><td>212</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.9.0</td></tr>
    <tr><td>cf-mysql</td><td>36.15.0</td></tr>
    <tr><td>cf-networking</td><td>2.17.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.10</td></tr>
    <tr><td>cf-syslog-drain</td><td>7.1</td></tr>
    <tr><td>cflinuxfs2</td><td>1.242.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.29.0</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.1.1</td></tr>
    <tr><td>diego</td><td>2.19.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.1.5</td></tr>
    <tr><td>garden-runc</td><td>1.16.6</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.28</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.16</td></tr>
    <tr><td>log-cache</td><td>1.4.7</td></tr>
    <tr><td>loggregator-agent</td><td>2.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.1.1</td></tr>
    <tr><td>mysql-monitoring</td><td>9.1.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>1.6.0</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.32</td></tr>
    <tr><td>notifications-ui</td><td>35</td></tr>
    <tr><td>notifications</td><td>53</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.61</td></tr>
    <tr><td>push-apps-manager-release</td><td>666.0.12</td></tr>
    <tr><td>push-usage-service-release</td><td>667.0.10</td></tr>
    <tr><td>pxc</td><td>0.14.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.21</td></tr>
    <tr><td>routing</td><td>0.182.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.24</td></tr>
    <tr><td>silk</td><td>2.17.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.32</td></tr>
    <tr><td>statsd-injector</td><td>1.4.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>60.2</td></tr>
  </tbody>
</table>

### <a id='2.4.0-alpha.2'></a> 2.4.0-alpha.2

* **[Feature]** Support restore from different Azure storage account
* **[Feature Improvement]** Improve UI for route integrity options
* **[Feature Improvement]** Credhub is GA and on by default
* **[Feature Improvement]** Scale Consul Server down to 0
* **[Feature Improvement]** Remove option to disable route integrity
* **[Feature Improvement]** network policy server connects to MySQL using TLS
* **[Feature Improvement]** Operators can distinguish among metrics being emitted from different PAS tile deployments
* **[Feature Improvement]** credhub connects to MySQL using TLS
* **[Feature Improvement]** Diego connects to MySQL using TLS
* **[Feature Improvement]** CAPI connects to MySQL using TLS
* **[Feature Improvement]** PAS can be configured with a CA certificate for TLS connections to an external MySQL database
* **[Feature Improvement]** Metrics emitted from each deployment are tagged with additional metadata

* Bump stemcell to Xenial version `97.17`
* Bump backup-and-restore-sdk to version `1.10.0`
* Bump binary-offline-buildpack to version 1.0.26
* Bump bosh-system-metrics-forwarder to version 0.0.16
* Bump bpm to version 0.12.3
* Bump capi to version 1.69.0
* Bump cf-autoscaling to version 210
* Bump cf-cli to version 1.8.0
* Bump cf-networking to version 2.16.0
* Bump cf-smoke-tests to version 40.0.9
* Bump cf-syslog-drain to version 7.1
* Bump cflinuxfs2 to version 1.238.0
* Bump cflinuxfs3 to version 0.25.0
* Bump consul to version 196
* Bump diego to version 2.18.0
* Bump garden-runc to version 1.16.4
* Bump haproxy to version 9.3.0
* Bump log-cache to version 1.4.6
* Bump loggregator to version 103.2
* Bump nats to version 26
* Bump notifications to version 52
* Bump notifications-ui to version 34
* Bump pxc to version 0.14.0
* Bump routing to version 0.182.0
* Bump silk to version 2.16.0

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>97.17</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.10.0</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.26</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.3</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.16</td>
  </tr><tr>
    <td>bpm</td><td>0.12.3</td>
  </tr><tr>
    <td>capi</td><td>1.69.0</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>210</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.11</td>
  </tr><tr>
    <td>cf-cli</td><td>1.8.0</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.15.0</td>
  </tr><tr>
    <td>cf-networking</td><td>2.16.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>40.0.9</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>7.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.238.0</td>
  </tr><tr>
    <td>cflinuxfs3</td><td>0.25.0</td>
  </tr><tr>
    <td>consul</td><td>196</td>
  </tr><tr>
    <td>credhub</td><td>2.0.2</td>
  </tr><tr>
    <td>diego</td><td>2.18.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.1.4</td>
  </tr><tr>
    <td>garden-runc</td><td>1.16.4</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.26</td>
  </tr><tr>
    <td>haproxy</td><td>9.3.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.15</td>
  </tr><tr>
    <td>log-cache</td><td>1.4.6</td>
  </tr><tr>
    <td>loggregator</td><td>103.2</td>
  </tr><tr>
    <td>mapfs</td><td>1.1.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.20.0</td>
  </tr><tr>
    <td>nats</td><td>26</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.5.3</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.30</td>
  </tr><tr>
    <td>notifications</td><td>52</td>
  </tr><tr>
    <td>notifications-ui</td><td>34</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.59</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>666.0.0</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>667.0.1</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.20</td>
  </tr><tr>
    <td>pxc</td><td>0.14.0</td>
  </tr><tr>
    <td>routing</td><td>0.182.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.22</td>
  </tr><tr>
    <td>silk</td><td>2.16.0</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.31</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.3.0</td>
  </tr><tr>
    <td>syslog</td><td>11.3.2</td>
  </tr><tr>
    <td>uaa</td><td>60.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.4.0-alpha.1'></a> 2.4.0-alpha.1

* Bump bosh-dns-aliases to version `0.0.3`
* Bump bpm to version `0.12.2`
* Bump capi to version `1.67.0`
* Bump cf-cli to version `1.6.0`
* Bump cf-networking to version `2.14.0`
* Bump credhub to version `2.0.2`
* Bump diego to version `2.16.0`
* Bump garden-runc to version `1.16.3`
* Bump haproxy to version `9.1.0`
* Bump log-cache to version `1.4.1`
* Bump loggregator to version `103.1`
* Bump mapfs to version `1.1.0`
* Bump push-apps-manager-release to version `666.0.0`
* Bump push-usage-service-release to version `667.0.1`
* Bump routing to version `0.180.0`
* Bump silk to version `2.14.0`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>97.15</td>
  </tr><tr>
    <td>backup-and-restore-sdk</td><td>1.9.0</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.25</td>
  </tr><tr>
    <td>bosh-dns-aliases</td><td>0.0.3</td>
  </tr><tr>
    <td>bosh-system-metrics-forwarder</td><td>0.0.15</td>
  </tr><tr>
    <td>bpm</td><td>0.12.2</td>
  </tr><tr>
    <td>capi</td><td>1.67.0</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>208</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.11</td>
  </tr><tr>
    <td>cf-cli</td><td>1.6.0</td>
  </tr><tr>
    <td>cf-mysql</td><td>36.15.0</td>
  </tr><tr>
    <td>cf-networking</td><td>2.14.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>40.0.6</td>
  </tr><tr>
    <td>cf-syslog-drain</td><td>7.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.234.0</td>
  </tr><tr>
    <td>cflinuxfs3</td><td>0.17.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>credhub</td><td>2.0.2</td>
  </tr><tr>
    <td>diego</td><td>2.16.0</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>2.1.4</td>
  </tr><tr>
    <td>garden-runc</td><td>1.16.3</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.26</td>
  </tr><tr>
    <td>haproxy</td><td>9.1.0</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>4.15</td>
  </tr><tr>
    <td>log-cache</td><td>1.4.1</td>
  </tr><tr>
    <td>loggregator</td><td>103.1</td>
  </tr><tr>
    <td>mapfs</td><td>1.1.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.20.0</td>
  </tr><tr>
    <td>nats</td><td>25</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.5.3</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.30</td>
  </tr><tr>
    <td>notifications</td><td>51</td>
  </tr><tr>
    <td>notifications-ui</td><td>33</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.59</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>666.0.0</td>
  </tr><tr>
    <td>push-usage-service-release</td><td>667.0.1</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.6.20</td>
  </tr><tr>
    <td>pxc</td><td>0.13.0</td>
  </tr><tr>
    <td>routing</td><td>0.180.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.7.22</td>
  </tr><tr>
    <td>silk</td><td>2.14.0</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.31</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.3.0</td>
  </tr><tr>
    <td>syslog</td><td>11.3.2</td>
  </tr><tr>
    <td>uaa</td><td>60.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

## <a id='upgrade'></a> How to Upgrade

The procedure for upgrading to Pivotal Application Service (PAS) v2.4 is documented in the [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/2-4/customizing/upgrading-pcf.html) topic.

When upgrading to PAS v2.4, be aware of the following upgrade considerations:

* If you previously used an earlier version of PAS, you must first upgrade to PAS v2.3 to successfully upgrade to PAS v2.4.

* You must enable route integity before upgrading to PAS v2.4. To enable route integrity, go to **Application Containers** in PAS and select **Router uses TLS to verify application identity**. This option does use approximately 32MB more memory per application.

* If you are running internal MySQL databases on MariaDB, you must migrate them to Percona server before upgrading to PAS v2.4. For more information, see [Migrating to Internal Percona MySQL](https://docs.pivotal.io/pivotalcf/2-4/opsguide/migrate-percona-mysql.html).

* Some partner service tiles may be incompatible with PCF v2.4. Pivotal is working with partners to ensure their tiles are updated to work with the latest versions of PCF.<br/><br/> For information about which partner service releases are currently compatible with PCF v2.4, review the appropriate partners services release documentation at [https://docs.pivotal.io](https://docs.pivotal.io), or contact the partner organization that produces the tile.


## <a id='new-features'></a> New Features in PAS v2.4

### <a id="credhub-v2"></a> Credhub v2

Credhub is now v2.x and is on by default...

### <a id="cflinuxfs3"></a> PAS Uses cflinuxfs3 by Default

PAS v2.4 uses `cflinuxfs3` stack and related buildpacks by default on new installs. Buildpacks have the same name but with a different stack.

You can switch between `cflinuxfs2` and `cflinuxfs3` using the cf CLI (Cloud Foundry Command Line Interface). For more information, see [Changing Stacks](https://docs.pivotal.io/pivotalcf/2-4/devguide/deploy-apps/stacks.html).

The `cflinuxfs3` stack was introduced in PAS v2.3. For more information, see [cflinuxfs3 Stack and Compatible Buildpacks](https://docs.pivotal.io/pivotalcf/2-3/pcf-release-notes/runtime-rn.html#cflinuxfs3) in the PAS v2.3 release notes.


### <a id="consul-server-removed"></a> Consul Server VMs are removed from PAS

Consul Server VMs are now removed from PAS, saving VM resources and reducing maintenance around managing a clustered component.

### <a id="tls-to-db"></a> Components Communicate to Database using TLS

Platform components like CAPI and Diego will use TLS to communicate with the database.
This happens automatically when using the Internal Database, for external databases like RDS you can provide the CA Certificate in the PAS Databases form.
Note: As of PAS 2.4.0-alpha.2 this is a work-in-progress, additional components will be moved over to TLS in subsequent pre-release versions.

### <a id='percona'></a> Internal MySQL Databases Run Only on Percona

In PAS v2.2 and v2.3, internal MySQL databases could run on either MariaDB or Percona servers. PAS v2.4 no longer uses MariaDB, so you must migrate internal MariaDB databases to Percona and redeploy PAS v2.3 before upgrading to PAS v2.4.

To migrate your databases to Percona, see [Migrating to Internal Percona MySQL](https://docs.pivotal.io/pivotalcf/2-4/opsguide/migrate-percona-mysql.html).

### <a id="nfs-experimental-graduation"></a> NFS-Experimental Service Graduation

The existing `nfs-experimental` service is promoted from "experimental" to "production" also deprecating the original fuse-based `nfs` service to `nfs-legacy`. Existing `nfs` service bindings will now be listed as `nfs-legacy`. To switch-over we recommend that you re-create and re-bind to the `nfs` service.

### <a id="app-identity"></a> Gorouter Always Verifies App Identity

For all PAS v2.4 foundations, the Gorouter always uses TLS to verify app identity. Verifying app identity
improves resiliency and consistency for app routes. It also increases
security by encrypting data in flight from the Gorouter.

In PAS v2.3 and earlier, you can have insecure routing without TLS. Before you upgrade
to v2.4, you must have secure routing with TLS enabled. For more information, see [Upgrade
Preparation Checklist for PCF
v2.4](https://docs.pivotal.io/pivotalcf/2-4/upgrading/checklist.html).

For more information about the verifying app identity feature, see [Increased Resiliency, Consistency, and
Security for HTTP
Routing](https://docs.pivotal.io/pivotalcf/2-1/pcf-release-notes/runtime-rn.html#route-consistency) in the PAS v2.1
release notes.

### <a id="metrics-prefix"></a> Uniquely Identify Metrics by Tile

As the value for `deployment`, metrics use `cf-GUID`, which corresponds to the BOSH deployment name of your PAS tile. With a GUID, you can uniquely
identify your metrics by tile. to the In PAS v2.3 and earlier, metrics have a `deployment` value of `cf`.

This feature is enabled by default in new deployments of PAS 2.4, but disabled by default for PAS deployments upgrading to 2.4. 

<p class="breaking note"><strong>Breaking Change:</strong> If you have scripts that rely on <code>cf</code> as the value for <code>deployment</code>, your scripts may break. For more information, see <a href="./breaking-changes.html#metrics-prefix">Changed Deployment Value for PAS Metrics</a>.</p>

### <a id="human-friendly-metric-tags"></a> See Human-friendly Metadata for Metrics

PAS now tags metrics with additional metadata to help operators better parse the metrics coming from their different deployments. These metadata tags also enable downstream monitoring products, such as PCF Healthwatch, to easily display human-readable names. 

The tags are as follows:

* `product`: The value of this tag is always `Pivotal Application Service` for the PAS tile. The tags for other products are: `PCF Isolation Segment`, `PCF Small Footprint`, `Pivotal Application Service for Windows 2012R2`, and `Pivotal Application Service for Windows`.
* `system_domain`: The value of this tag corresponds to what you set in the **System Domain** field in the **Domains** tab of the PAS tile. 
* `placement_tag`: The value of this tag is always `null` for PAS. However, for PAS for Windows and PCF Isolation Segment tiles, you can configure this value using the **Segment Name** field in the **Application Containers** pane. 

Previously, you could not easily know the deployment that a metric from an Isolation Segment was emitted from. Now, an Operator can display capacity and other relevant metrics using the `placement_tag` name. This makes it easier to reason about the importance of a given segment when issues arise.

These tags are properties of the [metron](https://docs.pivotal.io/pivotalcf/2-4/loggregator/architecture.html#metron) agent running on each VM in a deployment. 


### <a id="global-search"></a> Global Search in Apps Manager

Apps Manager has a global searchbar persistent on every Apps Manager page. With the global
searchbar, you can search org name, space name, service instance name, and app names without
leaving the page.

Search results populate with each keypress and display below the searchbar. When
the global searchbar is selected but empty, recently-accessed apps, services,
spaces, and orgs display below the searchbar.

This feature does not have an equivalent in the cf CLI.

### <a id="apps-man-ui"></a> Navigation Updates in Apps Manager

To improve navigation, Apps Manager v2.4 includes the following UI changes:
- New home page that shows the following:
   - Up-to ten of the most-recently accessed apps with status, name, org and space,  instances, and time since last push
   - All orgs in your PCF deployment
- Simplified sidebar navigation with **Home** and **Marketplace** only
- Breadcrumbs to help you navigate to previous screens

### <a id="restage-apps"></a> Restage Apps in Apps Manager

Apps Manager includes a restage button. The button is in addition to the stop and
start buttons on the app management page. Restaging your application stops your
app and restages it by compiling a new droplet and starting it.

Restage your app if you changed the environment in a way that affects your
staging process. For example, you might set an environment variable that the buildpack
consumes.

For more information about the restage button in the Apps Manager UI, see [Start, Stop, or Restage an App
](https://docs.pivotal.io/pivotalcf/2-4/console/manage-apps.html#start-stop).

### <a id="share-service-instance"></a> Share Service Instances in Apps Manager

From the **Overview** tab of a service instance, you can share the service
instance to make it available in multiple spaces you specify. With Space Developer permissions, you
can view, add, and remove service instance sharing.

For more information, see [Service Instance Sharing](http://docs.pivotal.io/pivotalcf/2-4/console/manage-apps.html#shared-instances).

### <a id="log-api"></a> Loggregator v2 API is Readable Through gRPC Gateway

As a nozzle developer, you can access the Loggregator v2 API through a gRPC gateway. You
do not need to manage mutual TLS to access the v2 API. The CF auth proxy and the gRPC gateway are
in Loggregator's Reverse Log Proxy (RLP) component. For more information about the component, see [Reverse Log Proxy (RLP)](https://docs.pivotal.io/pivotalcf/2-4/loggregator/architecture.html#rlp).

The Loggregator v2 API supports additional features, including selector-based subscription
models. For more information about that feature, see [Selector-Based Subscripton Model and
Reference
Nozzles](https://docs.pivotal.io/pivotalcf/2-2/pcf-release-notes/runtime-rn.html#selector-based)
in the PAS v2.2 release notes.

For more information about the Loggregator
API, see [loggregator-api](https://github.com/cloudfoundry/loggregator-api) in GitHub.

### <a id="metric-registrar"></a> Emit Custom App Metrics to the Metric Registrar

PAS v2.4 includes a new component, the Metric Registrar. The Metric Registrar allows app
developers to export custom app metrics and events in a format that
[Loggregator](https://docs.pivotal.io/pivotalcf/loggregator/architecture.html) can
consume. App developers can then use the custom metrics to monitor apps with [PCF
Metrics](https://docs.pivotal.io/pcf-metrics) and configure autoscaling rules with [PCF
Autoscaler](https://docs.pivotal.io/pivotalcf/appsman-services/autoscaler/using-autoscaler.html). 

For more information, see the following topics: 

* [Configuring the Metric Registrar](http://docs.pivotal.io/pivotalcf/2-4/metric-registrar/index.html)
* [Registering Custom App Metrics](http://docs.pivotal.io/pivotalcf/2-4/metric-registrar/using.html)

## <a id='known-issues'></a> Known Issues

### <a id="external-credhub"></a> CredHub Database Cannot be External on GCP

If your PAS deployment is on GCP and you want to use Runtime CredHub, you must select
**Internal** for both your system databases and CredHub database. If you are using external system databases, you cannot use CredHub. 

CredHub is not compatible with the external database option on GCP. 
GCP Cloud SQL presents its certificate in a way that CredHub refuses to connect to it. 

### <a id='tcp-port-config'></a> Configuring Multiple TCP Routing Ports

This section describes an issue and workaround related to configuring multiple TCP Routing Ports in the PAS tile UI. 

#### Issue

You cannot enter a comma-separated list of ports in the **TCP Routing Ports** field of the PAS tile. If you enter a comma-separated list, the Routing API does not start. The **TCP Routing Ports** field allows entries in the following formats:

* A single value, such as `1234`
* A range of values, such as `1234-5678`

#### Workaround

If you want to configure multiple ports, do the following:

<p class="note"><strong>Note:</strong> This procedure causes brief downtime for TCP apps listening on ports that you open after deploying PAS.</p>

1. Configure PAS with **Enable TCP Routing** selected.

1. Enter one port you want to use in the **TCP Routing Ports** field.

1. Deploy PAS.

1. Use the Routing API to add all desired TCP ports by following the instructions in the [Modify your TCP ports](https://docs.pivotal.io/pivotalcf/1-12/adminguide/enabling-tcp-routing.html#modify-ports) section of the _Enabling TCP Routing_ topic. When using the Routing API, you can include a comma separated list of ports.

### <a id='cf-networking-downtime'></a> API Downtime During Rolling Deploys

Operators will intermittently receive errors when pushing apps during a rolling upgrade due to https://www.pivotaltracker.com/story/show/160774116.
This will be fixed in a subsequent pre-release version of PAS.
