---
title: Pivotal Elastic Runtime v1.11 Release Notes
owner: Release Engineering
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for 2017.

Read more about the
[certified provider program](https://www.cloudfoundry.org/provider-faq/)
and the
[requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

### <a id='1.11.5'></a> 1.11.5

* **[Security Fix]** Provides a fix for
  [CVE-2017-8033](https://www.cloudfoundry.org/cve-2017-8033/). This security
  vulnerability would have allowed attackers to escalate their privileges by
  pushing an application that could modify the files on the Cloud Controller VM.
* **[Security Fix]** The Router will now validate the UAA token issuer
  field. This will prevent users with valid tokens belonging to an Identity Zone
  other than the default zone from escalating their privileges when making
  requests against system components.
* **[Bug Fix]** Resolves an issue with UAA SAML Service Provider Key Password quoting.
* **[Stability Improvement]** Operators can now configure the `Cluster Probe
  Timeout` for their Internal MySQL cluster.  This property controls the maximum
  time a new MySQL node will search for an existing cluster before starting its
  own.  Higher values for this property will help to maintain cluster quorum on
  slower or more loaded infrastructures.
* Bumps nfs-volume-release to v1.0.6. [Release Notes](https://github.com/cloudfoundry/nfs-volume-release/releases/tag/v1.0.6)
* Bumps the following buildpacks to their latest version:
  * [dotnet-core-buildpack Release Notes](https://github.com/cloudfoundry/dotnet-core-buildpack/releases/tag/v1.0.22)
  * [go-buildpack Release Notes](https://github.com/cloudfoundry/go-buildpack/releases/tag/v1.8.5)
  * [java-buildpack Release Notes](https://github.com/cloudfoundry/java-buildpack/releases/tag/v3.18)
  * [nodejs-buildpack Release Notes](https://github.com/cloudfoundry/nodejs-buildpack/releases/tag/v1.6.3)
  * [php-buildpack Release Notes](https://github.com/cloudfoundry/php-buildpack/releases/tag/v4.3.38)
  * [python-buildpack Release Notes](https://github.com/cloudfoundry/python-buildpack/releases/tag/v1.5.20)
  * [ruby-buildpack Release Notes](https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.6.44)
  * [staticfile-buildpack Release Notes](https://github.com/cloudfoundry/staticfile-buildpack/releases/tag/v1.4.11)
* Sets the default max-in-flight value for the Diego Cells to 4%. Operators can
  still use the Ops Manager API to configure this setting to fit their needs. The
  max-in-flight percentage for the Diego Cell job in the Elastic Runtime has been
  set to 10% since 1.9, but we’ve seen especially in larger environments that
  having the percentage this high can cause some problems:
  * Many simultaneous VM creates/deletes and BOSH blob updates can place
  significant stress on the underlying infrastructure, especially on vSphere
  which has a greater probability of being underprovisioned.
  * The cells that are draining are no longer available for allocation,
  resulting in a 10% decrease in total memory and disk capacity during the
  deployment. This can cause deployments to no longer have sufficient total
  capacity to run all the work, or to have insufficient headroom to place
  larger workloads successfully.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.22</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.5</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.18</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.3.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.6.3</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.38</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.24</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.20</td>
  </tr><tr>
    <td>routing</td><td>0.157.0\*</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.44</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.11</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>41</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.4'></a> 1.11.4

* **[Security Fix]** Cloud Controller will now validate the UAA token issuer
  field. This will prevent users with valid tokens belonging to an Identity Zone
  other than the default zone from escalating their privileges when making
  requests against system components.
* **[Security Fix]** Provides a fix for [CVE-2017-8035](https://www.cloudfoundry.org/cve-2017-8035/). This security
  vulnerability would have allowed arbitrary files on the Cloud Controller VM to
  be downloaded by external API users.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.19</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.4</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.17</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.3.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.5</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.5.36</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.34</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.24</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.19</td>
  </tr><tr>
    <td>routing</td><td>0.157.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.40</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.6</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>41</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.3'></a> 1.11.3

* **[Bug Fix]** Bumps cf-backup-and-restore-release to v0.0.5. [[Release Notes](https://github.com/pivotal-cf/cf-backup-and-restore-release/releases/tag/v0.0.5)]
* **[Security Improvement]** Bumps cf-mysql-release to v36. [[Release Notes](https://github.com/cloudfoundry/cf-mysql-release/releases/tag/v36)]
* Bumps service-backup-release to v18.1.2. [[Release Notes](https://docs.pivotal.io/svc-sdk/service-backup/18-1/release-notes.html)]
* **[Bug Fix]** Bumps garden-runc-release to v1.9.0. [[Release Notes](https://github.com/cloudfoundry/garden-runc-release/releases/tag/v1.9.0)]
  Resolves <a href="#ecr-gcr-issue">known issue with private docker image registries.</a>
* **[Bug Fix]** Adds the `network.write` group to UAA.
  This new UAA group will allow operators to give users with the SpaceDeveloper role the ability to manage Container Networking access policy.
* **[Improvement]** Allows operators to scale their `etcd` instance count to 0.
  <p class="note warning">
    **Do not** scale the number of <code>etcd</code> instances to 0 until you have completed your upgrade to PCF Elastic Runtime 1.11.
    <br>
    <br>
    Scaling the <code>etcd</code> instances to 0 before performing the upgrade will result in significant downtime on both the management and application tiers.
  </p>

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.5</td>
  </tr><tr>
    <td>cf-mysql</td><td>36</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.19</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.4</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.17</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.3.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.5</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.5.36</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.34</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.24</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.19</td>
  </tr><tr>
    <td>routing</td><td>0.157.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.40</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.1.2</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.6</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>41</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.2'></a> 1.11.2

* **[Security Fix]** Bumps cflinuxfs2-rootfs to 1.33.0. [[Release Notes](https://github.com/cloudfoundry/cflinuxfs2/releases/tag/1.133.0)]
* **[Bug Fix]** Bumps nfs-volume-release to v1.0.5. [[Release Notes](https://github.com/cloudfoundry/nfs-volume-release/releases/tag/v1.0.5)]
* Bumps mysql-monitoring-release to v8.3.0. [[Release Notes](https://github.com/pivotal-cf-experimental/mysql-monitoring-release/releases/tag/v8.3.0)]
* Bumps cf-mysql-release to v35.1.
* Configuring external system database will no longer scale down the internal mysql components.
  This allows a mixed database configuration where the system database is external but the UAA database may use internal MySQL.
  Starting in ERT 1.11.0, the UAA database is configured independently on the UAA form.
  MySQL instance counts for existing installations will not be affected by this change.
  Going forward, you will need to manually set the instance count to 0 for all MySQL VMs (MySQL Server, MySQL Proxy, and MySQL Monitor) if they are not in use.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>35.1</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.19</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.7.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.4</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.17</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.3.0</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.5</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.5.36</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.34</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.24</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.19</td>
  </tr><tr>
    <td>routing</td><td>0.157.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.40</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.0.4</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.6</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>41</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.1'></a> 1.11.1

* **[Security Fix]** Bumps stemcell to 3421.9.
* **[Security Fix]** Bumps uaa-release to v41. [[Release Notes](https://github.com/cloudfoundry/uaa-release/releases/tag/v41)]
* **[Security Fix]** Bumps cflinuxfs2 to v1.126.0. [[Release Notes](https://github.com/cloudfoundry/cflinuxfs2/releases/tag/1.126.0)]
* Bumps the java buildpack to v3.17. [[Release Notes](https://github.com/cloudfoundry/java-buildpack/releases/tag/v3.17)]
* Bumps diego-release to v1.18.1. [[Release Notes](https://github.com/cloudfoundry/diego-release/releases/tag/v1.18.1)]
* **[Bug Fix]** Patches Cloud Controller to prevent a DB error when a staging response contains too many environment variables.
* **[Feature]** Container-to-container networking will log iptables rules in the kernel log on each Diego Cell.
* **[Feature]** All errands except smoke tests will default to run "when-changed". Smoke tests will default to run every time.
* Removes unnecessary persistent disk from Cloud Controller VM.
* **[Bug Fix]** Resolves <a href="#rep-crashes">known issue with infrequent Diego cell rep crashes.</a>

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>35.0.1</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.126.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.19</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.7.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.4</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.17</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.1.3</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.3</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.5.36</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.34</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.24</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.19</td>
  </tr><tr>
    <td>routing</td><td>0.157.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.40</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.0.4</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.6</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>41</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.0'></a> 1.11.0

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.3</td>
  </tr><tr>
    <td>binary-offline-buildpack</td><td>1.0.13</td>
  </tr><tr>
    <td>capi</td><td>1.28.0\*</td>
  </tr><tr>
    <td>cf</td><td>259\*</td>
  </tr><tr>
    <td>cf-autoscaling</td><td>93</td>
  </tr><tr>
    <td>cf-backup-and-restore</td><td>0.0.3</td>
  </tr><tr>
    <td>cf-mysql</td><td>35.0.1</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cf-smoke-tests</td><td>21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.123.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.16.1</td>
  </tr><tr>
    <td>dotnet-core-offline-buildpack</td><td>1.0.19</td>
  </tr><tr>
    <td>etcd</td><td>104</td>
  </tr><tr>
    <td>garden-runc</td><td>1.6.0</td>
  </tr><tr>
    <td>go-offline-buildpack</td><td>1.8.4</td>
  </tr><tr>
    <td>java-offline-buildpack</td><td>3.16.1</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>mysql-backup</td><td>1.33.0</td>
  </tr><tr>
    <td>mysql-monitoring</td><td>8.1.3</td>
  </tr><tr>
    <td>nats</td><td>16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.3</td>
  </tr><tr>
    <td>nodejs-offline-buildpack</td><td>1.5.36</td>
  </tr><tr>
    <td>notifications</td><td>36</td>
  </tr><tr>
    <td>notifications-ui</td><td>28</td>
  </tr><tr>
    <td>php-offline-buildpack</td><td>4.3.34</td>
  </tr><tr>
    <td>pivotal-account</td><td>1.6.0</td>
  </tr><tr>
    <td>postgres</td><td>17</td>
  </tr><tr>
    <td>push-apps-manager-release</td><td>661.1.24</td>
  </tr><tr>
    <td>python-offline-buildpack</td><td>1.5.19</td>
  </tr><tr>
    <td>routing</td><td>0.157.0</td>
  </tr><tr>
    <td>ruby-offline-buildpack</td><td>1.6.40</td>
  </tr><tr>
    <td>scalablesyslog</td><td>4</td>
  </tr><tr>
    <td>service-backup</td><td>18.0.4</td>
  </tr><tr>
    <td>staticfile-offline-buildpack</td><td>1.4.6</td>
  </tr><tr>
    <td>statsd-injector</td><td>1.0.28</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr><tr>
    <td>uaa</td><td>40</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

## <a id='upgrade'></a> How to Upgrade

The procedure for upgrading to Pivotal Cloud Foundry Elastic Runtime v1.11 is
documented in the [Upgrading Pivotal Cloud
Foundry](../customizing/upgrading-pcf.html) topic.

When upgrading to v1.11, be aware of the following upgrade considerations:

* You must upgrade first to a version of Elastic Runtime v1.10.x in order to
  successfully upgrade to v1.11.
* Some partner service tiles may be incompatible with PCF v1.11. Pivotal is
  working with partners to ensure their tiles are being updated to work with the
  latest versions of PCF.<br/><br/> For information about which partner service
  releases are currently compatible with PCF v1.11, review the appropriate
  partners services release documentation at
  [https://docs.pivotal.io](https://docs.pivotal.io), or contact the partner
  organization that produces the tile.

## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the Elastic Runtime tile includes new
functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when
using them in production.

## <a id='1.11.0'></a> New Features in Elastic Runtime v1.11.0

This section describes new features of the release.

### <a id='apps-manager-508'></a> Apps Manager 508 Compliance

Apps Manager has improved its compliance with [Section 508](https://www.section508.gov/)
of the Rehabilitation Act. Customers can now receive an approved Voluntary Product
Accessibility Template (VPAT) for Apps Manager.

### <a id='container-networking'></a> Container-to-Container Networking

The Container-to-Container Networking feature in Elastic Runtime is out of
beta. For more information, see the [Container-to-Container
Networking](../devguide/deploy-apps/cf-networking.html) topic.

### <a id='volume-services'></a> Volume Services

General support for volume services inside of application containers is out of
beta. Additionally, the Elastic Runtime ships with an NFS Volume Service
Broker.

For more information, see
[Using an External File System (Volume Services)](../devguide/services/using-vol-services.html)
and [Enabling NFS Volume Services](../opsguide/enable-vol-services.html).

### <a id='disk-quotas'></a> Increased Application Maximum Disk Quotas

For applications that require large amounts of disk, the maximum disk quota has been raised
to 20GB. This will allow application developers to specify a disk size up to 20GB for their
applications.

Operators should take note that applications with large disk settings can be difficult for
Diego to find a placement for. If there is not enough disk on any of the Diego Cells,
developers will see an "insufficient resources" error message. Ensuring your Diego Cells
provide enough disk to accommodate these much larger application instances will be an
important part of your resource planning.

### <a id='override-dns'></a> Override DNS Servers

By default, containers use the same DNS servers as the host. To
override the DNS servers used by the containers of an isolation segment,
enter a comma-separated list of servers in the **DNS Servers** field of the
**Application Containers** section of the tile.

### <a id='ha-defaults'></a> Highly-Available Default Configuration

The Resource Configuration defaults have been changed to streamline the path to a
production-ready deployment. The default instance count for each VM type in the
deployment has been set to ensure an operator can deploy a highly-available Cloud
Foundry out of the box.

This change will result in larger resource requirements for a default Elastic Runtime
deployment. Operators should take this into account when deploying environments on
constrained resources.

### <a id='sha2-checksums'></a> Component BOSH releases are SHA2-checksummed

BOSH now supports releases that include a SHA2-checksum of their contents. All the
releases included in the Elastic Runtime have been checksummed with SHA2 for improved
data integrity in the face of hash collisions.

### <a id='bbr'></a> BOSH Backup and Restore

The Elastic Runtime now includes support for the new BOSH Backup and Restore tool (`bbr`).
Using `bbr` allow an operator to take a snapshot of their internal blobstore and databases.

### <a id='priv-docker-reg'></a> Private Docker Registries

Application developers can now push Docker-based applications with images that are hosted
on a private registry.

PCF can use private Docker repositories from various different Docker registries:

<table border="1" class="nice" >
  <tr>
    <th>Registry</th>
    <th>Version</th>
  </tr>
  <tr>
    <td>DockerHub and Docker Trusted Registry</td>
    <td>1.11.0</td>
  </tr>
  <tr>
    <td>Sonatype Nexus</td>
    <td>1.11.0</td>
  </tr>
  <tr>
    <td>VMWare Harbour</td>
    <td>1.11.0</td>
  </tr>
  <tr>
    <td>JFrog Artifactor</td>
    <td>1.11.3</td>
  </tr>
  <tr>
    <td>Google Container Registry (GCR)</td>
    <td>1.11.3 (*)</td>
  </tr>
  <tr>
    <td>EC2 Container Registry (ECR)</td>
    <td>Not Supported</td>
  </tr>
</table>

\* GCR can be used to host private Docker images for PCF. However, the passwords
GCR issues are essentially access tokens which expire within an hour. This
means that the initial application push will be successful but the application
may later crash as PCF will not be able to contact GCR.

### <a id='syslog'></a> Common Syslog Formatting and Syslog over TLS

The Elastic Runtime now emits BOSH component logs in a common syslog format
following RFC5424.  Additionally, syslog over TLS is now supported to allow
operators to deliver their platform logs securely to their syslog aggregator.

### <a id='uaa-sql-server'></a> UAA supports SQL Server database

Operators can now independently configure their UAA service to store its data in an external
SQL Server database. You can configure the UAA database in the **UAA**
pane of the Elastic Runtime tile.

**Important Note**: UAA database configuration has been fully separated into
the UAA tab to allow its independent configuration. Upon upgrade, settings will
be migrated from the existing installation. Going forward, you must change both
the UAA and System Database forms to keep their configuration in sync.

### <a id='locket'></a> Improved Distributed Lock Management

In older versions of the Elastic Runtime, components that needed to maintain a distributed
lock could leverage Consul to handle the locking mechanism. In 1.11, that locking mechanism
has been replaced with a new service called `locket`. By switching to `locket`, the Elastic
Runtime will be moving onto a more stable footing for its distributed locking needs.

### <a id='internal-uaa-expire'></a> UAA User Passwords Never Expire

As of v1.11, Elastic Runtime no longer provides the **Number of Months Before
Password Expires** field in the **Authentication and Enterprise SSO** section.
Instead, it sets the value to zero, which means that UAA user passwords for
deployments using internal UAA never expire.

If you have set a non-zero password expiry, Elastic Runtime will set it to zero
when you upgrade from v1.10 to v1.11.

### <a id='uaa-redirect-uris'></a>Redirect URI Validation for OAuth Clients

Starting from v1.11, UAA validates the redirect URIs of OAuth clients to
prevent open redirect attacks. A redirect URI is now a mandatory parameter for
OAuth clients that use the `authorization_code` and `implicit` grant types to
acquire an access token. For more information, see [Known
Issues](runtime-rn.html#uaa-redirect).

### <a id='scalable-syslog'></a> Scalable Syslog

Loggregator now uses the [Scalable
Syslog](https://github.com/cloudfoundry/scalable-syslog-release) BOSH release
to support streaming app logs to syslog-compatible aggregation or analytics
services. This new delivery method has the following benefits:

* Decouples syslog drains from the Firehose
* Prevents log loss in the Firehose that previously resulted from syslog drains
  competing for the resources used to deliver logs
* Provides high message reliability for syslog drains
* Maintains the UX of binding an app to a syslog drain service through Cloud
  Foundry user-provided services (CUPS)

For more information about Scalabe Syslog in PCF, see [Overview of the
Loggregator System](../loggregator/architecture.html).

## <a id='knownissues'></a> Known Issues

This section lists known issues for PCF Elastic Runtime.

### <a id='unavailability-internal-mysql-update'></a>Brief Unavailability of Application Management during Internal MySQL Database Updates

This issue applies only to Elastic Runtime deployments using an internal MySQL
database with more than one MySQL instance. When updating this MySQL database
deployment, some application management operations such as `cf push` may become
unavailable for up to 15 seconds, as may the Routing API. Application instances
will continue to run, however, and their routes will remain registered. This
period of unavailability results from certain Elastic Runtime components losing
their leader-election locks and being able to reclaim the lock only after the
15-second lock expiration time. This availability issue will be fixed in a
forthcoming patch release.

### <a id='autoscaler'></a>App Autoscaler Panic

The App Autoscaler service can panic due to an issue with leader election. To
avoid this issue, operators must manually scale the App Autoscaler service down
to one instance before starting the upgrade to PCF v1.11. For more information,
see the [Scale Down App
Autoscaler](../customizing/upgrading-pcf.html#autoscaler) section of the
<em>Upgrading Pivotal Cloud Foundry</em> topic.

If you fail to complete this procedure prior to the upgrade and the App
Autoscaler service panics, follow the instructions in the [Autoscalar failing
on SQL query](https://discuss.pivotal.io/hc/en-us/articles/115008780768)
Knowledge Base article to restore the service.

### <a id='metrics'></a>Loggregator Metrics

Reverse Log Proxy (RLP) and Traffic Controller emit metrics tagged with a
hard-coded deployment name. Because the components do not allow the deployment
name to be configured, Metron cannot properly tag the metrics. This affects the
following metrics:

* `loggregator.rlp.ingress`
* `loggregator.rlp.dropped`
* `loggregator.rlp.egress`
* `loggregator.trafficcontroller.ingress`

A patch is planned to fix this issue and apply the deployment name consistently.

### <a id='mount-location'></a>Mount Location Bug

If you have the `VOLUME ["/some/data/dir"]` directive in your image, ensure
your `"mount"` section in your bind JSON matches what is in the Dockerfile,
such as `"mount":"/some/data/dir"`.

See [this example
Dockerfile](https://github.com/azwickey-pivotal/volume-demo/blob/master/Dockerfile#L5)
on GitHub for reference.

This only works if the path in question is in an already existing root level
folder. For example, `"/var/some/random/path"` works, but
`"/some/random/path"` causes your app to crash at startup. This limitation
is caused by an aufs bug.

### <a id='ecr-gcr-issue'></a> Private Docker Registry Support for ECR, GCR and JFrog Artifactory

**Fixed in ERT 1.11.3.**

The private Docker registry support referenced above does not currently support
Amazon EC2 Container Registry, Google Cloud Platform Container Registry, or JFrog Artifactory.
Future patches will bring support for these registries.

### <a id='uaa-redirect'></a>UAA Redirect URIs

A redirect URI is now a mandatory parameter for the `authorization_code` and
`implicit` grant types, which is required to submit an access request. When
using the UAA API or UAAC and declaring OAuth clients in the manifest, make
sure at least one redirect URI is specified. Existing OAuth clients that do not
provide this information will get an error when accessing the
`/oauth/authorize` endpoint. See the example below:

<pre class='terminal'>
{
"error": "invalid_client",
"error_description": "authorization_code grant type requires at least one redirect URL."
}
</pre>

Redirect URIs should start with `http` or `https`. A subdomain regex is
supported only in the first part of the base domain:

  * `https://*.apps.com` is supported.
  * `https://*.apps.com*` is not supported.
  * `https://*.apps*.com*` is not supported.

### <a id='fail-postgres'></a>Failed Upgrade In Large Deployments

Upgrades of large deployments to Elastic Runtime v1.11 may fail due to a
timeout while updating PostgreSQL. If the upgrade fails, redeploy.

For more information, see the ["Deploying ERT 1.11 fails to due to a timeout
while updating
PostGreSQL"](https://discuss.pivotal.io/hc/en-us/articles/115008875387)
Knowledge Base article.

### <a id='rep-crashes'></a>Diego Cell Rep Crashes

**Fixed in ERT 1.11.1.**

In ERT 1.11.0, the Diego cell rep process will
infrequently crash as a result of a race condition when buffering health-check
logs for application instances. The application instances on that cell will be
rescheduled when the rep process is restarted or when the Diego system notices
that its presence has expired, typically within 15 seconds of the rep process
crashing.
