---
title: PCF Isolation Segment v2.5 Release Notes
owner: Release Engineering
---

This topic contains release notes for Pivotal Cloud Foundry (PCF) Isolation Segment v2.6.

<hr>

## <a id='releases'></a> Releases
 
<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>
 
### <a id='2.5.19'></a> 2.5.19

**Release Date:** 02/06/2020

* **[Feature Improvement]** Use the Diego logging format for the Garden job
* Bump ubuntu-xenial stemcell to version `250.178`
* Bump cflinuxfs3 to version `0.161.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.178</td></tr>
    <tr><td>bpm</td><td>1.1.1</td></tr>
    <tr><td>cf-networking</td><td>2.20.9</td></tr>
    <tr><td>cflinuxfs2</td><td>1.310.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.161.0</td></tr>
    <tr><td>diego</td><td>2.27.12</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>loggregator-agent</td><td>2.3.5</td></tr>
    <tr><td>mapfs</td><td>1.2.0</td></tr>
    <tr><td>nfs-volume</td><td>1.7.12</td></tr>
    <tr><td>routing</td><td>0.187.9</td></tr>
    <tr><td>silk</td><td>2.20.9</td></tr>
    <tr><td>smb-volume</td><td>2.1.1</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.5.18'></a> 2.5.18

**Release Date:** 01/16/2020

* **[Bug Fix]** mapfs - Fix error when appending to a file
* Bump ubuntu-xenial stemcell to version `250.170`
* Bump cflinuxfs3 to version `0.152.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.170</td></tr>
    <tr><td>bpm</td><td>1.1.1</td></tr>
    <tr><td>cf-networking</td><td>2.20.9</td></tr>
    <tr><td>cflinuxfs2</td><td>1.310.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.152.0</td></tr>
    <tr><td>diego</td><td>2.27.12</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>loggregator-agent</td><td>2.3.5</td></tr>
    <tr><td>mapfs</td><td>1.2.0</td></tr>
    <tr><td>nfs-volume</td><td>1.7.12</td></tr>
    <tr><td>routing</td><td>0.187.9</td></tr>
    <tr><td>silk</td><td>2.20.9</td></tr>
    <tr><td>smb-volume</td><td>2.1.1</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>

### <a id='2.5.17'></a> 2.5.17

**Release Date:** 12/26/2019

* **[Security Fix]** [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596) - Fix panic upon an attempt to process network traffic containing an invalid DSA public key for syslog release
* **[Security Fix]** [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596) - Fix panic upon an attempt to process network traffic containing an invalid DSA public key for garden-runc release
* **[Security Fix]** [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596) - Fix panic upon an attempt to process network traffic containing an invalid DSA public key for loggregator releases
* **[Bug Fix]** Passwords containing commas no longer cause the SMB volume service to crash at startup with a "mount failed" error
* **[Bug Fix]** Silk correctly calculates non-standard CIDRs
* Bump ubuntu-xenial stemcell to version `250.161`
* Bump cf-networking to version `2.20.9`
* Bump cflinuxfs2 to version `1.310.0`
* Bump cflinuxfs3 to version `0.151.0`
* Bump garden-runc to version `1.19.9`
* Bump loggregator-agent to version `2.3.5`
* Bump silk to version `2.20.9`
* Bump smb-volume to version `2.1.1`
* Bump syslog to version `11.6.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.161</td></tr>
    <tr><td>bpm</td><td>1.1.1</td></tr>
    <tr><td>cf-networking</td><td>2.20.9</td></tr>
    <tr><td>cflinuxfs2</td><td>1.310.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.151.0</td></tr>
    <tr><td>diego</td><td>2.27.12</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>loggregator-agent</td><td>2.3.5</td></tr>
    <tr><td>mapfs</td><td>1.2.1</td></tr>
    <tr><td>nfs-volume</td><td>1.7.12</td></tr>
    <tr><td>routing</td><td>0.187.9</td></tr>
    <tr><td>silk</td><td>2.20.9</td></tr>
    <tr><td>smb-volume</td><td>2.1.1</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>

### <a id='2.5.16'></a> 2.5.16

**Release Date:** 12/09/2019

* **[Feature Improvement]** Upgrade Routing, Networking, and Silk releases to use go 1.13 release
* Bump cf-networking to version `2.20.8`
* Bump cflinuxfs2 to version `1.307.0`
* Bump cflinuxfs3 to version `0.150.0`
* Bump routing to version `0.187.9`
* Bump silk to version `2.20.8`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.159</td></tr>
    <tr><td>bpm</td><td>1.1.1</td></tr>
    <tr><td>cf-networking</td><td>2.20.8</td></tr>
    <tr><td>cflinuxfs2</td><td>1.307.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.150.0</td></tr>
    <tr><td>diego</td><td>2.27.12</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>loggregator-agent</td><td>2.3.4</td></tr>
    <tr><td>mapfs</td><td>1.2.1</td></tr>
    <tr><td>nfs-volume</td><td>1.7.12</td></tr>
    <tr><td>routing</td><td>0.187.9</td></tr>
    <tr><td>silk</td><td>2.20.8</td></tr>
    <tr><td>smb-volume</td><td>2.1.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.5.15'></a> 2.5.15

**Release Date:** 12/02/2019

* **[Feature]** Allow operator to set a new bind configuration "version" on volume mounts. Operators with older versions of smb software can now use volume services.
* Bump ubuntu-xenial stemcell to version `250.159`
* Bump cflinuxfs3 to version `0.149.0`
* Bump smb-volume to version `2.1.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.159</td></tr>
    <tr><td>bpm</td><td>1.1.1</td></tr>
    <tr><td>cf-networking</td><td>2.20.6</td></tr>
    <tr><td>cflinuxfs2</td><td>1.306.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.149.0</td></tr>
    <tr><td>diego</td><td>2.27.12</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>loggregator-agent</td><td>2.3.4</td></tr>
    <tr><td>mapfs</td><td>1.2.1</td></tr>
    <tr><td>nfs-volume</td><td>1.7.12</td></tr>
    <tr><td>routing</td><td>0.187.5</td></tr>
    <tr><td>silk</td><td>2.20.1</td></tr>
    <tr><td>smb-volume</td><td>2.1.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.5.14'></a> 2.5.14

**Release Date:** 11/19/2019

* **[Security Fix]** Address [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596)
* **[Security Fix]** Improve Gorouter resiliency to panics
* Bump ubuntu-xenial stemcell to version `250.147`
* Bump cflinuxfs2 to version `1.306.0`
* Bump cflinuxfs3 to version `0.143.0`
* Bump mapfs to version `1.2.1`
* Bump nfs-volume to version `1.7.12`
* Bump routing to version `0.187.5`
* Bump smb-volume to version `2.0.4`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.147</td></tr>
    <tr><td>bpm</td><td>1.1.1</td></tr>
    <tr><td>cf-networking</td><td>2.20.6</td></tr>
    <tr><td>cflinuxfs2</td><td>1.306.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.143.0</td></tr>
    <tr><td>diego</td><td>2.27.12</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>loggregator-agent</td><td>2.3.4</td></tr>
    <tr><td>mapfs</td><td>1.2.1</td></tr>
    <tr><td>nfs-volume</td><td>1.7.12</td></tr>
    <tr><td>routing</td><td>0.187.5</td></tr>
    <tr><td>silk</td><td>2.20.1</td></tr>
    <tr><td>smb-volume</td><td>2.0.4</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.5.13'></a> 2.5.13

**Release Date:** 10/31/2019

* **[Security Fix]** Upgrade Go, runc and containerd to latest to include security fixes
* **[Security Fix]** CVE-2019-17596 bump Go
* **[Bug Fix]** Fix goroutine leak for websockets.
* Bump ubuntu-xenial stemcell to version `250.130`
* Bump cflinuxfs2 to version `1.297.0`
* Bump cflinuxfs3 to version `0.137.0`
* Bump garden-runc to version `1.19.8`
* Bump loggregator-agent to version `2.3.4`
* Bump routing to version `0.187.4`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.130</td></tr>
    <tr><td>bpm</td><td>1.1.1</td></tr>
    <tr><td>cf-networking</td><td>2.20.6</td></tr>
    <tr><td>cflinuxfs2</td><td>1.297.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.137.0</td></tr>
    <tr><td>diego</td><td>2.27.12</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>loggregator-agent</td><td>2.3.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.7.11</td></tr>
    <tr><td>routing</td><td>0.187.4</td></tr>
    <tr><td>silk</td><td>2.20.1</td></tr>
    <tr><td>smb-volume</td><td>2.0.3</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.5.12'></a> 2.5.12

**Release Date:** 10/16/2019

* **[Security Fix]** Bump Go to address CVE-2019-16276
* **[Security Fix]** Improve redaction of sensitive data in SMB driver bosh logs
* **[Bug Fix]** Fix defect disallowing "domain" option in SMB volume service
* Bump ubuntu-xenial stemcell to version `250.116`
* Bump cflinuxfs2 to version `1.295.0`
* Bump cflinuxfs3 to version `0.133.0`
* Bump loggregator-agent to version `2.3.2`
* Bump smb-volume to version `2.0.3`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.116</td></tr>
    <tr><td>bpm</td><td>1.1.1</td></tr>
    <tr><td>cf-networking</td><td>2.20.6</td></tr>
    <tr><td>cflinuxfs2</td><td>1.295.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.133.0</td></tr>
    <tr><td>diego</td><td>2.27.12</td></tr>
    <tr><td>garden-runc</td><td>1.19.7</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>loggregator-agent</td><td>2.3.2</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.7.11</td></tr>
    <tr><td>routing</td><td>0.187.3</td></tr>
    <tr><td>silk</td><td>2.20.1</td></tr>
    <tr><td>smb-volume</td><td>2.0.3</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.5.11'></a> 2.5.11

**Release Date:** 10/08/2019

* **[Security Fix]** Upgrade Diego Components to Use grpc v1.23.0 and Go 1.12.9 to Fix HTTP2 CVEs
* **[Security Fix]** Bump garden-runc release to take Go HTTP/2 and containerd gRPC fixes
* **[Feature Improvement]** Set maximum database connection lifetime to 1 hour for Diego Locket component to reduce resource contention on PAS database
* **[Bug Fix]** Improve scalability of container-to-container service discovery by increasing file descriptor limit on bosh-dns-adapter
* Bump ubuntu-xenial stemcell to version `250.112`
* Bump cf-networking to version `2.20.6`
* Bump cflinuxfs2 to version `1.294.0`
* Bump cflinuxfs3 to version `0.130.0`
* Bump diego to version `2.27.12`
* Bump garden-runc to version `1.19.7`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.112</td></tr>
    <tr><td>bpm</td><td>1.1.1</td></tr>
    <tr><td>cf-networking</td><td>2.20.6</td></tr>
    <tr><td>cflinuxfs2</td><td>1.294.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.130.0</td></tr>
    <tr><td>diego</td><td>2.27.12</td></tr>
    <tr><td>garden-runc</td><td>1.19.7</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.7.11</td></tr>
    <tr><td>routing</td><td>0.187.3</td></tr>
    <tr><td>silk</td><td>2.20.1</td></tr>
    <tr><td>smb-volume</td><td>2.0.1</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.5.10'></a> 2.5.10

**Release Date:** 09/24/2019

* **[Bug Fix]** Fixes a regression bug causing mounts for applications bound to smb volume services with an older version of the smbbroker to fail on restart or upgrade
* Bump ubuntu-xenial stemcell to version `250.110`
* Bump cflinuxfs2 to version `1.292.0`
* Bump cflinuxfs3 to version `0.128.0`
* Bump smb-volume to version `2.0.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.110</td></tr>
    <tr><td>bpm</td><td>1.1.1</td></tr>
    <tr><td>cf-networking</td><td>2.20.5</td></tr>
    <tr><td>cflinuxfs2</td><td>1.292.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.128.0</td></tr>
    <tr><td>diego</td><td>2.27.9</td></tr>
    <tr><td>garden-runc</td><td>1.19.5</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.7.11</td></tr>
    <tr><td>routing</td><td>0.187.3</td></tr>
    <tr><td>silk</td><td>2.20.1</td></tr>
    <tr><td>smb-volume</td><td>2.0.1</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.5.9'></a> 2.5.9

**Release Date:** 09/17/2019

* **[Security Fix]** Improve LDAP username validation for NFS LDAP integration
* **[Feature Improvement]** Add configuration for router balancing algorithm
* **[Bug Fix]** Fix race condition in garden-external-networker
* **[Bug Fix]** Keep resending route unregistration message to prevent application misrouting in case of NATS routing tier instability
* Bump ubuntu-xenial stemcell to version `250.99`
* Bump cf-networking to version `2.20.5`
* Add new release cflinuxfs2 at version `1.289.0`
* Bump cflinuxfs3 to version `0.123.0`
* Bump diego to version `2.27.9`
* Bump nfs-volume to version `1.7.11`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.99</td></tr>
    <tr><td>bpm</td><td>1.1.1</td></tr>
    <tr><td>cf-networking</td><td>2.20.5</td></tr>
    <tr><td>cflinuxfs2</td><td>1.289.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.123.0</td></tr>
    <tr><td>diego</td><td>2.27.9</td></tr>
    <tr><td>garden-runc</td><td>1.19.5</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.7.11</td></tr>
    <tr><td>routing</td><td>0.187.3</td></tr>
    <tr><td>silk</td><td>2.20.1</td></tr>
    <tr><td>smb-volume</td><td>1.3.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.5.8'></a> 2.5.8

**Release Date:** 08/15/2019

* **[Security Fix]** Upgrade libseccomp in bpm to 2.4.1 to address CVE-2019-9893
* **[Bug Fix]** Improve output of Garden diagnostic tool (i.e. `dontpanic`) and increase resiliency in  edge cases through improvements in containerd
* Bump ubuntu-xenial stemcell to version `250.84`
* Bump bpm to version `1.1.1`
* Bump garden-runc to version `1.19.5`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.84</td></tr>
    <tr><td>bpm</td><td>1.1.1</td></tr>
    <tr><td>cf-networking</td><td>2.20.2</td></tr>
    <tr><td>cflinuxfs3</td><td>0.118.0</td></tr>
    <tr><td>diego</td><td>2.27.6</td></tr>
    <tr><td>garden-runc</td><td>1.19.5</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.7.10</td></tr>
    <tr><td>routing</td><td>0.187.3</td></tr>
    <tr><td>silk</td><td>2.20.1</td></tr>
    <tr><td>smb-volume</td><td>1.3.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.5.7'></a> 2.5.7

**Release Date:** 07/30/2019

* **[Bug Fix]** Fixes a regression causing `mount` bind configuration to be rejected by the SMB volume service broker
* **[Bug Fix]** Fix issue in SMB startup scripts that can cause restart failure or inadvertent application data permission change
* Bump ubuntu-xenial stemcell to version `250.82`
* Bump cflinuxfs3 to version `0.118.0`
* Bump smb-volume to version `1.3.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.82</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>cf-networking</td><td>2.20.2</td></tr>
    <tr><td>cflinuxfs3</td><td>0.118.0</td></tr>
    <tr><td>diego</td><td>2.27.6</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.7.10</td></tr>
    <tr><td>routing</td><td>0.187.3</td></tr>
    <tr><td>silk</td><td>2.20.1</td></tr>
    <tr><td>smb-volume</td><td>1.3.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.5.6'></a> 2.5.6
* **[Bug Fix]** Add optional TTL pruning for TLS routes
* Bump ubuntu-xenial stemcell to version `250.73`
* Bump cflinuxfs3 to version `0.109.0`
* Bump routing to version `0.187.3`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.73</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>cf-networking</td><td>2.20.2</td></tr>
    <tr><td>cflinuxfs3</td><td>0.109.0</td></tr>
    <tr><td>diego</td><td>2.27.6</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.7.10</td></tr>
    <tr><td>routing</td><td>0.187.3</td></tr>
    <tr><td>silk</td><td>2.20.1</td></tr>
    <tr><td>smb-volume</td><td>1.1.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.5.5'></a> 2.5.5

* **[Bug Fix]** Fix drain script in SMB volume driver to prevent it from unmounting shares before Diego has finished evacuating the cell
* **[Bug Fix]** Fix issue with Azure Gateway was keeping connections alive longer than they were available when using HAProxy
* Bump ubuntu-xenial stemcell to version `250.58`
* Bump cflinuxfs3 to version `0.101.0`
* Bump haproxy to version `9.5.2`
* Bump routing to version `0.187.2`
* Bump smb-volume to version `1.1.0`
* Removed loggregator release

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.58</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>cf-networking</td><td>2.20.2</td></tr>
    <tr><td>cflinuxfs3</td><td>0.101.0</td></tr>
    <tr><td>diego</td><td>2.27.6</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.7.10</td></tr>
    <tr><td>routing</td><td>0.187.2</td></tr>
    <tr><td>silk</td><td>2.20.1</td></tr>
    <tr><td>smb-volume</td><td>1.1.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.5.4'></a> 2.5.4

* **[Feature Improvement]** Update default polling interval and idle connection limits for networking components to reduce resource contention on PAS database
* **[Bug Fix]** Fixes NFS resource leak issues
* Bump cf-networking to version `2.20.2`
* Bump cflinuxfs3 to version `0.88.0`
* Bump nfs-volume to version `1.7.10`
* Bump silk to version `2.20.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.38</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>cf-networking</td><td>2.20.2</td></tr>
    <tr><td>cflinuxfs3</td><td>0.88.0</td></tr>
    <tr><td>diego</td><td>2.27.6</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>haproxy</td><td>9.4.1</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.7.10</td></tr>
    <tr><td>routing</td><td>0.187.1</td></tr>
    <tr><td>silk</td><td>2.20.1</td></tr>
    <tr><td>smb-volume</td><td>1.0.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.5.3'></a> 2.5.3

* **[Bug Fix]** Fixes backward compatibility issue with NFS that can prevent apps from binding to service instances created in PAS 2.2 or earlier
* Bump ubuntu-xenial stemcell to version `250.38`
* Bump cflinuxfs3 to version `0.86.0`
* Bump nfs-volume to version `1.7.9`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.38</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>cf-networking</td><td>2.20.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.86.0</td></tr>
    <tr><td>diego</td><td>2.27.6</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>haproxy</td><td>9.4.1</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.7.9</td></tr>
    <tr><td>routing</td><td>0.187.1</td></tr>
    <tr><td>silk</td><td>2.20.0</td></tr>
    <tr><td>smb-volume</td><td>1.0.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.5.2'></a> 2.5.2

* **[Feature Improvement]** Configure Diego LRP zones in Azure to point to BOSH AZs Zone
* **[Feature Improvement]** Add support for staging Docker images from repositories using schema version 2 manifests
* Bump ubuntu-xenial stemcell to version `250.29`
* Bump bpm to version `1.0.4`
* Bump cflinuxfs3 to version `0.80.0`
* Bump diego to version `2.27.6`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.29</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>cf-networking</td><td>2.20.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.80.0</td></tr>
    <tr><td>diego</td><td>2.27.6</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>haproxy</td><td>9.4.1</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.7.8</td></tr>
    <tr><td>routing</td><td>0.187.1</td></tr>
    <tr><td>silk</td><td>2.20.0</td></tr>
    <tr><td>smb-volume</td><td>1.0.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.5.1'></a> 2.5.1

* **[Feature Improvement]** Add support for TCP hitless reloads in haproxy to avoid connection reset errors
* **[Feature Improvement]** Add ability to enable/disable gorouter hairpinning
* **[Bug Fix]** Fix failed access checks on mount for NFS volume service with some Windows NFS servers
* **[Bug Fix]** Fix feature: "Operator can specify headers to be stripped from the response by the router"
* **[Bug Fix]** Fix diego rep to always clean up temporary download cache directory
* Bump ubuntu-xenial stemcell to version `250.25`
* Bump cflinuxfs3 to version `0.76.0`
* Bump diego to version `2.27.4`
* Bump garden-runc to version `1.19.0`
* Bump nfs-volume to version `1.7.8`
* Bump routing to version `0.187.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.25</td></tr>
    <tr><td>bpm</td><td>1.0.3</td></tr>
    <tr><td>cf-networking</td><td>2.20.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.76.0</td></tr>
    <tr><td>diego</td><td>2.27.4</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>haproxy</td><td>9.4.1</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.7.8</td></tr>
    <tr><td>routing</td><td>0.187.1</td></tr>
    <tr><td>silk</td><td>2.20.0</td></tr>
    <tr><td>smb-volume</td><td>1.0.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.5.0'></a> 2.5.0

See also:

- [Breaking Changes](https://docs.pivotal.io/pivotalcf/2-5/pcf-release-notes/breaking-changes.html)
- [New Features](#new-features)

* **[Breaking Change]** Remove `cflinuxfs2` root filesystem and buildpacks
* **[Breaking Change]** Remove inactive DNS server configuration that only applied to older deployments without BOSH DNS
* **[Feature]** Add ability to disable network policy enforcement between applications. See [Disable Network Policy Enforcement Between Apps](#disable-policy-enforcement).
* **[Feature]** Include garden debug tooling alongside garden

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.21</td></tr>
    <tr><td>bpm</td><td>1.0.3</td></tr>
    <tr><td>cf-networking</td><td>2.20.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.72.0</td></tr>
    <tr><td>diego</td><td>2.27.0</td></tr>
    <tr><td>garden-runc</td><td>1.18.0</td></tr>
    <tr><td>haproxy</td><td>9.4.1</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.7.7</td></tr>
    <tr><td>routing</td><td>0.186.0</td></tr>
    <tr><td>silk</td><td>2.20.0</td></tr>
    <tr><td>smb-volume</td><td>1.0.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>


## <a id='intro'></a> About PCF Isolation Segment

The PCF Isolation Segment v2.6 tile is available for installation with PCF v2.6.

Isolation segments provide dedicated pools of resources where you can deploy apps and isolate workloads. Using isolation segments separates app resources as completely as if they were in different PCF deployments but avoids redundant management and network complexity. For more information about isolation segments, see [Isolation Segments](https://docs.pivotal.io/pivotalcf/2-5/concepts/security.html#isolation-segments) in _PAS Security_.

For more information about using isolation segments in your deployment, see [Managing Isolation Segments](https://docs.pivotal.io/pivotalcf/2-5/adminguide/isolation-segments.html).


## <a id='install'></a> How to Install

To install PCF Isolation Segment v2.5, see [Installing PCF Isolation Segment](https://docs.pivotal.io/pivotalcf/2-5/customizing/installing-pcf-is.html).

To install a PCF Isolation Segment, you must first install PCF v2.5.


## <a id='new-features'></a> New Features in PCF Isolation Segment v2.5

PCF Isolation Segment v2.5 includes the following major features:

### <a id="disable-policy-enforcment"></a> Disable Network Policy Enforcement Between Apps

You can now disable Silk network policy enforcement between apps in the **Networking** pane of the PCF Isolation Segment tile. Disabling network policy enforcement allows all apps to send network traffic to all other apps in the foundation despite no policy specifically allowing it.

Silk is a network fabric for containers designed for Cloud Foundry. For more information about Silk, see the [Silk](https://github.com/cloudfoundry/silk) repository on GitHub.

### <a id=‘jobs-removed’></a> mysql-restore and mysql-backup Jobs Are Removed

PAS v2.5 does not use the `mysql-restore` and `mysql-backup` jobs to back up MySQL internally. Instead, each BOSH job is backed up separately with the BBR. `mysql-restore` and `mysql-backup` have therefore been removed.

For more information, see [Backing Up and Restoring Pivotal Cloud Foundry](https://docs.pivotal.io/pivotalcf/2-5/customizing/backup-restore/).


## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PCF Isolation Segment v2.5 tile includes new functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in production.


## <a id='known-issues'></a> Known Issues

PCF Isolation Segment v2.5 includes the following known issues:

### <a id='nsx-t'></a> NSX-T v2.3.1 and Earlier Not Compatible with PCF Isolation Segment

NSX-T v2.3.1 and earlier are not compatible with PCF Isolation Segment. The Gorouters in an isolation segment are not given access in the firewall rules for NSX-T v2.3.1 and earlier, which prevents them from communicating with apps.

NSX-T tiles v2.3.2 and later give access to the Gorouters in an isolation segment and are compatible with PCF Isolation Segment.
