---
title: PCF Isolation Segment v2.1 Release Notes
owner: Release Engineering
---

## <a id='releases'></a> Releases

<!--   <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.13</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.175.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.29.0</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>grootfs</td><td>0.30.0</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.1.3</td>
  </tr><tr>
    <td>routing</td><td>0.168.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>10</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table> -->

## <a id='intro'></a> About PCF Isolation Segment

The PCF Isolation Segment v2.1 tile is available for installation with PCF
v2.1.

<!----
[Isolation segments](http://docs-pcf-staging.cfapps.io/pivotalcf/2-1/concepts/security.html#isolation-segments) provide
dedicated pools of resources where you can deploy apps and  isolate workloads.
Using isolation segments separates app resources as completely as if they were
in different CF deployments but avoids redundant management and network
complexity.

For more information about using isolation segments in your deployment, see the
[Managing Isolation Segments](https://docs.pivotal.io/pivotalcf/2-1/adminguide/isolation-segments.html) topic.
---->

## <a id='install'></a> How to Install

<!----
The procedure for installing PCF Isolation Segment v2.1 is documented in the
[Installing PCF Isolation Segment](https://docs.pivotal.io/pivotalcf/2-1/customizing/installing-pcf-is.html) topic.---->

To install a PCF Isolation Segment, you must first install PCF v2.1.

## <a id='2.0.0'></a> New Features in PCF Isolation Segment v2.1

### <a id='route-consistency'> Improved Resiliency and Consistency for Application Routes

Gorouter now uses TLS to verify app identity by default.
This improves resiliency and consistency for app routes.
For more information about how Gorouter uses app instance validation to keep its routing table current,
see [Routing to App Instances](https://docs.pivotal.io/pivotalcf/2-1/concepts/http-routing.html#apps).

You can change this setting by disabling the **Router uses TLS to verify application identity** checkbox in the **Networking** pane of the PCF Isolation Segment tile.
Disabling it sets Gorouter to send traffic unencrypted and rely on pruning to maintain its routing table.

### <a id='keepalive-connections'> Gorouter Keepalive Connections to Backends Enabled by Default

In PCF Isolation Segment v2.1, the **Router Max Idle Keepalive Connections** field in the ** Networking** pane of the PCF Isolation Segment tile has been replaced by the **Enable Keepalive Connections for Router** checkbox.
The checkbox is enabled by default, and the maximum number of idle keepalive connections maintained by Gorouter to all backends is set to 49,000. This improves routing performance.

## <a id='adv-features'></a> About Advanced Features

