---
title: PCF Isolation Segment v1.11 Release Notes
owner: Release Engineering
---

## <a id='releases'></a> Releases

### <a id='1.11.0'></a> 1.11.0

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.10</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.50.0</td>
  </tr><tr>
    <td>consul</td><td>152</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>loggregator</td><td>77</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

## <a id='intro'></a> About PCF Isolation Segment

The PCF Isolation Segment v1.11 tile is available for installation with PCF v1.11.

[Isolation segments](../concepts/security.html#isolation-segments) provide dedicated pools of resources where you can deploy apps and  isolate workloads. Using isolation segments separates app resources as completely as if they were in different CF deployments but avoids redundant management and network complexity.

For more information on using isolation segments in your deployment, see the [Managing Isolation Segments](../adminguide/isolation-segments.html) topic.

## <a id='install'></a> How to Install

The procedure for installing PCF Isolation Segment v1.11 is documented in the
[Installing PCF Isolation Segment](../opsguide/installing-pcf-is.html) topic.

To install a PCF Isolation Segment, you must first install PCF v1.11.

## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PCF Isolation Segment tile includes new functionality that may have certain constraints.
Although these features are fully supported, Pivotal recommends caution when using them in production.

## <a id='1.11.0'></a> New Features in PCF Isolation Segment v1.11.0

This section describes new features of the release.

### <a id='override-dns'></a> Override DNS Servers

By default, containers use the same DNS servers as the host. If you want to override the DNS servers to be used in the containers in the isolation segment, enter a comma-separated list of servers in the **DNS Servers** in the **Application Containers** section of the tile.

### <a id='nfs3-vol-services'></a> NFSv3 Volume Services

The tile supports NFSv3 volume services. NFS volume services allow application developers to bind existing NFS volumes to their applications for shared file access. For more information, see the [Enabling NFS Volume Services](https://docs.pivotal.io/pivotalcf/1-11/opsguide/enable-vol-services.html) topic.

To enable it, select **Enable** under **Enabling NFSv3 volume services** in the **Application Containers** section of the tile.  

In a clean install of the tile, NFSv3 volume services will be enabled by default. In an upgrade, NFSv3 volume services will be set to the same setting as it was in the previous tile.

### <a id='container-to-container'></a> Container-to-Container Networking

The tile supports container-to-container-networking. To enable container-to-container networking, select **Enable** under **Enabling the Container-to-Container network** in the **Networking** section of the tile and complete the corresponding fields. For more information about container-to-container networking, see the [Understanding Container-to-Container Networking](https://docs.pivotal.io/pivotalcf/1-11/concepts/understand-cf-networking.html) topic.

### <a id='syslog'></a> System Logging

The tile has a **System Logging** section that enables operators to configure syslog for the Cells deployed within the tile.

### <a id='sha2'></a>SHA2 Checksum

Operators can verify the data integrity of the PCF Isolation Segment tile using the file's SHA2 checksum, rather than the MD5 checksum that was used in previous releases.

