---
title: PCF Isolation Segment v2.2 Release Notes
owner: Release Engineering
---

## <a id='releases'></a> Releases

### <a id='2.2.0'></a> 2.2.0

 <table border="1" class="nice">
 <thead> <tr>
   <th>Component</th>
   <th>Version</th>
 </tr>
 </thead>
 <tbody>
 <tr>
   <td>Stemcell</td><td>3541.8</td>
 </tr><tr>
   <td>cf-networking</td><td>1.10.0</td>
 </tr><tr>
   <td>cflinuxfs2</td><td>1.188.0</td>
 </tr><tr>
   <td>consul</td><td>191</td>
 </tr><tr>
   <td>diego</td><td>1.35.0</td>
 </tr><tr>
   <td>garden-runc</td><td>1.11.1</td>
 </tr><tr>
   <td>haproxy</td><td>8.6.0</td>
 </tr><tr>
   <td>loggregator</td><td>101.5\*</td>
 </tr><tr>
   <td>nfs-volume</td><td>1.2.0</td>
 </tr><tr>
   <td>routing</td><td>0.172.0</td>
 </tr><tr>
   <td>syslog-migration</td><td>11.1.0</td>
 </tr>
 </tbody>
 <tfoot>
 <tr>
   <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
 </tr>
 </tfoot>
 </table>

## <a id='intro'></a> About PCF Isolation Segment

The PCF Isolation Segment v2.2 tile is available for installation with PCF
v2.2.

[Isolation segments](http://docs.pivotal.io/pivotalcf/2-1/concepts/security.html#isolation-segments) provide
dedicated pools of resources where you can deploy apps and isolate workloads.
Using isolation segments separates app resources as completely as if they were
in different CF deployments but avoids redundant management and network
complexity.

For more information about using isolation segments in your deployment, see the
[Managing Isolation Segments](https://docs.pivotal.io/pivotalcf/2-1/adminguide/isolation-segments.html) topic.

## <a id='install'></a> How to Install

The procedure for installing PCF Isolation Segment v2.2 is documented in the
[Installing PCF Isolation Segment](https://docs.pivotal.io/pivotalcf/2-1/customizing/installing-pcf-is.html) topic.

To install a PCF Isolation Segment, you must first install PCF v2.2.

## <a id='2.2.0'></a> New Features in PCF Isolation Segment v2.2

No new features at this time.

## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PCF Isolation Segment v2.2 tile includes new functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in production.