---
title: PCF Isolation Segment v2.4 Release Notes
owner: Release Engineering
---

## <a id='releases'></a> Releases

### <a id='2.4.8'></a> 2.4.8

* **[Feature Improvement]** Update default polling interval and idle connection limits for networking components to reduce resource contention on PAS database
* **[Bug Fix]** Fixes NFS resource leak issues
* Bump cf-networking to version `2.18.5`
* Bump cflinuxfs3 to version `0.88.0`
* Bump nfs-volume to version `1.7.10`
* Bump silk to version `2.18.2`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.51</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>cf-networking</td><td>2.18.5</td></tr>
    <tr><td>cflinuxfs2</td><td>1.283.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.88.0</td></tr>
    <tr><td>diego</td><td>2.22.8</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.7.10</td></tr>
    <tr><td>routing</td><td>0.182.5</td></tr>
    <tr><td>silk</td><td>2.18.2</td></tr>
    <tr><td>smb-volume</td><td>0.2.6</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.4.7'></a> 2.4.7

* **[Bug Fix]** Fixes backward compatibility issue with NFS that can prevent apps from binding to service instances created in PAS 2.2 or earlier
* Bump ubuntu-xenial stemcell to version `170.51`
* Bump cflinuxfs2 to version `1.283.0`
* Bump cflinuxfs3 to version `0.86.0`
* Bump nfs-volume to version `1.7.9`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.51</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>cf-networking</td><td>2.18.3</td></tr>
    <tr><td>cflinuxfs2</td><td>1.283.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.86.0</td></tr>
    <tr><td>diego</td><td>2.22.8</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.7.9</td></tr>
    <tr><td>routing</td><td>0.182.5</td></tr>
    <tr><td>silk</td><td>2.18.1</td></tr>
    <tr><td>smb-volume</td><td>0.2.6</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.4.6'></a> 2.4.6

* **[Feature Improvement]** Add support for staging Docker images from repositories using schema version 2 manifests
* Bump ubuntu-xenial stemcell to version `170.48`
* Bump bpm to version `1.0.4`
* Bump cflinuxfs2 to version `1.280.0`
* Bump cflinuxfs3 to version `0.81.0`
* Bump diego to version `2.22.8`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.48</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>cf-networking</td><td>2.18.3</td></tr>
    <tr><td>cflinuxfs2</td><td>1.280.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.81.0</td></tr>
    <tr><td>diego</td><td>2.22.8</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.7.8</td></tr>
    <tr><td>routing</td><td>0.182.5</td></tr>
    <tr><td>silk</td><td>2.18.1</td></tr>
    <tr><td>smb-volume</td><td>0.2.6</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.4.5'></a> 2.4.5

* **[Feature Improvement]** Add support for TCP hitless reloads in haproxy to avoid connection reset errors
* **[Feature Improvement]** Add ability to enable/disable gorouter hairpinning
* **[Bug Fix]** Fix policy pruning when there are more than 50 spaces
* **[Bug Fix]** Fix failed access checks on mount for NFS volume service with some Windows NFS servers
* **[Bug Fix]** Fix feature: "Operator can specify headers to be stripped from the response by the router"
* **[Bug Fix]** Properly populate chained CA certificates for backend proxies when route integrity is enabled
* **[Bug Fix]** Fix diego rep to always clean up temporary download cache directory
* Bump ubuntu-xenial stemcell to version `170.45`
* Bump cf-networking to version `2.18.3`
* Bump cflinuxfs2 to version `1.279.0`
* Bump cflinuxfs3 to version `0.76.0`
* Bump diego to version `2.22.7`
* Bump garden-runc to version `1.19.0`
* Bump nfs-volume to version `1.7.8`
* Bump routing to version `0.182.5`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.45</td></tr>
    <tr><td>bpm</td><td>1.0.3</td></tr>
    <tr><td>cf-networking</td><td>2.18.3</td></tr>
    <tr><td>cflinuxfs2</td><td>1.279.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.76.0</td></tr>
    <tr><td>diego</td><td>2.22.7</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.7.8</td></tr>
    <tr><td>routing</td><td>0.182.5</td></tr>
    <tr><td>silk</td><td>2.18.1</td></tr>
    <tr><td>smb-volume</td><td>0.2.6</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.4.4'></a> 2.4.4

* **[Security Fix]** Bump BPM to v1.0.3 for RunC CVE
* **[Bug Fix]** Fixes access issue for NFS shares with `root_squash` enabled and no world read permissions
* **[Bug Fix]** Fix potential `routing-api` failure to start due to DNS query issue in golang 1.11
* Bump ubuntu-xenial stemcell to version `170.30`
* Bump bpm to version `1.0.3`
* Bump cflinuxfs2 to version `1.267.0`
* Bump cflinuxfs3 to version `0.62.0`
* Bump loggregator-agent to version `2.3`
* Bump loggregator to version `103.4`
* Bump mapfs to version `1.1.4`
* Bump routing to version `0.182.3`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.30</td></tr>
    <tr><td>bpm</td><td>1.0.3</td></tr>
    <tr><td>cf-networking</td><td>2.18.2</td></tr>
    <tr><td>cflinuxfs2</td><td>1.267.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.62.0</td></tr>
    <tr><td>diego</td><td>2.22.1</td></tr>
    <tr><td>garden-runc</td><td>1.18.0</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.7.7</td></tr>
    <tr><td>routing</td><td>0.182.3</td></tr>
    <tr><td>silk</td><td>2.18.1</td></tr>
    <tr><td>smb-volume</td><td>0.2.6</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.4.3'></a> 2.4.3

* **[Feature]** Include garden debug tooling alongside garden
* **[Bug Fix]** Fix accumulating TCP Router HAProxy <defunct> instances
* **[Bug Fix]** Fix concurrency bug in the Router's route pool, which could manifest as a fatal error: "Unlock of unlocked RWMutex"
* **[Bug Fix]** Fix `allowNativePassword` error when using external IaaS MySql as a system database
* Bump ubuntu-xenial stemcell to version `170.25`
* Bump cflinuxfs2 to version `1.260.0`
* Bump cflinuxfs3 to version `0.51.0`
* Bump garden-runc to version `1.18.0`
* Bump nfs-volume to version `1.7.7`
* Bump routing to version `0.182.2`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.25</td></tr>
    <tr><td>bpm</td><td>0.13.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.2</td></tr>
    <tr><td>cflinuxfs2</td><td>1.260.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.51.0</td></tr>
    <tr><td>diego</td><td>2.22.1</td></tr>
    <tr><td>garden-runc</td><td>1.18.0</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>loggregator-agent</td><td>2.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.1.2</td></tr>
    <tr><td>nfs-volume</td><td>1.7.7</td></tr>
    <tr><td>routing</td><td>0.182.2</td></tr>
    <tr><td>silk</td><td>2.18.1</td></tr>
    <tr><td>smb-volume</td><td>0.2.6</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.4.2'></a> 2.4.2

* **[Bug Fix]** Volume service broker deployment errands use unique CF_HOME directories to avoid login conflicts
* **[Bug Fix]** Bump NFS release to avoid possible golang 1.11.0 DNS resolution bugs
* Bump ubuntu-xenial stemcell to version `170.15`
* Bump cflinuxfs2 to version `1.259.0`
* Bump cflinuxfs3 to version `0.50.0`
* Bump diego to version `2.22.1`
* Bump nfs-volume to version `1.7.6`
* Bump smb-volume to version `0.2.6`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.15</td></tr>
    <tr><td>bpm</td><td>0.13.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.2</td></tr>
    <tr><td>cflinuxfs2</td><td>1.259.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.50.0</td></tr>
    <tr><td>diego</td><td>2.22.1</td></tr>
    <tr><td>garden-runc</td><td>1.16.7</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>loggregator-agent</td><td>2.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.1.2</td></tr>
    <tr><td>nfs-volume</td><td>1.7.6</td></tr>
    <tr><td>routing</td><td>0.182.0</td></tr>
    <tr><td>silk</td><td>2.18.1</td></tr>
    <tr><td>smb-volume</td><td>0.2.6</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.4.1'></a> 2.4.1

* Bump ubuntu-xenial stemcell to version `170.14`
* Bump cflinuxfs2 to version `1.255.0`
* Bump cflinuxfs3 to version `0.46.0`
* Bump silk to version `2.18.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.14</td></tr>
    <tr><td>bpm</td><td>0.13.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.2</td></tr>
    <tr><td>cflinuxfs2</td><td>1.255.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.46.0</td></tr>
    <tr><td>diego</td><td>2.22.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.7</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>loggregator-agent</td><td>2.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.1.2</td></tr>
    <tr><td>nfs-volume</td><td>1.7.4</td></tr>
    <tr><td>routing</td><td>0.182.0</td></tr>
    <tr><td>silk</td><td>2.18.1</td></tr>
    <tr><td>smb-volume</td><td>0.2.2</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.4.0'></a> 2.4.0

See also:

- [Breaking Changes](https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/breaking-changes.html)

* **[Breaking Change]** Improve GrootFS garbage collection
* **[Breaking Change]** Remove option to disable route integrity
* **[Feature]** Add smb-volume-release
* **[Feature]** co-locate BPM on all VMs in PAS and IST
* **[Feature Improvement]** Change default HAProxy instance count to 0
* **[Feature Improvement]** `cf ssh` is now compatible with mutual-TLS-based verification of ingress traffic from gorouters to application instances'
* **[Feautre Improvement]** Improve UI for route integrity options
* **[Feature Improvement]** Metrics emitted from each deployment are tagged with additional metadata

* Add new release loggregator-agent at version `2.2`
* Add new release smb-volume at version `0.2.2`

* Bump bpm to version `0.13.0`
* Bump cflinuxfs2 to version `1.251.0`
* Bump cflinuxfs3 to version `0.42.0`
* Bump cf-networking to version `2.18.2`
* Bump consul to version 196
* Bump diego to version `2.22.0`
* Bump garden-runc to version `1.16.7`
* Bump haproxy to version `9.1.0`
* Bump loggregator to version `103.3`
* Bump mapfs to version `1.1.2`
* Bump nfs-volume to version `1.7.4`
* Bump routing to version 0.182.0
* Bump silk to version `2.17.0`
* Bump syslog to version `11.4.0`
* Bump ubuntu-xenial stemcell to version `170.9`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>170.9</td></tr>
    <tr><td>bpm</td><td>0.13.0</td></tr>
    <tr><td>cf-networking</td><td>2.18.2</td></tr>
    <tr><td>cflinuxfs2</td><td>1.251.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.42.0</td></tr>
    <tr><td>diego</td><td>2.22.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.7</td></tr>
    <tr><td>haproxy</td><td>9.3.0</td></tr>
    <tr><td>loggregator-agent</td><td>2.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.1.2</td></tr>
    <tr><td>nfs-volume</td><td>1.7.4</td></tr>
    <tr><td>routing</td><td>0.182.0</td></tr>
    <tr><td>silk</td><td>2.17.0</td></tr>
    <tr><td>smb-volume</td><td>0.2.2</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

## <a id='intro'></a> About PCF Isolation Segment

The PCF Isolation Segment v2.4 tile is available for installation with PCF v2.4.

[Isolation segments](http://docs.pivotal.io/pivotalcf/2-3/concepts/security.html#isolation-segments) provide dedicated pools of resources where you can deploy apps and isolate workloads. Using isolation segments separates app resources as completely as if they were in different CF deployments but avoids redundant management and network complexity.

For more information about using isolation segments in your deployment, see the [Managing Isolation Segments](https://docs.pivotal.io/pivotalcf/2-3/adminguide/isolation-segments.html) topic.


## <a id='install'></a> How to Install

The procedure for installing PCF Isolation Segment v2.4 is documented in the [Installing PCF Isolation Segment](https://docs.pivotal.io/pivotalcf/2-3/customizing/installing-pcf-is.html) topic.

To install a PCF Isolation Segment, you must first install PCF v2.4.


## <a id='2.4.0'></a> New Features in PCF Isolation Segment v2.4

### <a id="haproxy-zero"></a> HAProxy Defaults to Zero Instances

IST v2.4 does not deploy the optional HAProxy component by default. Previous versions of IST deployed three instances of HAProxy by default.

<p class="breaking note"><strong>Breaking Change:</strong> This is a breaking change if you are using HAProxy with the <strong>Automatic</strong> setting for your instance count. On upgrading to IST v2.4, you will have zero HAProxy instances unless you specify an instance count other than the <strong>Automatic</strong> setting. For example, if you have the instance count set to <strong>Automatic: 3</strong>, modify the instance count to <strong>3</strong> in the <strong>Resource Config</strong> pane before you upgrade.</p>

<p class="note"><strong>Note</strong>: PAS still deploys one HAProxy instance for vSphere environments by default.</p>

### <a id="cf-ssh-mtls"></a> Support for cf ssh with Mutual TLS App Identity Verification

Developers can `cf ssh` into apps when mutual TLS (mTLS) is enabled for app identity verification.

Operators enable mTLS by selecting the **Router and applications use mutual TLS to verify each other’s identity** option in the Application Containers pane of IST.

This removes the `cf ssh` known issue described in the [Limitations with Mutual TLS App Identity Verification](https://docs.pivotal.io/pivotalcf/2-3/pcf-release-notes/runtime-rn.html#mutual-tls-id-limitations) section of the _PAS v2.3 Release Notes_.

### <a id="smb"></a> SMB Volume Services

IST v2.4 adds support for SMB volume services, allowing developers to bind existing SMB shares to their apps. The SMB protocol has native password authentication, which means you can control access to file shares without the overhead of configuring an LDAP server.

This feature is disabled by default. To enable this feature, see [Enable SMB Volume Services](https://docs.pivotal.io/pivotalcf/2-4/opsguide/enable-vol-services.html#smb-enable).

For information about how to bind a volume service to an app, see [Using an External File System (Volume Services)](https://docs.pivotal.io/pivotalcf/2-4/devguide/services/using-vol-services.html).

### <a id="human-friendly-metric-tags"></a> See Human-Friendly Metadata for Metrics

IST now tags metrics with additional metadata to help operators better parse the metrics coming from their different deployments. These metadata tags also enable downstream monitoring products, such as PCF Healthwatch, to easily display human-readable names.

The tags are as follows:

* `product`: The value of this tag is always `PCF Isolation Segment` for IST. The tags for other products are `Pivotal Application Service`, `PCF Small Footprint`, `Pivotal Application Service for Windows 2012R2`, and `Pivotal Application Service for Windows`.

* `system_domain`: The value of this tag corresponds to what you set in the **System Domain** field in the **Domains** tab of IST.

* `placement_tag`: The value of this tag is always `null` for PAS. However, for PAS for Windows and PCF Isolation Segment tiles, you can configure this value using the **Segment Name** field in the **Application Containers** pane.

Previously, you could not easily know the deployment that a metric from an Isolation Segment was emitted from. Now, an operator can display capacity and other relevant metrics using the `placement_tag` name. This makes it easier to reason the importance of a given segment when issues arise.

These tags are properties of the [metron](https://docs.pivotal.io/pivotalcf/2-4/loggregator/architecture.html#metron) agent running on each VM in a deployment.

### <a id="app-identity"></a> Gorouter Always Verifies App Identity

For IST v2.4, the Gorouter always uses TLS to verify app identity. Verifying app identity improves resiliency and consistency for app routes, as well as increases security by encrypting data in flight from the Gorouter.

In IST v2.3 and earlier, you can have insecure routing without TLS. Before you upgrade to v2.4, you must have secure routing with TLS enabled. For more information, see [Upgrade Preparation Checklist for PCF v2.4](https://docs.pivotal.io/pivotalcf/2-4/upgrading/checklist.html).

For more information about the verifying app identity feature, see [Increased Resiliency, Consistency, and Security for HTTP Routing](https://docs.pivotal.io/pivotalcf/2-1/pcf-release-notes/runtime-rn.html#route-consistency) in the PAS v2.1 release notes.

### <a id="improved-garbage-collection"></a> Improved Garbage Collection

Operators can configure container filesystem garbage collection based on the disk usage of other jobs in their deployment rather than a garbage collection threshold.

IST v2.4 replaces the **Clean up disk-space once threshold is reached** option with **Clean up disk-space once usage fills disk** in the **Application Containers** pane.

For information about configuring garbage collection values, see [Configuring Cell Disk Cleanup Scheduling](http://docs.pivotal.io/pivotalcf/2-4/opsguide/config-cell-cleanup.html).

### <a id="bpm"></a> All Components Use BOSH Process Manager

Starting in v2.3, some IST components used BOSH Process Manager (BPM). In v2.4, all components use BPM. For more information, see [BOSH Process Manager](https://docs.pivotal.io/pivotalcf/2-3/pcf-release-notes/segment-rn.html#bpm) in the _PCF Isolation Segment v2.3 Release Notes_.


## <a id='bug-fixes'></a> Bug Fixes

IST v2.4.0 includes the following bug fixes:

* Fix parse error for syslog rules when iptables logging is enabled
* Metron emitted product_version format is inconsistent
* Logs marked as "DEBUG" are no longer forwarded by default
* Stop emitting product version in logging agent metrics to prevent rolling VMs unnecessarily on upgrades
* Fix monit scripting bug in nfsv3driver job that could cause the process
* Improve app/task placement reliability when apps are configured to receive TLS traffic from gorouters
* **[Security Fix]** Rotate diego intermediate CA before current certificate expires
to continue running after a monit stop


## <a id='known-issues'></a> Known Issues

### <a id='nsx-t'></a> NSX-T v2.3.1 and Earlier Not Compatible with PCF Isolation Segment

The NSX-T tiles v2.3.1 and earlier are not compatible with PCF Isolation Segment. The Gorouters in an Isolation Segment are not given access in the firewall rules for NSX-T v2.3.1 and earlier, which prevents them from communicating with apps.

NSX-T v2.3.2 and later give access to the Gorouters in an Isolation Segment, and thus are compatible with PCF Isolation Segment.


## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the IST v2.4 tile includes new functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in production.
