---
title: PCF Isolation Segment v2.7 Release Notes
owner: Release Engineering
---

## <a id='known-issues'></a> Known Issues

## <a id='releases'></a> Releases

## <a id='intro'></a> About PCF Isolation Segment

The PCF Isolation Segment v2.7 tile is available for installation with PCF v2.7.

[Isolation segments](http://docs.pivotal.io/pivotalcf/2-7/concepts/security.html#isolation-segments) provide dedicated pools of resources where you can deploy apps and isolate workloads. Using isolation segments separates app resources as completely as if they were in different CF deployments but avoids redundant management and network complexity.

For more information about using isolation segments in your deployment, see the [Managing Isolation Segments](https://docs.pivotal.io/pivotalcf/2-7/adminguide/isolation-segments.html) topic.


## <a id='install'></a> How to Install

The procedure for installing PCF Isolation Segment v2.7 is documented in the [Installing PCF Isolation Segment](https://docs.pivotal.io/pivotalcf/2-7/customizing/installing-pcf-is.html) topic.

To install a PCF Isolation Segment, you must first install PCF v2.7.

## <a id='2.7.0'></a> New Features in PCF Isolation Segment v2.7


## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PCF Isolation Segment v2.7 tile includes new functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in production.

## <a id='known-issues'></a> Known Issues
