---
title: PCF Isolation Segment v1.12 Release Notes
owner: Release Engineering
---

## <a id='releases'></a> Releases

### <a id='1.12.0'></a> 1.12.0-alpha.1

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.11</td>
  </tr><tr>
    <td>cf-networking</td><td>1.2.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.137.0</td>
  </tr><tr>
    <td>consul</td><td>171</td>
  </tr><tr>
    <td>diego</td><td>1.22.0</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>91</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.159.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>6</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

## <a id='intro'></a> About PCF Isolation Segment

The PCF Isolation Segment v1.12 tile is available for installation with PCF
v1.12.

[Isolation segments](../concepts/security.html#isolation-segments) provide
dedicated pools of resources where you can deploy apps and  isolate workloads.
Using isolation segments separates app resources as completely as if they were
in different CF deployments but avoids redundant management and network
complexity.

For more information about using isolation segments in your deployment, see the
[Managing Isolation Segments](../adminguide/isolation-segments.html) topic.

## <a id='install'></a> How to Install

The procedure for installing PCF Isolation Segment v1.12 is documented in the
[Installing PCF Isolation Segment](../opsguide/installing-pcf-is.html) topic.

To install a PCF Isolation Segment, you must first install PCF v1.12.

## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PCF Isolation Segment tile includes new
functionality that may have certain constraints.  Although these features are
fully supported, Pivotal recommends caution when using them in production.

## <a id='1.12.0'></a> New Features in PCF Isolation Segment v1.12.0

This section describes new features of the release.
