---
title: PCF Isolation Segment v2.2 Release Notes
owner: Release Engineering
---

## <a id='releases'></a> Releases


### <a id='2.2.0-rc.2'></a> 2.2.0-rc.2

* **[Feature]** Operator can configure a list of DNS search domains
* **[Bug Fix]** Bump consul to version `194`
  * Fix issue with conflicting compiled releases with consul 193

* Bump cflinuxfs2 to version `1.220.0`
* Bump stemcell to version `3586.24`

 <table border="1" class="nice">
 <thead> <tr>
   <th>Component</th>
   <th>Version</th>
 </tr>
 </thead>
 <tbody>
 <tr>
   <td>Stemcell</td><td>3586.24</td>
 </tr><tr>
   <td>cf-networking</td><td>2.3.0</td>
 </tr><tr>
   <td>cflinuxfs2</td><td>1.220.0</td>
 </tr><tr>
   <td>consul</td><td>194</td>
 </tr><tr>
   <td>diego</td><td>2.8.0</td>
 </tr><tr>
   <td>garden-runc</td><td>1.13.3</td>
 </tr><tr>
   <td>haproxy</td><td>8.7.0</td>
 </tr><tr>
   <td>loggregator</td><td>102.1</td>
 </tr><tr>
   <td>nfs-volume</td><td>1.2.1</td>
 </tr><tr>
   <td>routing</td><td>0.178.0</td>
 </tr><tr>
   <td>silk</td><td>2.3.0</td>
 </tr>
   <td>syslog</td><td>11.3.2</td>
 </tr>
 </tbody>
 <tfoot>
 <tr>
   <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
 </tr>
 </tfoot>
 </table>

### <a id='2.2.0-rc.1'></a> 2.2.0-rc.1

* **[Bug Fix]** Bump garden to 1.13.3 to fix issue with deleted files in application containers created from docker images
* Bump nfs-volume to version `1.2.1`

 <table border="1" class="nice">
 <thead> <tr>
   <th>Component</th>
   <th>Version</th>
 </tr>
 </thead>
 <tbody>
 <tr>
   <td>Stemcell</td><td>3586.16</td>
 </tr><tr>
   <td>cf-networking</td><td>2.3.0</td>
 </tr><tr>
   <td>cflinuxfs2</td><td>1.212.0</td>
 </tr><tr>
   <td>consul</td><td>193</td>
 </tr><tr>
   <td>diego</td><td>2.8.0</td>
 </tr><tr>
   <td>garden-runc</td><td>1.13.3</td>
 </tr><tr>
   <td>haproxy</td><td>8.7.0</td>
 </tr><tr>
   <td>loggregator</td><td>102.1</td>
 </tr><tr>
   <td>nfs-volume</td><td>1.2.1</td>
 </tr><tr>
   <td>routing</td><td>0.178.0</td>
 </tr><tr>
   <td>silk</td><td>2.3.0</td>
 </tr>
   <td>syslog</td><td>11.3.2</td>
 </tr>
 </tbody>
 <tfoot>
 <tr>
   <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
 </tr>
 </tfoot>
 </table>

### <a id='2.2.0-beta.3'></a> 2.2.0-beta.3

* Bump cf-networking to version `2.3.0`
  * Fixes issue with package name conflict between networking and silk
* Bump consul to version `193`
* Bump cflinuxfs2 to version `1.212.0`
* Bump diego to version `2.8.0`
* Bump silk to version `2.3.0`
* Bump stemcell to version `3586.16`

 <table border="1" class="nice">
 <thead> <tr>
   <th>Component</th>
   <th>Version</th>
 </tr>
 </thead>
 <tbody>
 <tr>
   <td>Stemcell</td><td>3586.16</td>
 </tr><tr>
   <td>cf-networking</td><td>2.3.0</td>
 </tr><tr>
   <td>cflinuxfs2</td><td>1.212.0</td>
 </tr><tr>
   <td>consul</td><td>193</td>
 </tr><tr>
   <td>diego</td><td>2.8.0</td>
 </tr><tr>
   <td>garden-runc</td><td>1.13.2</td>
 </tr><tr>
   <td>haproxy</td><td>8.7.0</td>
 </tr><tr>
   <td>loggregator</td><td>102.1</td>
 </tr><tr>
   <td>nfs-volume</td><td>1.3.0</td>
 </tr><tr>
   <td>routing</td><td>0.178.0</td>
 </tr><tr>
   <td>silk</td><td>2.3.0</td>
 </tr>
   <td>syslog</td><td>11.3.2</td>
 </tr>
 </tbody>
 <tfoot>
 <tr>
   <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
 </tr>
 </tfoot>
 </table>

### <a id='2.2.0-beta.2'></a> 2.2.0-beta.2

* **[Feature]** Operator can disable logging of client IP addresses
* **[Bug Fix]** Fix issue with using external CNI plugins (regression from 2.1)

* Bump cflinuxfs2 to version `1.210.0`
* Bump diego to version `2.7.1`

 <table border="1" class="nice">
 <thead> <tr>
   <th>Component</th>
   <th>Version</th>
 </tr>
 </thead>
 <tbody>
 <tr>
   <td>Stemcell</td><td>3586.7</td>
 </tr><tr>
   <td>cf-networking</td><td>2.1.0</td>
 </tr><tr>
   <td>cflinuxfs2</td><td>1.210.0</td>
 </tr><tr>
   <td>consul</td><td>192</td>
 </tr><tr>
   <td>diego</td><td>2.7.1</td>
 </tr><tr>
   <td>garden-runc</td><td>1.13.2</td>
 </tr><tr>
   <td>haproxy</td><td>8.7.0</td>
 </tr><tr>
   <td>loggregator</td><td>102.1</td>
 </tr><tr>
   <td>nfs-volume</td><td>1.3.0</td>
 </tr><tr>
   <td>routing</td><td>0.178.0</td>
 </tr><tr>
   <td>silk</td><td>2.1.0</td>
 </tr>
   <td>syslog</td><td>11.3.2</td>
 </tr>
 </tbody>
 <tfoot>
 <tr>
   <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
 </tr>
 </tfoot>
 </table>

### <a id='2.2.0-beta.1'></a> 2.2.0-beta.1

* **[Feature Improvement]** Add option to enable human-readable timestamps in logs for Diego components
  * NOTE: this is on by default for new deployments, but off by default when upgrading

* Add silk version `2.1.0`
* Add syslog version `11.3.2`

* Remove syslog-migration

* Bump stemcell to version `3586.7`
* Bump cf-networking to version `2.1.0`
* Bump cflinuxfs2 to version `1.208.0`
* Bump diego to version `2.6.0`
* Bump garden-runc to version `1.13.2`
* Bump nfs-volume to version `1.3.0`
* Bump routing to version `0.178.0`

 <table border="1" class="nice">
 <thead> <tr>
   <th>Component</th>
   <th>Version</th>
 </tr>
 </thead>
 <tbody>
 <tr>
   <td>Stemcell</td><td>3586.7</td>
 </tr><tr>
   <td>cf-networking</td><td>2.1.0</td>
 </tr><tr>
   <td>cflinuxfs2</td><td>1.208.0</td>
 </tr><tr>
   <td>consul</td><td>192</td>
 </tr><tr>
   <td>diego</td><td>2.6.0</td>
 </tr><tr>
   <td>garden-runc</td><td>1.13.2</td>
 </tr><tr>
   <td>haproxy</td><td>8.7.0</td>
 </tr><tr>
   <td>loggregator</td><td>102.1</td>
 </tr><tr>
   <td>nfs-volume</td><td>1.3.0</td>
 </tr><tr>
   <td>routing</td><td>0.178.0</td>
 </tr><tr>
   <td>silk</td><td>2.1.0</td>
 </tr>
   <td>syslog</td><td>11.3.2</td>
 </tr>
 </tbody>
 <tfoot>
 <tr>
   <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
 </tr>
 </tfoot>
 </table>


### <a id='2.2.0-alpha.2'></a> 2.2.0-alpha.2

* Bump stemcell to version `3451.12`
* Bump cf-networking to version `1.13.0`
* Bump cflinuxfs2 to version `1.202.0`
* Bump consul to version `192`
* Bump diego to version `2.4.0`
* Bump garden-runc to version `1.12.1`
* Bump haproxy to version `8.7.0`
* Bump loggregator to version `102.1`
* Bump routing to version `0.175.0`
* Bump syslog-migration to version `11.1.1`

 <table border="1" class="nice">
 <thead> <tr>
   <th>Component</th>
   <th>Version</th>
 </tr>
 </thead>
 <tbody>
 <tr>
   <td>Stemcell</td><td>3541.12</td>
 </tr><tr>
   <td>cf-networking</td><td>1.13.0</td>
 </tr><tr>
   <td>cflinuxfs2</td><td>1.202.0</td>
 </tr><tr>
   <td>consul</td><td>192</td>
 </tr><tr>
   <td>diego</td><td>2.4.0</td>
 </tr><tr>
   <td>garden-runc</td><td>1.12.1</td>
 </tr><tr>
   <td>haproxy</td><td>8.7.0</td>
 </tr><tr>
   <td>loggregator</td><td>102.1</td>
 </tr><tr>
   <td>nfs-volume</td><td>1.2.0</td>
 </tr><tr>
   <td>routing</td><td>0.175.0</td>
 </tr><tr>
   <td>syslog-migration</td><td>11.1.1</td>
 </tr>
 </tbody>
 <tfoot>
 <tr>
   <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
 </tr>
 </tfoot>
 </table>

### <a id='2.2.0-alpha.1'></a> 2.2.0-alpha.1

 <table border="1" class="nice">
 <thead> <tr>
   <th>Component</th>
   <th>Version</th>
 </tr>
 </thead>
 <tbody>
 <tr>
   <td>Stemcell</td><td>3541.8</td>
 </tr><tr>
   <td>cf-networking</td><td>1.10.0</td>
 </tr><tr>
   <td>cflinuxfs2</td><td>1.188.0</td>
 </tr><tr>
   <td>consul</td><td>191</td>
 </tr><tr>
   <td>diego</td><td>1.35.0</td>
 </tr><tr>
   <td>garden-runc</td><td>1.11.1</td>
 </tr><tr>
   <td>haproxy</td><td>8.6.0</td>
 </tr><tr>
   <td>loggregator</td><td>101.5\*</td>
 </tr><tr>
   <td>nfs-volume</td><td>1.2.0</td>
 </tr><tr>
   <td>routing</td><td>0.172.0</td>
 </tr><tr>
   <td>syslog-migration</td><td>11.1.0</td>
 </tr>
 </tbody>
 <tfoot>
 <tr>
   <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
 </tr>
 </tfoot>
 </table>


## <a id='intro'></a> About PCF Isolation Segment

The PCF Isolation Segment v2.2 tile is available for installation with PCF v2.2.

[Isolation segments](http://docs.pivotal.io/pivotalcf/2-1/concepts/security.html#isolation-segments) provide
dedicated pools of resources where you can deploy apps and isolate workloads.
Using isolation segments separates app resources as completely as if they were
in different CF deployments but avoids redundant management and network
complexity.

For more information about using isolation segments in your deployment, see the
[Managing Isolation Segments](https://docs.pivotal.io/pivotalcf/2-1/adminguide/isolation-segments.html) topic.


## <a id='install'></a> How to Install

The procedure for installing PCF Isolation Segment v2.2 is documented in the
[Installing PCF Isolation Segment](https://docs.pivotal.io/pivotalcf/2-1/customizing/installing-pcf-is.html) topic.

To install a PCF Isolation Segment, you must first install PCF v2.2.


## <a id='2.2.0'></a> New Features in PCF Isolation Segment v2.2

### <a id="gdpr-compliance"></a> Gorouter Logging Changes for GDPR Compliance

Operators can now disable logging of client IP addresses in the Gorouter to comply with the General Data Protection Regulation (GDPR).

This setting, **Logging of Client IPs in CF Router**, is configured in the **Networking** pane of the PCF Isolation Segment tile.
You can disable logging of the ` X-Forwarded-For` HTTP header only or of both the source IP address and the `X-Forwarded-For` HTTP header.
By default, the **Log client IPs** option is set in PCF Isolation Segment.

For more information about configuring the **Logging of Client IPs in CF Router** field, see [Networking](https://docs.pivotal.io/pivotalcf/2-2/customizing/installing-pcf-is.html#networking) in the _Installing PCF Isolation Segment_ topic.

### <a id="timestamp"></a> New Format for Timestamps in Diego Component Logs

The timestamps in the Diego component logs are now in a format compatible with <a href="https://tools.ietf.org/html/rfc3339">RFC 3339</a>. Log-level identifiers are also formatted as strings instead of numeric codes.

RFC 3339 timestamps are enabled by default for new v2.2 deployments. Upgrades from earlier versions retain the previous component log format with Unix epoch timestamps.

You can enable the new timestamp format for Diego logs in the Pivotal Application Service (PAS) tile.

For more information, see the **Configure Application Containers** section of any IaaS-specific PAS configuration topic, such as [Manually Configuring PAS for AWS](https://docs.pivotal.io/pivotalcf/2-2/customizing/pcf-aws-manual-er-config.html#application-containers-config).

<p class="note breaking"><strong>Breaking Change:</strong> Before enabling RFC 3339 format for Diego logs, ensure that your log aggregation system anticipates the timestamp format change. If you experience issues, you can disable RFC 3339 format in the PAS tile.</p>

### <a id='dns-search-domains'></a> DNS Search Domains

PCF Isolation Segment allows you to configure the DNS search domains used in containers by entering a comma-separated list.

For more information, see the **DNS Search Domains** configuration described in the **Container Networking** section of any IaaS-specific PAS configuration topic, such as [Manually Configuring PAS for AWS](https://docs.pivotal.io/pivotalcf/2-2/customizing/pcf-aws-manual-er-config.html#networking).


## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PCF Isolation Segment v2.2 tile includes new functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in production.
