---
title: PCF Isolation Segment v1.11 Release Notes
owner: Release Engineering
---

<%= partial '/shared/deprecation-notice' %>

## <a id='releases'></a> Releases

### <a id='1.11.30'></a> 1.11.30

* **[Security Fix]** Bump diego to version `1.23.8`
  * [CVE-2018-1265](https://www.cloudfoundry.org/blog/cve-2018-1265/)

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.42</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.188.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.23.8</td>
  </tr><tr>
    <td>garden-runc</td><td>1.11.1</td>
  </tr><tr>
    <td>loggregator</td><td>89.0.27*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.24*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4.0.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.29'></a> 1.11.29

* **[Security Fix]** Bump stemcell to v3468.42:
  * [USN-3641](https://usn.ubuntu.com/3641-1/)
  * [USN-3631-2](https://usn.ubuntu.com/3631-2/)
  * [USN-3628-1](https://usn.ubuntu.com/3628-1/)
  * [USN-3625-1](https://usn.ubuntu.com/3625-1/)
  * [USN-3624-1](https://usn.ubuntu.com/3624-1/)

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.42</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.188.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.11.1</td>
  </tr><tr>
    <td>loggregator</td><td>89.0.27*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.24*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4.0.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>


### <a id='1.11.28'></a> 1.11.28

* **[Security Fix]** Bumps stemcell to v3468.30:
  * [USN-3619-2](https://usn.ubuntu.com/3619-2/)
  * [USN-3611-1](https://usn.ubuntu.com/3611-1/)
  * [USN-3610-1](https://usn.ubuntu.com/3610-1/)
  * [USN-3598-1](https://usn.ubuntu.com/3598-1/)
  * [USN-3586-1](https://usn.ubuntu.com/3586-1/)
  * [USN-3584-1](https://usn.ubuntu.com/3584-1/)
* **[Bug Fix]** Bumps syslog-migration-release to v4.0.2:
  * Prevent logs from blackbox from being written to the default syslog log files to prevent logs from being written to the disk 3 additional times.
  * Fix rfc5424 compatibility by ensuring only 1 space occurs between the message and the structured data.
* **[Bug Fix]** Bumps loggregator-release to v89.0.27 to fix Traffic Controller resource leaks when connections are slow.
* **[Feature Improvement]** Adds field **Custom syslog Configuration** to specify custom logging rules in the **System Logging** tab. For more information, see [custom syslog rules](https://docs.pivotal.io/pivotalcf/1-11/customizing/custom-syslog-rules.html).

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.30</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.188.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.11.1</td>
  </tr><tr>
    <td>loggregator</td><td>89.0.27*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.24*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4.0.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.27'></a> 1.11.27

* **[Bug fix]** Bump routing-release to 0.160.24
  * Remove backends on any error to prevent 502 errors from being returned to
    clients
  * Updates golang to v1.9.4
* **[Bug Fix]** Remove unneeded persistent disk from diego brain vms

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.25</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.188.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.11.1</td>
  </tr><tr>
    <td>loggregator</td><td>89*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.24*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4.0.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.26'></a> 1.11.26

 Note: it is recommended that you re-create all VMs when upgrading to this
 release, due to the update to `garden-runc-release`. This will happen
 automatically if you are updating your stemcell. If not, you can check the
 "Recreate All VMs" checkbox on the Ops Manager Director > Director Config tab.

* **[Security Fix]** Bump stemcell from version 3468.21 to version 3468.25 to address issues:
  * [USN-3582-2](http://www.ubuntu.com/usn/usn-3581-2/)
* **[Security Fix]** Bump cflinuxfs2-release from v181.0 to v1.188.0 to address issues:
  * [USN-3577-1](http://www.ubuntu.com/usn/usn-3577-1/)
  * [USN-3569-1](http://www.ubuntu.com/usn/usn-3569-1/)
  * [USN-3554-1](http://www.ubuntu.com/usn/usn-3554-1/)
  * [USN-3547-1](http://www.ubuntu.com/usn/usn-3547-1/)
  * [USN-3543-1](http://www.ubuntu.com/usn/usn-3543-1/)
  * [USN-3540-2](http://www.ubuntu.com/usn/usn-3540-2/)
  * [USN-3538-1](http://www.ubuntu.com/usn/usn-3538-1/)
* **[Feature Improvement]** Bump garden-runc-release to
  [v1.11.1](https://github.com/cloudfoundry/garden-runc-release/releases/tag/v1.11.1).

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.25</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.188.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.11.1</td>
  </tr><tr>
    <td>loggregator</td><td>89*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.0*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4.0.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.25'></a> 1.11.25

* **[Security Fix]** Patch routing-release for [CVE-2018-1221](https://www.cloudfoundry.org/blog/cve-2018-1221/).
* **[Bug Fix]** Fix to ensure that Diego rep will always exit during evacuation, even if Garden `destroy` hangs during evacuation.
* **[Bug Fix]** Patch syslog to prevent duplication from blackbox log forwarding.
* **[Feature Improvement]** Enable Garden `debug_listen_address` to listen on a local interface.


<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.21</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.181.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.10.0</td>
  </tr><tr>
    <td>loggregator</td><td>89*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.0*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4.0.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.24'></a> 1.11.24

* This release was intended to contain a fix to prevent duplication from blackbox log forwarding, but this did not take effect until the next release.

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.21</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.181.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.10.0</td>
  </tr><tr>
    <td>loggregator</td><td>89*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.0*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4.0.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.23'></a> 1.11.23

* **[Security Fix]** Bump stemcell to version 3468.21 to address issues:
  * [USN-3534-1](http://www.ubuntu.com/usn/usn-3534-1/)
  * [USN-3540-2](http://www.ubuntu.com/usn/usn-3540-2/)
* **[Security Fix]** Bump cflinuxfs2-release to v1.181.0 to address issues:
  * [USN-3532-1](http://www.ubuntu.com/usn/usn-3532-1/)
  * [USN-3534-1](http://www.ubuntu.com/usn/usn-3534-1/)
  * [USN-3535-1](http://www.ubuntu.com/usn/usn-3535-1/)
* **[Feature Improvement]** Bump syslog-migration-release to v4.0.1 and add a checkbox for log file forwarding through TCP to work around the [Truncated Syslog Messages](runtime-rn.html#truncated-logs) issue.
  * NOTE: Using TCP instead of the default UDP configuration may have a negative impact on performance.

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.21</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.181.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.10.0</td>
  </tr><tr>
    <td>loggregator</td><td>89*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.0*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4.0.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.22'></a> 1.11.22

* **[Bug Fix]** Patches loggregator-release to ensure traffic controller starts pprof server.

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.22</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.176.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.10.0</td>
  </tr><tr>
    <td>loggregator</td><td>89*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.0*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.21'></a> 1.11.21

* **[Security Fix]** Bumps stemcell version to 3445.22 for
[USN-3544-2](http://www.ubuntu.com/usn/usn-3522-2/)
and [USN-3544-4](http://www.ubuntu.com/usn/usn-3522-4/)

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.22</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.176.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.10.0</td>
  </tr><tr>
    <td>loggregator</td><td>89*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.0*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.20'></a> 1.11.20

* **[Security Fix]** Bumps the stemcell to v3445.19 to resolve the following security issues:
  * [USN-3489-1: Berkeley DB vulnerability](https://usn.ubuntu.com/usn/usn-3489-1/)
  * [USN-3496-3: Python vulnerability](https://usn.ubuntu.com/usn/usn-3496-3/)
  * [USN-3498-1: curl vulnerabilities](https://usn.ubuntu.com/usn/usn-3498-1/)
  * [USN-3505-1: Linux firmware vulnerabilities](https://usn.ubuntu.com/usn/usn-3505-1/)
  * [USN-3506-1: rsync vulnerability](https://usn.ubuntu.com/usn/usn-3506-1/)
* **[Security Fix]** Bumps cflinuxfs2-release to v1.176.0 for 
  [USN-3513-1](https://usn.ubuntu.com/usn/usn-3513-1/).
* **[Bug Fix]** Resolves an issue in container-networking where a component in the same network with mTLS can
  cause an sql injection on the `DeleteEntry` database handler.
* **[Feature]** Bumps garden-runc-release to v1.10.0:
  * It is now possible to specify a `ProcessSpec.Image`. Processes can now have their own filesystem view. 
    * Limitation: It is only possible to use `ProcessSpec.Image` and `ProcessSpec.OverrideContainerLimits` with unprivileged containers.  
    This will be fixed in future releases.
    * Limitation: APIs such as `BulkMetrics` and `Process.Signal` may not work immediately after `container.Run(ProcessSpec)` returns
    for processes with `Image` and/or `OverrideContainerLimits` specified. This will be fixed in future releases.
  * Reduced log volume in `BulkMetrics` for large environments.
  * Correctly declares that bundles it creates are OCI Runtime Spec version 1.0.0 compliant.
* The Garden property `cleanup_process_dirs_on_wait` is configured to `true`, to reduce the growth of directories in the Garden container.

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.19</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.176.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.10.0</td>
  </tr><tr>
    <td>loggregator</td><td>89*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.0*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.19'></a> 1.11.19

* **[Security Fix]** Bumps stemcell version to 3445.19 for [USN-3509-2](https://www.cloudfoundry.org/usn-3509-2/).
* **[Security Fix]** Bumps cflinuxfs2-release to v1.171.0 to resolve several
  security vulnerabilities:
  * [USN-3489-1: Berkeley DB vulnerability](https://usn.ubuntu.com/usn/usn-3489-1/)
  * [USN-3496-1: Python vulnerability](https://usn.ubuntu.com/usn/usn-3496-1/)
  * [USN-3496-3: Python vulnerability](https://usn.ubuntu.com/usn/usn-3496-3/)
  * [USN-3498-1: curl vulnerabilities](https://usn.ubuntu.com/usn/usn-3498-1/)
  * [USN-3501-1: libxcursor vulnerability](https://usn.ubuntu.com/usn/usn-3501-1/)
* **[Bug Fix]** Operators can now optionally disable Router Access logs. This
  will prevent the Router local disk from becoming filled when the Routers are
  experiencing increased incoming traffic.
* **[Feature Improvement]** Operators can now specify the mutual TLS
  certificate validation behavior for the Router. The Router will request
  certificates by default, and validate them if provided. Additionally, operators
  can configure the Router to ignore certificates, or to require them with every
  request.
* This release does not set the Garden property `cleanup_process_dirs_on_wait` to `true`, which can leave many directories in the depot for the Garden container. This will be set to `true` in the next release.

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.19</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.171.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>loggregator</td><td>89*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.0*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.18'></a> 1.11.18

* **[Security Fix]** Bumps the stemcell to v3445.17 to resolve the following security issues:
  * [USN-3457-1: curl vulnerability](https://usn.ubuntu.com/usn/usn-3457-1/)
  * [USN-3458-1: ICU vulnerability](https://usn.ubuntu.com/usn/usn-3458-1/)
  * [USN-3464-1: Wget vulnerabilities](https://usn.ubuntu.com/usn/usn-3464-1/)
  * [USN-3469-2: Linux kernel (Xenial HWE) vulnerabilities](https://usn.ubuntu.com/usn/usn-3469-2/)
  * [USN-3475-1: OpenSSL vulnerabilities](https://usn.ubuntu.com/usn/usn-3475-1/)
  * [USN-3478-1: Perl vulnerabilities](https://usn.ubuntu.com/usn/usn-3478-1/)
  * [USN-3485-2: Linux kernel (Xenial HWE) vulnerabilities](https://usn.ubuntu.com/usn/usn-3485-2/)
* **[Security Fix]** Bumps cflinuxfs2-release to v1.168.0 to resolve
  [USN-3478-1: Perl vulnerabilities](https://usn.ubuntu.com/usn/usn-3478-1/).

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.17</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.168.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>loggregator</td><td>89*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.0*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.17'></a> 1.11.17

* **[Security Fix]** Bumps cflinuxfs2-release to v1.166.0 to resolve
  [USN-3475-1](http://www.ubuntu.com/usn/usn-3475-1/). [Release
  Notes](https://github.com/cloudfoundry/cflinuxfs2/releases/tag/1.166.0)
* **[Bug Fix]** Bumps consul-release to v187 to include a fix for
  Internationalized Domain Name encoding when specifying an
  availability-zone-specific service.
* **[Bug Fix]** Patches loggregator-release to introduce a circuit breaker when
  the Traffic Controller connects to the Doppler VMs.
* **[Bug Fix]** Patches loggregator-release to ensure metron agents maintain
  availability-zone affinity when connecting to Doppler VMs.

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.16</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.166.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>loggregator</td><td>89*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.0*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.16'></a> 1.11.16

* **[Security Fix]** Bumps the stemcell to v3445.16 to resolve several security
  vulnerabilities:
  * [USN-3424-1](https://usn.ubuntu.com/usn/usn-3424-1/)
  * [USN-3432-1](https://usn.ubuntu.com/usn/usn-3432-1/)
  * [USN-3434-1](https://usn.ubuntu.com/usn/usn-3434-1/)
  * [USN-3441-1](https://usn.ubuntu.com/usn/usn-3441-1/)
  * [USN-3444-2](https://usn.ubuntu.com/usn/usn-3444-2/)
* **[Security Fix]** Bumps the cflinuxfs2-release to v1.165.0 to resolve
  several security vulnerabilities:
  * [USN-3457-1](https://usn.ubuntu.com/usn/usn-3457-1/)
  * [USN-3458-1](https://usn.ubuntu.com/usn/usn-3458-1/)
  * [USN-3464-1](https://usn.ubuntu.com/usn/usn-3464-1/)
* **[Bug Fix]** Patches loggregator-release to remove the
  `totalReceivedMessageCount` metric from the v2 API.
* **[Bug Fix]** Garden is now configured to destroy containers on start. This
  setting will cause the `garden` process to remove any containers that are
  already running when it starts. That action will prevent issues where
  containers that should no longer be running are left up to run.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.16</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.165.0</td>
  </tr><tr>
    <td>consul</td><td>181</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>loggregator</td><td>89*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.0*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.15'></a> 1.11.15

* **[Security Fix]** Bumps cflinuxfs2-release to v1.161.0 to resolve multiple
  security issues. [Release
  Notes](https://github.com/cloudfoundry/cflinuxfs2/releases/tag/1.161.0)
* **[Bug Fix]** Bumps consul-release to v181 to ensure encrypt key rotation
  only occurs when the key changes.
* **[Bug Fix]** Patches cf-networking-release to allow deployment against a
  MySQL database version < 5.7.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.11</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.161.0</td>
  </tr><tr>
    <td>consul</td><td>181</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>loggregator</td><td>89*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.0*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.14'></a> 1.11.14

* **[Security Fix]** Bumps cflinuxfs2-release to v1.158.0 to resolve multiple
  security issues. [Release
  Notes](https://github.com/cloudfoundry/cflinuxfs2/releases/tag/1.158.0)

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.11</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.158.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>loggregator</td><td>89*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.0*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.13'></a> 1.11.13

* **[Security Improvement]** Bumps garden-runc-release to v1.9.4. [Release
  Notes](https://github.com/cloudfoundry/garden-runc-release/releases/tag/v1.9.4).
* **[Feature Improvement]** Router now supports setting a Frontend Idle Timeout
  to maintain an open connection when clients support keep-alive. The default
  value is 900 seconds.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.11</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.156.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>loggregator</td><td>89*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.0*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.12'></a> 1.11.12

* **[Security Fix]** Bumps cflinuxfs2-release to v1.156.0 to resolve multiple
  security issues. [Release
  Notes](https://github.com/cloudfoundry/cflinuxfs2/releases/tag/1.156.0)
* **[Bug Fix]** Loggregator API counters will now include a correct delta.
* **[Security Fix]** Resolves an issue with an incorrect `Host` header being
  set on incoming requests through the Router [CVE
  Notice](https://www.cloudfoundry.org/cve-2017-8047/).
* Operators can now specify a minimum supported TLS version for the Router and HAProxy.
* The Cipher Suites for the Router and HAProxy are now required fields.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.11</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.156.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>89*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.0*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.11'></a> 1.11.11

* **[Security Fix]** Bumps stemcell to v3445.11 to address [USN-3420-2](https://usn.ubuntu.com/usn/usn-3420-2/).
* **[Security Fix]** Bumps cflinuxfs-release to v1.155.0 to address [USN-3415-1](https://usn.ubuntu.com/usn/usn-3415-1/).

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.11</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.155.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>89*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.10'></a> 1.11.10

* **[Bug Fix]** Disables inadvertent iptables logging when container networking
  is enabled.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.20</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.150.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>89*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.9'></a> 1.11.9

* **[Security Fix]** Bumps cflinuxfs2-release to v1.150.0 to resolve
  [USN-3398-1](http://www.ubuntu.com/usn/usn-3398-1/).
* **[Feature Improvement]** Operators can now configure a maximum number of
  idle connections for their Router VMs.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.20</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.150.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.8'></a> 1.11.8

* **[Security Fix]** Bumps stemcell to v3421.20 to resolve
  [USN-3392-2](https://usn.ubuntu.com/usn/usn-3392-2/).
* **[Security Fix]** Bumps cflinuxfs2-release to v1.147.0 to resolve
  [USN-3387-1](https://usn.ubuntu.com/usn/usn-3387-1/) and
  [USN-3388-1](https://usn.ubuntu.com/usn/usn-3388-1/).

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.20</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.147.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.7'></a> 1.11.7

* **[Security Fix]** Bumps stemcell to version 3421.19.
* **[Bug Fix]** Bumps diego-release to v1.23.2 to resolve a number of issues
  including:
  * improving locket stability during MySQL updates
  * reporting the correct result of running tasks on Windows cells
  * resolution of a race condition in the process launching code that could
    cause process failures
  * improvements to the healthcheck error messaging
  * removing the extraneous "cancelled" message in logs when applications crash
  * prefixing process errors with their log source
  * removing exit codes from healthcheck output when an application fails its
    healthcheck
* Applications now have access to the certificate provided by the requester via
  the `X-Forwarded-Client-Cert` header. Configuration for this feature can be
  found on the Networking tab.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.19</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.145.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.23.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.160.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.6'></a> 1.11.6

* **[Security Fix]** Bumps stemcell to v3421.18 to resolve
  [USN-3378-2](https://usn.ubuntu.com/usn/usn-3378-2/).
* **[Security Fix]** Bumps cflinuxfs2 to v1.145.0 to resolve multiple CVEs and
  USNs. Please see the [release
  notes](https://github.com/cloudfoundry/cflinuxfs2/releases) for more details.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.18</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.145.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.157.0*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.5'></a> 1.11.5

* The components included in routing-release (gorouter, route_registrar,
  routing-api, tcp_emitter, and tcp_router) have been updated to run on Go v1.8.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.157.0*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.4'></a> 1.11.4

* **[Security Fix]** The Router will now validate the UAA token issuer
  field. This will prevent users with valid tokens belonging to an Identity Zone
  other than the default zone from escalating their privileges when making
  requests against system components.
* **[Bug Fix]** Removes configuration of Container Overlay Subnet when
  configuring Container Networking.  When left to the defaults, the networking
  would behave as expected. However, if an operator provided a value different
  from what was provided in the Elastic Runtime tile, the configuration would
  cause the Isolation Segment networking to fail.
* Bumps nfs-volume-release to v1.0.6. [Release Notes](https://github.com/cloudfoundry/nfs-volume-release/releases/tag/v1.0.6)
* Sets the default max-in-flight value for the Diego Cells to 4%. Operators can
  still use the Ops Manager API to configure this setting to fit their needs. The
  max-in-flight percentage for the Diego Cell job in the Elastic Runtime has been
  set to 10% since 1.10, but we’ve seen especially in larger environments that
  having the percentage this high can cause some problems:
  * Many simultaneous VM creates/deletes and BOSH blob updates can place
  significant stress on the underlying infrastructure, especially on vSphere
  which has a greater probability of being under-provisioned.
  * The cells that are draining are no longer available for allocation,
  resulting in a 10% decrease in total memory and disk capacity during the
  deployment. This can cause deployments to no longer have sufficient total
  capacity to run all the work, or to have insufficient headroom to place
  larger workloads successfully.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.6</td>
  </tr><tr>
    <td>routing</td><td>0.157.0*</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.3'></a> 1.11.3

* Bumps garden-runc-release to v1.9.0. [Release Notes](https://github.com/cloudfoundry/garden-runc-release/releases/tag/v1.9.0)

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.5</td>
  </tr><tr>
    <td>routing</td><td>0.157.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.2'></a> 1.11.2

* **[Security Fix]** Bumps cflinuxfs2-rootfs to 1.33.0. [Release Notes](https://github.com/cloudfoundry/cflinuxfs2/releases/tag/1.133.0)

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>garden-runc</td><td>1.7.0</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.3</td>
  </tr><tr>
    <td>routing</td><td>0.157.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.1'></a> 1.11.1

* Bump stemcell to 3421.9.
* Bump garden-runc to v1.7.0.
* Bump diego-release to v1.18.1.
* Bump cflinuxfs2-release to v1.126.0
* Container-to-container networking will log iptables rules in the kernel log on each Isolated Diego Cell.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.9</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.126.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>garden-runc</td><td>1.7.0</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.3</td>
  </tr><tr>
    <td>routing</td><td>0.157.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='1.11.0'></a> 1.11.0

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3421.3</td>
  </tr><tr>
    <td>cf-networking</td><td>0.25.0</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.123.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.16.1</td>
  </tr><tr>
    <td>garden-runc</td><td>1.6.0</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.0.3</td>
  </tr><tr>
    <td>routing</td><td>0.157.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>4</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>


## <a id='intro'></a> About PCF Isolation Segment

The PCF Isolation Segment v1.11 tile is available for installation with PCF v1.11.

[Isolation segments](https://docs.pivotal.io/pivotalcf/1-11/concepts/security.html#isolation-segments) provide dedicated pools of resources where you can deploy apps and isolate workloads. Using isolation segments separates app resources as completely as if they were in different CF deployments but avoids redundant management and network complexity.

For more information about using isolation segments in your deployment, see the [Managing Isolation Segments](https://docs.pivotal.io/pivotalcf/1-11/adminguide/isolation-segments.html) topic.


## <a id='install'></a> How to Install

The procedure for installing PCF Isolation Segment v1.11 is documented in the [Installing PCF Isolation Segment](https://docs.pivotal.io/pivotalcf/1-11/opsguide/installing-pcf-is.html) topic.

To install a PCF Isolation Segment, you must first install PCF v1.11.


## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PCF Isolation Segment tile includes new functionality that may have certain constraints.  Although these features are fully supported, Pivotal recommends caution when using them in production.


## <a id='1.11.0'></a> New Features in PCF Isolation Segment v1.11.0

This section describes new features of the release.

### <a id='override-dns'></a> Override DNS Servers

By default, containers use the same DNS servers as the host. To override the DNS servers used by the containers of an isolation segment, enter a comma-separated list of servers in the **DNS Servers** field of the **Application Containers** section of the tile.

### <a id='nfs3-vol-services'></a> NFSv3 Volume Services

The tile supports NFSv3 volume services. NFS volume services allow application developers to bind existing NFS volumes to their applications for shared file access. For more information, see the [Enabling NFS Volume Services](https://docs.pivotal.io/pivotalcf/1-11/opsguide/enable-vol-services.html) topic.

To enable NFSv3 volume services, select **Enable** under **Enabling NFSv3 volume services** in the **Application Containers** section of the tile.

In a clean install of the tile, NFSv3 volume services will be enabled by default. In an upgrade, NFSv3 volume services will be set to the same setting as it was in the previous tile.

### <a id='container-to-container'></a> Container-to-Container Networking

The tile supports container-to-container-networking. To enable container-to-container networking, select **Enable** under **Enabling the Container-to-Container network** in the **Networking** section of the tile and complete the corresponding fields. For more information about container-to-container networking, see the [Understanding Container-to-Container Networking](https://docs.pivotal.io/pivotalcf/1-11/concepts/understand-cf-networking.html) topic.

### <a id='syslog'></a> System Logging

The Isolation Segment now emits BOSH component logs in a common syslog format following RFC5424. Additionally, syslog over TLS is now supported to allow operators to deliver their platform logs securely to their syslog aggregator.

The tile has a **System Logging** section that enables operators to configure syslog for the VMs deployed within the tile.

### <a id='sha2'></a> SHA2 Checksum

Operators can verify the data integrity of the Isolation Segment tile using the SHA2 checksum of the file, rather than the MD5 checksum used in previous releases.

### <a id='local-route-emitter'></a> Cell-Local Route Emitters

The Route Emitter is now co-located on the Diego Cell for which it emits app routes. This improves the availability of the Route Emitter and reduces the impact of downtime from this component. 

In previous versions of the Isolation Segment tile, Diego Cells relied on the Route Emitter component on the Diego Brain in the Elastic Runtime tile to notify the Router of application routes. If the Route Emitter became unavailable, routes could be lost from the Router route table. 
