---
title: PCF Isolation Segment v2.6 Release Notes
owner: Release Engineering
---

## <a id='known-issues'></a> Known Issues

## <a id='releases'></a> Releases

### <a id='2.6.0'></a> 2.6.0

* See [New Features in PCF Isolation Segment v2.6](#new-features) 
* **[Feature]** Add optional System Metric Agent to allow monitoring a more complete set of metrics for all VMs in the deployment
* **[Feature]** Improve scalability of application syslog drain system with new syslog agent architecture
* **[Feature Improvement]** Increase default number of CPUs for router from 1 to 2
* **[Feature Improvement]** Garden will now delegate container creates and destroys to containerd, an industry standard container runtime.
* **[Feature Improvement]** Update default polling interval and idle connection limits for networking components to reduce resource contention on PAS database
* **[Security Fix]** Introduce and trust new Diego "root CA" in advance of existing CA expiration
* Removed loggregator release

PCF Isolation Segment v2.6 includes the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>315.36</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>cf-networking</td><td>2.22.2</td></tr>
    <tr><td>cflinuxfs3</td><td>0.101.0</td></tr>
    <tr><td>diego</td><td>2.30.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.1</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>loggregator-agent</td><td>3.14</td></tr>
    <tr><td>mapfs</td><td>1.1.5</td></tr>
    <tr><td>nfs-volume</td><td>2.1.0</td></tr>
    <tr><td>routing</td><td>0.188.1</td></tr>
    <tr><td>silk</td><td>2.22.2</td></tr>
    <tr><td>smb-volume</td><td>1.1.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

## <a id='intro'></a> About PCF Isolation Segment

The PCF Isolation Segment v2.6 tile is available for installation with PCF v2.6.

[Isolation segments](http://docs.pivotal.io/pivotalcf/2-6/concepts/security.html#isolation-segments) provide dedicated pools of resources where you can deploy apps and isolate workloads. Using isolation segments separates app resources as completely as if they were in different CF deployments but avoids redundant management and network complexity.

For more information about using isolation segments in your deployment, see the [Managing Isolation Segments](https://docs.pivotal.io/pivotalcf/2-6/adminguide/isolation-segments.html) topic.


## <a id='install'></a> How to Install

The procedure for installing PCF Isolation Segment v2.6 is documented in the [Installing PCF Isolation Segment](https://docs.pivotal.io/pivotalcf/2-6/customizing/installing-pcf-is.html) topic.

To install a PCF Isolation Segment, you must first install PCF v2.6.


## <a id='new-features'></a> New Features in PCF Isolation Segment v2.6

See the following new features for PCF Isolation Segment v2.6:

### <a id="system-metric-agent"></a> Monitor System Metrics with System Metrics Agent

System Metrics Agent provides more visibility into VM compute, network, and storage metrics. These VM metrics help with troubleshooting and diagnosing issues for potential infrastructure problems.

When enabled, the metrics are emitted through Loggregator. For more information about viewing logs and metrics, see the _Platform components_ row of [Viewing Logs and Metrics](https://docs.pivotal.io/pivotalcf/2-6/loggregator/data-sources.html#viewing).

For a list of the VM metrics that the System Metric Agent emits, see [VM Metrics](https://github.com/cloudfoundry/loggregator-agent-release#vm-metrics) in GitHub.

To enable the System Metric Agent, go to the **System Logging** pane in the PCF Isolation Segment tile and select **Enable System Metrics**.

### <a id='containerd'></a> Garden Delegates Container Creation and Destruction to containerd by Default

Traditionally, Garden uses runc to create, delete, and run container processes. Garden v1.15.0 and later support delegating the creation and destruction of some container processes through containerd instead of runc.

To disable containerd mode, deselect the **Enable Containerd Delegation** checkbox in the **Application Containers** pane of the PCF Isolation Segment tile.

### <a id='default-cpu-router'></a> Increased CPUs for Router VMs

To improve reliability, PAS v2.6 increases the default and minimum CPU core count from one to two for Router VMs.

PAS migrates Router VMs with a single core to a VM type with two CPU cores during the upgrade.

### <a id='syslog'></a> Loggregator Syslog Agent Increases Scale For Syslog Drains

The Loggregator architecture in PAS v2.6 includes optional Syslog Agents through the **Enable agent-based syslog egress for app logs** field in the **System Logging** configuration pane. 

<p class="note"><strong>Note:</strong> Enabling this feature disables the Syslog Adapter and Syslog Scheduler to avoid log duplication.</p> 

<p class="note warning"><strong>WARNING:</strong> See the following known issue related to this feature: <a href="#syslog">App Syslog Drains Fail After Enabling Agent-Based Syslog</a>.</p> 

Syslog Agents run on PCF component VMs and host VMs to manage connections with and write to syslog drains for app logs. The addition of Syslog Agents increases the number of syslog drain service bindings supported by the Loggregator system and reduces the workload for Loggregator VMs.

This update resolves a known issue where app log loss occurs at 10,000 syslog drain service bindings. For more information about the known issue, see the [Known Loggregator Scaling Issues](https://community.pivotal.io/s/article/known-loggregator-scaling-issues) knowledge base article.

For more information about Syslog Agents, see [Loggregator Architecture](https://docs.pivotal.io/pivotalcf/2-6/loggregator/architecture.html).


## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PCF Isolation Segment v2.6 tile includes new functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in production.


## <a id='known-issues'></a> Known Issues

There are no known issues for PCF Isolation Segment v2.6 at this time.
