---
title: PCF Isolation Segment v1.10 Release Notes
owner: Release Engineering
---

## <a id='releases'></a> Releases

### <a id='1.10.17'></a> 1.10.17

* Bumps stemcell to v3363.31 to resolve
  [USN-3392-2](https://usn.ubuntu.com/usn/usn-3392-2/).
* Bumps cflinuxfs2-release to v1.147.0 to resolve
  [USN-3387-1](https://usn.ubuntu.com/usn/usn-3387-1/) and
  [USN-3388-1](https://usn.ubuntu.com/usn/usn-3388-1/).

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.31</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.147.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.16'></a> 1.10.16

* **[Security Fix]** Bumps stemcell to version 3363.30.
* **[Bug Fix]** Patches Diego components to resolve race condition in the
  buildpack and docker launchers, as well as the diego-sshd process that could
  cause errant process failures.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.30</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.145.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.15'></a> 1.10.15

* **[Security Fix]** Bumps stemcell to v3363.29 to resolve
  [USN-3378-2](https://usn.ubuntu.com/usn/usn-3378-2/).
* **[Security Fix]** Bumps cflinuxfs2 to v1.145.0 to resolve multiple CVEs and
  USNs. Please see the [release
  notes](https://github.com/cloudfoundry/cflinuxfs2/releases) for more details.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.29</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.145.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.14'></a> 1.10.14

* The components included in routing-release (gorouter, route_registrar,
  routing-api, tcp_emitter, and tcp_router) have been updated to run on Go v1.8.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.26</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.13'></a> 1.10.13

* **[Security Fix]** The Router will now validate the UAA token issuer
  field. This will prevent users with valid tokens belonging to an Identity Zone
  other than the default zone from escalating their privileges when making
  requests against system components.
* Sets the default max-in-flight value for the Diego Cells to 4%. Operators can
  still use the Ops Manager API to configure this setting to fit their needs. The
  max-in-flight percentage for the Diego Cell job in the Elastic Runtime has been
  set to 10% since 1.10.0, but we’ve seen especially in larger environments that
  having the percentage this high can cause some problems:
  * Many simultaneous VM creates/deletes and BOSH blob updates can place
  significant stress on the underlying infrastructure, especially on vSphere
  which has a greater probability of being under-provisioned.
  * The cells that are draining are no longer available for allocation,
  resulting in a 10% decrease in total memory and disk capacity during the
  deployment. This can cause deployments to no longer have sufficient total
  capacity to run all the work, or to have insufficient headroom to place
  larger workloads successfully.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.26</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.12'></a> 1.10.12

* Bumps garden-runc-release to v1.9.0. [Release Notes](https://github.com/cloudfoundry/garden-runc-release/releases/tag/v1.9.0)

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.26</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.11'></a> 1.10.11

* **[Security Fix]** Bumps cflinuxfs2-rootfs to 1.33.0. [Release Notes](https://github.com/cloudfoundry/cflinuxfs2/releases/tag/1.133.0)

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.26</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.7.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.10'></a> 1.10.10

* Bumps stemcell to 3363.26.
* Patches routing-release to include 'instanceIndex' field in HttpStartStop metrics for gorouter.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.26</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.126.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.7.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.9'></a> 1.10.9

* Bumps garden-runc to v1.7.0.
* Patches diego-release to allow ICMP and UDP packet logging for security group rules.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.25</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.126.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.7.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.8'></a> 1.10.8

* Bumps stemcell to v3363.25.
* Bumps cflinuxfs2 rootfs to v1.126.0.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.25</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.126.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.2.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.7'></a> 1.10.7

* Bumps stemcell to v3363.24.
* Bumps cflinuxfs2 rootfs to v1.123.0.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.24</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.123.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.2.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.6'></a> 1.10.6

* Patches Loggregator to resolve issue with operator-provided cipher suites.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.20</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.60.0</td>
  </tr><tr>
    <td>consul</td><td>164</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.2.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.5'></a> 1.10.5

* Allows operators to specify DNS servers that differ from those provided in their BOSH configuration.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.20</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.60.0</td>
  </tr><tr>
    <td>consul</td><td>164</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.2.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.4'></a> 1.10.4

* Bumps stemcell to v3363.20.
* Bumps garden-runc to v1.2.0 to fix compatibility with some anti-virus scanning software.
* Patches bug in Gorouter that caused the router to crash when invalid X-CF-APP-INSTANCE headers were sent in a request.
* Patches bug in Gorouter that prevented operators from specifying additional TLS cipher suites.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.20</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.60.0</td>
  </tr><tr>
    <td>consul</td><td>159</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.2.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.3'></a> 1.10.3

* Bumps consul-release to v159 to ensure TLS communication happens over TLS 1.2.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.15</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.60.0</td>
  </tr><tr>
    <td>consul</td><td>159</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.2'></a> 1.10.2

* Bumps stemcell to version 3363.15.
* Bumps the rootfs to v1.60.0 which provides stack version 1.111.0.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.15</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.60.0</td>
  </tr><tr>
    <td>consul</td><td>152\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.1'></a> 1.10.1

* Patches an issue with the naming of the router VM. See the note below for more details.
* Bumps the rootfs to v1.59.0 which provides stack version 1.110.0.

<p class='tip'>
The routers use consul for service discovery and necessarily require that their
local consul agent join the larger Elastic Runtime consul cluster to send and
receive service discovery updates. Membership in the cluster is managed by name
and IP address.
<br><br>
The Elastic Runtime routers will register with a name like "router-1" or
"router-4", indicating their job name and VM index. Unfortunately, the
Isolation Segment Tile routers use the same name to register themselves with
the cluster and thus result in a naming collision.
<br><br>
This naming collision causes the routers in the Isolation Segment and the
routers in the Elastic Runtime to fight for membership in the cluster. This
instability can eventually cause the routers to become unavailable.
<br><br>
To resolve this, we have released a new version of the Isolation Segment tile
that ensures that the consul members are properly namespaced.
<br><br>
Upgrading from 1.10.0 to 1.10.1 is still supported, although you will
experience router downtime while this upgrade occurs. The routers with the
conflicting names will be removed, and a new set of routers will be created
with a dedicated namespace for the Isolation Segment tile. In the time between
the removal of the old routers, and the addition of the new routers, you will
not be able to route traffic to the Isolation Segment applications through the
dedicated Isolation Segment routers.
<br><br>
If you are only using compute isolation and not deploying the dedicated routing
VMs, this issue does not apply to your deployment. The primary, "shared" ERT
routing tier will experience no loss of application routing during this
upgrade.
</p>

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.10</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.59.0</td>
  </tr><tr>
    <td>consul</td><td>152</td>
  </tr><tr>
    <td>diego</td><td>1.7.1</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.0'></a> 1.10.0

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.10</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.50.0</td>
  </tr><tr>
    <td>consul</td><td>152</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>loggregator</td><td>77</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

## <a id='intro'></a> About PCF Isolation Segment

PCF Isolation Segment is a new tile available for installation with PCF v.1.10.

[Isolation segments](../concepts/security.html#isolation-segments) provide dedicated pools of resources where you can deploy apps and  isolate workloads. Using isolation segments separates app resources as completely as if they were in different CF deployments but avoids redundant management and network complexity.

For more information on using isolation segments in your deployment, see the [Managing Isolation Segments](../adminguide/isolation-segments.html) topic.

## <a id='install'></a> How to Install

The procedure for installing PCF Isolation Segment v1.10 is documented in the
[Installing PCF Isolation Segment](../opsguide/installing-pcf-is.html) topic.

To install a PCF Isolation Segment, you must first install PCF v1.10.

## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PCF Isolation Segment tile includes new functionality that may have certain constraints.
Although these features are fully supported, Pivotal recommends caution when using them in production.
