---
title: PCF Isolation Segment v2.0 Release Notes
owner: Release Engineering
---

## <a id='releases'></a> Releases

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.1</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.161.0</td>
  </tr><tr>
    <td>consul</td><td>183</td>
  </tr><tr>
    <td>diego</td><td>1.29.0</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>grootfs</td><td>0.30.0</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.1.3</td>
  </tr><tr>
    <td>routing</td><td>0.166.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>10</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

## <a id='intro'></a> About PCF Isolation Segment

The PCF Isolation Segment v2.0 tile is available for installation with PCF
v2.0.

<!----
[Isolation segments](../concepts/security.html#isolation-segments) provide
dedicated pools of resources where you can deploy apps and  isolate workloads.
Using isolation segments separates app resources as completely as if they were
in different CF deployments but avoids redundant management and network
complexity.

For more information about using isolation segments in your deployment, see the
[Managing Isolation Segments](../adminguide/isolation-segments.html) topic.
---->

## <a id='install'></a> How to Install

<!----
The procedure for installing PCF Isolation Segment v2.0 is documented in the
[Installing PCF Isolation Segment](../customizing/installing-pcf-is.html) topic.---->

To install a PCF Isolation Segment, you must first install PCF v2.0.

## <a id='2.0.0'></a> New Features in PCF Isolation Segment v2.0.0

### <a id='mutual-tls'></a> Gorouter and HAProxy trust the Diego Instance Identity Intermediate CA

The trust between the Gorouter and HAProxy enables mutual authentication between applications that are running on PCF. The Gorouter and HAProxy are configured with the root certificate authority. This occurs automatically within PCF.

### <a id='custom-ca'></a> Gorouter and HAProxy Trust Additional CAs

When validating client requests using mutual TLS, the Gorouter trusts multiple certificate authorities (CAs) by default. Operators can now configure the Gorouter and HAProxy to trust custom CAs in addition to well-known, public CAs and [Ops Manager Director Trusted Certificates](../customizing/gcp-om-config.html#security). For more information about configuring this feature, see the [PAS installation instructions](../customizing/gcp-er-config.html#networking) for your IaaS.

## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PCF Isolation Segment tile includes new
functionality that may have certain constraints.  Although these features are
fully supported, Pivotal recommends caution when using them in production.
