---
title: PCF Isolation Segment v2.0 Release Notes
owner: Release Engineering
---

<%= partial '/shared/deprecation-notice' %>

## <a id='releases'></a> Releases

**NOTE:** If you have versions of PAS and IST prior to 2.0.15 installed, you will have to update them together when upgrading to 2.0.15+

### <a id='2.0.19'></a> 2.0.19

* **[Bug Fix]** Fix unsafe logic in NFS unmount and drain code that may lead to deletion of files on remote NFS shares.

* Bump cflinuxfs2 to version `1.238.0`
* Bump nfs-volume to version `1.2.3`
* Bump stemcell ubuntu-trusty to version `3468.71`

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3468.71</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.238.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>1.32.7</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99.3</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.3</td>
  </tr><tr>
    <td>routing</td><td>0.168.12</td>
  </tr><tr>
    <td>syslog-migration</td><td>10.0.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.18'></a> 2.0.18

* **[Feature Improvement]** Enable capturing goroutine dumps from Diego components for troubleshooting
* **[Bug Fix]** Fix issue in volume services that can cause application data loss when applications using the NFS volume service are scaled up or down

* Bump diego to version `1.32.7`
* Bump stemcell ubuntu-trusty to version `3468.69`

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3468.69</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.235.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>1.32.7</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99.3</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.1</td>
  </tr><tr>
    <td>routing</td><td>0.168.12</td>
  </tr><tr>
    <td>syslog-migration</td><td>10.0.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.17'></a> 2.0.17

* **[Bug Fix]** Prune router backends when they return a 502 and do not retry for 30 seconds
* **[Bug Fix]** Prevent requests from timing out by setting`Router Timeout to Backends` per request instead of per connection 

* Bump cflinuxfs2 to version `1.235.0`
* Bump routing to version `0.168.12`
* Bump stemcell ubuntu-trusty to version `3468.67`

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3468.67</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.235.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>1.32.5</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99.3</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.1</td>
  </tr><tr>
    <td>routing</td><td>0.168.12</td>
  </tr><tr>
    <td>syslog-migration</td><td>10.0.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.16'></a> 2.0.16

* Bump cflinuxfs2 to version `1.228.0`
* Bump stemcell to version `3468.55`

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3468.55</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.228.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>1.32.5</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99.3</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.1</td>
  </tr><tr>
    <td>routing</td><td>0.168.8\*</td>
  </tr><tr>
    <td>syslog-migration</td><td>10.0.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.15'></a> 2.0.15

* **[Bug Fix]** Docker image based app resource reporting correctly includes image size in disk usage

* Bump diego to version `1.32.5`
* Bump loggregator to version `99.3`
* Bump stemcell to version `3468.54`

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3468.54</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.227.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>1.32.5</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99.3</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.1</td>
  </tr><tr>
    <td>routing</td><td>0.168.8\*</td>
  </tr><tr>
    <td>syslog-migration</td><td>10.0.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.14'></a> 2.0.14

* **[Feature Improvement]** Add ability to configure HAproxy client certificate verification

* Bump cflinuxfs2 version `1.227.0`

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3468.51</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.227.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>1.32.3</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99.1</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.1</td>
  </tr><tr>
    <td>routing</td><td>0.168.8\*</td>
  </tr><tr>
    <td>syslog-migration</td><td>10.0.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.13'></a> 2.0.13

* **[Security Fix]** Bump loggregator release for CVE-2018-1268 and CVE-2018-1269
* **[Bug Fix]** bump consul to v195
  * Includes golang 1.9.7, removes golang 1.8.*.
  * Deploying v193 could fail on some deployments due to a conflict with other tiles that compiled the release differently
  * Fixes intermittent consul DNS issues on Windows Cells

* Bump cflinuxfs2 to version `1.223.0`
* Bump consul to version `195`
* Bump loggregator to version `99.1`
* Bump stemcell to version `3468.51`

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3468.51</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.223.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>1.32.3</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99.1</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.1</td>
  </tr><tr>
    <td>routing</td><td>0.168.8\*</td>
  </tr><tr>
    <td>syslog-migration</td><td>10.0.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.12'></a> 2.0.12

* **[Security Fix]** Bump diego to version `1.32.3`
  * [CVE-2018-1265](https://www.cloudfoundry.org/blog/cve-2018-1265/)
* **[Bug fix]** bump nfs-volume-release to version `1.2.1`
  * Fix incompatibility with new garden-runc release when using read-only NFS volume mounts
* **[Bug Fix]** Bump garden to version `1.13.3`
  * Fix issue with deleted files in application containers created from docker images
* Bump cflinuxfs2 to version `1.219.0`
* Bump consul to version `193` to use go `1.9`
* Bump stemcell to version `3468.46`

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.46</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.219.0</td>
  </tr><tr>
    <td>consul</td><td>193</td>
  </tr><tr>
    <td>diego</td><td>1.32.3</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.1</td>
  </tr><tr>
    <td>routing</td><td>0.168.8\*</td>
  </tr><tr>
    <td>syslog-migration</td><td>10.0.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.11'></a> 2.0.11

* **[Security Fix]** Bump cflinuxfs2 to version `1.210.0`:
  * [USN-3643-1](https://usn.ubuntu.com/3643-1/)
* **[Security Fix]** Bump cf-networking to version `1.8.5`
  * Patch possible SQL injection attack
* Update grootfs checkbox to indicate the recreating VMs is recommended

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.42</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.5</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.210.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.32.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.1</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.1.3</td>
  </tr><tr>
    <td>routing</td><td>0.168.8\*</td>
  </tr><tr>
    <td>syslog-migration</td><td>10.0.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.10'></a> 2.0.10

* **[Security Fix]** Bump stemcell to v3468.42:
  * [USN-3641](https://usn.ubuntu.com/3641-1/)
  * [USN-3631-2](https://usn.ubuntu.com/3631-2/)
  * [USN-3628-1](https://usn.ubuntu.com/3628-1/)
  * [USN-3625-1](https://usn.ubuntu.com/3625-1/)
  * [USN-3624-1](https://usn.ubuntu.com/3624-1/)
* **[Security Fix]** Bump cflinuxfs2-release to v1.201.0:
  * [USN-3628-1](https://usn.ubuntu.com/3628-1/)
  * [USN-3625-1](https://usn.ubuntu.com/3625-1/)
  * [USN-3624-1](https://usn.ubuntu.com/3624-1/)
  * [USN-3622-1](https://usn.ubuntu.com/3622-1/)
* **[Feature Improvement]** Bump routing-release to v0.168.8 to enable operator to disable logging of client IPs, in compliance with the EU General Data Protection Regulation (GDPR).

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.42</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.201.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.32.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.1</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.1.3</td>
  </tr><tr>
    <td>routing</td><td>0.168.8\*</td>
  </tr><tr>
    <td>syslog-migration</td><td>10.0.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.9'></a> 2.0.9

* **[Security Fix]** Bumps garden-release to v1.13.1 for [CVE-2018-1277](https://www.cloudfoundry.org/blog/cve-2018-1277/).
* **[Feature Improvement]** Bumps diego-release to v1.32.2 to add cell and instance identifiers in the container lifecycle logs.

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.30</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.196.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.32.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.1</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.1.3</td>
  </tr><tr>
    <td>routing</td><td>0.168.7\*</td>
  </tr><tr>
    <td>syslog-migration</td><td>10.0.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.8'></a> 2.0.8

* **[Security Fix]** Bumps cflinuxfs2 to v1.196.0:
  * [USN-3611-1](https://usn.ubuntu.com/3611-1/)
  * [USN-3610-1](https://usn.ubuntu.com/3610-1/)
* **[Security Fix]** Bumps stemcell to v3468.30:
  * [USN-3619-2](https://usn.ubuntu.com/3619-2/)
  * [USN-3611-1](https://usn.ubuntu.com/3611-1/)
  * [USN-3610-1](https://usn.ubuntu.com/3610-1/)
  * [USN-3598-1](https://usn.ubuntu.com/3598-1/)
  * [USN-3586-1](https://usn.ubuntu.com/3586-1/)
  * [USN-3584-1](https://usn.ubuntu.com/3584-1/)
* **[Bug Fix]** Bumps syslog-migration-release to v10.0.2:
  * Prevent logs from blackbox from being written to the default syslog log files to prevent logs from being written to the disk 3 additional times.
  * Fix rfc5424 compatibility by ensuring only 1 space occurs between the message and the structured data.

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.30</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.196.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.32.1</td>
  </tr><tr>
    <td>garden-runc</td><td>1.12.1</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.1.3</td>
  </tr><tr>
    <td>routing</td><td>0.168.7\*</td>
  </tr><tr>
    <td>syslog-migration</td><td>10.0.2</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.7'></a> 2.0.7

* **[Feature Improvment]** Bumps garden-runc-release to v1.12.1:
  * Includes fix for bug where users' files could go missing in docker-based applications.
* **[Bug fix]** Bump routing-release to 0.168.7:
  * Removes backends on any error.
  * Updates golang to v1.9.4.

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.25</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.188.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.32.1</td>
  </tr><tr>
    <td>garden-runc</td><td>1.12.1</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.1.3</td>
  </tr><tr>
    <td>routing</td><td>0.168.7\*</td>
  </tr><tr>
    <td>syslog-migration</td><td>10.0.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.6'></a> 2.0.6

 Note: it is recommended that you re-create all VMs when upgrading to this
 release, due to the update to `garden-runc-release`. This will happen
 automatically if you are updating your stemcell. If not, you can check the
 "Recreate All VMs" checkbox on the Ops Manager Director > Director Config tab.

* **[Security Fix]** Bump stemcell from version 3468.21 to version 3468.25 to address issues:
  * [USN-3582-2](http://www.ubuntu.com/usn/usn-3581-2/)
* **[Security Fix]** Bump cflinuxfs2-release from v181.0 to v1.188.0 to address issues:
  * [USN-3577-1](http://www.ubuntu.com/usn/usn-3577-1/)
  * [USN-3569-1](http://www.ubuntu.com/usn/usn-3569-1/)
  * [USN-3554-1](http://www.ubuntu.com/usn/usn-3554-1/)
  * [USN-3547-1](http://www.ubuntu.com/usn/usn-3547-1/)
  * [USN-3543-1](http://www.ubuntu.com/usn/usn-3543-1/)
  * [USN-3540-2](http://www.ubuntu.com/usn/usn-3540-2/)
  * [USN-3538-1](http://www.ubuntu.com/usn/usn-3538-1/)
* **[Feature Improvement]** Bump garden-runc-release to
  [v1.11.1](https://github.com/cloudfoundry/garden-runc-release/releases/tag/v1.11.1)
  which includes grootfs root filesystem by default.

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.25</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.188.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.29.0</td>
  </tr><tr>
    <td>garden-runc</td><td>1.11.1</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.1.3</td>
  </tr><tr>
    <td>routing</td><td>0.168.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>10.0.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.5'></a> 2.0.5

* **[Security Fix]** Patch routing-release for [CVE-2018-1221](https://www.cloudfoundry.org/blog/cve-2018-1221/).
* **[Bug Fix]** Enable privileged containers to support upgrading from ERT 1.11 with apps that specify privileged containers.
* **[Bug Fix]** Fix to ensure that Diego rep will always exit during evacuation, even if Garden `destroy` hangs during evacuation.
* **[Feature Improvements]** New option in the Networking page to allow operators to enable Gorouter support for the PROXY protocol. This is disabled by default.
* **[Feature Improvement]** Enable Garden `debug_listen_address` to listen on a local interface.

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.21</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.181.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.29.0</td>
  </tr><tr>
    <td>garden-runc</td><td>1.10.0</td>
  </tr><tr>
    <td>grootfs</td><td>0.30.0</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.1.3</td>
  </tr><tr>
    <td>routing</td><td>0.168.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>10.0.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.4'></a> 2.0.4

* **[Bug Fix]** Fix issue that causes Isolation Segment to fail on fresh install with Pivotal Application Services 2.0 with Route Services enabled. See the corresponding [Knowledge Base](https://discuss.pivotal.io/hc/en-us/articles/360000863274) for more information.


<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.21</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.181.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.29.0</td>
  </tr><tr>
    <td>garden-runc</td><td>1.10.0</td>
  </tr><tr>
    <td>grootfs</td><td>0.30.0</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.1.3</td>
  </tr><tr>
    <td>routing</td><td>0.168.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>10.0.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>
  
### <a id='2.0.3'></a> 2.0.3

* **[Security Fix]** Bump stemcell to version 3468.21 to address issues:
  * [USN-3534-1](http://www.ubuntu.com/usn/usn-3534-1/)
  * [USN-3540-2](http://www.ubuntu.com/usn/usn-3540-2/)
* **[Security Fix]** Bump cflinuxfs2-release to v1.181.0 to address issues:
  * [USN-3532-1](http://www.ubuntu.com/usn/usn-3532-1/)
  * [USN-3534-1](http://www.ubuntu.com/usn/usn-3534-1/)
  * [USN-3535-1](http://www.ubuntu.com/usn/usn-3535-1/)
* **[Bug Fix]** Configure system logging to remove duplication of logs
* **[Feature Improvement]** Bump syslog-migration-release to v10.0.1 and add a checkbox for log file forwarding through TCP to work around the [Truncated Syslog Messages](runtime-rn.html#truncated-logs) issue.
  * NOTE: Using TCP instead of the default UDP configuration may have a negative impact on performance.

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.21</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.181.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.29.0</td>
  </tr><tr>
    <td>garden-runc</td><td>1.10.0</td>
  </tr><tr>
    <td>grootfs</td><td>0.30.0</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.1.3</td>
  </tr><tr>
    <td>routing</td><td>0.168.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>10.0.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.2'></a> 2.0.2

* **[Security Fix]** Bumps stemcell version to 3468.17 for
[USN-3544-2](http://www.ubuntu.com/usn/usn-3522-2/)
and [USN-3544-4](http://www.ubuntu.com/usn/usn-3522-4/)

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.17</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.176.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.29.0</td>
  </tr><tr>
    <td>garden-runc</td><td>1.10.0</td>
  </tr><tr>
    <td>grootfs</td><td>0.30.0</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.1.3</td>
  </tr><tr>
    <td>routing</td><td>0.168.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>10</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.1'></a> 2.0.1

* **[Security Fix]** Bumps cflinuxfs2-release to v1.176.0 for 
  [USN-3513-1](https://usn.ubuntu.com/usn/usn-3513-1/).
* **[Feature]** Bumps garden-runc-release to v1.10.0:
  * It is now possible to specify a `ProcessSpec.Image`. Processes can now have their own file system view. 
    * Limitation: It is only possible to use `ProcessSpec.Image` and `ProcessSpec.OverrideContainerLimits` with unprivileged containers.  
    This will be fixed in future releases.
    * Limitation: APIs such as `BulkMetrics` and `Process.Signal` may not work immediately after `container.Run(ProcessSpec)` returns
    for processes with `Image` or `OverrideContainerLimits` specified. This will be fixed in future releases.
  * Reduced log volume in `BulkMetrics` for large environments.
  * Correctly declares that bundles it creates are OCI Runtime Spec version 1.0.0 compliant.
* The Garden property `cleanup_process_dirs_on_wait` is configured to `true` to reduce the growth of directories in the Garden container.

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.13</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.176.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.29.0</td>
  </tr><tr>
    <td>garden-runc</td><td>1.10.0</td>
  </tr><tr>
    <td>grootfs</td><td>0.30.0</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.1.3</td>
  </tr><tr>
    <td>routing</td><td>0.168.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>10</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.0'></a> 2.0.0

<p class='note warning'><strong>Warning</strong>: This release does not set the Garden property <code>cleanup_process_dirs_on_wait</code> to <code>true</code>, which can leave many directories in the depot for the Garden container. This will be set to <code>true</code> in the next release.</p>

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.13</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.175.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.29.0</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>grootfs</td><td>0.30.0</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.1.3</td>
  </tr><tr>
    <td>routing</td><td>0.168.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>10</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>


## <a id='intro'></a> About PCF Isolation Segment

The PCF Isolation Segment v2.0 tile is available for installation with PCF v2.0.

[Isolation segments](https://docs.pivotal.io/pivotalcf/2-0/concepts/security.html#isolation-segments) provide dedicated pools of resources where you can deploy apps and isolate workloads. Using isolation segments separates app resources as completely as if they were in different CF deployments but avoids redundant management and network complexity.

For more information about using isolation segments in your deployment, see the [Managing Isolation Segments](https://docs.pivotal.io/pivotalcf/2-0/adminguide/isolation-segments.html) topic.


## <a id='install'></a> How to Install

The procedure for installing PCF Isolation Segment v2.0 is documented in the [Installing PCF Isolation Segment](https://docs.pivotal.io/pivotalcf/2-0/customizing/installing-pcf-is.html) topic.

To install a PCF Isolation Segment, you must first install PCF v2.0.


## <a id='2.0.0'></a> New Features in PCF Isolation Segment v2.0

### <a id='bosh-dns'></a> BOSH DNS Service Discovery for Application Containers (Beta)

In PCF v2.0, application containers look up services using the BOSH DNS service discovery mechanism.

<p class="note"><strong>Note:</strong> Port 8853 is the destination port for communications between BOSH DNS health processes. Ensure your firewall rules allow TCP traffic on port 8853 for all VMs running BOSH DNS. For more information, see <a href="https://docs.pivotal.io/pivotalcf/2-0/security/networking/bosh-dns-network-paths.html">BOSH DNS Network Communications</a>.</p>

To support this lookup, BOSH Director colocates a BOSH DNS server on every deployed VM. This colocation is a prerequisite for migrating completely to BOSH DNS in a future release of PCF. However, this colocation does not impact the current behavior of DNS for Cloud Foundry components in PCF v2.0. System components still use consul to discover and locate other Cloud Foundry components.

You can opt out of deploying BOSH DNS in PCF v2.0. For more information, see the [Ops Manager v2.0 Release Notes](./opsmanager-rn.html#bosh-dns) and [Disabling or Opting Out of BOSH DNS in PCF](https://discuss.pivotal.io/hc/en-us/articles/115015720428-Disabling-or-Opting-Out-of-BOSH-DNS-in-PCF) in the Pivotal Knowledge Base.

### <a id='mutual-tls'></a> Gorouter and HAProxy Trust the Diego Instance Identity Intermediate CA

The trust between the Gorouter and HAProxy enables mutual authentication between applications that are running on PCF. The Gorouter and HAProxy are configured with the root certificate authority. This occurs automatically within PCF.

### <a id='custom-ca'></a> Gorouter and HAProxy Trust Additional CAs

When validating client requests using mutual TLS, the Gorouter trusts multiple certificate authorities (CAs) by default. Operators can now configure the Gorouter and HAProxy to trust custom CAs in addition to well-known, public CAs and Ops Manager Director Trusted Certificates. For more information about configuring this feature, see [Installing PCF Isolation Segment](https://docs.pivotal.io/pivotalcf/2-0/customizing/installing-pcf-is.html#networking).

### <a id='multiple-cert'></a> Gorouter and HAProxy Support Multiple Certificates

You can now add more than one certificate for the Gorouter and HAProxy in the **Networking** configuration pane. This improves security and removes the need to reissue the existing certificate when you want to add TLS support for custom domains. The Gorouter and HAProxy use SNI to determine the correct certificate to present in a TLS handshake. For more information, see the [Multiple Certificates](https://docs.pivotal.io/pivotalcf/2-0/adminguide/securing-traffic.html#multcerts) section of _Securing Traffic into Cloud Foundry_.

### <a id='haproxy-xfcc'></a> XFCC Support for Deployments that Terminate TLS at HAProxy 

PCF now supports XFCC header configuration for deployments that terminate TLS for the first time at HAProxy. In addition, the selection options for this configuration field have been renamed to reflect differences in XFCC configuration based on TLS termination entry points. For more information about configuring this feature, see [Installing PCF Isolation Segment](https://docs.pivotal.io/pivotalcf/2-0/customizing/installing-pcf-is.html#networking).

### <a id='nsx'></a> VMware NSX-T Networking Support

PCF Isolation Segment v2.0 adds support for VMware NSX-T networking.
NSX is a networking solution for VMware that provides a firewall, load balancing, and NAT/SNAT services for PCF. NSX-T is intended to work across multiple clouds and provide networking for container platforms.
Previous versions of PCF Isolation Segment supported NSX-V networking.

To use NSX-T networking, you must install the NSX-T tile.

<p class='note warning'><strong>WARNING:</strong> The NSX-T integration is only for fresh installs of PCF. You cannot upgrade an existing deployment to use NSX-T, and there is no upgrade path from NSX-V to NSX-T.</p>

To enable NSX-T networking for your PCF installation, do the following:

1. In the Ops Manager Director tile > **vCenter Config** pane, select **NSX-T** from the **NSX Mode** drop-down menu. See [Step 2: vCenter Config Page](https://docs.pivotal.io/pivotalcf/2-0/customizing/vsphere-config.html#vcenter-config) in _Configuring Ops Manager Director on vSphere_ for more information.

1. Import and configure the [NSX-T tile](https://network.pivotal.io/products/vmware-nsx-t), but do not click **Apply Changes**. You must install the NSX-T tile after you install the Ops Manager Director tile. You must install the NSX-T tile before you install the PAS tile.

1. In the PCF Isolation Segment tile > **Networking** pane, under **Container Network Plugin Interface**, select **External**.

1. Click **Apply Changes** after installing and configuring the NSX-T and PAS tiles.

Operators can additionally use the NSX Manager to configure policies for PCF applications. For more information, see the [NSX-T Container Plug-in for Kubernetes and Cloud Foundry - Installation and Administration Guide](https://docs.vmware.com/en/VMware-NSX-T/2.1/nsxt_21_ncp_kubernetes.pdf) .

<p class='note'><strong>Note:</strong> You must have NSX-T v2.1 installed to use this integration.</p>

<p class='note'><strong>Note:</strong> The IPsec add-on is not supported with NSX-T.</p>

<p class="note breaking"><strong>Breaking Change:</strong> If you opt out of the <a href="#bosh-dns">BOSH DNS feature</a>, your PCF deployment cannot support NSX-T networking.</p>


## <a id='knownissues'></a> Known Issues

### <a id='tasks'></a> Isolation Segment Fails on Fresh Install with Route Services

In Isolation Segment v2.0.0 to v2.0.3, when installing Isolation Segment with Pivotal Application Services where route services are enabled, the deployment will fail due to a missing `router-route-services-secret` credential. This issued is fixed in Isolation Segment v2.0.4.

For more information, see the corresponding [Knowledge Base](https://discuss.pivotal.io/hc/en-us/articles/360000863274) article.


## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PCF Isolation Segment tile includes new functionality that may have certain constraints.  Although these features are fully supported, Pivotal recommends caution when using them in production.
