---
title: PCF Isolation Segment v2.1 Release Notes
owner: Release Engineering
---

<%= partial '/shared/deprecation-notice' %>

## <a id='known-issues'></a> Known Issues

* **[Known Issue]** The NSX-T tile versions 2.3.1 and lower are not compatible with IST. Upcoming release NSX-T 2.3.2 will address this issue.

## <a id='releases'></a> Releases

**NOTE: BREAKING CHANGE** You must upgrade to PAS 2.1.10 or greater prior to installing IST 2.1.10 or higher

### <a id='2.1.16'></a> 2.1.16

* Bump ubuntu-trusty stemcell to version `3541.65`
* Bump cflinuxfs2 to version `1.255.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-trusty stemcell</td><td>3541.65</td></tr>
    <tr><td>cf-app-sd</td><td>0.5.0</td></tr>
    <tr><td>cf-networking</td><td>1.10.6</td></tr>
    <tr><td>cflinuxfs2</td><td>1.255.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>1.35.12</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>haproxy</td><td>8.6.0</td></tr>
    <tr><td>loggregator</td><td>101.16</td></tr>
    <tr><td>nfs-volume</td><td>1.2.6</td></tr>
    <tr><td>routing</td><td>0.174.7</td></tr>
    <tr><td>syslog-migration</td><td>11.1.1</td></tr>
  </tbody>
</table>

### <a id='2.1.15'></a> 2.1.15

* **[Security Fix]** Address leak of CF admin credentials into NFS broker bosh errand logs
* **[Bug Fix]** Prevent container IPs from leaking by enforcing that TCP RST messages always have the cell ip as the source ip
* Bump ubuntu-trusty stemcell to version `3541.61`
* Bump cf-networking to version `1.10.6`
* Bump cflinuxfs2 to version `1.249.0`
* Bump nfs-volume to version `1.2.6`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-trusty stemcell</td><td>3541.61</td></tr>
    <tr><td>cf-app-sd</td><td>0.5.0</td></tr>
    <tr><td>cf-networking</td><td>1.10.6</td></tr>
    <tr><td>cflinuxfs2</td><td>1.249.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>1.35.12</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>haproxy</td><td>8.6.0</td></tr>
    <tr><td>loggregator</td><td>101.16</td></tr>
    <tr><td>nfs-volume</td><td>1.2.6</td></tr>
    <tr><td>routing</td><td>0.174.7</td></tr>
    <tr><td>syslog-migration</td><td>11.1.1</td></tr>
  </tbody>
</table>

### <a id='2.1.14'></a> 2.1.14

* **[Feature Improvement]** Improve router pruning behavior when route integrity is enabled
* Bump ubuntu-trusty stemcell to version `3541.57`
* Bump cf-networking to version `1.10.4`
* Bump cflinuxfs2 to version `1.245.0`
* Bump diego to version `1.35.12`
* Bump routing to version `0.174.7`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-trusty stemcell</td><td>3541.57</td></tr>
    <tr><td>cf-app-sd</td><td>0.5.0</td></tr>
    <tr><td>cf-networking</td><td>1.10.4</td></tr>
    <tr><td>cflinuxfs2</td><td>1.245.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>1.35.12</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>haproxy</td><td>8.6.0</td></tr>
    <tr><td>loggregator</td><td>101.16</td></tr>
    <tr><td>nfs-volume</td><td>1.2.3</td></tr>
    <tr><td>routing</td><td>0.174.7</td></tr>
    <tr><td>syslog-migration</td><td>11.1.1</td></tr>
  </tbody>
</table>

### <a id='2.1.13'></a> 2.1.13

* **[Security Fix]** Bump garden-runc to prevent malicious users from causing a denial of service for other apps
* **[Bug Fix]** Fix unsafe logic in NFS unmount and drain code that may lead to deletion of files on remote NFS shares.
* **[Bug Fix]** PAS 2.1.14 upgrade fails with `Error: release 'cf-networking/1.10.2' has already been uploaded`
* **[Bug Fix]** Fix issue in loggregator where AZ names with special characters could cause metron agent job to fail

* Bump cf-networking to version `1.10.3`
* Bump cflinuxfs2 to version `1.238.0`
* Bump garden-runc to version `1.16.1`
* Bump loggregator to version `101.16`
* Bump nfs-volume to version `1.2.3`
* Bump stemcell ubuntu-trusty to version `3541.49`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3541.49</td>
  </tr><tr>
    <td>cf-app-sd</td><td>0.5.0</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.3</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.238.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>1.35.10</td>
  </tr><tr>
    <td>garden-runc</td><td>1.16.1</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>loggregator</td><td>101.16</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.3</td>
  </tr><tr>
    <td>routing</td><td>0.174.6</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>


### <a id='2.1.12'></a> 2.1.12

* **[Feature Improvement]** Enable capturing goroutine dumps from Diego components for troubleshooting
* **[Bug Fix]** Fix issue in volume services that can cause application data loss when applications using the NFS volume service are scaled up or down

* Bump diego to version `1.35.10`
* Bump stemcell ubuntu-trusty to version `3541.48`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3541.48</td>
  </tr><tr>
    <td>cf-app-sd</td><td>0.5.0</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.2</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.235.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>1.35.10</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>loggregator</td><td>101.13</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.2</td>
  </tr><tr>
    <td>routing</td><td>0.174.6</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.11'></a> 2.1.11

* **[Bug Fix]** Prune router backends when they return a 502 and do not retry for 30 seconds
* **[Bug Fix]** Prevent requests from timing out by setting`Router Timeout to Backends` per request instead of per connection

* Bump cflinuxfs2 to version `1.235.0`
* Bump routing to version `0.174.6`
* Bump stemcell ubuntu-trusty to version `3541.46`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3541.46</td>
  </tr><tr>
    <td>cf-app-sd</td><td>0.5.0</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.2\*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.235.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>1.35.8</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>loggregator</td><td>101.13</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.2</td>
  </tr><tr>
    <td>routing</td><td>0.174.6</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.10'></a> 2.1.10

* **NOTE: BREAKING CHANGE** You must upgrade to PAS 2.1.10 or greater prior to installing IST 2.1.10 or higher

* **[Bug Fix]** Applications can use internal service discovery

* Bump cf-app-sd to version `0.5.0`
* Bump cflinuxfs2 to version `1.228.0`
* Bump nfs-volume to version `1.2.2`
* Bump stemcell to version `3541.37`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3541.37</td>
  </tr><tr>
    <td>cf-app-sd</td><td>0.5.0</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.2\*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.228.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>1.35.8</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>loggregator</td><td>101.13</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.2</td>
  </tr><tr>
    <td>routing</td><td>0.174.2</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.9'></a> 2.1.9

* **[Bug Fix]** Fix TLS pruning behavior for Gorouter
* **[Bug Fix]** Docker image based app resource reporting correctly includes image size in disk usage

* Bump diego to version `1.35.8`
* Bump loggregator to version `101.13`
* Bump routing to version `0.174.2`
* Bump stemcell to version `3541.36`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3541.36</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.2\*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.227.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>1.35.8</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>loggregator</td><td>101.13</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.1</td>
  </tr><tr>
    <td>routing</td><td>0.174.2</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.8'></a> 2.1.8

* **[Feature Improvement]** Add ability to configure HAproxy client certificate verification

* Bump cflinuxfs2 version `1.227.0`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3541.34</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.2\*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.227.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>1.35.6</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>loggregator</td><td>101.11\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.1</td>
  </tr><tr>
    <td>routing</td><td>0.174.1</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.7'></a> 2.1.7

* **[Bug Fix]** bump consul to v195
  * Includes golang 1.9.7, removes golang 1.8.*.
  * Deploying v193 could fail on some deployments due to a conflict with other tiles that compiled the release differently
  * Fixes intermittent consul DNS issues on Windows Cells
* **[Bug Fix]** Increase fs.inotify limits to prevent app crashes at high container density on cells with the rep proxy enabled.

* Bump cflinuxfs2 to version `1.223.0`
* Bump consul to version `195`
* Bump diego to version `1.35.6`
* Bump stemcell to version `3541.34`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>3541.34</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.2\*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.223.0</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>1.35.6</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>loggregator</td><td>101.11\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.1</td>
  </tr><tr>
    <td>routing</td><td>0.174.1</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.6'></a> 2.1.6

* **[Security Fix]** Bump diego to version `1.35.5`
  * [CVE-2018-1265](https://www.cloudfoundry.org/blog/cve-2018-1265/)
* **[Bug fix]** bump nfs-volume-release to version `1.2.1`
  * Fix incompatibility with new garden-runc release when using read-only NFS volume mounts
* **[Bug Fix]** Bump garden to version `1.13.3`
  * Fix issue with deleted files in application containers created from docker images
* Bump cflinuxfs2 to version `1.219.0`
* Bump consul to version `193` to use go `1.9`
* Bump stemcell to version `3541.30`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3541.30</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.2\*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.219.0</td>
  </tr><tr>
    <td>consul</td><td>193</td>
  </tr><tr>
    <td>diego</td><td>1.35.5</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>loggregator</td><td>101.11\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.1</td>
  </tr><tr>
    <td>routing</td><td>0.174.1</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.5'></a> 2.1.5

* **[Security Fix]** Bump cflinuxfs2 to version `1.210.0`:
  * [USN-3643-1](https://usn.ubuntu.com/3643-1/)
* **[Security Fix]** Bump loggregator to version `101.11`
  * Add strict application ID validation to TrafficController (CVE-2018-1268 CVE-2018-1269)
  * Stricter appID validation in TrafficController
  * Change RLP health endpoint to default to random port.
  * Metron health endpoint only listens on localhost
  * Bump go to 1.9.4
  * Fix doppler emitting multiple ingress metrics.
* Update grootfs checkbox to indicate the recreating VMs is recommended
* Bump cf-networking to version `1.10.2`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3541.25</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.2\*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.210.0</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>diego</td><td>1.35.4</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.1</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>loggregator</td><td>101.11\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.0</td>
  </tr><tr>
    <td>routing</td><td>0.174.1</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.4'></a> 2.1.4

* **[Security Fix]** Bump stemcell to v3541.25:
  * [USN-3641](https://usn.ubuntu.com/3641-1/)
  * [USN-3631-2](https://usn.ubuntu.com/3631-2/)
  * [USN-3628-1](https://usn.ubuntu.com/3628-1/)
  * [USN-3625-1](https://usn.ubuntu.com/3625-1/)
  * [USN-3624-1](https://usn.ubuntu.com/3624-1/)
* **[Security Fix]** Bump cflinuxfs2-release to v1.201.0:
  * [USN-3628-1](https://usn.ubuntu.com/3628-1/)
  * [USN-3625-1](https://usn.ubuntu.com/3625-1/)
  * [USN-3624-1](https://usn.ubuntu.com/3624-1/)
  * [USN-3622-1](https://usn.ubuntu.com/3622-1/)
* **[Feature Improvement]** Bump routing-release to v0.174.1 to enable operator to disable logging of client IPs, in compliance with the EU General Data Protection Regulation (GDPR).

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3541.25</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.1\*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.201.0</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>diego</td><td>1.35.4</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.1</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>loggregator</td><td>101.5\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.0</td>
  </tr><tr>
    <td>routing</td><td>0.174.1</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.3'></a> 2.1.3

* **[Security Fix]** Bumps garden-release to v1.13.1 for [CVE-2018-1277](https://www.cloudfoundry.org/blog/cve-2018-1277/).
* **[Bug Fix]** Updated console agent `node_name` to include BOSH id, to prevent two Diego cell instance groups with the same instance group name and index in different deployments from colliding.
* **[Feature Improvement]** Bumps diego-release to v1.35.4 to add cell and instance identifiers in the container lifecycle logs.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3541.12</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.1\*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.196.0</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>diego</td><td>1.35.4</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.1</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>loggregator</td><td>101.5\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.0</td>
  </tr><tr>
    <td>routing</td><td>0.174.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.2'></a> 2.1.2

* **[Security Fix]** Bumps cflinuxfs2 to v1.196.0:
  * [USN-3611-1](https://usn.ubuntu.com/3611-1/)
  * [USN-3610-1](https://usn.ubuntu.com/3610-1/)
* **[Security Fix]** Bumps stemcell to v3541.12:
  * [USN-3619-2](https://usn.ubuntu.com/3619-2/)
  * [USN-3611-1](https://usn.ubuntu.com/3611-1/)
  * [USN-3610-1](https://usn.ubuntu.com/3610-1/)
  * [USN-3598-1](https://usn.ubuntu.com/3598-1/)
  * [USN-3586-1](https://usn.ubuntu.com/3586-1/)
  * [USN-3584-1](https://usn.ubuntu.com/3584-1/)
* **[Bug Fix]** Bumps syslog-migration-release to v11.1.1:
  * Prevent logs from blackbox from being written to the default syslog log files to prevent logs from being written to the disk 3 additional times.
  * Fix rfc5424 compatibility by ensuring only 1 space occurs between the message and the structured data.
* **[Feature Improvement]** Bumps diego-release to v1.35.3 to remove file limits for Envoy.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3541.12</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.1\*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.196.0</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>diego</td><td>1.35.3</td>
  </tr><tr>
    <td>garden-runc</td><td>1.11.1</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>loggregator</td><td>101.5\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.0</td>
  </tr><tr>
    <td>routing</td><td>0.174.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.1'></a> 2.1.1

* **[Maintenance]** Bump stemcell to version 3451.9.
* **[Bug fix]** Bump cf-networking-release to version 1.10.1:
  * Fixes issue where deploy would fail when configured to use the NSX-T CNI plugin.
* **[Bug fix]** Bump routing-release to version 0.174.0:
  * Router gracefully falls back to non-TLS-enabled backends when encountering a
    retriable error with a TLS-enabled backend.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3541.9</td>
  </tr><tr>
    <td>cf-networking</td><td>1.10.1\*</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.188.0</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>diego</td><td>1.35.0</td>
  </tr><tr>
    <td>garden-runc</td><td>1.11.1</td>
  </tr><tr>
    <td>haproxy</td><td>8.6.0</td>
  </tr><tr>
    <td>loggregator</td><td>101.5\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.2.0</td>
  </tr><tr>
    <td>routing</td><td>0.174.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>11.1.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.0'></a> 2.1.0

 <table border="1" class="nice">
 <thead> <tr>
   <th>Component</th>
   <th>Version</th>
 </tr>
 </thead>
 <tbody>
 <tr>
   <td>Stemcell</td><td>3541.8</td>
 </tr><tr>
   <td>cf-networking</td><td>1.10.0</td>
 </tr><tr>
   <td>cflinuxfs2</td><td>1.188.0</td>
 </tr><tr>
   <td>consul</td><td>191</td>
 </tr><tr>
   <td>diego</td><td>1.35.0</td>
 </tr><tr>
   <td>garden-runc</td><td>1.11.1</td>
 </tr><tr>
   <td>haproxy</td><td>8.6.0</td>
 </tr><tr>
   <td>loggregator</td><td>101.5\*</td>
 </tr><tr>
   <td>nfs-volume</td><td>1.2.0</td>
 </tr><tr>
   <td>routing</td><td>0.172.0</td>
 </tr><tr>
   <td>syslog-migration</td><td>11.1.0</td>
 </tr>
 </tbody>
 <tfoot>
 <tr>
   <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
 </tr>
 </tfoot>
 </table>


## <a id='intro'></a> About PCF Isolation Segment

The PCF Isolation Segment v2.1 tile is available for installation with PCF v2.1.

[Isolation segments](http://docs.pivotal.io/pivotalcf/2-1/concepts/security.html#isolation-segments) provide dedicated pools of resources where you can deploy apps and isolate workloads. Using isolation segments separates app resources as completely as if they were in different CF deployments but avoids redundant management and network complexity.

For more information about using isolation segments in your deployment, see the [Managing Isolation Segments](https://docs.pivotal.io/pivotalcf/2-1/adminguide/isolation-segments.html) topic.


## <a id='install'></a> How to Install

The procedure for installing PCF Isolation Segment v2.1 is documented in the [Installing PCF Isolation Segment](https://docs.pivotal.io/pivotalcf/2-1/customizing/installing-pcf-is.html) topic.

To install a PCF Isolation Segment, you must first install PCF v2.1.


## <a id='2.1.0'></a> New Features in PCF Isolation Segment v2.1

### <a id='route-consistency'></a> Increased Resiliency, Consistency, and Security for HTTP Routing

You can now configure the Gorouter to use TLS for verifying app identity and communicating with app containers.
This improves resiliency and consistency for app routes as well as increases security by encrypting data in flight from the Gorouter to back ends.
To support app identification and communication over TLS, the platform must allocate more memory for app instances. CPU usage by the Gorouter and Diego cell VMs may also increase.

For information about enabling this feature, see [Application Containers](https://docs.pivotal.io/pivotalcf/2-1/customizing/installing-pcf-is.html#application_containers) in the _Installing PCF Isolation Segment_ topic.

For information about TLS support and Gorouter route consistency modes, see [TLS to Apps and Other Back-End Services](https://docs.pivotal.io/pivotalcf/2-1/concepts/http-routing.html#tls-to-back-end) and [Preventing Misrouting](https://docs.pivotal.io/pivotalcf/2-1/concepts/http-routing.html#consistency) in the _HTTP Routing_ topic.

### <a id='keepalive-connections'></a> Gorouter Keepalive Connections to Back Ends Enabled by Default

In PCF Isolation Segment v2.1, the **Router Max Idle Keepalive Connections** field in the **Networking** pane of the PCF Isolation Segment tile has been replaced by the **Enable Keepalive Connections for Router** checkbox. For more information about configuring keepalive connections, see [Networking](https://docs.pivotal.io/pivotalcf/2-1/customizing/installing-pcf-is.html#networking) in the _Installing PCF Isolation Segment_ topic.

To improve routing performance, the checkbox is enabled by default. When keepalive connections are enabled, Gorouter maintains established TCP connections to back ends.
The maximum number of idle keepalive connections maintained by the Gorouter to all back ends is set to 49,000.
For more information, see [Keepalive Connections](https://docs.pivotal.io/pivotalcf/2-1/concepts/http-routing.html#keepalive) in the _HTTP Routing_ topic.

### <a id='hsts-haproxy'></a> HSTS Support for HAProxy

You can now enable HTTP Strict Transport Security (HSTS) for HAProxy. HSTS headers force browsers to use HTTPS exclusively to contact HAProxy for a period of time you specify.

For more information, see [Secure Apps Domain with HAProxy](https://docs.pivotal.io/pivotalcf/2-1/opsguide/securing-endpoints.html#load-balancer).

### <a id='cipher-defaults'></a> Pre-Populated TLS Cipher Defaults for Gorouter and HAProxy

For new installations of PCF Isolation Segment, the **TLS Cipher Suites for Router** and **TLS Cipher Suites for HAProxy** fields in the **Networking** pane are automatically populated with the following values:

* Defaults for Gorouter: `ECDHE-RSA-AES128-GCM-SHA256:TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384`
* Defaults for HAProxy: `DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384`

<p class='note'><strong>Note:</strong> If you are using AWS Classic Load Balancers, see <a href="http://docs.pivotal.io/pivotalcf/2-1/adminguide/securing-traffic.html#default">TLS Cipher Suite Support by AWS Load Balancers</a> for information about configuring your AWS load balancers and Gorouter.</p>

For upgrades, PCF Isolation Segment v2.1 populates the **TLS Cipher Suites for Router** and **TLS Cipher Suites for HAProxy** fields with the values specified in your previous version of the PCF Isolation Segment tile.
For information about configuring these fields, see [Networking](https://docs.pivotal.io/pivotalcf/2-1/customizing/installing-pcf-is.html#networking) in the _Installing PCF Isolation Segment_ topic.

### <a id='healthchecks'></a> Improved System Performance for App Health Checks

This release changes how PCF Isolation Segment runs app health checks to improve system performance in resource-constrained environments, such as on-premise installations of PCF. This change does not impact the developer workflow for [configuring app health checks](https://docs.pivotal.io/pivotalcf/2-1/devguide/deploy-apps/healthchecks.html).

Previously, health checks during app startup increased system load because they ran as a Garden process every two seconds. In addition, apps that started successfully could fail if slow system performance caused the app health check to time out. In some severe cases, such app failures caused additional resource consumption and a chain-reaction of app failures.

PCF Isolation Segment v2.1 resolves these issues through a new implementation that does not invoke a new process on every health check. The health check now runs as a long-lived process in the app container. Developers may see these processes if they access an app container using the `cf ssh` command and list the processes.


## <a id='known-issues'></a> Known Issues

### <a id='nsx-t'></a> NSX-T v2.3.1 and Earlier Not Compatible with PCF Isolation Segment

The NSX-T tiles v2.3.1 and earlier are not compatible with PCF Isolation Segment. The Gorouters in an Isolation Segment are not given access in the firewall rules for NSX-T v2.3.1 and earlier, which prevents them from communicating with apps.

NSX-T v2.3.2 and later give access to the Gorouters in an Isolation Segment, and thus are compatible with PCF Isolation Segment.


## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PCF Isolation Segment v2.1 tile includes new functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in production.
