---
title: PCF Isolation Segment v1.10 Release Notes
owner: Release Engineering
---

## <a id='versions'></a> Component Versions

Versions 1.10.0 and higher versions of PCF Isolation Segment consist of the following component versions:

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3312.12</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.50.0</td>
  </tr><tr>
    <td>consul</td><td>152</td>
  </tr><tr>
    <td>diego</td><td>1.7.1</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>loggregator</td><td>77</td>
  </tr><tr>
    <td>routing</td><td>0.145.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

## <a id='upgrade'></a> How to Install

The procedure for installing PCF Isolation Segment v1.10 is documented in the
[Installing PCF Isolation Segment](../opsguide/installing-pcf-is.html) topic.

## <a id='1.10.0'></a> New Features in PCF Isolation Segment v1.10.0

This section describes new features of the release.

### <a id='adv-features'></a> Advanced Features

The Advanced Features section of the PCF Isolation Segment tile includes new functionality that may have certain constraints.
Although these features are fully supported, Pivotal recommends caution when using them in production.

## <a id='knownissues'></a> Known Issues

This section lists new and existing known issues for PCF Isolation Segment.

###<a id='newissues'></a> New Issues

###<a id='existingissues'></a> Existing Issues
