---
title: PCF Isolation Segment v1.10 Release Notes
owner: Release Engineering
---

<%= partial '/shared/deprecation-notice' %>

## <a id='releases'></a> Releases

### <a id='1.10.31'></a> 1.10.31

* **[Security Fix]** Patch routing-release for [CVE-2018-1221](https://www.cloudfoundry.org/blog/cve-2018-1221/).

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.181.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.30'></a> 1.10.30

* **[Security Fix]** Bump stemcell to version 3468.21 to address issues:
  * [USN-3534-1](http://www.ubuntu.com/usn/usn-3534-1/)
  * [USN-3540-2](http://www.ubuntu.com/usn/usn-3540-2/)
* **[Security Fix]** Bump cflinuxfs2-release to v1.181.0 to address issues:
  * [USN-3532-1](http://www.ubuntu.com/usn/usn-3532-1/)
  * [USN-3534-1](http://www.ubuntu.com/usn/usn-3534-1/)
  * [USN-3535-1](http://www.ubuntu.com/usn/usn-3535-1/)

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.21</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.181.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.29'></a> 1.10.29

* **[Security Fix]** Bumps stemcell version to 3445.22 for
[USN-3544-2](http://www.ubuntu.com/usn/usn-3522-2/)
and [USN-3544-4](http://www.ubuntu.com/usn/usn-3522-4/)

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.22</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.171.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.28'></a> 1.10.28

* **[Security Fix]** Bumps cflinuxfs2-release to v1.176.0 for [USN-3513-1](https://usn.ubuntu.com/usn/usn-3513-1/).
* **[Bug Fix]** Patches loggregator-release to fix diodes data-race.
* **[Feature]** Bumps garden-runc-release to v1.10.0:
  * It is now possible to specify a `ProcessSpec.Image`. Processes can now have their own filesystem view. 
    * Limitation: It is only possible to use `ProcessSpec.Image` and `ProcessSpec.OverrideContainerLimits` with unprivileged containers.  
    This will be fixed in future releases.
    * Limitation: APIs such as `BulkMetrics` and `Process.Signal` may not work immediately after `container.Run(ProcessSpec)` returns
    for processes with `Image` and/or `OverrideContainerLimits` specified. This will be fixed in future releases.
  * Reduced log volume in `BulkMetrics` for large environments.
  * Correctly declares that bundles it creates are OCI Runtime Spec version 1.0.0 compliant.
* The Garden property `cleanup_process_dirs_on_wait` is configured to `true`, to reduce the growth of directories in the Garden container.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.19</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.171.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.27'></a> 1.10.27

* **[Security Fix]** Bumps stemcell version to 3445.19 for [USN-3509-2](https://www.cloudfoundry.org/usn-3509-2/).
* **[Security Fix]** Bumps cflinuxfs2-release to v1.171.0 to resolve several
  security vulnerabilities:
  * [USN-3489-1: Berkeley DB vulnerability](https://usn.ubuntu.com/usn/usn-3489-1/)
  * [USN-3496-1: Python vulnerability](https://usn.ubuntu.com/usn/usn-3496-1/)
  * [USN-3496-3: Python vulnerability](https://usn.ubuntu.com/usn/usn-3496-3/)
  * [USN-3498-1: curl vulnerabilities](https://usn.ubuntu.com/usn/usn-3498-1/)
  * [USN-3501-1: libxcursor vulnerability](https://usn.ubuntu.com/usn/usn-3501-1/)
* **[Bug Fix]** Operators can now optionally disable Router Access logs. This
  will prevent the Router local disk from becoming filled when the Routers are
  experiencing increased incoming traffic.
* This release does not set the Garden property `cleanup_process_dirs_on_wait` to `true`, which can leave many directories in the depot for the Garden container. This will be set to `true` in the next release.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.19</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.171.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.26'></a> 1.10.26

* **[Security Fix]** Bumps the stemcell to v3445.17 to resolve the following security issues:
  * [USN-3457-1: curl vulnerability](https://usn.ubuntu.com/usn/usn-3457-1/)
  * [USN-3458-1: ICU vulnerability](https://usn.ubuntu.com/usn/usn-3458-1/)
  * [USN-3464-1: Wget vulnerabilities](https://usn.ubuntu.com/usn/usn-3464-1/)
  * [USN-3469-2: Linux kernel (Xenial HWE) vulnerabilities](https://usn.ubuntu.com/usn/usn-3469-2/)
  * [USN-3475-1: OpenSSL vulnerabilities](https://usn.ubuntu.com/usn/usn-3475-1/)
  * [USN-3478-1: Perl vulnerabilities](https://usn.ubuntu.com/usn/usn-3478-1/)
  * [USN-3485-2: Linux kernel (Xenial HWE) vulnerabilities](https://usn.ubuntu.com/usn/usn-3485-2/)
* **[Security Fix]** Bumps cflinuxfs2-release to v1.168.0 to resolve
  [USN-3478-1: Perl vulnerabilities](https://usn.ubuntu.com/usn/usn-3478-1/).

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.17</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.168.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.25'></a> 1.10.25

* **[Security Fix]** Bumps cflinuxfs2-release to v1.166.0 to resolve
  [USN-3475-1](http://www.ubuntu.com/usn/usn-3475-1/). [Release
  Notes](https://github.com/cloudfoundry/cflinuxfs2/releases/tag/1.166.0)
* **[Bug Fix]** Patches loggregator-release to introduce a circuit breaker when
  the Traffic Controller connects to the Doppler VMs.
* **[Bug Fix]** Patches loggregator-release to ensure metron agents maintain
  availability-zone affinity when connecting to Doppler VMs.
* **[Bug Fix]** Patches consul-release to include Internationalized Domain Name
  encoding when specifying an availability-zone-specific service.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.16</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.166.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.24'></a> 1.10.24

* **[Security Fix]** Bumps the stemcell to v3445.16 to resolve several security
  vulnerabilities:
  * [USN-3424-1](https://usn.ubuntu.com/usn/usn-3424-1/)
  * [USN-3432-1](https://usn.ubuntu.com/usn/usn-3432-1/)
  * [USN-3434-1](https://usn.ubuntu.com/usn/usn-3434-1/)
  * [USN-3441-1](https://usn.ubuntu.com/usn/usn-3441-1/)
  * [USN-3444-2](https://usn.ubuntu.com/usn/usn-3444-2/)
* **[Security Fix]** Bumps the cflinuxfs2-release to v1.165.0 to resolve
  several security vulnerabilities:
  * [USN-3457-1](https://usn.ubuntu.com/usn/usn-3457-1/)
  * [USN-3458-1](https://usn.ubuntu.com/usn/usn-3458-1/)
  * [USN-3464-1](https://usn.ubuntu.com/usn/usn-3464-1/)
* **[Bug Fix]** Bumps garden-runc-release to v1.9.4 to resolve several bugs.
  Please see the release notes for more details:
  * [v1.9.2](https://github.com/cloudfoundry/garden-runc-release/releases/tag/v1.9.2)
  * [v1.9.3](https://github.com/cloudfoundry/garden-runc-release/releases/tag/v1.9.3)
  * [v1.9.4](https://github.com/cloudfoundry/garden-runc-release/releases/tag/v1.9.4)
* **[Bug Fix]** Patches loggregator-release to remove the
  `totalReceivedMessageCount` metric from the v2 API.
* **[Bug Fix]** Patches consul-release to include a fix for parsing the
  resolvers list on Windows.
* **[Bug Fix]** Garden is now configured to destroy containers on start. This
  setting will cause the `garden` process to remove any containers that are
  already running when it starts. That action will prevent issues where
  containers that should no longer be running are left up to run.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.16</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.165.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.23'></a> 1.10.23

* **[Security Fix]** Bumps cflinuxfs2-release to v1.161.0 to resolve multiple
  security issues. [Release
  Notes](https://github.com/cloudfoundry/cflinuxfs2/releases/tag/1.161.0)
* **[Bug Fix]** Patches consul-release to ensure encrypt key rotation only
  occurs when the key changes.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.11</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.161.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.22'></a> 1.10.22

* **[Security Fix]** Bumps cflinuxfs2-release to v1.158.0 to resolve multiple
  security issues. [Release
  Notes](https://github.com/cloudfoundry/cflinuxfs2/releases/tag/1.158.0)

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.11</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.158.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.21'></a> 1.10.21

* **[Bug Fix]** Disables tracing in the gRPC components of Loggregator to prevent memory leak.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.11</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.156.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.20'></a> 1.10.20

* **[Security Fix]** Bumps cflinuxfs2-release to v1.156.0 to resolve multiple
  security issues. [Release
  Notes](https://github.com/cloudfoundry/cflinuxfs2/releases/tag/1.156.0)
* **[Security Fix]** Resolves an issue with an incorrect `Host` header being
  set on incoming requests through the Router [CVE
  Notice](https://www.cloudfoundry.org/cve-2017-8047/).
* The Cipher Suites for the Router and HAProxy are now required fields.
* Operators can now specify a minimum supported TLS version for the Router and HAProxy.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.11</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.156.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.19'></a> 1.10.19

* **[Security Fix]** Bumps stemcell to v3445.11 to address [USN-3420-2](https://usn.ubuntu.com/usn/usn-3420-2/).
* **[Security Fix]** Bumps cflinuxfs-release to v1.155.0 to address [USN-3415-1](https://usn.ubuntu.com/usn/usn-3415-1/).

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3445.11</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.155.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.18'></a> 1.10.18

* **[Security Fix]** Bumps cflinuxfs2-release to v1.150.0 to resolve
  [USN-3398-1](http://www.ubuntu.com/usn/usn-3398-1/).
* **[Feature Improvement]** Operators can now configure a maximum number of
  idle connections for their Router VMs.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.31</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.150.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.17'></a> 1.10.17

* **[Security Fix]** Bumps stemcell to v3363.31 to resolve
  [USN-3392-2](https://usn.ubuntu.com/usn/usn-3392-2/).
* **[Security Fix]** Bumps cflinuxfs2-release to v1.147.0 to resolve
  [USN-3387-1](https://usn.ubuntu.com/usn/usn-3387-1/) and
  [USN-3388-1](https://usn.ubuntu.com/usn/usn-3388-1/).

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.31</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.147.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.16'></a> 1.10.16

* **[Security Fix]** Bumps stemcell to version 3363.30.
* **[Bug Fix]** Patches Diego components to resolve race condition in the
  buildpack and Docker launchers, as well as the diego-sshd process that could
  cause errant process failures.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.30</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.145.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.15'></a> 1.10.15

* **[Security Fix]** Bumps stemcell to v3363.29 to resolve
  [USN-3378-2](https://usn.ubuntu.com/usn/usn-3378-2/).
* **[Security Fix]** Bumps cflinuxfs2 to v1.145.0 to resolve multiple CVEs and
  USNs. Please see the [release
  notes](https://github.com/cloudfoundry/cflinuxfs2/releases) for more details.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.29</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.145.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.14'></a> 1.10.14

* The components included in routing-release (gorouter, route_registrar,
  routing-api, tcp_emitter, and tcp_router) have been updated to run on Go v1.8.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.26</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.13'></a> 1.10.13

* **[Security Fix]** The Router will now validate the UAA token issuer
  field. This will prevent users with valid tokens belonging to an Identity Zone
  other than the default zone from escalating their privileges when making
  requests against system components.
* Sets the default max-in-flight value for the Diego Cells to 4%. Operators can
  still use the Ops Manager API to configure this setting to fit their needs. The
  max-in-flight percentage for the Diego Cell job in the Elastic Runtime has been
  set to 10% since 1.10.0, but we’ve seen especially in larger environments that
  having the percentage this high can cause some problems:
  * Many simultaneous VM creates/deletes and BOSH blob updates can place
  significant stress on the underlying infrastructure, especially on vSphere
  which has a greater probability of being under-provisioned.
  * The cells that are draining are no longer available for allocation,
  resulting in a 10% decrease in total memory and disk capacity during the
  deployment. This can cause deployments to no longer have sufficient total
  capacity to run all the work, or to have insufficient headroom to place
  larger workloads successfully.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.26</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.12'></a> 1.10.12

* Bumps garden-runc-release to v1.9.0. [Release Notes](https://github.com/cloudfoundry/garden-runc-release/releases/tag/v1.9.0)

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.26</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.11'></a> 1.10.11

* **[Security Fix]** Bumps cflinuxfs2-rootfs to 1.33.0. [Release Notes](https://github.com/cloudfoundry/cflinuxfs2/releases/tag/1.133.0)

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.26</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.133.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.7.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.10'></a> 1.10.10

* Bumps stemcell to 3363.26.
* Patches routing-release to include 'instanceIndex' field in HttpStartStop metrics for gorouter.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.26</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.126.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.7.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.9'></a> 1.10.9

* Bumps garden-runc to v1.7.0.
* Patches diego-release to allow ICMP and UDP packet logging for security group rules.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.25</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.126.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.7.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.8'></a> 1.10.8

* Bumps stemcell to v3363.25.
* Bumps cflinuxfs2 rootfs to v1.126.0.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.25</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.126.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.2.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.7'></a> 1.10.7

* Bumps stemcell to v3363.24.
* Bumps cflinuxfs2 rootfs to v1.123.0.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.24</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.123.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.2.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.6'></a> 1.10.6

* Patches Loggregator to resolve issue with operator-provided cipher suites.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.20</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.60.0</td>
  </tr><tr>
    <td>consul</td><td>164</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.2.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.5'></a> 1.10.5

* Allows operators to specify DNS servers that differ from those provided in their BOSH configuration.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.20</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.60.0</td>
  </tr><tr>
    <td>consul</td><td>164</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.2.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.4'></a> 1.10.4

* Bumps stemcell to v3363.20.
* Bumps garden-runc to v1.2.0 to fix compatibility with some anti-virus scanning software.
* Patches bug in Gorouter that caused the router to crash when invalid X-CF-APP-INSTANCE headers were sent in a request.
* Patches bug in Gorouter that prevented operators from specifying additional TLS cipher suites.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.20</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.60.0</td>
  </tr><tr>
    <td>consul</td><td>159</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.2.0</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.3'></a> 1.10.3

* Bumps consul-release to v159 to ensure TLS communication happens over TLS 1.2.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.15</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.60.0</td>
  </tr><tr>
    <td>consul</td><td>159</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.2'></a> 1.10.2

* Bumps stemcell to version 3363.15.
* Bumps the rootfs to v1.60.0 which provides stack version 1.111.0.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.15</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.60.0</td>
  </tr><tr>
    <td>consul</td><td>152\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.1'></a> 1.10.1

* Patches an issue with the naming of the router VM. See the note below for more details.
* Bumps the rootfs to v1.59.0 which provides stack version 1.110.0.

<p class='tip'>
The routers use consul for service discovery and necessarily require that their
local consul agent join the larger Elastic Runtime consul cluster to send and
receive service discovery updates. Membership in the cluster is managed by name
and IP address.
<br><br>
The Elastic Runtime routers will register with a name like "router-1" or
"router-4", indicating their job name and VM index. Unfortunately, the
Isolation Segment Tile routers use the same name to register themselves with
the cluster and thus result in a naming collision.
<br><br>
This naming collision causes the routers in the Isolation Segment and the
routers in the Elastic Runtime to fight for membership in the cluster. This
instability can eventually cause the routers to become unavailable.
<br><br>
To resolve this, we have released a new version of the Isolation Segment tile
that ensures that the consul members are properly namespaced.
<br><br>
Upgrading from 1.10.0 to 1.10.1 is still supported, although you will
experience router downtime while this upgrade occurs. The routers with the
conflicting names will be removed, and a new set of routers will be created
with a dedicated namespace for the Isolation Segment tile. In the time between
the removal of the old routers, and the addition of the new routers, you will
not be able to route traffic to the Isolation Segment applications through the
dedicated Isolation Segment routers.
<br><br>
If you are only using compute isolation and not deploying the dedicated routing
VMs, this issue does not apply to your deployment. The primary, "shared" ERT
routing tier will experience no loss of application routing during this
upgrade.
</p>

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.10</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.59.0</td>
  </tr><tr>
    <td>consul</td><td>152</td>
  </tr><tr>
    <td>diego</td><td>1.7.1</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.0'></a> 1.10.0

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3363.10</td>
  </tr><tr>
    <td>cflinuxfs2-rootfs</td><td>1.50.0</td>
  </tr><tr>
    <td>consul</td><td>152</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-runc</td><td>1.1.1</td>
  </tr><tr>
    <td>loggregator</td><td>77</td>
  </tr><tr>
    <td>routing</td><td>0.146.0\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>


## <a id='intro'></a> About PCF Isolation Segment

PCF Isolation Segment is a new tile available for installation with PCF v1.10.

[Isolation segments](https://docs.pivotal.io/pivotalcf/1-10/concepts/security.html#isolation-segments) provide dedicated pools of resources where you can deploy apps and  isolate workloads. Using isolation segments separates app resources as completely as if they were in different CF deployments but avoids redundant management and network complexity.

For more information on using isolation segments in your deployment, see [Managing Isolation Segments](https://docs.pivotal.io/pivotalcf/1-10/adminguide/isolation-segments.html).


## <a id='install'></a> How to Install

The procedure for installing PCF Isolation Segment v1.10 is documented in [Installing PCF Isolation Segment](https://docs.pivotal.io/pivotalcf/1-10/opsguide/installing-pcf-is.html).

To install a PCF Isolation Segment, you must first install PCF v1.10.


## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PCF Isolation Segment tile includes new functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in production.
