---
title: PCF Isolation Segment v2.0 Release Notes
owner: Release Engineering
---

## <a id='releases'></a> Releases


## <a id='intro'></a> About PCF Isolation Segment

The PCF Isolation Segment v2.0 tile is available for installation with PCF
v2.0.

<!----
[Isolation segments](../concepts/security.html#isolation-segments) provide
dedicated pools of resources where you can deploy apps and  isolate workloads.
Using isolation segments separates app resources as completely as if they were
in different CF deployments but avoids redundant management and network
complexity.

For more information about using isolation segments in your deployment, see the
[Managing Isolation Segments](../adminguide/isolation-segments.html) topic.
---->

## <a id='install'></a> How to Install

<!----
The procedure for installing PCF Isolation Segment v2.0 is documented in the
[Installing PCF Isolation Segment](../customizing/installing-pcf-is.html) topic.---->

To install a PCF Isolation Segment, you must first install PCF v2.0.

## <a id='2.0.0'></a> New Features in PCF Isolation Segment v2.0.0

### <a id='custom-ca'></a> Additional CAs Trusted by Gorouter and HAProxy

When validating client requests, the Gorouter and HAProxy trust multiple Certificate Authorities (CAs) by default. Operators can now configure the Gorouter and HAProxy to trust custom CAs in addition to well-known, public CAs and the BOSH trusted certificates collection. For more information about configuring this feature, see the [PAS installation instructions](../customizing/gcp-er-config.html#networking) for your IaaS.

## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PCF Isolation Segment tile includes new
functionality that may have certain constraints.  Although these features are
fully supported, Pivotal recommends caution when using them in production.
