---
title: PCF Isolation Segment v2.3 Release Notes
owner: Release Engineering
---

## <a id='known-issues'></a> Known Issues

* **[Known Issue]** The NSX-T tile versions 2.3.1 and lower are not compatible with IST. Upcoming release NSX-T 2.3.2 will address this issue.

## <a id='releases'></a> Releases

<p class='note breaking'><strong>Breaking Change</strong>: You must upgrade to PAS v2.3.5 or later before upgrading to IST v2.3.5 or later.</p>

### <a id='2.3.10'></a>2.3.10

* **[Feature Improvement]** Add support for staging Docker images from repositories using schema version 2 manifests
* **[Bug Fix]** Prevent potential BPM configuration corruption after a VM restarts which could cause some jobs to fail to start. [Knowledge Article 6606](https://community.pivotal.io/s/article/bpm-fails-to-start-job-process-with-exit-status-1)
* Bump ubuntu-xenial stemcell to version `97.74`
* Bump bpm to version `1.0.4`
* Bump cflinuxfs2 to version `1.281.0`
* Bump cflinuxfs3 to version `0.81.0`
* Bump diego to version `2.20.8`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>97.74</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>cf-networking</td><td>2.12.3</td></tr>
    <tr><td>cflinuxfs2</td><td>1.281.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.81.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.20.8</td></tr>
    <tr><td>garden-runc</td><td>1.16.8</td></tr>
    <tr><td>haproxy</td><td>8.9.0</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.5.6</td></tr>
    <tr><td>routing</td><td>0.179.6</td></tr>
    <tr><td>silk</td><td>2.12.2</td></tr>
    <tr><td>syslog</td><td>11.3.2</td></tr>
  </tbody>
</table>

### <a id='2.3.9'></a>2.3.9

* **[Feature Improvement]** Add support for TCP hitless reloads in haproxy to avoid connection reset errors
* **[Feature Improvement]** Add ability to enable/disable gorouter hairpinning
* **[Bug Fix]** Improved clean up logic for stuck or unreachable NFS mounts to prevent cells' `rep` and `nfsv3driver` jobs from hanging during unmount and drain
* **[Bug Fix]** Fix feature: "Operator can specify headers to be stripped from the response by the router"
* **[Bug Fix]** Properly populate chained CA certificates for backend proxies when route integrity is enabled
* **[Bug Fix]** Fix diego rep to always clean up temporary download cache directory
* Bump ubuntu-xenial stemcell to version `97.71`
* Bump cflinuxfs2 to version `1.279.0`
* Bump cflinuxfs3 to version `0.76.0`
* Bump diego to version `2.20.7`
* Bump nfs-volume to version `1.5.6`
* Bump routing to version `0.179.6`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>97.71</td></tr>
    <tr><td>bpm</td><td>1.0.3</td></tr>
    <tr><td>cf-networking</td><td>2.12.3</td></tr>
    <tr><td>cflinuxfs2</td><td>1.279.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.76.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.20.7</td></tr>
    <tr><td>garden-runc</td><td>1.16.8</td></tr>
    <tr><td>haproxy</td><td>8.9.0</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.5.6</td></tr>
    <tr><td>routing</td><td>0.179.6</td></tr>
    <tr><td>silk</td><td>2.12.2</td></tr>
    <tr><td>syslog</td><td>11.3.2</td></tr>
  </tbody>
</table>

### <a id='2.3.8'></a>2.3.8

* **[Security Fix]** Bump BPM to v1.0.3 for RunC CVE
* **[Bug Fix]** Fixes access issue for NFS shares with `root_squash` enabled and no world read permissions.
* Bump ubuntu-xenial stemcell to version `97.57`
* Bump bpm to version `1.0.3`
* Bump cflinuxfs2 to version `1.267.0`
* Bump cflinuxfs3 to version `0.62.0`
* Bump loggregator to version `103.4`
* Bump mapfs to version `1.1.4`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>97.57</td></tr>
    <tr><td>bpm</td><td>1.0.3</td></tr>
    <tr><td>cf-networking</td><td>2.12.3</td></tr>
    <tr><td>cflinuxfs2</td><td>1.267.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.62.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.20.1</td></tr>
    <tr><td>garden-runc</td><td>1.16.8</td></tr>
    <tr><td>haproxy</td><td>8.9.0</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>1.5.5</td></tr>
    <tr><td>routing</td><td>0.179.4</td></tr>
    <tr><td>silk</td><td>2.12.2</td></tr>
    <tr><td>syslog</td><td>11.3.2</td></tr>
  </tbody>
</table>

### <a id='2.3.7'></a>2.3.7

* **[Bug Fix]** Fix concurrency bug in the Router's route pool, which could manifest as a fatal error: "Unlock of unlocked RWMutex"
* **[Bug Fix]** Improve garden init process to avoid edge cases that can lead to zombies
* **[Bug Fix]** Fix `allowNativePassword` error when using external IaaS MySql as a system database
* Bump ubuntu-xenial stemcell to version `97.53`
* Bump cflinuxfs2 to version `1.260.0`
* Bump cflinuxfs3 to version `0.51.0`
* Bump garden-runc to version `1.16.8`
* Bump nfs-volume to version `1.5.5`
* Bump routing to version `0.179.4`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>97.53</td></tr>
    <tr><td>bpm</td><td>0.11.0</td></tr>
    <tr><td>cf-networking</td><td>2.12.3</td></tr>
    <tr><td>cflinuxfs2</td><td>1.260.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.51.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.20.1</td></tr>
    <tr><td>garden-runc</td><td>1.16.8</td></tr>
    <tr><td>haproxy</td><td>8.9.0</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.1.2</td></tr>
    <tr><td>nfs-volume</td><td>1.5.5</td></tr>
    <tr><td>routing</td><td>0.179.4</td></tr>
    <tr><td>silk</td><td>2.12.2</td></tr>
    <tr><td>syslog</td><td>11.3.2</td></tr>
  </tbody>
</table>

### <a id='2.3.6'></a>2.3.6

* Bump ubuntu-xenial stemcell to version `97.43`
* Bump cflinuxfs2 to version `1.258.0`
* Bump cflinuxfs3 to version `0.48.0`
* Bump diego to version `2.20.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>97.43</td></tr>
    <tr><td>bpm</td><td>0.11.0</td></tr>
    <tr><td>cf-networking</td><td>2.12.3</td></tr>
    <tr><td>cflinuxfs2</td><td>1.258.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.48.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.20.1</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>haproxy</td><td>8.9.0</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.1.2</td></tr>
    <tr><td>nfs-volume</td><td>1.5.4</td></tr>
    <tr><td>routing</td><td>0.179.3</td></tr>
    <tr><td>silk</td><td>2.12.2</td></tr>
    <tr><td>syslog</td><td>11.3.2</td></tr>
  </tbody>
</table>

### <a id='2.3.5'></a>2.3.5

<p class='note breaking'><strong>Breaking Change:</strong> You must upgrade to PAS v2.3.5 or later before upgrading to PCF Isolation Segment v2.3.5 or later. See <a href="#apps-do-not-stage">Apps Do Not Stage After Upgrading to v2.3.5 or Later</a>.</p>

* **[Bug Fix]** Bump Diego to v2.20.0 to resolve DNS timeouts from Golang components
* Bump ubuntu-xenial stemcell to version `97.42`
* Bump cflinuxfs2 to version `1.255.0`
* Bump cflinuxfs3 to version `0.46.0`
* Bump diego to version `2.20.0`
* Bump silk to version `2.12.2`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>97.42</td></tr>
    <tr><td>bpm</td><td>0.11.0</td></tr>
    <tr><td>cf-networking</td><td>2.12.3</td></tr>
    <tr><td>cflinuxfs2</td><td>1.255.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.46.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.20.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>haproxy</td><td>8.9.0</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.1.2</td></tr>
    <tr><td>nfs-volume</td><td>1.5.4</td></tr>
    <tr><td>routing</td><td>0.179.3</td></tr>
    <tr><td>silk</td><td>2.12.2</td></tr>
    <tr><td>syslog</td><td>11.3.2</td></tr>
  </tbody>
</table>

### <a id='2.3.4'></a>2.3.4

* **[Security Fix]** Address leak of CF admin credentials into NFS broker bosh errand logs
* **[Security Fix]** Rotate diego intermediate CA before current certificate expires
* Bump ubuntu-xenial stemcell to version `97.34`
* Bump cf-networking to version `2.12.3`
* Bump cflinuxfs2 to version `1.249.0`
* Bump cflinuxfs3 to version `0.40.0`
* Bump mapfs to version `1.1.2`
* Bump nfs-volume to version `1.5.4`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>97.34</td></tr>
    <tr><td>bpm</td><td>0.11.0</td></tr>
    <tr><td>cf-networking</td><td>2.12.3</td></tr>
    <tr><td>cflinuxfs2</td><td>1.249.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.40.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.18.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>haproxy</td><td>8.9.0</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.1.2</td></tr>
    <tr><td>nfs-volume</td><td>1.5.4</td></tr>
    <tr><td>routing</td><td>0.179.3</td></tr>
    <tr><td>silk</td><td>2.12.1</td></tr>
    <tr><td>syslog</td><td>11.3.2</td></tr>
  </tbody>
</table>

### <a id='2.3.3'></a>2.3.3

* **[Feature Improvement]** Improve router pruning behavior when route integrity is enabled
* Bump ubuntu-xenial stemcell to version `97.28`
* Bump cflinuxfs2 to version `1.245.0`
* Bump cflinuxfs3 to version `0.34.0`
* Bump routing to version `0.179.3`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>97.28</td></tr>
    <tr><td>bpm</td><td>0.11.0</td></tr>
    <tr><td>cf-networking</td><td>2.12.2</td></tr>
    <tr><td>cflinuxfs2</td><td>1.245.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.34.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.18.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>haproxy</td><td>8.9.0</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.0.1</td></tr>
    <tr><td>nfs-volume</td><td>1.5.3</td></tr>
    <tr><td>routing</td><td>0.179.3</td></tr>
    <tr><td>silk</td><td>2.12.1</td></tr>
    <tr><td>syslog</td><td>11.3.2</td></tr>
  </tbody>
</table>

### <a id='2.3.2'></a>2.3.2

* **[Bug Fix]** Fix issue in loggregator where availability zone (AZ) names with special characters could cause metron agent job to fail
* **[Bug Fix]** Logs marked as "DEBUG" are no longer forwarded by default
* Bump ubuntu-xenial stemcell to version `97.19`
* Bump cflinuxfs2 to version `1.242.0`
* Bump cflinuxfs3 to version `0.29.0`
* Bump loggregator to version `103.3`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>97.19</td></tr>
    <tr><td>bpm</td><td>0.11.0</td></tr>
    <tr><td>cf-networking</td><td>2.12.2</td></tr>
    <tr><td>cflinuxfs2</td><td>1.242.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.29.0</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.18.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>haproxy</td><td>8.9.0</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.0.1</td></tr>
    <tr><td>nfs-volume</td><td>1.5.3</td></tr>
    <tr><td>routing</td><td>0.179.2</td></tr>
    <tr><td>silk</td><td>2.12.1</td></tr>
    <tr><td>syslog</td><td>11.3.2</td></tr>
  </tbody>
</table>

### <a id='2.3.1'></a>2.3.1

* **[Bug Fix]** Fixes slow app instance shutdown when using NSX-T for container networking
* **[Bug Fix]** Fix parse error for syslog rules when iptables logging is enabled

* Bump cf-networking to version `2.12.2`
* Bump cflinuxfs2 to version `1.238.0`
* Bump cflinuxfs3 to version `0.25.0`
* Bump diego to version `2.18.0`
* Bump silk to version `2.12.1`
* Bump stemcell ubuntu-xenial to version `97.18`

 <table border="1" class="nice">
 <thead> <tr>
   <th>Component</th>
   <th>Version</th>
 </tr>
 </thead>
 <tbody>
 <tr>
   <td>stemcell</td><td>97.18</td>
 </tr><tr>
   <td>bpm</td><td>0.11.0</td>
 </tr><tr>
   <td>cf-networking</td><td>2.12.2</td>
 </tr><tr>
   <td>cflinuxfs2</td><td>1.238.0</td>
 </tr><tr>
   <td>cflinuxfs3</td><td>0.25.0</td>
 </tr><tr>
   <td>consul</td><td>195</td>
 </tr><tr>
   <td>diego</td><td>2.18.0</td>
 </tr><tr>
   <td>garden-runc</td><td>1.16.1</td>
 </tr><tr>
   <td>haproxy</td><td>8.9.0</td>
 </tr><tr>
   <td>loggregator</td><td>103.0</td>
 </tr><tr>
   <td>mapfs</td><td>1.0.1</td>
 </tr><tr>
   <td>nfs-volume</td><td>1.5.3</td>
 </tr><tr>
   <td>routing</td><td>0.179.2</td>
 </tr><tr>
   <td>silk</td><td>2.12.1</td>
 </tr>
   <td>syslog</td><td>11.3.2</td>
 </tr>
 </tbody>
 <tfoot>
 <tr>
   <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
 </tr>
 </tfoot>
 </table>

### <a id='2.3.0'></a>2.3.0

* See [New Features](#new-features) below.

 <table border="1" class="nice">
 <thead> <tr>
   <th>Component</th>
   <th>Version</th>
 </tr>
 </thead>
 <tbody>
 <tr>
   <td>stemcell</td><td>97.16</td>
 </tr><tr>
   <td>bpm</td><td>0.11.0</td>
 </tr><tr>
   <td>cf-networking</td><td>2.12.0</td>
 </tr><tr>
   <td>cflinuxfs2</td><td>1.236.0</td>
 </tr><tr>
   <td>cflinuxfs3</td><td>0.23.0</td>
 </tr><tr>
   <td>consul</td><td>195</td>
 </tr><tr>
   <td>diego</td><td>2.16.0</td>
 </tr><tr>
   <td>garden-runc</td><td>1.16.1</td>
 </tr><tr>
   <td>haproxy</td><td>8.9.0</td>
 </tr><tr>
   <td>loggregator</td><td>103.0</td>
 </tr><tr>
   <td>mapfs</td><td>1.0.1</td>
 </tr><tr>
   <td>nfs-volume</td><td>1.5.3</td>
 </tr><tr>
   <td>routing</td><td>0.179.2</td>
 </tr><tr>
   <td>silk</td><td>2.12.0</td>
 </tr>
   <td>syslog</td><td>11.3.2</td>
 </tr>
 </tbody>
 <tfoot>
 <tr>
   <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
 </tr>
 </tfoot>
 </table>

## <a id='intro'></a> About PCF Isolation Segment

The PCF Isolation Segment v2.3 tile is available for installation with PCF v2.3.

[Isolation segments](http://docs.pivotal.io/pivotalcf/2-3/concepts/security.html#isolation-segments) provide dedicated pools of resources where you can deploy apps and isolate workloads. Using isolation segments separates app resources as completely as if they were in different CF deployments but avoids redundant management and network complexity.

For more information about using isolation segments in your deployment, see the [Managing Isolation Segments](https://docs.pivotal.io/pivotalcf/2-3/adminguide/isolation-segments.html) topic.


## <a id='install'></a> How to Install

The procedure for installing PCF Isolation Segment v2.3 is documented in the [Installing PCF Isolation Segment](https://docs.pivotal.io/pivotalcf/2-3/customizing/installing-pcf-is.html) topic.

To install a PCF Isolation Segment, you must first install PCF v2.3.


## <a id='new-features'></a> New Features in PCF Isolation Segment v2.3

### <a id="xenial"></a> Xenial Stemcells

IST v2.3 uses a stemcell based on Ubuntu 16.04 (Xenial Xerus).

Earlier versions' stemcells were based on Ubuntu 14.04 (Trusty Tahr). The Trusty distribution will reach end of general support (EOGS) in April 2019 and will no longer receive security updates.

Using Xenial stemcells in v2.3 ensures that IST users continue to have access to secure stemcells based on a Ubuntu distribution maintained by Canonical.

For more information on the impact of using Xenial stemcells in PCF, see [Updates for Xenial Stemcell Support](breaking-changes.html#xenial).

### <a id="routing-resiliency"></a> HTTP Router Uses TLS By Default in New Deployments

In new installations of PCF v2.3, the HTTP router (Gorouter) uses TLS by default to communicate with application containers.
This configuration improves resiliency and consistency for application routes.
Find this setting in the Isolation Segment tile > **Application Containers** pane.

For more information,
see [Increased Resiliency, Consistency, and Security for HTTP
Routing](https://docs.pivotal.io/pivotalcf/2-1/pcf-release-notes/segment-rn.html#route-consistency)
in the Isolation Segment v2.1 release notes.

If you upgrade to PCF v2.3, each Isolation Segment tile retains its previous setting for HTTP communication to apps. TLS is not the default setting.

### <a id="nfs-ldap"></a>NFS LDAP Configuration Updates

The LDAP configuration for NFS in the **Application Containers** pane includes the following updates:

* You can optionally enter a **LDAP Server CA Cert** if your LDAP server supports TLS and you want to enable secure connections from the NFS driver to your LDAP server.
* The **LDAP User Fully-Qualified Domain Name** has been renamed to **LDAP User Search Base** for clarity and consistency with LDAP UAA configuration in the **Authentication and Enterprise SSO** pane.

### <a id='service-discovery'></a> App Service Discovery Updates

App service discovery is enabled by default and no longer configurable. The **Enable app service discovery** checkbox no longer appears in the **Application Developer Controls** pane.

You can also configure the internal domain used for service discovery using the **Internal Domain** field in the **Application Developer Controls** pane of the PAS tile. This field defaults to `apps.internal`.

### <a id="bpm"></a> BOSH Process Manager

Starting in v2.3, some IST components use BOSH Process Manager (BPM).

BPM is a layer between BOSH and the jobs running on component VMs. It improves the way processes run on VMs by isolating colocated jobs. With the exception of networking, BPM namespaces operating system resources so a job cannot view or interact with the processes of another job. This provides a security barrier such that if a job on a VM is compromised, the incident is limited to just that job rather than all jobs on the same machine.

BPM also includes resource limiting capability. This prevents any one job from using too much operating system resources and impacting colocated jobs.

For more information about BPM, see the [bpm-release](https://github.com/cloudfoundry-incubator/bpm-release) repository.

### <a id="groot"></a> Remove Deprecated Garden Image Plugin Option

<p class="warning note"><strong>WARNING:</strong> If you do not have GrootFS enabled, you must enable it before upgrading to PAS v2.3. See <a href="#upgrade">How to Upgrade</a> above.</p>

Garden creates app containers in IST and includes an image plugin that prepares the filesystem for the container. PCF v1.12 introduced GrootFS as the default image plugin to replace the previous built-in functionality, garden-shed, which used an obsolete layer filesystem (AUFS) that lacked support from the Linux Kernel community.

Though GrootFS is the default image plugin in v1.12 through v2.2, at one time PAS provided an option in the **Application Containers** pane for operators to disable GrootFS and use garden-shed. However, garden-shed is deprecated and IST v2.3 removes the option to use it.

For more information about GrootFS in PCF, see the following topics:

* [Understanding Container Security](https://docs.pivotal.io/pivotalcf/2-3/concepts/container-security.html#mechanics)
* [Garden](https://docs.pivotal.io/pivotalcf/2-3/concepts/architecture/garden.html#garden-rootfs)

### <a id="routing-resiliency"></a> HTTP Router Uses TLS By Default in New Deployments
In new installations of IST v2.3, the HTTP router (Gorouter) uses TLS by default to communicate with application containers. This configuration improves resiliency and consistency for application routes. If you are upgrading to IST v2.3, IST retains its previous setting for HTTP communication to apps. TLS is now the default setting.

Configure this setting in the PAS tile > **Application Containers** pane.

For more information, see [Increased Resiliency, Consistency, and Security for HTTP
Routing](https://docs.pivotal.io/pivotalcf/2-1/pcf-release-notes/runtime-rn.html#route-consistency)
in the PAS v2.1 release notes.

### <a id='mutual-tls-id'></a> Mutual TLS App Identity Verification

In the **Application Containers** pane of PAS v2.3, the new option **Router and applications use mutual TLS to verify each other's identity** configures the Gorouter and app containers to verify each other's identities through mutual TLS (mTLS).

With the **Router uses TLS to verify application identity** option, the Gorouter uses a one-way TLS handshake to verify the identity of the app container, but the app container does not verify the identity of the Gorouter. The new mTLS option increases security over one-way TLS by ensuring that the Gorouter is the only client that can communicate with app instances.

### <a id='remove-consul-agent'></a> Remove Consul Agent

In IST v2.3, IST component VMs no longer include the `consul_agent` job. IST component VMs can now only use BOSH DNS for service discovery.

However, the `consul_server` VM continues to exist in PAS deployments to support any service or partner tiles that still require communication with Consul.

<p class='note breaking'><strong>Breaking Change:</strong> Enabling mTLS creates certain limitations. For more information, see <a href="https://docs.pivotal.io/pivotalcf/2-3/pcf-release-notes/runtime-rn.html#mutual-tls-id-limitations">Limitations with Mutual TLS App Identity Verification</a> in the <em>Known Issues</em> section.</p>


## <a id='known-issues'></a> Known issues

### <a id='apps-do-not-stage'></a> Apps Do Not Stage After Upgrading to v2.3.5 or Later

If you upgrade to PCF Isolation Segment v2.3.5 or later before upgrading to PAS v2.3.5 or later, apps do not stage when pushed to an Isolation Segment. For more information, see the following article in the Pivotal Knowledge Base: [Diego releases out of sync while upgrading PASW to version 2.3.5 or above](https://community.pivotal.io/s/article/diego-releases-out-of-sync-while-upgrading-pasw). 

### <a id='nsx-t'></a> NSX-T v2.3.1 and Earlier Not Compatible with PCF Isolation Segment

The NSX-T tiles v2.3.1 and earlier are not compatible with PCF Isolation Segment. The Gorouters in an Isolation Segment are not given access in the firewall rules for NSX-T v2.3.1 and earlier, which prevents them from communicating with apps.

NSX-T v2.3.2 and later give access to the Gorouters in an Isolation Segment, and thus are compatible with PCF Isolation Segment.


## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PCF Isolation Segment v2.3 tile includes new functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in production.
