---
title: PCF Isolation Segment v2.6 Release Notes
owner: Release Engineering
---

## <a id='known-issues'></a> Known Issues

## <a id='releases'></a> Releases

### <a id='2.6.0-rc.2'></a> 2.6.0-rc.2

* **[Feature]** Improve scalability of application syslog drain system with new syslog agent architecture
* **[Feature Improvement]** Increase default number of CPUs for router from 1 to 2
* **[Bug Fix]** Fix regression causing `mount` bind configuration to be rejected by the NFS volume service broker.
* Bump ubuntu-xenial stemcell to version `315.34`
* Bump cflinuxfs3 to version `0.93.0`
* Bump loggregator-agent to version `3.14`
* Bump nfs-volume to version `2.1.0`
* Removed loggregator release

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>315.34</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>cf-networking</td><td>2.22.2</td></tr>
    <tr><td>cflinuxfs3</td><td>0.93.0</td></tr>
    <tr><td>diego</td><td>2.30.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.1</td></tr>
    <tr><td>haproxy</td><td>9.5.0</td></tr>
    <tr><td>loggregator-agent</td><td>3.14</td></tr>
    <tr><td>mapfs</td><td>1.1.5</td></tr>
    <tr><td>nfs-volume</td><td>2.1.0</td></tr>
    <tr><td>routing</td><td>0.188.0</td></tr>
    <tr><td>silk</td><td>2.22.2</td></tr>
    <tr><td>smb-volume</td><td>1.0.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.6.0-rc.1'></a> 2.6.0-rc.1

* **[Security Fix]** Introduce and trust new Diego "root CA" in advance of existing CA expiration
* **[Feature Improvement]** Garden will now delegate container creates and destroys to containerd, an industry standard container runtime.
* **[Feature Improvement]** Update default polling interval and idle connection limits for networking components to reduce resource contention on PAS database
* **[Bug Fix]** Fixes NFS resource leak issues
* Bump cf-networking to version `2.22.2`
* Bump cflinuxfs3 to version `0.88.0`
* Bump nfs-volume to version `2.0.4`
* Bump silk to version `2.22.2`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>315.13</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>cf-networking</td><td>2.22.2</td></tr>
    <tr><td>cflinuxfs3</td><td>0.88.0</td></tr>
    <tr><td>diego</td><td>2.30.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.1</td></tr>
    <tr><td>haproxy</td><td>9.5.0</td></tr>
    <tr><td>loggregator-agent</td><td>3.11</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.5</td></tr>
    <tr><td>nfs-volume</td><td>2.0.4</td></tr>
    <tr><td>routing</td><td>0.188.0</td></tr>
    <tr><td>silk</td><td>2.22.2</td></tr>
    <tr><td>smb-volume</td><td>1.0.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.6.0-beta.1'></a> 2.6.0-beta.1

* **[Feature]** Add optional System Metric Agent to allow monitoring a more complete set of metrics for all VMs in the deployment
* **[Bug Fix]** Fixes backward compatibility issue with NFS that can prevent apps from binding to service instances created in PAS 2.2 or earlier
* Bump ubuntu-xenial stemcell to version `315.13`
* Bump cflinuxfs3 to version `0.86.0`
* Bump loggregator-agent to version `3.11`
* Bump loggregator to version `103.4`
* Bump mapfs to version `1.1.5`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>315.13</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>cf-networking</td><td>2.22.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.86.0</td></tr>
    <tr><td>diego</td><td>2.30.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.1</td></tr>
    <tr><td>haproxy</td><td>9.5.0</td></tr>
    <tr><td>loggregator-agent</td><td>3.11</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>mapfs</td><td>1.1.5</td></tr>
    <tr><td>nfs-volume</td><td>2.0.3</td></tr>
    <tr><td>routing</td><td>0.188.0</td></tr>
    <tr><td>silk</td><td>2.22.0</td></tr>
    <tr><td>smb-volume</td><td>1.0.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.6.0-alpha.3'></a> 2.6.0-alpha.3

* Bump ubuntu-xenial stemcell to version `250.29`
* Bump bpm to version `1.0.4`
* Bump cflinuxfs3 to version `0.81.0`
* Bump diego to version `2.30.0`
* Bump haproxy to version `9.5.0`
* Bump nfs-volume to version `2.0.3`
* Bump routing to version `0.188.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.29</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>cf-networking</td><td>2.22.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.81.0</td></tr>
    <tr><td>diego</td><td>2.30.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.1</td></tr>
    <tr><td>haproxy</td><td>9.5.0</td></tr>
    <tr><td>loggregator-agent</td><td>3.9</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>2.0.3</td></tr>
    <tr><td>routing</td><td>0.188.0</td></tr>
    <tr><td>silk</td><td>2.22.0</td></tr>
    <tr><td>smb-volume</td><td>1.0.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.6.0-alpha.2'></a> 2.6.0-alpha.2

* **[Security Fix]** Bump BPM to v1.0.3 for RunC CVE
* **[Breaking Change]** Remove `cflinuxfs2` root filesystem and buildpacks
* **[Bug Fix]** Fixes access issue for NFS shares with `root_squash` enabled and no world read permissions
* Bump ubuntu-xenial stemcell to version `250.21`
* Bump bpm to version `1.0.3`
* Bump cf-networking to version `2.22.0`
* Bump cflinuxfs3 to version `0.72.0`
* Bump diego to version `2.29.0`
* Bump garden-runc to version `1.19.1`
* Bump haproxy to version `9.4.2`
* Bump loggregator-agent to version `3.9`
* Bump mapfs to version `1.1.4`
* Bump nfs-volume to version `2.0.2`
* Bump routing to version `0.187.0`
* Bump silk to version `2.22.0`
* Removed cflinuxfs2 release

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.21</td></tr>
    <tr><td>bpm</td><td>1.0.3</td></tr>
    <tr><td>cf-networking</td><td>2.22.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.72.0</td></tr>
    <tr><td>diego</td><td>2.29.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.1</td></tr>
    <tr><td>haproxy</td><td>9.4.2</td></tr>
    <tr><td>loggregator-agent</td><td>3.9</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.1.4</td></tr>
    <tr><td>nfs-volume</td><td>2.0.2</td></tr>
    <tr><td>routing</td><td>0.187.0</td></tr>
    <tr><td>silk</td><td>2.22.0</td></tr>
    <tr><td>smb-volume</td><td>1.0.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.6.0-alpha.1'></a> 2.6.0-alpha.1

* **[Feature]** Include garden debug tooling alongside garden
* Bump ubuntu-xenial stemcell to version `250.4`
* Bump bpm to version `1.0.2`
* Bump cflinuxfs2 to version `1.261.0`
* Bump cflinuxfs3 to version `0.52.0`
* Bump diego to version `2.27.0`
* Bump garden-runc to version `1.18.0`
* Bump haproxy to version `9.4.1`
* Bump nfs-volume to version `1.7.7`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>250.4</td></tr>
    <tr><td>bpm</td><td>1.0.2</td></tr>
    <tr><td>cf-networking</td><td>2.20.0</td></tr>
    <tr><td>cflinuxfs2</td><td>1.261.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.52.0</td></tr>
    <tr><td>diego</td><td>2.27.0</td></tr>
    <tr><td>garden-runc</td><td>1.18.0</td></tr>
    <tr><td>haproxy</td><td>9.4.1</td></tr>
    <tr><td>loggregator-agent</td><td>2.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>mapfs</td><td>1.1.2</td></tr>
    <tr><td>nfs-volume</td><td>1.7.7</td></tr>
    <tr><td>routing</td><td>0.185.0</td></tr>
    <tr><td>silk</td><td>2.20.0</td></tr>
    <tr><td>smb-volume</td><td>1.0.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

## <a id='intro'></a> About PCF Isolation Segment

The PCF Isolation Segment v2.6 tile is available for installation with PCF v2.6.

[Isolation segments](http://docs.pivotal.io/pivotalcf/2-6/concepts/security.html#isolation-segments) provide dedicated pools of resources where you can deploy apps and isolate workloads. Using isolation segments separates app resources as completely as if they were in different CF deployments but avoids redundant management and network complexity.

For more information about using isolation segments in your deployment, see the [Managing Isolation Segments](https://docs.pivotal.io/pivotalcf/2-6/adminguide/isolation-segments.html) topic.


## <a id='install'></a> How to Install

The procedure for installing PCF Isolation Segment v2.6 is documented in the [Installing PCF Isolation Segment](https://docs.pivotal.io/pivotalcf/2-6/customizing/installing-pcf-is.html) topic.

To install a PCF Isolation Segment, you must first install PCF v2.6.

## <a id='2.6.0'></a> New Features in PCF Isolation Segment v2.6

See the following new features for PCF Isolation Segment v2.6:


### <a id="system-metric-agent"></a> Monitor System Metrics with System Metrics Agent

System Metrics Agent provides more visibility into VM compute, network, and storage metrics. These VM metrics help with troubleshooting and diagnosing issues for potential infrastructure problems.

When enabled, the metrics are emitted through Loggregator. For more information about viewing logs and metrics, see the _Platform components_ row of [Viewing Logs and Metrics](https://docs.pivotal.io/pivotalcf/2-6/loggregator/data-sources.html#viewing).

For a list of the VM metrics that the System Metric Agent emits, see [VM Metrics](https://github.com/cloudfoundry/loggregator-agent-release#vm-metrics) in GitHub.

To enable the System Metric Agent, go to the **System Logging** pane in the PCF Isolation Segment tile and select **Enable System Metrics**.

### <a id='containerd'></a> Garden Delegates Container Creation and Destruction to containerd by Default

Traditionally, Garden uses runc to create, delete, and run container processes. Garden v1.15.0 and later support delegating the creation and destruction of some container processes through containerd instead of runc.

You can enable or disable containerd mode by using the Garden property `garden.containerd_mode`.


## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PCF Isolation Segment v2.6 tile includes new functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in production.

## <a id='known-issues'></a> Known Issues
