---
title: PCF Isolation Segment v2.0 Release Notes
owner: Release Engineering
---

## <a id='releases'></a> Releases

### <a id='2.0.2'></a> 2.0.2

* **[Security Fix]** Bumps stemcell version to 3468.17 for
[USN-3544-2](http://www.ubuntu.com/usn/usn-3522-2/)
and [USN-3544-4](http://www.ubuntu.com/usn/usn-3522-4/)

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.17</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.176.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.29.0</td>
  </tr><tr>
    <td>garden-runc</td><td>1.10.0</td>
  </tr><tr>
    <td>grootfs</td><td>0.30.0</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.1.3</td>
  </tr><tr>
    <td>routing</td><td>0.168.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>10</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.0.1'></a> 2.0.1

* **[Security Fix]** Bumps cflinuxfs2-release to v1.176.0 for 
  [USN-3513-1](https://usn.ubuntu.com/usn/usn-3513-1/).
* **[Feature]** Bumps garden-runc-release to v1.10.0:
  * It is now possible to specify a `ProcessSpec.Image`. Processes can now have their own filesystem view. 
    * Limitation: It is only possible to use `ProcessSpec.Image` and `ProcessSpec.OverrideContainerLimits` with unprivileged containers.  
    This will be fixed in future releases.
    * Limitation: APIs such as `BulkMetrics` and `Process.Signal` may not work immediately after `container.Run(ProcessSpec)` returns
    for processes with `Image` and/or `OverrideContainerLimits` specified. This will be fixed in future releases.
  * Reduced log volume in `BulkMetrics` for large environments.
  * Correctly declares that bundles it creates are OCI Runtime Spec version 1.0.0 compliant.
* The Garden property `cleanup_process_dirs_on_wait` is configured to `true`, to reduce the growth of directories in the Garden container.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.13</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.176.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.29.0</td>
  </tr><tr>
    <td>garden-runc</td><td>1.10.0</td>
  </tr><tr>
    <td>grootfs</td><td>0.30.0</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.1.3</td>
  </tr><tr>
    <td>routing</td><td>0.168.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>10</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.0.0'></a> 2.0.0

* This release does not set the Garden property `cleanup_process_dirs_on_wait` to `true`, which can leave many directories in the depot for the Garden container. This will be set to `true` in the next release.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>3468.13</td>
  </tr><tr>
    <td>cf-networking</td><td>1.8.1</td>
  </tr><tr>
    <td>cflinuxfs2</td><td>1.175.0</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.29.0</td>
  </tr><tr>
    <td>garden-runc</td><td>1.9.4</td>
  </tr><tr>
    <td>grootfs</td><td>0.30.0</td>
  </tr><tr>
    <td>haproxy</td><td>8.4.2</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>nfs-volume</td><td>1.1.3</td>
  </tr><tr>
    <td>routing</td><td>0.168.0</td>
  </tr><tr>
    <td>syslog-migration</td><td>10</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

## <a id='intro'></a> About PCF Isolation Segment

The PCF Isolation Segment v2.0 tile is available for installation with PCF
v2.0.

<!----
[Isolation segments](../concepts/security.html#isolation-segments) provide
dedicated pools of resources where you can deploy apps and  isolate workloads.
Using isolation segments separates app resources as completely as if they were
in different CF deployments but avoids redundant management and network
complexity.

For more information about using isolation segments in your deployment, see the
[Managing Isolation Segments](../adminguide/isolation-segments.html) topic.
---->

## <a id='install'></a> How to Install

<!----
The procedure for installing PCF Isolation Segment v2.0 is documented in the
[Installing PCF Isolation Segment](../customizing/installing-pcf-is.html) topic.---->

To install a PCF Isolation Segment, you must first install PCF v2.0.

## <a id='2.0.0'></a> New Features in PCF Isolation Segment v2.0

### <a id='mutual-tls'></a> Gorouter and HAProxy Trust the Diego Instance Identity Intermediate CA

The trust between the Gorouter and HAProxy enables mutual authentication between applications that are running on PCF. The Gorouter and HAProxy are configured with the root certificate authority. This occurs automatically within PCF.

### <a id='custom-ca'></a> Gorouter and HAProxy Trust Additional CAs

When validating client requests using mutual TLS, the Gorouter trusts multiple certificate authorities (CAs) by default. Operators can now configure the Gorouter and HAProxy to trust custom CAs in addition to well-known, public CAs and [Ops Manager Director Trusted Certificates](../customizing/gcp-om-config.html#security). For more information about configuring this feature, see the [Installing PCF Isolation Segment](../customizing/installing-pcf-is.html#networking) topic.

### <a id='multiple-cert'></a> Gorouter and HAProxy Support Multiple Certificates

You can now add more than one certificate for Gorouter and HAProxy in the **Networking** configuration pane. This improves security and removes the need to reissue the existing certificate when you want to add TLS support for custom domains. Gorouter and HAProxy use SNI to determine the correct certificate to present in a TLS handshake. For more information, see the [Multiple Certificates](../adminguide/securing-traffic.html#multcerts) section of _Securing Traffic into Cloud Foundry_.

### <a id='haproxy-xfcc'></a> XFCC Support for Deployments that Terminate TLS at HAProxy 

PCF now supports XFCC header configuration for deployments that terminate TLS for the first time at HAProxy. In addition, the selection options for this configuration field have been renamed to reflect differences in XFCC configuration based on TLS termination entry points. For more information about configuring this feature, see the [Installing PCF Isolation Segment](../customizing/installing-pcf-is.html#networking) topic.

### <a id='nsx'></a> VMware NSX-T Networking Support

PCF Isolation Segment v2.0 adds support for VMware NSX-T networking.
NSX is a networking solution for VMware that provides a firewall, load balancing, and NAT/SNAT services for PCF. NSX-T is intended to work across multiple clouds and provide networking for container platforms.
Previous versions of PCF Isolation Segment supported NSX-V networking.

To use NSX-T networking, you must install the NSX-T tile.

<p class='note warning'><strong>Warning:</strong> The NSX-T integration is only for fresh installs of PCF. You cannot upgrade an existing deployment to use NSX-T, and there is no upgrade path from NSX-V to NSX-T.</p>

To enable NSX-T networking for your PCF installation, you must perform the following steps:

1. In the Ops Manager Director tile > **vCenter Config** pane, select **NSX-T** from the **NSX Mode** drop-down menu. See [Step 2: vCenter Config Page](../customizing/vsphere-config.html#vcenter-config) in _Configuring Ops Manager on vSphere_ for more information.

1. Install the NSX-T tile. 
  - You must install the NSX-T tile after you install or upgrade the Ops Manager Director tile.
  - You must install the NSX-T tile before you install or upgrade the PAS tile.

1. In the PCF Isolation Segment tile > **Networking** pane, under **Container Network Plugin Interface**, select **External**.

Operators can additionally use the NSX Manager to configure policies for PCF applications. See the [NSX-T Container Plug-in for Kubernetes and Cloud
Foundry - Installation and Administration Guide](https://docs.vmware.com/en/VMware-NSX-T/2.1/nsxt_21_ncp_kubernetes.pdf) for more information.

<p class='note'><strong>Note:</strong> You must have NSX-T v2.1 installed to use this integration.</p>

<p class='note'><strong>Note:</strong> The IPSec add-on is not supported with NSX-T.</p>

<p class="note breaking"><strong>Breaking Change</strong>: If you opt out of the <a href="#bosh-dns">BOSH DNS feature</a>, your PCF deployment cannot support NSX-T networking.</p>

## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PCF Isolation Segment tile includes new
functionality that may have certain constraints.  Although these features are
fully supported, Pivotal recommends caution when using them in production.
