---
title: Stemcell Release Notes
Owner: BOSH
---

This topic provides an overview of stemcells and the versions used in Pivotal Cloud Foundry (PCF). 

Stemcells are available for download on the [Stemcells for PCF](https://network.pivotal.io/products/stemcells) page on Pivotal Network. Once downloaded, you can upload them to your deployment using the **Stemcell** configuration pane of a given tile. 

To find out which stemcell version is used by which tile version, check the release notes for the tile. Alternatively, if you have uploaded the tile, you can check the **Stemcell** configuration pane of the tile. 

<p class="note"><strong>Note</strong>: A stemcell is a versioned OS image that BOSH uses to create VMs for the Ops Manager Director, Pivotal Application Service (PAS), and other PCF Service tiles, such as MySQL for PCF. For more information, see <a href="http://bosh.cloudfoundry.org/docs/stemcell.html">What is a Stemcell?</a> in the BOSH documentation.</p>

## Stemcell Lines

Each stemcell line has a corresponding release notes page. See the links below:

* [Stemcell 3468.x Release Notes](./stemcell-v3468x.html)
* [Stemcell 3445.x Release Notes](./stemcell-v3445x.html)
* [Stemcell 3421.x Release Notes](./stemcell-v3421x.html)
* [Stemcell 3363.x Release Notes](./stemcell-v3363x.html)