---
title: Stemcell Release Notes
Owner: BOSH
---

This topic includes release notes for stemcells used with Pivotal Cloud Foundry (PCF) versions 2.0.x.

## <a id="3468-16"></a>3468.16

**Release Date**: January 10, 2018

- Bump Ubuntu Trusty stemcells for [USN-3522-2: Linux (Xenial HWE) vulnerability](https://usn.ubuntu.com/usn/usn-3522-2/) (This flaw is known as Meltdown.)

## <a id="3468-13"></a>3468.13

**Release Date**: December 8, 2017

- Bump Ubuntu Trusty stemcell USN-3509-2: Linux kernel (Xenial HWE) vulnerabilities
