---
title: Stemcell Release Notes
Owner: BOSH
---

<style>
    .sidebar {
        display: none;
    }
</style>

 
This topic provides links to release notes for stemcells that are currently being used 
with Pivotal Cloud Foundry (PCF).

Before you upgrade PCF, always verify that any tiles that you have installed, either from Pivotal or a partner, are compatible with the version of PCF you are deploying and its supported stemcells. For more information on checking PCF and stemcell compatibility, see <a href="https://docs.pivotal.io/pivotalcf/upgrading/checklist.html#compatibility">Tile Compatibility</a> in the Upgrade Checklist. 

PCF uses the following types of stemcells:

* [Ubuntu Trusty Stemcells](#rt_trusty)
* [Ubuntu Xenial Stemcells](#rt_xenial)
* [Windows Stemcells](#rt_win)

To find out which stemcell version is used by a product tile version, check the release notes or the Pivotal Network download page for the tile. 

## <a name="rt_trusty"></a> Ubuntu Trusty Stemcells

<p class="note"><strong>Note: </strong>Ubuntu 14.04 LTS (Trusty) stemcells are reaching end-of-support in April 2019. Starting in September 2018, Pivotal and its partners will begin releasing product tiles for PCF that support Ubuntu 16.04 LTS (Xenial) stemcells instead. Using supported stemcells is necessary to avoid exposure to security vulnerabilities.</p>

The following Ubuntu Trusty stemcell lines are used with PCF tiles.

<table class="nice">
  <tr>
   <th>Stemcell Line
   </th>
   <th>Release Notes Link
   </th>
  </tr>
   <tr>
   <td>3763
   </td>
   <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#3763-line">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td>3586
   </td>
   <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#3586-line">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td>3541
   </td>
   <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#3541-line">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td>3469
   </td>
   <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#3469-line">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td>3468
   </td>
   <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#3468-line">Release Notes</a>
   </td>
  </tr>
   <tr>
   <td>3445
   </td>
   <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#3445-line">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td>3421
   </td>
   <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#3421-line">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td>3363
   </td>
   <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#3363-line">Release Notes</a>
   </td>
  </tr>
  <tr>
    <td>3312
    </td>
    <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#3312-line">Release Notes</a>
    </td>
  </tr>
  <tr>
    <td>3309
    </td>
    <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#3309-line">Release Notes</a>
    </td>
  </tr>
  <tr>
    <td>3308
    </td>
    <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#3308-line">Release Notes</a>
    </td>
  </tr>
  <tr>
    <td>3306
    </td>
    <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#3306-line">Release Notes</a>
    </td>
  </tr>
    <tr>
    <td>3263
    </td>
    <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#3263-line">Release Notes</a>
    </td>
  </tr>
  <tr>
    <td>3262
    </td>
    <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#3262-line">Release Notes</a>
    </td>
  </tr>
  <tr>
    <td>3233
    </td>
    <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#3233-line">Release Notes</a>
    </td>
  </tr>
  <tr>
    <td>3232
    </td>
    <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#3232-line">Release Notes</a>
    </td>
  </tr>
</table>

## <a name="rt_xenial"></a> Ubuntu Xenial Stemcells

The following Ubuntu Xenial stemcell lines are used with PCF tiles.

<table class="nice">
  <tr>
   <th>Stemcell Line
   </th>
   <th>Release Notes Link
   </th>
  </tr>
 <tr>
   <td>456
   </td>
   <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#456-line">Release Notes</a>
   </td>
</tr>
 <tr>
   <td>315
   </td>
   <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#315-line">Release Notes</a>
   </td>
</tr>
 <tr>
   <td>250
   </td>
   <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#250-line">Release Notes</a>
   </td>
  </tr>
 <tr>
   <td>170
   </td>
   <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#170-line">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td>97
   </td>
   <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#97-line">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td>87
   </td>
   <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#87-line">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td>81
   </td>
   <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#81-line">Release Notes</a>
   </td>
  </tr>
   <tr>
   <td>60
   </td>
   <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#60-line">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td>50
   </td>
   <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#50-line">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td>40
   </td>
   <td><a href="https://docs.pivotal.io/platform/stemcells/stemcells.html#40-line">Release Notes</a>
   </td>
  </tr>
</table>

## <a name="rt_win"></a> Windows Stemcells

The following stemcell lines are used with PCF Runtime for Windows and Pivotal Application Service (PAS) Windows.

<table class="nice">
  <tr>
   <th>Stemcell Line
   </th>
   <th>Stemcell Type
   </th>
   <th>Related PCF Version
   </th>
   <th>Stemcell Release Notes
   </th>
  </tr>
  <tr>
   <td><b>2019</b>
   </td>
    <td>Windows Server version 2019
   </td>
   <td>PAS for Windows v2.5 and later
   </td>
   <td><a href="http://docs.pivotal.io/platform/stemcells/windows-stemcell-v2019x.html">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td><b>1803</b>
   </td>
    <td>Windows Server version 1803
   </td>
   <td>PAS for Windows v2.3 and v2.4
   </td>
   <td><a href="http://docs.pivotal.io/platform/stemcells/windows-stemcell-v1803x.html">Release Notes</a>
   </td>
  </tr>
   <tr>
   <td><b>1709</b>
   </td>
    <td>Windows Server version 1709
   </td>
   <td>PAS for Windows v2.1 and v2.2
   </td>
   <td><a href="http://docs.pivotal.io/platform/stemcells/windows-stemcell-v1709x.html">Release Notes</a>
   </td>
  </tr>
  </tr>
   <tr>
   <td><b>1200</b>
   </td>
    <td>Windows 2012 R2
   </td>
   <td>PCF Runtime for Windows v1.9.1, v1.10, v1.11, v1.12; PAS for Windows v2.0, and v2.1
   </td>
   <td><a href="http://docs.pivotal.io/platform/stemcells/windows-stemcell-v1200x.html">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td><b>1079</b>
   </td>
    <td>Windows 2012 R2
   </td>
   <td>PCF Runtime for Windows v1.9.1, v1.10, and v1.11
   </td>
   <td><a href="https://docs.pivotal.io/1-11/pcf-release-notes/windows-stemcell-rn.html">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td><b>1056</b>
   </td>
    <td>Windows 2012 R2
   </td>
   <td>PCF Runtime for Windows v1.9.1 and v1.10
   </td>
   <td><a href="https://docs.pivotal.io/1-10/pcf-release-notes/windows-stemcell-rn.html">Release Notes</a>
   </td>
  </tr>
  </table>

