---
title: Stemcell Release Notes
Owner: BOSH
---

This topic includes release notes for stemcells used with Pivotal Cloud Foundry (PCF) versions 1.12.x.

## <a id="3445-7"></a>3445.7

**Release Date**: September 1, 2017

- Logrotate /var/log/wtmp and utmp more aggressively

- Updated BOSH agent to include aggressive 5 minute timeout on NATS connection failure

- Set auditd rules to be mutable by default

  - Please use `auditd` job from os-conf-release to make rules immutable
