---
title: Stemcell v3421.x Release Notes
Owner: BOSH
---

This topic includes release notes for the 3421.x line of stemcells used with Pivotal Cloud Foundry (PCF).

## <a id="3421-37"></a>3421.37

**Release Date**: January 18, 2018

- Bump Ubuntu Trusty stemcells for USN-3534-1: GNU C Library vulnerabilities

## <a id="3421-36"></a>3421.36

**Release Date**: January 10, 2018

- Bumps Ubuntu Trusty stemcells for USN-3522-4; also bumps vSphere stemcells to use VM hardware version 9
- USN-3522-2 introduced a regression in the Linux Hardware Enablement kernel and USN-3522-4 fixes that issue.
- Per the 3421.35 release note, monitor your VMs prior to upgrading to these stemcells and scale your VMs as necessary. 

## <a id="3421-35"></a>3421.35
**Release Date:** January 10, 2018

- Bump Ubuntu Trusty stemcells for USN-3522-2: Linux (Xenial HWE) vulnerability (This flaw is known as Meltdown.)

### <a id='critical'></a> USN-3522-2 Addresses Meltdown Vulnerabilities

Meltdown exploits critical vulnerabilities in modern processors.
For more information on Meltdown, see the [Meltdown and Spectre Attacks](https://www.cloudfoundry.org/blog/meltdown-spectre-attacks/) blog post.
[USN-3522-2](https://www.cloudfoundry.org/usn-3522-2/) addresses the critical vulnerability in Ubuntu associated with Meltdown.
</br>
</br>
This update may include degradations to performance if your VM's CPU and Memory usage are currently at near-capacity levels.
Prior to upgrading to these stemcells, monitor your PCF VM's current CPU and Memory usage and scale those components, if necessary. If any of your VMs are currently operating at 60% or above, Pivotal recommends scaling that VM.
For more information on monitoring PCF, please see the [Monitoring PCF VMs from Ops Manager](http://docs.pivotal.io/pivotalcf/2-0/customizing/monitoring.html) and [Key Capacity Scaling Indicators](https://docs.pivotal.io/pivotalcf/monitoring/key-cap-scaling.html) topics.
</br>
</br>
For more information about scaling PCF, see the [Scaling PAS](../opsguide/scaling-ert-components.html) topic.
Performance degradation is likely to vary by workload type, IaaS, and other factors. 
Pivotal recommends testing your deployment thoroughly after upgrading to this stemcell.

## <a id="3421-34"></a>3421.34

**Release Date**: December 8, 2017

- Bump Ubuntu Trusty stemcell USN-3509-2: Linux kernel (Xenial HWE) vulnerabilities

## <a id="3421-32"></a>3421.32

**Release Date**: December 1, 2017

- Periodic Ubuntu stemcells update

## <a id="3421-20"></a>3421.20

**Release Date**: August 17, 2017

- Bump Ubuntu stemcells for [USN-3392-2: Linux kernel (Xenial HWE) regression](https://usn.ubuntu.com/usn/usn-3392-2/)

## <a id="3421-19"></a>3421.19

**Release Date**: August 12, 2017

- Bump Ubuntu stemcells for [USN-3385-2: Linux kernel (Xenial HWE) vulnerabilities](https://usn.ubuntu.com/usn/usn-3385-2/)

## <a id="3421-18"></a>3421.18

**Release Date**: August 4, 2017

- Bump Ubuntu Trusty stemcells for [USN-3378-2: Linux kernel (Xenial HWE) vulnerabilities](https://usn.ubuntu.com/usn/usn-3378-2/)

- Fix occasional rsyslog hang on startup

  - Workaround for https://github.com/rsyslog/rsyslog/issues/1188

## <a id="3421-9"></a>3421.9

**Release Date**: June 21, 2017

- Bump Ubuntu stemcells for USN-3334-1: Linux kernel (Xenial HWE) vulnerabilities

## <a id="3421-3"></a>3421.3

**Release Date**: May 30, 2017

- Bump Ubuntu stemcells for USN-3304-1: Sudo vulnerability

## <a id="3421"></a>3421

**Release Date**: May 23, 2017

New:



- Added `env.bosh.remove_static_libraries` (bool) to remove static libraries

  - Useful to enable this option when exporting compiled releases

- Added `env.bosh.ipv6.enable` (bool) to remove ipv6.disable kernel functionality at bootup time



Fixes:



- Fixed sysstat logging

- Fixed anacron's RANDOM_DELAY configuration



Bumps:



- Bumped s3cli v0.0.60

  - Updated aws-sdk-go to solve network timeout edge case

- Bumped davcli v0.0.19

  - Use TCP keep alive to solve network timeout edge case

- Bumped bosh-agent v0.0.35

  - Add `-v` to the Agent binary

  - Prepared `sync_dns` action to work with future Director's DNS integration