---
title: Stemcell Release Notes
Owner: BOSH
---
 
This topic provides links to release notes for stemcells that are currently being used 
with Pivotal Cloud Foundry (PCF).

The following stemcell lines are used with PCF Elastic Runtime.

<table class="nice">
  <tr>
   <th>PCF Version
   </th>
   <th>Stemcell Line Used
   </th>
   <th>Stemcell Type
   </th>
   <th>Release Notes Link
   </th>
  </tr>
  <!--<tr>
   <td>PCF v1.11
   </td>
   <td>?????
   </td>
   <td>Ubuntu Trusty
   </td>
   <td><a href="https://docs.pivotal.io/1-11/pcf-release-notes/stemcell-rn.html">Release Notes</a>
   </td>
  </tr>-->
  <tr>
   <td>PCF v1.10
   </td>
   <td>3363
   </td>
    <td>Ubuntu Trusty
   </td>
   <td><a href="https://docs.pivotal.io/1-10/pcf-release-notes/stemcell-rn.html">Release Notes</a>
   </td>
  </tr>
  <tr>
    <td>PCF v1.9
    </td>
    <td>3312
    </td>
    <td>Ubuntu Trusty
   </td>
    <td><a href="https://github.com/cloudfoundry/bosh/releases">Release Notes (BOSH site)</a>
    </td>
  </tr>
    <tr>
    <td>PCF v1.8
    </td>
    <td>3263
    </td>
    <td>Ubuntu Trusty
   </td>
    <td><a href="https://github.com/cloudfoundry/bosh/releases">Release Notes (BOSH site)</a>
    </td>
  </tr>
</table>

