---
title: Stemcell Release Notes
Owner: BOSH
---
 
This topic provides links to release notes for stemcells that are currently being used 
with Pivotal Cloud Foundry (PCF).

## <a id="rt_ert"></a> PCF Elastic Runtime

The following stemcell lines are used with PCF Elastic Runtime.

<table class="nice"
  <tr>
   <th>PCF Version
   </th>
   <th>Stemcell Line Used
   </th>
   <th>Stemcell Type
   </th>
   <th>Release Notes Link
   </th>
  </tr>
   <tr>
   <td>PCF v1.12
   </td>
   <td>3445
   </td>
   <td>Ubuntu Trusty
   </td>
   <td><a href="https://docs.pivotal.io/pivotalcf/1-12/pcf-release-notes/stemcell-rn.html">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td>PCF v1.11
   </td>
   <td>3421
   </td>
   <td>Ubuntu Trusty
   </td>
   <td><a href="https://docs.pivotal.io/pivotalcf/1-11/pcf-release-notes/stemcell-rn.html">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td>PCF v1.10
   </td>
   <td>3363
   </td>
    <td>Ubuntu Trusty
   </td>
   <td><a href="https://docs.pivotal.io/pivotalcf/1-10/pcf-release-notes/stemcell-rn.html">Release Notes</a>
   </td>
  </tr>
  <tr>
    <td>PCF v1.9
    </td>
    <td>3312
    </td>
    <td>Ubuntu Trusty
   </td>
    <td><a href="https://github.com/cloudfoundry/bosh/releases">Release Notes (BOSH site)</a>
    </td>
  </tr>
    <tr>
    <td>PCF v1.8
    </td>
    <td>3263
    </td>
    <td>Ubuntu Trusty
   </td>
    <td><a href="https://github.com/cloudfoundry/bosh/releases">Release Notes (BOSH site)</a>
    </td>
  </tr>
</table>

## <a id="rt_win"></a> PCF Runtime for Windows

The following stemcell lines are used with PCF Runtime for Windows.

<table class="nice">
  <tr>
   <th>Stemcell Line
   </th>
   <th>Stemcell Type
   </th>
   <th>Related PCF Version
   </th>
   <th>Stemcell Release Notes
   </th>
  </tr>
   <tr>
   <td><b>1200</b>
   </td>
    <td>Windows 2012 R2
   </td>
   <td>PCF Runtime for Windows v1.9.1, v1.10, v1.11, v1.12
   </td>
   <td><a href="https://docs.pivotal.io/1-12/pcf-release-notes/windows-stemcell-rn.html">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td><b>1079</b>
   </td>
    <td>Windows 2012 R2
   </td>
   <td>PCF Runtime for Windows v1.9.1, v1.10, and v1.11
   </td>
   <td><a href="https://docs.pivotal.io/1-11/pcf-release-notes/windows-stemcell-rn.html">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td><b>1056</b>
   </td>
    <td>Windows 2012 R2
   </td>
   <td>PCF Runtime for Windows v1.9.1 and v1.10
   </td>
   <td><a href="https://docs.pivotal.io/1-10/pcf-release-notes/windows-stemcell-rn.html">Release Notes</a>
   </td>
  </tr>
  </table>

