---
title: Stemcell Release Notes
Owner: BOSH
---
 
This topic provides links to release notes for stemcells that are currently being used 
with Pivotal Cloud Foundry (PCF).


## <a id="rt_ert"></a> Ubuntu Trusty Stemcells

The following Ubuntu stemcell lines are used with PCF tiles.

<table class="nice">
  <tr>
   <th>Stemcell Line
   </th>
   <th>Release Notes Link
   </th>
  </tr>
  <tr>
   <td>3586
   </td>
   <td><a href="https://docs.pivotal.io/pivotalcf/2-2/stemcells/stemcells.html#3586-line">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td>3541
   </td>
   <td><a href="https://docs.pivotal.io/pivotalcf/2-2/stemcells/stemcells.html#3541-line">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td>3468
   </td>
   <td><a href="https://docs.pivotal.io/pivotalcf/2-2/stemcells/stemcells.html#3468-line">Release Notes</a>
   </td>
  </tr>
   <tr>
   <td>3445
   </td>
   <td><a href="https://docs.pivotal.io/pivotalcf/2-2/stemcells/stemcells.html#3445-line">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td>3421
   </td>
   <td><a href="https://docs.pivotal.io/pivotalcf/2-2/stemcells/stemcells.html#3421-line">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td>3363
   </td>
   <td><a href="https://docs.pivotal.io/pivotalcf/2-2/stemcells/stemcells.html#3363-line">Release Notes</a>
   </td>
  </tr>
  <tr>
    <td>3312
    </td>
    <td><a href="https://docs.pivotal.io/pivotalcf/2-2/stemcells/stemcells.html#3312-line">Release Notes</a>
    </td>
  </tr>
    <tr>
    <td>3263
    </td>
    <td><a href="https://docs.pivotal.io/pivotalcf/2-2/stemcells/stemcells.html#3263-line">Release Notes</a>
    </td>
  </tr>
</table>


## <a id="rt_win"></a> Windows Stemcells

The following stemcell lines are used with PCF Runtime for Windows and Pivotal Application Service (PAS) Windows.

<table class="nice">
  <tr>
   <th>Stemcell Line
   </th>
   <th>Stemcell Type
   </th>
   <th>Related PCF Version
   </th>
   <th>Stemcell Release Notes
   </th>
  </tr>
   <tr>
   <td><b>1709</b>
   </td>
    <td>Windows 2016
   </td>
   <td>PAS for Windows v2.1
   </td>
   <td><a href="http://docs.pivotal.io/pivotalcf/stemcells/windows-stemcell-v1709x.html">Release Notes</a>
   </td>
  </tr>
  </tr>
   <tr>
   <td><b>1200</b>
   </td>
    <td>Windows 2012 R2
   </td>
   <td>PCF Runtime for Windows v1.9.1, v1.10, v1.11, v1.12; PAS for Windows v2.0, and v2.1
   </td>
   <td><a href="http://docs.pivotal.io/pivotalcf/stemcells/windows-stemcell-v1200x.html">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td><b>1079</b>
   </td>
    <td>Windows 2012 R2
   </td>
   <td>PCF Runtime for Windows v1.9.1, v1.10, and v1.11
   </td>
   <td><a href="https://docs.pivotal.io/1-11/pcf-release-notes/windows-stemcell-rn.html">Release Notes</a>
   </td>
  </tr>
  <tr>
   <td><b>1056</b>
   </td>
    <td>Windows 2012 R2
   </td>
   <td>PCF Runtime for Windows v1.9.1 and v1.10
   </td>
   <td><a href="https://docs.pivotal.io/1-10/pcf-release-notes/windows-stemcell-rn.html">Release Notes</a>
   </td>
  </tr>
  </table>

