---
title: Stemcell Release Notes
Owner: BOSH
---

This topic includes release notes for stemcells used with Pivotal Cloud Foundry (PCF) versions 1.11.x.

## <a id="3421-32"></a>3421.32

**Release Date**: November 29, 2017

- Periodic Ubuntu stemcells update

## <a id="3421-20"></a>3421.20

**Release Date**: August 17, 2017

- Bump Ubuntu stemcells for [USN-3392-2: Linux kernel (Xenial HWE) regression](https://usn.ubuntu.com/usn/usn-3392-2/)

## <a id="3421-19"></a>3421.19

**Release Date**: August 12, 2017

- Bump Ubuntu stemcells for [USN-3385-2: Linux kernel (Xenial HWE) vulnerabilities](https://usn.ubuntu.com/usn/usn-3385-2/)

## <a id="3421-18"></a>3421.18

**Release Date**: August 4, 2017

- Bump Ubuntu Trusty stemcells for [USN-3378-2: Linux kernel (Xenial HWE) vulnerabilities](https://usn.ubuntu.com/usn/usn-3378-2/)

- Fix occasional rsyslog hang on startup

  - Workaround for https://github.com/rsyslog/rsyslog/issues/1188

## <a id="3421-9"></a>3421.9

**Release Date**: June 21, 2017

- Bump Ubuntu stemcells for USN-3334-1: Linux kernel (Xenial HWE) vulnerabilities

## <a id="3421-3"></a>3421.3

**Release Date**: May 30, 2017

- Bump Ubuntu stemcells for USN-3304-1: Sudo vulnerability

## <a id="3421"></a>3421

**Release Date**: May 23, 2017

New:



- Added `env.bosh.remove_static_libraries` (bool) to remove static libraries

  - Useful to enable this option when exporting compiled releases

- Added `env.bosh.ipv6.enable` (bool) to remove ipv6.disable kernel functionality at bootup time



Fixes:



- Fixed sysstat logging

- Fixed anacron's RANDOM_DELAY configuration



Bumps:



- Bumped s3cli v0.0.60

  - Updated aws-sdk-go to solve network timeout edge case

- Bumped davcli v0.0.19

  - Use TCP keep alive to solve network timeout edge case

- Bumped bosh-agent v0.0.35

  - Add `-v` to the Agent binary

  - Prepared `sync_dns` action to work with future Director's DNS integration
