---
title: Stemcell Release Notes
Owner: BOSH
---
 
This topic provides links to release notes for stemcells that are currently being used 
with Pivotal Cloud Foundry (PCF).

## <a id="ert"></a> PCF Elastic Runtime 

The following stemcell lines are used with PCF Elastic Runtime.

<table class="nice">
  <tr>
   <th>Stemcell Line
   </th>
   <th>Stemcell Type
   </th>
   <th>Related PCF Version
   </th>
   <th>Stemcell Release Notes
   </th>
  </tr>
  <tr>
   <td><b>3363</b>
   </td>
    <td>Ubuntu Trusty
   </td>
   <td>PCF Elastic Runtime v1.10.x
   </td>
   <td><a href="https://docs.pivotal.io/1-10/pcf-release-notes/stemcell-rn.html">Release Notes</a>
   </td>
  </tr>
  <tr>
    <td><b>3312</b>
    </td>
    <td>Ubuntu Trusty
   </td>
   <td>PCF Elastic Runtime v1.9.x
    </td>
    <td><a href="https://github.com/cloudfoundry/bosh/releases">Release Notes (BOSH site)</a>
    </td>
  </tr>
    <tr>
    <td><b>3263</b>
    </td>
    <td>Ubuntu Trusty
   </td>
    <td>PCF Elastic Runtime v1.8.x
    </td>
    <td><a href="https://github.com/cloudfoundry/bosh/releases">Release Notes (BOSH site)</a>
    </td>
  </tr>
</table>

## <a id="rt_win"></a> PCF Runtime for Windows

The following stemcell lines are used with PCF Runtime for Windows.

<table class="nice">
  <tr>
   <th>Stemcell Line
   </th>
   <th>Stemcell Type
   </th>
   <th>Related PCF Version
   </th>
   <th>Stemcell Release Notes
   </th>
  </tr>
  <tr>
   <td><b>1056</b>
   </td>
    <td>Windows 2012 R2
   </td>
   <td>PCF Runtime for Windows v1.9.1 and v1.10
   </td>
   <td><a href="https://docs.pivotal.io/1-10/pcf-release-notes/windows-stemcell-rn.html">Release Notes</a>
   </td>
  </tr>
  </table>
  

<!-- To add for 1.11... <tr>
 <td>PCF v1.11
 </td>
 <td>?????
 </td>
 <td>Ubuntu Trusty
 </td>
 <td><a href="https://docs.pivotal.io/1-11/pcf-release-notes/stemcell-rn.html">Release Notes</a>
 </td>
</tr>-->
