---
title: PAS for Windows 2012R2 v2.5 Release Notes
owner: Release Engineering
---

Operators can install Pivotal Application Service (PAS) for Windows 2012R2 on vSphere, Amazon Web Services
(AWS), Google Cloud Platform (GCP), or Azure. For more information, see [Installing PAS for Windows](https://docs.pivotal.io/pivotalcf/2-5/windows2012r2/deploy-windows.html).


## <a id='releases'></a> Releases

### <a id='2.5.0-alpha.1'></a> 2.5.0-alpha.1

* **[Security Fix]** Rotate diego intermediate CA before current certificate expires
* Bump diego to version `2.22.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2012R2 stemcell</td><td>1200.25</td></tr>
    <tr><td>diego</td><td>2.22.0</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-windows</td><td>0.14.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.0.3</td></tr>
    <tr><td>loggregator-agent</td><td>2.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
  </tbody>
</table>

## <a id='upgrade'></a> How to Upgrade

The Pivotal Application Service (PAS) for Windows 2012R2 v2.5 tile is available with the release of Pivotal Cloud Foundry (PCF) version v2.5. To use the PAS for Windows 2012R2 tile, you
need Ops Manager v2.5 or later and PAS v2.5 or later.

For information about upgrading to PAS for Windows 2012R2 v2.5.0, see the
[Upgrading Windows Cells](https://docs.pivotal.io/pivotalcf/2-5/windows2012R2/upgrading.html) topic in the PAS for Windows documentation.


## <a id='new-features'></a> New Features in PAS for Windows 2012R2 v2.5

## <a id='known-issues'></a> Known Issues
