---
title: PAS for Windows v2.8 Release Notes
owner: Garden Windows
---

This topic contains release notes for Pivotal Application Service (PAS) for Windows.


## <a id='upgrade'></a> How to Upgrade

The PAS for Windows v2.8 tile is available with the release of Pivotal Cloud Foundry (PCF) version v2.8. To use the PAS for Windows v2.8 tile, you must install Ops Manager v2.8 or later and PAS v2.8 or later.


## <a id='releases'></a> Releases

### <a id='2.8.0-alpha.2'></a> 2.8.0-alpha.2

**Release Date:** 09/17/2019

* **[Bug Fix]** Fix various syslog drain bugs in the Syslog Agent
* Bump windows2019 stemcell to version `2019.9`
* Bump cf-windows-smoke-tests to version `40.0.119`
* Bump diego to version `2.37.0`
* Bump envoy-nginx to version `0.6.0`
* Bump garden-runc to version `1.19.6`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.9</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.119</td></tr>
    <tr><td>diego</td><td>2.37.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.6</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>3.21</td></tr>
    <tr><td>loggregator</td><td>105.6</td></tr>
    <tr><td>winc</td><td>1.14.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.8.0</td></tr>
  </tbody>
</table>

## <a id='new-features'></a> New Features in PAS for Windows v2.8

PAS for Windows v2.8 includes the following major features:




## <a id='adv-features'></a> New Advanced Features

The **Advanced Features** pane of the PAS for Windows tile includes new functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in production.

PAS for Windows v2.8 includes the following advanced features:


## <a id='known-issues'></a> Known Issues

This section includes known issues with PAS for Windows v2.8.
