---
title: PAS for Windows 2012R2 v2.1 Release Notes
owner: Release Engineering
---

<%= partial '/shared/deprecation-notice' %>

Operators can install Pivotal Application Service (PAS) for Windows 2012R2 on vSphere, Amazon Web Services (AWS), Google Cloud Platform (GCP), or Azure. See the [Installing PAS for Windows](https://docs.pivotal.io/pivotalcf/2-1/windows2012r2/deploy-windows.html) topic for more information.

## <a id='releases'></a> Releases

### <a id='2.1.9'></a> 2.1.9

* Bump windows2012R2 stemcell to version `1200.26`
* Bump diego to version `1.35.12`
* Bump hwc-offline-buildpack to version `3.1.1`
* Bump loggregator to version `101.16`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2012R2 stemcell</td><td>1200.26</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>1.35.12</td></tr>
    <tr><td>event-log</td><td>0.3.0</td></tr>
    <tr><td>garden-windows</td><td>0.13.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.1</td></tr>
    <tr><td>loggregator</td><td>101.16</td></tr>
    <tr><td>windows-utilities</td><td>0.7.0</td></tr>
  </tbody>
</table>

### <a id='2.1.8'></a> 2.1.8

* **[Breaking Change]** The `install-hwc-buildpack` errand is now called `install-hwc-buildpack-lts`
  * If you have scripts which programmatically change the errand state, you'll have to update the scripts to use the new name

* Bump hwc-offline-buildpack to version `3.0.2`
* Bump diego to version `1.35.10`
* Bump loggregator to version `101.13`
* Bump stemcell windows2012R2 to version `1200.24`

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>1200.24</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>1.35.10</td>
  </tr><tr>
    <td>event_log</td><td>0.3.0</td>
  </tr><tr>
    <td>garden-windows</td><td>0.13.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>3.0.2</td>
  </tr><tr>
    <td>loggregator</td><td>101.13</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.1.7'></a> 2.1.7

* **[Bug Fix]** bump consul to v195
  * Includes golang 1.9.7, removes golang 1.8.*.
  * Deploying v193 could fail on some deployments due to a conflict with other tiles that compiled the release differently
  * Fixes intermittent consul DNS issues on Windows Cells

* Bump consul to version `195`
* Bump diego to version `1.35.6`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.19</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>1.35.6</td>
  </tr><tr>
    <td>event_log</td><td>0.3.0</td>
  </tr><tr>
    <td>garden-windows</td><td>0.13.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.17</td>
  </tr><tr>
    <td>loggregator</td><td>101.11\*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.6'></a> 2.1.6

* **[Security Fix]** Bump diego to version `1.35.5`
  * [CVE-2018-1265](https://www.cloudfoundry.org/blog/cve-2018-1265/)
* Bump hwc-offline-buildpack to version `2.3.17`
* Bump consul to version `193` to use go `1.9`
* Bump stemcell to version `1200.19`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.19</td>
  </tr><tr>
    <td>consul</td><td>193</td>
  </tr><tr>
    <td>diego</td><td>1.35.5</td>
  </tr><tr>
    <td>event_log</td><td>0.3.0</td>
  </tr><tr>
    <td>garden-windows</td><td>0.13.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.17</td>
  </tr><tr>
    <td>loggregator</td><td>101.11\*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.5'></a> 2.1.5

* **[Security Fix]** Bump loggregator to version `101.11`
  * Add strict application ID validation to TrafficController (CVE-2018-1268 CVE-2018-1269)
  * Stricter appID validation in TrafficController
  * Change RLP health endpoint to default to random port.
  * Metron health endpoint only listens on localhost
  * Bump go to 1.9.4
  * Fix doppler emitting multiple ingress metrics.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.17</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>diego</td><td>1.35.4</td>
  </tr><tr>
    <td>event_log</td><td>0.3.0</td>
  </tr><tr>
    <td>garden-windows</td><td>0.13.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.13</td>
  </tr><tr>
    <td>loggregator</td><td>101.11\*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.4'></a> 2.1.4

* **[Security Fix]** Bump stemcell to v1200.17. See [release notes](https://docs.pivotal.io/pivotalcf/2-1/stemcells/windows-stemcell-v1200x.html).
* **[Feature Improvement]** Bump event-log-release to v0.3.0:
  * Remove dependency on powershell functions defined in the stemcell.
  * Change release name to use dasherized convention.
* Set default and minimum root disk size to 100G for compatibility with new [recommendations for Windows stemcells](https://docs.pivotal.io/pivotalcf/2-1/windows2012r2/about-windows-stemcells.html).

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.17</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>diego</td><td>1.35.4</td>
  </tr><tr>
    <td>event_log</td><td>0.3.0</td>
  </tr><tr>
    <td>garden-windows</td><td>0.13.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.13</td>
  </tr><tr>
    <td>loggregator</td><td>101.5\*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>


### <a id='2.1.3'></a> 2.1.3

* **[Bug Fix]** Updated console agent `node_name` to include BOSH id, to prevent two Diego cell instance groups with the same instance group name and index in different deployments from colliding.
* **[Bug Fix]** Prevent apps from writing logs to metron_agent_windows by disabling the UDP endpoint. The metron_windows_agent is now configured to only support the Loggregator v2 gRPC API.
* **[Feature Improvement]** Bumps diego-release to v1.35.4 to add cell and instance identifiers in the container lifecycle logs.


  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.16</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>diego</td><td>1.35.4</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.13.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.13</td>
  </tr><tr>
    <td>loggregator</td><td>101.5\*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.2'></a> 2.1.2

* **[Bug Fix]** Bumps windows-utilities-release to v0.7.0 to fix issue where drain scripts fails if OpenSSH is not installed.
* **[Bug Fix]** In the **VM Options** tab, **Manage Administrator Password**, the **Use random administrator password** option has been changed to **Use random password** to be consistent with the Pivotal Application Service for Windows v2.1 tile.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.16</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>diego</td><td>1.35.0</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.13.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.13</td>
  </tr><tr>
    <td>loggregator</td><td>101.5\*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.1'></a> 2.1.1

* Bumps stemcell to v1200.16. [Release Notes](https://docs.pivotal.io/pivotalcf/2-1/stemcells/windows-stemcell-v1200x.html#1200.16)
* Removes Hakim job from the Windows Diego cell, as it is now providing minimal value.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.16</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>diego</td><td>1.35.0</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.13.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.13</td>
  </tr><tr>
    <td>loggregator</td><td>101.5\*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.6.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.1.0'></a> 2.1.0

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.15</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>diego</td><td>1.35.0</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.13.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.13</td>
  </tr><tr>
    <td>loggregator</td><td>101.5\*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.6.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>


## <a id='upgrade'></a> How to Upgrade

The Pivotal Application Service (PAS) for Windows 2012R2 v2.1 tile is available with the release of Pivotal Cloud Foundry (PCF) version v2.1. To use the PAS for Windows 2012R2 tile, you
need Ops Manager v2.1 or later and PAS v2.1 or later.

For information about upgrading to PAS for Windows 2012R2 v2.1, see the [Upgrading Windows Cells](https://docs.pivotal.io/pivotalcf/2-1/windows2012R2/upgrading.html) topic in the PAS for Windows documentation.


## <a id='new-features'></a> New Features in PAS for Windows 2012R2 v2.1

### <a id='healthchecks'></a> Improved System Performance for App Health Checks

This release changes how PAS for Windows 2012R2 runs app health checks to improve system performance in resource-constrained environments, such as on-premise installations of PAS. This change does not impact the developer workflow for [configuring app health checks](https://docs.pivotal.io/pivotalcf/2-1/devguide/deploy-apps/healthchecks.html).

Previously, health checks during app startup increased system load because they ran as a Garden process every two seconds. In addition, apps that started successfully could fail if slow system performance caused the app health check to time out. In some severe cases, such app failures caused additional resource consumption and a chain-reaction of app failures.

PAS for Windows 2012R2 v2.1 resolves these issues through a new implementation that does not invoke a new process on every health check. The health check now runs as a long-lived process in the app container. Developers may see these processes if they access an app container using the `cf ssh` command and list the processes.

## <a id='known-issues'></a> Known Issues

### <a id='timeout'></a> Intermittent Timeout Error on AWS Deploy

On Amazon Web Services (AWS), PAS for Windows 2012R2 sometimes fails to deploy, generating a timeout error when BOSH tries to create VMs from the [v1200.x stemcell](https://docs.pivotal.io/pivotalcf/2-1/stemcells/windows-stemcell-v1200x.html). If you encounter this problem, click **Apply changes** in Ops Manager to deploy PAS for Windows 2012R2 again.

### <a id='shutdown'></a> PAS for Windows 2012R2 Cannot Gracefully Shut Down .NET Apps

A known limitation of the IronFrame containerization framework prevents PAS for Windows 2012R2 from gracefully shutting down .NET apps. For more information, see the [Graceful Shutdown of .NET Apps in Cloud Foundry Windows](https://discuss.pivotal.io/hc/en-us/articles/115005092734) Knowledge Base article.
