---
title: PAS for Windows v2.5 Release Notes
owner: Garden Windows
---

This topic contains release notes for Pivotal Application Service (PAS) for Windows.

## <a id='releases'></a> Releases

### <a id='2.5.0-alpha.1'></a> 2.5.0-alpha.1

* **[Security Fix]** Rotate diego intermediate CA before current certificate expires
* **[Feature Improvement]** Operators can specify the Diego executor properties for memory usage and disk capacity in order to enable finer grained resource usage strategies
* Bump cf-windows-smoke-tests to version `40.0.17`
* Bump diego to version `2.22.0`
* Bump garden-runc to version `1.17.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows1803 stemcell</td><td>1803.3</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.17</td></tr>
    <tr><td>diego</td><td>2.22.0</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.17.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.0.3</td></tr>
    <tr><td>loggregator-agent</td><td>2.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>winc</td><td>1.7.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.5.0</td></tr>
  </tbody>
</table>

## <a id='upgrade'></a> How to Upgrade

The Pivotal Application Service (PAS) for Windows v2.5 tile is available with the release of Pivotal Cloud Foundry (PCF) version v2.5. To use the PAS for Windows tile, you need Ops Manager v2.5 or later and PAS v2.5 or later.

[//]: # (For how to migrate your apps with no downtime from PAS for Windows 2012R2 cells to PAS for Windows cells, see [Migrating Apps to PAS for Windows](https://docs.pivotal.io/pivotalcf/windows/migrating.html). )


## <a id='new-features'></a> New Features in PAS for Windows v2.5

PAS for Windows v2.5 includes the following major features:

## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PAS for Windows 2012R2 tile includes new functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in production.

## <a id='known-issues'></a> Known Issues

This section includes known issues with PAS for Windows v2.5.
