---
title: PCF Runtime for Windows v1.11 Release Notes
owner: Release Engineering
---

## <a id='releases'></a> Releases

### <a id='1.11.0'></a> 1.11.0

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1056.0</td>
  </tr><tr>
    <td>consul</td><td>153</td>
  </tr><tr>
    <td>diego</td><td>1.7.6</td>
  </tr><tr>
    <td>garden-windows</td><td>0.4.0</td>
  </tr><tr>
    <td>loggregator</td><td>77</td>
  </tr><tr>
    <td>HWC Buildpack</td><td>2.3.2</td>
  </tr>
  </tbody>
  </table>

Operators can install PCF Runtime for Windows on vSphere, Amazon Web Services (AWS), Google Cloud Platform (GCP), or Azure.

## <a id='upgrade'></a>How to Upgrade

The PCF Runtime for Windows v1.11 tile is available with the release of Pivotal Cloud Foundry (PCF) version 1.11. To use the PCF Runtime for Windows tile, you need OpsManager v1.11.0 or later and Elastic Runtime v1.11.0 or later.

For information about upgrading to PCF Runtime for Windows v1.11.0, see the [Upgrading Windows Cells](https://docs.pivotal.io/pivotalcf/1-11/windows/upgrade-windows.html) topic in the PCF Runtime for Windows documentation.

## <a id='new-features'></a> New Features in PCF Runtime for Windows 1.11

* Operators can verify the data integrity of the PCF Runtime for Windows tile using the file's SHA2 checksum, rather than the MD5 checksum that was used in previous releases.

## <a id='knownissues'></a>Known Issues

###<a id='newissues'></a>New Issues

###<a id='notes'></a>Notes
