---
title: Pivotal Elastic Runtime for Windows v1.10 Release Notes
owner: Release Engineering
---

## <a id='versions'></a> Component Versions

Versions 1.10.0 and higher versions of Elastic Runtime for Windows consist of the following component versions:

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1015.0</td>
  </tr><tr>
    <td>consul</td><td>152</td>
  </tr><tr>
    <td>diego</td><td>1.7.1</td>
  </tr><tr>
    <td>garden-windows</td><td>0.3.0</td>
  </tr><tr>
    <td>hwc-buildpack</td><td>2.1.2</td>
  </tr><tr>
    <td>loggregator</td><td>77</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

## <a id='upgrade'></a> How to Upgrade

The procedure for upgrading to Pivotal Cloud Foundry Elastic Runtime for Windows v1.10 is documented in the
[Upgrading Pivotal Cloud Foundry for Windows](../../customizing/upgrading-pcf-windows.html) topic.

When upgrading to v1.10, be aware of the following upgrade considerations:

   * You must upgrade to a version of Elastic Runtime for Windows v1.9.0 or higher in order to successfully upgrade to v1.10.

## <a id='1.10.0'></a> New Features in Elastic Runtime for Windows v1.10.0

### Secured Communication between the Cell Rep and Consul

### Buildpack Support

* HWC buildpack and binary buildpack
* Warnings for apps using the old start command
* Backwards-compatible with old apps

### Isolation Segment Support

### Configurable Application Healthchecks

### IPSec Support

### <a id='adv-features'></a> Advanced Features

The Advanced Features section of the Elastic Runtime tile includes new functionality that may have certain constraints.
Although these features are fully supported, Pivotal recommends caution when using them in production.

## <a id='knownissues'></a> Known Issues

This section lists new and existing known issues for Elastic Runtime for Windows.

###<a id='newissues'></a> New Issues

###<a id='existingissues'></a> Existing Issues
