---
title: Stemcells for Windows Release Notes
owner: Windows
---

This topic includes release notes for Windows stemcells used with Pivotal Application Service (PAS) for Windows and PAS for Windows 2012R2.

## <a id="2016"></a> PAS for Windows

### <a id="unknown"></a> Unknown

The stemcell being used for the PAS for Windows tile is not yet known. 

## <a id="2012"></a> PAS for Windows 2012R2

### <a id="1200.7"></a>1200.7

**Release Date**: October 23, 2017

* BOSH Agent timeout fix for high ESX workload scenarios.
* Intended for 2017 Oct Windows Updates roll-up (KB4041685).

 