---
title: PAS for Windows v2.8 Release Notes
owner: Garden Windows
---

This topic contains release notes for Pivotal Application Service (PAS) for Windows.


## <a id='upgrade'></a> How to Upgrade

The PAS for Windows v2.8 tile is available with the release of Pivotal Cloud Foundry (PCF) version v2.8. To use the PAS for Windows v2.8 tile, you must install Ops Manager v2.8 or later and PAS v2.8 or later.


## <a id='releases'></a> Releases
 
<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

### <a id='2.8.0-beta.1'></a> 2.8.0-beta.1

**Release Date:** 11/01/2019

* **[Security Fix]** Upgrade Go, runc and containerd to latest to include security fixes
* **[Security Fix]** CVE-2019-17596 bump Go
* **[Feature]** Loggregator sends logs and metrics to log-cache syslog server.
* Bump windows2019 stemcell to version `2019.12`
* Bump cf-windows-smoke-tests to version `40.0.122`
* Bump loggregator-agent to version `5.1.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.12</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.122</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>5.1.0</td></tr>
    <tr><td>loggregator</td><td>106.0.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.1.0</td></tr>
  </tbody>
</table>

### <a id='2.8.0-alpha.5'></a> 2.8.0-alpha.5

**Release Date:** 10/08/2019

* **[Feature Improvement]** Remove System Metrics Agents in favor of a Runtime Config in OpsMan 2.8+
* Bump diego to version `2.39.0`
* Bump garden-runc to version `1.19.8`
* Bump hwc-offline-buildpack to version `3.1.12`
* Bump loggregator-agent to version `5.0.0`
* Bump loggregator to version `106.0.0`
* Bump windowsfs-release to version `2.1.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.11</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.119</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.12</td></tr>
    <tr><td>loggregator-agent</td><td>5.0.0</td></tr>
    <tr><td>loggregator</td><td>106.0.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.1.0</td></tr>
  </tbody>
</table>

### <a id='2.8.0-alpha.4'></a> 2.8.0-alpha.4

**Release Date:** 10/08/2019

* **[Feature Improvement]** When configuring PASW to use mutual TLS, unproxied port mappings are disabled.
* **[Bug Fix]** Support DNS Search Domains for Windows Containers.
* Bump windows2019 stemcell to version `2019.11`
* Bump diego to version `2.38.0`
* Bump hwc-offline-buildpack to version `3.1.11`
* Bump winc to version `2.0.0`
* Bump windowsfs-release to version `2.0.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.11</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.119</td></tr>
    <tr><td>diego</td><td>2.38.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.7</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.11</td></tr>
    <tr><td>loggregator-agent</td><td>3.21</td></tr>
    <tr><td>loggregator</td><td>105.6</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.0.0</td></tr>
  </tbody>
</table>


### <a id='2.8.0-alpha.3'></a> 2.8.0-alpha.3

**Release Date:** 09/24/2019

* Bump garden-runc to version `1.19.7`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.9</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.119</td></tr>
    <tr><td>diego</td><td>2.37.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.7</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>3.21</td></tr>
    <tr><td>loggregator</td><td>105.6</td></tr>
    <tr><td>winc</td><td>1.14.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.8.0</td></tr>
  </tbody>
</table>


### <a id='2.8.0-alpha.2'></a> 2.8.0-alpha.2

**Release Date:** 09/17/2019

* **[Bug Fix]** Fix various syslog drain bugs in the Syslog Agent
* Bump windows2019 stemcell to version `2019.9`
* Bump cf-windows-smoke-tests to version `40.0.119`
* Bump diego to version `2.37.0`
* Bump envoy-nginx to version `0.6.0`
* Bump garden-runc to version `1.19.6`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.9</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.119</td></tr>
    <tr><td>diego</td><td>2.37.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.6</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>3.21</td></tr>
    <tr><td>loggregator</td><td>105.6</td></tr>
    <tr><td>winc</td><td>1.14.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.8.0</td></tr>
  </tbody>
</table>

## <a id='new-features'></a> New Features in PAS for Windows v2.8

PAS for Windows v2.8 includes the following major features:

### <a id='windows2016'></a> Deprecation of the windows2016 Stack

You should migrate any apps that run on the `windows2016` stack to the `windows` stack.

You can migrate your apps from `windows2016` to `windows` using Stack Auditor, a Cloud Foundry CLI plugin.
For more information, see [Using the Stack Auditor Plugin](https://docs.pivotal.io/platform/2-8/adminguide/stack-auditor.html).

### <a id='mtls-unproxed-port-mappings'></a> Mutual TLS Disables Unproxied Port Mappings

When you enable mutual TLS, PAS for Windows disables unproxied port mappings. This ensures that unsecure ports are closed and also provides feature parity with PAS.

To enable mutual TLS for PAS for Windows, go to the **Advanced Features** pane in the PASW tile. Under **TLS connections from Router to apps (beta)**, select **Router and apps use mutual TLS to verify each other's identity.** 

For more information, see [TLS Connections from Router to Apps (Beta)](https://docs.pivotal.io/platform/application-service-windows/2-8/installing.html#config-advanced-features) in _Installing and Configuring PASW_.

### <a id='mtls-loggregator'></a> Mutual TLS Added to Loggregator Endpoints and Components

Mutual TLS is added to the Loggregator, Loggregator Agent, and Log Cache endpoints. It is also added to the Leadership Election job. This provides additional security between these endpoints and metric scrapers.

For more information about Loggregator components, see [Loggregator Architecture](https://docs.pivotal.io/platform/application-service/2-8/loggregator/architecture.html). For more information about the Leadership Election job and metric scraping, see [System Metrics](https://github.com/cloudfoundry/system-metrics-release) on GitHub.

### <a id='disable-v2-firehose'></a> V2 Firehose Can Be Disabled

In PAS for Windows v2.8, you can disable the V2 firehose by deselecting the **Enable V2 firehose** checkbox in the **System Logging** pane of the PAS v2.8 tile. This allows you to save resources by shutting off related VMs, such as the Traffic Controller.

For more information, see the [Configure System Logging](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#sys-logging) section of the _Configuring PAS_ topic.

### <a id='prometheus'></a> All Platform Metrics Exposed on Prometheus Endpoints

All platform metrics are exposed on Prometheus endpoints. Instead of sending metrics through the Firehose, you can use the Metrics Discovery Release to register Prometheus-formatted metrics endpoints in your Pivotal Platform deployment. You can then use an external tool to scrape those metrics. This also adds two new jobs, `metrics-discovery-registrar` and `metrics-agent`.

For more information about Metrics Discovery Release, see the [Metrics Discovery Release](https://github.com/cloudfoundry/metrics-discovery-release) repository on GitHub. For more information about Metrics Agent, see [Using Metrics Agent](https://github.com/cloudfoundry/metrics-discovery-release/blob/develop/docs/metrics-agent.md) on GitHub.


## <a id='adv-features'></a> New Advanced Features

The **Advanced Features** pane of the PAS for Windows tile includes new functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in production.

PAS for Windows v2.8 includes the following advanced features:


## <a id='known-issues'></a> Known Issues

This section includes known issues with PAS for Windows v2.8.
