---
title: PAS for Windows v2.6 Release Notes
owner: Garden Windows
---

This topic contains release notes for Pivotal Application Service (PAS) for Windows.

## <a id='upgrade'></a> How to Upgrade

The PAS for Windows v2.6 tile is available with the release of Pivotal Cloud Foundry (PCF) version
v2.6. To use the PAS for Windows v2.6 tile, you must install Ops Manager v2.6 or later and PAS v2.6
or later.

If you are running PAS for Windows v2.4.4 or later on PCF v2.5 and want to upgrade to PCF v2.6,
you must upgrade to PAS for Windows v2.5 before upgrading to PCF v2.6.

## <a id='releases'></a> Releases

### <a id='2.6.3'></a> 2.6.3

**Release Date:** 08/15/2019

* **[Feature Improvement]** Windows Smoke Tests Errand uses windows stack instead of windows2016.
* Bump cf-windows-smoke-tests to version `40.0.116`
* Bump garden-runc to version `1.19.5`
* Bump windowsfs-release to version `1.8.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.8</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.116</td></tr>
    <tr><td>diego</td><td>2.30.1</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.5</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>3.14</td></tr>
    <tr><td>loggregator</td><td>105.5</td></tr>
    <tr><td>winc</td><td>1.14.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.8.0</td></tr>
  </tbody>
</table>

### <a id='2.6.2'></a> 2.6.2

**Release Date:** 08/01/2019

* Bump windows2019 stemcell to version `2019.8`
* Bump hwc-offline-buildpack to version `3.1.10`
* Bump windowsfs-release to version `1.7.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.8</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.51</td></tr>
    <tr><td>diego</td><td>2.30.1</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>3.14</td></tr>
    <tr><td>loggregator</td><td>105.5</td></tr>
    <tr><td>winc</td><td>1.14.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.7.0</td></tr>
  </tbody>
</table>


### <a id='2.6.1'></a> 2.6.1

* **[Feature Improvement]** Apps get 10 seconds of graceful shutdown time in PASW
* Bump windows2019 stemcell to version `2019.7`
* Bump diego to version `2.30.1`
* Bump hwc-offline-buildpack to version `3.1.9`
* Bump loggregator-agent to version `3.14`
* Bump loggregator to version `105.5`
* Bump winc to version `1.14.0`
* Bump windowsfs-release to version `1.6.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.7</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.51</td></tr>
    <tr><td>diego</td><td>2.30.1</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.9</td></tr>
    <tr><td>loggregator-agent</td><td>3.14</td></tr>
    <tr><td>loggregator</td><td>105.5</td></tr>
    <tr><td>winc</td><td>1.14.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.6.0</td></tr>
  </tbody>
</table>

### <a id='2.6.0'></a> 2.6.0


<p class='note breaking'><strong>Breaking Change</strong>: The <strong>Use "cf" as deployment name in emitted metrics instead of unique name</strong> option is removed.</p>

* **[Feature]** App developers can gracefully shutdown their .NET applications in PASW
* **[Feature]** Add optional System Metric Agent to allow monitoring a more complete set of metrics for all VMs in the deployment
* **[Feature]** Operators can provide trusted certificates in Ops Manager for .NET apps to use automatically
* **[Feature Improvement]** Allow vcap WriteKey access to ODBC registry entry
* **[Feature Improvement]** Improve scalability of application syslog drain system with new syslog agent architecture
* **[Security Fix]** Introduce and trust new Diego "root CA" in advance of existing CA expiration
* Bump windows2019 stemcell to version `2019.5`
* Bump hwc-offline-buildpack to version `3.1.9`
* Bump loggregator-agent to version `3.14`
* Bump loggregator to version `105.5`
* Bump winc to version `1.13.0`
* Bump windowsfs-release to version `1.5.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.5</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.51</td></tr>
    <tr><td>diego</td><td>2.30.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.9</td></tr>
    <tr><td>loggregator-agent</td><td>3.14</td></tr>
    <tr><td>loggregator</td><td>105.5</td></tr>
    <tr><td>winc</td><td>1.13.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.5.0</td></tr>
  </tbody>
</table>

## <a id='new-features'></a> New Features in PAS for Windows v2.6

PAS for Windows v2.6.0 includes the following major features:

### <a id='graceful-shutdown'></a> App Developers Can Gracefully Shut Down .NET Apps

PAS for Windows v2.6 allows ten seconds for a .NET app to shut down gracefully after the app is stopped using `cf stop`.
Graceful shutdown is supported on deployments using Windows Server 2019 or later 
for apps that provide a control handler for the `CTRL_SHUTDOWN_EVENT` event. 

For more information, see 
[Graceful Shutdown](https://dotnet-cookbook.cfapps.io/aspnet/graceful-shutdown/) in the _.NET on Pivotal Cloud Foundry Cookbook_.

### <a id='system-metrics-agent'></a> Introduction of System Metrics Agent

PAS for Windows v2.6 includes the introduction of the System Metrics Agent. When the System Metrics Agent is enabled, 
Windows cells emit system-level metrics about each VM in your deployment. 

You can enable this feature in the PAS for Windows v2.6 tile by 
selecting **Enable System Metrics** within the **System Logging** pane.

For a list of the VM metrics that the System Metric Agent emits for Windows VMs, see [VM Metrics](https://github.com/cloudfoundry/loggregator-agent-release#vm-metrics) in GitHub.

For additional information about system-level metrics in PCF, see [BOSH VM and PCF Component Health Metrics](https://docs.pivotal.io/pivotalcf/2-6/monitoring/metrics.html#component-metrics) and [Key Performance Indicators](https://docs.pivotal.io/pivotalcf/2-6/monitoring/kpi.html#bosh).

### <a id='windows2016'></a> Deprecation of the windows2016 Stack

You should migrate any apps that run on the `windows2016` stack to the `windows` stack.

You can migrate your apps from `windows2016` to `windows` using Stack Auditor, a Cloud Foundry CLI plugin.
For more information, see [Using the Stack Auditor Plugin](https://docs.pivotal.io/pivotalcf/adminguide/stack-auditor.html).

### <a id='vcr'></a>Pre-installed Visual C++ Redistributables
Microsoft Visual C++ Redistributable for Visual Studio 2010, 2015, 2017 and 2019 have been pre-installed in PAS for Windows 2.7 and backported to PAS for Windows 2.2.


### <a id='odbc'></a>ODBC Driver Installation Support in Windows Containers

PAS for Windows v2.6 supports ODBC driver installation by giving  developers the ability to add ODBC driver 
entries to the Windows Registry. Previously, ODBC drivers were installed to Windows cells using BOSH add-ons. 
Installing ODBC drivers by using BOSH add-ons is no longer possible in true Windows containerized runtimes.

### <a id='bosh-ssh'></a> BOSH SSH Enabled by Default

In PAS for Windows v2.6, use of the `bosh ssh` command is enabled by default for deployed VMs. 
Developers can use the `bosh ssh` command to troubleshoot Windows-based Diego cells.

### <a id='gcs'></a> Deploy Windows Stemcells on BOSH Director with GCS

PAS for Windows v2.6 supports deploying Windows stemcells with a BOSH Director that uses GCS as the BOSH blobstore. 

For more information on configuring a GCS blobstore, see _Director Config Page_ in 
[Configuring BOSH Director on GCP Manually](https://docs.pivotal.io/pcf/om/2-6/gcp/config-manual.html#director-config) 
or _Director Config Page_ in [Configuring BOSH Director on GCP Using Terraform](https://docs.pivotal.io/pcf/om/2-6/gcp/config-terraform.html).

### <a id='improve-scalabillity'></a> Improved Application Syslog Drain Scalability

PAS for Windows v2.6 has improved application syslog drain scalability and incorporates a new syslog agent architecture. 

## <a id='known-issues'></a> Known Issues

This section includes known issues with PAS for Windows v2.6.

### <a id='syslog'></a> App Syslog Drains Fail After Enabling Agent-Based Syslog

If you select **Enable agent-based syslog egress for app logs** in the **System Logging** pane of the PAS tile, 
external syslog drains that are bound to Windows Apps cannot collect logs. For more information, see 
["Enable agent-based syslog egress for app logs" interrupts external log collection for PAS Windows apps](https://community.pivotal.io/s/article/enable-agent-based-syslog-egress-for-app-logs) in the Pivotal Knowledge Base.

### <a id='graceful-shutdown-known-issue'></a> Graceful Shutdown Is Not Supported on Deployments with One Windows Cell

Graceful shutdown is supported only on Windows Server 2019 deployments with two or more Windows cells. 
For more information, see [Graceful shutdown works only for CF deployments with multiple Windows 2019 cells]
(https://community.pivotal.io/s/article/graceful-shutdown-works-only-for-cf-deployments-with-multiple-windows-2019-cells) in the Pivotal Knowledge Base.
