---
title: PAS for Windows 2012R2 v2.5 Release Notes
owner: Release Engineering
---

Operators can install Pivotal Application Service (PAS) for Windows 2012R2 on vSphere, Amazon Web Services
(AWS), Google Cloud Platform (GCP), or Azure. For more information, see [Installing PAS for Windows](https://docs.pivotal.io/pivotalcf/2-5/windows2012r2/deploy-windows.html).

<p class="note"><strong>Note</strong>:
 There is no PAS for Windows 2012R2 v2.5 tile.
 To use PAS for Windows on Pivotal Cloud Foundry (PCF) v2.5, you must install PAS for Windows 2012R2 v2.4.4 or later.
</p>

