---
title: PCF Runtime for Windows v1.12 Release Notes
owner: Release Engineering
---

<%= partial '/shared/deprecation-notice' %>

Operators can install PCF Runtime for Windows on vSphere, Amazon Web Services
(AWS), Google Cloud Platform (GCP), or Azure. See the
[Deploying PCF Runtime for Windows](https://docs.pivotal.io/pivotalcf/1-12/windows/deploy-windows.html) topic for more information.


## <a id='releases'></a> Releases

### <a id='1.12.12'></a> 1.12.12

* **[Bug Fix]** bump consul to v195
  * Includes golang 1.9.7, removes golang 1.8.*.
  * Deploying v193 could fail on some deployments due to a conflict with other tiles that compiled the release differently
  * Fixes intermittent consul DNS issues on Windows Cells

* Bump consul to version `195`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.19</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>1.25.14</td>
  </tr><tr>
    <td>event_log</td><td>0.3.0</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.17</td>
  </tr><tr>
    <td>loggregator</td><td>96*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.12.11'></a> 1.12.11

* **[Security Fix]** Bump diego to version `1.25.14`
  * [CVE-2018-1265](https://www.cloudfoundry.org/blog/cve-2018-1265/)
* Bump consul to version `193` to use go `1.9`
* Bump hwc-offline-buildpack to version `2.3.17`
* Bump stemcell to version `1200.19`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.19</td>
  </tr><tr>
    <td>consul</td><td>193</td>
  </tr><tr>
    <td>diego</td><td>1.25.14</td>
  </tr><tr>
    <td>event_log</td><td>0.3.0</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.17</td>
  </tr><tr>
    <td>loggregator</td><td>96*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.12.10'></a> 1.12.10

* **[Security Fix]** Bump stemcell to v1200.17. See [release notes](https://docs.pivotal.io/pivotalcf/2-1/stemcells/windows-stemcell-v1200x.html).
* **[Feature Improvement]** Bump event-log-release to v0.3.0:
  * Remove dependency on powershell functions defined in the stemcell.
  * Change release name to use dasherized convention.
* Set default and minimum root disk size to 100G for compatibility with new [recommendations for Windows stemcells](https://docs.pivotal.io/pivotalcf/2-0/windows2012r2/about-windows-stemcells.html).

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.17</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.25.13</td>
  </tr><tr>
    <td>event_log</td><td>0.3.0</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.13</td>
  </tr><tr>
    <td>loggregator</td><td>96*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.12.9'></a> 1.12.9

* **[Bug Fix]** Prevent apps from writing logs to metron_agent_windows by disabling the UDP endpoint. The metron_windows_agent is now configured to only support the Loggregator v2 gRPC API.
* **[Feature Improvement]** Bumps diego-release to v1.25.13 to add cell and instance identifiers in the container lifecycle logs.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.16</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.25.13</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.13</td>
  </tr><tr>
    <td>loggregator</td><td>96*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.12.8'></a> 1.12.8

* **[Bug Fix]** Bumps windows-utilities-release to v0.7.0 to fix issue where drain scripts fails if OpenSSH is not installed.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.16</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.25.3</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.13</td>
  </tr><tr>
    <td>loggregator</td><td>96*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.12.7'></a> 1.12.7

* Bumps stemcell to v1200.16. [Release Notes](https://docs.pivotal.io/pivotalcf/2-1/stemcells/windows-stemcell-v1200x.html#1200.16)
* Removes Hakim job from the Windows Diego cell, as it is now providing minimal value.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.16</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.25.3</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.13</td>
  </tr><tr>
    <td>loggregator</td><td>96*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.6.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.12.6'></a> 1.12.6

* **[Bug Fix]** Bumps windows-utilities-release to v0.6.0 to fix KMS firewall rule not being reset when upgrading from older releases.
* Bumps hwc-offline-buildpack to v2.3.13.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.13</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.25.3</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.13</td>
  </tr><tr>
    <td>loggregator</td><td>96*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.6.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.12.5'></a> 1.12.5

* **[Security Fix]** Bumps stemcell to 1200.13. [Release Notes](https://docs.pivotal.io/pivotalcf/1-9/pcf-release-notes/windows-stemcell-rn.html#1200.13)

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.13</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.25.3</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.11</td>
  </tr><tr>
    <td>loggregator</td><td>96*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.4.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.12.4'></a> 1.12.4

* Bumps hwc-buildpack-release to v2.3.11. [Release Notes](https://github.com/cloudfoundry/hwc-buildpack/releases/tag/v2.3.11)
* **[Bug Fix]** Removes the `randomize_password` job as it was causing issues
  with Azure deployments and is now the stemcell default behavior.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.7</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.25.3</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.11</td>
  </tr><tr>
    <td>loggregator</td><td>96*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.4.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.12.3'></a> 1.12.3

* **[Bug Fix]** Bumps the stemcell to v1200.7 to resolve a bug in the BOSH
  agent restart logic that causes 127.0.0.1 to be dropped from the list of DNS
  nameservers when redeploying Diego Cell VMs.
* **[Improvement]** Bumps windows-utilities-release to v0.4.0 to improve the
  drain script for the SSH feature.
* **[Bug Fix]** Patches loggregator-release to remove the
  `totalReceivedMessageCount` metric from the v2 API.
* The password options have been updated to reflect the current available
  settings for VM password configuration. The default password option will now
  randomly generate an Administrator password.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.7</td>
  </tr><tr>
    <td>consul</td><td>181</td>
  </tr><tr>
    <td>diego</td><td>1.25.3</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.8</td>
  </tr><tr>
    <td>loggregator</td><td>96*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.4.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.12.2'></a> 1.12.2

* Bumps stemcell to v1200.4.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.4</td>
  </tr><tr>
    <td>consul</td><td>173</td>
  </tr><tr>
    <td>diego</td><td>1.25.3</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.8</td>
  </tr><tr>
    <td>loggregator</td><td>96</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.3.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.12.1'></a> 1.12.1

* **[Feature]** Bumps diego-release to v1.25.3 to include support for Azure
  MySQL [Release
  Notes](https://github.com/cloudfoundry/diego-release/releases/tag/v1.25.3).
* Removes the "Advanced Features" section as these features do not have any
  impact on Diego functionality.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.3</td>
  </tr><tr>
    <td>consul</td><td>173</td>
  </tr><tr>
    <td>diego</td><td>1.25.3</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.8</td>
  </tr><tr>
    <td>loggregator</td><td>96</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.3.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.12.0'></a> 1.12.0

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.3</td>
  </tr><tr>
    <td>consul</td><td>173</td>
  </tr><tr>
    <td>diego</td><td>1.25.1</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.8</td>
  </tr><tr>
    <td>loggregator</td><td>96</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.3.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

## <a id='upgrade'></a>How to Upgrade

The PCF Runtime for Windows v1.12 tile is available with the release of Pivotal
Cloud Foundry (PCF) version v1.12. To use the PCF Runtime for Windows tile, you
need Ops Manager v1.12.0 or later and Elastic Runtime v1.12.0 or later.

For information about upgrading to PCF Runtime for Windows v1.12.0, see the
[Upgrading Windows Cells](https://docs.pivotal.io/pivotalcf/1-12/windows/upgrade-windows.html) topic in the PCF Runtime for Windows documentation.

<p class="note"><b>Note</b>: If your existing PCF v1.11.x installation includes both <b>PCF Runtime for Windows</b> and <b>MySQL for PCF v1.x</b>, you must upgrade to MySQL for PCF v1.10.3 or later 
 before you upgrade to PCF Elastic Runtime v1.12. For instructions on how to upgrade MySQL for 
 PCF, see the <a href="http://docs.pivotal.io/p-mysql/1-10/index.html">MySQL for PCF</a> documentation.</p>

## <a id='new-features'></a> New Features in PCF Runtime for Windows v1.12

This section describes new features of the release.

### <a id='bosh-windows-ssh'></a>BOSH SSH Support

If operators select a checkbox when configuring the PCF Runtime for Windows 1.12 tile, users can SSH onto Windows VMs with the `bosh ssh` command. For more information, see the [Deploying PCF Runtime for Windows](https://docs.pivotal.io/pivotalcf/1-12/windows/deploy-windows.html) topic.

<p class="note"><strong>Note</strong>: This feature is beta and not considered production-ready.</p>

### <a id='manage-windows-admin'></a>Operators Can Manage the Windows Admin Password

Operators can now manage a password strategy for the Windows admin user on Windows VMs when configuring the PCF Runtime for Windows. They can use the Windows default password, specify a password, or generate random passwords for each VM. For more information, see the [Deploying PCF Runtime for Windows](https://docs.pivotal.io/pivotalcf/1-12/windows/deploy-windows.html) topic.

### <a id='windows-logs'></a>Windows Event Logs Consumable via Syslog

Operators can now configure a syslog endpoint for Windows Event Logs in the PCF Runtime for Windows tile. Windows Events Logs provide a consolidated, system-level logging mechanism that is especially useful in troubleshooting problems with running applications. For more information, see the [Deploying PCF Runtime for Windows](https://docs.pivotal.io/pivotalcf/1-12/windows/deploy-windows.html) topic.

###<a id='metron-api'></a>Improved Security

Diego Cells now use the Metron API v2. This gRPC-based API supports mutual TLS authentication and ensures that Metrons in PCF Runtime for Windows are protected from spoofing attacks.

###<a id='app-id-creds'></a> Application Instance Identity Credentials

The instance identity system in Diego provides each app container with a PEM-encoded [X.509](https://www.ietf.org/rfc/rfc5280.txt) certificate and [PKCS #1 RSA](https://tools.ietf.org/html/rfc3447) private key. The values of the environment variables `CF_INSTANCE_CERT` and `CF_INSTANCE_KEY` contain the absolute paths to the certificate and private key files. The validity period is 3 years for the Instance Identity root and 2 years for the intermediate CA certificates.

See the [App Instance Container Identity Credentials](https://docs.pivotal.io/pivotalcf/1-12/security/networking/tls-info.html#container-creds) section for more information.

###<a id='kms'></a> KMS Host Configuration

Operators can configure their Windows VMs to register with and activate against an operator-defined KMS host via runtime configuration. See [Configuring a KMS Host](https://docs.pivotal.io/pivotalcf/1-12/windows/configure-kms.html).

###<a id='max-in-flight'></a> Diego Cell Max-in-Flight Default

This release lowers the default max-in-flight percentage on 
Diego Cells to 4%. Previously, this value was set to 10%, which can cause the following issues in larger environments:

* Many simultaneous VM creates/deletes and BOSH blob updates placing
significant stress on the underlying infrastructure, especially on vSphere
which has a greater probability of being under-provisioned.
* Cells that are draining are no longer available for allocation, resulting
in a 10% decrease in total memory and disk capacity during deployment. This
can cause deployments to no longer have sufficient total capacity to run all work, or to have insufficient headroom to place larger workloads
successfully.

Operators can still use the Ops Manager API to configure this setting to fit their needs. For more information about this property, see [Managing Diego Cell Limits During Upgrade](https://docs.pivotal.io/pivotalcf/1-12/adminguide/diego-cell-upgrade.html).

## <a id='adv-features'></a> About Advanced Features

The **Advanced Features** pane of the PCF Runtime for Windows tile includes new
functionality that may have certain constraints. Although these features are
fully supported, Pivotal recommends caution when using them in production.
