---
title: PAS for Windows 2012R2 v2.0 Release Notes
owner: Release Engineering
---

<%= partial '/shared/deprecation-notice' %>

<!----
Operators can install Pivotal Application Service (PAS) for Windows on vSphere, Amazon Web Services
(AWS), Google Cloud Platform (GCP), or Azure. See the
[Installing PAS for Windows](https://docs.pivotal.io/pivotalcf/2-0/windows/installing.html) topic for more information.---->

<p class='note'><strong>Note:</strong> Elastic Runtime has been renamed Pivotal Application Service.</p>

## <a id='releases'></a> Releases

### <a id='2.0.10'></a> 2.0.10

* **[Breaking Change]** The `install-hwc-buildpack` errand is now called `install-hwc-buildpack-lts`
  * If you have scripts which programmatically change the errand state, you'll have to update the scripts to use the new name

* Bump diego to version `1.32.7`
* Bump hwc-offline-buildpack to version `3.0.2`
* Bump loggregator to version `99.3`
* Bump stemcell windows2012R2 to version `1200.24`

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.24</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>1.32.7</td>
  </tr><tr>
    <td>event_log</td><td>0.3.0</td>
  </tr><tr>
    <td>garden-windows</td><td>0.12.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>3.0.2</td>
  </tr><tr>
    <td>loggregator</td><td>99.3</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.9'></a> 2.0.9

* **[Security Fix]** Bump loggregator release for CVE-2018-1268 and CVE-2018-1269
* **[Bug Fix]** bump consul to v195
  * Includes golang 1.9.7, removes golang 1.8.*.
  * Deploying v193 could fail on some deployments due to a conflict with other tiles that compiled the release differently
  * Fixes intermittent consul DNS issues on Windows Cells

* Bump consul to version `195`
* Bump loggregator to version `99.1`

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.19</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>1.32.3</td>
  </tr><tr>
    <td>event_log</td><td>0.3.0</td>
  </tr><tr>
    <td>garden-windows</td><td>0.12.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.17</td>
  </tr><tr>
    <td>loggregator</td><td>99.1</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.8'></a> 2.0.8

* **[Security Fix]** Bump diego to version `1.32.3`
  * [CVE-2018-1265](https://www.cloudfoundry.org/blog/cve-2018-1265/)
* Bump consul to version `193` to use go `1.9`
* Bump hwc-offline-buildpack to version `2.3.17`
* Bump stemcell to version `1200.19`

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.19</td>
  </tr><tr>
    <td>consul</td><td>193</td>
  </tr><tr>
    <td>diego</td><td>1.32.3</td>
  </tr><tr>
    <td>event_log</td><td>0.3.0</td>
  </tr><tr>
    <td>garden-windows</td><td>0.12.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.17</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.6'></a> 2.0.6

* **[Security Fix]** Bump stemcell to v1200.17. See [release notes](https://docs.pivotal.io/pivotalcf/2-1/stemcells/windows-stemcell-v1200x.html).
* **[Feature Improvement]** Bump event-log-release to v0.3.0:
  * Remove dependency on powershell functions defined in the stemcell.
  * Change release name to use dasherized convention.
* Set default and minimum root disk size to 100 GB for compatibility with new [recommendations for Windows stemcells](https://docs.pivotal.io/pivotalcf/2-1/windows2012r2/about-windows-stemcells.html).

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.17</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.32.2</td>
  </tr><tr>
    <td>event_log</td><td>0.3.0</td>
  </tr><tr>
    <td>garden-windows</td><td>0.12.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.13</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.5'></a> 2.0.5

* **[Bug Fix]** Prevent apps from writing logs to metron_agent_windows by disabling the UDP endpoint. The metron_windows_agent is now configured to only support the Loggregator v2 gRPC API.
* **[Feature Improvement]** Bumps diego-release to v1.32.2 to add cell and instance identifiers in the container lifecycle logs.

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.16</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.32.2</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.12.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.13</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.4'></a> 2.0.4

* **[Bug Fix]** Bumps windows-utilities-release to v0.7.0 to fix issue where drain scripts fails if OpenSSH is not installed.

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.16</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.29.0</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.12.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.13</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.3'></a> 2.0.3

* Bumps stemcell to v1200.16. [Release Notes](https://docs.pivotal.io/pivotalcf/2-1/stemcells/windows-stemcell-v1200x.html#1200.16)
* Removes Hakim job from the Windows Diego cell, as it is now providing minimal value.

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.16</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.29.0</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.12.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.13</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.6.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.2'></a> 2.0.2

* **[Bug Fix]** Bumps windows-utilities-release to v0.6.0 to fix KMS firewall rule not being reset when upgrading from older releases.
* Bumps hwc-offline-buildpack to v2.3.13.

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.13</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.29.0</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.12.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.13</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.6.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.1'></a> 2.0.1

* **[Security Fix]** Bumps the stemcell to 1200.13. [Release Notes](https://docs.pivotal.io/pivotalcf/2-0/pcf-release-notes/windows-stemcell-rn.html#1200.13)

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.13</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.29.0</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.12.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.11</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.4.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>

### <a id='2.0.0'></a> 2.0.0

<table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.7</td>
  </tr><tr>
    <td>consul</td><td>187</td>
  </tr><tr>
    <td>diego</td><td>1.29.0</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.12.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.11</td>
  </tr><tr>
    <td>loggregator</td><td>99\*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.4.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
</table>


## <a id='upgrade'></a> How to Upgrade

The Pivotal Application Service (PAS) for Windows 2012R2 v2.0 tile is available with the release of Pivotal Cloud Foundry (PCF) version v2.0. To use the PAS for Windows 2012R2 tile, you need Ops Manager v2.0 or later and PAS v2.0 or later.

<!----
For information about upgrading to PAS for Windows v2.0.0, see the
[Upgrading Windows Cells](https://docs.pivotal.io/pivotalcf/2-0/windows/upgrading.html) topic in the PAS for Windows documentation.---->


## <a id='new-features'></a> New Features in PAS for Windows 2012R2 v2.0

### <a id="RDP"></a> RDP Option Now Available in VM Options

The **VM Options** pane in the **PAS for Windows** tile now optionally supports connection to all virtual machines (VMs) through Remote Desktop Protocol (RDP). 

### <a id="kms"></a> KMS Configuration Option Now Available in VM Options

The **VM Options** pane in the **PAS for Window 2012R2** tile now allows you to enable and configure KMS with a hostname and port. Previously, this had to be performed manually by editing the runtime config. For more information, see [Configuring a KMS Host](https://docs.pivotal.io/pivotalcf/2-0/windows2012r2/configure-kms.html).

### <a id='colocated-errands'></a> Colocated Errands on Instance VMs

The PAS tile no longer includes individual errand VMs. Instead, the errand jobs are colocated on other VMs in the deployment. Colocated errands run faster than traditional errands and use fewer resources, including disk and IP address space. These errands are now set to always run by default.


## <a id='adv-features'></a> About Advanced Features

The **Advanced Features** pane of the PAS for Windows 2012R2 tile includes new functionality that may have certain constraints. Although these features are fully supported, Pivotal recommends caution when using them in production.
