---
title: PAS for Windows v2.4 Release Notes
owner: Garden Windows
---

This topic contains release notes for Pivotal Application Service (PAS) for Windows.

## <a id='releases'></a> Releases

### <a id='2.4.0'></a> 2.4.0

* **[Security Fix]** Rotate diego intermediate CA before current certificate expires
* **[Feature]** Enable fetching logs and metrics via gRPC
* Bump cf-windows-smoke-tests to version `40.0.20`
* Bump hwc-offline-buildpack to version `3.1.1`
* Bump windowsfs-release to version `1.6.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows1803 stemcell</td><td>1803.3</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.20</td></tr>
    <tr><td>diego</td><td>2.22.0</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.7</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.1</td></tr>
    <tr><td>loggregator-agent</td><td>2.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>winc</td><td>1.7.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.6.0</td></tr>
  </tbody>
</table>

## <a id='upgrade'></a> How to Upgrade

The Pivotal Application Service (PAS) for Windows v2.4 tile is available with the release of Pivotal Cloud Foundry (PCF) version v2.4. To use the PAS for Windows tile, you need Ops Manager v2.4 or later and PAS v2.4 or later.

[//]: # (For how to migrate your apps with no downtime from PAS for Windows 2012R2 cells to PAS for Windows cells, see [Migrating Apps to PAS for Windows](https://docs.pivotal.io/pivotalcf/windows/migrating.html). )


## <a id='new-features'></a> New Features in PAS for Windows v2.4

PAS for Windows v2.4 includes the following major features:

## <a id='adv-features'></a> About Advanced Features

The **Advanced Features** pane of the PAS for Windows tile includes new functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in production.

### <a id="overcommit"></a> Memory and Disk Overcommit for Diego Cells

You can now enable memory and disk overcommit for Diego cells.
If you want to configure this feature, use the **Cell Memory Capacity (MB)** and **Cell Disk Capacity (MB)** fields
on the **Advanced Features** pane of the PAS for Windows tile.

<p class='note'><strong>Note:</strong> Due to the risk of app failure and the deployment-specific nature of disk and memory use,
Pivotal has no recommendation about how much, if any, memory or disk space to overcommit.</p>

For more information, see the
[Configure the Tile](https://docs.pivotal.io/pivotalcf/2-4/windows/installing.html#config) section of _Installing and Configuring PAS for Windows_.

### <a id="metrics-prefix"></a> Uniquely Identify Metrics from PAS for Windows

Metrics emitted from PAS for Windows are now tagged with the BOSH deployment name of your PAS for Windows tile.
For example, `pas-windows-GUID`.
With a GUID, you can uniquely identify your metrics by tile.
In PAS for Windows v2.3 and earlier, metrics use the `cf` tag as the deployment name.

This feature is enabled by default in new deployments of PAS for Windows v2.4.
For upgrades to PAS for Windows v2.4, the feature is disabled by default.
You can configure this setting in the **Advanced Features** pane of the PAS for Windows tile:

* If the **Use “cf” as deployment name in emitted metrics instead of unique name** checkbox is disabled,
PAS for Windows metrics are tagged with the BOSH deployment name of your PAS for Windows tile.
* If the **Use “cf” as deployment name in emitted metrics instead of unique name** checkbox is enabled,
PAS for Windows metrics are tagged with `cf` as the deployment name.

<p class='note'><strong>Note:</strong> Enable the <code>cf</code> value
only if it is required for backward compatibility with previous versions of PCF
or if you have scripts that rely on metrics with <code>cf</code> as the value for <code>deployment</code>.
Pivotal does not recommend enabling the <code>cf</code> value as a permanent solution.</p>

### <a id='smoke-tests'></a> Smoke Tests are Available

Smoke Tests are available for PAS for Windows v2.4. You have the option of choosing a temporary or specified organization and space for smoke tests. The **Smoke Test Errand** can be configured within the PAS for Windows Tile.
 
For more information on Smoke Tests, see [Step 3: Configure the Tile](https://docs-pcf-staging.cfapps.io/pivotalcf/2-4/windows/installing.html#config) in Installing and Configuring PAS for Windows.

## <a id='known-issues'></a> Known Issues

This section includes known issues with PAS for Windows v2.4.
