---
title: PAS for Windows 2012R2 v2.6 Release Notes
owner: Release Engineering
---

Operators can install Pivotal Application Service (PAS) for Windows 2012R2 on vSphere, Amazon Web Services
(AWS), Google Cloud Platform (GCP), or Azure. For more information, see [Installing PAS for Windows](https://docs.pivotal.io/pivotalcf/2-6/windows2012r2/deploy-windows.html).


## <a id='releases'></a> Releases


## <a id='upgrade'></a> How to Upgrade

The Pivotal Application Service (PAS) for Windows 2012R2 v2.6 tile is available with the release of Pivotal Cloud Foundry (PCF) version v2.6. To use the PAS for Windows 2012R2 tile, you
need Ops Manager v2.6 or later and PAS v2.6 or later.

For information about upgrading to PAS for Windows 2012R2 v2.6.0, see the
[Upgrading Windows Cells](https://docs.pivotal.io/pivotalcf/2-5/windows2012R2/upgrading.html) topic in the PAS for Windows documentation.


## <a id='new-features'></a> New Features in PAS for Windows 2012R2 v2.6

## <a id='known-issues'></a> Known Issues
