---
title: PAS for Windows v2.5 Release Notes
owner: Garden Windows
---

This topic contains release notes for Pivotal Application Service (PAS) for Windows.

## <a id='upgrade'></a> How to Upgrade

The PAS for Windows v2.5 tile is available with the release of Pivotal Cloud Foundry (PCF) v2.5. To
use the PAS for Windows v2.5 tile, you must install Ops Manager v2.5 or later and PAS v2.5 or later.

## <a id='releases'></a> Releases

### <a id='2.5.0-rc.1'></a> 2.5.0-rc.1

* **[Breaking Change]** Option to override deployment name to CF is removed. For more information,
  see [Pivotal Application Service (PAS) for Windows](breaking-changes.html#pas-windows) in _PCF v2.5 Breaking Changes_.
* **[Feature]** Operators can provide trusted certs in OpsMgr for .NET apps to use automatically

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.2</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>diego</td><td>2.27.0</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.18.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.6</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>winc</td><td>1.9.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.0.0</td></tr>
  </tbody>
</table>
