---
title: Stemcells for Windows Release Notes
owner: Greenhouse
---

This topic includes release notes for Windows stemcells used with Pivotal Cloud Foundry (PCF) Runtime for Windows.

## <a id="1079.0"></a>1079.0

**Release Date**: June 5, 2017

### General Information

* Based on Windows Server 2012R2
* Includes .NET Framework 4.6.1
* Available for AWS, GCP, and Azure
* Includes all Windows Updates and security patches up through April 2017
* To be used with Pivotal Cloud Foundry (PCF) Runtime for Windows v1.9.3+, v1.10.2+
### Known Limitations

* Does not support BOSH SSH or persistent disks.

## <a id="1056.1"></a>1056.1

**Release Date**: June 1, 2017

### General Information

* Based on Windows Server 2012R2
* Includes .NET Framework 4.6.1
* Available for AWS, GCP, and Azure
* Includes all Windows Updates and security patches up through March 2017
* To be used with Pivotal Cloud Foundry (PCF) Runtime for Windows v1.9.0, v1.9.1, v1.9.2, v1.10.0, v1.10.1

### Known Limitations

* Does not support BOSH SSH or persistent disks.

## <a id="1056.0"></a>1056.0

**Release Date**: April 5, 2017

### General Information

* Based on Windows Server 2012R2
* Includes .NET Framework 4.6.1
* Available for AWS, GCP, and Azure
* Includes all Windows Updates and security patches up through March 2017
* To be used with Pivotal Cloud Foundry (PCF) Runtime for Windows v1.9.0, v1.9.1, v1.9.2, v1.10.0, v1.10.1

### Known Limitations

* Does not support BOSH SSH or persistent disks.
