---
title: PAS for Windows v2.5 Release Notes
owner: Garden Windows
---

This topic contains release notes for Pivotal Application Service (PAS) for Windows.

## <a id='upgrade'></a> How to Upgrade

<p class="note"><strong>Note</strong>:
The PAS for Windows v2.5 tile is not yet generally available.
To use PAS for Windows on Pivotal Cloud Foundry (PCF) v2.5, you must install PAS for Windows v2.4.4 or later.
For instructions on installing PAS for Windows v2.4.4 or later, see <a href="https://docs.pivotal.io/pivotalcf/2-4/windows/installing.html">Installing and Configuring PASW</a> in the PCF v2.4 documentation.
For more information about PAS for Windows v2.4.4, see
<a href="https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/windows-rn.html#2.4.4">PAS for Windows v2.4 Release Notes</a>.</p>
