---
title: PAS for Windows v2.2 Release Notes
owner: Garden Windows
---

This topic contains release notes for Pivotal Application Service (PAS) for Windows.

<p class='note'><strong>Note:</strong> PAS for Windows is not currently available on Pivotal Network.
</p>


## <a id='releases'></a> Releases

### <a id='2.2.0-rc.2'></a> 2.2.0-rc.2

* **[Bug Fix]** Bump consul to version `194`
  * Fix issue with conflicting compiled releases with consul 193

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1709.8</td>
  </tr><tr>
    <td>consul</td><td>193</td>
  </tr><tr>
    <td>diego</td><td>2.8.0</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.17*</td>
  </tr><tr>
    <td>loggregator</td><td>102.1</td>
  </tr><tr>
    <td>winc</td><td>1.3.0</td>
  </tr>
  </tr><tr>
    <td>windows-utilities</td><td>0.10.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.2.0-rc.1'></a> 2.2.0-rc.1

* **[Security Fix]** Bump diego to version `2.8.0` to address [CVE-2018-1265](https://www.cloudfoundry.org/blog/cve-2018-1265/) and to use Go 1.9
* **[Security Fix]** Bump winc to version `1.3.0` to address [CVE-2018-8115](https://portal.msrc.microsoft.com/en-us/security-guidance/advisory/CVE-2018-8115)
* **[Bug Fix]** Bump consul to version `193`. This version of Console supports Go 1.9.
* **[Bug Fix]** Windows Cells now use the PAS tile's MTU setting
* **[Bug Fix]** Bump ephemeral disk size on Windows Cells from 64GB to 100GB 
* **[Bug Fix]** Bump windows-utilities to version `0.10.0`. This resolves issues with the `enable_rdp` drain script.
* **[Bug Fix]** Bump garden-runc to version `1.13.3`. Garden-runc now supports Go 1.9.
* Bump stemcell to version `1709.8`
* Bump hwc-offline-buildpack to version `2.3.17`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1709.8</td>
  </tr><tr>
    <td>consul</td><td>193</td>
  </tr><tr>
    <td>diego</td><td>2.8.0</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.13.3</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.17*</td>
  </tr><tr>
    <td>loggregator</td><td>102.1</td>
  </tr><tr>
    <td>winc</td><td>1.3.0</td>
  </tr>
  </tr><tr>
    <td>windows-utilities</td><td>0.10.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.2.0-alpha.1'></a> 2.2.0-alpha.1

* Bump stemcell to version `1709.4`
* Bump consul to version `192`
* Bump diego to version `2.4.0`
* Bump garden-runc to version `1.12.1`
* Bump hwc-offline-buildpack to version `2.3.15`
* Bump loggregator to version `102.1`
* Bump winc to version `1.0.1`
* Bump windows-utilities to version `0.7.0`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1709.4</td>
  </tr><tr>
    <td>consul</td><td>192</td>
  </tr><tr>
    <td>diego</td><td>2.4.0</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.12.1</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.15</td>
  </tr><tr>
    <td>loggregator</td><td>102.1</td>
  </tr><tr>
    <td>winc</td><td>1.0.1</td>
  </tr>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

## <a id='upgrade'></a>How to Upgrade

The Pivotal Application Service (PAS) for Windows v2.2 tile is available with the release of Pivotal Cloud Foundry (PCF) version v2.2. To use the PAS for Windows tile, you need Ops Manager v2.2 or later and PAS v2.2 or later.

[//]: # (For how to migrate your apps with no downtime from PAS for Windows 2012R2 cells to PAS for Windows cells, see [Migrating Apps to PAS for Windows](https://docs.pivotal.io/pivotalcf/windows/migrating.html). )


## <a id='new-features'></a> New Features in PAS for Windows v2.2

### <a id="timestamp"></a> New Format for Timestamps in Diego Component Logs

The timestamps in the Diego component logs are now in a format compatible with <a href="https://tools.ietf.org/html/rfc3339">RFC 3339</a>. Log-level identifiers are also formatted as strings instead of numeric codes.

RFC 3339 timestamps are enabled by default for new v2.2 deployments. Upgrades from earlier versions retain the previous component log format with Unix epoch timestamps.

You can enable the new timestamp format for Diego logs in the PAS tile.

For more information, see the **Configure Application Containers** section of any IaaS-specific PAS configuration topic, such as [Manually Configuring PAS for AWS](https://docs.pivotal.io/pivotalcf/2-2/customizing/pcf-aws-manual-er-config.html#application-containers-config).

<p class="note breaking"><strong>Breaking Change:</strong> Before enabling RFC 3339 format for Diego logs, ensure that your log aggregation system
anticipates the timestamp format change. If you experience issues, you can disable RFC 3339 format in the PAS tile.</p>


## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PAS for Windows 2012R2 tile includes new functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in production.


## <a id='known-issues'></a> Known Issues

### <a id="ki-boshwindows-access-denied"></a> Deploying PCF Runtime for Windows Tile Results in an Access is Denied Error

This rare issue can occur when you deploy the PCF Runtime for Windows tile v2.2.

The error reads: `Action Failed get_task: Task 5b085f4a-b56a-42e3-5974-f3876879397d result: Compiling package certsplitter_windows: Removing packages: Uninstalling package bundle: remove /var/vcap/data/packages/golang-windows/83bf1f4181665d2ee2c0118a56bd04764b8f56b0\go\bin\go.exe: Access is denied.`

If you encounter this error, Pivotal recommends retrying the deployment until the error does not occur.
