---
title: PCF Runtime for Windows v1.12 Release Notes
owner: Release Engineering
---

## <a id='releases'></a> Releases

### <a id='1.12.0'></a> 1.12.0

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td></td>
  </tr><tr>
    <td>consul</td><td></td>
  </tr><tr>
    <td>diego</td><td></td>
  </tr><tr>
    <td>garden-windows</td><td></td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td></td>
  </tr><tr>
    <td>loggregator</td><td></td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

Operators can install PCF Runtime for Windows on vSphere, Amazon Web Services
(AWS), Google Cloud Platform (GCP), or Azure. See the
[Deploying PCF Runtime for Windows](../windows/deploy-windows.html) topic for more information.

## <a id='upgrade'></a>How to Upgrade

The PCF Runtime for Windows v1.12 tile is available with the release of Pivotal
Cloud Foundry (PCF) version v1.12. To use the PCF Runtime for Windows tile, you
need Ops Manager v1.12.0 or later and Elastic Runtime v1.12.0 or later.

For information about upgrading to PCF Runtime for Windows v1.12.0, see the
[Upgrading Windows Cells](../windows/upgrade-windows.html) topic in the PCF Runtime for Windows documentation.

## <a id='adv-features'></a> About Advanced Features

The **Advanced Features** pane of the PCF Runtime for Windows tile includes new
functionality that may have certain constraints. Although these features are
fully supported, Pivotal recommends caution when using them in production.

## <a id='new-features'></a> New Features in PCF Runtime for Windows v1.12
