---
title: PAS for Windows v2.5 Release Notes
owner: Garden Windows
---

This topic contains release notes for Pivotal Application Service (PAS) for Windows.

## <a id='upgrade'></a> How to Upgrade

The PAS for Windows v2.5 tile is available with the release of Pivotal Cloud Foundry (PCF) version
v2.5. To use the PAS for Windows v2.5 tile, you must install Ops Manager v2.5 or later and PAS v2.5
or later.

## <a id='releases'></a> Releases

### <a id='2.5.0-rc.1'></a> 2.5.0-rc.1

* **[Breaking Change]** Option to override deployment name to CF is removed. For more information,
  see [Pivotal Application Service (PAS) for Windows](breaking-changes.html#pas-windows) in _PCF v2.5 Breaking Changes_.
* **[Feature]** Operators can provide trusted certs in OpsMgr for .NET apps to use automatically

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.2</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>diego</td><td>2.27.0</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.18.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.6</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>winc</td><td>1.9.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.0.0</td></tr>
  </tbody>
</table>

### <a id='2.5.0-beta.1'></a> 2.5.0-beta.1

* **[Feature Improvement]** Add support for "windows" stack
* Bump windows1803 stemcell to version `1803.6`
* Bump diego to version `2.27.0`
* Bump garden-runc to version `1.18.0`
* Bump hwc-offline-buildpack to version `3.1.4`
* Bump windowsfs-release to version `2.0.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows1803 stemcell</td><td>1803.6</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>diego</td><td>2.27.0</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.18.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.4</td></tr>
    <tr><td>loggregator-agent</td><td>2.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>winc</td><td>1.7.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.0.0</td></tr>
  </tbody>
</table>

### <a id='2.5.0-alpha.4'></a> 2.5.0-alpha.4

* **[Feature Improvement]** Enable SMB `net use`-style mounting for IP-address based UNC paths on Windows 2016 cells
* Bump diego to version `2.24.0`
* Bump hwc-offline-buildpack to version `3.1.2`
* Bump windowsfs-release to version `1.8.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows1803 stemcell</td><td>1803.4</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>diego</td><td>2.24.0</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.17.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.2</td></tr>
    <tr><td>loggregator-agent</td><td>2.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>winc</td><td>1.7.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.8.0</td></tr>
  </tbody>
</table>

### <a id='2.5.0-alpha.3'></a> 2.5.0-alpha.3

* Bump cf-windows-smoke-tests to version `40.0.40`
* Bump windowsfs-release to version `1.7.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows1803 stemcell</td><td>1803.4</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>diego</td><td>2.23.0</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.17.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.1</td></tr>
    <tr><td>loggregator-agent</td><td>2.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>winc</td><td>1.7.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.7.0</td></tr>
  </tbody>
</table>

### <a id='2.5.0-alpha.2'></a> 2.5.0-alpha.2

* **[Security Fix]** Rotate Diego intermediate CA before current certificate expires
* Bump windows1803 stemcell to version `1803.4`
* Bump cf-windows-smoke-tests to version `40.0.20`
* Bump diego to version `2.23.0`
* Bump garden-runc to version `1.17.1`
* Bump hwc-offline-buildpack to version `3.1.1`
* Bump windowsfs-release to version `1.6.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows1803 stemcell</td><td>1803.4</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.20</td></tr>
    <tr><td>diego</td><td>2.23.0</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.17.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.1</td></tr>
    <tr><td>loggregator-agent</td><td>2.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>winc</td><td>1.7.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.6.0</td></tr>
  </tbody>
</table>

### <a id='2.5.0-alpha.1'></a> 2.5.0-alpha.1

* **[Security Fix]** Rotate Diego intermediate CA before current certificate expires
* **[Feature Improvement]** Operators can specify the Diego executor properties for memory usage and disk capacity to enable finer-grained resource usage strategies
* Bump cf-windows-smoke-tests to version `40.0.17`
* Bump diego to version `2.22.0`
* Bump garden-runc to version `1.17.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows1803 stemcell</td><td>1803.3</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.17</td></tr>
    <tr><td>diego</td><td>2.22.0</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.17.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.0.3</td></tr>
    <tr><td>loggregator-agent</td><td>2.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>winc</td><td>1.7.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.5.0</td></tr>
  </tbody>
</table>

## <a id='new-features'></a> New Features in PAS for Windows v2.5

PAS for Windows v2.5 includes the following major features:

###<a id="windows-2019"></a> Support for Windows Server 2019 Container Images

PAS for Windows v2.5 supports Windows Server 2019 container images. 
This means developers can deploy .NET apps on Windows Server 2019 in PCF.

Moving to Windows Server 2019 adds stability and enhances a number of container APIs 
used in the Garden Windows implementation (`winc`) of PAS for Windows.

Windows Server 2019 stemcells are available for download on [Pivotal Network](https://network.pivotal.io) 
and [bosh.io](https://www.bosh.io) for all IaaS targets except vSphere.

<p class="note"><strong>Note:</strong> PAS for Windows v2.5 no longer supports Windows Server 1803 stemcells.
  If you require a Windows Server 1803 stemcell, use PAS for Windows v2.4 instead.</p>

### <a id='trusted-certificates'></a> .NET Apps Trust CA Certificates Configured in BOSH Director

.NET apps deployed on PAS for Windows now automatically trust your certificate authority (CA) certificates
configured in the **Security** pane of the BOSH Director tile.
To enable .NET apps to trust these CA certificates,
PAS for Windows includes them in the system trust store of Windows containers.

For instructions on configuring trusted certificates in the BOSH Director tile,
see [Setting Trusted Certificates](https://docs.pivotal.io//pivotalcf/2-5/customizing/trusted-certificates.html).

### <a id='windows2016'></a> Deprecation of the `windows2016` Stack

The `windows2016` stack is deprecated in favor of the `windows` stack.
PAS for Windows v2.6 may remove support for `windows2016`.

You can migrate your apps from `windows2016` to `windows` using Stack Auditor, a Cloud Foundry CLI plugin.
For more information, see [Using the Stack Auditor Plugin](https://docs.pivotal.io/pivotalcf/2-5/adminguide/stack-auditor.html).

## <a id='adv-features'></a> New Advanced Features

The **Advanced Features** pane of the PAS for Windows tile includes new functionality that may have
certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in
production.

PAS for Windows v2.5 includes the following advanced features:

## <a id='known-issues'></a> Known Issues

This section includes known issues with PAS for Windows v2.5.

### <a id='no-mutual-verification'></a> No Mutual TLS App Identity Verification

PAS for Windows does not support mutual TLS app identity verification. Mutual TLS app identity verification does not work for Windows containers.