---
title: PAS for Windows 2012R2 v2.1 Release Notes
owner: Release Engineering
---

<!----
Operators can install Pivotal Application Service (PAS) for Windows on vSphere, Amazon Web Services
(AWS), Google Cloud Platform (GCP), or Azure. See the
[Installing PAS for Windows](https://docs.pivotal.io/pivotalcf/2-1/windows/installing.html) topic for more information.---->

<p class='note'><strong>Note:</strong> Elastic Runtime has been renamed Pivotal Application Service.</p>

## <a id='releases'></a> Releases

### <a id='2-1-0'></a> 2.1.0

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.15</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>diego</td><td>1.35.0</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.13.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.13</td>
  </tr><tr>
    <td>loggregator</td><td>101.5\*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.6.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

## <a id='upgrade'></a>How to Upgrade

The Pivotal Application Service (PAS) for Windows 2012R2 v2.1 tile is available with the release of Pivotal Cloud Foundry (PCF) version v2.1. To use the PAS for Windows 2012R2 tile, you
need Ops Manager v2.1 or later and PAS v2.1 or later.

<!----
For information about upgrading to PAS for Windows v2.1.0, see the
[Upgrading Windows Cells](https://docs.pivotal.io/pivotalcf/2-1/windows/upgrading.html) topic in the PAS for Windows documentation.---->

## <a id='new-features'></a> New Features in PAS for Windows 2012R2 v2.1


## <a id='adv-features'></a> About Advanced Features


## <a id='known-issues'></a> Known Issues

### <a id='shutdown'></a> PAS for Windows 2012R2 Cannot Gracefully Shut Down .NET Apps

A known limitation of the IronFrame containerization framework prevents PAS for Windows 2012R2 from gracefully shutting down .NET apps. Instead, PAS for Windows 2012R2 forcefully terminates them. For more information, see the [Graceful Shutdown of .NET Apps in Cloud Foundry Windows](https://discuss.pivotal.io/hc/en-us/articles/115005092734) Knowledge Base article.
