---
title: PCF Runtime for Windows v1.10 Release Notes
owner: Release Engineering
---

<%= partial '/shared/deprecation-notice' %>

## <a id='releases'></a> Releases

### <a id='1.10.11'></a> 1.10.11

* **[Security Fix]** Bumps the stemcell to 1200.13. [Release Notes](https://docs.pivotal.io/pivotalcf/1-10/pcf-release-notes/windows-stemcell-rn.html#1200.13)

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.13</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.11</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.10'></a> 1.10.10

* Bumps hwc-buildpack-release to v2.3.11. [Release Notes](https://github.com/cloudfoundry/hwc-buildpack/releases/tag/v2.3.11)

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.7</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.11</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.9'></a> 1.10.9

* **[Bug Fix]** Patches loggregator-release to introduce a circuit breaker when
  the Traffic Controller connects to the Doppler VMs.
* **[Bug Fix]** Patches loggregator-release to ensure metron agents maintain
  availability-zone affinity when connecting to Doppler VMs.
* **[Bug Fix]** Patches consul-release to include Internationalized Domain Name
  encoding when specifying an availability-zone-specific service.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.7</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.8</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.8'></a> 1.10.8

* **[Bug Fix]** Bumps the stemcell to v1200.7 to resolve a bug in the BOSH
  agent restart logic that causes 127.0.0.1 to be dropped from the list of DNS
  nameservers when redeploying Diego Cell VMs.
* **[Bug Fix]** Patches loggregator-release to remove the
  `totalReceivedMessageCount` metric from the v2 API.
* **[Bug Fix]** Patches consul-release to include a fix for parsing the
  resolvers list on Windows.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.7</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.8</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.7'></a> 1.10.7

* Bumps stemcell to v1200.4.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.4</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.8</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.6'></a> 1.10.6

* Removes the "Advanced Features" section as these features do not have any
  impact on Diego functionality.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.8</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.5'></a> 1.10.5

* Bumps garden-windows-release to v0.7.0. [Release Notes](https://github.com/cloudfoundry-incubator/garden-windows-bosh-release/releases/tag/v0.7.0).
* **[Bug Fix]** Bumps hwc-offline-buildpack-release to v2.3.8. Resolves a stack overflow bug in .Net applications.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.8</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.4'></a> 1.10.4

* Bumps the stemcell to v1200.0. [Release Notes](https://docs.pivotal.io/pivotalcf/1-10/pcf-release-notes/windows-stemcell-rn.html#1200.0)
* Sets the default max-in-flight value for the Diego Cells to 4%. Operators can
  still use the Ops Manager API to configure this setting to fit their needs. The
  max-in-flight percentage for the Diego Cell job in the Elastic Runtime has been
  set to 10% since 1.9.0, but we’ve seen especially in larger environments that
  having the percentage this high can cause some problems:
  * Many simultaneous VM creates/deletes and BOSH blob updates can place
  significant stress on the underlying infrastructure, especially on vSphere
  which has a greater probability of being under-provisioned.
  * The cells that are draining are no longer available for allocation,
  resulting in a 10% decrease in total memory and disk capacity during the
  deployment. This can cause deployments to no longer have sufficient total
  capacity to run all the work, or to have insufficient headroom to place
  larger workloads successfully.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-windows</td><td>0.4.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.4</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.3'></a> 1.10.3

* Disables legacy rep endpoints.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1079.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-windows</td><td>0.4.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.4</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.2'></a> 1.10.2

* Bumps stemcell to v1079.0.
* Bumps hwc-offline-buildpack to v2.3.4.
* Patches consul-release to fix an issue with IPSec.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1079.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-windows</td><td>0.4.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.4</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.1'></a> 1.10.1

* Bumps consul-release to v164.
* Brings Diego and Loggregator releases inline with Elastic Runtime versions.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1056.0</td>
  </tr><tr>
    <td>consul</td><td>164</td>
  </tr><tr>
    <td>diego</td><td>1.7.1\*</td>
  </tr><tr>
    <td>garden-windows</td><td>0.4.0</td>
  </tr><tr>
    <td>hwc-buildpack</td><td>2.3.2</td>
  </tr><tr>
    <td>loggregator</td><td>77\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.10.0'></a> 1.10.0

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1056.0</td>
  </tr><tr>
    <td>consul</td><td>153</td>
  </tr><tr>
    <td>diego</td><td>1.7.6</td>
  </tr><tr>
    <td>garden-windows</td><td>0.4.0</td>
  </tr><tr>
    <td>loggregator</td><td>77</td>
  </tr><tr>
    <td>HWC Buildpack</td><td>2.3.2</td>
  </tr>
  </tbody>
  </table>

Operators can install PCF Runtime for Windows on vSphere, Amazon Web Services (AWS), Google Cloud Platform (GCP), or Azure.

## <a id='upgrade'></a>How to Upgrade

The PCF Runtime for Windows tile is available with the release of Pivotal Cloud Foundry (PCF) version 1.10. To use the PCF Runtime for Windows tile, you need Ops Manager 1.10.3 or later and Elastic Runtime 1.10.0 or later.

For information about upgrading to PCF Runtime for Windows v1.10.0, see the [Upgrading Windows Cells](https://docs.pivotal.io/pivotalcf/1-10/windows/upgrade-windows.html) topic in the PCF Runtime for Windows documentation.

## <a id='new-features'></a> New Features in PCF Runtime for Windows 1.10

* Cell local communication between Diego rep and Consul agent is secured.
* Windows Buildpack support:
  * The tile installs the HWC buildpack for enabling IIS applications without running the full IIS process.
  * Supports the binary buildpack included with ERT 1.10.0, used to run Windows `.exe` and `.bat` executables.
  * For apps that use the older start command, the tile provides a warning after upgrade.
  * Backwards compatible with old apps.
* The 1.10 Runtime for Windows tile can be deployed as an [isolation segment](https://docs.pivotal.io/pivotalcf/1-10/opsguide/installing-pcf-is.html).
* The CF healthcheck is configurable for Windows apps.
* The IPSec add-on is supported to secure communications between Windows and Linux virtual machines.

## <a id='knownissues'></a>Known Issues

* Due to a bug in libgit2, you [cannot push apps using a git repo URL when specifying -b.](https://www.pivotaltracker.com/story/show/138380867).

###<a id='newissues'></a>New Issues

* Pushing `.exe` and `.bat` files with the binary buildpack requires ERT 1.10.3 or later (binary buildpack 1.0.11 or later).
* AWS S3 blobstores are known not to work with GCP deployments.

###<a id='notes'></a>Notes

* Note that any behavior that restarts the Windows OS will result in BOSH resurrecting the cell. Pivotal-provided stemcells are configured to disable any auto-restart behaviors.
* `cf ssh` is not supported.
