---
title: PAS for Windows v2.7 Release Notes
owner: Garden Windows
---

This topic contains release notes for Pivotal Application Service (PAS) for Windows.

## <a id='upgrade'></a> How to Upgrade

The PAS for Windows v2.7 tile is available with the release of Pivotal Cloud Foundry (PCF) version
v2.7. To use the PAS for Windows v2.7 tile, you must install Ops Manager v2.7 or later and PAS v2.7
or later.

## <a id='releases'></a> Releases


## <a id='new-features'></a> New Features in PAS for Windows v2.7

PAS for Windows v2.7 includes the following major features:

## <a id='adv-features'></a> New Advanced Features

The **Advanced Features** pane of the PAS for Windows tile includes new functionality that may have
certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in
production.

PAS for Windows v2.7 includes the following advanced features:

## <a id='known-issues'></a> Known Issues

This section includes known issues with PAS for Windows v2.7.
