---
title: PAS for Windows 2012R2 v2.3 Release Notes
owner: Release Engineering
---

Operators can install Pivotal Application Service (PAS) for Windows 2012R2 on vSphere, Amazon Web Services
(AWS), Google Cloud Platform (GCP), or Azure. For more information, see [Installing PAS for Windows](https://docs.pivotal.io/pivotalcf/2-3/windows2012r2/deploy-windows.html).

## <a id='releases'></a> Releases

### <a id='2.3.4'></a>2.3.4

* **[Bug Fix]** Bump Diego to v2.20.0 to resolve DNS timeouts from Golang components
* Bump windows2012R2 stemcell to version `1200.26`
* Bump diego to version `2.20.0`
* Bump hwc-offline-buildpack to version `3.1.2`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2012R2 stemcell</td><td>1200.26</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.20.0</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-windows</td><td>0.14.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
  </tbody>
</table>

### <a id='2.3.3'></a>2.3.3

* **[Security Fix]** Rotate diego intermediate CA before current certificate expires
* Bump hwc-offline-buildpack to version `3.1.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2012R2 stemcell</td><td>1200.25</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.18.0</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-windows</td><td>0.14.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.1</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
  </tbody>
</table>

### <a id='2.3.2'></a>2.3.2

* **[Feature Improvement]** Remove unused properties in Diego configuration
* **[Bug Fix]** Fix slow app instance shutdown when using NSX-T for container networking
* **[Bug Fix]** Fix issue in loggregator where availability zone (AZ) names with special characters could cause metron agent job to fail 
* Bump windows2012R2 stemcell to version `1200.25`
* Bump diego to version `2.18.0`
* Bump loggregator to version `103.3`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2012R2 stemcell</td><td>1200.25</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.18.0</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-windows</td><td>0.14.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.0.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
  </tbody>
</table>

### <a id='2.3.1'></a>2.3.1

* Bump hwc-offline-buildpack to version `3.0.2`
* Bump stemcell windows2012R2 to version `1200.24`

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>1200.24</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>2.16.0</td>
  </tr><tr>
    <td>event_log</td><td>0.7.0</td>
  </tr><tr>
    <td>garden-windows</td><td>0.14.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>3.0.2</td>
  </tr><tr>
    <td>loggregator</td><td>103.0</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.10.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.3.0'></a>2.3.0

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>stemcell</td><td>1200.23</td>
  </tr><tr>
    <td>consul</td><td>195</td>
  </tr><tr>
    <td>diego</td><td>2.16.0</td>
  </tr><tr>
    <td>event_log</td><td>0.7.0</td>
  </tr><tr>
    <td>garden-windows</td><td>0.14.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>3.0.0</td>
  </tr><tr>
    <td>loggregator</td><td>103.0</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.10.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

## <a id='upgrade'></a> How to Upgrade

The Pivotal Application Service (PAS) for Windows 2012R2 v2.3 tile is available with the release of Pivotal Cloud Foundry (PCF) version v2.3. To use the PAS for Windows 2012R2 tile, you
need Ops Manager v2.3 or later and PAS v2.3 or later.

For information about upgrading to PAS for Windows 2012R2 v2.3.0, see the
[Upgrading Windows Cells](https://docs.pivotal.io/pivotalcf/2-3/windows2012R2/upgrading.html) topic in the PAS for Windows documentation.

## <a id='known-issues'></a> Known Issues

Diego release v2.12.0 has a known issue running on Windows cells on Azure.
