---
title: PAS for Windows v2.2 Release Notes
owner: Garden Windows
---

<%= partial '/shared/deprecation-notice' %>

This topic contains release notes for Pivotal Application Service (PAS) for Windows.

## <a id='upgrade'></a> How to Upgrade

The PAS for Windows v2.2 tile is available with the release of Pivotal Cloud Foundry (PCF) v2.2. To
use the PAS for Windows v2.2 tile, you must install Ops Manager v2.2 or later and PAS v2.2 or later.

## <a id='releases'></a> Releases

### <a id='2.2.9'></a> 2.2.9

* Bump windows2016 stemcell to version `1709.19`
* Bump hwc-offline-buildpack to version `3.1.6`
* Bump windows2016fs-release to version `2.2.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2016 stemcell</td><td>1709.19</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.8.7</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.8</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.6</td></tr>
    <tr><td>loggregator</td><td>102.8</td></tr>
    <tr><td>winc</td><td>1.8.0</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
    <tr><td>windows2016fs-release</td><td>2.2.0</td></tr>
  </tbody>
</table>

### <a id='2.2.8'></a> 2.2.8

* **[Feature]** Operators can provide trusted certs in OpsMgr for .NET apps to use automatically
* Bump hwc-offline-buildpack to version `3.1.5`
* Bump winc to version `1.8.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2016 stemcell</td><td>1709.17</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.8.7</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.8</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.5</td></tr>
    <tr><td>loggregator</td><td>102.8</td></tr>
    <tr><td>winc</td><td>1.8.0</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
    <tr><td>windows2016fs-release</td><td>2.0.0</td></tr>
  </tbody>
</table>

### <a id='2.2.7'></a> 2.2.7

* Bump windows2016 stemcell to version `1709.17`
* Bump diego to version `2.8.7`
* Bump garden-runc to version `1.16.8`
* Bump hwc-offline-buildpack to version `3.1.4`
* Bump windows2016fs-release to version `2.0.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2016 stemcell</td><td>1709.17</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.8.7</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.8</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.4</td></tr>
    <tr><td>loggregator</td><td>102.8</td></tr>
    <tr><td>winc</td><td>1.7.0</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
    <tr><td>windows2016fs-release</td><td>2.0.0</td></tr>
  </tbody>
</table>

### <a id='2.2.6'></a> 2.2.6

* Bump windows2016 stemcell to version `1709.15`
* Bump hwc-offline-buildpack to version `3.1.2`
* Bump loggregator to version `102.8`
* Bump windows2016fs-release to version `1.12.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2016 stemcell</td><td>1709.15</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.8.4</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.2</td></tr>
    <tr><td>loggregator</td><td>102.8</td></tr>
    <tr><td>winc</td><td>1.7.0</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
    <tr><td>windows2016fs-release</td><td>1.12.0</td></tr>
  </tbody>
</table>

### <a id='2.2.5'></a> 2.2.5

* **[Security Fix]** Rotate diego intermediate CA before current certificate expires
* **[Feature Improvement]** Operators can specify the Diego executor properties for memory usage and disk capacity in order to enable finer grained resource usage strategies.
* **[Feature Improvement]** Smoke tests for PASW are run as a post-deploy errand
* **[Bug Fix]** Fix issue that could cause application deployments to fail on some infrastructure due to incorrect MTU detection
* Bump to hwc-offline-buildpack compatible with PAS 2.2
* Bump windows2016 stemcell to version `1709.14`
* Bump diego to version `2.8.4`
* Bump hwc-offline-buildpack to version `3.1.1`
* Bump winc to version `1.7.0`
* Bump windows2016fs-release to version `1.10.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2016 stemcell</td><td>1709.14</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.8.4</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.1</td></tr>
    <tr><td>loggregator</td><td>102.7</td></tr>
    <tr><td>winc</td><td>1.7.0</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
    <tr><td>windows2016fs-release</td><td>1.10.0</td></tr>
  </tbody>
</table>

### <a id='2.2.4'></a> 2.2.4

* **[Security Fix]** Bump garden-runc to prevent malicious users from causing a denial of service for other apps
* **[Bug Fix]** Fix issue in loggregator where AZ names with special characters could cause metron agent job to fail
* Bump garden-runc to version `1.16.1`
* Bump hwc-offline-buildpack to version `3.0.2`
* Bump loggregator to version `102.7`
* Bump windows2016fs to version `1.8.0`
* Bump stemcell windows2016 to version `1709.13`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Stemcell</td><td>1709.13</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.8.2</td></tr>
    <tr><td>event_log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.0.2</td></tr>
    <tr><td>loggregator</td><td>102.7</td></tr>
    <tr><td>winc</td><td>1.3.0</td></tr>
    <tr><td>windows2016fs</td><td>1.8.0</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
  </tbody>
</table>

### <a id='2.2.3'></a> 2.2.3

* Bump stemcell windows2016 version `1709.12`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Stemcell</td><td>1709.12</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.8.2</td></tr>
    <tr><td>event_log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.13.3</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>2.3.19</td></tr>
    <tr><td>loggregator</td><td>102.4</td></tr>
    <tr><td>winc</td><td>1.3.0</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
  </tbody>
</table>

### <a id='2.2.2'></a> 2.2.2

* **[Bug Fix]** Fix intermittent consul DNS issues on Windows Cells

* Bump consul to version `195`
* Bump diego to version `2.8.2`
* Bump event-log to version `0.7.0`
* Bump hwc-offline-buildpack to version `2.3.19`
* Bump loggregator to version `102.4`
* Bump stemcell windows2016 to version `1709.11`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Stemcell</td><td>1709.11</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.8.2</td></tr>
    <tr><td>event_log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.13.3</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>2.3.19</td></tr>
    <tr><td>loggregator</td><td>102.4</td></tr>
    <tr><td>winc</td><td>1.3.0</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
  </tbody>
</table>

### <a id='2.2.0'></a> 2.2.0

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Stemcell</td><td>1709.8</td></tr>
    <tr><td>consul</td><td>193</td></tr>
    <tr><td>diego</td><td>2.8.0</td></tr>
    <tr><td>event_log</td><td>0.2</td></tr>
    <tr><td>garden-runc</td><td>1.13.3</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>2.3.17*</td></tr>
    <tr><td>loggregator</td><td>102.1</td></tr>
    <tr><td>winc</td><td>1.3.0</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security
      vulnerabilities or fix component behavior.</em>
      </td>
    </tr>
  </tfoot>
</table>

## <a id='new-features'></a> New Features in PAS for Windows v2.2

### <a id="timestamp"></a> New Format for Timestamps in Diego Component Logs

The timestamps in the Diego component logs are now in a format compatible with [RFC 3339](https://tools.ietf.org/html/rfc3339). Log-level identifiers are also formatted as strings instead of numeric codes.

RFC 3339 timestamps are enabled by default for new v2.2 deployments. Upgrades from earlier versions retain the previous component log format with Unix epoch timestamps.

You can enable the new timestamp format for Diego logs in the PAS tile.

For more information, see the **Configure Application Containers** section of any IaaS-specific PAS configuration topic, such as [Deploying PAS on AWS](https://docs.pivotal.io/pivotalcf/2-2/customizing/pcf-aws-manual-er-config.html#application-containers-config).

<p class="note breaking"><strong>Breaking Change:</strong> Before enabling RFC 3339 format for Diego logs, ensure that your log aggregation system anticipates the timestamp format change. If you experience issues, you can disable RFC 3339 format in the PAS tile.</p>

## <a id='known-issues'></a> Known Issues

### <a id="ki-boshwindows-access-denied"></a> Deploying PAS Runtime for Windows Results in an Access is Denied Error

This rare issue can occur when you deploy the PAS Runtime for Windows v2.2.

The error reads: `Action Failed get_task: Task 5b085f4a-b56a-42e3-5974-f3876879397d result: Compiling package certsplitter_windows: Removing packages: Uninstalling package bundle: remove /var/vcap/data/packages/golang-windows/83bf1f4181665d2ee2c0118a56bd04764b8f56b0\go\bin\go.exe: Access is denied.`

If you encounter this error, Pivotal recommends retrying the deployment until the error does not occur.

For more information, see the Knowledge Base article [Deploying PAS for Windows Tile Results in an Access is Denied Error](https://community.pivotal.io/s/article/Deploying-PAS-for-Windows-Tile-results-in-access-denied-error).

### <a id="consul-agent"></a> Consul Agent Job Does Not Prestart on Windows Diego Cells

In PAS for Windows v2.2, the `consul_agent_windows` job may fail to prestart when a Diego cell VM
is created. The `Cannot index into a null array` error message typically indicates that your Diego
cell VM is affected. To workaround this issue, you can recreate the VM.
