---
title: PCF Runtime for Windows v1.11 Release Notes
owner: Release Engineering
---

## <a id='releases'></a> Releases

### <a id='1.11.3'></a> 1.11.3

* Bumps garden-windows-release to v0.7.0. [Release Notes](https://github.com/cloudfoundry-incubator/garden-windows-bosh-release/releases/tag/v0.7.0).
* **[Bug Fix]** Bumps hwc-offline-buildpack-release to v2.3.8. Resolves a stack overflow bug in .Net applications.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>garden-windows</td><td>0.7.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.8</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.2'></a> 1.11.2

* Bumps the stemcell to v1200.0. [Release Notes](https://docs.pivotal.io/pivotalcf/1-11/pcf-release-notes/windows-stemcell-rn.html#1200.0)
* Sets the default max-in-flight value for the Diego Cells to 4%. Operators can
  still use the Ops Manager API to configure this setting to fit their needs. The
  max-in-flight percentage for the Diego Cell job in the Elastic Runtime has been
  set to 10% since 1.9.0, but we’ve seen especially in larger environments that
  having the percentage this high can cause some problems:
  * Many simultaneous VM creates/deletes and BOSH blob updates can place
  significant stress on the underlying infrastructure, especially on vSphere
  which has a greater probability of being underprovisioned.
  * The cells that are draining are no longer available for allocation,
  resulting in a 10% decrease in total memory and disk capacity during the
  deployment. This can cause deployments to no longer have sufficient total
  capacity to run all the work, or to have insufficient headroom to place
  larger workloads successfully.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>garden-windows</td><td>0.4.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.4</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.1'></a> 1.11.1

* Bumps the diego-release to v1.18.1.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1079.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.18.1</td>
  </tr><tr>
    <td>garden-windows</td><td>0.4.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.4</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.11.0'></a> 1.11.0

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1079.0</td>
  </tr><tr>
    <td>consul</td><td>167</td>
  </tr><tr>
    <td>diego</td><td>1.16.1</td>
  </tr><tr>
    <td>garden-windows</td><td>0.4.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.4</td>
  </tr><tr>
    <td>loggregator</td><td>89</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

Operators can install PCF Runtime for Windows on vSphere, Amazon Web Services
(AWS), Google Cloud Platform (GCP), or Azure. See the
[Deploying PCF Runtime for Windows](../windows/deploy-windows.html) topic for more information.

## <a id='upgrade'></a>How to Upgrade

The PCF Runtime for Windows v1.11 tile is available with the release of Pivotal
Cloud Foundry (PCF) version v1.11. To use the PCF Runtime for Windows tile, you
need Ops Manager v1.11.0 or later and Elastic Runtime v1.11.0 or later.

For information about upgrading to PCF Runtime for Windows v1.11.0, see the
[Upgrading Windows Cells](../windows/upgrade-windows.html) topic in the PCF Runtime for Windows documentation.

## <a id='adv-features'></a> About Advanced Features

The **Advanced Features** pane of the PCF Runtime for Windows tile includes new
functionality that may have certain constraints. Although these features are
fully supported, Pivotal recommends caution when using them in production.

## <a id='new-features'></a> New Features in PCF Runtime for Windows v1.11

### <a id='sha2'></a>SHA2 Checksum

Operators can verify the data integrity of the PCF Runtime for Windows tile
using the SHA2 checksum of the file, rather than the MD5 checksum used in
previous releases.

### <a id='iso-seg'></a> Isolation Segment

Operators can follow these steps to deploy their PCF Runtime for Windows app workloads to an isolation segment:

1. Enter a **Segment Name** in the **Application
Containers** pane of the Windows Runtime tile.
2. Complete the procedure in the [Create an Isolation Segment](../adminguide/isolation-segments.html#create-an-is) section of the <em>Managing Isolation Segments</em> topic to create the isolation segment in the Cloud Controller Database (CCDB).

### <a id='local-route-emitter'></a> Cell-local Route Emitters

The Route Emitter is now co-located on the Diego Cell for which it emits app 
routes. This improves the availability of the Route Emitter and reduces the 
impact of downtime from this component. 

In previous versions of the PCF Runtime for Windows tile, Diego Cells relied on
the Route Emitter component on the Diego Brain in the Elastic Runtime tile to
notify the Router of application routes. If the Route Emitter became unavailable, routes could be lost from the Router route table. 
