---
title: PCF Runtime for Windows v1.9 Release Notes
owner: Release Engineering
---

<%= partial '../pcf/core/deprecation-notice' %>

## <a id='releases'></a> Releases

### <a id='1.9.8'></a> 1.9.8

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>garden-windows</td><td>0.1.0</td>
  </tr><tr>
    <td>loggregator</td><td>65\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.7'></a> 1.9.7

* **[Bug Fix]** Patches consul-release to include fix for DNS lock management
  for Windows deployments.

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.0</td>
  </tr><tr>
    <td>consul</td><td>165\*</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>garden-windows</td><td>0.1.0</td>
  </tr><tr>
    <td>loggregator</td><td>65\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.6'></a> 1.9.6

* Removes the "Diego Config" section as these features do not have any
  impact on Diego functionality.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.0</td>
  </tr><tr>
    <td>consul</td><td>165</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>garden-windows</td><td>0.1.0</td>
  </tr><tr>
    <td>loggregator</td><td>65\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.5'></a> 1.9.5

* Bumps the stemcell to v1200.0. [Release Notes](https://docs.pivotal.io/pivotalcf/1-9/pcf-release-notes/windows-stemcell-rn.html#1200.0)
* Sets the default max-in-flight value for the Diego Cells to 4%. Operators can
  still use the Ops Manager API to configure this setting to fit their needs. The
  max-in-flight percentage for the Diego Cell job in the Elastic Runtime has been
  set to 10% since 1.9.0, but we’ve seen especially in larger environments that
  having the percentage this high can cause some problems:
  * Many simultaneous VM creates/deletes and BOSH blob updates can place
  significant stress on the underlying infrastructure, especially on vSphere
  which has a greater probability of being under-provisioned.
  * The cells that are draining are no longer available for allocation,
  resulting in a 10% decrease in total memory and disk capacity during the
  deployment. This can cause deployments to no longer have sufficient total
  capacity to run all the work, or to have insufficient headroom to place
  larger workloads successfully.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.0</td>
  </tr><tr>
    <td>consul</td><td>165</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>garden-windows</td><td>0.1.0</td>
  </tr><tr>
    <td>loggregator</td><td>65\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.4'></a> 1.9.4

* Disables legacy rep endpoints.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1079.0</td>
  </tr><tr>
    <td>consul</td><td>165</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>garden-windows</td><td>0.1.0</td>
  </tr><tr>
    <td>loggregator</td><td>65\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.3'></a> 1.9.3

* Bumps stemcell to v1079.0.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1079.0</td>
  </tr><tr>
    <td>consul</td><td>165</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>garden-windows</td><td>0.1.0</td>
  </tr><tr>
    <td>loggregator</td><td>65\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.2'></a> 1.9.2

* Brings Diego and Loggregator releases inline with Elastic Runtime versions.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1056.0</td>
  </tr><tr>
    <td>consul</td><td>165</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>garden-windows</td><td>0.1.0</td>
  </tr><tr>
    <td>loggregator</td><td>65\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.1'></a> 1.9.1

* Enables public IaaS support on PCF 1.9. For Azure deployments, install with Ops Manager 1.9.9 or later.
* Bumps the stemcell to version 1056.0.

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1056.0</td>
  </tr><tr>
    <td>consul</td><td>137</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>garden-windows</td><td>0.1.0</td>
  </tr><tr>
    <td>loggregator</td><td>65\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='1.9.0'></a> 1.9.0

  <table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1015.0</td>
  </tr><tr>
    <td>consul</td><td>137</td>
  </tr><tr>
    <td>diego</td><td>0.1491.0\*</td>
  </tr><tr>
    <td>garden-windows</td><td>0.1.0</td>
  </tr><tr>
    <td>loggregator</td><td>65\*</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

## <a id='upgrade'></a>How to Upgrade

The PCF Runtime for Windows tile is a new Pivotal product offering as of Pivotal Cloud Foundry (PCF) 1.9. To use the PCF Runtime for Windows tile, you need Ops Manager 1.9.2 or later and Elastic Runtime 1.9.0 or later.

There are two possible "upgrade" scenarios:
<ul>
<li>You have a deployment of Windows VMs from using the Diego Windows MSI installer.</li>
<li>You have a deployment of Windows VMs from using the BOSH Release for Windows (Beta).</li>
</ul>

For customers who are using Diego Windows, follow the procedures in the [Migrating from Diego Windows](https://docs.pivotal.io/pivotalcf/1-9/windows/msi-crossgrade.html) topic to migrate your applications to Windows cells deployed by the tile.

For customers who are using the BOSH Release for Windows, there is no migration path. To upgrade, you must destroy your deployment of Windows cells (VMs) with the BOSH CLI and then perform a fresh install of the PCF Runtime for Windows tile.

## <a id='new-features'></a> New Features in PCF Runtime for Windows

* Enables pushing full .NET applications onto Pivotal Cloud Foundry with `cf push` and specifying the `windows2012R2` stack
* Based on Cloud Foundry open-source, Garden-Windows BOSH release
* Fully automated deployment of Windows Diego cells through Pivotal Operations Manager
* Web console for managing machine resources
* Use BOSH Add-Ons to deploy additions to Windows VMs
* Designed to run with stemcells containing Windows Server 2012R2

## <a id='knownissues'></a>Known Issues

This section lists new and existing known issues.

###<a id='newissues'></a>New Issues

* On Windows cells, localhost communication is insecure between the Diego Rep and the Consul agent.
* Due to a bug in libgit2, you [cannot push apps using a git repo URL when specifying -b](https://www.pivotaltracker.com/story/show/138380867).

## <a id='notes'></a>Notes

* Restarting the OS will result in BOSH resurrecting the VM.
* `cf ssh` is not supported.
* You can RDP into the Diego Cells to inspect workloads.
