---
title: PAS for Windows v2.5 Release Notes
owner: Garden Windows
---

This topic contains release notes for Pivotal Application Service (PAS) for Windows.

## <a id='upgrade'></a> How to Upgrade

<p class="note"><strong>Note</strong>:
The PAS for Windows v2.5 tile is not yet generally available.
To use PAS for Windows on Pivotal Cloud Foundry (PCF) v2.5, you must install PAS for Windows v2.4.4 or later.
For more information, see the
<a href="https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/windows-rn.html">PAS for Windows v2.4 Release Notes</a>.</p>
