---
title: Stemcells for Windows Release Notes
owner: Greenhouse
---

This topic includes release notes for Windows stemcells used with Pivotal Cloud Foundry (PCF) Runtime for Windows versions 1.10.x.

## <a id="1056.0"></a>1056.0

**Release Date**: April 5, 2017

* Add IaaSs, link to VSphere process (i.e. if you're looking for a VSphere stemcell, follow this procedure), indicate what version of Windows this stemcell uses.
