---
title: PCF Runtime for Windows v1.12 Release Notes
owner: Release Engineering
---

Operators can install PCF Runtime for Windows on vSphere, Amazon Web Services
(AWS), Google Cloud Platform (GCP), or Azure. See the
[Deploying PCF Runtime for Windows](../windows/deploy-windows.html) topic for more information.


## <a id='releases'></a> Releases


## <a id='upgrade'></a>How to Upgrade

The PCF Runtime for Windows v1.12 tile is available with the release of Pivotal
Cloud Foundry (PCF) version v1.12. To use the PCF Runtime for Windows tile, you
need Ops Manager v1.12.0 or later and Elastic Runtime v1.12.0 or later.

For information about upgrading to PCF Runtime for Windows v1.12.0, see the
[Upgrading Windows Cells](../windows/upgrade-windows.html) topic in the PCF Runtime for Windows documentation.

<p class="note"><b>Note</b>: If your existing PCF v1.11.x installation includes both <b>PCF Runtime for Windows</b> and <b>MySQL for PCF v1.x</b>, you must upgrade to MySQL for PCF v1.10.3 or later 
 before you upgrade to PCF Elastic Runtime v1.12. For instructions on how to upgrade MySQL for 
 PCF, see the <a href="http://docs.pivotal.io/p-mysql/1-10/index.html">MySQL for PCF</a> documentation.</p>

## <a id='new-features'></a> New Features in PCF Runtime for Windows v1.12


## <a id='adv-features'></a> About Advanced Features

The **Advanced Features** pane of the PCF Runtime for Windows tile includes new
functionality that may have certain constraints. Although these features are
fully supported, Pivotal recommends caution when using them in production.
