---
title: PAS for Windows v2.2 Release Notes
owner: Garden Windows
---

This topic contains release notes for Pivotal Application Service (PAS) for Windows.

Pivotal Cloud Foundry (PCF) also has a runtime for .NET apps based on Windows Server 2012R2. See the PAS for Windows 2012R2 release notes [here](./windows-2012r2-rn.html).

<p class='note'><strong>Note:</strong> PAS for Windows is not currently available on Pivotal Network.
</p>


## <a id='releases'></a> Releases

### <a id='2.2.0-alpha.1'></a> 2.2.0-alpha.1

* Bump stemcell to version `1709.4`
* Bump consul to version `192`
* Bump diego to version `2.4.0`
* Bump garden-runc to version `1.12.1`
* Bump hwc-offline-buildpack to version `2.3.15`
* Bump loggregator to version `102.1`
* Bump winc to version `1.0.1`
* Bump windows-utilities to version `0.7.0`

* Bump bump bump

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1709.4</td>
  </tr><tr>
    <td>consul</td><td>192</td>
  </tr><tr>
    <td>diego</td><td>2.4.0</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.12.1</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.15</td>
  </tr><tr>
    <td>loggregator</td><td>102.1</td>
  </tr><tr>
    <td>winc</td><td>1.0.1</td>
  </tr>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.2.0-alpha.1'></a> 2.2.0-alpha.1

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1709.3</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>diego</td><td>1.35.0</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-runc</td><td>1.11.1</td>
  </tr><tr>
    <td>garden-windows</td><td>0.13.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.13</td>
  </tr><tr>
    <td>loggregator</td><td>101.5\*</td>
  </tr><tr>
    <td>winc</td><td>1.0.0</td>
  </tr>
  </tr><tr>
    <td>windows-utilities</td><td>0.6.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>


## <a id='upgrade'></a>How to Upgrade

The Pivotal Application Service (PAS) for Windows v2.2 tile is available with the release of Pivotal Cloud Foundry (PCF) version v2.2. To use the PAS for Windows tile, you need Ops Manager v2.2 or later and PAS v2.2 or later.

[//]: # (For how to migrate your apps with no downtime from PAS for Windows 2012R2 cells to PAS for Windows cells, see [Migrating Apps to PAS for Windows](https://docs.pivotal.io/pivotalcf/windows/migrating.html). )


## <a id='new-features'></a> New Features in PAS for Windows v2.2

### <a id="timestamp"></a> New Format for Diego Timestamps

You can now use RFC 3339 format for Diego timestamps in logs.

For new v2.2 installations, RFC 3339 format is enabled by default.
The Unix epoch format is set by default for upgrades to v2.2.

You can enable the new timestamp format for Diego logs in the PAS tile.

For more information, see the **Configure Application Containers** section of any IaaS-specific PAS configuration topic, such as [Manually Configuring PAS for AWS](https://docs.pivotal.io/pivotalcf/2-2/customizing/pcf-aws-manual-er-config.html#application-containers-config).

<p class="note breaking"><strong>Breaking Change:</strong> Before enabling RFC 3339 format for Diego logs, ensure that your log aggregation system
anticipates the timestamp format change. If you experience issues, you can disable RFC 3339 format in the PAS tile.</p>


## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PAS for Windows 2012R2 tile includes new functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in production.


## <a id='known-issues'></a> Known Issues

No known issues at this time.