---
title: PAS for Windows v2.1 Release Notes
owner: Garden Windows
---

<%= partial '/shared/deprecation-notice' %>

This topic contains release notes for Pivotal Application Service (PAS) for Windows v2.1.

## <a id='upgrade'></a> How to Upgrade

The PAS for Windows v2.1 tile is available with the release of Pivotal Cloud Foundry (PCF) v2.1. To
use the PAS for Windows v2.1 tile, you must install Ops Manager v2.1 or later and PAS v2.1 or later.

## <a id='releases'></a> Releases

### <a id='2.1.12'></a> 2.1.12

* Bump windows2016 stemcell to version `1709.15`
* Bump hwc-offline-buildpack to version `3.1.1`
* Bump windows2016fs-release to version `1.12.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2016 stemcell</td><td>1709.15</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>1.35.12</td></tr>
    <tr><td>event-log</td><td>0.3.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.1</td></tr>
    <tr><td>loggregator</td><td>101.16</td></tr>
    <tr><td>winc</td><td>1.7.0</td></tr>
    <tr><td>windows-utilities</td><td>0.7.0</td></tr>
    <tr><td>windows2016fs-release</td><td>1.12.0</td></tr>
  </tbody>
</table>

### <a id='2.1.11'></a> 2.1.11

* **[Bug Fix]** Fix issue that could cause application deployments to fail on some infrastructure due to incorrect MTU detection
* Bump windows2016 stemcell to version `1709.14`
* Bump diego to version `1.35.12`
* Bump hwc-offline-buildpack to version `3.0.3`
* Bump winc to version `1.7.0`
* Bump windows2016fs-release to version `1.9.0`. This includes Microsoft VS 2017 C++ Redistributable DLLs version 15.

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2016 stemcell</td><td>1709.14</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>1.35.12</td></tr>
    <tr><td>event-log</td><td>0.3.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.0.3</td></tr>
    <tr><td>loggregator</td><td>101.16</td></tr>
    <tr><td>winc</td><td>1.7.0</td></tr>
    <tr><td>windows-utilities</td><td>0.7.0</td></tr>
    <tr><td>windows2016fs-release</td><td>1.9.0</td></tr>
  </tbody>
</table>

### <a id='2.1.10'></a> 2.1.10

* **[Breaking Change]** The `install-hwc-buildpack` errand is now called `install-hwc-buildpack-lts`
  * If you have scripts which programmatically change the errand state, you'll have to update the scripts to use the new name

* **[Security Fix]** Bump garden-runc to prevent malicious users from causing a denial of service for other apps
* **[Bug Fix]** Fix issue in loggregator where AZ names with special characters could cause metron agent job to fail 

* Bump diego to version `1.35.10`
* Bump garden-runc to version `1.16.1`
* Bump hwc-offline-buildpack to version `3.0.2`
* Bump loggregator to version `101.16`
* Bump stemcell windows2016 to version `1709.13`
* Bump windows2016fs to version `1.8.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>stemcell</td><td>1709.13</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>1.35.10</td></tr>
    <tr><td>event_log</td><td>0.3.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.0.2</td></tr>
    <tr><td>loggregator</td><td>101.16</td></tr>
    <tr><td>winc</td><td>1.3.0</td></tr>
    <tr><td>windows2016fs</td><td>1.8.0</td></tr>
    <tr><td>windows-utilities</td><td>0.7.0</td></tr>
  </tbody>
</table>

### <a id='2.1.9'></a> 2.1.9

* Add known issue:
  * Default DNS configuration on AWS does not work

* Bump diego to version `1.35.8`
* Bump event-log to version `0.3.0`
* Bump hwc-offline-buildpack to version `2.3.19`
* Bump loggregator to version `101.13`
* Bump stemcell windows2016 to version `1709.11`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>stemcell</td><td>1709.11</td></tr>
    <tr><td>consul</td><td>193</td></tr>
    <tr><td>diego</td><td>1.35.8</td></tr>
    <tr><td>event_log</td><td>0.3.0</td></tr>
    <tr><td>garden-runc</td><td>1.13.3</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>2.3.19</td></tr>
    <tr><td>loggregator</td><td>101.13</td></tr>
    <tr><td>winc</td><td>1.3.0</td></tr>
    <tr><td>windows2016fs</td><td>1.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.7.0</td></tr>
  </tbody>
</table>

### <a id='2.1.7'></a> 2.1.7

* **[Security Fix]** Bump diego to version `1.35.5`
  * [CVE-2018-1265](https://www.cloudfoundry.org/blog/cve-2018-1265/)
* **[Bug Fix]** Bump garden to version `1.13.3`
  * Fix issue with deleted files in application containers created from docker images
* Bump consul to version `193` to use go `1.9`
* Bump hwc-offline-buildpack to version `2.3.17`
* Bump stemcell to version `1709.8`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>stemcell</td><td>1709.8</td></tr>
    <tr><td>consul</td><td>193</td></tr>
    <tr><td>diego</td><td>1.35.5</td></tr>
    <tr><td>event_log</td><td>0.3.0</td></tr>
    <tr><td>garden-runc</td><td>1.13.3</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>2.3.17</td></tr>
    <tr><td>loggregator</td><td>101.11*</td></tr>
    <tr><td>winc</td><td>1.3.0</td></tr>
    <tr><td>windows2016fs</td><td>1.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.7.0</td></tr>
  </tbody>
  <tfoot>
    <tr><td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td></tr>
  </tfoot>
</table>

### <a id='2.1.6'></a> 2.1.6

* **[Security Fix]** Bump loggregator to version `101.11`
  * Add strict application ID validation to TrafficController (CVE-2018-1268 CVE-2018-1269)
  * Stricter appID validation in TrafficController
  * Change RLP health endpoint to default to random port.
  * Metron health endpoint only listens on localhost
  * Bump go to 1.9.4
  * Fix doppler emitting multiple ingress metrics.
* **[Security Fix]** Bump winc to version `1.3.0`
  * [CVE-2018-8115](https://portal.msrc.microsoft.com/en-us/security-guidance/advisory/CVE-2018-8115)

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Stemcell</td><td>1709.5</td></tr>
    <tr><td>consul</td><td>191</td></tr>
    <tr><td>diego</td><td>1.35.4</td></tr>
    <tr><td>event_log</td><td>0.3.0</td></tr>
    <tr><td>garden-runc</td><td>1.11.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>2.3.13</td></tr>
    <tr><td>loggregator</td><td>101.11*</td></tr>
    <tr><td>winc</td><td>1.3.0</td></tr>
    <tr><td>windows2016fs</td><td>1.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.7.0</td></tr>
  </tbody>
  <tfoot>
    <tr><td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td></tr>
  </tfoot>
</table>

### <a id='2.1.5'></a> 2.1.5

* **[Security Fix]** Bump stemcell to v1709.5. See [release notes](https://docs.pivotal.io/pivotalcf/2-1/stemcells/windows-stemcell-v1709x.html#1709.5).
* **[Feature Improvement]** Bump event-log-release to v0.3.0:
  * Remove dependency on powershell functions defined in the stemcell.
  * Change release name to use dasherized convention.
* Set default and minimum root disk size to 100 GB for compatibility with new [recommendations for Windows stemcells](https://docs.pivotal.io/pivotalcf/2-1/windows/installing.html#resources).

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Stemcell</td><td>1709.5</td></tr>
    <tr><td>consul</td><td>191</td></tr>
    <tr><td>diego</td><td>1.35.4</td></tr>
    <tr><td>event_log</td><td>0.3.0</td></tr>
    <tr><td>garden-runc</td><td>1.11.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>2.3.13</td></tr>
    <tr><td>loggregator</td><td>101.5*</td></tr>
    <tr><td>winc</td><td>1.0.0</td></tr>
    <tr><td>windows2016fs</td><td>1.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.7.0</td></tr>
  </tbody>
  <tfoot>
    <tr><td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td></tr>
  </tfoot>
</table>

### <a id='2.1.4'></a> 2.1.4

* **[Feature Improvement]** Bumps diego-release to v1.35.4 to add cell and instance identifiers in the container lifecycle logs.

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Stemcell</td><td>1709.3</td></tr>
    <tr><td>consul</td><td>191</td></tr>
    <tr><td>diego</td><td>1.35.4</td></tr>
    <tr><td>event_log</td><td>0.2</td></tr>
    <tr><td>garden-runc</td><td>1.11.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>2.3.13</td></tr>
    <tr><td>loggregator</td><td>101.5*</td></tr>
    <tr><td>winc</td><td>1.0.0</td></tr>
    <tr><td>windows2016fs</td><td>1.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.7.0</td></tr>
  </tbody>
  <tfoot>
  <tr><td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td></tr>
  </tfoot>
</table>

### <a id='2.1.3'></a> 2.1.3
* No release for this version. Please refer to v2.1.4.

### <a id='2.1.2'></a> 2.1.2

* **[Bug Fix]** Bumps windows-utilities-release to v0.7.0 to fix issue where drain scripts fails if OpenSSH is not installed.
* **[Bug Fix]** In the **VM Options** tab, **Manage Administrator Password**, the **Use the Windows default password** option has been changed to **Use random password** to correctly reflect the actual setting. 
* **[Bug Fix]** Winc-network MTU is now configured in the Pivotal Application Services Tile, instead of being hardcoded.
* **[Bug Fix]** Updates winc-network IP to 172.30.0.1, to allow containers to resolve DNS records.

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Stemcell</td><td>1709.3</td></tr>
    <tr><td>consul</td><td>191</td></tr>
    <tr><td>diego</td><td>1.35.0</td></tr>
    <tr><td>event_log</td><td>0.2</td></tr>
    <tr><td>garden-runc</td><td>1.11.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>2.3.13</td></tr>
    <tr><td>loggregator</td><td>101.5*</td></tr>
    <tr><td>winc</td><td>1.0.0</td></tr>
    <tr><td>windows2016fs</td><td>1.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.7.0</td></tr>
  </tbody>
  <tfoot>
    <tr><td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td></tr>
  </tfoot>
</table>

### <a id='2.1.1'></a> 2.1.1

* **[Bug fix]** Update text on VM Options > Manage Administrator Password.
* **[Maintenance]** Bump windows2016fs to 1.1.0:
  * Includes Microsoft Update KB4088776.
  * Includes v0.0.51 of cloudfoundry/windows2016fs.

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Stemcell</td><td>1709.3</td></tr>
    <tr><td>consul</td><td>191</td></tr>
    <tr><td>diego</td><td>1.35.0</td></tr>
    <tr><td>event_log</td><td>0.2</td></tr>
    <tr><td>garden-runc</td><td>1.11.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>2.3.13</td></tr>
    <tr><td>loggregator</td><td>101.5*</td></tr>
    <tr><td>winc</td><td>1.0.0</td></tr>
    <tr><td>windows2016fs</td><td>1.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.6.0</td></tr>
  </tbody>
  <tfoot>
    <tr><td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td></tr>
  </tfoot>
</table>
  
### <a id='2.1.0'></a> 2.1.0

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Stemcell</td><td>1709.3</td></tr>
    <tr><td>consul</td><td>191</td></tr>
    <tr><td>diego</td><td>1.35.0</td></tr>
    <tr><td>event_log</td><td>0.2</td></tr>
    <tr><td>garden-runc</td><td>1.11.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>2.3.13</td></tr>
    <tr><td>loggregator</td><td>101.5*</td></tr>
    <tr><td>winc</td><td>1.0.0</td></tr>
    <tr><td>windows2016fs</td><td>1.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.6.0</td></tr>
  </tbody>
  <tfoot>
    <tr><td colspan="2"><em>* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td></tr>
  </tfoot>
</table>

## <a id='new-features'></a> New Features in PAS for Windows v2.1

### <a id="cf-ssh"></a> CF SSH

Developers can use the SSH command with the Cloud Foundry CLI to enter a secure shell session in the app container. SSH is used for remote system access and administration and improves security.

### <a id="autoscale"></a> Full Autoscale Support

CPU load based auto-scaling is now functional. Load balancing enables dynamically-allocated resources to match performance requirements. 

### <a id="context-path-routing"></a> Context Path Routing

Users and ASP.net apps can now use the [Cloud Foundry](https://www.cloudfoundry.org/blog/context-path-routing/) feature for microservices.

### <a id="url-rewrite"></a> Support for URL Rewrite Module

The HWC buildpack included in this version supports the IIS rewrite module through web.config. This enables developers to more easily configure and manage web addresses.

### <a id="cpu-limits"></a> CPU Shared Limits for Containers

CPU workloads are balanced across the hosts, which helps with provisioning and performance.

### <a id="instance-limits"></a> App Instance Limits

Previously in Windows 2012R2, Diego Cells had a maximum of 40 app instances per cell. This is not the case in PAS for Windows, which gives developers more control and range in their containers.

### <a id='healthchecks'></a> Improved System Performance for App Health Checks

This release changes how PAS for Windows runs app health checks to improve system performance in resource-constrained environments, such as on-premise installations of PAS. This change does not impact the developer workflow for [configuring app health checks](https://docs.pivotal.io/pivotalcf/2-1/devguide/deploy-apps/healthchecks.html).

Previously, health checks during app startup increased system load because they ran as a Garden process every two seconds. In addition, apps that started successfully could fail if slow system performance caused the app health check to time out. In some severe cases, such app failures caused additional resource consumption and a chain-reaction of app failures.

PAS for Windows v2.1 resolves these issues through a new implementation that does not invoke a new process on every health check. The health check now runs as a long-lived process in the app container. Developers may see these processes if they access an app container using the `cf ssh` command and list the processes.

## <a id='known-issues'></a> Known Issues

### <a id="aws-dns-configuration"></a> Default DNS configuration on AWS does not work

On AWS, the default DNS configuration of `169.254.169.253` does not work. DNS should be configured to use another address as documented in [Create Networks Page](https://docs.pivotal.io/pivotalcf/2-2/customizing/aws-om-config-terraform.html#om-networks) in _Configuring BOSH Director on AWS Using Terraform_.
