---
title: PAS for Windows v2.8 Release Notes
owner: Garden Windows
---

This topic contains release notes for Pivotal Application Service (PAS) for Windows.


## <a id='upgrade'></a> How to Upgrade

The PAS for Windows v2.8 tile is available with the release of <%= vars.platform_name %> v2.8. To use the PAS for Windows v2.8 tile, you must install Ops Manager v2.8 or later and PAS v2.8 or later.


## <a id='releases'></a> Releases
 
<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>
 
### <a id='2.8.1-rc.1'></a> 2.8.1-rc.1

**Release Date:** 12/26/2019

* **[Security Fix]** [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596) - Fix panic upon an attempt to process network traffic containing an invalid DSA public key for garden-runc release
* **[Security Fix]** [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596) - Fix panic upon an attempt to process network traffic containing an invalid DSA public key for loggregator releases
* **[Feature]**  Expose all platform metrics on Prometheus endpoints
* Bump windows2019 stemcell to version `2019.14`
* Bump cf-windows-smoke-tests to version `40.0.124`
* Bump garden-runc to version `1.19.9`
* Bump loggregator-agent to version `5.2.1`
* Add new release metrics-discovery at version `2.0.2`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.14</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.124</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.1</td></tr>
    <tr><td>loggregator</td><td>106.2.0</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.3.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.8.0'></a> 2.8.0

* See [New Features in PAS for Windows v2.8](#new-features)
* See [Breaking Changes](./breaking-changes.html)

**Release Date:** 12/09/2019

* Bump windowsfs-release to version `2.3.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.13</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.123</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>5.1.0</td></tr>
    <tr><td>loggregator</td><td>106.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.3.0</td></tr>
  </tbody>
</table>


## <a id='new-features'></a> New Features in PAS for Windows v2.8

PAS for Windows v2.8 includes the following major features:

### <a id='windows2016'></a> Deprecation of the windows2016 Stack

You should migrate any apps that run on the `windows2016` stack to the `windows` stack.

You can migrate your apps from `windows2016` to `windows` using Stack Auditor, a Cloud Foundry CLI plugin. For more information, see [Using the Stack Auditor Plugin](https://docs.pivotal.io/platform/2-8/adminguide/stack-auditor.html).

### <a id='mtls-unproxed-port-mappings'></a> Mutual TLS Disables Unproxied Port Mappings

When you enable mutual TLS, PAS for Windows disables unproxied port mappings. This ensures that unsecure ports are closed and also provides feature parity with PAS.

To enable mutual TLS for PAS for Windows, go to the **Advanced Features** pane in the PASW tile. Under **TLS connections from Router to apps (beta)**, select **Router and apps use mutual TLS to verify each other's identity**. 

For more information, see [TLS Connections from Router to Apps (Beta)](https://docs.pivotal.io/platform/application-service-windows/2-8/installing.html#config-advanced-features) in the _Installing and Configuring PASW_ topic.

### <a id='nfs-broker-credhub'></a> NFS Broker Uses CredHub as Backing Store

NFS Broker uses CredHub as its backing store, rather than an internal PAS database. Because BOSH Backup and Restore (BBR) no longer backs up NFS Broker, the `nfsbroker-bbr` job is removed.

For more information about CredHub, see [CredHub](https://docs.pivotal.io/platform/2-8/credhub/index.html).

### <a id='mtls-loggregator'></a> Mutual TLS Added to Loggregator Endpoints and Components

Mutual TLS is added to the Loggregator, Loggregator Agent, and Log Cache endpoints. It is also added to the Leadership Election job. This provides additional security between these endpoints and metric scrapers.

For more information about Loggregator components, see [Loggregator Architecture](https://docs.pivotal.io/platform/application-service/2-8/loggregator/architecture.html). For more information about the Leadership Election job and metric scraping, see the [System Metrics](https://github.com/cloudfoundry/system-metrics-release) repository on GitHub.

### <a id='disable-v2-firehose'></a> V2 Firehose Can Be Disabled

You can disable the Loggregator V2 Firehose by deselecting the **Enable V2 Firehose** checkbox in the **System Logging** pane of the PAS tile. This shuts down VMs used for the V2 Firehose, such as Dopplers and Reverse Log Proxies. After you disable the V2 Firehose, you can delete these VMs from your deployment to save resources.

<div class='note warning'><strong>Warning:</strong> If you disable the V2 Firehose, you must select the <strong>Enable Log Cache syslog ingestion</strong> checkbox, or logs and metrics do not appear in Log Cache. Pivotal recommends that you do not disable the Firehose if you are dependent on any of the following: 
<ul>
    <li>Service tile metrics</li>
    <li>Pivotal Healthwatch or Pivotal App Metrics</li>
    <li>Partner log or metric integrations</li>
</ul>
</div>

<p class="note warning"><strong>Warning:</strong> If you disable the V1 or V2 Firehose, you must disable the Smoke Test Errand or the deploy fails. For more information, see <a href="./runtime-rn.html#disable-firehose-smoke-test-errand">Disable the Smoke Test Errand If You Disable the Firehose</a>.</p>

For more information, see the [Configure System Logging](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#sys-logging) section of the _Configuring PAS_ topic.

### <a id='aggregate-drain'></a> Aggregate Drain for Metrics and App Logs

When an aggregate log and metric drain is configured in PAS, PAS for Windows sends logs and metrics to the Loggregator Log Cache syslog server through the aggregate log and metric drain instead of the Loggregator Firehose. This allows you to disable the Firehose and delete related VMs, such as Dopplers and Reverse Log Proxies. For more information about disabling the Firehose, see [V2 Firehose Can Be Disabled](#disable-v2-firehose).

To enable an aggregate log and metric drain for your foundation, add a comma-separated list of syslog endpoints to the **Aggregate log and metric drain destinations** field in the **System Logging** pane of the PAS tile. For more information, see the [Configure System Logging](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#sys-logging) section of the _Configuring PAS_ topic.

### <a id='web-config-transform-buildpack'></a> Web Config Transform Extension Buildpack

You can use the Web Config Transform Extension Buildpack to externalize .NET Framework configurations in the `web.config` file to external sources such as GitHub, CredHub, or environment variables. The buildpack uses token replacement to ensure that app configurations are not included in the `web.config` build artifact. 

For more information about using the buildpack, see the [Web Config Transform Buildpack](https://github.com/cloudfoundry-community/web-config-transform-buildpack) repository on GitHub.


## <a id='adv-features'></a> New Advanced Features

The **Advanced Features** pane of the PAS for Windows v2.8 tile includes new functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in production.


## <a id='known-issues'></a> Known Issues

There are currently no known issues in PAS for Windows v2.8.
