---
title: PAS for Windows v2.5 Release Notes
owner: Garden Windows
---

This topic contains release notes for Pivotal Application Service (PAS) for Windows.

## <a id='upgrade'></a> How to Upgrade

The PAS for Windows v2.5 tile is available with the release of Pivotal Cloud Foundry (PCF) version
v2.5. To use the PAS for Windows v2.5 tile, you must install Ops Manager v2.5 or later and PAS v2.5
or later.

## <a id='releases'></a> Releases

### <a id='2.5.6'></a> 2.5.6

**Release Date:** 08/15/2019

* **[Feature Improvement]** Windows Smoke Tests Errand uses windows stack instead of windows2016.
* Bump cf-windows-smoke-tests to version `40.0.116`
* Bump garden-runc to version `1.19.5`
* Bump windowsfs-release to version `1.8.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.8</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.116</td></tr>
    <tr><td>diego</td><td>2.27.6</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.5</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>winc</td><td>1.14.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.8.0</td></tr>
  </tbody>
</table>

### <a id='2.5.5'></a> 2.5.5

**Release Date:** 07/30/2019

* Bump windows2019 stemcell to version `2019.8`
* Bump cf-windows-smoke-tests to version `40.0.113`
* Bump hwc-offline-buildpack to version `3.1.10`
* Bump windowsfs-release to version `1.7.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.8</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.113</td></tr>
    <tr><td>diego</td><td>2.27.6</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>winc</td><td>1.14.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.7.0</td></tr>
  </tbody>
</table>

### <a id='2.5.4'></a> 2.5.4

* **[Feature Improvement]** Apps get 10 seconds of graceful shutdown time in PASW
* Bump windows2019 stemcell to version `2019.7`
* Bump cf-windows-smoke-tests to version `40.0.109`
* Bump winc to version `1.14.0`
* Bump windowsfs-release to version `1.6.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.7</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.109</td></tr>
    <tr><td>diego</td><td>2.27.6</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.9</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>winc</td><td>1.14.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.6.0</td></tr>
  </tbody>
</table>

### <a id='2.5.3'></a> 2.5.3

* **[Feature]** App developers can gracefully shutdown their .NET applications in PASW.
* Bump windows2019 stemcell to version `2019.5`
* Bump hwc-offline-buildpack to version `3.1.9`
* Bump winc to version `1.13.0`
* Bump windowsfs-release to version `1.5.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.5</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>diego</td><td>2.27.6</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.9</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>winc</td><td>1.13.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.5.0</td></tr>
  </tbody>
</table>

### <a id='2.5.2'></a> 2.5.2

* No release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.3</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>diego</td><td>2.27.6</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.8</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>winc</td><td>1.9.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.3.0</td></tr>
  </tbody>
</table>

### <a id='2.5.1'></a> 2.5.1

* **[Feature Improvement]** Allow vcap WriteKey access to ODBC registry entry.
* Bump windows2019 stemcell to version `2019.3`
* Bump diego to version `2.27.6`
* Bump garden-runc to version `1.19.0`
* Bump hwc-offline-buildpack to version `3.1.8`
* Bump windowsfs-release to version `1.3.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.3</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>diego</td><td>2.27.6</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.8</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>winc</td><td>1.9.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.3.0</td></tr>
  </tbody>
</table>

### <a id='2.5.0'></a> 2.5.0

* **[Feature Improvement]** Enable SMB `net use`-style mounting with FQDN paths on Windows 2016 cells
* **[Security Fix]** Rotate Diego intermediate CA before current certificate expires

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.3</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.40</td></tr>
    <tr><td>diego</td><td>2.27.0</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.18.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.6</td></tr>
    <tr><td>loggregator-agent</td><td>2.3</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>winc</td><td>1.9.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.0.0</td></tr>
  </tbody>
</table>

## <a id='new-features'></a> New Features in PAS for Windows v2.5

PAS for Windows v2.5 includes the following major features:

### <a id="windows-2019"></a> Support for Windows Server 2019

PAS for Windows v2.5 requires Windows Server 2019. This means developers can deploy
.NET and Windows applications on Windows Server 2019 in PAS. Moving to Windows Server
2019 adds stability and enhances a number of container APIs used in the Garden Windows implementation (`winc`) of PAS for Windows.

Windows Server 2019 stemcells for supported public cloud providers are available for
download on [Pivotal Network](https://network.pivotal.io). For vSphere stemcells, see
the documentation on producing them from a Windows image provided by your Microsoft
VLSC account. For more information, see [Creating a vSphere Windows Stemcell](https://docs.pivotal.io/pivotalcf/windows/create-vsphere-stemcell.html).

<p class="note"><strong>Note:</strong> PAS for Windows v2.5 supports Windows Server 2019-based stemcells only.</p>

### <a id='trusted-certificates'></a> .NET Apps Trust CA Certificates Configured in BOSH Director

Applications deployed on PAS for Windows now automatically trust your certificate
authority (CA) certificates configured in the **Security** pane of the BOSH Director
tile. To enable .NET apps to trust these CA certificates, PAS for Windows includes
them in the system trust store of Windows containers.

For instructions on configuring trusted certificates in the BOSH Director tile,
see [Setting Trusted Certificates](https://docs.pivotal.io/pivotalcf/customizing/trusted-certificates.html).

### <a id='vcr'></a>Pre-installed Visual C++ Redistributables
Microsoft Visual C++ Redistributable for Visual Studio 2010, 2015, 2017 and 2019 have been pre-installed in PAS for Windows 2.7 and backported to PAS for Windows 2.2.

### <a id='windows2016'></a> Deprecation of the windows2016 Stack

In PAS for Windows v2.5, the `windows2016` stack is deprecated in favor of the `windows` stack.
PAS for Windows v2.8 removes the `windows2016` stack completely.

You can migrate your apps from `windows2016` to `windows` using Stack Auditor, a Cloud Foundry CLI plugin.
For more information, see [Using the Stack Auditor Plugin](https://docs.pivotal.io/pivotalcf/2-5/adminguide/stack-auditor.html).

## <a id='known-issues'></a> Known Issues

This section includes known issues with PAS for Windows v2.5.

### <a id='deployment-name'></a> Removed Option to Override Deployment Name to CF

PAS v2.4 introduced the use of `cf-GUID` as the value for the `deployment` in metrics. For more information, see [Uniquely Identify Metrics by Tile](https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/runtime-rn.html#metrics-prefix).

PAS v2.4 also included the option to override this value back to `cf`, which was used in previous versions. However, PAS v2.5 removes this override option.

To upgrade successfully, the **Use "cf" as deployment name in emitted metrics instead of unique name** option in the **Advanced Features** pane of the PAS tile must be deselected.

If you have scripts that rely on metrics with `cf` as the value for `deployment`, your scripts may break when upgrading to PAS v2.5.

Additionally, if you have PCF Healthwatch installed and you changed the value of **Use “cf” as deployment name in emitted metrics instead of unique name** in PAS, you must run the **Push Monitoring Components** errand for Healthwatch to detect the change.

### <a id='cf-push-aws'></a>AWS Deployments Using CloudFront-Enabled Blobstores May Result in cf push Failing Due to Untrusted Root Certificates

**Symptom**

`cf push` to Windows cells on Amazon Web Services (AWS) fails with the following error:

```
ERR: Downloading failed
```

**Explanation**

Windows Server 2019 stemcells (version v2019.2) on AWS are missing the root CA certificate that is used to sign Amazon's CloudFront CDN certificate. The missing
root CA certificate is the VeriSign Class 3 Public Primary Certification Authority. 

If you deploy PAS with a blobstore that is fronted by CloudFront, there is an x509
certificate error when downloading the app droplet from the blobstore. As a result,
`cf push` fails.

**Workaround**

Add the missing VeriSign root CA certificate to **Trusted Certificates** in Ops
Manager to ensure that the certificate presented by CloudFront is trusted on Windows
cells, allowing the droplet to be successfully downloaded from the blobstore.
