---
title: Pivotal Application Services (PAS) for Windows v2.0 Release Notes
owner: Release Engineering
---

<!----
Operators can install Pivotal Application Services (PAS) for Windows on vSphere, Amazon Web Services
(AWS), Google Cloud Platform (GCP), or Azure. See the
[Installing PAS for Windows](../windows/installing.html) topic for more information.---->


## <a id='releases'></a> Releases


## <a id='upgrade'></a>How to Upgrade

The PAS for Windows v2.0 tile is available with the release of Pivotal
Cloud Foundry (PCF) version v2.0. To use the PAS for Windows tile, you
need Ops Manager v2.0.0 or later and PAS v2.0.0 or later.

<!----
For information about upgrading to PAS for Windows v2.0.0, see the
[Upgrading Windows Cells](../windows/upgrading.html) topic in the PAS for Windows documentation.---->

## <a id='new-features'></a> New Features in PAS for Windows v2.0


## <a id='adv-features'></a> About Advanced Features

The **Advanced Features** pane of the PAS for Windows tile includes new
functionality that may have certain constraints. Although these features are
fully supported, Pivotal recommends caution when using them in production.
