---
title: PAS for Windows 2012R2 v2.2 Release Notes
owner: Release Engineering
---

Operators can install Pivotal Application Service (PAS) for Windows 2012R2 on vSphere, Amazon Web Services
(AWS), Google Cloud Platform (GCP), or Azure. See the
[Installing PAS for Windows](https://docs.pivotal.io/pivotalcf/2-1/windows2012r2/deploy-windows.html) topic for more information.

## <a id='releases'></a> Releases

### <a id='2.2.0-alpha.1'></a> 2.2.0-alpha.1

* Bump stemcell to version `1200.16`
* Bump consul version `192`
* Bump diego version `2.4.0`
* Bump hwc-offline-buildpack version `2.3.15`
* Bump loggregator version `102.1`
* Bump windows-utilities version `0.7.0`

* Bump bump bump

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.16</td>
  </tr><tr>
    <td>consul</td><td>192</td>
  </tr><tr>
    <td>diego</td><td>2.4.0</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.13.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.15</td>
  </tr><tr>
    <td>loggregator</td><td>102.1</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.7.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

### <a id='2.2.0-alpha.1'></a> 2.2.0-alpha.1

  <table border="1" class="nice">
  <thead> <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Stemcell</td><td>1200.15</td>
  </tr><tr>
    <td>consul</td><td>191</td>
  </tr><tr>
    <td>diego</td><td>1.35.0</td>
  </tr><tr>
    <td>event_log</td><td>0.2</td>
  </tr><tr>
    <td>garden-windows</td><td>0.13.0</td>
  </tr><tr>
    <td>hwc-offline-buildpack</td><td>2.3.13</td>
  </tr><tr>
    <td>loggregator</td><td>101.5\*</td>
  </tr><tr>
    <td>windows-utilities</td><td>0.6.0</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"><em>\* Components marked with an asterisk have been patched to resolve security vulnerabilities or fix component behavior.</em></td>
  </tr>
  </tfoot>
  </table>

## <a id='upgrade'></a>How to Upgrade

The Pivotal Application Service (PAS) for Windows 2012R2 v2.2 tile is available with the release of Pivotal Cloud Foundry (PCF) version v2.2. To use the PAS for Windows 2012R2 tile, you
need Ops Manager v2.2 or later and PAS v2.2 or later.

For information about upgrading to PAS for Windows 2012R2 v2.2.0, see the
[Upgrading Windows Cells](https://docs.pivotal.io/pivotalcf/2-1/windows2012R2/upgrading.html) topic in the PAS for Windows documentation.

## <a id='new-features'></a> New Features in PAS for Windows 2012R2 v2.2

No new features at this time.
