---
title: PAS for Windows v2.3 Release Notes
owner: Garden Windows
---

This topic contains release notes for Pivotal Application Service (PAS) for Windows v2.3.

## <a id='upgrade'></a> How to Upgrade

The PAS for Windows v2.3 tile is available with the release of Pivotal Cloud Foundry (PCF) v2.3. To
use the PAS for Windows v2.3 tile, you must install Ops Manager v2.3 or later and PAS v2.3 or later.

## <a id='releases'></a> Releases

<p class='note breaking'><strong>Breaking Change</strong>: You must upgrade to PAS v2.3.5 or later before installing PAS for Windows v2.3.5 or later.</p>

### <a id='2.3.10'></a>2.3.10

* **[Feature Improvement]** Allow vcap WriteKey access to ODBC registry entry.
* Bump windows1803 stemcell to version `1803.9`
* Bump hwc-offline-buildpack to version `3.1.8`
* Bump windowsfs-release to version `2.5.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows1803 stemcell</td><td>1803.9</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.20.8</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.8</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.8</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>winc</td><td>1.8.0</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.5.0</td></tr>
  </tbody>
</table>

### <a id='2.3.9'></a>2.3.9

* Bump diego to version `2.20.8`
* Bump windowsfs-release to version `2.3.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows1803 stemcell</td><td>1803.8</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.20.8</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.8</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.6</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>winc</td><td>1.8.0</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.3.0</td></tr>
  </tbody>
</table>

### <a id='2.3.8'></a>2.3.8

* **[Bug Fix]** Fix diego rep to always clean up temporary download cache directory
* Bump windows1803 stemcell to version `1803.8`
* Bump diego to version `2.20.7`
* Bump hwc-offline-buildpack to version `3.1.6`
* Bump windowsfs-release to version `2.2.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows1803 stemcell</td><td>1803.8</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.20.7</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.8</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.6</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>winc</td><td>1.8.0</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.2.0</td></tr>
  </tbody>
</table>

### <a id='2.3.7'></a>2.3.7

* **[Feature]** Operators can provide trusted certs in OpsMgr for .NET apps to use automatically
* Bump hwc-offline-buildpack to version `3.1.5`
* Bump loggregator to version `103.4`
* Bump winc to version `1.8.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows1803 stemcell</td><td>1803.6</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.20.1</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.8</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.5</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>winc</td><td>1.8.0</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.0.0</td></tr>
  </tbody>
</table>

### <a id='2.3.6'></a>2.3.6

* Bump windows1803 stemcell to version `1803.6`
* Bump diego to version `2.20.1`
* Bump garden-runc to version `1.16.8`
* Bump hwc-offline-buildpack to version `3.1.4`
* Bump windowsfs-release to version `2.0.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows1803 stemcell</td><td>1803.6</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.20.1</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.8</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.4</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>winc</td><td>1.7.0</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.0.0</td></tr>
  </tbody>
</table>

### <a id='2.3.5'></a>2.3.5

<p class='note breaking'><strong>Breaking Change:</strong> You must upgrade to PAS v2.3.5 or later before upgrading to Windows v2.3.5 or later. See <a href="#apps-do-not-stage">Apps Do Not Stage After Upgrading to v2.3.5 or Later</a>.</p>

* **[Feature Improvement]** Enable SMB `net use`-style mounting for IP-address based UNC paths on Windows 2016 cells
* **[Bug Fix]** Bump Diego to v2.20.0 to resolve DNS timeouts from Golang components
* Bump windows1803 stemcell to version `1803.4`
* Bump diego to version `2.20.0`
* Bump hwc-offline-buildpack to version `3.1.2`
* Bump windowsfs-release to version `1.8.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows1803 stemcell</td><td>1803.4</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.20.0</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.2</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>winc</td><td>1.7.0</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.8.0</td></tr>
  </tbody>
</table>

### <a id='2.3.4'></a>2.3.4

* **[Security Fix]** Rotate diego intermediate CA before current certificate expires
* **[Feature Improvement]** Smoke tests for PAS for Windows are run as a post-deploy errand
* Bump hwc-offline-buildpack to version `3.1.1`
* Bump windowsfs-release to version `1.6.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows1803 stemcell</td><td>1803.3</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.18.0</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.1</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>winc</td><td>1.7.0</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.6.0</td></tr>
  </tbody>
</table>

### <a id='2.3.3'></a>2.3.3

* **[Feature Improvement]** Operators can specify the Diego executor properties for memory usage and disk capacity in order to enable finer grained resource usage strategies
* **[Bug Fix]** Fix issue that could cause application deployments to fail on some infrastructure due to incorrect MTU detection
* Bump windows1803 stemcell to version `1803.3`
* Bump winc to version `1.7.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows1803 stemcell</td><td>1803.3</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.18.0</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.0.3</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>winc</td><td>1.7.0</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.5.0</td></tr>
  </tbody>
</table>

### <a id='2.3.2'></a>2.3.2

* **[Bug Fix]** Fix issue in loggregator where availability zone (AZ) names with special characters could cause metron agent job to fail
* Bump hwc-offline-buildpack to version `3.0.3`
* Bump loggregator to version `103.3`
* Bump windowsfs-release to version `1.5.0`. This includes Microsoft VS 2017 C++ Redistributable DLLs version 15.

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows1803 stemcell</td><td>1803.2</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.18.0</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.0.3</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>winc</td><td>1.5.0</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.5.0</td></tr>
  </tbody>
</table>

### <a id='2.3.1'></a>2.3.1

* Bump diego to version `2.18.0`
* Bump hwc-offline-buildpack to version `3.0.2`
* Bump windows1803fs to version `1.4.0`
* Bump stemcell windows1803 to version `1803.2`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>stemcell</td><td>1803.2</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.18.0</td></tr>
    <tr><td>event_log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.0.2</td></tr>
    <tr><td>loggregator</td><td>103.0</td></tr>
    <tr><td>winc</td><td>1.5.0</td></tr>
    <tr><td>windows1803fs</td><td>1.4.0</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
  </tbody>
</table>

### <a id='2.3.0'></a>2.3.0

* See [New Features](#new-features) below.

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>stemcell</td><td>1803.1</td></tr>
    <tr><td>consul</td><td>195</td></tr>
    <tr><td>diego</td><td>2.16.0</td></tr>
    <tr><td>event_log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.16.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.0.0</td></tr>
    <tr><td>loggregator</td><td>103.0</td></tr>
    <tr><td>winc</td><td>1.5.0</td></tr>
    <tr><td>windows-utilities</td><td>0.10.0</td></tr>
  </tbody>
</table>

## <a id='new-features'></a> New Features in PAS for Windows v2.3

PAS for Windows v2.3 includes the following major features:

### <a id='multi-buildpacks'></a>Support for Multiple Buildpacks

PAS for Windows v2.3 introduces support for pushing a .NET app with multiple buildpacks.

For more information, see [Pushing an Application with Multiple Buildpacks](https://docs.pivotal.io/pivotalcf/2-3/buildpacks/use-multiple-buildpacks.html).

### <a id='ephemeral-disk'></a>Ephemeral Disk Configuration Options

Operators can now use ephemeral disk configuration options for Windows Server cells.

### <a id='compression'></a>HTTP Compression in the HWC Buildpack

PAS for Windows v2.3 enables the HTTP compression module from Internet Information Services (IIS),
which enables gzip compression for static assets and dynamic content in the HWC buildpack.

### <a id='windows-v1803'></a>Windows Server version 1803

PAS for Windows v2.3 includes the latest version of Windows Server (version 1803).
The container image for Windows Server version 1803 is 30% smaller than the previous release (version 1709), reducing the memory footprint required for .NET apps.
The release also includes optimizations for containers, improved compatibility, and enhanced debugging tools.

For more information, see [What's New in Windows Server version 1803](https://docs.microsoft.com/en-us/windows-server/get-started/whats-new-in-windows-server-1803) in the Microsoft documentation.

## <a id='known-issues'></a> Known Issues

This section includes known issues with PAS for Windows v2.3.

### <a id='apps-do-not-stage'></a> Apps Do Not Stage After Upgrading to v2.3.5 or Later

If you upgrade to PAS for Windows v2.3.5 or later before upgrading to PAS v2.3.5 or later, apps do not stage when pushed to the `windows2016` stack. For more information, see the following article in the Pivotal Knowledge Base: [Diego releases out of sync while upgrading PASW to version 2.3.5 or above](https://community.pivotal.io/s/article/diego-releases-out-of-sync-while-upgrading-pasw).

### <a id="clamav"></a> Update Runtime Config of ClamAV

If you use the ClamAV Add-on for PCF, you must update your runtime config before upgrading to PAS
for Windows v2.3.

If you upgrade to PAS for Windows v2.3 without first updating the runtime config, then your Windows
VMs will not be protected by ClamAV.

For more information about updating your runtime config, see [Updating ClamAV Add-on for PCF to Run with PAS for Windows v2.3](https://docs.pivotal.io/addon-antivirus/1-4/updating-for-pasw.html) in
the ClamAV documentation.

### <a id="aws-dns-configuration"></a> Default DNS Configuration on AWS Does Not Work

On AWS, the default DNS configuration of `169.254.169.253` does not work.  

You must configure DNS to use another address, such as `10.0.0.2`.
For more information, see [Create Networks Page](https://docs.pivotal.io/pivotalcf/2-3/customizing/aws-om-config-terraform.html#om-networks) in
_Configuring BOSH Director on AWS Using Terraform_.

### <a id="azure-compilations-timeout"></a> Intermittent Deploy Failure on Azure with Compilation Timeout

When deploying on Azure, the BOSH compilation of some releases may time out and cause the deploy to fail.

To resolve this issue, perform the following steps:

1. Navigate to the Ops Manager Installation Dashboard and log in.
2. Click the **BOSH Director for Azure** tile.
3. Click **Resource Config**.
4. Select a larger **VM Type** for the **BOSH Director** job, such as **DS5_v2**.
1. Return to the Ops Manager Installation Dashboard and click **Review Pending Changes** and then **Apply Changes** to redeploy.

### <a id='no-mutual-verification'></a> No Mutual TLS App Identity Verification

PAS for Windows v2.3 does not support mutual TLS app identity verification. Mutual TLS app identity verification does not work for Windows containers.

