---
title: PAS for Windows v2.6 Release Notes
owner: Garden Windows
---

This topic contains release notes for Pivotal Application Service (PAS) for Windows.

## <a id='upgrade'></a> How to Upgrade

The PAS for Windows v2.6 tile is available with the release of Pivotal Cloud Foundry (PCF) version
v2.6. To use the PAS for Windows v2.6 tile, you must install Ops Manager v2.6 or later and PAS v2.6
or later.

## <a id='releases'></a> Releases

### <a id='2.6.0-rc.1'></a> 2.6.0-rc.1

* **[Security Fix]** Introduce and trust new Diego "root CA" in advance of existing CA expiration
* No release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.3</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.51</td></tr>
    <tr><td>diego</td><td>2.30.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.8</td></tr>
    <tr><td>loggregator-agent</td><td>3.11</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>winc</td><td>1.10.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.3.0</td></tr>
  </tbody>
</table>

### <a id='2.6.0-beta.1'></a> 2.6.0-beta.1

* **[Feature]** Add optional System Metric Agent to allow monitoring a more complete set of metrics for all VMs in the deployment
* **[Feature Improvement]** Allow vcap WriteKey access to ODBC registry entry.
* Bump windows2019 stemcell to version `2019.3`
* Bump hwc-offline-buildpack to version `3.1.8`
* Bump loggregator-agent to version `3.11`
* Bump loggregator to version `103.4`
* Bump windowsfs-release to version `1.3.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.3</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.51</td></tr>
    <tr><td>diego</td><td>2.30.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.8</td></tr>
    <tr><td>loggregator-agent</td><td>3.11</td></tr>
    <tr><td>loggregator</td><td>103.4</td></tr>
    <tr><td>winc</td><td>1.10.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.3.0</td></tr>
  </tbody>
</table>

### <a id='2.6.0-alpha.3'></a> 2.6.0-alpha.3

* Bump cf-windows-smoke-tests to version `40.0.51`
* Bump diego to version `2.30.0`
* Bump event-log to version `0.8.0`
* Bump loggregator-agent to version `3.10`
* Bump winc to version `1.10.0`
* Bump windowsfs-release to version `1.1.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.2</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.51</td></tr>
    <tr><td>diego</td><td>2.30.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.6</td></tr>
    <tr><td>loggregator-agent</td><td>3.10</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>winc</td><td>1.10.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.1.0</td></tr>
  </tbody>
</table>

### <a id='2.6.0-alpha.2'></a> 2.6.0-alpha.2

* **[Breaking Change]** Option to override deployment name to CF is removed
* **[Feature]** Operators can provide trusted certs in OpsMgr for .NET apps to use automatically
* Update stemcell OS to windows2019 at version `2019.2`
* Bump cf-windows-smoke-tests to version `40.0.48`
* Bump diego to version `2.29.0`
* Bump garden-runc to version `1.19.1`
* Bump hwc-offline-buildpack to version `3.1.6`
* Bump loggregator-agent to version `3.9`
* Bump winc to version `1.9.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.2</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.48</td></tr>
    <tr><td>diego</td><td>2.29.0</td></tr>
    <tr><td>event-log</td><td>0.7.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.6</td></tr>
    <tr><td>loggregator-agent</td><td>3.9</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>winc</td><td>1.9.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.0.0</td></tr>
  </tbody>
</table>


## <a id='new-features'></a> New Features in PAS for Windows v2.6

PAS for Windows v2.6 includes the following major features:

### <a id='windows2016'></a> Deprecation of the windows2016 Stack

PAS for Windows v2.6 removes support for `windows2016` in favor of the `windows` stack.
You must migrate any apps that run on the `windows2016` stack to the `windows` stack.

You can migrate your apps from `windows2016` to `windows` using Stack Auditor, a Cloud Foundry CLI plugin.
For more information, see [Using the Stack Auditor Plugin](https://docs.pivotal.io/pivotalcf/adminguide/stack-auditor.html).

### <a id='wcf'></a> Improved Windows Communication Foundation (WCF) Support

Developers can deploy .NET applications with improved WCF support. 

In PAS for Windows v2.6, .NET applications now support the following:

+ TCP activation
+ Microsoft Message Queuing (MSMQ)
+ Named pipe activation
+ HTTP activation

## <a id='adv-features'></a> New Advanced Features

The **Advanced Features** pane of the PAS for Windows tile includes new functionality that may have
certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in
production.

PAS for Windows v2.6 includes the following advanced features:

## <a id='known-issues'></a> Known Issues

This section includes known issues with PAS for Windows v2.6.
