---
title: PAS for Windows v2.7 Release Notes
owner: Garden Windows
---

This topic contains release notes for Pivotal Application Service (PAS) for Windows.

## <a id='upgrade'></a> How to Upgrade

The PAS for Windows v2.7 tile is available with the release of Pivotal Cloud Foundry (PCF) version
v2.7. To use the PAS for Windows v2.7 tile, you must install Ops Manager v2.7 or later and PAS v2.7
or later.

## <a id='releases'></a> Releases

### <a id='2.7.0-alpha.3'></a> 2.7.0-alpha.3

* **[Feature Improvement]** Apps get 10 seconds of graceful shutdown time in PASW
* Bump windows2019 stemcell to version `2019.7`
* Bump cf-windows-smoke-tests to version `40.0.109`
* Bump diego to version `2.34.0`
* Bump garden-runc to version `1.19.3`
* Bump windowsfs-release to version `1.6.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.7</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.109</td></tr>
    <tr><td>diego</td><td>2.34.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.3</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.9</td></tr>
    <tr><td>loggregator-agent</td><td>3.17</td></tr>
    <tr><td>loggregator</td><td>105.5</td></tr>
    <tr><td>winc</td><td>1.14.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.6.0</td></tr>
  </tbody>
</table>

### <a id='2.7.0-alpha.2'></a> 2.7.0-alpha.2


* **[Feature]** Improve scalability of application syslog drain system with new syslog agent architecture
* Bump windows2019 stemcell to version `2019.5`
* Bump cf-windows-smoke-tests to version `40.0.108`
* Bump garden-runc to version `1.19.2`
* Bump hwc-offline-buildpack to version `3.1.9`
* Bump loggregator-agent to version `3.17`
* Bump loggregator to version `105.5`
* Bump winc to version `1.14.0`
* Bump windowsfs-release to version `1.5.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.5</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.108</td></tr>
    <tr><td>diego</td><td>2.31.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.2</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.9</td></tr>
    <tr><td>loggregator-agent</td><td>3.17</td></tr>
    <tr><td>loggregator</td><td>105.5</td></tr>
    <tr><td>winc</td><td>1.14.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.5.0</td></tr>
  </tbody>
</table>

### <a id='2.7.0-alpha.1'></a> 2.7.0-alpha.1

* **[Security Fix]** Introduce and trust new Diego "root CA" in advance of existing CA expiration
* Bump diego to version `2.31.0`
* Bump loggregator-agent to version `3.13`
* Bump winc to version `1.13.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.3</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.51</td></tr>
    <tr><td>diego</td><td>2.31.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.1</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.8</td></tr>
    <tr><td>loggregator-agent</td><td>3.13</td></tr>
    <tr><td>loggregator</td><td>103.3</td></tr>
    <tr><td>winc</td><td>1.13.0</td></tr>
    <tr><td>windows-utilities</td><td>0.11.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.3.0</td></tr>
  </tbody>
</table>

## <a id='new-features'></a> New Features in PAS for Windows v2.7

PAS for Windows v2.7 includes the following major features:

### <a id='windows2016'></a> Removal of the windows2016 Stack

In PAS for Windows v2.7, the `windows2016` stack is removed. Before you upgrade to PAS for Windows v2.7, you must migrate any apps that run on the `windows2016` stack to the `windows` stack.

You can migrate your apps from `windows2016` to `windows` using Stack Auditor, a Cloud Foundry CLI plugin.
For more information, see [Using the Stack Auditor Plugin](https://docs.pivotal.io/pivotalcf/adminguide/stack-auditor.html).


## <a id='adv-features'></a> New Advanced Features

The **Advanced Features** pane of the PAS for Windows tile includes new functionality that may have
certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in
production.

PAS for Windows v2.7 includes the following advanced features:

## <a id='known-issues'></a> Known Issues

This section includes known issues with PAS for Windows v2.7.
