---
title: Stemcells for Windows Release Notes
owner: Windows
---

This topic includes release notes for Windows stemcells used with PAS for Windows 2012R2.

To download a stemcell, see the [Stemcells for PCF (Windows)](https://network.pivotal.io/products/stemcells-windows-server) on Pivotal Network. 

## <a id="1200.7"></a>1200.7

**Release Date**: October 23, 2017

* BOSH Agent timeout fix for high ESX workload scenarios.
* Intended for 2017 Oct Windows Updates roll-up (KB4041685).

 